<script type="text/ng-template" id="icsw.package.install.overview">
    <uib-tabset ng-show="struct.tree_loaded">
        <uib-alert type="warning" ng-show="struct.repo_info_str">{{ struct.repo_info_str }}</uib-alert>
        <uib-tab heading="Package repositories">
            <div>
                <h3>
                    Repositories ({{ struct.repo_tree.list.length }} / {{  struct.repo_tree.filtered_list.length }} entries, {{ struct.repo_tree.service_list.length }} services),
                    <icsw-tools-button type="reload" size="xs" value="rescan repos" ng-click="rescan_repos($event)"></icsw-tools-button>
                    <icsw-tools-button type="reload" size="xs" value="Sync to clients" ng-click="sync_repos()"></icsw-tools-button>
                    <icsw-tools-button type="delete" size="xs" value="Clear caches" ng-click="clear_caches()"></icsw-tools-button>
                </h3>
                <table st-table="repos_displayed" st-safe-src="struct.repo_tree.filtered_list" class="table table-condensed table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr icsw-package-install-repository-head></tr>
                        <tr>
                            <td colspan="5" icsw-tools-pagination st-items-by-page="10" possible-items-by-page="10,20,50,100">
                            </td>
                            <td colspan="99">
                                <div class="form-group">
                                    only enabled
                                    <icsw-tools-button type="show" is-show="struct.repo_tree.filters.show_enabled_repos" size="sm" ng-click="toggle_filter($event, 'show_enabled_repos')"></icsw-tools-button>
                                    only published
                                    <icsw-tools-button type="show" is-show="struct.repo_tree.filters.show_published_repos" size="sm" ng-click="toggle_filter($event, 'show_published_repos')"></icsw-tools-button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr icsw-package-install-repository-row ng-repeat="obj in repos_displayed"></tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab heading="Package search">
            <icsw-package-install-search-overview icsw-repositories="struct.repo_tree"></icsw-package-install-search-overview>
        </uib-tab>
        <uib-tab heading="Install">
            <!-- we cannot use icsw-sel-man because of the isolated scope -->
            <icsw-package-install-device></icsw-package-install-device>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.package.install.package.repo.head">
    <tr>
        <th>Name</th>
        <th>Alias</th>
        <th>Enabled</th>
        <th>AutoRefresh</th>
        <th>GPGcheck</th>
        <th>publish</th>
        <th>URL</th>
        <th>Pri</th>
        <th>Service</th>
        <th colspan="2" class="text-center">action</th>
    </tr>
</script>

<script type="text/ng-template" id="icsw.package.install.package.repo.row">
    <td>{{ obj.name }}</td>
    <td>{{ obj.alias }}</td>
    <td>{{ obj.enabled | yesno1 }}</td>
    <td>{{ obj.autorefresh | yesno1 }}</td>
    <td>{{ obj.gpg_check | yesno1 }}</td>
    <td>{{ obj.publish_to_nodes | yesno1 }}</td>
    <td>{{ obj.url }}</td>
    <td>{{ obj.priority }}</td>
    <td>{{ fn.get_service_name(this, obj) }}</td>
    <td>
        <icsw-tools-button type="toggle" size="xs" value="toggle publish" ng-click="toggle_repo_publish($event, obj)"></icsw-tools-button>
    </td>
    <td>
        <icsw-tools-button type="delete" size="xs" ng-click="delete_repo($event, obj)"></icsw-tools-button>
    </td>
</script>

<script type="text/ng-template" id="icsw.package.install.search.overview">
    <div ng-show="struct.tree_valid">
        <div class="form-inline">
            New search :
            <input class="form-control input-ms" placeholder="search string ..." type="text" ng-model="struct.search_string" />
            <icsw-tools-button type="create" ng-show="struct.search_string" ng-click="create_search()"></icsw-tools-button>
            <span ng-show="struct.reload_timeout" class="text-warning">Pending searches...</span>
        </div>
        <h3>Searches ({{ struct.search_tree.list.length }} entries)</h3>
        <table st-table="searches_displayed" st-safe-src="struct.search_tree.list" class="table table-condensed table-hover table-striped" style="width:auto;">
            <thead icsw-package-install-search-head></thead>
            <tbody>
                <tr>
                    <td colspan="99" icsw-tools-pagination  st-items-by-page="10" possible-items-by-page="10,20,50,100"></td>
                </tr>
                <tr icsw-package-install-search-row ng-repeat="obj in searches_displayed"></tr>
            </tbody>
        </table>
        <div ng-show="struct.active_search">
            <h3>
                Search results for '{{ struct.active_search.last_search_string }}' ({{ struct.search_results.length }} entries)
            </h3>
            <table st-table="search_results_displayed" st-safe-src="struct.search_results" class="table table-condensed table-hover table-striped" style="width:auto;">
                <thead icsw-package-install-search-result-head></thead>
                <tbody>
                    <tr>
                        <td colspan="99" icsw-tools-pagination  st-items-by-page="10" possible-items-by-page="10,20,50,100"></td>
                    </tr>
                    <tr icsw-package-install-search-result-row ng-repeat="obj in search_results_displayed"></tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.package.install.package.search.head">
    <tr>
        <th>Search string</th>
        <th>User</th>
        <th>repeat</th>
        <th>State</th>
        <th>results</th>
        <th>search</th>
        <th>last search</th>
        <th colspan="4" class="text-center">action</th>
    </tr>
</script>

<script type="text/ng-template" id="icsw.package.install.package.search.row">
    <td>{{ obj.search_string }}</td>
    <td>{{ struct.user_group_tree.user_lut[obj.user].$$long_name }}</td>
    <td>{{ obj.num_searches }}</td>
    <td>{{ obj.current_state }}</td>
    <td>{{ obj.results }}</td>
    <td>{{ obj.last_search_string }}</td>
    <td class="text-right">{{ obj.last_search | datetime1 }}</td>
    <td>
        <icsw-tools-button type="display" size="xs" value="show results" ng-show="obj.current_state=='done'"" ng-click="show_search_result($event, obj)"></icsw-tools-button>
    </td>
    <td>
        <icsw-tools-button type="reload" size="xs" ng-show="obj.current_state == 'done'" ng-click="retry($event, obj)"></icsw-tools-button>
    </td>
    <td>
        <icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button>
    </td>
    <td>
        <icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
    </td>
</script>

<script type="text/ng-template" id="icsw.package.search.form">
    <form class="form-horizontal" name="form_data">
        <h2>Package search</h2>
        <fieldset>
            <legend>Base data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Search string<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="128" name="search_string" ng-model="edit_obj.search_string" required="True" type="text"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.package.install.search.result.head">
    <tr>
        <th>name</th>
        <th>version</th>
        <th>kind</th>
        <th>repo</th>
        <th>arch</th>
        <th colspan="3" class="text-center">action</th>
    </tr>
</script>

<script type="text/ng-template" id="icsw.package.install.search.result.row">
    <td>{{ obj.name }}</td>
    <td>{{ obj.version }}</td>
    <td>{{ obj.kind }}</td>
    <td>{{ struct.repo_tree.lut[obj.package_repo].name }}</td>
    <td>{{ obj.arch }}</td>
    <td>
        <icsw-tools-button type="create" size="xs" ng-show="!obj.copied && !obj.target_repo" ng-click="take_search_result($event, obj, true)" value="take exact"></icsw-tools-button>
    </td>
    <td>
        <div ng-show="!obj.copied">
            <icsw-tools-button type="create" size="xs" ng-click="take_search_result($event, obj, false)" value="take latest"></icsw-tools-button>
            <div class="btn-group">
                <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                    from repo <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="obj.target_repo=null">ignore</a>
                    </li>
                    <li ng-repeat="repo in struct.repo_tree.list">
                        <a ng-click="obj.target_repo=repo.idx">
                            <span ng-if="repo.idx == obj.package_repo">
                                <label class="label label-primary">{{ repo.name }}</label>
                            </span>
                            <span ng-if="repo.idx != obj.package_repo">{{ repo.name }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <span ng-show="obj.target_repo">{{ struct.repo_tree.lut[obj.target_repo].name }}</span>
            <span ng-show="!obj.target_repo">ignore</span>
        </div>
    </td>
    <td>
        <span ng-show="obj.target_repo">{{ struct.repo_tree.lut[obj.target_repo].name }}</span>
        <span ng-show="!obj.target_repo">ignore</span>
    </td>
    <td>
        <icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
    </td>
</script>

<script type="text/ng-template" id="icsw.package.install.device.overview">
    <uib-alert type="warning" ng-show="struct.device_info_str">{{ struct.device_info_str }}</uib-alert>
    <uib-alert type="warning" ng-show="struct.package_info_str">{{ struct.package_info_str }}</uib-alert>
    <h3>
        <div class="form-inline">
            ({{ struct.devices.length }} devices, {{ struct.package_tree.filtered_list.length }} of {{ struct.package_tree.list.length }} packages),
            <span ng-if="struct.pdc_struct">
                {{ struct.pdc_struct.selected_pdcs.length }}
                <span ng-show="struct.pdc_struct.unset_selected_pdcs.length">
                    ({{ struct.pdc_struct.unset_selected_pdcs.length }} unset)
                </span>
                selected,
            </span>
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn-xs btn btn-primary" uib-dropdown-toggle>
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-show="struct.pdc_struct.selected_pdcs.length">
                        <a ng-click="modify($event)" title="Modify selected PDCs">Modify</a></li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a ng-click="send_sync($event)" title="send a resync to all registered clients">Sync</a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="send_clear_caches($event)" title="clear caches on all registered clients">Clear caches</a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem" ng-show="struct.pdc_struct.$$any_unset_selected">
                        <a ng-click="attach($event, null)" title="attach all unattached packages">Attach packages</a>
                    </li>
                    <li role="menuitem" ng-show="struct.pdc_struct.$$any_set_selected">
                        <a ng-click="remove($event, null)" title="remove all selected PDCs">Remove packages</a>
                    </li>
                </ul>
            </div>
            show
            <div class="btn-group btn-group-sm">
                <input type="button" ng-class="is_mode == 'a' && 'btn btn-success' || 'btn btn-default'" ng-click="is_mode = 'a'" value="action"/>
                <input type="button" ng-class="is_mode == 'v' && 'btn btn-success' || 'btn btn-default'" ng-click="is_mode = 'v'" value="version"/>
            </div>
        </div>
    </h3>
    <table
        class="table table-condensed table-hover table-striped"
        style="width:auto;"
        ng-if="struct.pdc_struct"
        st-table="pl_displayed"
        st-safe-src="struct.package_tree.filtered_list"
    >
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Device</th>
                <th ng-repeat="dev in struct.devices" class="text-center">{{ dev.name }}</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>contact (Vers)</th>
                <td ng-repeat="dev in struct.devices">{{ dev.$$package_client_latest_contact }} ({{ dev.$$package_client_version }})</td>
            </tr>
            <tr>
                <th>Package</th>
                <th>action</th>
                <th ng-repeat="dev in struct.devices" class="text-center">
                    <div class="btn-group btn-group-xs">
                        <input type="button" class="btn btn-primary" ng-click="change_device_sel($event, dev, 1)" value="S"/>
                        <input type="button" class="btn btn-success" ng-click="change_device_sel($event, dev, 0)" value="T"/>
                        <input type="button" class="btn btn-warning" ng-click="change_device_sel($event, dev, -1)" value="C"/>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pack in pl_displayed">
                <td>
                    {{ pack.name }}
                    <span ng-show="pack.always_latest == false">{{ pack.version }}</span>
                    <span ng-show="pack.always_latest == true">&lt;latest&gt;</span>
                    <span ng-show="pack.target_repo">
                        from {{ struct.repo_tree.lut[pack.target_repo].name }}
                    </span>
                </td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <input type="button" class="btn btn-primary" ng-click="change_package_sel($event, pack, 1)" value="S"/>
                        <input type="button" class="btn btn-success" ng-click="change_package_sel($event, pack, 0)" value="T"/>
                        <input type="button" class="btn btn-warning" ng-click="change_package_sel($event, pack, -1)" value="C"/>
                    </div>
                </td>
                <td
                    ng-repeat="device in struct.devices"
                    icsw-pdc-state="struct.pdc_struct.lut[device.idx][pack.idx]"
                    mode="is_mode"
                    ng-class="struct.pdc_struct.lut[device.idx][pack.idx].$$td_class"
                ></td>
            </tr>
        </tbody>
    </table>
    <h3>
        Packages ({{ struct.package_tree.filtered_list.length }} of {{ struct.package_tree.list.length }} entries)
    </h3>
    <table st-table="packages_displayed" st-safe-src="struct.package_tree.list" class="table table-condensed table-hover table-striped" style="width:auto;">
        <thead>
            <tr>
                <th>name</th>
                <th>version</th>
                <th>Repository</th>
                <th>forced</th>
                <th>kind</th>
                <th>arch</th>
                <th colspan="3" class="text-center">action</th>
            </tr>
            <tr>
                <td colspan="99">
                    <input st-search="" class="form-control" placeholder="filter ..." ng-model="struct.package_filter" type="text"/>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="99" icsw-tools-pagination st-items-by-page="10" possible-items-by-page="10,20,50,100"></td>
            </tr>
            <tr icsw-package-install-package-row ng-repeat="obj in packages_displayed"></tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.package.install.package.list.row">
    <td>{{ obj.name }}</td>
    <td ng-show="obj.always_latest == false">{{ obj.version }}</td>
    <td ng-show="obj.always_latest == true">&lt;latest&gt;</td>
    <td>{{ struct.repo_tree.lut[obj.package_repo].name }}</td>
    <td>{{ struct.repo_tree.lut[obj.target_repo].name }}</td>
    <td>{{ obj.kind }}</td>
    <td>{{ obj.arch }}</td>
    <td>
        <icsw-tools-button type="create" ng-show="obj.$$any_unset_selected" value="attach" size="xs" ng-click="attach($event, obj)" title="attach to selected devices"></icsw-tools-button>
    </td>
    <td>
        <icsw-tools-button type="clear_selection" ng-show="obj.$$any_set_selected" value="remove" size="xs" ng-click="remove($event, obj)" title="remove from selected devices"></icsw-tools-button>
    </td>
    <td>
        <icsw-tools-button type="delete" ng-show="!obj.$$any_set" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
    </td>
    <td>{{ get_pdc_list(obj) }}</td>
</script>

<script type="text/ng-template" id="icsw.package.install.pdc.state">
    <div>
        <span ng-show="pdc.set" uib-tooltip-placement="bottom" uib-tooltip-html="pdc.$$tooltip">
            <span ng-class="pdc.$$ts_class"></span>
            <div class="btn-group btn-group-xs">
                <input type="button" class="btn btn-default disabled" ng-class="pdc.$$button_class" value="{{ pdc.installed }}"/>
                <input type="button" class="btn btn-default disabled" ng-class="pdc.force_flag && 'btn-primary' || 'btn-default'" value="F"/>
                <input type="button" class="btn btn-default disabled" ng-class="pdc.nodeps_flag && 'btn-primary' || 'btn-default'" value="N"/>
                <input type="button" ng-class="pdc.selected && 'btn btn-primary' || 'btn btn-default'" value="S" title="select" ng-model="pdc.selected" ng-click="change_sel()"/>
            </div>
        </span>
        <span ng-show="!pdc.set">
            <div class="btn-group btn-group-xs">
                <input type="button" ng-class="pdc.selected && 'btn btn-primary' || 'btn btn-default'" value="S" title="select" ng-model="pdc.selected" ng-click="change_sel()"/>
            </div>
        </span>
    </div>
</script>

<script type="text/ng-template" id="icsw.package.install.pdc.version">
    <div>
        <span ng-show="obj.set" tooltip-placement="bottom" tooltip-html-unsafe="{{ get_tooltip() }}">
            {{ pdc.$$installed_version }}
        </span>
    </div>
</script>

<script type="text/ng-template" id="icsw.package.action.form">
    <form class="form-horizontal" name="form_data">
        <h2>PDC action</h2>
        <fieldset>
            <legend>Base data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Target state
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.target_state" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="select a target state">
                            {{ $select.selected.info }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.state as value in target_states">
                            <div ng-bind-html="value.info | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Flags</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Nodeps flag
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.nodeps_flag">
                            <ui-select-match class="ui-select-match" placeholder="select the nodeps flag">
                                {{ $select.selected.info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in flag_states">
                                <div ng-bind-html="value.info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.nodeps_flag = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Force flag
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.force_flag">
                            <ui-select-match class="ui-select-match" placeholder="select the force flag">
                                {{ $select.selected.info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in flag_states">
                                <div ng-bind-html="value.info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.force_flag = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Image Dependency</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Image dep
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.image_dep">
                            <ui-select-match class="ui-select-match" placeholder="select image dependency">
                                {{ $select.selected.info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in dep_states">
                                <div ng-bind-html="value.info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.image_dep = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <div class="controls col-lg-offset-0 col-sm-7">
                        <label>
                            <input class="checkboxinput checkbox" name="image_change" ng-model="edit_obj.image_change" type="checkbox"/>
                            change image list
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng_show="edit_obj.image_change">
                <label class="control-label col-sm-3">
                    Image list
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.image_list" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="select one or more images">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in srv_image_list">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Kernel Dependency</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Kernel dep
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.kernel_dep">
                            <ui-select-match class="ui-select-match" placeholder="select kernel dependency">
                                {{ $select.selected.info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in dep_states">
                                <div ng-bind-html="value.info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.kernel_dep = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <div class="controls col-lg-offset-0 col-sm-7">
                        <label>
                            <input class="checkboxinput checkbox" name="kernel_change" ng-model="edit_obj.kernel_change" type="checkbox"/>
                            change kernel list
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng_show="edit_obj.kernel_change">
                <label class="control-label col-sm-3">
                    Kernel list
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.kernel_list" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="select one or more kernels">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in srv_kernel_list">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
    </form>
</script>
