*.pyc
*.pyo
*~

# Symlinks necessary for easy local development
initat/cluster/doc
initat/cluster/frontend
initat/cluster/license_tools.py
initat/cluster/rms
initat/cluster/setup
initat/cluster/sub_urls/anovis_urls.py
initat/cluster/sub_urls/wf_urls.py
initat/cluster/transfer
initat/core

