<?xml version="1.0"?>
<?define ProductVersion = "3.0.6"?>
<?define ProductUpgradeCode = "77EA450B-4B37-478C-919B-D0D62F2ED7C5"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)" 
            Name="ICSW Windows Client" Version="$(var.ProductVersion)" Manufacturer="init.at" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" InstallScope="perMachine" InstallPrivileges="elevated"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
      <Icon Id="ProductIcon" SourceFile="WixUIExclamationIco256.ico"/>
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="http://www.init.at"/>
      <Property Id="ARPURLINFOABOUT" Value="http://www.init.at"/>
      <Property Id="ARPNOREPAIR" Value="1"/>
	  <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A later version of ICSW Windows Client is already installed. Setup will now exit" 
					AllowSameVersionUpgrades="no"/>
 
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="ICSW_Windows_Client">
            </Directory>
         </Directory>
      </Directory>
      
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

      <UI Id="MyWixUI_InstallDir">
          <UIRef Id="WixUI_InstallDir" />
      </UI>
      <UIRef Id="WixUI_ErrorProgressText" />

      <CustomAction Id="ExecInstallService" Directory="INSTALLDIR" Execute="deferred" Impersonate="no" ExeCommand='[INSTALLDIR]\python.exe "[INSTALLDIR]\service_manager.py" [SERVICENAME] install [ProductVersion]' Return="check" />
      <CustomAction Id="ExecUninstallService" Directory="INSTALLDIR" Execute="deferred" Impersonate="no" ExeCommand='[INSTALLDIR]\python.exe "[INSTALLDIR]\service_manager.py" [SERVICENAME] uninstall' Return="check" />

      <InstallExecuteSequence>
		 <Custom Action="ExecInstallService" Before="InstallFinalize">NOT Installed</Custom>
         <Custom Action="ExecUninstallService" Before="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      </InstallExecuteSequence>
 
      <Feature Id="DefaultFeature" Level="1">
         <ComponentGroupRef Id="HostmonitorFiles"/>	 
      </Feature>
      <Property Id="SERVICENAME" Value="ICSW_Monitoring_Service" />      
   </Product>
</Wix>
