th { font-style:normal ; font-weight:bold ; }

body.blind { margin-left:0px ; margin-right:0px ; margin-top:0px ; margin-bottom:0px ; 
             font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Reg ; }

hr { width:99% ; height:2px ; }

a:link.init { border-width:0px ; margin:0px ; padding:0px ; text-decoration:none ;  background-color:#ffffff ; }

table.normal      { border-color:#000000 ; color:#000000 ; background-color:#777777 ; border-width:1px ; margin:auto ; border-spacing:1px ; border-style:solid ; padding:0px ; width:99% ; }
table.normal75    { border-color:#000000 ; color:#000000 ; background-color:#777777 ; border-width:1px ; margin:auto ; border-spacing:1px ; border-style:solid ; padding:0px ; width:75% ; }
table.normal50    { border-color:#000000 ; color:#000000 ; background-color:#777777 ; border-width:1px ; margin:auto ; border-spacing:1px ; border-style:solid ; padding:0px ; width:50% ; }
table.normalsmall { border-color:#000000 ; color:#000000 ; background-color:#777777 ; border-width:1px ; margin:auto ; border-spacing:1px ; border-style:solid ; padding:0px ; }
table.text        { border-color:#000000 ; color:#000000 ; background-color:#f0f0f0 ; border-width:1px ; margin:auto ; border-spacing:4px ; border-style:solid ; padding:2px ; width:99% ; }
table.text75      { border-color:#000000 ; color:#000000 ; background-color:#f0f0f0 ; border-width:1px ; margin:auto ; border-spacing:4px ; border-style:solid ; padding:2px ; width:75% ; }
table.textsmall   { border-color:#000000 ; color:#000000 ; background-color:#f0f0f0 ; border-width:1px ; margin:auto ; border-spacing:4px ; border-style:solid ; padding:2px ; }
table.user        { border-color:#000000 ; color:#000000 ; background-color:#f0f0f0 ; border-width:1px ; margin:auto ; border-spacing:0px ; border-style:solid ; padding:0px ; width:99% ; }
table.head        { border-color:#000000 ; color:#000000 ; background-color:#f0f0f0 ; border-width:1px ; margin:auto ; border-spacing:0px ; border-style:solid ; padding:0px ; width:100% ; }
table.linkline    { border-color:#444444 ; color:#000000 ; background-color:#f0f0f0 ; border-width:0px ; border-bottom-width:1px ; margin:auto ; border-spacing:0px ; border-style:solid ; padding:0px ; width:100% ; }
table.blind       { border-color:#ffffff ; color:#000000 ; background-color:#ffffff ; border-width:0px ; margin:auto ; border-spacing:0px ; border-style:solid ; padding:0px ; width:100% ; }
table.blind75     { border-color:#ffffff ; color:#000000 ; background-color:#ffffff ; border-width:0px ; margin:auto ; border-spacing:0px ; border-style:solid ; padding:0px ; width:75% ; }
table.blindsmall  { border-color:#ffffff ; color:#000000 ; background-color:#ffffff ; border-width:0px ; margin:auto ; border-spacing:0px ; border-style:solid ; padding:0px ; }

td.blind { padding:0px ; }

input { font-size:11px; font-family:Arial,Verdana,Helvetica; }
select { font-size:11px; font-family:Arial,Verdana,Helvetica; }

.fullwidth { width:100% ; }

.left   { text-align:left   ; }
.center { text-align:center ; } 
.centerfix { text-align:center ; font-family:monospace ; } 
.centersmall { text-align:center ; width:2px ; white-space:nowrap ;} 
.right  { text-align:right  ; }
.top { vertical-align:top ; }
.topcenter { vertical-align:top ; text-align: center ; }

h1 { text-align:center ; }
h2 { text-align:center ; }
h3 { text-align:center ; }
h4 { text-align:center ; }

tr.title  { background-color:#dddddd; font-size:125% ; }

td.devgroup   { color:#000000 ; background-color:#d0d0ff ; text-align:center ; font-size:125% ; } 
tr.devup      { color:#000000 ; background-color:#eeffee ; }
tr.devwarn    { color:#000000 ; background-color:#ffff99 ; }
tr.devdown    { color:#000000 ; background-color:#ffbfbf ; }
tr.devunknown { color:#000000 ; background-color:#cccccc ; }

.centerlarge { text-align:center ; font-size:150% ; }

input { color:#000000 ; background-color:#f8f8f8 ; border-width:1px ; border-style:solid ; border-left-color:#666666 ;border-top-color:#666666 ;border-bottom-color:#dddddd ;border-right-color:#dddddd ;}
select { color:#000000 ; background-color:#f8f8f8 ; border-width:1px ; border-style:solid ; border-left-color:#666666 ;border-top-color:#666666 ;border-bottom-color:#dddddd ;border-right-color:#dddddd ;}
input.button { color:#000000 ; background-color:#eeeeee ; border-width:2px ; border-style:solid ; border-left-color:#f7f7f7 ;border-top-color:#f7f7f7 ;border-bottom-color:#666666 ;border-right-color:#666666 ;}

.lineh  { color:#000000 ; background-color:#eeeeee ; }
.line00  { color:#000000 ; background-color:#aaffaa ; }
input.line00 { color:#000000 ; background-color:#e4ffe4 ; }
.line01  { color:#000000 ; background-color:#aaccff ; }
input.line01 { color:#000000 ; background-color:#e4e4ff ; }

.line10  { color:#000000 ; background-color:#e8e8e8 ; }
input.line10 { color:#000000 ; background-color:#ffffff ; }
.line11  { color:#000000 ; background-color:#f5f5f5 ; }
input.line11 { color:#000000 ; background-color:#ffffff ; }

.line20  { color:#000000 ; background-color:#ffbbbb ; }
.line21  { color:#000000 ; background-color:#ffc4c4 ; }

.line30  { color:#000000 ; background-color:#ffffaa ; }
.line31  { color:#000000 ; background-color:#ffff80 ; }

.white  { color:#000000 ; background-color:#ffffff ; }
.black  { color:#000000 ; background-color:#000000 ; }

.min    { width:1px ; text-align:center; }
.error { background-color:#ffbfbf ; color:#000000 ; }
.errorcenter { background-color:#ffbfbf ; color:#000000 ; text-align:center ; }
.errormin { background-color:#ffbfbf ; color:#000000 ; width:1px ; text-align:center; }
.ok    { background-color:#eeffee ; color:#000000 ; }
.okmin    { background-color:#eeffee ; color:#000000 ; width:1px ; text-align:center; }
.okcenter { background-color:#eeffee ; color:#000000 ; text-align:center ; }
.warn  { background-color:#ffff99 ; color:#000000 ; }
.warnleft  { background-color:#ffff99 ; color:#000000 ; text-align:left ; }
.warnright  { background-color:#ffff99 ; color:#000000 ; text-align:right ; }
.warncenter  { background-color:#ffff99 ; color:#000000 ; text-align:center ; }

option.monoerror { background-color:#ffffff; color:#ff6666 ; font-family:monospace ; font-size:10px ; }
option.monowarn  { background-color:#ffffff; color:#aaaa22 ; font-family:monospace ; font-size:10px ; }
option.monook    { background-color:#ffffff; color:#000000 ; font-family:monospace ; font-size:10px ; }
option.monodate  { background-color:#777777; color:#ffffff ; font-family:monospace ; font-size:10px ; }

option.error   { background-color:#ffffff; color:#ff6666 ; }
option.ok      { background-color:#ffffff; color:#000000 ; }
option.inverse { background-color:#000000; color:#ffffff ; }
option.date    { background-color:#777777; color:#ffffff ; }
option.group   { font-weight:bold ; }

.cpulogcore { background : #e0e0ff; }
.cpucore { background : #c0c0ff; }
.cpucache { background : #ff9595; }
.cpudie { background-color:#f0f0f0; }
.cpusocket { background : #aaffaa; }
.cpusystem { background : #ffffff; }
