{% verbatim %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="menu_base" ng-cloak ng-show="is_authenticated">
    <ul class="nav navbar-nav">
        <li>
            <a href="{% url 'main:index' %}"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li ng-show="
            check_perm('user.modify_tree') || check_perm('user.modify_domain_name_tree') ||
            check_perm('user.modify_category_tree') || check_perm('config.modify_config') ||
            check_perm('config.modify_network') || check_perm('device.change_network') || 
            check_perm('device.change_connection') || check_perm('device.change_variables') || check_perm('device.change_config')
        ">
            <a class="dropdown-toggle" data-toggle="dropdown">Base <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-show="check_perm('user.modify_tree')"><a href="{% url 'mon:create_device' %}">Create new device</a></li>
                <li ng-show="check_perm('user.modify_tree')" class="divider"></li>
                <li ng-show="check_perm('user.modify_tree')"><a href="{% url 'device:tree_smart' %}">Device tree</a></li>
                <li ng-show="check_perm('user.modify_domain_name_tree')"><a href="{% url 'network:domain_name_tree' %}">Domain name tree</a></li>
                <li ng-show="check_perm('user.modify_category_tree')"><a href="{% url 'base:category_tree' %}">Category tree</a></li>
                <li ng-show="check_perm('user.modify_category_tree') || check_perm('user.modify_domain_tree') || check_perm('user.modify_tree')" class="divider"></li>
                <li ng-show="check_perm('network.modify_network')"><a href="{% url 'network:show_networks' %}">Networks</a></li>
                <li ng-show="check_perm('config.modify_config')"><a href="{% url 'config:show_configs' %}">Configurations</a></li>
                <li ng-show="check_perm('network.modify_network') || check_perm('config.modify_config')" class="divider"></li>
                <li ng-show="check_perm('device.change_network')"><a href="{% url 'network:device_network' %}">Device network</a></li>
                <li ng-show="check_perm('device.change_connection')"><a href="{% url 'device:connections' %}">Device connections</a></li>
                <li ng-show="check_perm('device.change_variables')"><a href="{% url 'device:variables' %}">Device variables</a></li>
                <li ng-show="check_perm('device.change_config')"><a href="{% url 'device:show_configs' %}">Device configurations</a></li>
            </ul>
        </li>
        <li ng-show="(CLUSTER_LICENSE.boot.enabled || CLUSTER_LICENSE.package.enabled) && (check_perm('device.change_boot') || check_perm('package.package_install') || 
            check_perm('partition_fs.modify_partitions') || check_perm('kernel.modify_kernels') || check_perm('image.modify_images'))
            ">
            <a class="dropdown-toggle" data-toggle="dropdown">Cluster <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-show="SERVICE_TYPES.mother && CLUSTER_LICENSE.boot.enabled && check_perm('device.change_boot')"><a href="{% url 'boot:show_boot' %}">Nodeboot</a></li>
                <li ng-show="SERVICE_TYPES.package && CLUSTER_LICENSE.package.enabled && check_perm('package.package_install')"><a href="{% url 'pack:repo_overview' %}">Package install</a></li>
                <li ng-show="CLUSTER_LICENSE.boot.enabled && SERVICE_TYPES.mother && SERVICE_TYPES.package" class="divider"></li>
                <li ng-show="CLUSTER_LICENSE.boot.enabled && check_perm('image.modify_images')"><a href="{% url 'setup:image_overview' %}">Image overview</a></li>
                <li ng-show="CLUSTER_LICENSE.boot.enabled && check_perm('kernel.modify_kernels')"><a href="{% url 'setup:kernel_overview' %}">Kernel overview</a></li>
                <li ng-show="CLUSTER_LICENSE.boot.enabled && check_perm('partition_fs.modify_partitions')"><a href="{% url 'setup:partition_overview' %}">Partition overview</a></li>
            </ul>
        </li>
        <li ng-show="check_perm('group.group_admin')">
            <a class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'user:overview' %}">Overview</a></li>
            </ul>
        </li>
        <li ng-show="CLUSTER_LICENSE.monitor.enabled">
            <a class="dropdown-toggle" data-toggle="dropdown">Monitoring <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-show="check_perm('mon_check_command.setup_monitoring')"><a href="{% url 'mon:setup' %}">Basic setup</a></li>
                <li ng-show="check_perm('mon_check_command.setup_monitoring') && check_perm('device.change_monitoring')"><a href="{% url 'mon:device_config' %}">Device settings</a></li>
                <li ng-show="CLUSTER_LICENSE.monext.enabled && check_perm('mon_check_command.setup_monitoring')" class="divider"></li>
                <li ng-show="CLUSTER_LICENSE.monext.enabled && check_perm('mon_check_command.setup_monitoring')"><a href="{% url 'mon:setup_cluster' %}">Cluster / Dependency setup</a></li>
                <li ng-show="CLUSTER_LICENSE.monext.enabled && check_perm('mon_check_command.setup_monitoring')"><a href="{% url 'mon:setup_escalation' %}">Escalation setup</a></li>
                <li ng-show="check_perm('mon_check_command.setup_monitoring')" class="divider"></li>
                <li><a href="{% url 'mon:call_icinga' %}" target="_blank">Icinga</a></li>
                <li ng-show="check_perm('mon_check_command.setup_monitoring')" class="divider"></li>
                <li ng-show="check_perm('mon_check_command.setup_monitoring')"><a href="{% url 'mon:overview' %}">Monitoring Overview</a></li>
                <li ng-show="check_perm('mon_check_command.setup_monitoring')"><a href="{% url 'mon:build_info' %}">Build Info</a></li>
                <li ng-show="SERVICE_TYPES['md-config']">
                    <a href="{% url 'mon:livestatus' %}">Livestatus</a>
                </li>
                <li ng-show="check_perm('mon_check_command.setup_monitoring') && SERVICE_TYPES['md-config']" class="text-left">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input type="button" class="btn btn-success btn-xs" value="rebuild config (cached, RC)" title="fully cached (with routing cache)" ng-click="rebuild_config('ALWAYS')"/>
                        </li>
                        <li class="list-group-item">
                            <input type="button" class="btn btn-warning btn-xs" value="rebuild config (dynamic)" ng-click="rebuild_config('DYNAMIC')"/>
                        </li>
                        <li class="list-group-item">
                            <input type="button" class="btn btn-danger btn-xs" value="rebuild config (refresh)" ng-click="rebuild_config('REFRESH')"/>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ng-show="CLUSTER_LICENSE.rms.enabled">
            <a class="dropdown-toggle" data-toggle="dropdown">RMS <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'rms:overview' %}">RMS overview</a></li>
                <li><a href="{% url 'lic:overview' %}" ng-show="0">License overview</a></li>
                <li><a href="{% url 'lic:license_liveview' %}">License LiveView</a></li>
            </ul>
        </li>
        <!-- {% for add_menu in settings.ADDITIONAL_MENU_FILES %}
            {% include add_menu %}
        {% endfor %} -->
        <li class="visible-md visible-lg">
            <div ng-show="num_gauges" ng-repeat="(key, obj) in cur_gauges" class="progress" style="width:200px; margin-top:10px;">
                <progressbar animate="true" value="obj.value" type="success"><span>{{ obj.value }} %</span></progressbar>
            </div>
        </li>
        <li ng-if="num_gauges == 0" class="visible-lg visible-md">
            <img height="42px" ng-attr-src="{{ ICSW_URLS.MENU_GFX_URL }}" ng-click="redirect_to_init()" title="{{ settings.INIT_PRODUCT_NAME }}" alt="{{ settings.INIT_PRODUCT_NAME }} logo"/>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <p class="navbar-text">
                <button type="button" class="btn btn-danger btn-xs" title="cluster server information" ng-click="redirect_to_info()">
                    <span class="glyphicon glyphicon-stats" style="font-size:12px;"></span>
                </button>
                &nbsp;
                <button ng-show="HANDBOOK_PDF_PRESENT" type="button" class="btn btn-primary btn-xs" title="show cluster handbook as PDF" ng-click="redirect_to_handbook()">
                    <span class="glyphicon glyphicon-print" style="font-size:12px;"></span>
                </button>
                &nbsp;
                <button ng-show="HANDBOOK_CHUNKS_PRESENT" type="button" class="btn btn-success btn-xs" title="show {{ HANDBOOK_PAGE }}" ng-click="show_handbook_page()">
                    <span class="glyphicon glyphicon-question-sign" style="font-size:12px;"></span>
                </button>
                &nbsp;
                <button type="button" ng-show="NUM_BACKGROUND_JOBS" ng-class="get_background_job_class()" ng-click="redirect_to_bgj_info()" title="number of background jobs">{{ NUM_BACKGROUND_JOBS }}</button>
            </p>
        </li>
        <li>
            <p class="navbar-text visible-md visible-lg">
                {{ cur_time }}
                <span title="{{ user }}">user '{{ user.login }}'</span>{% ifnotequal user.login request.session.login_name %} (via alias {{ request.session.login_name }}){% endifnotequal %}
            </p>
        </li>
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown">Session <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'user:account_info' %}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Account Info</a></li>
                <li ng-show="check_perm('backbone.user.admin')"><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Admin</a></li>
                {% if user.is_superuser %}
                    <li><a href="{% url 'user:global_settings' %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Settings</a></li>
                {% endif %}
                <li ng-show="check_perm('background_job.show_background')">
                    <a href="{% url 'user:background_job_info' %}"><span class="glyphicon glyphicon-list"></span>&nbsp;Background Job Info</a>
                </li>
                <li><a href="{% url 'session:logout' %}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Logout</a></li>
            </ul>
        </li>
        <li>
            &nbsp;
        </li>
    </ul>
</nav>

{% endverbatim %}
