.sb_lines { stroke: #313131; stroke-width: 0.5; }
.pieSegment { stroke-width: 0.5; stroke-miterlimit: 2; stroke: #fff; }
.default_text { fill: #dddddd; font-size: 12px; }

.svg_ok { fill: #92aa00; }  /* sources.coffee */
.svg_up { fill: #92aa00; }  /* status_history_utils.coffee */
.svg_down { fill: #bb3d1e; }  /* ff0000 status_history_utils.coffee?? */
.svg_warn { fill: #e2972d; }  /* sources.coffee *//* f0ad4e status_history_utils.coffee??*/
.svg_crit { fill: #bb3d1e; } /* sources.coffee */
.svg_danger { fill: #d90000; } /* sources.coffee */
.svg_plandown { fill: #4c9d83; }   /* status_history_utils.coffee */
.svg_unknown { fill: #666666; }  /* status_history_utils.coffee */
.svg_undetermined { fill: #666666; }  /* status_history_utils.coffee */
.svg_unreach { fill: #e2972d; }  /* status_history_utils.coffee */

.svg_d3link { stroke: #92aa00; stroke-width: 2px; opacity: 1; }
.svg_d3circle { stroke-width: 2px; stroke: #92aa00; fill: #666666; }
.svg_d3circle_selected { stroke-width: 2px; stroke: #92aa00; fill: #bb3d1e; }
.svg_d3text { stroke-width:1px; stroke:#black; paint-order:stroke; text-anchor:middle; alignment-baseline:middle; fill:white; }
