/* device colors */
.svg-dev-up { fill: #92aa00; }
.svg-dev-down { fill: #d64f31; }
.svg-dev-unreach { fill: #ff0000; }
.svg-dev-unknown { fill: #e2972d; }
.svg-dev-notmonitored { fill: #aaaaaa; }
.svg-dev-pending { fill: #ccccff; }
.svg-dev-unselected { fill: #dddddd; }

/* service colors */
.svg-srv-ok { fill: #92aa00; }
.svg-srv-warn { fill: #e2972d; }
.svg-srv-crit { fill: #d64f31; }
.svg-srv-unknown { fill: #ef8870; }
.svg-srv-notmonitored { fill: #aaaaaa; }
.svg-srv-pending { fill: #ccccff; }
.svg-srv-unselected { fill: #dddddd; }

.svg-sh-type { fill: #8888ff ; }
.svg-filter-text {
    /*text-anchor: middle;
    alignment-baseline: middle;
    paint-order: stroke;*/
    font-size: 12px;
    fill: #444444;
    pointer-events: none;
    /*stroke: #000000;
    stroke-width: 1px;
    */
}
.svg-filter-head-text {
    /*
    alignment-baseline: middle;*/
    paint-order: stroke;
    font-size: 14px;
    fill: #777777;
    stroke: #ffffff;
    stroke-width: 0.5px;
    pointer-events: none;
    text-anchor: middle;
}
.svg-box {
    fill: #ffffff;
    stroke: #555555;
    stroke-width: 0.5px;
}
.svg-box-content {
    fill: #777777;
}
.svg-outline { stroke-width: 0.5px; stroke: #000000; }

/* others */
.svg-plandown { fill: #4c9d83; }
.svg-active { fill: #9999ff; }
.svg-inactive { fill: #eeeeee; }
.svg-strokelocked { stroke: #d64f31; }
.svg-strokeunlocked { stroke: #dddddd; }
.svg-white { fill: #ffffff; }
.svg-danger { fill: #d90000; } /* prepare removal */

.svg-txt-color { fill: #555555; }
.default-text { fill: #555555; font-size: 12px; }

.sb-lines { stroke: #ffffff; stroke-width: 0.5; }
.sb-lines-selected { stroke: #dddddd ; stroke-width: 1; }
.svg-stroke { stroke: #aaaaaa; stroke-width: 0.5; }
.pie-segment { stroke-width: 0.5; stroke-miterlimit: 2; stroke: #fff; }
.svg-sel { opacity: 0.7; }
.svg-clicked { stroke-width: 2px !important; }

.svg-d3link { stroke: #888888; stroke-width: 2px; opacity: 1; }
.svg-d3circle { stroke-width: 2px; stroke: #888888; fill: #aaaaaa; }
.svg-d3circle-selected { stroke-width: 2px; stroke: #888888; fill: #d64f31; }
.svg-d3text { stroke-width:1px; stroke:#ffffff; paint-order:stroke; text-anchor:middle; alignment-baseline:middle; fill:#111111; }

