<script type="text/ng-template" id="icsw.dialog.delete_popup">
    <div>
        <fieldset>
            <legend>
                Delete settings and info
            </legend>
            <div ng-show="del_struct.change_async_delete_flag">
                <label>
                    <icsw-tools-yes-no
                        flag="del_struct.async_delete"
                    ></icsw-tools-yes-no>
                    Delete asynchronously
                </label>
                <p>&nbsp;</p>
            </div>
            <div>
                Time needed for structure build: {{ del_struct.delete_info.runtime }} seconds
            </div>

        </fieldset>

        <fieldset ng-show="del_struct.$$any_deletable">
            <legend>
                Deletable without deleting hard references
            </legend>

            <div class="form">
                <div class="checkbox" ng-repeat="struct in del_struct.deletable_objects">
                    <label>
                        <icsw-tools-yes-no
                            flag="struct.delete"
                            icsw-callback="del_struct.update_flags"
                        ></icsw-tools-yes-no>
                        {{ struct.model_name }} '{{ struct.name }}'
                    </label>
                </div>
            </div>

            <icsw-tools-button
                type="delete"
                value="delete"
                ng-click="delete_deletable_action($event)"
                icsw-disabled="!del_struct.$$some_deletable_objects_checked"
            ></icsw-tools-button>


            <p>&nbsp;</p>
        </fieldset>

        <fieldset ng-if="del_struct.$$any_related">

            <legend>
                Deletable with deleting hard references
            </legend>
            The following {{ del_struct.model_name }} can only be deleted if references of them are
            also deleted, which can cause delete cascades.<br>
            Please select actions for each of these devices.

            <uib-tabset>
                <uib-tab
                    ng-repeat="(obj_pk, ref_obj) in del_struct.related_objects"
                >
                    <uib-tab-heading>
                        {{ del_struct.model_name }} '{{ ref_obj.name }}'
                    </uib-tab-heading>

                    <div class="panel-body">

                        <table
                            st-table="ref_obj.entries_displayed"
                            st-safe-src="ref_obj.list"
                            class="table icsw-striped-2 table-condensed table-hover"
                        >
                            <tr>
                                <th>Table</th>
                                <th>Field</th>
                                <th class="text-center">First Level References</th>
                                <th class="text-center">Second Level References</th>
                                <th>Action</th>
                            </tr>

                            <tr ng-repeat-start="entry in ref_obj.entries_displayed">
                                <td>
                                    {{ entry.related_model_verbose_name }}
                                </td>
                                <td>
                                    {{ entry.field_verbose_name }}
                                </td>
                                <td class="text-center">
                                    <icsw-tools-button
                                        type="show"
                                        size="xs"
                                        is-show="!entry.show_details"
                                        ng-click="entry.show_details = !entry.show_details"
                                        show-value="entry.$$show_value"
                                        hide-value="entry.$$hide_value"
                                    ></icsw-tools-button>
                                </td>
                                <td ng-class="(entry.objects.num_refs_of_refs == 0) ? 'text-center' : 'text-center text-danger'">
                                    {{ entry.objects.num_refs_of_refs }}
                                </td>
                                <td>
                                    <select
                                        class="select form-control"
                                        ng-model="entry.selected_action"
                                        ng-options="value[0] as value[1] for value in entry.actions"
                                        ng-change="del_struct.update_flags($event)"
                                    ></select>
                                </td>
                            </tr>
                            <tr ng-repeat-end ng-show="entry.show_details">
                                <td colspan="99">
                                    <div style="width: 825px; max-height: 450px; overflow: scroll;">

                                        <table st-table="refs_displayed" st-safe-src="entry.objects.list"
                                               class="table table-condensed table-striped">
                                            <tr>
                                                <td colspan="99">
                                                    <div icsw-tools-pagination st-items-by-page="5"
                                                         possible-items-by-page="5,10,20,50,100">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th ng-repeat="(k, v) in entry.objects.list[0]">{{k}}</th>
                                            </tr>
                                            <tr ng-repeat="obj in refs_displayed">
                                                <td ng-repeat="(k, v) in obj">{{v}}</td>
                                            </tr>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <div ng-show="!ref_obj.$$delete_ok" class="text-danger">
                                Please select Actions for all References.
                            </div>
                            <div class="pull-right">
                                <icsw-tools-button
                                    type="delete"
                                    value="force delete"
                                    icsw-disabled="!ref_obj.$$delete_ok"
                                    ng-click="force_delete($event, ref_obj)"
                                ></icsw-tools-button>
                            </div>
                        </div>

                    </div>
                </uib-tab>
            </uib-tabset>
        </fieldset>
    </div>
</script>
