<script type="text/ng-template" id="icsw.tools.old.paginator">
    <form class="form-inline">
        <span ng-show="pagSettings.conf.filtered_len">
            <div class="form-group">
                <ul class="pagination pagination-sm" ng-show="pagSettings.conf.num_pages > 1 && pagSettings.conf.num_pages < 11"  style="margin-top:0px; margin-bottom:0px;">
                    <li ng-repeat="pag_num in pagSettings.conf.page_list track by $index" ng-class="pagSettings.get_li_class(pag_num)">
                        <a href="#" ng-click="activate_page(pag_num)">{{ pag_num }}</a>
                    </li>
                </ul>
                <ul class="pagination pagination-sm" ng-show="pagSettings.conf.num_pages > 1 && pagSettings.conf.num_pages > 10"  style="margin-top:0px; margin-bottom:0px;">
                    <li ng-class="pagSettings.get_laquo_class()">
                        <a href="#" ng-click="pagSettings.page_back()">&laquo;</a>
                    </li>
                    <li ng-class="pagSettings.get_raquo_class()">
                        <a href="#" ng-click="pagSettings.page_forward()">&raquo;</a>
                    </li>
                    <li ng-repeat="pag_num in pagSettings.get_filtered_pl() track by $index" ng-class="pagSettings.get_li_class(pag_num)">
                        <a href="#" ng-click="activate_page(pag_num)">{{ pag_num }}</a>
                    </li>
                </ul>
            </div>
            <span ng-show="pagSettings.conf.num_pages > 5">
                <select class="form-control input-sm" ng-model="pagSettings.conf.act_page" ng-change="activate_page()"
                    ng-options="idx as pagSettings.get_range_info(idx) for idx in [] | range:pagSettings.conf.num_pages"
                >
                </select>
            </span>
            <span ng-show="pagSettings.conf.num_pages > 1">, </span>
            <span ng-show="pagSettings.conf.num_pages < 6">
                showing entries {{ pagSettings.conf.start_idx + 1 }} to {{ pagSettings.conf.end_idx + 1 }},
            </span>
        </span>
        <span ng-show="! pagSettings.conf.filtered_len">
            no entries to show,
        </span>
        <span ng-show="pagSettings.conf.modify_epp">
            show
            <div class="form-group">
                <select class="form-control input-sm" ng-model="pagSettings.conf.per_page" ng-options="value as value for (key, value) in pagSettings.conf.entries_per_page"></select>
            </div> per page,
        </span>
        <span ng-show="pagSettings.simple_filter_mode()">
            filter <div class="form-group"><input ng-model="pagSettings.conf.filter" class="form-control input-sm" placeholder="filter..."></input></div>,
        </span>
    </form>
</script>

<script type="text/ng-template" id="icsw.tools.simple.modal">
    <div class="modal-header"><h3>Please confirm</h3></div>
    <div class="modal-body">
        {{ question }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
