th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    translate(8px, -8px)
    rotate(315deg);
  width: 30px;
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 600px;
}

.CodeMirror-activeline-background {
    background: #ffff00 !important;
}

/*
// workaround for missing code mirror indention (this bug does not seem to occur currently)  // BM 20150616
.CodeMirror pre {
    padding-left: 35px !important;
}
*/

circle.fixed {
    fill : #ffaaaa ;
    stroke : #5555ff ;
}
.connect_line {
    stroke : #9999ff ;
    stroke-width : 4;
    pointer-events : none;
}
.connect_line_hidden {
    stroke-width : 0 ;
}
.angular-google-map-container { height: 480px; }

/* modal changes */
.modal.modal-wide .modal-dialog {
  width: 90% !important ;
}
.modal-wide .modal-body {
    overflow-y: auto !important ;
}
.modal-tall .modal-body {
    overflow-y: auto !important ;
}

/* use for striping tables where every odd row is a regular row
and every even row contains a collapsible row which is hidden by default */
.icsw-table-striped-4 > tbody > tr:nth-child(4n+1) {
    background-color: #f9f9f9;
}

/* always stripe 2 at a time */
.icsw-table-striped-2-by-2 > tbody > tr:nth-child(4n+0) {
    background-color: #f9f9f9;
}
.icsw-table-striped-2-by-2 > tbody > tr:nth-child(4n+1) {
    background-color: #f9f9f9;
}

/* striping as bootstrap striping but exactly the other row */
.icsw-table-striped-other > tbody > tr:nth-child(2n) {
    background-color: #f9f9f9;
}

ins {
    color: #080;
}
del {
    color: #a00;
}

.fa_icsw {
    width: 1.5em;
    text-align: center;
}

.fa_top {
    width:1.4em;
}