/**** Base colors ****
 * primary: #92aa00
 * success: #6e8200
 * warning: #e2972d
 * danger:  #bb3d1e
 * info:    #4c9d83
 ****/ 
 
/**** Loginpage start ****/
icsw-login-page .container-fluid {
    max-width: 400px;
    padding-top: 15px;
    margin-top:3%;
    }
icsw-login-page .container-fluid .well{
    padding-bottom: 0px;
    margin-top:15px;
    }
/**** Loginpage end ****/
/**** Fancytree start ****/
ul.fancytree-container {
    background-color: #404040;
}
span.fancytree-title {
    color: #ffffff;
}
.fancytree-expander {
    color: #ffffff;
}
span.fancytree-node:hover span.fancytree-title {
    background-color: transparent;
    border-color: none;
}
span.fancytree-node:hover {
    background-color: #313131;
}
ul.fancytree-container {
    font-family: Arial,Helvetica,sans-serif,FontAwesome;
}
.fancytree-container > li .fancytree-folder >.btn-group {
    margin-left: 5px;
    margin-top: -6px;
}
.fancytree-title > .label,
.fancytree-title > span > .label{
    margin-left:6px;
    padding: 0.2em 0.6em 0.1em;
}
.fancytree-checkbox{
    margin-top:2px;
}
/**** Fancytree end ****/
/**** Toaster start ****/
.toast-success {
  background-color: #92aa00;
}
.toast-error {
  background-color: #bb3d1e;
}
.toast-info {
  background-color: #4c9d83;
}
.toast-wait {
  background-color: #313131;
}
.toast-warning {
  background-color: #e2972d;
}
/**** Toaster end ****/

.fa { /* chrome fix */
    font-family: FontAwesome,Arial,Helvetica,sans-serif;
}
.nav-tabs {
    margin-top: 7px;
}
.nav-tabs > li > a {
    height:31px;
}
.ui-select-match > .ui-select-toggle > i.caret { right:2px; }
.ui-select-match > .ui-select-toggle > .ui-select-match-text { margin-right:6px;}

::-webkit-scrollbar-track { background-color: #999999; }
::-webkit-scrollbar{ width: 13px; }
::-webkit-scrollbar-thumb { background-color: #444444; -webkit-border-radius: 6px; border-radius: 6px; }

.ip_address {
    font-family: monospace;
    background-color: #dddddd;
    color: #000000;
}

.modal-body table {
    background-color: #444444;
}

.panel-success {
    border-color: #555555;
}
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5 {
    color: #ffffff;
}
pre {
    background-color: #cccccc;
}
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
