.sb_lines {
    stroke: black;
    stroke-width: 0.5;
}
.pieSegment {
    stroke-width: 1;
    stroke-miterlimit: 2;
    stroke: #fff;
}
.default_text {
    fill: black;
    font-size: 10px;
}
.svg_ok { fill: #66dd66; }  /* sources.coffee */
.svg_up { fill: #66dd66; }  /* status_history_utils.coffee */
.svg_down { fill: #ff7777; }  /* ff0000 status_history_utils.coffee?? */
.svg_warn { fill: #dddd88; }  /* sources.coffee *//* f0ad4e status_history_utils.coffee??*/
.svg_crit { fill: #ff7777; } /* sources.coffee */
.svg_danger { fill: #ff0000; } /* sources.coffee */
.svg_plandown { fill: #5bc0de; }   /* status_history_utils.coffee */
.svg_unknown { fill: #c7c7c7; }  /* status_history_utils.coffee */
.svg_undetermined { fill: #c7c7c7; }  /* status_history_utils.coffee */
.svg_unreach { fill: #f0ad4e; }  /* status_history_utils.coffee */

.svg_d3link { stroke: #ff7788; stroke-width: 4px; opacity: 1; }
.svg_d3circle { stroke-width: 2px; stroke: grey; fill: white; }
.svg_d3circle_selected { stroke-width: 2px; stroke: grey; fill: red; }
.svg_d3text { stroke-width:2px; stroke:white; paint-order:stroke; text-anchor:middle; alignment-baseline:middle; }

bull
text