<script type="text/ng-template" id="icsw/device/asset/static/overview">
    <uib-tabset>
        <uib-tab>
            <!-- overview with respect to device -->
            <uib-tab-heading>
                Asset Categories
            </uib-tab-heading>
            <icsw-device-asset-static-category-overview icsw-sel-man="0"></icsw-device-asset-static-category-overview>
        </uib-tab>
        <uib-tab>
            <!-- overview with respect to device -->
            <uib-tab-heading>
                Static Assets
            </uib-tab-heading>
            <icsw-device-asset-static-overview icsw-sel-man="0"></icsw-device-asset-static-overview>
        </uib-tab>
        <uib-tab>
            <!-- templates -->
            <uib-tab-heading>
                Static Asset Templates
            </uib-tab-heading>
            <icsw-static-asset-template-overview></icsw-static-asset-template-overview>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.device.asset.static.category.overview">
    <div class="container-fluid">
        <div uib-alert class="alert-warning" ng-show="!struct.data_loaded">
            Fetching Data from Server ...
        </div>
        <div ng-if="struct.data_loaded">
            <h3>
                Asset Categories
            </h3>
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 6px 15px">
                    <br ng-show="struct.categories.length > 0"/>
                    <table
                        class="table table-condensed table-striped simple-border"
                        style="width:auto;"
                        ng-show="struct.categories.length > 0"
                    >
                        <thead>
                            <tr>
                                <th class="text-center">Device Type</th>
                                <th class="text-center">Devices (Sum)</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="obj in struct.categories">
                                <td class="text-center">
                                   {{ obj.name }}
                                </td>
                                <td class="text-center">
                                    {{ obj.devices.length }}
                                </td>
                                <td class="text-center">
                                    <button
                                        ng-disabled="obj.devices.length == 0"
                                        type="button"
                                        class="btn btn-xs btn-success"
                                        ng-click="show_category_devices(obj)"
                                    >
                                        {{ obj.show_category_devices ? 'Hide' : 'Show' }} Devices
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat-end ng-if="obj.show_category_devices == true">
                                <td colspan="99">
                                    <table class="table table-condensed table-striped simple-border">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Group</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="device in obj.devices">
                                                <td><button type="button" class="btn btn-xs btn-success" ng-click="show_device_modal_view($event, device)">{{ device.full_name }}</button></td>
                                                <td>{{ device.$$group.description }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="struct.categories.length == 0">
                        <h4>
                            No asset categories. Create and manage them <a href="main#!/main/categorytree">here</a>.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.asset.static.overview">
    <div class="container-fluid">
        <div uib-alert class="alert-warning" ng-show="!struct.data_loaded">
            Fetching Data from Server ...
        </div>
        <div ng-if="struct.data_loaded">
            <h3>
                Static Asset Overview
            </h3>
            <uib-tabset>
                <uib-tab ng-show="struct.hidden_static_asset_template_types.indexOf(static_type_name) == -1" ng-repeat="(static_type_name, static_asset_list) in struct.static_asset_tabs">
                    <uib-tab-heading>
                        <span>
                            {{ static_type_name }} ({{ static_asset_list.length }})
                        </span>
                        <button
                            type="button"
                            class="btn btn-xs btn-warning"
                            ng-click="hide_static_asset_type(static_type_name)"
                        >
                            Hide
                        </button>
                    </uib-tab-heading>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 6px 15px">
                            <div ng-repeat="obj in static_asset_list">
                                <h3>
                                    {{ obj.name }}
                                    ({{ obj.description }})
                                    <button
                                        ng-disabled="obj.$$expand_devices_button_disabled"
                                        type="button"
                                        class="btn btn-xs btn-success"
                                        ng-click="show_devices($event, obj)"
                                    >
                                        {{ obj.$$show_devices_inventory_static_overview ? 'Hide' : 'Show' }} Device Information
                                    </button>
                                </h3>
                                <table
                                    class="table table-condensed table-striped simple-border"
                                    style="width:auto;"

                                >
                                    <thead>
                                        <tr>
                                            <th>Device</th>
                                            <th ng-repeat="field in obj.$$fields">{{ field.name }}{{ field.fixed ? " [fixed]" : "" }}</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>all</td>
                                            <td ng-repeat="field in obj.$$fields">{{ field.aggregate }}</td>
                                            <td class="text-center">
                                                <div ng-show="obj.$$inventory_static_status == 0" class="alert-success">
                                                    <strong>OK</strong>
                                                </div>
                                                <div ng-show="obj.$$inventory_static_status == 1" class="alert-warning">
                                                    <strong>Warning</strong>
                                                </div>
                                                <div ng-show="obj.$$inventory_static_status == 2" class="alert-danger">
                                                    <strong>Critical</strong>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="obj.$$show_devices_inventory_static_overview" ng-repeat="device in obj.$$devices">
                                            <td>
                                                <button
                                                    type="button"
                                                    class="btn btn-xs btn-primary"
                                                    ng-click="show_device($event, device)"
                                                >
                                                    {{ device.full_name }}
                                                </button>
                                            </td>
                                            <td ng-repeat="field in device.$$static_field_values[obj.idx]">
                                                {{ field.value }}
                                            </td>
                                            <td class="text-center">
                                                <div ng-show="device.$$inventory_static_status[obj.idx] == 0" class="alert-success">
                                                    <strong>OK</strong>
                                                </div>
                                                <div ng-show="device.$$inventory_static_status[obj.idx] == 1" class="alert-warning">
                                                    <strong>Warning</strong>
                                                </div>
                                                <div ng-show="device.$$inventory_static_status[obj.idx] == 2" class="alert-danger">
                                                    <strong>Critical</strong>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab ng-if="struct.hidden_static_asset_template_types.length > 0">
                    <uib-tab-heading>
                        <span>
                            Hidden Types ({{ struct.hidden_static_asset_template_types.length }})
                        </span>
                    </uib-tab-heading>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 6px 15px">
                            <br/>
                            <table
                                class="table table-condensed table-striped simple-border"
                                style="width:auto;"

                            >
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hidden_type in struct.hidden_static_asset_template_types">
                                        <td>{{ hidden_type }}</td>
                                        <td>
                                            <button
                                                type="button"
                                                class="btn btn-xs btn-warning"
                                                ng-click="unhide_static_asset_type(hidden_type)"
                                            >
                                                Unhide
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.static.asset.template.overview">
    <div uib-alert class="alert-warning" ng-show="struct.loading">Fetching Data from Server ...</div>
    <div class="container-fluid">
        <h3 ng-if="!struct.loading">
            Static Inventory Templates ({{ struct.template_tree.list.length }} Entries)
            <icsw-tools-button type="create" size="xs" ng-click="create_or_edit($event, null, true)"></icsw-tools-button>
        </h3>
        <table
            st-table="entries_displayed"
            st-safe-src="struct.template_tree.list"
            class="table table-condensed table-hover"
            style="width:auto;"
            ng-if="struct.template_tree.list.length"
        >
            <thead>
                <tr>
                    <td colspan="99" class="form-inline">
                        <icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                             possible-items-by-page="10,20,50,100,200,500,1000"></icsw-tools-pagination>
                        <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name" st-sort-default="true">Name</th>
                    <th>Parent</th>
                    <th st-sort="description">Description</th>
                    <th>Type</th>
                    <th>User</th>
                    <th>Enabled</th>
                    <th>Multi</th>
                    <th>#Refs</th>
                    <th>#Fields</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in entries_displayed">
                    <td>{{ obj.name }}</td>
                    <td>
                        <span ng-show="obj.parent_template">
                            {{ struct.template_tree.lut[obj.parent_template].name }}
                        </span>
                    </td>
                    <td>{{ obj.description }}</td>
                    <td class="text-center">
                        {{ obj.type }}
                    </td>
                    <td class="text-center">
                        <span ng-show="obj.system_template" class="label label-success">system</span>
                        <span ng-show="!obj.system_template">{{ struct.user_group_tree.user_lut[obj.user].login }}</span>
                    </td>
                    <td class="text-center" ng-bind-html="obj.enabled | yesno4">
                    <td class="text-center" ng-bind-html="obj.multi | yesno3">
                    <td class="text-center">
                        <button ng-show="obj.num_refs" uib-popover-html="obj.refs_content" type="button" class="btn btn-xs btn-info">
                            {{ obj.num_refs }} <span class="fa fa-info-circle fa_icsw"></span>
                        </button>
                        <span ng-show="!obj.num_refs">---</span>
                    </td>
                    <td class="text-center">
                        {{ obj.$$num_fields }}
                    </td>
                    </td>
                    <td class="text-center">
                        {{ obj.$$created }}
                    </td>
                    <td>
                        <icsw-tools-button ng-if="!obj.system_template" type="modify" size="xs" ng-click="create_or_edit($event, obj, false)"></icsw-tools-button>
                        <icsw-tools-button ng-if="!obj.system_template && !obj.num_refs" type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
                        <icsw-tools-button type="copy" size="xs" ng-click="copy($event, obj)"></icsw-tools-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="icsw.static.asset.template.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Base Settings</legend>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField icsw-formlabel">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control maxwidth500" ng-model="edit_obj.name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField icsw-formlabel">
                    Description
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control maxwidth500" ng-model="edit_obj.description"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Template Type
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.type" class="maxwidth500" ng-change="field_changed()">
                        <ui-select-match class="ui-select-match" placeholder="please select a type from the list, or enter a new name to create a template type">
                            {{ $select.selected }}
                        </ui-select-match>
                        <ui-select-choices repeat="type in get_template_types($select.search) | filter: $select.search">
                            <div ng-bind="type"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="!edit_obj.num_refs">
            <legend>Base flags</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Allow multiple instances
                </label>
                <div class="controls col-xs-7">
                    <icsw-tools-yes-no flag="edit_obj.multi"></icsw-tools-yes-no>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label icsw-formlabel" title="Template is enabled">
                    Enabled
                </label>
                <div class="col-sm-7 controls">
                    <icsw-tools-yes-no flag="edit_obj.enabled"></icsw-tools-yes-no>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="!create">
            <legend>
                Fields
            </legend>
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                        <th>Optional</th>
                        <th>Consumable</th>
                        <th>Bounds</th>
                        <th>Monitor</th>
                        <th>Overview</th>
                        <th>Fixed</th>
                        <th colspan="2">Ordering</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in edit_obj.staticassettemplatefield_set">
                        <td>{{ field.name }}</td>
                        <td>{{ field.field_description }}</td>
                        <td class="text-center">{{ field.$$field_type }}</td>
                        <td>{{ field.$$default_value }}</td>
                        <td class="text-center">{{ field.optional | yesno1 }}</td>
                        <td class="text-center">{{ field.consumable | yesno1 }}</td>
                        <td class="text-center">{{ field.has_bounds | yesno1 }}</td>
                        <td class="text-center">{{ field.monitor | yesno1 }}</td>
                        <td class="text-center">{{ field.show_in_overview | yesno1 }}</td>
                        <td class="text-center">{{ field.fixed | yesno1 }}</td>
                        <td>
                            <button type="button" ng-show="!$last" class="btn btn-xs btn-default" ng-click="move_field($event, field, false)">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" ng-show="!$first" class="btn btn-xs btn-default" ng-click="move_field($event, field, true)">
                                <span class="glyphicon glyphicon-triangle-top"></span>
                            </button>
                        </td>
                        <td>
                            <icsw-tools-button type="modify" size="xs" ng-click="modify_or_create_field($event, edit_obj, field, false)"></icsw-tools-button>
                            <icsw-tools-button type="delete" size="xs" ng-click="delete_field($event, edit_obj, field)"></icsw-tools-button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group row">
                <div class="controls col-xs-12 text-right">
                    <icsw-tools-button type="create" ng-click="modify_or_create_field($event, edit_obj, null, true)"></icsw-tools-button>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.static.asset.field.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Base Settings</legend>
            <div class="form-group" ng-show="!create">
                <label class="control-label col-xs-3 icsw-formlabel">
                    Ordering
                </label>
                <div class="controls col-xs-7">
                    <input
                        class="form-control"
                        class="disabled"
                        value="{{ edit_obj.ordering + 1 }} of {{ template.staticassettemplatefield_set.length }}"
                        disabled="disabled"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField icsw-formlabel">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField icsw-formlabel">
                    Description
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control maxwidth500" ng-model="edit_obj.field_description"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Type<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.field_type" class="maxwidth500" ng-change="field_changed()">
                        <ui-select-match class="ui-select-match" placeholder="please select a FieldType">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in field_type_list">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Value Parameters</legend>
            <div class="form-group" ng-show="edit_obj.field_type == 1">
                <label class="control-label col-xs-3 icsw-formlabel">
                    Default Integer
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" type="number" ng-model="edit_obj.default_value_int"/>
                </div>
            </div>
            <div class="form-group" ng-show="edit_obj.field_type == 2">
                <label class="control-label col-xs-3 icsw-formlabel">
                    Default String
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" type="text" ng-model="edit_obj.default_value_str"/>
                </div>
            </div>
            <div class="form-group" ng-show="edit_obj.field_type == 3">
                <label class="control-label col-xs-3 icsw-formlabel">
                    Default Date
                </label>
                <div class="controls col-xs-7">
                    <span class="input-group">
                        <input
                            class="form-control"
                            uib-datepicker-popup="dd.MM.yyyy"
                            datepicker-options="datepicker_options.date_options"
                            type="text"
                            ng-model="edit_obj.$$default_date"
                            is-open="datepicker_options.open"
                            button-bar="button_bar"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open_picker()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-show="edit_obj.field_type == 4">
                <label class="control-label col-xs-3 icsw-formlabel">
                    Default Text
                </label>
                <div class="controls col-xs-7">
                    <textarea class="form-control" rows="10" cols="80" ng-model="edit_obj.default_value_text"/>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-7 control-label icsw-formlabel" title="Field is optional">
                        Optional
                    </label>
                    <div class="col-sm-3 controls">
                        <icsw-tools-yes-no flag="edit_obj.optional" icsw-callback="field_changed"></icsw-tools-yes-no>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-7 control-label icsw-formlabel" style="width:195px;" title="Field is show in overview">
                        Show in Overview
                    </label>
                    <div class="col-sm-3 controls">
                        <icsw-tools-yes-no flag="edit_obj.show_in_overview" icsw-callback="field_changed"></icsw-tools-yes-no>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-7 control-label icsw-formlabel" title="Value cannot be altered by device">
                        Fixed
                    </label>
                    <div class="col-sm-3 controls">
                        <icsw-tools-yes-no flag="edit_obj.fixed" icsw-callback="field_changed"></icsw-tools-yes-no>
                    </div>
                </div>
            </div>
        </div>
        <fieldset ng-show="edit_obj.field_type == 1">
            <legend>
                Bounds
                <icsw-tools-yes-no flag="edit_obj.has_bounds" icsw-callback="field_changed"></icsw-tools-yes-no>
            </legend>
            <div class="form-group" ng-show="edit_obj.has_bounds">
                <label class="control-label col-xs-3">
                    Bounds
                </label>
                <div class="controls col-xs-3">
                    <input class="form-control" type="number" ng-model="edit_obj.value_int_lower_bound"/>
                </div>
                <div class="controls col-xs-1">
                    &nbsp;&lt;&nbsp;
                </div>
                <div class="controls col-xs-3">
                    <input class="form-control" type="number" ng-model="edit_obj.value_int_upper_bound"/>
                </div>
            </div>
        </fieldset>
        <fieldset ng-show="edit_obj.field_type == 1">
            <legend>
                Consumable
                <icsw-tools-yes-no flag="edit_obj.consumable" icsw-callback="field_changed"></icsw-tools-yes-no>
            </legend>
            <div class="form-group" ng-show="edit_obj.consumable">
                <label class="control-label col-xs-3">
                    Consumable start / warn / crit
                </label>
                <div class="controls col-xs-9 form-inline">
                    <input class="form-control" type="number" size="8" style="width:140px;" ng-model="edit_obj.consumable_start_value"/>
                    &nbsp;&gt;&nbsp;
                    <input class="form-control" type="number" size="8" style="width:140px;" ng-model="edit_obj.consumable_warn_value"/>
                    &nbsp;&gt;&nbsp;
                    <input class="form-control" type="number" size="8" style="width:140px;" ng-model="edit_obj.consumable_critical_value"/>
                </div>
            </div>
        </fieldset>
        <fieldset ng-show="edit_obj.field_type == 3">
            <legend>
                Check Date
                <icsw-tools-yes-no flag="edit_obj.date_check" size="xs" icsw-callback="field_changed"></icsw-tools-yes-no>
            </legend>
            <div class="form-group" ng-show="edit_obj.date_check">
                <label class="control-label col-xs-3 icsw-formlabel">
                    Date limits in days
                </label>
                <div class="controls col-xs-9 form-inline">
                    warn
                    <input class="form-control" type="number" size="8" min="1" max="365" style="width:50px;" ng-model="edit_obj.date_warn_value"/>
                    &nbsp;&gt;&nbsp;
                    critical
                    <input class="form-control" type="number" size="8" min="1" max="365" style="width:140px;" ng-model="edit_obj.date_critical_value"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.static.asset.template.copy.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Base Settings</legend>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField icsw-formlabel">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control maxwidth500" ng-model="new_obj.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField icsw-formlabel">
                    Description
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control maxwidth500" ng-model="new_obj.description"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>
