{% extends "main.html" %}

{% load i18n extra_tags coffeescript %}

{% block title %}{% trans "Kernel Overview" %}{% endblock %}

{% block content %}

<h1 class="center">Kernels (<span id="num_kernels">???</span> defined), <input type="button" value="rescan" id="rescan_kernels"/></h1>
<div id="kernel_list"></div>

<div id="found_kernels"></div>

<div id="kernel_detail"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

class kernel_tree
    constructor: (@list_div, @found_div, @detail_div) ->
        @kernels = undefined
        $("input#rescan_kernels").on("click", @rescan_kernels)
        @load_kernels()
    rescan_kernels: () =>
        $.ajax
            url     : "{% url 'setup:rescan_kernels' %}"
            success : (xml) =>
                parse_xml_response(xml)
    load_kernels: () =>
        $.ajax
            url     : "{% url 'setup:kernel_overview' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @kernels = $(xml).find("response")
                    @show_all_kernels()
    show_all_kernels: () =>
        # clear divs
        @detail_div.children().remove()
        @found_div.children().remove()
        $("span#num_kernels").text(@kernels.find("kernel").length)
        kernel_ma = {
            "kernel" : new draw_setup("Kernels", "kernel", "kernel",
                undefined,
                undefined,
                [
                    new draw_info("name", {size : 40, ro : true}),
                    new draw_info("enabled", {boolean : true}),
                    new draw_info("version", {ro : true, integer : true}),
                    new draw_info("release", {ro : true, integer : true}),
                    #new draw_info("architecture", {ro : true, text_source : "architectures architecture"}),
                    #new draw_info("sys_vendor", {ro : true}),
                    new draw_info("major", {ro : true}),
                    new draw_info("minor", {ro : true}),
                    new draw_info("bitcount", {ro : true}),
                    new draw_info("delete", {button : true, trigger : true, change_cb : @delete_kernel}),
                ],
                {change : true},
            )
        }
        draw_ds_tables(@list_div, kernel_ma, @kernels)
    delete_kernel : (event) =>
        kern_pk = $(event.target).attr("id").split("__")[1]
        cur_kern = @kernels.find("kernels kernel[pk='#{kern_pk}']")
        if not parseInt(cur_kern.attr("usecount"))
            if confirm("Really delete kernel #{cur_kern.attr('name')} ?")
                $.ajax
                    url     : "{% url 'setup:delete_kernel' %}"
                    data    : {
                        "pk" : kern_pk
                    }
                    success : (xml) =>
                        if parse_xml_response(xml)
                            @load_kernels()
        else
            alert("kernel #{cur_kern.attr('name')} has an usecount of #{cur_kern.attr('usecount')}")

add_handlers = ->
    my_it = new kernel_tree($("div#kernel_list"), $("div#found_kernels"), $("div#kernel_detail"))

$(document).ready(add_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
