<config>
    <routes>
        <route name="login">
            <stateData url="/login" templateUrl="icsw/login.html"/>
            <icswData pageTitle="ICSW Login"></icswData>
        </route>
        <route name="main">
            <stateData
                url="/main"
                templateUrl="icsw/main.html"
                abstract_bool="yes"
                controller="icswMainCtrl"
            />
            <icswData pageTitle="ICSW Main page"></icswData>
        </route>
        <route name="main.devicecreate">
            <stateData url="/devicecreate" templateUrl="icsw/main/device/create.html"/>
            <icswData pageTitle="Add new Device" validForQuicklink_bool="yes">
                <rights>
                    <value>backbone.user.modify_tree</value>
                </rights>
                <description>
                    <infoText language="en">Create a new device</infoText>
                    <infoText language="de">Erzeuge neues Geräte</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.setupprogress">
            <stateData url="/setup/progress" templateUrl="icsw/setup/progress"/>
            <icswData pageTitle="Setup Progress">
                <description>
                    <infoText language="en">Show the setup progress of the system and devices</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.deviceinfo">
            <stateData url="/deviceinfo" templateUrl="icsw/simple/device/info"/>
            <icswData pageTitle="Device Information">
                <dashboardEntry sizeX_int="4" sizeY_int="3" allowState_bool="yes"/>
                <rights>
                    <value>backbone.user.modify_tree</value>
                </rights>
                <description>
                    <infoText language="en">A detailed view of devices and device groups</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devtree">
            <stateData url="/devtree" templateUrl="icsw/main/device/tree.html"/>
            <icswData pageTitle="Device Tree">
                <dashboardEntry sizeX_int="2" sizeY_int="5"/>
                <rights>
                    <value>backbone.user.modify_tree</value>
                </rights>
                <description>
                    <infoText language="en">A tree-like view of devices and device groups</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.deviceconfig">
            <stateData url="/deviceconfig" templateUrl="icsw/main/device/config.html"/>
            <icswData pageTitle="Assign Configurations" hasDevselFunc_bool="yes">
                <rights>
                    <value>backbone.device.change_config</value>
                </rights>
                <description>
                    <infoText language="en"></infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devicemonconfig">
            <stateData url="/devicemonconfig" templateUrl="icsw/main/device/mon/config.html"/>
            <icswData pageTitle="Assign Monitoring Checks" hasDevselFunc_bool="yes">
                <rights>
                    <value>backbone.device.change_config</value>
                </rights>
                <description>
                    <infoText language="en">Perform monitoring checks on particular devices</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devicesrvconfig">
            <stateData url="/devicesrvconfig" templateUrl="icsw/main/device/srv/config.html"/>
            <icswData pageTitle="Assign System Services" hasDevselFunc_bool="yes">
                <rights>
                    <value>backbone.device.change_config</value>
                </rights>
                <description>
                    <infoText language="en">Enable system services on particular devices</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devicenetwork">
            <stateData url="/network" templateUrl="icsw/device/network/total"/>
            <icswData pageTitle="Network" hasDevselFunc_bool="yes">
                <rights>
                    <value>backbone.device.change_network</value>
                </rights>
                <description>
                    <infoText language="en">Networking and peering configuration</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devvars">
            <stateData url="/variables" templateUrl="icsw/device/variable.html"/>
            <icswData pageTitle="Device variables" hasDevselFunc_bool="yes">
                <rights>
                    <value>backbone.device.change_variables</value>
                </rights>
                <description>
                    <infoText language="en">Define variables and assign them to devices</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.configoverview">
            <stateData url="/configoverview" templateUrl="icsw/main/config/overview.html"/>
            <icswData pageTitle="Assignable Configuration Setup">
                <rights>
                    <value>backbone.device.change_config</value>
                </rights>
                <description>
                    <infoText language="en">Add and modify assignable monitoring checks and system services</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.moncheckoverview">
            <stateData url="/moncheckoverview" templateUrl="icsw/main/moncheck/overview.html"/>
            <icswData pageTitle="Monitoring checks Setup">
                <rights>
                    <value>backbone.device.change_config</value>
                </rights>
                <description>
                    <infoText language="en">Add and modify assignable monitoring checks</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.domaintree">
            <stateData url="/domaintree" templateUrl="icsw/main/device/domaintree.html"/>
            <icswData pageTitle="Domain Names">
                <rights>
                    <value>backbone.user.modify_domain_name_tree</value>
                </rights>
                <description>
                    <infoText language="en">Manage DNS entries</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.categorytree">
            <stateData url="/categorytree" templateUrl="icsw/main/category/tree.html"/>
            <icswData pageTitle="Categories">
                <rights>
                    <value>backbone.user.modify_category_tree</value>
                </rights>
                <description>
                    <infoText language="en">Organize devices into different device categories</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devlocation">
            <stateData url="/devlocation" templateUrl="icsw/main/device/location.html"/>
            <icswData pageTitle="Locations">
                <rights>
                    <value>backbone.user.modify_category_tree</value>
                </rights>
                <description>
                    <infoText language="en">Manage geographic locations and assign devices to them</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.deviceconnection">
            <stateData url="/deviceconnection" templateUrl="icsw/main/device/connection.html"/>
            <icswData pageTitle="Power Controlling Connections" hasDevselFunc_bool="yes">
                <rights>
                    <value>backbone.device.change_connection</value>
                </rights>
                <description>
                    <infoText language="en">IPMI configuration</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.scheddevice">
            <stateData url="/sched/device" templateUrl="icsw/main/schedule/device.html"/>
            <icswData pageTitle="Scheduling">
                <rights>
                    <value>backbone.device.dispatch_settings</value>
                </rights>
                <description>
                    <infoText language="en">Manage scheduling definitions</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.livestatus">
            <stateData url="/livestatus/all" templateUrl="icsw/device/livestatus"/>
            <icswData pageTitle="Liveview Dashboard">
                <licenses>
                    <value>monitoring_dashboard</value>
                </licenses>
                <dashboardEntry sizeX_int="4" sizeY_int="4"/>
                <rights>
                    <value>backbone.mon_check_command.show_monitoring_dashboard</value>
                </rights>
                <description>
                    <infoText language="en">A customizable view on your monitoring data</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.monitorov">
            <stateData url="/monitorov" templateUrl="icsw/monitoring/list/overview"/>
            <icswData pageTitle="Overview">
                <rights>
                    <value>backbone.mon_check_command.setup_monitoring</value>
                </rights>
                <description>
                    <infoText language="en">Visualize the chronological evolution of the device availability</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.graph">
            <stateData url="/graph" templateUrl="icsw.rrd.graph"/>
            <icswData pageTitle="Show Graphs">
                <licenses>
                    <value>graphing</value>
                </licenses>
                <dashboardEntry sizeX_int="3" sizeY_int="3" allowState_bool="yes"/>
                <rights>
                    <value>backbone.device.show_graphs</value>
                </rights>
                <description>
                    <infoText language="en">Visualize graphing results</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.monitordisk">
            <stateData url="/monitordisk" templateUrl="icsw/device/partition/overview"/>
            <icswData pageTitle="Disk Information">
                <rights>
                    <value>backbone.mon_check_command.setup_monitoring</value>
                </rights>
                <description>
                    <infoText language="en">TODO: should be removed</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.statushistory">
            <stateData url="/statushistory" templateUrl="icsw/main/status_history.html"/>
            <icswData pageTitle="Device Availability">
                <licenses>
                    <value>reporting</value>
                </licenses>
                <dashboardEntry sizeX_int="4" sizeY_int="4"/>
                <rights>
                    <value>backbone.device.show_status_history</value>
                </rights>
                <description>
                    <infoText language="en">A detailed view of the result with respect to a particular device and monitoring check</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.eventlog">
            <stateData url="/eventlog" templateUrl="icsw/discovery/event/log"/>
            <icswData pageTitle="Syslog, WMI- and IPMI-Event Logs">
                <licenses>
                    <value>discovery_server</value>
                </licenses>
                <rights>
                    <value>backbone.device.discovery_server</value>
                </rights>
                <description>
                    <infoText language="en">TODO</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.monitorbuildinfo">
            <stateData url="/monitorbuildinfo" templateUrl="icsw/monitoring/build/info"/>
            <icswData pageTitle="Monitoring Control and Buildinfo">
                <rights>
                    <value>backbone.mon_check_command.setup_monitoring</value>
                </rights>
                <description>
                    <infoText language="en">Trigger a monitoring configuration re-build</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.locationtest">
            <stateData url="/devlocationtest" templateUrl="icsw/device/location/overview"/>
            <icswData pageTitle="Location Service">
                    <description>
                        <infoText language="en">TODO: Should be removed</infoText>
                    </description>
            </icswData>
        </route>
        <route name="main.kpievaluation">
            <stateData url="/kpi/evaluation" templateUrl="icsw/config/kpi/evaluation/table"/>
            <icswData pageTitle="KPIs">
                <licenses>
                    <value>kpi</value>
                </licenses>
                <rights>
                    <value>backbone.kpi.kpi</value>
                </rights>
                <description>
                    <infoText language="en">Extract KPIs from the monitoring results</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.kpisettings">
            <stateData url="/kpi/config" templateUrl="icsw/config/kpi"/>
            <icswData pageTitle="Key Performance Indicator Setup">
                <licenses>
                    <value>kpi</value>
                </licenses>
                <rights>
                    <value>backbone.kpi.kpi</value>
                </rights>
                <description>
                    <infoText language="en">Define KPIs by means of customizable pipelines</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.monitorbasics">
            <stateData url="/monitorbasics" templateUrl="icsw/monitoring/setup"/>
            <icswData pageTitle="Monitoring Setup">
                <rights>
                    <value>backbone.mon_check_command.setup_monitoring</value>
                </rights>
                <description>
                    <infoText language="en">General monitoring configuration</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.monitorhint">
            <stateData url="/monitorhint" templateUrl="icsw/device/mon/config"/>
            <icswData pageTitle="Monitoring Hints">
                <rights>
                    <value>backbone.mon_check_command.setup_monitoring</value>
                </rights>
                <description>
                    <infoText language="en">TODO</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.monitordevice">
            <stateData url="/monitordevice" templateUrl="icsw/monitoring/device"/>
            <icswData pageTitle="Monitoring Device Settings">
                <rights>
                    <value>backbone.mon_check_command.setup_monitoring</value>
                    <value>backbone.device.change_monitoring</value>
                </rights>
                <description>
                    <infoText language="en">Device-specific monitoring configuration</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.devasset">
            <stateData url="/asset" templateUrl="icsw/device/asset/overview"/>
            <icswData pageTitle="Asset Runs">
                <serviceTypes>
                    <value>discovery_server</value>
                </serviceTypes>
                <dashboardEntry sizeX_int="3" sizeY_int="3" allowState_bool="yes"/>
                <rights>
                    <value>backbone.device.assets</value>
                </rights>
                <description>
                    <infoText language="en">Show the result of asset runs</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.schedoverviewasset">
            <stateData url="/sched/overview" templateUrl="icsw/device/schedule/overview"/>
            <icswData pageTitle="Schedule settings">
                <rights>
                    <value>backbone.dispatchersetting.setup</value>
                </rights>
                <description>
                    <infoText language="en">Manage scheduling settings for asset runs</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.schedasset">
            <stateData url="/sched/asset" templateUrl="icsw/schedule/device"/>
            <icswData pageTitle="Schedule Asset Run">
                <rights>
                    <value>backbone.device.dispatch_settings</value>
                </rights>
                <description>
                    <infoText language="en">Show the time of the next scheduled assets runs</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.report">
            <stateData url="/report" templateUrl="icsw/device/report/overview"/>
            <icswData pageTitle="Reporting">
                <dashboardEntry sizeX_int="3" sizeY_int="3" allowState_bool="yes"/>
                <rights>
                    <value>backbone.device.assets</value>
                </rights>
                <description>
                    <infoText language="en">Generate asset reports</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.statictemplates">
            <stateData url="/sched/stattemp" templateUrl="icsw/static/asset/template/overview"/>
            <icswData pageTitle="Static Asset Templates">
                <rights>
                    <value>backbone.staticassettemplate.setup</value>
                </rights>
                <description>
                    <infoText language="en">Define custom asset types</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.inventorystaticoverview">
            <stateData url="/inventory/overview" templateUrl="icsw/device/inventory/static/overview"/>
            <icswData pageTitle="Static Asset Overview">
                <rights>
                    <value>backbone.staticassettemplate.setup</value>
                </rights>
                <description>
                    <infoText language="en">An overview of the assignment of custom asset types</infoText>
                </description>
            </icswData>
        </route>
        <route name="main.deployboot">
            <stateData url="/deployboot" templateUrl="icsw/main/deploy/boot.html"/>
            <icswData pageTitle="Boot nodes" hasDevselFunc_bool="yes">
                <serviceTypes>
                    <value>mother_server</value>
                </serviceTypes>
                <rights>
                    <value>backbone.device.change_boot</value>
                </rights>
                <licenses>
                    <value>netboot</value>
                </licenses>
            </icswData>
        </route>
        <route name="main.imagekernel">
            <stateData url="/imagekernel" templateUrl="icsw/main/imagekernel.html"/>
            <icswData pageTitle="Images and Kernels">
                <licenses>
                    <value>netboot</value>
                </licenses>
                <rights>
                    <value>backbone.image.modify_images</value>
                    <value>backbone.kernel.modify_kernels</value>
                </rights>
            </icswData>
        </route>
        <route name="main.partition">
            <stateData url="/partition" templateUrl="icsw/main/partition.html"/>
            <icswData pageTitle="Partition overview">
                <licenses>
                    <value>netboot</value>
                </licenses>
                <rights>
                    <value>backbone.partition_fs.modify_partitions</value>
                </rights>
            </icswData>
        </route>
        <route name="main.packageinstall">
            <stateData url="/packageinstall" templateUrl="icsw/package/install/overview"/>
            <icswData pageTitle="Package install" hasDevselFunc_bool="yes">
                <licenses>
                    <value>package_install</value>
                </licenses>
                <rights>
                    <value>backbone.package.package_install</value>
                </rights>
            </icswData>
        </route>
        <route name="main.rmsoverview">
            <stateData url="/rmsoverview" templateUrl="icsw/main/rms/overview.html"/>
            <icswData pageTitle="RMS Overview">
                <serviceTypes>
                    <value>rms_server</value>
                </serviceTypes>
                <dashboardEntry sizeX_int="4" sizeY_int="6"/>
                <rights>
                    <value>backbone.user.rms_show</value>
                </rights>
                <licenses>
                    <value>rms</value>
                </licenses>
            </icswData>
        </route>
        <route name="main.licoverview">
            <stateData url="/licoverview" templateUrl="icsw/main/rms/licoverview.html"/>
            <icswData pageTitle="License Liveview">
                <serviceTypes>
                    <value>rms_server</value>
                </serviceTypes>
                <dashboardEntry sizeX_int="2" sizeY_int="6"/>
                <rights>
                    <value>backbone.user.license_liveview</value>
                </rights>
                <licenses>
                    <value>ext_license</value>
                </licenses>
            </icswData>
        </route>
        <route name="main.backgroundinfo">
            <stateData url="/sysbackgroundinfo" templateUrl="icsw/main/sysbackgroundinfo.html"/>
            <icswData pageTitle="Background Job Information">
                <rights>
                    <value>backbone.background_job.show_background</value>
                </rights>
            </icswData>
        </route>
        <route name="main.history">
            <stateData url="/history" templateUrl="icsw/history/overview"/>
            <icswData pageTitle="Database History">
                <rights>
                    <value>backbone.user.snapshots</value>
                </rights>
            </icswData>
        </route>
        <route name="main.serverinfo">
            <stateData url="/serverinfo&quot;" templateUrl="icsw/main/serverinfo.html"/>
            <icswData pageTitle="Server Information">
                <rights>
                    <value>$$CHECK_FOR_SUPERUSER</value>
                </rights>
            </icswData>
        </route>
        <route name="main.statelist">
            <stateData url="/statelist" templateUrl="icsw/internal/state/list"/>
            <icswData pageTitle="Internal State list">
                <rights>
                    <value>$$CHECK_FOR_SUPERUSER</value>
                </rights>
            </icswData>
        </route>
        <route name="main.usertree">
            <stateData url="/usertree" templateUrl="icsw/main/user/tree.html"/>
            <icswData pageTitle="Usermanagement">
                <rights>
                    <value>backbone.group.group_admin</value>
                </rights>
            </icswData>
        </route>
        <route name="main.syslicenseoverview">
            <stateData url="/syslicenseoverview" templateUrl="icsw/main/license/overview.html"/>
            <icswData pageTitle="License Information" validForQuicklink_bool="yes">
                <rights>
                    <value>$$CHECK_FOR_SUPERUSER</value>
                </rights>
            </icswData>
        </route>
        <route name="main.schedoverview">
            <stateData url="/sched/overview" templateUrl="icsw/device/schedule/overview"/>
            <icswData pageTitle="Schedule Settings">
                <rights>
                    <value>backbone.dispatchersetting.setup</value>
                </rights>
            </icswData>
        </route>
        <route name="main.useraccount">
            <stateData url="/useraccount" templateUrl="icsw/main/user/account.html"/>
            <icswData pageTitle="Account Info">
                    </icswData>
        </route>
        <route name="main.empty">
            <stateData url="/empty" templateUrl="icsw/main/empty.html"/>
            <icswData pageTitle="Placeholder">
                    </icswData>
        </route>
        <route name="logout">
            <stateData url="/empty" templateUrl="icsw/logout.html"/>
            <icswData pageTitle="Logout">
                    </icswData>
        </route>
        <route name="main.dashboard">
            <stateData url="/dashboard" templateUrl="icsw/main/dashboard.html"/>
            <icswData pageTitle="Dashboard"/>
        </route>
        <route name="main.userjobinfo">
            <stateData url="/userjobinfo" templateUrl="icsw.dashboard.jobinfo"/>
            <icswData pageTitle="RMS Information">
                <licenses>
                    <value>rms</value>
                </licenses>
                <serviceTypes>
                    <value>rms_server</value>
                </serviceTypes>
                <dashboardEntry sizeX_int="3" sizeY_int="2"/>
                <rights>
                    <value>backbone.user.rms_show</value>
                </rights>
            </icswData>
        </route>
        <route name="main.userquotainfo">
            <stateData url="/userquotainfo" templateUrl="icsw.dashboard.diskquota"/>
            <icswData pageTitle="User Disk and Quota info">
                <dashboardEntry sizeX_int="3" sizeY_int="2"/>
            </icswData>
        </route>
        <route name="main.virtualdesktopinfo">
            <stateData url="/vduinfo" templateUrl="icsw.dashboard.virtualdesktops"/>
            <icswData pageTitle="Virtual Desktops">
                <dashboardEntry sizeX_int="3" sizeY_int="2"/>
            </icswData>
        </route>
        <route name="main.quicklinks">
            <stateData url="/quicklinks" templateUrl="icsw.dashboard.quicklinks"/>
            <icswData pageTitle="Quicklinks">
                <dashboardEntry sizeX_int="2" sizeY_int="1" defaultEnabled_bool="yes"/>
            </icswData>
        </route>
        <route name="main.externallinks">
            <stateData url="/externallinks" templateUrl="icsw.dashboard.externallinks"/>
            <icswData pageTitle="External links">
                <dashboardEntry sizeX_int="2" sizeY_int="1"/>
            </icswData>
        </route>
    </routes>
    <menu>
        <menuHeader name="Devices" icon="fa-desktop" side="left">
            <routeSubGroup name="Settings">
                <menuEntry icon="fa-plus-circle" name="Add new Device" routeName="main.devicecreate"/>
                <menuEntry icon="fa-cubes" name="Setup Progress" routeName="main.setupprogress"/>
                <menuEntry icon="fa-bars" name="Device Information" routeName="main.deviceinfo"/>
                <menuEntry icon="fa-tree" name="Device Tree" routeName="main.devtree"/>
                <menuEntry icon="fa-check-square" name="Assign Configurations" routeName="main.deviceconfig"/>
                <menuEntry icon="fa-check-square" name="Assign Monitoring checks" routeName="main.devicemonconfig"/>
                <menuEntry icon="fa-check-square" name="Assign System Services" routeName="main.devicesrvconfig"/>
                <menuEntry icon="fa-sitemap" routeName="main.devicenetwork" name="Network"/>
                <menuEntry icon="fa-code" name="Variables" routeName="main.devvars"/>
            </routeSubGroup>
            <routeSubGroup name="Attributes">
                <menuEntry icon="fa-check-square-o" name="Assignable Configuration Setup" routeName="main.configoverview"/>
                <menuEntry icon="fa-check-square-o" name="Monitoringcheck Setup" routeName="main.moncheckoverview"/>
                <menuEntry icon="fa-list-alt" routeName="main.domaintree" name="Domain Names"/>
                <menuEntry icon="fa-table" name="Categories" routeName="main.categorytree"/>
                <menuEntry icon="fa-map-marker" name="Locations" routeName="main.devlocation"/>
                <menuEntry icon="fa-plug" name="Power Controlling Connections" routeName="main.deviceconnection"/>
                <menuEntry icon="fa-clock-o" name="Scheduling" routeName="main.scheddevice"/>
            </routeSubGroup>
        </menuHeader>
        <menuHeader name="Monitoring" icon="fa-eye" side="left">
            <routeSubGroup name="Status">
                <menuEntry icon="fa-dot-circle-o" routeName="main.livestatus" name="Liveview Dashboard"/>
                <menuEntry icon="fa-list" name="Monitoring Overview" routeName="main.monitorov"/>
                <menuEntry icon="fa-line-chart" routeName="main.graph" name="Show Graphs"/>
                <menuEntry icon="fa-hdd-o" routeName="main.monitordisk" name="Disk Information"/>
                <menuEntry icon="fa-pie-chart" routeName="main.statushistory" name="Device Availability"/>
                <menuEntry icon="fa-list-alt" name="Event Logs" routeName="main.eventlog"/>
                <menuEntry icon="fa-info-circle" name="Control and Info" routeName="main.monitorbuildinfo"/>
                <menuEntry icon="fa-map-marker" name="Location Service" routeName="main.locationtest"/>
                <menuEntry icon="fa-code-fork" name="Key Performance Indicators" routeName="main.kpievaluation"/>
            </routeSubGroup>
            <routeSubGroup name="Settings">
                <menuEntry icon="fa-code-fork" name="KPI Setup" routeName="main.kpisettings"/>
                <menuEntry icon="fa-wrench" name="Monitoring Setup" routeName="main.monitorbasics"/>
                <menuEntry icon="fa-info" routeName="main.monitorhint" name="Monitoring Hints"/>
                <menuEntry icon="fa-laptop" name="Device Settings" routeName="main.monitordevice"/>
            </routeSubGroup>
            <routeSubGroup name="Asset System">
                <menuEntry icon="fa-diamond" routeName="main.devasset" name="Asset Runs"/>
                <menuEntry icon="fa-gears" name="Schedule Settings" routeName="main.schedoverviewasset"/>
                <menuEntry icon="fa-clock-o" name="Schedule Asset Run" routeName="main.schedasset"/>
                <menuEntry icon="fa-book" routeName="main.report" name="Reporting"/>
                <menuEntry icon="fa-reorder" name="Static Asset Templates" routeName="main.statictemplates"/>
                <menuEntry icon="fa-reorder" name="Static Asset Overview" routeName="main.inventorystaticoverview"/>
            </routeSubGroup>
        </menuHeader>
        <menuHeader name="HPC" icon="fa-cloud" side="left">
            <routeSubGroup name="Cluster">
                <menuEntry icon="fa-rocket" routeName="main.deployboot" name="Boot nodes"/>
                <menuEntry icon="fa-linux" routeName="main.imagekernel" name="Images and Kernels"/>
                <menuEntry icon="fa-database" routeName="main.partition" name="Partition overview"/>
                <menuEntry icon="fa-download" routeName="main.packageinstall" name="Package install"/>
            </routeSubGroup>
            <routeSubGroup name="RMS">
                <menuEntry icon="fa-table" name="RMS Overview" routeName="main.rmsoverview"/>
                <menuEntry icon="fa-line-chart" name="License Liveview" routeName="main.licoverview"/>
            </routeSubGroup>
        </menuHeader>
        <menuHeader name="$$USER_INFO" icon="fa-cog" side="right">
            <routeSubGroup name="History">
                <menuEntry icon="fa-list" name="Background Job Info" routeName="main.backgroundinfo"/>
                <menuEntry icon="fa-history" name="Database History" routeName="main.history"/>
            </routeSubGroup>
            <routeSubGroup name="Miscellaneous">
                <menuEntry icon="fa-info" name="Server Information" routeName="main.serverinfo"/>
                <menuEntry icon="fa-bars" routeName="main.statelist" name="Internal State list"/>
                <menuEntry icon="fa-user" name="User" routeName="main.usertree"/>
                <menuEntry icon="fa-key" name="License" routeName="main.syslicenseoverview"/>
                <menuEntry icon="fa-clock-o" name="Schedule Settings" routeName="main.schedoverview"/>
            </routeSubGroup>
            <routeSubGroup name="My Settings">
                <menuEntry icon="fa-info" name="Account Info" routeName="main.useraccount"/>
                <menuEntry icon="fa-sign-out" name="Logout" title="Logout and remember selection" routeName="logout"/>
            </routeSubGroup>
        </menuHeader>
    </menu>
    <tasks>
        <task name="Add device">
            <description>
                <infoText language="en">Add a new device and configure it</infoText>
            </description>
            <taskStep routeName="main.devicecreate"></taskStep>
            <taskStep routeName="main.deployboot"></taskStep>
            <taskStep routeName="main.useraccount"></taskStep>
        </task>
        <task name="Boot Node">
            <description>
                <infoText language="en">Define a device as HPC node and boot it via CORVUS</infoText>
            </description>
            <taskStep routeName="main.partition"></taskStep>
            <taskStep routeName="main.imagekernel"></taskStep>
            <taskStep routeName="main.packageinstall"></taskStep>
            <taskStep routeName="main.deployboot"></taskStep>
        </task>
    </tasks>
</config>
