<instances>
    <instance check_type="meta" name="logcheck-server" pid_file_name="logcheck-server/logcheck-server.pid" has_force_stop="1" meta_server_name="logcheck-server">
        <config_names>
            <config_name>syslog_server</config_name>
        </config_names>
        <start-argument>
            <arg key="user">idlog</arg>
            <arg key="group">idg</arg>
        </start-argument>
        <old-binary>logcheck-server</old-binary>
    </instance>
    <instance check_type="meta" name="package-server" pid_file_name="package-server/package-server.pid" has_force_stop="1">
        <config_names>
            <config_name>package_server</config_name>
        </config_names>
        <start-argument>
            <arg key="user">idpacks</arg>
            <arg key="group">idg</arg>
        </start-argument>
        <module-name>package_install.server</module-name>
        <old-binary>package-server</old-binary>
    </instance>
    <instance check_type="meta" name="mother" pid_file_name="mother/mother.pid" has_force_stop="1">
        <config_names>
            <config_name>mother_server</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="collectd-init" runs_on="server" has_force_stop="1" pid_file_name="collectd-init/collectd-init.pid" meta_server_name="collectd-init">
        <config_names>
            <config_name>rrd_server</config_name>
        </config_names>
        <start-argument>
            <arg key="user">idrrd</arg>
            <arg key="group">idg</arg>
        </start-argument>
        <module-name>collectd</module-name>
        <programm-name>collectd</programm-name>
        <programm-title>icsw.collectd</programm-title>
        <old-binary>collectd-init</old-binary>
    </instance>
    <instance name="memcached" check_type="simple" pid_file_name="memcached/memcached.pid" any_threads_ok="1" runs_on="system">
        <config_names>
            <config_name>server</config_name>
        </config_names>
    </instance>
    <instance name="nginx" check_type="simple" pid_file_name="nginx.pid" any_threads_ok="1" runs_on="system">
        <config_names>
            <config_name>server</config_name>
        </config_names>
    </instance>
    <instance name="icinga" check_type="simple" pid_file_name="/opt/icinga/var/icinga.lock" any_threads_ok="1" runs_on="system">
        <config_names>
            <config_name>monitor_server</config_name>
            <config_name>monitor_master</config_name>
        </config_names>
    </instance>
    <instance name="uwsgi-init" check_type="simple" pid_file_name="uwsgi-init.pid" any_threads_ok="1" runs_on="system">
        <config_names>
            <config_name>server</config_name>
        </config_names>
    </instance>
    <instance name="rrdcached" check_type="pid_file" any_threads_ok="1" runs_on="system" pid_file_name="rrdcached/rrdcached.pid" startstop="0">
        <config_names>
            <config_name>rrd_server</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="rrd-grapher" pid_file_name="rrd-grapher/rrd-grapher.pid" has_force_stop="1">
        <config_names>
            <config_name>rrd_server</config_name>
        </config_names>
        <start-argument>
            <arg key="user">idrrd</arg>
            <arg key="group">idg</arg>
        </start-argument>
        <module-name>rrd_grapher</module-name>
        <programm-name>rrd-grapher</programm-name>
        <programm-title>icsw.rrd-grapher</programm-title>
        <old-binary>rrd-grapher</old-binary>
    </instance>
    <instance check_type="meta" name="rms-server" pid_file_name="rms-server/rms-server.pid" has_force_stop="1" meta_server_name="rms-server">
        <config_names>
            <config_name>sge_server</config_name>
            <config_name>rms_server</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="cluster-server" has_force_stop="1">
        <config_names>
            <config_name>server</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="discovery-server" pid_file_name="discovery-server/discovery-server.pid" has_force_stop="1">
        <config_names>
            <config_name>discovery_server</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="cluster-config-server" pid_file_name="cluster-config-server/cluster-config-server.pid" has_force_stop="1">
        <config_names>
            <config_name>config_server</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="host-relay" pid_file_name="collrelay/collrelay.pid" has_force_stop="1" meta_server_name="collrelay">
        <config_names>
            <config_name>monitor_server</config_name>
            <config_name>monitor_master</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="snmp-relay" pid_file_name="snmp-relay/snmp-relay.pid" has_force_stop="1">
        <config_names>
            <config_name>monitor_server</config_name>
            <config_name>monitor_master</config_name>
        </config_names>
    </instance>
    <instance check_type="meta" name="md-config-server" pid_file_name="md-config-server/md-config-server.pid" has_force_stop="1">
        <config_names>
            <config_name>monitor_server</config_name>
            <config_name>monitor_master</config_name>
        </config_names>-
    </instance>
</instances>
