{% extends "initcore/main.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
{% trans "Change language" %}
{% endblock %}

{% block content %}

<h2>{% trans "Change language" %}</h2>

<div id="password_div">
<form id="password_form" method="post" action="{% url "session:change_language" %}">
    <table class="style2" id="lang_form_{{ edit_user.pk }}">
    <tbody>
        {{ form.as_table }}
    </tbody>
    </table>
    <input type="submit" action="submit" value="{% trans "Change language" %}"/>
</form>
</div>
{% endblock %}
