{% extends "initcore/main.html" %}
{% load i18n %}

{% block title %}
{% trans "Change Password" %}
{% endblock %}

{% block content %}

<h2>{% trans "Change Password" %}, {% trans "User" %}: {{ request.user }}</h2>

<div id="password_div">
<form id="password_form" method="post" action="{% url session:change_password %}">
    <table class="style2" id="password_form_{{ edit_user.pk }}">
    <tbody>
        <tr><th colspan="3" class="center ui-widget-header">Password</th></tr>
        {{ password_form.as_table }}
    </tbody>
    </table>
    <input type="submit" action="submit"/>
</form>
</div>
<!--div id="id_change_success" class="red_color" style="display: none;"><h2>{% trans 'Password successfully changed' %}</h2></div-->

{% endblock %}
