{% extends "initcore/main.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{PROJECT_NAME}}{% endblock %}
{% block stylesheets %}{{ login_form.media }}{% endblock %}

{% block body %}

    {% if from_logout %}
        <h2 class="center">{% trans 'Thank you for using' %} {{PROJECT_NAME}}</h2>
    {% endif %}

    {{ login_form.err }}

    <form action="{% url "session:login" %}" method="post">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
            <tr><td width="45%" height="40">&nbsp;</td><td width="400">&nbsp;</td><td width="55%">&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td width="400" height="438" background="{{ MEDIA_URL }}initcore/img/login.jpg" valign="top" align="right">
                <table border="0" width="400" height="140">
                <tr><td valign="bottom" align="right"><h1 class="right" style="margin-right:55px;">{{PROJECT_NAME}} {% trans 'Login' %}</h1></td></tr>

        <table cellpadding="0" style="margin-right:10px;">
            <tr style="">
                <td class="right" style="font-weight:bold;padding-bottom:8px;">{% trans 'Username' %}</td>
                <td style="font-weight:bold;padding-bottom:8px;">{{login_form.username}}</td>
            </tr>
            <tr>
                <td class="right" style="font-weight:bold;padding-bottom:8px;">{% trans 'Password' %}</td>
                <td style="font-weight:bold;padding-bottom:8px;">{{login_form.password}}</td>
            </tr>
            <tr>
                <td colspan="2" class="right"><input style="border: none; background: transparent; font-weight:bold;" type="submit" value="&gt;&gt; {% trans 'Log in' %}" /></td>
            </tr>

        </table>
        <div class="loginerror" style="width:220px;margin:10px;">
        {% if login_form.non_field_errors %}{% trans 'Please enter a valid username and password!' %}{% endif %}
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
        </td><td>&nbsp;</td></tr>
        </table>
    </form>

    <script>
        $(document).ready(function() {
            $("#id_username").focus();
        });
    </script>

{% endblock %}
