<style type="text/css">
div.spinner {
    background-image:url({{ STATIC_URL }}spinner.gif);
    background-repeat: no-repeat;
    float : left;
    width : 16px;
    height : 16px;
}
.ui-layout-north {
    background-color: {{ session.background_color_top }} !important;
    padding: 0px !important;
}
.ui-layout-west {
    background-color: {{ session.background_color_west }} !important;
    padding: 2px !important;
}

div.loginerror {
    color: #AA3333;
    font-weight: bold;
    font-size: 15px;
}
</style>