{% load i18n %}
{% load url from future %}

<!--<h2 align="center" style="font-size:16px;"><font color="#AAAAAA">OLIM V0.{{ SVN_VERSION }}</font></h2>-->
{% if 0 %}
<table width="100%" style="border-bottom: 1px solid #DDDDDD;">
    <tbody>
        <tr>
            <td>{% include 'initcore/mobile_button_form.html'%}</td>
            {% if session.is_mobile %}<td>Logout</td>{% endif %}
        </tr>
    </tbody>
</table>
{% endif %}
Super sidebar :-)
<div id="sidebar_tree">
    <ul>
        <li class="folder">Test item</li>
    </ul>
</div>

<script>

function addHandlers() {
 {#   $("div#sidebar_tree").load("{% url "session:get_menu" "dynatree" %}", function() { #}
        $("#sidebar_tree").dynatree({
            onActivate : function(dtnode) {
                if (dtnode.data.href) {
                    window.location = dtnode.data.href;
                }
            }
        });
{#    });#}
};

$(document).ready(addHandlers);

</script>
