
<script type="text/ng-template" id="icsw.discovery.event_log">
    <h2>
        Event Log
    </h2>
    <tabset>
        <tab ng-repeat="device_pk in device_pks" heading="{{devices_rest[device_pk].full_name}}">
            <alert type="danger">
                <strong>TODO</strong>: Query data from mongo via custom django view
            </alert>

            <table class="table table-condensed table-striped" st-pipe="server_pagination_pipe" st-table="entries">
                <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in entries">
                        <td>
                            {{entry}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</script>
