
<script type="text/ng-template" id="icsw.schedule.overview">
    <uib-alert type="warning" ng-show="struct.loading">Fetching data from server...</uib-alert>
    <h3>
        Dispatch settings ({{ struct.dispatch_tree.list.length }} entries)
        <icsw-tools-button type="create" size="xs" value="create new" ng-click="create_or_edit($event, null, true)"></icsw-tools-button>
    </h3>
    <table
        st-table="entries_displayed"
        st-safe-src="struct.dispatch_tree.list"
        class="table table-condensed table-hover"
        style="width:auto;"
        ng-if="struct.dispatch_tree.list.length"
    >
        <thead>
            <tr>
                <td colspan="99" class="form-inline">
                    <icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                         possible-items-by-page="10,20,50,100,200,500,1000"></icsw-tools-pagination>
                    <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                </td>
            </tr>
            <tr>
                <th st-sort="name" st-sort-default="true">Name</th>
                <th st-sort="description">Description</th>
                <th>Created</th>
                <th>ComCaps</th>
                <th>Schedule</th>
                <th>Startoffset</th>
                <th colspan="1" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in entries_displayed">
                <td>{{ obj.name }}</td>
                <td>{{ obj.description }}</td>
                <td class="text-center">
                    <span ng-show="obj.is_system" class="label label-success">system</span>
                    <span ng-show="!obj.is_system">{{ struct.user_group_tree.user_lut[obj.user].login }}</span>
                </td>
                <td>
                    {{ obj.$$com_caps }}
                </td>
                <td>
                    {{ obj.mult }} {{ struct.dispatch_tree.schedule_lut[obj.run_schedule].name }}
                </td>
                <td class="text-right">
                    {{ obj.$$start_offset }}
                </td>
                <td>
                    <icsw-tools-button ng-if="!obj.is_system" type="modify" size="xs" ng-click="create_or_edit($event, obj, false)"></icsw-tools-button>
                    <icsw-tools-button ng-if="!obj.is_system" type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
                </td>
            </tr>
        </tbody>
    </table>

</script>

<script type="text/ng-template" id="icsw.schedule.dispatch.setting.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Base settings</legend>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3 requiredField">
                    Description
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.description"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Schedule</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Baseline<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.run_schedule" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a baseline">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in dispatch_tree.schedule_list | props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Multiplicator
                </label>
                <div class="controls col-sm-7">
                    <input class="form-control" type="number" min="1" max="365" ng-model="edit_obj.mult"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>ComCapabilities</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    ComCaps
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.com_capabilities" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="Select ComCapabilities">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in com_cap_tree.list | props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Start parameters</legend>
            <div class="form-group" ng-show="dispatch_tree.schedule_lut[edit_obj.run_schedule].$$filter_second">
                <label class="control-label col-xs-3 requiredField">
                    Startsecond
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.sched_start_second"/>
                </div>
            </div>
            <div class="form-group" ng-show="dispatch_tree.schedule_lut[edit_obj.run_schedule].$$filter_minute">
                <label class="control-label col-xs-3 requiredField">
                    Startminute
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.sched_start_minute"/>
                </div>
            </div>
            <div class="form-group" ng-show="dispatch_tree.schedule_lut[edit_obj.run_schedule].$$filter_hour">
                <label class="control-label col-xs-3 requiredField">
                    Starthour
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.sched_start_hour"/>
                </div>
            </div>
            <div class="form-group" ng-show="dispatch_tree.schedule_lut[edit_obj.run_schedule].$$filter_day">
                <label class="control-label col-xs-3 requiredField">
                    Startday
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.sched_start_day"/>
                </div>
            </div>
            <div class="form-group" ng-show="dispatch_tree.schedule_lut[edit_obj.run_schedule].$$filter_week">
                <label class="control-label col-xs-3 requiredField">
                    Startweek
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.sched_start_week"/>
                </div>
            </div>
            <div class="form-group" ng-show="dispatch_tree.schedule_lut[edit_obj.run_schedule].$$filter_month">
                <label class="control-label col-xs-3 requiredField">
                    Startmonth
                </label>
                <div class="controls col-xs-7">
                    <input class="form-control" ng-model="edit_obj.sched_start_month"/>
                </div>
            </div>

        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.schedule.device">

    <uib-alert type="warning" ng-show="struct.loading">Fetching data from server...</uib-alert>
    <h2>Device schedules ({{ struct.devices.length }} entries)</h2>
    <table
        st-table="entries_displayed"
        st-safe-src="struct.devices"
        class="table table-condensed table-hover"
        style="width:auto;"
        ng-if="struct.devices.length"
    >
        <thead>
            <tr>
                <td colspan="99" class="form-inline">
                    <icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                         possible-items-by-page="10,20,50,100,200,500,1000"></icsw-tools-pagination>
                    <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                </td>
            </tr>
            <tr>
                <th st-sort="full_name" st-sort-default="true">Name</th>
                <th st-sort="monitor_checks">Checks</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th>qweqwea</th>
                <th colspan="1" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in entries_displayed">
                <td>{{ obj.full_name }}</td>
                <td>{{ obj.monitor_checks | yesno1 }}</td>
                <td>
                    <icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)" value="modify"/>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.schedule.device.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Basic settings</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Md cache mode<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.md_cache_mode" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a cache mode">
                            {{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in md_cache_modes| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Mon device templ
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.mon_device_templ">
                            <ui-select-match class="ui-select-match" placeholder="please select a device template">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in base_tree.mon_device_templ_list | props_filter:{name:$select.search}">
                                <div ng-bind-html="value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.mon_device_templ = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Mon ext host
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.mon_ext_host">
                            <ui-select-match class="ui-select-match" placeholder="please select an icon">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in base_tree.mon_ext_host_list | props_filter:{name:$select.search}">
                                <img ng-src="{{ value.data_image }}"></img>
                                <span ng-bind-html="value.name | highlight:$select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.mon_ext_host = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Monitor server
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.monitor_server">
                            <ui-select-match class="ui-select-match" placeholder="please select a monitoring server">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in monitor_servers | props_filter:{name:$select.search}">
                                <div ng-bind-html="value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.monitor_server = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Flags</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-8">
                            Enable perfdata, check IPMI and SNMP
                        </label>
                        <div class="controls col-sm-4">
                            <icsw-tools-yes-no flag="edit_obj.enable_perfdata"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-8">
                            Flap detection enabled
                        </label>
                        <div class="controls col-sm-4">
                            <icsw-tools-yes-no flag="edit_obj.flap_detection_enabled"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-8">
                            Checks enabled
                        </label>
                        <div class="controls col-sm-4">
                            <icsw-tools-yes-no flag="edit_obj.monitor_checks"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-8">
                            Resolve to IP for monitoring
                        </label>
                        <div class="controls col-sm-4">
                            <icsw-tools-yes-no flag="edit_obj.mon_resolve_name"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>NagVis settings</legend>
            <div class="form-group">
                <div class="checkbox">
                    <label class="control-label col-sm-3">
                        Automap root nagvis
                    </label>
                    <div class="controls col-sm-9">
                        <icsw-tools-yes-no flag="edit_obj.automap_root_nagvis"></icsw-tools-yes-no>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Nagvis parent
                </label>
                <div class="controls col-sm-7">
                    <div class="input-group" style="max-width:400px; min-width:240px;">
                        <ui-select ng-model="edit_obj.nagvis_parent" ng-disabled="false">
                            <ui-select-match class="ui-select-match" placeholder="select a nagvis parent">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in nagvis_list | orderBy:'name'| props_filter:{name:$select.search}">
                                <div ng-bind-html="value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="edit_obj.nagvis_parent = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>
