[Desktop Entry]
Version=1.0

Type=Application
MimeType=application/icsw-remote-viewer-file

Name=ICSW Remote Viewer

Comment=ICSW Remote Viewer

TryExec=/opt/cluster/bin/icsw_remote_viewer.py
Exec=/opt/cluster/bin/icsw_remote_viewer.py --action handle --config-file %f
Terminal=False
