{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Boot" %}{% endblock %}


{% block content %}

<h1 class="center">Boot settings</h1>

<h3 id="options">
</h3>

<div id="boot">
</div>

<input type="button" id="update_info" value="update info"/>

<script type="text/javascript">

{% inlinecoffeescript %}

class option_list
    constructor: (@dev_xml, @short) ->
        # to proper handle dummy call for get_*info_from_server calls
        if @dev_xml
            @dev_key = @dev_xml.attr("key")
            @set = false
    get_info_from_server: ->
        return true
    get_devlog_info_from_server: ->
        return false
    draw: (boot) =>
        return $("<td>").text("not used")
    set_option: (cur_dev) =>
        if not @set
            @set = true
            if not @_set_option
                console.log "set_option for " + @short + " not set"
            else:
                @_set_option(cur_dev)
        else
            if @_set_option_again
                @_set_option_again(cur_dev)
    full_line: (cur_td) =>
        @cur_td = cur_td
        if not cur_td.attr("colspan")
            cur_td.attr("colspan", 5)
        return $("<tr>").attr("id", @dev_key + "__opt__" + @short).append(cur_td)
    
class kernel_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "k")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("kernel:")
        kernel_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__new_kernel"
        })
        kernel_sel.append($("<option>").attr({"value" : "0"}).text("not set"));
        boot.xml_dict[@short].find("kernel").each (k_idx, cur_kernel) =>
            cur_kernel = $(cur_kernel)
            kernel_sel.append($("<option>").attr({"value" : cur_kernel.attr("pk")}).text(cur_kernel.attr("name")));
        cur_td.append(kernel_sel)
        cur_td.append(", actual kernel: ").append($("<span>").attr({
            "id" : @dev_key + "__act_kernel"
        }))
        cur_td.append(", stage 1 flavour : ")
        stage1_flav = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__kernel_flavour"
        })
        stage1_flav.append($("<option>").attr({"value" : "none"}).text("not set"))
        stage1_flav.append($("<option>").attr({"value" : "cpio"}).text("CPIO"))
        stage1_flav.append($("<option>").attr({"value" : "cramfs"}).text("CramFS"))
        stage1_flav.append($("<option>").attr({"value" : "lo"}).text("ext2 via Loopback"))
        cur_td.append(stage1_flav)
        cur_td.append(", kernel append:")
        cur_td.append($("<input>").attr({
            "type"     : "text",
            "id"       : @dev_key + "__kernel_append",
            "disabled" : "disabled"}))
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        new_kernel = @cur_td.find("select#" + @dev_key + "__new_kernel")
        act_kernel = @cur_td.find("span#" + @dev_key + "__act_kernel")
        stage1_flav = @cur_td.find("select#" + @dev_key + "__kernel_flavour")
        kernel_append = @cur_td.find("input#" + @dev_key + "__kernel_append")
        new_kernel.val(dev_xml.attr("new_kernel"))
        kernel_append.val(dev_xml.attr("new_append"))
        stage1_flav.val(dev_xml.attr("stage1_flavour"))
        new_kernel.removeAttr("disabled")
        stage1_flav.removeAttr("disabled")
        kernel_append.removeAttr("disabled")
        new_kernel.bind("change", @change)
        stage1_flav.bind("change", @change)
        kernel_append.bind("change", @change)
        return true
    change: (event) =>
        $.ajax
            url     : "{% url boot:set_kernel %}"
            data    : create_dict(@cur_td, @dev_key)
            error   : handle_ajax_error
            success : (xml) =>
                parse_xml_response(xml)

class hard_control_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "h")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("hard control:")
        hard_con = $("<span>").attr({
            "id"       : @dev_key + "__hard_control",
            "disabled" : "disabled"
        }).text("waiting")
        cur_td.append(hard_con)
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        new_hcon = @cur_td.find("span#" + @dev_key + "__hard_control");
        if dev_xml.find("cd_connection").length
            new_hcon.text("")
            dev_xml.find("cd_connection").each (index, new_cd) =>
                new_cd = $(new_cd)
                new_hcon.append(new_cd.attr("parent_name") + " : ")
                new_el = $("<select>").attr({
                    "id" : @dev_key + "__" + new_cd.attr("key")
                }).bind("change", @change)
                new_el.append($("<option>").attr(
                    {"value" : "0"}).text("---"))
                for value in ["on", "off", "cycle"]
                    hd_opt = $("<option>").attr({
                        "value" : value}).text(value)
                    new_el.append(hd_opt)
                new_hcon.append(new_el)
            new_hcon.removeAttr("disabled")
        else
            new_hcon.text("nothing found")
    change: (event) =>
        cur_el = $(event.target)
        $.ajax
            url     : "{% url boot:hard_control %}"
            error   : handle_ajax_error
            data    : {
                "cd_id" : cur_el.attr("id")
                "value" : cur_el.val()
            }
            error   : handle_ajax_error,
            success : (xml) =>
                parse_xml_response(xml)
        cur_el.val("0")

class soft_control_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "s")
    get_info_from_server: ->
        return false
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("soft control:")
        for value in ["status", "reboot", "halt", "poweroff"]
            radio_el = $("<input>").attr({
                "type"    : "radio",
                "name"    : @dev_key + "__soft_control",
                "id"      : @dev_key + "__" + value,
                "value"   : value}).bind("click", @soft_control)
            if value == "status"
                radio_el.attr("checked", "checked")
            cur_td.append(radio_el).append($("<span>").text(value))
        return @full_line(cur_td)
    soft_control: (event) =>
        cur_el = $(event.target)
        if cur_el.val() != "status"
            $.ajax
                url     : "{% url boot:soft_control %}"
                error   : handle_ajax_error
                data    : {
                    "key" : cur_el.attr("id")
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        cur_el.removeAttr("checked")
                        $("input[type='radio'][id='" + @dev_key + "__status']").attr("checked", "checked")
    _set_option: (dev_xml) =>

class target_state_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "t")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("target state:")
        target_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__target_state"
        })
        target_sel.append($("<option>").attr({"value" : "0__0"}).text("not set"))
        boot.xml_dict[@short].find("status").each (index, cur_tstate) =>
            cur_tstate = $(cur_tstate)
            target_sel.append($("<option>").attr({"value" : cur_tstate.attr("pk") + "__" + cur_tstate.attr("prod_net")}).text(cur_tstate.text()))
        cur_td.append(target_sel)
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        target_state = @cur_td.find("select#" + @dev_key + "__target_state")
        target_state.val(dev_xml.attr("full_new_state"))
        target_state.removeAttr("disabled")
        target_state.bind("change", @change)
    change: (event) =>
        $.ajax
            url     : "{% url boot:set_target_state %}"
            data    : {
                "dev_id"    : @dev_key,
                "new_state" : @cur_td.find("select#" + @dev_key + "__target_state").val()
            }
            error   : handle_ajax_error
            success : (xml) =>
                parse_xml_response(xml)

class boot_device_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "b")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("MAC Address of bootdevice ")
        cur_td.append($("<span>").attr({
            "id" : @dev_key + "__boot_dev_name"}).text("---"))
        cur_td.append(":")
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__boot_dev_macaddr",
            "type"     : "text",
            "disabled" : "disabled"}));
        cur_td.append(", DHCP: ");
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__write_dhcp",
            "type"     : "checkbox",
            "disabled" : "disabled"}));
        cur_td.append(", driver: ");
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__boot_dev_driver",
            "type"     : "text",
            "disabled" : "disabled"}));
        cur_td.append(", greedy mode: ");
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__greedy_mode",
            "type"     : "checkbox",
            "disabled" : "disabled"}))
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        boot_dev_name = @cur_td.find("span#" + @dev_key + "__boot_dev_name")
        boot_dev_macaddr = @cur_td.find("input#" + @dev_key + "__boot_dev_macaddr")
        boot_dev_driver = @cur_td.find("input#" + @dev_key + "__boot_dev_driver")
        boot_dev_greedy_mode = @cur_td.find("input#" + @dev_key + "__greedy_mode")
        boot_dev_dhcp = @cur_td.find("input#" + @dev_key + "__write_dhcp")
        boot_dev_macaddr.val(dev_xml.attr("boot_dev_macaddr"))
        boot_dev_driver.val(dev_xml.attr("boot_dev_driver"))
        if dev_xml.attr("greedy_mode") == "1"
            boot_dev_greedy_mode.attr({"checked" : "checked"})
        else
            boot_dev_greedy_mode.removeAttr("checked")
        if dev_xml.attr("dhcp_write") == "1"
            boot_dev_dhcp.attr({"checked" : "checked"})
        else
            boot_dev_dhcp.removeAttr("checked");
        boot_dev_macaddr.removeAttr("disabled")
        boot_dev_driver.removeAttr("disabled")
        boot_dev_greedy_mode.removeAttr("disabled")
        boot_dev_dhcp.removeAttr("disabled")
        boot_dev_macaddr.bind("change", @change)
        boot_dev_driver.bind("change", @change)
        boot_dev_greedy_mode.bind("change", @change)
        boot_dev_dhcp.bind("change", @change)
        boot_dev_name.text(dev_xml.attr("boot_dev_name"))
    _set_option_again: (dev_xml) =>
        boot_dev_macaddr = @cur_td.find("input#" + @dev_key + "__boot_dev_macaddr")
        boot_dev_greedy_mode = @cur_td.find("input#" + @dev_key + "__greedy_mode")
        if dev_xml.attr("boot_dev_macaddr") != boot_dev_macaddr.val()
            $.jnotify("MAC address changed to " + dev_xml.attr("boot_dev_macaddr"))
            boot_dev_macaddr.val(dev_xml.attr("boot_dev_macaddr"))
        if dev_xml.attr("greedy_mode") == 0 && boot_dev_greedy_mode.is(":checked")
            boot_dev_greedy_mode.removeAttr("checked")
        else if dev_xml.attr("greedy_mode") == 1 && ! boot_dev_greedy_mode.is(":checked")
            boot_dev_greedy_mode.attr("checked", "checked")
    change: (event) =>
        $.ajax
            url     : "{% url boot:set_boot %}"
            data    : create_dict(@cur_td, @dev_key)
            error   : handle_ajax_error
            success : (xml) =>
                parse_xml_response(xml)

class partition_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "p")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("Partition ");
        part_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__new_part"
        })
        part_sel.append($("<option>").attr({"value" : "0"}).text("not set"));
        boot.xml_dict[@short].find("partition_table").each (index, cur_part) =>
            cur_part = $(cur_part)
            part_opt = $("<option>").attr({"value" : cur_part.attr("pk")}).text(cur_part.attr("name"))
            if cur_part.attr("valid") == 0
                part_opt.attr("disabled", "disabled")
            part_sel.append(part_opt)
        cur_td.append(part_sel)
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        new_part = @cur_td.find("select#" + @dev_key + "__new_part")
        new_part.val(dev_xml.attr("partition_table_id"))
        new_part.removeAttr("disabled")
        new_part.bind("change", @change)
    change: (event) =>
        el = $(event.target)
        $.ajax
            url     : "{% url boot:set_partition %}"
            data    : {
                "dev_id"   : @dev_key,
                "new_part" : @cur_td.find("select#" + @dev_key + "__new_part").val()
            }
            error   : handle_ajax_error
            success : (xml) =>
                parse_xml_response(xml)

class image_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "i")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.attr({"colspan" : "5"})
        cur_td.append("Image ");
        img_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__new_image"
        })
        img_sel.append($("<option>").attr({"value" : "0"}).text("not set"));
        boot.xml_dict[@short].find("image").each (index, cur_img) =>
            cur_img = $(cur_img)
            img_opt = $("<option>").attr({"value" : cur_img.attr("pk")}).text(cur_img.attr("name"))
            if cur_img.attr("valid") == 0
                part_opt.attr("disabled", "disabled")
            img_sel.append(img_opt)
        cur_td.append(img_sel)
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        new_img = @cur_td.find("select#" + @dev_key + "__new_image");
        new_img.val(dev_xml.attr("new_image"))
        new_img.removeAttr("disabled")
        new_img.bind("change", @change)
    change: (event) =>
        el = $(event.target)
        img_tr = el.parents("tr:first");
        $.ajax
            url     : "{% url boot:set_image %}"
            data    : {
                "dev_id"    : @dev_key,
                "new_image" : @cur_td.find("select#" + @dev_key + "__new_image").val()
            }
            error   : handle_ajax_error
            success : (xml) =>
                parse_xml_response(xml)

class devlog_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "l")
    get_info_from_server: ->
        return false
    get_devlog_info_from_server: ->
        return true
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("Device log ")
        dev_sel = $("<select>").attr({
            "id"       : @dev_key + "__device_log",
            "disabled" : "disabled"
        })
        cur_td.append(dev_sel)
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        log_sel = @cur_td.find("select#" + @dev_key + "__device_log")
        log_sel.removeAttr("disabled")
        log_sel.attr("multiple", "6")
        @_set_option_again(dev_xml)
    _set_option_again: (dev_xml) =>
        log_sel = @cur_td.find("select#" + @dev_key + "__device_log")
        log_sel.children().remove()
        dev_xml.find("devicelogs devicelog").each (index, cur_log) =>
            cur_log = $(cur_log)
            new_opt = $("<option>").text(cur_log.attr("date") + " :: " + cur_log.attr("text"))
            log_sel.prepend(new_opt)

class boot_table
    constructor: (@top_div) ->
        @option_dict = {}
        @update_pending = 0
    install_options: =>
        $.ajax
            url     : "{% url boot:get_html_options %}"
            error   : handle_ajax_error
            success : (xml) =>
                if parse_xml_response(xml)
                    @xml_dict = {}
                    opt_h3 = $("h3#options")
                    opt_h3.children().remove()
                    $(xml).find("option").each (index, opt) =>
                        opt = $(opt)
                        opt_button = $("<input>").attr({
                            "type" : "checkbox",
                            "id"   : "opt_" + opt.attr("short")})
                        if opt.attr("short") in (key for key, value of @option_dict)
                            opt_button.attr("checked", "checked")
                        opt_h3.append(opt_button);
                        opt_h3.append($("<label>").attr({"for" : "opt_" + opt.attr("short")}).text(opt.text()));
                        opt_button.bind("change", @change_option);
                    opt_h3.find("input").button()
                    opt_h3.buttonset()
                    for key, value of @option_dict
                        $.ajax
                            url     : "{% url boot:get_addon_info %}"
                            data    : {
                                "type" : key
                            }
                            async   : false
                            error   : handle_ajax_error
                            success : (xml) =>
                                if parse_xml_response(xml)
                                    @xml_dict[key] = $(xml)
                    @draw_table()
                    @option_lut = 
                        "k" : kernel_option
                        "h" : hard_control_option
                        "s" : soft_control_option
                        "t" : target_state_option
                        "b" : boot_device_option
                        "p" : partition_option
                        "i" : image_option
                        "l" : devlog_option
                    @device_lut = {}
                    # redraw options
                    for cur_opt in ["h", "s", "t", "b", "k", "p", "i", "l"]
                        @device_lut[cur_opt] = {}
                        @redraw_options(cur_opt, false)
                    # call update_device_info after table draw
                    @update_device_info(true)
                    @update_devlog_info(true)
        $(document).stopTime("update_device_info")
        $(document).stopTime("update_devlog_info")
        $(document).everyTime(10000, "update_device_info", =>
            @update_device_info(true)
        )
        $(document).everyTime(10000, "update_devlog_info", =>
            @update_devlog_info(true)
        )
    use_devs: (dt_div) =>
        sel_list = (value.data.key for value in dt_div.dynatree("getSelectedNodes"))
        $.ajax
            url     : "{% url device:get_group_tree %}"
            error   : handle_ajax_error
            data    : {
                "sel_list" : sel_list
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    @draw($(xml).find("value[name='response']"))
    force_update_info: (call_mother) =>
        @update_pending = 0
        @update_device_info(call_mother)
    change_option: (event) =>
        el = $(event.target)
        opt = el.attr("id").split("_")[1]
        checked = el.is(":checked")
        @option_dict[opt] = checked
        if checked
            $.ajax
                url     : "{% url boot:get_addon_info %}"
                data    : {
                    "type" : opt
                }
                error   : handle_ajax_error
                success : (xml) =>
                    if parse_xml_response(xml)
                        @xml_dict[opt] = $(xml)
                        @redraw_options(opt, true)
        else
            @redraw_options(opt, true)
    draw: (@xml) =>
        @install_options()
    draw_table: =>
        @cur_pure_devices = ($(cur_dev).attr("name") for cur_dev in @xml.find("device[meta_device='0'][tree_selected='selected']"))
        b_table = $("<table>").attr({"id" : "boot"})
        @xml.find("device_group").each (devg_index, cur_dg) =>
            b_table.append(@draw_device_group($(cur_dg)))
        @top_div.children().remove()
        @top_div.append(b_table)
        @table = b_table
        $("input#update_info").bind("click", => @force_update_info(true))
    draw_device_group: (cur_dg) =>
        dummy_div = $("<div>")
        new_tr = $("<tr>").attr({
            "class" : "ui-widget ui-widget-header",
            "btype" : "group"
        })
        new_tr.append(
            $("<th>").attr({
                "colspan" : "8"
            }).text("device group " + cur_dg.attr("name"))
        )
        dummy_div.append(new_tr)
        cur_dg.find("devices device[tree_selected='selected'][meta_device='0']").each (dev_index, cur_dev) =>
            dummy_div.append(@draw_device(cur_dg, $(cur_dev)))
        return dummy_div.children()
    draw_device: (cur_dg, cur_dev) =>
        dummy_div = $("<div>")
        line_prefix = cur_dev.attr("key");
        new_tr = $("<tr>").attr({
            "class" : "ui-widget ui-widget-header",
            "id"    : line_prefix,
            "btype" : "device"
        })
        new_tr.append(
            $("<th>").attr({
                "colspan" : "1"
            }).text(cur_dev.text())
        ).append(
            $("<td>").attr({
                "id" : "recv_str"
            }).addClass("warn").text("waiting")
        ).append(
            $("<td>").attr({
                "id" : "req_str"
            }).addClass("warn").text("waiting")
        ).append(
            $("<td>").attr({
                "id" : "network"
            }).addClass("warn").text("waiting")
        )
        dummy_div.append(new_tr)
        return dummy_div.children()
    # create option lines
    redraw_options: (opt, call_server) =>
        if @option_dict[opt]
            # add lines
            @xml.find("devices device[tree_selected='selected'][meta_device='0']").each (index, cur_dev) =>
                cur_dev = $(cur_dev)
                dev_tr = @table.find("tr[id='" + cur_dev.attr("key") + "']")
                new_opt = new @option_lut[opt](cur_dev)
                @device_lut[opt][cur_dev.attr("key")] = new_opt
                dev_tr.after(new_opt.draw(@))
            if call_server
                dummy_opt = new @option_lut[opt]()
                if dummy_opt.get_info_from_server
                    @force_update_info(false)
                if dummy_opt.get_devlog_info_from_server
                    @update_devlog_info(false)
        else
            # remove lines
            @table.find("tr[id$='__opt__" + opt + "']").remove()
    update_device_info: (call_mother) =>
        if @cur_pure_devices.length and not @update_pending
            @update_pending = 1
            send_data = {
                "sel_list" : @cur_pure_devices
            }
            for key in @option_dict
                send_data["opt_"+ key] = @option_dict[key]
            send_data["call_mother"] = if call_mother then 1 else 0
            $.ajax
                url     : "{% url boot:get_boot_info %}"
                error   : handle_ajax_error
                data    : send_data
                success : (xml) =>
                    @update_pending = 0
                    if parse_xml_response(xml)
                        $(xml).find("device").each (dev_idx, cur_dev) =>
                            cur_dev = $(cur_dev)
                            dev_tr = @table.find("tr#" + cur_dev.attr("key"))
                            dev_id = dev_tr.attr("id")
                            if call_mother
                                dev_tr.find("td#recv_str").text("rcv: " + cur_dev.attr("recvstate"))
                                dev_tr.find("td#req_str").text("req: " + cur_dev.attr("reqstate"))
                                net_state = cur_dev.attr("net_state");
                                tr_class = {"down" : "error", "unknown" : "error", "ping" : "warn", "up" : "ok"}[net_state]
                                dev_tr.find("td#network").text(cur_dev.attr("network") + " ("+ net_state + ")")
                                dev_tr.find("td#recv_str, td#req_str, td#network").removeClass("ok error warn").addClass(tr_class)
                            for check_opt in ["k", "h", "s", "t", "b", "p", "i"]
                                if @option_dict[check_opt]
                                    @device_lut[check_opt][dev_id].set_option(cur_dev)
    update_devlog_info: =>
        if @cur_pure_devices.length and not @update_devlog_pending
            @update_devlog_pending = 1
            send_data = {
                "sel_list" : @cur_pure_devices
            }
            $.ajax
                url     : "{% url boot:get_devlog_info %}"
                error   : handle_ajax_error
                data    : send_data
                success : (xml) =>
                    if parse_xml_response(xml)
                        @update_devlog_pending = 0
                        $(xml).find("device").each (dev_idx, cur_dev) =>
                            cur_dev = $(cur_dev)
                            dev_tr = @table.find("tr#" + cur_dev.attr("key"))
                            dev_id = dev_tr.attr("id")
                            for check_opt in ["l"]
                                if @option_dict[check_opt]
                                    @device_lut[check_opt][dev_id].set_option(cur_dev)

add_config_handlers = ->
    cur_t = new boot_table($("div#boot"))
    install_devsel_link(cur_t.use_devs, true)

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
