{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Boot" %}{% endblock %}


{% block content %}

<h1 class="center">Boot settings</h1>

<h3 id="options">
</h3>

<div id="boot">
</div>

<input type="button" id="update_info" value="update info"/>

<script type="text/javascript">

function set_boot_option(dev_xml, boot_tr) {
    var dev_id = dev_xml.attr("key")
    var boot_dev_name = boot_tr.find("span#" + dev_id + "__boot_dev_name");
    var boot_dev_macaddr = boot_tr.find("input#" + dev_id + "__boot_dev_macaddr");
    var boot_dev_driver = boot_tr.find("input#" + dev_id + "__boot_dev_driver");
    var boot_dev_greedy_mode = boot_tr.find("input#" + dev_id + "__greedy_mode");
    var boot_dev_dhcp = boot_tr.find("input#" + dev_id + "__write_dhcp");
    if (boot_tr.find(":disabled").length) {
        boot_dev_macaddr.val(dev_xml.attr("boot_dev_macaddr"));
        boot_dev_driver.val(dev_xml.attr("boot_dev_driver"));
        if (dev_xml.attr("greedy_mode") == 1) {
            boot_dev_greedy_mode.attr({"checked" : "checked"});
        } else {
            boot_dev_greedy_mode.removeAttr("checked");
        };
        if (dev_xml.attr("dhcp_write") == 1) {
            boot_dev_dhcp.attr({"checked" : "checked"});
        } else {
            boot_dev_dhcp.removeAttr("checked");
        };
        boot_dev_macaddr.removeAttr("disabled");
        boot_dev_driver.removeAttr("disabled");
        boot_dev_greedy_mode.removeAttr("disabled");
        boot_dev_dhcp.removeAttr("disabled");
        boot_dev_macaddr.bind("change", change_boot);
        boot_dev_driver.bind("change", change_boot);
        boot_dev_greedy_mode.bind("change", change_boot);
        boot_dev_dhcp.bind("change", change_boot);
    } else {
        if (dev_xml.attr("boot_dev_macaddr") != boot_dev_macaddr.val()) {
            $.jnotify("MAC address changed to " + dev_xml.attr("boot_dev_macaddr"));
            boot_dev_macaddr.val(dev_xml.attr("boot_dev_macaddr"));
        };
        if (dev_xml.attr("greedy_mode") == 0 && boot_dev_greedy_mode.is(":checked")) {
            boot_dev_greedy_mode.removeAttr("checked");
        } else if (dev_xml.attr("greedy_mode") == 1 && ! boot_dev_greedy_mode.is(":checked")) {
            boot_dev_greedy_mode.attr("checked", "checked");
        };
    };
    boot_dev_name.text(dev_xml.attr("boot_dev_name"));
};

function set_soft_control_option(dev_xml, scon_tr) {
    // nothing to do
};

function set_hard_control_option(dev_xml, hcon_tr) {
    var dev_id = dev_xml.attr("key")
    var new_hcon = hcon_tr.find("span#" + dev_id + "__hard_control");
    if (new_hcon.attr("disabled") == "disabled") {
        if (dev_xml.find("cd_connection").length) {
            new_hcon.text("");
            dev_xml.find("cd_connection").each(function() {
                var new_cd = $(this);
                new_hcon.append(new_cd.attr("parent_name") + " : ");
                var new_el = $("<select>").attr({
                    "id" : dev_id + "__" + new_cd.attr("key")
                }).bind("change", change_hard_control);
                new_el.append($("<option>").attr(
                    {"value" : "0"}).text("---"));
                $.each(["on", "off", "cycle"], function(key, value) {
                    var hd_opt = $("<option>").attr({
                        "value" : value}).text(value);
                    new_el.append(hd_opt);
                });
                new_hcon.append(new_el);    
            });
            new_hcon.removeAttr("disabled");
        } else {
            new_hcon.text("nothing found");
        };
    };
};

function change_hard_control(event) {
    var cur_el = $(event.target);
    $.ajax({
        url     : "{% url boot:hard_control %}",
        error   : handle_ajax_error,
        data    : {
            "cd_id" : cur_el.attr("id"),
            "value" : cur_el.val()
        },
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
            }
        }
    });
    cur_el.val("0");
};

function set_part_option(dev_xml, part_tr) {
    var dev_id = dev_xml.attr("key")
    var new_part = part_tr.find("select#" + dev_id + "__new_part");
    if (part_tr.find(":disabled").length) {
        new_part.val(dev_xml.attr("partition_table_id"));
        new_part.removeAttr("disabled");
        new_part.bind("change", change_part);
    } else {
    };
};

function set_devlog_option(dev_xml, devlog_tr) {
    var dev_id = dev_xml.attr("key");
    var log_sel = devlog_tr.find("select#" + dev_id + "__device_log");
    if (devlog_tr.find(":disabled").length) {
        log_sel.removeAttr("disabled");
        log_sel.attr("multiple", "6");
    };
    log_sel.children().remove();
    dev_xml.find("devicelogs devicelog").each(function() {
        var cur_log = $(this);
        var new_opt = $("<option>").text(cur_log.attr("date") + " :: " + cur_log.attr("text"));
        log_sel.prepend(new_opt);
    });
};

function set_img_option(dev_xml, img_tr) {
    var dev_id = dev_xml.attr("key");
    var new_img = img_tr.find("select#" + dev_id + "__new_image");
    if (img_tr.find(":disabled").length) {
        new_img.val(dev_xml.attr("new_image"));
        new_img.removeAttr("disabled");
        new_img.bind("change", change_image);
    } else {
    };
};

function change_image(boot) {
    var el = $(event.target);
    var img_tr = el.parents("tr:first");
    var dev_id = (img_tr.attr("id").split("__").slice(0, 2)).join("__");
    $.ajax({
        url     : "{% url boot:set_image %}",
        data    : {
            "dev_id"    : dev_id,
            "new_image" : img_tr.find("select#" + dev_id + "__new_image").val()
        },
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
            }
        }
    });
};

function change_part(boot) {
    var el = $(event.target);
    var part_tr = el.parents("tr:first");
    var dev_id = (part_tr.attr("id").split("__").slice(0, 2)).join("__");
    $.ajax({
        url     : "{% url boot:set_partition %}",
        data    : {
            "dev_id"   : dev_id,
            "new_part" : part_tr.find("select#" + dev_id + "__new_part").val()
        },
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
            }
        }
    });
};

function change_boot(event) {
    var el = $(event.target);
    var boot_tr = el.parents("tr:first");
    var dev_id = (boot_tr.attr("id").split("__").slice(0, 2)).join("__");
    $.ajax({
        url     : "{% url boot:set_boot %}",
        data    : {
            "dev_id"      : dev_id,
            "boot_mac"    : boot_tr.find("input#" + dev_id + "__boot_dev_macaddr").val(),
            "boot_driver" : boot_tr.find("input#" + dev_id + "__boot_dev_driver").val(),
            "greedy_mode" : boot_tr.find("input#" + dev_id + "__greedy_mode:checked").length ? "1" : "0",
            "dhcp_write"  : boot_tr.find("input#" + dev_id + "__write_dhcp:checked").length ? "1" : "0"
        },
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
            }
        }
    });
};

function set_target_option(dev_xml, target_tr) {
    var dev_id = dev_xml.attr("key")
    if (target_tr.find(":disabled").length) {
        var target_state = target_tr.find("select#" + dev_id + "__target_state");
        target_state.val(dev_xml.attr("full_new_state"));
        target_state.removeAttr("disabled");
        target_state.bind("change", change_target_state);
    };
};


function change_target_state(event) {
    var el = $(event.target);
    var target_tr = el.parents("tr:first");
    var dev_id = (target_tr.attr("id").split("__").slice(0, 2)).join("__");
    $.ajax({
        url     : "{% url boot:set_target_state %}",
        data    : {
            "dev_id"    : dev_id,
            "new_state" : target_tr.find("select#" + dev_id + "__target_state").val()
        },
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
            }
        }
    });
};

function set_kernel_option(dev_xml, kernel_tr) {
    return false;
    var dev_id = dev_xml.attr("key")
    // copy info from kernel_tr to table
    if (kernel_tr.find(":disabled").length) {
        var new_kernel = kernel_tr.find("select#" + dev_id + "__new_kernel");
        var act_kernel = kernel_tr.find("span#" + dev_id + "__act_kernel");
        var stage1_flav = kernel_tr.find("select#" + dev_id + "__kernel_flavour");
        var kernel_append = kernel_tr.find("input#" + dev_id + "__kernel_append");
        new_kernel.val(dev_xml.attr("new_kernel"));
        kernel_append.val(dev_xml.attr("new_append"));
        stage1_flav.val(dev_xml.attr("stage1_flavour"));
        new_kernel.removeAttr("disabled");
        stage1_flav.removeAttr("disabled");
        kernel_append.removeAttr("disabled");
        new_kernel.bind("change", change_kernel);
        stage1_flav.bind("change", change_kernel);
        kernel_append.bind("change", change_kernel);
    };
};

function change_kernel(event) {
    var el = $(event.target);
    var kernel_tr = el.parents("tr:first");
    var dev_id = (kernel_tr.attr("id").split("__").slice(0, 2)).join("__");
    $.ajax({
        url     : "{% url boot:set_kernel %}",
        data    : {
            "dev_id"         : dev_id,
            "new_kernel"     : kernel_tr.find("select#" + dev_id + "__new_kernel").val(),
            "kernel_flavour" : kernel_tr.find("select#" + dev_id + "__kernel_flavour").val(),
            "kernel_append"  : kernel_tr.find("input#" + dev_id + "__kernel_append").val()
        },
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
            }
        }
    });
};

{% inlinecoffeescript %}

root = exports ? this

class option_list
    constructor: (@dev_xml, @short) ->
        # to proper handle dummy call for get_*info_from_server calls
        if @dev_xml
            @dev_key = @dev_xml.attr("key")
            @set = false
    get_info_from_server: ->
        return true
    get_devlog_info_from_server: ->
        return false
    draw: (boot) =>
        return $("<td>").text("not used")
    set_option: (cur_dev) =>
        if not @set
            @set = true
            if not @_set_option
                console.log "set_option for " + @short + " not set"
            else:
                @_set_option(cur_dev)
    full_line: (cur_td) =>
        @cur_td = cur_td
        if not cur_td.attr("colspan")
            cur_td.attr("colspan", 5)
        return $("<tr>").attr("id", @dev_key + "__opt__" + @short).append(cur_td)
    
class kernel_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "k")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("kernel:")
        kernel_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__new_kernel"
        })
        kernel_sel.append($("<option>").attr({"value" : "0"}).text("not set"));
        boot.xml_dict[@short].find("kernel").each (k_idx, cur_kernel) =>
            cur_kernel = $(cur_kernel)
            kernel_sel.append($("<option>").attr({"value" : cur_kernel.attr("pk")}).text(cur_kernel.attr("name")));
        cur_td.append(kernel_sel)
        cur_td.append(", actual kernel: ").append($("<span>").attr({
            "id" : @dev_key + "__act_kernel"
        }))
        cur_td.append(", stage 1 flavour : ")
        stage1_flav = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__kernel_flavour"
        })
        stage1_flav.append($("<option>").attr({"value" : "none"}).text("not set"))
        stage1_flav.append($("<option>").attr({"value" : "cpio"}).text("CPIO"))
        stage1_flav.append($("<option>").attr({"value" : "cramfs"}).text("CramFS"))
        stage1_flav.append($("<option>").attr({"value" : "lo"}).text("ext2 via Loopback"))
        cur_td.append(stage1_flav)
        cur_td.append(", kernel append:")
        cur_td.append($("<input>").attr({
            "type"     : "text",
            "id"       : @dev_key + "__kernel_append",
            "disabled" : "disabled"}))
        return @full_line(cur_td)
    _set_option: (dev_xml) =>
        new_kernel = @cur_td.find("select#" + @dev_key + "__new_kernel")
        act_kernel = @cur_td.find("span#" + @dev_key + "__act_kernel")
        stage1_flav = @cur_td.find("select#" + @dev_key + "__kernel_flavour")
        kernel_append = @cur_td.find("input#" + @dev_key + "__kernel_append")
        new_kernel.val(dev_xml.attr("new_kernel"))
        kernel_append.val(dev_xml.attr("new_append"))
        stage1_flav.val(dev_xml.attr("stage1_flavour"))
        new_kernel.removeAttr("disabled")
        stage1_flav.removeAttr("disabled")
        kernel_append.removeAttr("disabled")
        new_kernel.bind("change", change_kernel)
        stage1_flav.bind("change", change_kernel)
        kernel_append.bind("change", change_kernel)
        return true
            

class hard_control_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "h")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("hard control:")
        hard_con = $("<span>").attr({
            "id"       : @dev_key + "__hard_control",
            "disabled" : "disabled"
        }).text("waiting")
        cur_td.append(hard_con)
        return @full_line(cur_td)

class soft_control_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "s")
    get_info_from_server: ->
        return false
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("soft control:")
        for value in ["status", "reboot", "halt", "poweroff"]
            radio_el = $("<input>").attr({
                "type"    : "radio",
                "name"    : @dev_key + "__soft_control",
                "id"      : @dev_key + "__" + value,
                "value"   : value}).bind("click", @soft_control)
            if value == "status"
                radio_el.attr("checked", "checked")
            cur_td.append(radio_el).append($("<span>").text(value))
        return @full_line(cur_td)
    soft_control: (event) =>
        cur_el = $(event.target)
        if cur_el.val() != "status"
            $.ajax
                url     : "{% url boot:soft_control %}"
                error   : handle_ajax_error
                data    : {
                    "key" : cur_el.attr("id")
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        cur_el.removeAttr("checked")
                        $("input[type='radio'][id='" + @dev_key + "__status']").attr("checked", "checked")


class target_state_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "t")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("target state:")
        target_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__target_state"
        })
        target_sel.append($("<option>").attr({"value" : "0__0"}).text("not set"))
        boot.xml_dict[@short].find("status").each (index, cur_tstate) =>
            cur_tstate = $(cur_tstate)
            target_sel.append($("<option>").attr({"value" : cur_tstate.attr("pk") + "__" + cur_tstate.attr("prod_net")}).text(cur_tstate.text()))
        cur_td.append(target_sel)
        return @full_line(cur_td)

class boot_device_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "b")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("MAC Address of bootdevice ")
        cur_td.append($("<span>").attr({
            "id" : @dev_key + "__boot_dev_name"}).text("---"))
        cur_td.append(":")
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__boot_dev_macaddr",
            "type"     : "text",
            "disabled" : "disabled"}));
        cur_td.append(", DHCP: ");
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__write_dhcp",
            "type"     : "checkbox",
            "disabled" : "disabled"}));
        cur_td.append(", driver: ");
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__boot_dev_driver",
            "type"     : "text",
            "disabled" : "disabled"}));
        cur_td.append(", greedy mode: ");
        cur_td.append($("<input>").attr({
            "id"       : @dev_key + "__greedy_mode",
            "type"     : "checkbox",
            "disabled" : "disabled"}))
        return @full_line(cur_td)

class partition_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "p")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("Partition ");
        part_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__new_part"
        })
        part_sel.append($("<option>").attr({"value" : "0"}).text("not set"));
        boot.xml_dict[@short].find("partition_table").each (index, cur_part) =>
            cur_part = $(cur_part)
            part_opt = $("<option>").attr({"value" : cur_part.attr("pk")}).text(cur_part.attr("name"))
            if cur_part.attr("valid") == 0
                part_opt.attr("disabled", "disabled")
            part_sel.append(part_opt)
        cur_td.append(part_sel)
        return @full_line(cur_td)

class image_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "i")
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.attr({"colspan" : "5"})
        cur_td.append("Image ");
        img_sel = $("<select>").attr({
            "disabled" : "disabled",
            "id"       : @dev_key + "__new_image"
        })
        img_sel.append($("<option>").attr({"value" : "0"}).text("not set"));
        boot.xml_dict[@short].find("image").each (index, cur_img) =>
            cur_img = $(cur_img)
            img_opt = $("<option>").attr({"value" : cur_img.attr("pk")}).text(cur_img.attr("name"))
            if cur_img.attr("valid") == 0
                part_opt.attr("disabled", "disabled")
            img_sel.append(img_opt)
        cur_td.append(img_sel)
        return @full_line(cur_td)

class devlog_option extends option_list
    constructor: (dev_xml) ->
        super(dev_xml, "l")
    get_info_from_server: ->
        return false
    get_devlog_info_from_server: ->
        return true
    draw: (boot) =>
        cur_td = $("<td>")
        cur_td.append("Device log ")
        dev_sel = $("<select>").attr({
            "id"       : @dev_key + "__device_log",
            "disabled" : "disabled"
        })
        cur_td.append(dev_sel)
        return @full_line(cur_td)

class boot_table
    constructor: (@top_div) ->
        @option_dict = {}
        @update_pending = 0
    install_options: =>
        $.ajax
            url     : "{% url boot:get_html_options %}"
            error   : handle_ajax_error
            success : (xml) =>
                if parse_xml_response(xml)
                    @xml_dict = {}
                    opt_h3 = $("h3#options")
                    opt_h3.children().remove()
                    $(xml).find("option").each (index, opt) =>
                        opt = $(opt)
                        opt_button = $("<input>").attr({
                            "type" : "checkbox",
                            "id"   : "opt_" + opt.attr("short")})
                        if opt.attr("short") in (key for key, value of @option_dict)
                            opt_button.attr("checked", "checked")
                        opt_h3.append(opt_button);
                        opt_h3.append($("<label>").attr({"for" : "opt_" + opt.attr("short")}).text(opt.text()));
                        opt_button.bind("change", @change_option);
                    opt_h3.find("input").button()
                    opt_h3.buttonset()
                    for key, value of @option_dict
                        $.ajax
                            url     : "{% url boot:get_addon_info %}"
                            data    : {
                                "type" : key
                            }
                            async   : false
                            error   : handle_ajax_error
                            success : (xml) =>
                                if parse_xml_response(xml)
                                    @xml_dict[key] = $(xml)
                    @draw_table()
                    @option_lut = 
                        "k" : kernel_option
                        "h" : hard_control_option
                        "s" : soft_control_option
                        "t" : target_state_option
                        "b" : boot_device_option
                        "p" : partition_option
                        "i" : image_option
                        "l" : devlog_option
                    @device_lut = {}
                    # redraw options
                    for cur_opt in ["h", "s", "t", "b", "k", "p", "i", "l"]
                        @device_lut[cur_opt] = {}
                        @redraw_options(cur_opt, false)
                    # call update_device_info after table draw
                    @update_device_info(true)
                    @update_devlog_info(true)
        $(document).stopTime("update_device_info")
        $(document).stopTime("update_devlog_info")
        $(document).everyTime(10000, "update_device_info", =>
            @update_device_info(true)
        )
        $(document).everyTime(10000, "update_devlog_info", =>
            @update_devlog_info(true)
        )
    use_devs: (dt_div) =>
        sel_list = (value.data.key for value in dt_div.dynatree("getSelectedNodes"))
        $.ajax
            url     : "{% url device:get_group_tree %}"
            error   : handle_ajax_error
            data    : {
                "sel_list" : sel_list
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    @draw($(xml).find("value[name='response']"))
    force_update_info: (call_mother) =>
        @update_pending = 0
        @update_device_info(call_mother)
    change_option: (event) =>
        el = $(event.target)
        opt = el.attr("id").split("_")[1]
        checked = el.is(":checked")
        @option_dict[opt] = checked
        if checked
            $.ajax
                url     : "{% url boot:get_addon_info %}"
                data    : {
                    "type" : opt
                }
                error   : handle_ajax_error
                success : (xml) =>
                    if parse_xml_response(xml)
                        @xml_dict[opt] = $(xml)
                        @redraw_options(opt, true)
        else
            @redraw_options(opt, true)
    draw: (@xml) =>
        @install_options()
    draw_table: =>
        @cur_pure_devices = ($(cur_dev).attr("name") for cur_dev in @xml.find("device[meta_device='0'][tree_selected='selected']"))
        b_table = $("<table>").attr({"id" : "boot"})
        @xml.find("device_group").each (devg_index, cur_dg) =>
            b_table.append(@draw_device_group($(cur_dg)))
        @top_div.children().remove()
        @top_div.append(b_table)
        @table = b_table
        $("input#update_info").bind("click", => @force_update_info(true))
    draw_device_group: (cur_dg) =>
        dummy_div = $("<div>")
        new_tr = $("<tr>").attr({
            "class" : "ui-widget ui-widget-header",
            "btype" : "group"
        })
        new_tr.append(
            $("<th>").attr({
                "colspan" : "8"
            }).text("device group " + cur_dg.attr("name"))
        )
        dummy_div.append(new_tr)
        cur_dg.find("devices device[tree_selected='selected'][meta_device='0']").each (dev_index, cur_dev) =>
            dummy_div.append(@draw_device(cur_dg, $(cur_dev)))
        return dummy_div.children()
    draw_device: (cur_dg, cur_dev) =>
        dummy_div = $("<div>")
        line_prefix = cur_dev.attr("key");
        new_tr = $("<tr>").attr({
            "class" : "ui-widget ui-widget-header",
            "id"    : line_prefix,
            "btype" : "device"
        })
        new_tr.append(
            $("<th>").attr({
                "colspan" : "1"
            }).text(cur_dev.text())
        ).append(
            $("<td>").attr({
                "id" : "recv_str"
            }).addClass("warn").text("waiting")
        ).append(
            $("<td>").attr({
                "id" : "req_str"
            }).addClass("warn").text("waiting")
        ).append(
            $("<td>").attr({
                "id" : "network"
            }).addClass("warn").text("waiting")
        )
        dummy_div.append(new_tr)
        return dummy_div.children()
    # create option lines
    redraw_options: (opt, call_server) =>
        if @option_dict[opt]
            # add lines
            @xml.find("devices device[tree_selected='selected'][meta_device='0']").each (index, cur_dev) =>
                cur_dev = $(cur_dev)
                dev_tr = @table.find("tr[id='" + cur_dev.attr("key") + "']")
                new_opt = new @option_lut[opt](cur_dev)
                @device_lut[opt][cur_dev.attr("key")] = new_opt
                dev_tr.after(new_opt.draw(@))
            if call_server
                dummy_opt = new @option_lut[opt]()
                if dummy_opt.get_info_from_server
                    @force_update_info(false)
                if dummy_opt.get_devlog_info_from_server
                    @update_devlog_info(false)
        else
            # remove lines
            @table.find("tr[id$='__opt__" + opt + "']").remove()
    update_device_info: (call_mother) =>
        if @cur_pure_devices.length and not @update_pending
            @update_pending = 1
            send_data = {
                "sel_list" : @cur_pure_devices
            }
            for key in @option_dict
                send_data["opt_"+ key] = @option_dict[key]
            send_data["call_mother"] = if call_mother then 1 else 0
            $.ajax
                url     : "{% url boot:get_boot_info %}"
                error   : handle_ajax_error
                data    : send_data
                success : (xml) =>
                    @update_pending = 0
                    if parse_xml_response(xml)
                        $(xml).find("device").each (dev_idx, cur_dev) =>
                            cur_dev = $(cur_dev)
                            dev_tr = @table.find("tr#" + cur_dev.attr("key"))
                            dev_id = dev_tr.attr("id")
                            if call_mother
                                dev_tr.find("td#recv_str").text("rcv: " + cur_dev.attr("recvstate"))
                                dev_tr.find("td#req_str").text("req: " + cur_dev.attr("reqstate"))
                                net_state = cur_dev.attr("net_state");
                                tr_class = {"down" : "error", "unknown" : "error", "ping" : "warn", "up" : "ok"}[net_state]
                                dev_tr.find("td#network").text(cur_dev.attr("network") + " ("+ net_state + ")")
                                dev_tr.find("td#recv_str, td#req_str, td#network").removeClass("ok error warn").addClass(tr_class)
                            for check_opt in ["k"]
                                if @option_dict[check_opt]
                                    @device_lut[check_opt][dev_id].set_option(cur_dev)
                            if @option_dict["k"]
                                kernel_tr = @table.find("tr[id='" + dev_id + "__opt__k']")
                                set_kernel_option(cur_dev, kernel_tr)
                            if @option_dict["t"]
                                target_tr = @table.find("tr[id='" + dev_id + "__opt__t']")
                                set_target_option(cur_dev, target_tr)
                            if @option_dict["s"]
                                target_tr = @table.find("tr[id='" + dev_id + "__opt__s']")
                                set_soft_control_option(cur_dev, target_tr)
                            if @option_dict["h"]
                                target_tr = @table.find("tr[id='" + dev_id + "__opt__h']")
                                set_hard_control_option(cur_dev, target_tr)
                            if @option_dict["b"]
                                boot_tr = @table.find("tr[id='" + dev_id + "__opt__b']")
                                set_boot_option(cur_dev, boot_tr)
                            if @option_dict["p"]
                                part_tr = @table.find("tr[id='" + dev_id + "__opt__p']")
                                set_part_option(cur_dev, part_tr)
                            if @option_dict["i"]
                                img_tr = @table.find("tr[id='" + dev_id + "__opt__i']")
                                set_img_option(cur_dev, img_tr)
    update_devlog_info: =>
        if @cur_pure_devices.length and not @update_devlog_pending
            @update_devlog_pending = 1
            send_data = {
                "sel_list" : @cur_pure_devices
            }
            $.ajax
                url     : "{% url boot:get_devlog_info %}"
                error   : handle_ajax_error
                data    : send_data
                success : (xml) =>
                    if parse_xml_response(xml)
                        @update_devlog_pending = 0
                        $(xml).find("device").each (dev_idx, cur_dev) =>
                            cur_dev = $(cur_dev)
                            dev_tr = @table.find("tr#" + cur_dev.attr("key"))
                            dev_id = dev_tr.attr("id")
                            if @option_dict["l"]
                                devlog_tr = @table.find("tr[id='" + dev_id + "__opt__l']")
                                set_devlog_option(cur_dev, devlog_tr)
	 

add_config_handlers = ->
    cur_t = new boot_table($("div#boot"))
    install_devsel_link(cur_t.use_devs, true)

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
