{% extends "main.html" %}

{% load i18n extra_tags coffeescript %}

{% block title %}Category tree{% endblock %}

{% block content %}

<h1>Category tree</h1>

<div id="ct_div" class="leftfloat">
    <input type="button" value="create new entry" id="create_new_dtn"/>
</div>
<div id="ct_detail" class="leftfloat" style="width:400px; margin-left:auto; margin-right:auto;"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

class category_tree
    constructor: (@top_div) ->
        @load_ct()
    load_ct: () =>
        $.ajax
            url     : "{% url 'base:category_tree' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @DNT = $(xml).find("categories")
                    @my_submitter = new submitter({
                        master_xml       : @DNT,
                        success_callback : @change_cb
                    })
                    @bind_new_button()
                    @build_tree()
    bind_new_button: () =>
        $("input#create_new_dtn").bind("click", @create_new)
    create_new: (event) =>
        $.ajax
            url     : "{% url 'base:create_category' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    detail_div = $("div#ct_detail")
                    detail_div.children().remove()
                    detail_div.append($(xml).find("value[name='form']").text())
                    detail_div.uniform()
    build_tree: () =>
        @top_div.dynatree
            autoFocus  : false
            debuglevel : {% if DEBUG %}0{% else %}0{% endif %}
            onExpand : (flag, dtnode) =>
            onSelect : (flag, dtnode) =>
            onFocus  : (dtnode) =>
                @show_details(dtnode.data.key)
                return false
            dnd : {
                onDragStart : (dtnode) =>
                    #console.log dtnode.data.title
                    return true
                onDragEnter : (dest_node, src_node) =>
                    if parseInt(@DNT.find("category[pk='#{src_node.data.key}']").attr("parent")) == 0
                        return false
                    else
                        return true
                onDrop: (dst_node, src_node, hit_mode, ui, draggable) =>
                    # node needs at least depth >= 2
                    src_db_node = @DNT.find("category[pk='#{src_node.data.key}']")
                    if parseInt(src_db_node.attr("immutable")) == 1
                        return false
                    src_root_node = src_db_node
                    while parseInt(src_root_node.attr("depth")) > 1
                        src_root_node = @DNT.find("category[pk='" + src_root_node.attr("parent") + "']")
                    dst_root_node = @DNT.find("category[pk='#{dst_node.data.key}']")
                    while parseInt(dst_root_node.attr("depth")) > 1
                        dst_root_node = @DNT.find("category[pk='" + dst_root_node.attr("parent") + "']")
                    # not allowed to move between main branches
                    if parseInt(src_root_node.attr("immutable")) and parseInt(dst_root_node.attr("immutable")) and src_root_node.attr("name") != dst_root_node.attr("name")
                        return false
                    # check if src_node is not a parent of dst_node
                    move = true
                    c_node = dst_node
                    while true
                        if c_node.data.key == src_node.data.key
                            move = false
                        c_node = c_node.getParent()
                        if not c_node
                            break
                    if move
                        $.ajax
                            url     : "{% url 'base:move_category' %}"
                            data    : {
                                "src_id" : src_node.data.key
                                "dst_id" : dst_node.data.key
                                "mode"   : hit_mode
                            }
                            success : (xml) =>
                                if parse_xml_response(xml)
                                    src_db_node = @DNT.find("category[pk='#{src_node.data.key}']")
                                    if hit_mode == "over" or hit_mode == "child"
                                        src_db_node.attr("parent", dst_node.data.key)
                                    else
                                        src_db_node.attr("parent", @DNT.find("category[pk='#{dst_node.data.key}']").attr("parent"))
                                    @rename_tree(src_node)
                                    # move src_node to dst_node, according to hit_mode
                                    src_node.move(dst_node, hit_mode)
            }
            #onCustomRender : (dtnode) =>
            #    db_node = @DNT.find("category[pk='#{dtnode.data.key}']")
            #    if db_node.attr("intermediate") == "1"
            #        render_el = $("<span>").text(dtnode.data.title)
            #    else
            #        render_el = $("<span>").text(dtnode.data.title + "...")
            #    return render_el.html()
        @root_node = @top_div.dynatree("getRoot")
        @build_node(@root_node, @DNT.find("category[parent='0']"))
    build_node: (dt_node, db_node) =>
        if parseInt(db_node.attr("parent")) == 0
            title_str = "TOP"
            expand_flag = true
        else
            title_str = db_node.attr("name") + " (" + db_node.attr("full_name") + ")"
            expand_flag = false
        new_node = dt_node.addChild(
            title    : title_str
            expand   : expand_flag
            key      : db_node.attr("pk")
            select   : if parseInt(db_node.attr("immutable")) then true else false
            addClass : if db_node.attr("intermediate") == "1" then "intermediate" else "ip_ok"
        )
        @DNT.find("category[parent='" + db_node.attr("pk") + "']").each (idx, sub_db_node) =>
            @build_node(new_node, $(sub_db_node))
    show_details: (key) =>
        db_node = @DNT.find("category[pk='#{key}']")
        if parseInt(db_node.attr("immutable")) == 0
            $.ajax
                url     : "{% url 'base:category_detail' %}"
                data     : {
                    "key" : key
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        @active_node = key
                        detail_div = $("div#ct_detail")
                        detail_div.children().remove()
                        detail_div.append($(xml).find("value[name='form']").text())
                        detail_div.find("input").on("change", @my_submitter.submit)
                        cur_dtn = @DNT.find("category[pk='#{key}']")
                        detail_div.find("input#button-id-delete").off("change").on("click", @delete_node)
        else
            detail_div = $("div#ct_detail")
            detail_div.children().remove()
    delete_node: (event) =>
        $.ajax
            url     : "{% url 'base:delete_category' %}"
            data    : {
                "key" : @active_node
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    $("div#ct_detail").children().remove()
                    @top_div.dynatree("getTree").getNodeByKey(@active_node).remove()
    rename_tree: (cur_node) =>
        cur_db_node    = @DNT.find("category[pk='#{cur_node.data.key}']")
        parent_db_node = @DNT.find("category[pk='" + cur_db_node.attr("parent") + "']")
        #console.log parent_db_node.attr("pk"), cur_db_node.attr("name"), parent_db_node.attr("full_name")
        cur_db_node.attr("full_name", parent_db_node.attr("full_name") + "/" + cur_db_node.attr("name"))
        cur_node.data.title = cur_db_node.attr("name") + " (" + cur_db_node.attr("full_name") + ")"
        cur_node.render()
        if cur_node.hasChildren()
            for sub_node in cur_node.getChildren()
                @rename_tree(sub_node)
    change_cb: (cur_el) =>
        c_type = cur_el.attr("id").split("__")[2]
        node_key = cur_el.attr("id").split("__")[1]
        dt_node = @top_div.dynatree("getTree").getNodeByKey(node_key)
        if c_type == "name"
            @rename_tree(dt_node, cur_el.val())
        else if c_type == "intermediate"
            if cur_el.is(":checked")
                dt_node.data.addClass = "intermediate"
            else
                dt_node.data.addClass = "ip_ok"
            dt_node.render()
            #console.log @DNT.find("category[pk='#{dt_node.data.key}']").attr("intermediate")

$(document).ready(
    my_ct = new category_tree($("div#ct_div"))
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
