{% extends "main.html" %}

{% load i18n extra_tags %}

{% block title %}Config types{% endblock %}

{% block content %}

<h1>Config types</h1>

<div id="ct_tables"></div>

<script type="text/javascript">

// config type location class XML
CT_XML = undefined;

var master_array = {
    "ctype" : new draw_setup("Config Type", "ctype", "config_type",
        "{% url base:create_object 'config_type' %}",
        "{% url base:delete_object 'config_type' %}",
        [
            new draw_info("name"),
            new draw_info("description")
        ],
        {lock_div : "ct_tables"}
    )
};   

function add_config_handlers() {
    $.ajax({
        url     : "{% url config:show_config_types %}",
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                draw_ds_tables($("div#ct_tables"), master_array, $(xml).find("value[name='response']"));
            }
        }
    });
};

$(document).ready(add_config_handlers);

</script>

{% endblock %}