{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}Cluster network (device) types{% endblock %}

{% block content %}

{% verbatim %}

<div ng-app="icsw.network_type">

<div ng-controller="overview_network_device_type">

<h2>Network device types ({{types.length}} entries)</h2>

<table class="table table-condensed table-condensed table-hover" style="width:auto;">
    <tbody>
    <tr ng-repeat="nw_type in types">
        <td><input class="form-control" ng-blur="change(nw_type)" type="text" ng-model="nw_type.identifier" size="5" placeholder="identifier" required/></td>
        <td><input class="form-control" ng-blur="change(nw_type)" type="text" ng-model="nw_type.description" size="30" placeholder="description" required/></td>
        <td><input class="form-control" ng-change="change(nw_type)" type="number" ng-model="nw_type.mac_bytes" min="6" max="20"/></td>
        <td><input type="button" class="btn btn-danger" ng-click="delete(nw_type)" value="delete"/></td>
    </tr>
    <form ng-submit="add_network_type()" role="form">
        <tr>
            <td><input class="form-control" type="text" ng-model="new_type.identifier" size="5" placeholder="identifier" required/></td>
            <td><input class="form-control" type="text" ng-model="new_type.description" size="30" placeholder="description" required/></td>
            <td><input class="form-control" type="number" ng-model="new_type.mac_bytes" placeholder="mac_bytes" min="6" max="20"/></td>
            <td><input type="submit" class="btn btn-primary" value="new"/></td>
        </tr>
    </form>
    </tbody>
</table>

</div>
<div ng-controller="overview_network_type">

<h2>Network types ({{types.length}} entries)</h2>

<table class="table table-condensed table-condensed table-hover" style="width:auto;">
    <tbody>
    <tr ng-repeat="nw_type in types">
        <td>
            <select class="form-control" ng-model="nw_type.identifier" ng-change="change(nw_type)" ng-options="key as value for (key, value) in network_types" />
        </td>
        <td><input class="form-control" ng-blur="change(nw_type)" type="text" ng-model="nw_type.description" size="30" placeholder="description" required/></td>
        <td><input type="button" class="btn btn-danger" ng-click="delete(nw_type)" value="delete"/></td>
    </tr>
    <form ng-submit="add_network_type()" role="form">
        <tr>
            <td>
                <select class="form-control" ng-model="new_type.identifier" ng-options="key as value for (key, value) in network_types" />
            </td>
            <td><input class="form-control" type="text" ng-model="new_type.description" size="30" placeholder="description" required/></td>
            <td><input type="submit" class="btn btn-primary" value="new"/></td>
        </tr>
    </form>
    </tbody>
</table>

</div>

</div>

{% endverbatim %}

{% endblock %}
