{% extends "main.html" %}

{% load i18n extra_tags coffeescript crispy_forms_tags %}

{% block title %}Cluster networks{% endblock %}

{% block content %}

<div ng-app="icsw.network">

<script type="text/ng-template" id="network.html">
    {% crispy network_form network_form.helper %}
</script>

<script type="text/ng-template" id="network_type.html">
    {% crispy network_type_form network_type_form.helper %}
</script>

<script type="text/ng-template" id="network_device_type.html">
    {% crispy network_device_type_form network_device_type_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="network_type_head.html">
    <tr>
        <th>Type</th>   
        <th>Description</th>   
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="network_type_row.html">
    <td>{{ network_types[obj.identifier] }}</td>
    <td>{{ obj.description  }}</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="network_device_type_head.html">
    <tr>
        <th>Id</th>   
        <th>Description</th>   
        <th>MAC</th>   
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="network_device_type_row.html">
    <td>{{ obj.identifier }}</td>
    <td>{{ obj.description  }}</td>
    <td>{{ obj.mac_bytes }}</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="network_head.html">
    <tr>
        <th>Id</th>   
        <th>Network definition</th>   
        <th>Gateway</th>
        <th>Pri</th>
        <th>Type</th>
        <th>Master</th>
        <th>devtype(s)</th>   
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="network_row.html">
    <td>{{ obj.identifier }}</td>
    <td style="font-family:monospace;">
        <span ng-bind-html="ip_fill_up(obj.network)"></span> / <span ng-bind-html="ip_fill_up(obj.netmask)"></span> / <span ng-bind-html="ip_fill_up(obj.broadcast)"></span>
    </td>
    <td>
        <span ng-bind-html="ip_fill_up(obj.gateway)"></span>
    </td>
    <td>{{ obj.penalty }}</td>
    <td>{{ network_types[obj.network_type].description }}</td>
    <td>{{ obj.master_network | array_lookup:this:'entries':'identifier':'---' }}</td>
    <td>{{ obj.network_device_type | resolve_n2m:this:'network_device_types':'identifier' }}</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger" ng-click="delete(obj)" value="delete"/></td>
</script>

<tabset>
    <tab heading="Networks">
<div ng-controller="network">

<h2>Networks ({{entries.length}} entries), <input type="button" value="create new" ng-click="create($event)"/></h2>

<table class="table table-condensed table-condensed table-hover" style="width:auto;">
    <thead networkhead></thead>
    <tbody>
        <tr networkrow ng-repeat="obj in entries | orderBy:'-identifier':true"></tr>
    </tbody>
</table>

</div>

    </tab>
    <tab heading="Network device types">
<div ng-controller="network_device_type">

<h3>Network device types ({{entries.length}} entries), <input type="button" value="create new" ng-click="create($event)"/></h3>

<table class="table table-condensed table-condensed table-hover" style="width:auto;">
    <thead networkdevicetypehead></thead>
    <tbody>
        <tr networkdevicetyperow ng-repeat="obj in entries | orderBy:'-identifier':true"></tr>
    </tbody>
</table>

</div>
</tab>
<tab heading="Network types">

<div ng-controller="network_type">

<h3>Network types ({{entries.length}} entries), <input type="button" value="create new" ng-click="create($event)"/></h3>

<table class="table table-condensed table-condensed table-hover" style="width:auto;">
    <thead networktypehead></thead>
    <tbody>
        <tr networktyperow ng-repeat="obj in entries | orderBy:'-identifier':true"></tr>
    </tbody>
</table>

</div>
</tab>
</tabset>

</div>

{% endverbatim %}

{% endblock %}
