{% extends "main.html" %}

{% load i18n extra_tags %}

{% block title %}Cluster network types{% endblock %}

{% block content %}

<h1>Network types</h1>

<div id="nwt_tables"></div>

<script type="text/javascript">

// nwt XML
NETWORK_TYPES = undefined;

var master_array = {
    "nwt" : new draw_setup("NetworkType", "nwt", "network_type",
        "{% url base:create_object 'network_type' %}",
        "{% url base:delete_object 'network_type' %}",
        [
            new draw_info("identifier", {select_source : "network_type_choices network_type_choice"} ), 
            new draw_info("description")
        ],
        {"lock_div" : "nwt_tables"}),
    "nwdt" : new draw_setup("NetworkDevicetype", "nwdt", "network_device_type",
        "{% url base:create_object 'network_device_type' %}",
        "{% url base:delete_object 'network_device_type' %}",
        [
            new draw_info("identifier"),
            new draw_info("description"),
            new draw_info("mac_bytes", {label : "MAC size", min : 6, max : 20, number : 1, default : 6})
        ],
        {"lock_div" : "nwt_tables"}),
};   

function load_nwts() {
    $.ajax({
        url     : "{% url network:show_network_d_types %}",
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                NETWORK_TYPES = $(xml).find("value[name='response']");
                init_xml_change(NETWORK_TYPES);
                draw_tables();
            }
        }
    });
}

function draw_tables() {
    draw_ds_tables($("div#nwt_tables"), master_array);
};

function add_config_handlers() {
    load_nwts();
};

$(document).ready(add_config_handlers);

</script>

{% endblock %}
