{% extends "main.html" %}

{% load i18n extra_tags %}

{% block title %}Cluster device class / location{% endblock %}

{% block content %}

<h1>Device classes / locations</h1>

<div id="cdcl_tables"></div>

<script type="text/javascript">

// device location class XML
DEVLC_TYPES = undefined;

var master_array = {
    "dc" : new draw_setup("Device Class", "dc", "device_class",
        "{% url base:create_object 'device_class' %}",
        "{% url base:delete_object 'device_class' %}",
        [
            new draw_info("classname"),
            new draw_info("priority", {min : -100, max : 100, number : 1, default : 0})
        ],
        {lock_div : "cdcl_tables"}
    ),
    "dl" : new draw_setup("Device Location", "dl", "device_location",
        "{% url base:create_object 'device_location' %}",
        "{% url base:delete_object 'device_location' %}",
        [
            new draw_info("location")
        ],
        {lock_div : "cdcl_tables"}
    )
};   

function load_cdcls() {
    $.ajax({
        url     : "{% url setup:show_device_class_location %}",
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                DEVLC_TYPES = $(xml).find("value[name='response']");
                init_xml_change(DEVLC_TYPES);
                draw_tables();
            }
        }
    });
}

function draw_tables() {
    draw_ds_tables($("div#cdcl_tables"), master_array);
};

function add_config_handlers() {
    load_cdcls();
};

$(document).ready(add_config_handlers);

</script>

{% endblock %}
