{% extends "main.html" %}

{% load i18n extra_tags %}

{% block title %}Cluster networks{% endblock %}

{% block content %}

<h1>Networks</h1>

<div id="nw_tables"></div>

<script type="text/javascript">

// nwt XML
NETWORK_XML = undefined;

var master_array = {
    "nw" : new draw_setup("Network", "nw", "network",
        "{% url base:create_object 'network' %}",
        "{% url base:delete_object 'network' %}",
        [
            new draw_collapse("exp", {default : false}),
            new draw_info("identifier"),
            new draw_info("penalty", {number : 1, min : -100, max : 100, default : 1}),
            new draw_info("postfix", {default : "", size : 3}),
            new draw_info("name"),
            new draw_info("network_type", {select_source : "network_types network_type"} ),
            new draw_info("master_network", {select_source : get_master_networks, add_null_entry : "not set"} ),
            new draw_info("short_names", {boolean : 1, label : "SNames / Named / Other", span : 3}),
            new draw_info("write_bind_config", {boolean : 1}),
            new draw_info("write_other_network_config", {boolean : 1}),
            new draw_info("network_device_type", {select_source : "network_device_types network_device_type", manytomany : 1, newline : 1, cspan : 3, show_label : true, label : "Device type :"}),
            new draw_info("network", {default : "192.168.1.0", size : 16, cspan : 2, label : "NW", show_label : true, group : "network"}),
            new draw_info("netmask", {default : "255.255.255.0", size : 16, label : "NM", show_label : true, group : "network"}),
            new draw_info("broadcast", {default : "192.168.1.255", size : 16, label : "BC", show_label : true, group : "network"}),
            new draw_info("gateway", {default : "192.168.1.1", size : 16, cspan : 3, label : "GW", show_label : true, group : "network"}),
            new draw_info("ip_count", {number : 1, ro : true})
        ],
        {"lock_div" : "nw_tables"})
};   

function get_master_networks() {
    var prod_id = NETWORK_XML.find("network_types network_type[identifier='p']").attr("pk");
    var ret_field = $("<networks>");
    NETWORK_XML.find("networks network").each(function() {
        var cur_nw = $(this);
        if (cur_nw.attr("network_type") == prod_id) {
            ret_field.append($("<network>").attr({
                "pk"  : cur_nw.attr("pk"),
                "key" : cur_nw.attr("key")
            }).text(cur_nw.text()));
        };
    });
    return ret_field.find("network");
};

function load_networks() {
    $.ajax({
        url     : "{% url network:show_networks %}",
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                NETWORK_XML = $(xml).find("value[name='response']");
                draw_ds_tables($("div#nw_tables"), master_array, NETWORK_XML);
            }
        }
    });
}

function add_config_handlers() {
    load_networks();
};

$(document).ready(add_config_handlers);

</script>

{% endblock %}
