{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Configurations" %}{% endblock %}

{% block content %}

<h1 class="center">
    Configurations, <span id="config_info">none defined</span>, filter: <input type="text" id="filter" value=""/>
</h1>

<h4>
    <form method="post" action="{% url 'config:upload_config' %}" enctype="multipart/form-data">
        <input type="button" value="Download" id="download_button"/> selected configurations,
        <input name="config" type="file"/>
        <input type="submit" action="submit" value="Submit"/>
    </form>
</h4>

<div id="config">
</div>

{% include "generate_config.html" %}

<script type="text/javascript">

{% inlinecoffeescript %}

class config_table
    constructor: (@top_div) ->
        @cur_filter = ""
        @codemirror_dict = {}
        $("input#download_button").bind("click", @download_selected)
        $("input#filter").bind("keyup", => @apply_filter())
    use_devs: (dt_div) =>
        sel_list = (value.data.key for value in dt_div.dynatree("getSelectedNodes"))
        notify_generate_link(sel_list)
    load_configs: =>
        $.ajax
            url     : "{% url 'config:show_configs' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @configs = $(xml).find("value[name='response']")
                    @init_table()
    init_table: =>
        @update_config_info()
        @top_div.children().remove()
        @config_types = @configs.find("config_types config_type")
        @config_list = @configs.find("config")
        c_table = $("<table>").attr({"id" : "config"}).addClass("devicelist")
        c_table.append(@draw_config())
        @config_list.each (idx, cur_conf) =>
            c_table.append(@draw_config($(cur_conf)))
        @table = c_table
        $("div#config").append(@table)
        @update_expand_info()
        
    # filter function
    
    apply_filter: =>
        cur_text = $("input#filter").attr("value")
        if cur_text != @cur_filter
            @cur_filter = cur_text
            cur_re = new RegExp("^.*#{@cur_filter}.*$")
            disp_list = []
            # get keys/pks for current filter
            @configs.find("config").each (idx, c_config) =>
                c_config = $(c_config)
                if c_config.attr("name").match(cur_re)
                    disp_list.push(c_config.attr("key"))
            # collapse all expanded trs
            @table.find("tr td div[id*='__expand__'].ui-icon-triangle-1-s").each (idx, cur_tr) =>
                cur_tr = $(cur_tr).parents("tr:first")
                @toggle_config_line(cur_tr.attr("id"), false, "var", cur_tr)
                @toggle_config_line(cur_tr.attr("id"), false, "moncc", cur_tr)
                @toggle_config_line(cur_tr.attr("id"), false, "cscript", cur_tr)
                # collapse expansion marks
                force_expansion_state(cur_tr, false)
            # we start at -1 because of the new config
            num_shown = -1
            @table.find("tr[id^='conf__']").each (idx, cur_tr) =>
                cur_tr = $(cur_tr)
                if cur_tr.attr("id").split("__").length == 2
                    show = cur_tr.attr("id").match(/^conf__new/) or cur_tr.attr("id") in disp_list
                    if show and cur_tr.attr("id").split("__")[0...2].join("__") == cur_tr.attr("id")
                        num_shown++
                    if show and not cur_tr.is(":visible")
                        cur_tr.show()
                    else if not show and cur_tr.is(":visible")
                        cur_tr.hide()
            @update_config_info(num_shown)
    
    # donwload functions
    
    download_selected: (event) =>
        dl_ids = []
        @table.find("tr[id^='conf__']:visible").each (idx, cur_tr) =>
            cur_tr = $(cur_tr)
            if cur_tr.attr("id") != "conf__new" and cur_tr.attr("id").split("__").length == 2
                dl_ids.push(cur_tr.attr("id"))
        cur_but = $(event.target)
        cur_but.attr("disabled", "disabled")
        if dl_ids.length
            $.ajax
                url     : "{% url 'config:download_hash' %}"
                data    :
                    config_ids : (value.split("__")[1] for value in dl_ids)
                success : (xml) =>
                    if parse_xml_response(xml)
                        window.location = $(xml).find("value[name='download_link']").text()
                        cur_but.removeAttr("disabled")
                    
    # config functions
    
    draw_config: (cur_conf) =>
        dummy_div = $("<div>")
        if cur_conf
            conf_pk = cur_conf.attr("pk")
        else
            conf_pk = "new"
        line_prefix = "conf__#{conf_pk}"
        c_line = $("<tr>").attr
            "id"    : line_prefix,
            "class" : "ui-widget ui-widget-header"
        c_header = $("<th>")
        c_line.append(c_header)
        c_header.append(
            create_input_el(cur_conf, "name", line_prefix, {label : "Name", master_xml: @configs})
        ).append(
            create_input_el(cur_conf, "priority", line_prefix, {label : "Priority", number : true, master_xml: @configs, min: -9999, max : 9999})
        ).append(
            create_input_el(cur_conf, "description", line_prefix, {label : "Description", master_xml: @configs})
        ).append(
            $("<span>").text("Details")
        ).append(
            $("<input>").attr({
                "type"   : "image"
                "width"  : "16px"
                "height" : "16px"
                "title"  : "Category"
                "src"    : "{{ MEDIA_URL }}frontend/images/information.png"
                "id"     : "#{line_prefix}__md_info"
            }).bind("click", @config_details)
        )
        if cur_conf
            c_line.append(get_expand_td(line_prefix, "var", "variables", @toggle_config_line))
            c_line.append(get_expand_td(line_prefix, "moncc", "monitoring config", @toggle_config_line))
            c_line.append(get_expand_td(line_prefix, "cscript", "config scripts", @toggle_config_line))
        else
            c_line.append($("<td>").attr({"colspan" : "3"}))
        num_confs = if cur_conf then parseInt(cur_conf.attr("num_device_configs")) else 0
        if num_confs
            c_line.append(
                $("<th>").text("Used: #{num_confs}").attr("title", "Device list : " + cur_conf.attr("device_list"))
            )
        else   
            c_line.append(
                $("<td>").append(
                    $("<input>").addClass(if conf_pk == "new" then "" else "delete").attr({
                        "type"  : "button",
                        "value" : if conf_pk == "new" then "create" else "delete",
                        "id"    : line_prefix
                    }).bind("click", @create_delete_config)
                )
            )
        dummy_div.append(c_line)
        if cur_conf
            # add config vars
            dummy_div.append(
                $("<tr>").attr(
                    "id" : "#{line_prefix}__var"
                ).append(
                    $("<td>").attr("colspan", "5")
                ).hide()
            )
            # add monitoring commands
            dummy_div.append(
                $("<tr>").attr(
                    "id" : "#{line_prefix}__moncc"
                ).append(
                    $("<td>").attr("colspan", "5")
                ).hide()
            )
            # add config scripts
            dummy_div.append(
                $("<tr>").attr(
                    "id" : "#{line_prefix}__cscript"
                ).append(
                    $("<td>").attr("colspan", "5")
                ).hide()
            )
            for cur_t in dummy_div.find("table")
                @recolor_table(cur_t)
        return dummy_div.children()
    config_details: (event) =>
        parent_tr = $(event.target).parents("tr:first")
        conf_id = parent_tr.attr("id")
        if conf_id != "conf__new"
            show_config_detail(event, @configs, conf_id)
    create_detail_table: (cur_conf, line_prefix, detail_type) =>
        new_table = $("<table>")
        new_table.append(@add_header(cur_conf, line_prefix, detail_type))
        if detail_type == "var"
            new_table.append(@add_config_var_line(cur_conf, line_prefix))
            cur_conf.find("config_vars").children().each (idx, cur_var) =>
                new_table.append(@add_config_var_line(cur_conf, line_prefix, $(cur_var)))
        else if detail_type == "moncc"
            new_table.append(@add_monitoring_line(cur_conf, line_prefix))
            cur_conf.find("mon_check_commands").children().each (idx, cur_mon) =>
                new_table.append(@add_monitoring_line(cur_conf, line_prefix, $(cur_mon)))
        else if detail_type == "cscript"
            new_table.append(@add_config_script_line(cur_conf, line_prefix))
            cur_conf.find("config_scripts").children().each (idx, cur_script) =>
                new_table.append(@add_config_script_line(cur_conf, line_prefix, $(cur_script)))
            # activate codemirrors
            new_table.find("textarea").each (idx, cur_ta) =>
                @init_textarea($(cur_ta))
        @recolor_table(new_table)
        return new_table
    recolor_table: (cur_t) =>
        act_class = "even"
        for cur_tr in $(cur_t).find("tr")
            $(cur_tr).removeClass("even odd").addClass(act_class).on("hover", $(cur_tr), @hover)
            act_class = if act_class == "odd" then "even" else "odd"
    hover: (event, targ_tr) ->
        parent_tr = $(event.target).parents("tr:first")
        if not parent_tr.attr("id").match(/__editor_line$/)
            if event.type == "mouseenter"
                $(event.data).addClass("highlight")
            else
                $(event.data).removeClass("highlight")
    create_delete_config: (event) =>
        cur_el = $(event.target)
        el_id = cur_el.attr("id")
        lock_list = lock_elements(@table)
        if el_id.match(/new$/)
            # create element
            $.ajax
                url     : "{%url 'config:create_config' %}"
                data    : create_dict(@table, el_id)
                success : (xml) =>
                    if parse_xml_response(xml)
                        new_config = $(xml).find("config")
                        @configs.find("config_list").append(new_config)
                        @inject_config_line(new_config)
                        cur_el.parents("tr:first").find("td input[id$='__name']").attr("value", "")
                        @update_config_info()
                    unlock_elements(lock_list)
        else
            if confirm("really delete configuration ?")
                $.ajax
                    url     : "{% url 'config:delete_config' %}"
                    data    : create_dict(@table, el_id),
                    success : (xml) =>
                        if parse_xml_response(xml)
                            @configs.find("config[pk='" + el_id.split("__")[1] + "']").remove()
                            @remove_config_line(el_id)
                            @update_config_info()
                        unlock_elements(lock_list)
            else 
                unlock_elements(lock_list)
    inject_config_line: (new_el) =>
        header_tr = @table.find("tr[id='conf__new']")
        new_config_lines = @draw_config(new_el)
        header_tr.after(new_config_lines)
        @update_expand_info(new_el.attr("pk"))
    remove_config_line: (del_id) =>
        @table.find("tr[id^='#{del_id}']").remove()
        # not really needed
        @update_expand_info()
    
    # variable functions
    
    add_header: (cur_conf, line_prefix, h_type) =>
        cv_tr = $("<tr>").attr({
            "id"    : "#{line_prefix}__#{h_type}__header",
            "class" : "ui-widget ui-widget-header"
        })
        header_lut = 
            "var"     : ["name", "value", "description", "type", "action"],
            "moncc"   : ["value", "command", "info string", "perfdata", "volatile", "group", "template", "action"],
            "cscript" : ["name", "description", "priority", "enabled", "save", "action"]
        for idx, header_entry of header_lut[h_type]
            cv_tr.append(
                $("<th>").text(header_entry)
            )
        return cv_tr
    add_config_var_line: (cur_conf, line_prefix, c_var) =>
        cv_key = if c_var then c_var.attr("key") else "var_new"
        line_prefix = "#{line_prefix}__#{cv_key}"
        cv_tr = $("<tr>").attr({
            "id" : line_prefix
        })
        var_dict = {
            master_xml  : @configs,
            enclose_td  : true,
            size        : 40
        }
        if c_var
            if c_var.attr("type") == "bool"
                var_dict.boolean = true
            else if c_var.attr("type") == "int"
                var_dict.number = true
        cv_tr.append(
            create_input_el(c_var, "name", line_prefix, {master_xml : @configs, enclose_td : true, size : 40})
        ).append(
            create_input_el(c_var, "value", line_prefix, var_dict)
        ).append(
            create_input_el(c_var, "description", line_prefix, {master_xml : @configs, enclose_td : true, size : 40})
        )
        if c_var
            cv_tr.append($("<td>").addClass("center").append($("<span>").text(c_var.attr("type"))))
        else
            cv_tr.append($("<td>").addClass("center").append($("<select>").attr({"id" : line_prefix + "__type"}).
                append($("<option>").attr("value", "str").text("string")).
                append($("<option>").attr("value", "int").text("integer")).
                append($("<option>").attr("value", "bool").text("boolean")).
                append($("<option>").attr("value", "blob").text("blob"))
            ))
        cv_tr.append(
            $("<td>").append(
                $("<input>").addClass(if c_var then "delete" else "").attr({
                    "type"  : "button",
                    "value" : if c_var then "delete" else "create",
                    "id"    : line_prefix
                }).bind("click", @create_delete_config_var)
            )
        )
        return cv_tr
    create_delete_config_var: (event) =>
        cur_el = $(event.target)
        cur_conf = @configs.find("config[pk='" + cur_el.attr("id").split("__")[1] + "']")
        lock_list = lock_elements(@table)
        if cur_el.attr("id").match(/new$/)
            # create element
            $.ajax
                url     : "{% url 'config:create_var' %}"
                data    : create_dict(@table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        new_var = $(xml).find("value[name='new_var']").children()
                        @inject_config_var_line(new_var)
                    unlock_elements(lock_list)
        else
            # delete
            $.ajax
                url     : "{% url 'config:delete_var' %}"
                data    : create_dict(@table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        @remove_config_var_line(cur_el)
                    unlock_elements(lock_list)
    inject_config_var_line: (new_var) =>
        header_tr = @table.find("tr[id$='conf__" + new_var.attr("config") + "__var_new']")
        cur_config = @configs.find("config[pk='" + new_var.attr("config") + "']")
        cur_config.find("config_vars").append(new_var)
        header_tr.find("input[id$='__name']").attr("value", "")
        header_tr.after(@add_config_var_line(cur_config, "conf__" + new_var.attr("config"), new_var).show())
        @recolor_table(header_tr.parents("table:first"))
        @update_expand_info(new_var.attr("config"))
    remove_config_var_line: (cur_el) =>
        conf_pk = cur_el.attr("id").split("__")[1]
        @configs.find("config[pk='#{conf_pk}'] config_vars > *[pk='" + cur_el.attr("id").split("__")[3] + "']").remove()
        var_line = $("table#config tr[id^='" + cur_el.attr("id") + "']")
        var_line.remove()
        @update_expand_info(conf_pk)
    
    # monitoring functions
    
    add_monitoring_line: (c_el, line_prefix, n_com) =>
        if !n_com
            nc_key = "moncc_new"
        else
            nc_key = n_com.attr("key")
        line_prefix = "#{line_prefix}__#{nc_key}"
        nc_tr = $("<tr>").attr({
            "id"  : line_prefix
        })
        nc_tr.append(
            create_input_el(n_com, "name", line_prefix, {master_xml : @configs, enclose_td : true, size: 32})
        ).append(
            create_input_el(n_com, "command_line", line_prefix, {master_xml : @configs, enclose_td : true, size : 80})
        ).append(
            create_input_el(n_com, "description", line_prefix, {master_xml : @configs, enclose_td : true, size : 40})
        ).append(
            create_input_el(n_com, "enable_perfdata", line_prefix, {boolean : true, master_xml : @configs, enclose_td : true})
        ).append(
            create_input_el(n_com, "volatile", line_prefix, {boolean : true, master_xml : @configs, enclose_td : true})
        ).append(
            create_input_el(n_com, "mon_check_command_type", line_prefix, {select_source : @configs.find("mon_check_command_types mon_check_command_type"), master_xml : @configs, enclose_td : true})
        ).append(
            create_input_el(n_com, "mon_service_templ", line_prefix, {select_source : @configs.find("mon_service_templates mon_service_templ"), master_xml : @configs, enclose_td : true})
        ).append(
            $("<td>").append(
                $("<input>").addClass(if n_com then "delete" else "").attr({
                    "type"  : "button",
                    "value" : if n_com then "delete" else "create",
                    "id"    : line_prefix
                }).bind("click", @create_delete_monitoring_command)
            )
        )
        return nc_tr
    create_delete_monitoring_command: (event) =>
        cur_el = $(event.target)
        lock_list = lock_elements(@table)
        if cur_el.attr("id").match(/new$/)
            # create monitoring command
            $.ajax
                url     : "{% url 'mon:create_command' %}"
                data    : create_dict(@table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        new_nc = $(xml).find("value[name='new_monitoring_command']").children()
                        @inject_monitoring_command_line(new_nc)
                    unlock_elements(lock_list)
        else
            # delete monitoring command
            $.ajax
                url     : "{% url 'mon:delete_command' %}"
                data    : create_dict(@table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        @remove_monitoring_command_line(cur_el)
                    unlock_elements(lock_list)
    inject_monitoring_command_line: (new_nc) =>
        header_tr = @table.find("tr[id$='conf__" + new_nc.attr("config") + "__moncc_new']")
        cur_config = @configs.find("config[pk='" + new_nc.attr("config") + "']")
        cur_config.find("mon_check_commands").append(new_nc)
        header_tr.find("input[id$='__name']").attr("value", "")
        header_tr.after(@add_monitoring_line(cur_config, "conf__" + new_nc.attr("config"), new_nc).show())
        @recolor_table(header_tr.parents("table:first"))
        @update_expand_info(new_nc.attr("config"))
    remove_monitoring_command_line: (cur_el) =>
        conf_pk = cur_el.attr("id").split("__")[1]
        @configs.find("config[pk='#{conf_pk}'] mon_check_commands > mon_check_command[pk='" + cur_el.attr("id").split("__")[3] + "']").remove()
        nc_line = $("table#config tr[id^='" + cur_el.attr("id") + "']")
        nc_line.remove()
        @update_expand_info(conf_pk)
    
    # config script functions
    
    add_config_script_line: (c_el, line_prefix, cs_com) =>
        cs_div = $("<div>")
        if !cs_com
            cs_key = "cscript_new"
        else
            cs_key = cs_com.attr("key")
        line_prefix = "#{line_prefix}__#{cs_key}"
        cs_tr = $("<tr>").attr({
            "id"  : line_prefix
        })
        cs_tr.append(
            create_input_el(cs_com, "name", line_prefix, {master_xml : @configs, enclose_td : true})
        ).append(
            create_input_el(cs_com, "description", line_prefix, {master_xml : @configs, enclose_td : true})
        ).append(
            create_input_el(cs_com, "priority", line_prefix, {number : true, master_xml : @configs, enclose_td : true})
        ).append(
            create_input_el(cs_com, "enabled", line_prefix, {boolean : true, master_xml : @configs, enclose_td : true})
        )
        if cs_com
            cs_tr.append(
                $("<td>").append(
                    $("<input>").attr({
                        "type"  : "button",
                        "value" : "save"
                    }).bind("click", @save_textarea)
                )
            )
        else
            cs_tr.append(
                $("<td>").html("&nbsp;")
            )
        cs_tr.append(
            $("<td>").append(
                $("<input>").addClass(if cs_com then "delete" else "").attr({
                    "type"  : "button",
                    "value" : if cs_com then "delete" else "create",
                    "id"    : line_prefix
                }).bind("click", @create_delete_config_script)
            )
        )
        cs_div.append(cs_tr)
        # editor line
        cs_div.append(
            $("<tr>").attr("id", "#{line_prefix}__editor_line").append(
                $("<td>").attr({    
                    "colspan" : 8
                }).append(
                    create_input_el(cs_com, "value", line_prefix, {textarea : true, master_xml : @configs})
                )
            )
        )
        return cs_div.children()
    create_delete_config_script: (event) =>
        cur_el = $(event.target)
        lock_list = lock_elements(@table)
        if cur_el.attr("id").match(/new$/)
            # copy textarea
            cur_ta = cur_el.parents("tr:first").next().find("textarea")
            cur_ta.text(@codemirror_dict[cur_ta.attr("id")].editor.getValue())
            # create config script
            $.ajax
                url     : "{% url 'config:create_script' %}"
                data    : create_dict(@table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        new_cs = $(xml).find("value[name='new_config_script']").children()
                        @inject_config_script_line(new_cs)
                    unlock_elements(lock_list)
        else
            # delete config script
            $.ajax
                url     : "{% url 'config:delete_script' %}"
                data    : create_dict($("table#config"), cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        @remove_config_script_line(cur_el)
                    unlock_elements(lock_list)
    inject_config_script_line: (new_cs) =>
        header_tr = @table.find("tr[id$='conf__" + new_cs.attr("config") + "__cscript_new']")
        cur_config = @configs.find("config[pk='" + new_cs.attr("config") + "']")
        cur_config.find("config_scripts").append(new_cs)
        header_tr.find("input[id$='__name']").attr("value", "")
        new_lines = @add_config_script_line(cur_config, "conf__" + new_cs.attr("config"), new_cs).show()
        header_tr.next().after(new_lines)
        @init_textarea(new_lines.find("textarea"))
        @recolor_table(header_tr.parents("table:first"))
        @update_expand_info(new_cs.attr("config"))
    remove_config_script_line: (cur_el) =>
        conf_pk = cur_el.attr("id").split("__")[1]
        @configs.find("config[pk='#{conf_pk}'] config_scripts > config_script[pk='" + cur_el.attr("id").split("__")[3] + "']").remove()
        cs_line = $("table#config tr[id^='" + cur_el.attr("id") + "']")
        cs_line.remove()
        @update_expand_info(conf_pk)

    # textarea functions
    
    save_textarea: (event) =>
        cur_ta = $(event.target).parents("tr:first").next().find("textarea")
        cur_ta.text(@codemirror_dict[cur_ta.attr("id")].editor.getValue())
        cur_ta.trigger("change")
    init_textarea: (cur_ta) =>
        cur_id = cur_ta.attr("id")
        cur_ed = CodeMirror.fromTextArea(cur_ta[0], {
            "mode"         : {
                "name"    : "python",
                "version" : "2"
            },
            "styleActiveLine" : true,
            "lineNumbers"     : true,
            "lineWrapping"    : true,
            "indentUnit"      : 4,
        })
        cur_ed.setSize(1024, null)
        @codemirror_dict[cur_id] = {
            "editor" : cur_ed,
            "line"   : cur_ed.addLineClass(0, "activeline")
        }
    
    # info / helper functions
    
    toggle_config_line: (line_prefix, state, line_spec, conf_line) =>
        if !conf_line
            conf_line = @table.find("tr[id='#{line_prefix}']")
        sub_table = @table.find("tr[id^='#{line_prefix}__#{line_spec}']")
        if not sub_table.find("table").length
            sub_table.find("td").append(@create_detail_table(@configs.find("config[pk='" + line_prefix.split("__")[1] + "']"), line_prefix, line_spec))
        if state
            sub_table.show()
            sub_table.find("textarea").each (idx, cur_ta) =>
                cur_id = $(cur_ta).attr("id")
                if cur_id
                    @codemirror_dict[cur_id].editor.refresh()
        else
            sub_table.hide()
    update_expand_info: (conf_pk) =>
        if conf_pk
            s_str = "tr td div[id*='__#{conf_pk}__expand__']"
        else
            s_str = "tr td div[id*='__expand__']"
        @table.find(s_str).each (idx, cur_div) =>
            cur_div = $(cur_div)
            div_id = cur_div.attr("id")
            if !div_id.match(/__info$/)
                info_type = div_id.split("__")[3]
                num_entries = @configs.find("config[pk='" + div_id.split("__")[1] + "'] " + {
                    "var"     : "config_vars > *",
                    "moncc"   : "mon_check_commands mon_check_command",
                    "cscript" : "config_scripts config_script"}[info_type]).length
                #info_type = info_type[0]
                cur_div.next().text("#{info_type} [#{num_entries}]")
    update_config_info: (num_shown) =>
        num_confs = @configs.find("config").length
        info_str = "configs defined: #{num_confs}" 
        if !num_shown? or num_shown == num_confs
            info_str += ", all shown"
        else
            info_str += ", #{num_shown} shown"
        $("span#config_info").text(info_str)
        

add_config_handlers = ->
    conf_t = new config_table($("div#config"))
    install_devsel_link(conf_t.use_devs, true)
    conf_t.load_configs()

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
