{% extends "main.html" %}

{% load i18n compress %}

{% block title %}{% trans "Device Configuration" %}{% endblock %}

{% block content %}

<h1 class="center">Device configuration, <span id="config_info">none defined</span>, filter:
<input type="text" id="filter" value="" onKeyUp="apply_filter(false);"/>
<input type="button" value="clear" onClick="clear_filter();"/></h1>

<div id="config">
</div>

{% include "generate_config.html" %}

<script type="text/javascript">

DEVICES = undefined;
CONFIGS = undefined;
DEVICE_CONFIGS = undefined;
CUR_FILTER = undefined;
SHOW_LIST = undefined;
// which conigs to display
DISPLAY_LIST = undefined;
// current device selection
CUR_DEVICES = undefined;

function clear_filter() {
    $("input#filter").val("");
    apply_filter(false);
};

function apply_filter(force_reload) {
    var cur_text = $("input#filter").attr("value");
    if (cur_text != CUR_FILTER || force_reload) {
        CUR_FILTER = cur_text;
        var cur_re = new RegExp("^.*" + CUR_FILTER + ".*$");
        var disp_list = new Array();
        // get keys/pks for current filter
        CONFIGS.find("config").each(function() {
            var c_config = $(this);
            if (c_config.attr("name").match(cur_re)) {
                disp_list.push(c_config.attr("key"));
            };
        });
        // not working, FIXME
        if (SHOW_LIST != disp_list || force_reload) {
            DISPLAY_LIST = _.map(disp_list, function(name) { return CONFIGS.find("config[key='" + name + "']")[0]; });
            update_config_info(disp_list.length);
            var cur_exp_list = get_expand_list();
            draw_tables();
            restore_expansion(cur_exp_list);
        };
        SHOW_LIST = disp_list;
    };
};

function update_config_info(num_shown) {
    var info_str = "configs defined: " + CONFIGS.find("config").length;
    if (num_shown === undefined || num_shown === CONFIGS.find("config").length) {
        info_str += ", all shown";
    } else {
        info_str += ", " + num_shown + " shown";
    };
    $("span#config_info").text(info_str);
};

function get_expand_list() {
    return _.map($("table#config tr span[id*='__expand_'][class*='-1-s']"), function(cur_el) { return $(cur_el).attr("id"); });
};

function restore_expansion(exp_list) {
    $.each(exp_list, function(idx, cur_val) {
        toggle_config_line(cur_val.split("__")[0] + "__" + cur_val.split("__")[1], true, "config");
    });
};

function get_expand_td(line_prefix, name, title) {
    return $("<td>").append(
        $("<span>").attr({
            "class"   : "ui-icon ui-icon-triangle-1-e",
            "id"      : line_prefix + "__expand_" + name,
            "title"   : title === undefined ? "show " + name : title
        }).bind("click", function(event) {
            var cur_class = $(event.target).attr("class");
            if (cur_class.match(/-1-e$/)) {
                toggle_config_line(line_prefix, true, name);
            } else {
                toggle_config_line(line_prefix, false, name);
            }
        })
    );
};

function toggle_config_line(line_prefix, state, line_spec) {
    var conf_line = $("table#config tr[id='" + line_prefix + "']");
    var exp_line  = $("table#config tr[id^='" + line_prefix + "__" + line_spec + "']");
    var cur_dg = conf_line.find("span[id$='__expand_" + line_spec + "']");
    if (state) {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-s");
        exp_line.show();
    } else {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-e");
        exp_line.hide();
    };
};

function draw_device(d_el) {
    var dummy_div = $("<div>");
    var line_prefix = d_el.attr("key");
    var new_tr = $("<tr>").attr({
        "class" : "ui-widget ui-widget-header",
        "id"    : line_prefix
    });
    var is_meta = d_el.attr("meta_device") == "1";
    new_tr.append($("<th>").attr({
        "colspan" : "7"
    }).text((is_meta ? "Meta device" : "device") + " " + d_el.text()));
    new_tr.append(get_expand_td(line_prefix, "config", "config"));
    dummy_div.append(new_tr);
    var cur_entries = 0;
    var cur_tr;
    var run_idx = 1;
    $(DISPLAY_LIST).each(function() {
        if (!cur_entries) {
            cur_tr = $("<tr>").attr({
                "id" : line_prefix + "__config__" + run_idx
            }).hide();
        };
        var cur_conf = $(this);
        var cur_cb = $("<input>").attr({
            "type" : "checkbox",
            "id"   : line_prefix + "__config__" + cur_conf.attr("pk")
        }).bind("click", change_config);
        cur_tr.append($("<td>").append(
            $("<span>").text(cur_conf.attr("name"))
        ));
        cur_tr.append(
           $("<td>").attr({
               "class" : "center"
            }
        ).append(
            $("<span>").text("")
        ).append(
            cur_cb
        ).append(
            $("<span>").text("")
        ));
        if (DEVICE_CONFIGS.find("device_config[device='" + d_el.attr("pk") + "'][config='" + cur_conf.attr("pk") + "'][meta='1']").length) {
            cur_cb.attr({"checked" : "checked"});
            cur_cb.prev().text("(");
            cur_cb.next().text(")");
        } else if (DEVICE_CONFIGS.find("device_config[device='" + d_el.attr("pk") + "'][config='" + cur_conf.attr("pk") + "']").length) {
            cur_cb.attr({"checked" : "checked"});
        };
        cur_entries++;
        if (cur_entries == 4) {
            dummy_div.append(cur_tr);
            cur_entries = 0;
            run_idx += 1;
        };
    });
    if (cur_entries) {
        dummy_div.append(cur_tr);
    };
    return dummy_div.children();
};

function change_config(event) {
    var cur_cb = $(event.target);
    var lock_list = lock_elements($("table#config"));
    $.ajax({
        url : "{% url config:alter_config_cb %}",
        data : {
            "id"    : cur_cb.attr("id"),
            "value" : cur_cb.is(":checked") ? "1" : "0"
        },
        success : function(xml) {
            parse_xml_response(xml);
            var res_xml = $(xml);
            //console.log(res_xml);
            var conf_pk = res_xml.find("device_configs config").attr("pk");
            res_xml.find("devices device").each(function() {
                // deselect all checkboxes
                var cur_dev = $(this);
                var cur_cb = $("table#config input[id='dev__" + cur_dev.attr("pk") + "__config__" + conf_pk + "']");
                cur_cb.removeAttr("checked");
                cur_cb.prev().text("");
                cur_cb.next().text("");
            });
            res_xml.find("device_configs device_config").each(function() {
                var cur_dc = $(this);
                var cur_cb = $("table#config input[id='dev__" + cur_dc.attr("device") + "__config__" + conf_pk + "']");
                console.log("rc");
                cur_cb.attr("checked", "checked");
                if (cur_dc.attr("meta") == "1") {
                    cur_cb.prev().text("(");
                    cur_cb.next().text(")");
                };
            });
            unlock_elements(lock_list);
        }
    });
};

function draw_tables() {
    $("div#config").children().remove();
    c_table = $("<table>").attr({"id" : "config"});
    DEVICES.find("device_group").each(function() {
        var cur_dg = $(this);
        var new_tr = $("<tr>").attr({
            "class"   : "ui-widget ui-widget-header"
        });
        new_tr.append($("<th>").attr({
            "colspan" : "8"
        }).text("device group " + cur_dg.attr("name")));
        c_table.append(new_tr);
        // at first append metadevice
        cur_dg.find("devices device[selected='selected'][meta_device='1']").each(function() {
            var cur_dev = $(this);
            c_table.append(draw_device(cur_dev));
        });
        cur_dg.find("devices device[selected='selected'][meta_device='0']").each(function() {
            var cur_dev = $(this);
            c_table.append(draw_device(cur_dev));
        });
    });
    $("div#config").append(c_table);
};

function use_devs(dt_div) {
    CUR_DEVICES = _.map(dt_div.dynatree("getSelectedNodes"), function(value) {
        return(value.data.key);
    });
    notify_generate_link();
    load_devices(CUR_DEVICES);
};

function load_devices(sel_list) {
    //console.log(sel_list);
    $.ajax({
        url     : "{% url device:get_group_tree %}",
        error   : handle_ajax_error,
        data    : {
            "sel_list" : sel_list
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                DEVICES = $(xml).find("value[name='response']");
                load_device_configs(sel_list);
            }
        }
    });
};

function load_device_configs(sel_list) {
    $.ajax({
        url     : "{% url config:get_device_configs %}",
        error   : handle_ajax_error,
        data    : {
            "sel_list" : sel_list
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                DEVICE_CONFIGS = $(xml).find("value[name='response']");
                load_configs();
            }
        }
    });
};

function load_configs() {
    $.ajax({
        url     : "{% url config:get_configs %}",
        error   : handle_ajax_error,
        data    : {
            "mode" : "simple"
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                CONFIGS = $(xml).find("value[name='response']");
                apply_filter(true);
            }
        }
    });
};

function add_dcon_handlers() {
    install_devsel_link(use_devs, true);
};

$(document).ready(add_dcon_handlers);

</script>

{% endblock %}
