{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "Device network settings" %}{% endblock %}

{% block tab_js %}

    <!--[if gt IE8]><!--><script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/d3js/d3.v3.min.js"></script><!--<![endif]-->
    <style></style>
    
{% endblock %}

{% block content %}

<div id="network_div">
<h1 class="center">Device network settings</h1>

<div id="network_table"></div>

<div id="network_copy">
Set all networks from <select id="network_copy"></select>
</div>
<div id="network_graph_sel">
Show network topology: <input type="button" id="redraw_graph" value="Redraw"/>
<select id="nw_graph_sel">
<option value="none">none</option>
<option value="all">all</option>
<option value="sel">selected</option>
<option value="selp1">selected + 1 (next ring)</option>
<option value="selp2">selected + 2</option>
<option value="selp3">selected + 3</option>
<option value="core">core (non-trivial)</option>
</select>
</div>

</div>

<div id="network_graph_outer" style="border:1px solid black;">
<div id="network_graph"></div>
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

class network_table
    constructor: (@top_div) ->
        @DUMMY_MAC ="00:00:00:00:00:00"
    use_devs: (@SELECTED_DEVICES) =>
        @reload_network_tree()
    reload_network_tree: (sel_list) =>
        $.ajax
            url     : "{% url 'network:device_network' %}"
            data    : {
                "sel_list" : @SELECTED_DEVICES
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    @DEVICE_NETWORKS = $(xml)
                    @draw_network_table()
                    @init_copy_widget()
                    @init_create_widget()
                    @redraw_graph()
    draw_network_table: =>
        @network_list = @DEVICE_NETWORKS.find("network_list network")
        @domain_list  = @DEVICE_NETWORKS.find("domain_tree_nodes domain_tree_node")
        @autoneg_list = @DEVICE_NETWORKS.find("ethtool_autoneg")
        @duplex_list  = @DEVICE_NETWORKS.find("ethtool_duplex")
        @speed_list   = @DEVICE_NETWORKS.find("ethtool_speed")
        @expand_dict = new Object()
        if @DEVICE_NETWORKS.find("device").length
            @new_table = $("<table>").attr({"id" : "network_tree"}).addClass("devicelist")
            @DEVICE_NETWORKS.find("device").each (idx, cur_dev) =>
                @new_table.append(@draw_device_networks($(cur_dev)).children())
            @new_table.find("tr:not([id$='__header'])").hide()
        else
            @new_table = ""
        @top_div.children().remove()
        @top_div.append(@new_table)
        @show_ip_peer_numbers()
    draw_device_networks: (cur_dev) =>
        # init global flag
        @FIRST_NETDEVICE_LINE = true
        dummy_div = $("<div>")
        dummy_div.append(@add_netdevice_line(cur_dev).children())
        cur_dev.find("netdevices netdevice").each (idx, cur_nd) =>
            dummy_div.append(@add_netdevice_line(cur_dev, $(cur_nd)).children())
        return dummy_div
    
    # netdevice related calls
    
    expand_device: (line_prefix, flag, name) =>
        cur_dev = @DEVICE_NETWORKS.find("device[pk='" + line_prefix.split("__")[1] + "']")
        @new_table.find("tr[id^='nd__" + cur_dev.attr("pk") + "__']").each (idx, exp_line) =>
            exp_line = $(exp_line)
            line_id = exp_line.attr("id")
            if line_id.match(/__header$/)
                # init local expansion dict
                @exp_dict = {}
            else
                if line_id.split("__").length == 3
                    # netdevice line, create location expansion dict
                    exp_line.find("div[id*='__expand__']").each (exp_id, cur_exp) =>
                        cur_exp = $(cur_exp)
                        exp_name = cur_exp.attr("id").split("__")[4]
                        if cur_exp.attr("class").match(/-1-e/)
                            @exp_dict[exp_name] = false
                        else
                            @exp_dict[exp_name] = true
                        # coffeescript hack, sigh...
                        return true
                    if flag
                        exp_line.show()
                    else
                        exp_line.hide()
                else
                    exp_name = line_id.split("__")[3]
                    if flag and @exp_dict[exp_name]
                        exp_line.show()
                    else
                        exp_line.hide()
    add_netdevice_line: (cur_dev, cur_nd) =>
        dummy_div = $("<div>")
        nd_pk = if cur_nd then cur_nd.attr("pk") else "new"
        line_prefix = "nd__" + cur_dev.attr("pk") + "__#{nd_pk}"
        if @FIRST_NETDEVICE_LINE
            @FIRST_NETDEVICE_LINE = false
            cur_tr = $("<tr>").attr({
                "id"    : "#{line_prefix}__header",
                "class" : "ui-widget ui-widget-header"
            })
            num_nds = cur_dev.find("netdevices netdevice").length
            cur_tr.append(
                $("<th>").attr({
                    "id"      : "#{line_prefix}__devname",
                    "colspan" : 8}).append(
                        $("<span>").text(cur_dev.attr("full_name"))
                ),
                get_expand_td(
                    line_prefix,
                    "exp",
                    "show netdevices",
                    @expand_device,
                    false,
                )
            )
            dummy_div.append(cur_tr)
        cur_tr = $("<tr>").attr({
            "id"    : line_prefix,
            "class" : "ui-widget ui-widget-header"
        })
        cur_tr.append(
            $("<td>").append(
                create_input_el(cur_nd, "devname", line_prefix, {master_xml: @DEVICE_NETWORKS, callback: @update_network_device_type_string})
            ).append(
                $("<span>").attr({
                    "id"    : "#{line_prefix}__devinfo"
                })
            )
        )
        if nd_pk == "new"
            cur_tr.find("td:last input").bind("click", @fill_new_netdevice_name)
        # expand flags
        cur_tr.append(get_expand_td(line_prefix, "hw", undefined, @toggle_netdevice_line))
        cur_tr.append(get_expand_td(line_prefix, "mac", undefined, @toggle_netdevice_line))
        if nd_pk == "new"
            cur_tr.append($("<td>").attr("colspan", "2").html("&nbsp;"))
        else
            # IP
            cur_tr.append(get_expand_td(line_prefix, "ip", undefined, @toggle_netdevice_line))
            cur_tr.append(get_expand_td(line_prefix, "routing", undefined, @toggle_netdevice_line))
        # description
        cur_tr.append(
            $("<td>").append(
                create_input_el(cur_nd, "description", line_prefix, {master_xml: @DEVICE_NETWORKS})
            )
        )
        # vlan_id
        cur_tr.append(
            $("<td>").append(
                create_input_el(cur_nd, "vlan_id", line_prefix, {master_xml: @DEVICE_NETWORKS, number: true, min: 0, max: 4096})
            )
        )
        if nd_pk != "new"
            @update_network_device_type_string(cur_tr.find("td:last input"))
        cur_tr.append(
            $("<td>").append(
                create_input_el(cur_nd, "netdevice_speed", line_prefix, {master_xml : @DEVICE_NETWORKS, select_source : @DEVICE_NETWORKS.find("netdevice_speeds netdevice_speed")})
            )
        )
        cur_tr.append(
            $("<td>").append(
                $("<input>").addClass(if nd_pk == "new" then "" else "delete").attr({
                    "type"  : "button",
                    "value" : if nd_pk == "new" then "create" else "delete",
                    "id"    : line_prefix
                }).bind("click", @create_delete_new_netdevice)
            )
        )
        dummy_div.append(
            cur_tr,
            @create_hw_line(line_prefix, cur_nd),
            @create_mac_line(line_prefix, cur_nd),
        )
        if cur_nd
            ip_tr = $("<tr>").attr("id", "#{line_prefix}__ip").hide()
            ip_tr.append($("<td>").attr("colspan", "9"))
            dummy_div.append(ip_tr)
            peer_tr = $("<tr>").attr("id", "#{line_prefix}__routing").hide()
            peer_tr.append($("<td>").attr("colspan", "9"))
            dummy_div.append(peer_tr)
        return dummy_div
    create_hw_line: (line_prefix, cur_nd) =>
        # hardware line
        hw_tr = $("<tr>").attr({
            "id" : "#{line_prefix}__hw"
        }).hide()
        hw_tr.append(
            $("<td>").attr({"colspan" : "9"}).append(
                create_input_el(cur_nd, "driver", line_prefix, {label : "driver", master_xml : @DEVICE_NETWORKS, new_default : "e1000e"})
            ).append(
                create_input_el(cur_nd, "driver_options", line_prefix, {label : "driver_options", master_xml : @DEVICE_NETWORKS})
            ).append(
                create_input_el(cur_nd, "ethtool_autoneg", line_prefix, {"select_source" : @autoneg_list, "label" : "autonegotiation", master_xml : @DEVICE_NETWORKS})
            ).append(
                create_input_el(cur_nd, "ethtool_duplex", line_prefix, {"select_source" : @duplex_list, label : "duplex", master_xml : @DEVICE_NETWORKS})
            ).append(
                create_input_el(cur_nd, "ethtool_speed", line_prefix, {"select_source" : @speed_list, label : "speed", master_xml : @DEVICE_NETWORKS})
            )
        )
        return hw_tr
    create_mac_line: (line_prefix, cur_nd) =>
        # MAC line
        mac_tr = $("<tr>").attr({
            "id" : "#{line_prefix}__mac"
        }).hide()
        mac_tr.append(
            $("<td>").attr({"colspan" : "9"}).append(
                create_input_el(cur_nd, "macaddr", line_prefix, {label : "MAC address", new_default : @DUMMY_MAC, master_xml : @DEVICE_NETWORKS})
            ).append(
                create_input_el(cur_nd, "fake_macaddr", line_prefix, {label : "fake MAC address", new_default : @DUMMY_MAC, master_xml : @DEVICE_NETWORKS})
            ).append(
                create_input_el(cur_nd, "dhcp_device", line_prefix, {label : "force write DHCP address", "boolean" : true, master_xml : @DEVICE_NETWORKS})
            )
        )
        return mac_tr
    create_ip_line: (line_prefix, cur_dev, cur_nd) =>
        # IP table
        ip_table = $("<table>").attr("id" : "#{line_prefix}__ip")
        ip_table.append(@create_net_ip_line(cur_dev, cur_nd, line_prefix, undefined))
        # add present net_ip lines
        cur_nd.find("net_ip").each (ip_idx, cur_ip) =>
            ip_table.append(@create_net_ip_line(cur_dev, cur_nd, line_prefix, $(cur_ip)))
        @recolor_table(ip_table)
        return ip_table
    create_routing_table: (line_prefix, cur_dev, cur_nd) =>
        # routing tr
        route_tr_base = $("<tr>").attr({
            "id" : "#{line_prefix}__routing__base"
        })
        route_tr_base.append(
            $("<td>").attr({"colspan" : "3"}).append(
                create_input_el(cur_nd, "routing", line_prefix, {label : "Routing capable: ", boolean : true, callback : @redraw_possible_peers, master_xml : @DEVICE_NETWORKS})
            )
        ).append(
            create_input_el(cur_nd, "penalty", line_prefix, {label : "Penalty", number: true, master_xml : @DEVICE_NETWORKS, enclose_tag: "<td>"})
        )
        peer_table = $("<table>").attr("id" : "#{line_prefix}__routing")
        route_tr_add = $("<tr>").attr({
            "id" : "#{line_prefix}__routing__add"
        })
        route_td = $("<th>").attr({"colspan" : "3"})
        route_tr_add.append(route_td)
        route_td.append(
            $("<span>").text("add new peer: ")
        ).append(
            $("<span>").attr({"id" : "#{line_prefix}__routing__new_peer"})
        ).append(
            $("<span>").text(" with")
        )
        route_tr_add.append(
            $("<th>").append(
                $("<span>").text("penalty")
            ).append(
                $("<input>").attr({
                    "id"    : "#{line_prefix}__routing__new_peer__penalty",
                    "type"  : "number",
                    "value" : "1"})
            )
        )
        @add_valid_peers(line_prefix, route_td)
        peer_table.append(route_tr_base)
        peer_table.append(route_tr_add)
        cur_nd.find("peer_information").each (p_idx, cur_peer) =>
            peer_table.append(@create_peer_line(cur_nd, $(cur_peer), "#{line_prefix}__routing"))
        @recolor_table(peer_table)
        return peer_table
    create_delete_new_netdevice: (event) =>
        cur_el = $(event.target)
        cur_dev = @DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "']")
        lock_list = lock_elements(@new_table)
        if cur_el.attr("id").match(/new$/)
            # create element
            $.ajax
                url     : "{% url 'network:create_netdevice' %}"
                data    : create_dict(@new_table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        @inject_netdevice_line(cur_dev, $(xml).find("response values value netdevice"))
                        $("div#network_table").find("input[id^='nd__" + cur_el.attr("id").split("__")[1] + "__new__devname']").attr("value", "")
                    unlock_elements(lock_list)
        else
            # delete
            $.ajax
                url     : "{% url 'network:delete_netdevice' %}"
                data    : create_dict(@new_table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        # remove all peers
                        $(xml).find("response peers peer_information").each (p_idx, d_peer) =>
                            @remove_peer_lines($(d_peer).attr("pk"))
                        @remove_netdevice_line(cur_dev, cur_el)
                    unlock_elements(lock_list)
    remove_netdevice_line: (cur_dev, delete_button) =>
        cur_tr = @new_table.find("tr[id='" + delete_button.attr("id") + "']")
        name_td = @new_table.find("th[id='nd__" + delete_button.attr("id").split("__")[1] + "__new__devname']")
        @new_table.find("tr[id^='nd__" + delete_button.attr("id").split("__")[1] + "__" + delete_button.attr("id").split("__")[2] + "']").each (idx, cur_tr) =>
            cur_tr = $(cur_tr)
            if cur_tr.is(":visible")
                @modify_rowspan(name_td, -1)
            cur_tr.remove()
    inject_netdevice_line: (cur_dev, new_nd) =>
        # add new_nd to DEVICE_NETWORKS
        @DEVICE_NETWORKS.find("device[pk='" + new_nd.attr("device") + "'] netdevices").append(new_nd)
        @FIRST_NETDEVICE_LINE = false
        header_tr = $("div#network_table tr[id='nd__" + cur_dev.attr("pk") + "__new']")
        header_tr.next().next().after(
            @add_netdevice_line(cur_dev, new_nd).children()
        )
        @modify_rowspan(header_tr.find("th[id$='__devname']"), 1)
    fill_new_netdevice_name: (event) =>
        cur_el = $(event.target)
        cur_val = cur_el.attr("value")
        if not cur_val
            used_dev_names = ($(dn_el).attr("value") for dn_el in @new_table.find("tr[id^='nd__" + cur_el.attr("id").split("__")[1] + "__'] input[id$='__devname']"))
            if "lo" not in used_dev_names
                cur_el.attr("value", "lo")
            else if "eth0" not in used_dev_names
                cur_el.attr("value", "eth0")
            else
                cur_el.attr("value", "ib0")

    # peer related calls
    
    redraw_possible_peers: =>
        $.ajax
            url     : "{% url 'network:get_valid_peers' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @DEVICE_NETWORKS.find("valid_peers").replaceWith($(xml).find("valid_peers"))
                    @new_table.find("tr[id$='__routing__add']").each (idx, cur_tr) =>
                        cur_tr = $(cur_tr)
                        line_prefix = "nd__" + cur_tr.attr("id").split("__")[1] + "__" + cur_tr.attr("id").split("__")[2]
                        @add_valid_peers(line_prefix, cur_tr)
    delete_peer: (event) =>
       peer_id = $(event.target).attr("id")
       $.ajax
           url     : "{% url 'network:delete_peer' %}"
           data    : {
               "id" : peer_id
           }
           success : (xml) =>
               if parse_xml_response(xml)
                   # remove all peer lines
                   @remove_peer_lines(peer_id.split("__")[4])
    add_valid_peers: (line_prefix, start_el) =>
        if start_el
            target_div = start_el.find("span[id='#{line_prefix}__routing__new_peer']")
        else
            target_div = $("div#network-table span[id='#{line_prefix}__routing__new_peer']")
        if @DEVICE_NETWORKS.find("valid_peers valid_peer").length
            peer_sel = $("<select>").attr({
                "id"  : "#{line_prefix}__routing__new_peer"
            }).bind("change", @create_new_peer)
            peer_sel.append($("<option>").attr({"value" : "0", "selected" : "selected"}).text("---"))
            @DEVICE_NETWORKS.find("valid_peers valid_peer").each (p_idx, new_peer) =>
                new_peer = $(new_peer)
                peer_sel.append($("<option>").attr({
                    "value" : new_peer.attr("pk")
                }).text(new_peer.text()))
            target_div.html(peer_sel)
        else
            target_div.html($("<b>").text("no valid peers"))
    remove_peer_lines: (peer_pk) =>
        @new_table.find("tr[id$='__routing__#{peer_pk}']").each (p_idx, peer_line) =>
            $(peer_line).remove()
            @DEVICE_NETWORKS.find("peer_information[pk='#{peer_pk}']").remove()
        # update information
        @show_ip_peer_numbers()
    create_new_peer: (event) =>
        cur_sel = $(event.target)
        new_p = parseInt(cur_sel.attr("value"))
        if new_p
            $.ajax
                url     : "{% url 'network:create_new_peer' %}"
                data    : {
                    "id"       : cur_sel.attr("id")
                    "new_peer" : new_p
                    "penalty"  : cur_sel.parents("tr:first").find("input[id^='" + cur_sel.attr("id") + "']").attr("value")
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        $(xml).find("value[name='new_peer_information'] peer_information").each (p_idx, new_peer) =>
                            new_peer = $(new_peer)
                            @inject_peer(new_peer, "s_netdevice")
                            if new_peer.attr("s_netdevice") != new_peer.attr("d_netdevice")
                                @inject_peer(new_peer, "d_netdevice")
        cur_sel.attr("value", "0")
    inject_peer: (new_peer, attr_name) =>
        cur_nd = @DEVICE_NETWORKS.find("netdevice[pk='" + new_peer.attr(attr_name) + "']")
        cur_nd.find("peers").append(new_peer.clone())
        line_prefix = "nd__" + cur_nd.attr("device") + "__" + cur_nd.attr("pk") + "__routing"
        header_peer_line = $("div#network_table tr[id='#{line_prefix}__add']")
        if header_peer_line.length
            header_peer_line.after(@create_peer_line(cur_nd, new_peer, line_prefix))
        @show_ip_peer_numbers()
    create_peer_line: (cur_nd, cur_peer, line_prefix) =>
        line_prefix = "#{line_prefix}__" + cur_peer.attr("pk")
        new_tr = $("<tr>").attr({
            "id" : line_prefix
        })
        if cur_nd.attr("pk") == cur_peer.attr("s_netdevice")
            sn = "from"
            dn = "to"
        else
            sn = "to"
            dn = "from"
        new_tr.append(
            $("<td>").append(
                $("<span>").text("from " + cur_peer.attr("#{sn}_devname") + " [" + cur_peer.attr("#{sn}_penalty") + "] on " + cur_peer.attr("#{sn}_device_full"))
            ),
            $("<td>").append(
                $("<span>").text("with penalty")
            ).append(
                create_input_el(cur_peer, "penalty", line_prefix, {number: true, master_xml : @DEVICE_NETWORKS, min: 1, max: 4096})
            ),
            $("<td>").append(
                $("<span>").text("to " + cur_peer.attr("#{dn}_devname") + " [" + cur_peer.attr("#{dn}_penalty") + "] on " + cur_peer.attr("#{dn}_device_full"))
            ),
            $("<td>").append(
                $("<input>").attr({
                    "id"    : line_prefix,
                    "type"  : "button",
                    "value" : "delete"
                }).bind("click", @delete_peer)
            )
        )
        return new_tr

    # IP related commands
    
    create_delete_new_net_ip: (event) =>
        cur_el = $(event.target)
        cur_dev = @DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "']")
        cur_nd = @DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "__" + cur_el.attr("id").split("__")[2] + "']")
        cur_ip = @DEVICE_NETWORKS.find("net_ip[pk='" + cur_el.attr("id").split("__")[4] + "']")
        lock_list = lock_elements(@new_table)
        if cur_el.attr("id").match(/new$/)
            # create element
            $.ajax
                url     : "{% url 'network:create_net_ip' %}"
                data    : create_dict(@new_table, cur_el.attr("id")),
                success : (xml) =>
                    if parse_xml_response(xml)
                        @inject_net_ip_line(cur_dev, $(xml).find("response values value net_ip"))
                    unlock_elements(lock_list)
        else
            # delete
            $.ajax
                url     : "{% url 'network:delete_net_ip' %}"
                data    : create_dict(@new_table, cur_el.attr("id"))
                success : (xml) =>
                    if parse_xml_response(xml)
                        @remove_net_ip_line(cur_ip, cur_el)
                    unlock_elements(lock_list)
    create_net_ip_line: (cur_dev, cur_nd, line_prefix, cur_ip) =>
        ip_pk = if cur_ip then cur_ip.attr("pk") else "new"
        line_prefix = "#{line_prefix}__ip__#{ip_pk}"
        ip_tr = $("<tr>").attr({
            "id" : line_prefix
        })
        if cur_nd
            new_tag = if cur_ip then "<td>" else "<th>"
            ip_tr.append(
                create_input_el(cur_ip, "ip", line_prefix, {label : "IP", callback : @set_network_after_change, master_xml : @DEVICE_NETWORKS, enclose_tag : new_tag})
            ).append(
                create_input_el(cur_ip, "network", line_prefix, {label : "NW", select_source : @network_list, callback : @set_network_after_change, master_xml : @DEVICE_NETWORKS, enclose_tag : new_tag})
            ).append(
                create_input_el(cur_ip, "domain_tree_node", line_prefix, {label : "Domain", master_xml : @DEVICE_NETWORKS, enclose_tag : new_tag, select_source : @domain_list, new_default: cur_dev.attr("domain_tree_node")})
            ).append(
                create_input_el(cur_ip, "alias", line_prefix, {label : "Alias", master_xml : @DEVICE_NETWORKS, enclose_tag : new_tag})
            ).append(
                create_input_el(cur_ip, "alias_excl", line_prefix, {label : "Exclusive", boolean : true, master_xml : @DEVICE_NETWORKS, enclose_tag : new_tag})
            ).append(
                $(new_tag).append(
                    $("<input>").attr({
                        "type"  : "button",
                        "value" : if ip_pk == "new" then "create" else "delete",
                        "id"    : line_prefix
                    }).bind("click", @create_delete_new_net_ip)
                )
            )
        return ip_tr
    inject_net_ip_line: (cur_dev, new_ip) =>
        # add new_nd to DEVICE_NETWORKS
        cur_nd = @DEVICE_NETWORKS.find("netdevice[pk='" + new_ip.attr("netdevice") + "']")
        cur_dev = @DEVICE_NETWORKS.find("device[pk='" + cur_nd.attr("device") + "']")
        cur_nd.find("net_ips").append(new_ip)
        line_prefix = "nd__" + cur_dev.attr("pk") + "__" + cur_nd.attr("pk")
        @FIRST_NETDEVICE_LINE = false
        header_tr = @new_table.find("tr[id='#{line_prefix}__ip__new']")
        new_line = @create_net_ip_line(cur_dev, cur_nd, line_prefix, new_ip)
        header_tr.after(new_line)
        new_line.show()
        @show_ip_peer_numbers()
    remove_net_ip_line: (cur_ip, delete_button) =>
        name_td = @new_table.find("th[id='nd__" + delete_button.attr("id").split("__")[1] + "__new__devname']")
        @DEVICE_NETWORKS.find("net_ip[pk='" + cur_ip.attr("pk") + "']").remove()
        ip_tr = delete_button.parents("tr:first")
        ip_tr.remove()
        @show_ip_peer_numbers()
        
    # utility functions
    
    recolor_table: (in_lines) =>
        in_lines.find("tr").removeClass("even odd")
        in_lines.find("tr:even").addClass("even")
        in_lines.find("tr:odd").addClass("odd")
    show_ip_peer_numbers: () =>
        @DEVICE_NETWORKS.find("device netdevice").each (idx, cur_nd) =>
            cur_nd = $(cur_nd)
            num_ips = cur_nd.find("net_ip").length
            num_peers = cur_nd.find("peer_information").length
            tr_prefix = "nd__#{cur_nd.attr('device')}__#{cur_nd.attr('pk')}"
            cur_tr = @new_table.find("tr[id='#{tr_prefix}']")
            # recolor
            ip_lines = @new_table.find("tr[id^='#{tr_prefix}'] table[id='#{tr_prefix}__ip']")
            @recolor_table(ip_lines)
            cur_tr.find("span##{tr_prefix}__expand__ip__info").text(if num_ips then "ip (#{num_ips})" else "ip")
            peer_lines = @new_table.find("tr[id^='#{tr_prefix}'] table[id='#{tr_prefix}__routing']")
            @recolor_table(peer_lines)
            cur_tr.find("span##{tr_prefix}__expand__routing__info").text(if num_peers then "routing (#{num_peers})" else "routing")
    hover: (event) =>
        if event.type == "mouseenter"
            $(event.target).parents("tr:first").addClass("highlight")
        else
            $(event.target).parents("tr:first").removeClass("highlight")
    update_network_device_type_string: (cur_el) =>
        cur_nd = @DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "'] netdevice[pk='" + cur_el.attr("id").split("__")[2] + "']")
        cur_el.parents("tr:first").find("span[id$='__devinfo']").text(@DEVICE_NETWORKS.find("network_device_type_list network_device_type[pk='" + cur_nd.attr("network_device_type") + "']").text())
    set_network_after_change: (cur_el) =>
        # get xml_el
        net_ip_xml = @DEVICE_NETWORKS.find("net_ip[pk='" + cur_el.attr("id").split("__")[4] + "']")
        @new_table.find("select[id$='__ip__" + net_ip_xml.attr("pk") + "__network']").attr("value", net_ip_xml.attr("network"))
    modify_rowspan: (cur_el, diff) =>
        cur_el.attr({"rowspan" : parseInt(cur_el.attr("rowspan")) + diff})
    
        # toggle lines
    toggle_netdevice_line: (line_prefix, state, line_spec) =>
        cur_dev = @DEVICE_NETWORKS.find("device[pk='" + line_prefix.split("__")[1] + "']")
        cur_nd = cur_dev.find("netdevice[pk='" + line_prefix.split("__")[2] + "']")
        if line_spec in ["ip", "routing"]
            targ_el = @new_table.find("tr##{line_prefix}__#{line_spec} > td")
            if targ_el.children().length == 0
                if line_spec == "ip"
                    targ_el.append(@create_ip_line(line_prefix, cur_dev, cur_nd))
                else
                    targ_el.append(@create_routing_table(line_prefix, cur_dev, cur_nd))
        exp_line = @new_table.find("tr[id^='#{line_prefix}__#{line_spec}']")
        if state
            exp_line.show()
        else
            exp_line.hide()
    
    # copy widget related calls
    
    init_copy_widget: =>
        c_w = $("select#network_copy")
        c_w.children().remove()
        if @DEVICE_NETWORKS.find("device").length
            $("div#network_copy").show()
            c_w.append($("<option>").attr({"value" : "0"}).text("---"))
            c_w.val("0")
            if @DEVICE_NETWORKS.find("device").length > 1
                @DEVICE_NETWORKS.find("device").each (dev_idx, cur_dev) =>
                    cur_dev = $(cur_dev)
                    c_w.append($("<option>").attr({"value" : cur_dev.attr("pk")}).text(cur_dev.attr("full_name")))
            c_w.off("change").on("change", @copy_network)
        else
            $("div#network_copy").hide()
    init_create_widget: =>
        # important to unbind to avoid cascades
        $("input#redraw_graph").unbind("click").bind("click", @redraw_graph)
        $("select#nw_graph_sel").unbind("change").bind("change", @redraw_graph)
    draw_graph: (graph) =>
        # some DOM magic, FIXME
        div_width  = $("div#network_graph_outer").outerWidth(true)
        div_height = $("div#network_graph_outer").parent().height() - $("div#network_div").height() - 20
        div_width  = if div_width  < 800 then 800 else div_width
        div_height = if div_height < 500 then 500 else div_height
        $("div#network_graph_outer").width(div_width).height(div_height)
        $("div#network_graph").children().remove()
        width  = 1000
        height = 500
        if $("html").hasClass("ie8")
            return
        # scale with 20 colors
        color = d3.scale.category20()
        #x = d3.scale.linear().domain([-width / 2, width / 2]).range([0, width])
        #y = d3.scale.linear().domain([-height / 2, height / 2]).range([height, 0])
        #x_axis = d3.svg.axis()
        #    .scale(x)
        #    .orient("bottom")
        #    .ticks(5)
        #    .tickSize(-height)
        #y_axis = d3.svg.axis()
        #    .scale(y)
        #    .orient("left")
        #    .ticks(5)
        #    .tickSize(-width)
        #zoom = () =>
        #    @svg.select(".x.axis").call(x_axis)
        #    @svg.select(".y.axis").call(y_axis)
        @svg = d3.select("div#network_graph").append("svg:svg").attr(
            "width"   : div_width,
            "height"  : div_height,
            "viewBox" : "0 0 #{width} #{height}",
            "preserveAspectRatio" : "xMidYMid",
        ).append("g")
        #.attr("transform", "translate(4, 10)").call(d3.behavior.zoom().x(x).y(y).scaleExtent([1, 8]).on("zoom", zoom))
        @svg.append("rect").attr(
            "x"      : 0,
            "y"      : 0,
            "width"  : width,
            "height" : height,
            
        ).style(
            "stroke"       : "#000000",
            "fill"         : "none",
            "stroke-width" : "1",
        )
        #@svg.append("g")
        #    .attr("class", "x axis")
        #    .attr("transform", "translate(0," + height + ")")
        #    .call(x_axis)
        #@svg.append("g")
        #    .attr("class", "y axis")
        #    .call(y_axis)
        @force = d3.layout.force().charge(-220).linkDistance(150).size([width, height])
            .linkDistance((d) -> return 100)
        @force.nodes(graph.nodes).links(graph.links).start()
        link = @svg.selectAll(".link").data(graph.links).enter().append("line").attr("class", "link").style("stroke", (d) -> 
            return color(d.networkidx)
        ).style("stroke-opacity", "1").style("stroke-width", "3")
        nodes = @svg.selectAll(".node").data(graph.nodes)
        
        centers = nodes.enter().append("g").call(@force.drag)
        
        centers.append("circle").attr("r", (n) -> return 18).attr("fill", "white").attr("stroke", "grey")
      
        centers.append("text").attr("text-anchor", "middle").text((d) -> return d.name )
        #d_list = [1, 2, 4]
        @force.on("tick", =>
            link.attr("x1", (d) -> return d.source.x )
                .attr("y1", (d) -> return d.source.y )
                .attr("x2", (d) -> return d.target.x )
                .attr("y2", (d) -> return d.target.y )
            centers.attr("transform", (d) -> 
                return "translate(#{d.x},#{d.y})"
            )
        )
    redraw_graph : =>
        $.ajax
            url      : "{% url 'network:json_network' %}"
            data     : 
                "graph_mode" : $("select#nw_graph_sel").val()
            dataType : "json"
            success  : (json) =>
                @draw_graph(json)
    copy_network: (event) =>
        cur_el = $(event.target)
        c_val = cur_el.val()
        if confirm("Overwrite all networks with the one from " + @DEVICE_NETWORKS.find("device[pk='#{c_val}']").attr("name") + " ?")
            $.ajax
                url     : "{% url 'network:copy_network' %}"
                data    : {
                    "source_dev" : c_val
                    "all_devs"   : @SELECTED_DEVICES
                },
                success : (xml) =>
                    if parse_xml_response(xml)
                        @reload_network_tree()
        cur_el.val(0)

add_dnet_handlers = ->
    net_t = new network_table($("div#network_table"))
    install_devsel_link(net_t.use_devs, true)

$(document).ready(add_dnet_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
