{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Device Configuration" %}{% endblock %}

{% block content %}

<h1 class="center">Device configuration, <span id="config_info">none defined</span>, filter:
<input type="text" id="filter" value=""/>, only selected:
<input type="checkbox" id="filter_assoc"/>,
<input type="button" id="filter_clear" value="clear"/></h1>

<div id="config"></div>

{% include "generate_config.html" %}

<script type="text/javascript">

{% inlinecoffeescript %}

add_dcon_handlers = ->
    conf_t = new config_table($("div#config"))
    install_devsel_link(conf_t.use_devs, true)

$(document).ready(add_dcon_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
