{% load i18n %}

<input type="button" id="generate_button" value="generate" onClick="generate_configs();"/><span id="generate_info"></span>

<div id="generated_config">
</div>

<script type="text/javascript">

TREE_XML = undefined;

function iterate_tree(nest_lev, top_node) {
    var content = nest_lev.find("content:first");
    var node_str = nest_lev.attr("name") + " (";
    var attr_list = ["uid", "gid", "mode"];
    for (idx=0 ; idx < attr_list.length; idx ++) {
        var attr_name = attr_list[idx];
        if (content.attr(attr_name) !== undefined) {
            attr_value = content.attr(attr_name);
            if (attr_name == "mode") {
                var attr_value = parseInt(attr_value).toString(8);
            };
            var node_str = node_str + attr_name + "=" + attr_value + ", ";
        }
    };
    var node_str = node_str + "lvl=" + nest_lev.attr("depth");
    if (content.attr("error_flag") == "1") {
        var node_str = node_str + ", E";
    };
    var node_str = node_str + ")";
    var cur_node = $("<li>").attr({"id" : nest_lev.attr("node_id")}).text(node_str);
    top_node.append(cur_node);
    if (nest_lev.attr("is_dir") == "1") {
        var sub_nodes = nest_lev.find("tree[depth='" + (parseInt(nest_lev.attr("depth")) + 1) + "']");
        cur_node.addClass("folder");
        var sub_ul = $("<ul>");
        cur_node.append(sub_ul);
        $.each(sub_nodes, function(idx, sub_node) {
            iterate_tree($(sub_node), sub_ul);
        });
    };
};

function draw_tree_xml() {
    var top_div = $("<div>").attr({
        "id" : "gen_tree"
    });
    var tab_ul = $("<ul>");
    top_div.append(tab_ul);
    TREE_XML.find("devices device").each(function() {
        var cur_dev = $(this);
        tab_ul.append($("<li>").append($("<a>").attr({
            "href" : "#dev__" + cur_dev.attr("pk")
        }).text(cur_dev.attr("name"))));
    });
    TREE_XML.find("devices device").each(function() {
        var cur_dev = $(this);
        var new_div = $("<div>").attr({
            "id" : "dev__" + cur_dev.attr("pk")
        });
        var error_div = $("<div>").attr({
            "id" : "dev__" + cur_dev.attr("pk") + "__error"
        });
        var tree_div = $("<div>").attr({
            "id" : "tree__dev__" + cur_dev.attr("pk")
        });
        var content_div = $("<div>").attr({
            "id" : "cont__dev__" + cur_dev.attr("pk")
        });
        var top_node = $("<ul>");
        error_div.text(cur_dev.attr("info_str"));
        new_div.append(error_div);
        new_div.append(tree_div);
        new_div.append(content_div);
        tree_div.append(top_node);
        iterate_tree(cur_dev.find("tree[depth='0']"), top_node);
        tree_div.dynatree({
            onActivate : function(dtnode) {
                if (! dtnode.hasChildren()) {
                    var c_node = TREE_XML.find("tree[node_id='" + dtnode.data.key + "']");
                    content_div.html(c_node.find("content").text().replace(/\n/g, "<br>"));
                };
            },
            debuglevel : {% if DEBUG %}2{% else %}0{% endif %}
        });
        top_div.append(new_div);
    });
    $("div#generated_config").children().remove();
    $("div#generated_config").append(top_div);
    top_div.tabs();
};

function notify_generate_link() {
    $("span#generate_info").text(resolve_device_keys(CUR_DEVICES));
};

function generate_configs() {
    $("input#generate_button").attr("disabled", "disabled");
    $.ajax({
        url : "{% url config:generate_config %}",
        data : {
            "sel_list" : CUR_DEVICES
        },
        success : function(xml) {
            $("input#generate_button").removeAttr("disabled");
            if (parse_xml_response(xml)) {
                TREE_XML = $(xml);
                draw_tree_xml();
            };
        }
    });
};

</script>
