{% extends "main.html" %}

{% load i18n extra_tags coffeescript crispy_forms_tags %}

{% block title %}{% trans "Image Overview" %}{% endblock %}

{% block content %}

<div ng-app="icsw.image">

<script type="text/ng-template" id="image.html">
    {% crispy image_form image_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="paginator.html">
    <span ng-show="pag_settings.conf.num_entries">
        <input type="button" ng-repeat="pag_num in pag_settings.conf.page_list track by $index" value="{{ pag_num }}" ng-click="activate_page(pag_num)"></button>
        , showing from {{ pag_settings.conf.start_idx + 1 }} to {{ pag_settings.conf.end_idx + 1 }}
    </span>
</script>

<script type="text/ng-template" id="image_head.html">
    <tr>
        <th>Name</th>   
        <th>Version</th>
        <th>Enabled</th>
        <th>arch</th>   
        <th>Sysinfo</th>
        <th>Size</th>
        <th>Usecount</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="image_row.html">
    <td>{{ obj.name }}</td>
    <td class="text-center">{{ obj.version  }}.{{ obj.release }}</td>
    <td>{{ obj.enabled && "yes" || "---" }}</td>
    <td>{{ obj.architecture | array_lookup:this:'architectures':'architecture':'---' }}</td>
    <td>{{ obj.sys_vendor }}, {{ obj.sys_version || "?" }}.{{ obj.sys_release || "?" }}</td>
    <td class="text-center">{{ obj.act_image.length }} / {{ obj.new_image.length }}</td>
    <td class="text-center">{{ obj.size_string }}</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="image_new_head.html">
    <tr>
        <th>Name</th>   
        <th>SysInfo</th>
        <th>arch</th>
        <th>Present</th>
        <th>action</th>   
    </tr>
</script>

<script type="text/ng-template" id="image_new_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.vendor }}, {{ obj.version }}</td>
    <td>{{ obj.arch }}</td>
    <td>{{ obj.present && "yes" || "no" }}
    <td><input type="button" class="btn btn-primary" value="take" ng-click="take_image(obj)" ng-show="! obj.present"/></td>
</script>

<tabset>
    <tab heading="Images">
<div ng-controller="image_base">

<div ng-controller="image">
<h2>Images ({{entries.length}} entries), <input type="button" value="Scan for images" ng-click="scan_for_images()"/></h2>

<table class="table table-condensed table-condensed table-hover" style="width:auto;">
    <thead imagehead></thead>
    <tbody>
        <tr><td colspan="9" paginator entries="entries" per_page="10"></td></tr>
        <tr imagerow ng-repeat="obj in entries | orderBy:'-identifier':true | paginator:this"></tr>
    </tbody>
</table>

<div ng-show="new_entries.length > 0">
    <h2>Images found ({{ new_entries.length}})</h2>
    <table class="table table-condensed table-condensed table-hover" style="width:auto;">
        <thead imagenewhead></thead>
        <tbody>
            <tr imagenewrow ng-repeat="obj in new_entries | orderBy:'-identifier':true"></tr>
        </tbody>
    </table>
</div>

</div>

</div>
</tab>
</tabset>

</div>

{% endverbatim %}

{% endblock %}
