{% extends "initcore/index.html" %}

{% block meta_description %}
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

{% load i18n extra_tags compress coffeescript %}

{% block stylesheets %}
{% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/tablesorter.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/main.css" />
    {# can be removed as soon as jquery-UI is up to par #}
    <link type="text/css" rel="stylesheet" href="{{ settings.STATIC_URL }}initat/core/static/js/libs/dynatree/skin/ui.dynatree.css" />
    <link type="text/css" rel="stylesheet" href="{{ settings.STATIC_URL }}initat/core/static/js/libs/chosen/chosen.min.css" />
    <!--<link type="text/css" rel="stylesheet" href="{{ settings.STATIC_URL }}initat/core/static/js/libs/jstree/themes/classic/style.css" />-->
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/msdropdown/dd.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/jqModal.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/codemirror.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/prettyCheckable/prettyCheckable.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/bootstrap/bootstrap.css" />
<!--    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/uni-form/blue.uni-form.css" />-->
{% endcompress %}
<link type="text/css" rel="stylesheet" href="{{ settings.STATIC_URL}}initat/core/static/css/jquery.Jcrop.min.css"/>
<style type="text/css" media="screen">

    .dataTables_info { padding-top: 0; }
    .dataTables_paginate { padding-top: 0; }
    .css_right { float: right; }

</style>

<style type="text/css">

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 600px;
}

.CodeMirror-activeline-background {
    background: #ffff00 !important;
}

</style>

{% block extra_stylesheets %}
{% endblock %}

{% block tab_js %}{% endblock %}
{% block forms_media %}{% endblock %}

{% endblock %}

{% block javascript %}
{% compress js %}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.dataTables.rowGrouping.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.sprintf.js_8.txt"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/dynatree/jquery.dynatree.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/noty/top.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/noty/topRight.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/noty/topLeft.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/noty/default.js"></script>
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/underscore-min.js"></script>-->
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.dd.min.js"></script>
    <!-- patched version -->
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.simplemodal.js"></script>
    {# <!-- <script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/jquery.simplemodal-latest.min.js"></script> --> #}
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/codemirror/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/codemirror/python.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/codemirror/xml.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/codemirror/shell.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/prettyCheckable/prettyCheckable.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL}}initat/core/static/js/libs/jquery.color.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL}}initat/core/static/js/libs/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL}}initat/core/static/js/libs/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL}}initat/core/static/js/libs/jquery.blockUI.js"></script>
{% endcompress %}
<script type="text/javascript" src="{{ settings.STATIC_URL}}initat/core/static/js/libs/jquery.Jcrop.min.js"></script>
<!--<script type="text/javascript" src="{{ settings.STATIC_URL}}initat/core/static/js/libs/jstree/jquery.jstree.js"></script>-->

{% include "init.js" %}
{% include "deviceinfo.js" %}
{% include "rms.js" %}

{% endblock %}

{% block title %}{% trans "Main Page" %}{% endblock %}

{% block main %}

{% block body %}
{% if user.is_authenticated %}
    <div class="ui-layout-north ">
        <div style="z-index:50 ; clear:both ; ">
            {% include "menu.html" %}
        </div>
        <div class="fp_headline" style="float:right;margin:0;padding:10px;">
            {% now "l, j. F Y" %} <span id="cur_time">00:00:00</span>. {% trans "You are logged in as user" %}
            <span>'{{ user.login }}'{% ifnotequal user.login request.session.login_name %} (via alias {{ request.session.login_name }}){% endifnotequal %}</span>. <a href="{% url 'session:logout' %}">{% trans "Logout" %}</a>
        </div>
    </div>
{% endif %}
<noscript>
    <p>JavaScript on your browser is <span class="red_color">disabled</span> so you will not be able
    to use some of the functionality of the software.</p>
</noscript>
{% if not hide_sidebar %}
    <div class="ui-layout-west " >
        {% include 'sidebar.html' %}
    </div>
{% endif %}
{% if settings.CLUSTER_LICENSE.docu %}
    <div class="ui-layout-east " >
        <iframe src="{% url 'doc:show' 'index.html' %}" width="100%" height="100%" frameborder="0" >
        </iframe>
    </div>
{% endif %}
<div class="ui-layout-center" id="pane-center">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
{% endblock %}

{% block footer %}
<script type="text/javascript">

{% inlinecoffeescript %}

save_layout_state = (my_layout, p_name) ->
    $.ajax
        url  : "{% url 'user:save_layout_state' %}"
        data : 
            my_layout.state
            
init_layout = ->
    if $("div.ui-layout-center").length
        my_layout = $("body").layout
            applyDefaultStyles  : true
            slidable            : false
            spacing_open        : 6
            spacing_closed      : 6
            west__size          : 340
            west__maxSize       : 480
            west__minSize       : 100
            east__size          : 300
            east__maxSize       : 600
            east__minSize       : 300
            center_minWidth     : 200
            north__spacing_open : 0
            south__initClosed   : true
            west__initClosed    : {% if request.session.west_closed %}true{% else %}false{% endif %}
            east__initClosed    : {% if request.session.east_closed %}true{% else %}false{% endif %}
            onopen : (p_name) ->
                save_layout_state(my_layout, p_name)
            onclose : (p_name) ->
                save_layout_state(my_layout, p_name)
        my_layout.panes.north.css("background-color", "#bfd8ff")
        my_layout.allowOverflow("north")

update_time = ->
    page_time = new Date()
    $("span#cur_time").text($.sprintf("%02d:%02d:%02d", page_time.getHours(), page_time.getMinutes(), page_time.getSeconds()))

init_blockUI = ->
    $.blockUI.defaults.fadeOut = 0
    $.blockUI.defaults.fadeIn  = 0
    $.blockUI.defaults.overlayCSS.opacity = 0.1
    
add_handlers_main = ->
    init_layout()
    init_blockUI()
    update_time()
    try
        init_sidebar()
        {% if user.is_authenticated %}
        init_menu()
        {% endif %}
    catch err
        # in case no menu or sidebar is present
    # init noty
    $.noty.defaults = {
        "layout" : "topRight"
        "theme"  : "defaultTheme"
        "type"   : 'success',
        "text"   : '',
        "dismissQueue" : true, # If you want to use queue feature set this true
        "template"     : '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
        "animation"    : {
            open   : {height: 'toggle'},
            close  : {height: 'toggle'},
            easing : 'swing',
            speed  : 200 # opening & closing animation speed
        },
        "timeout"   : 5000,  # delay for closing event. Set false for sticky notifications
        "force"     : false, # adds notification to the beginning of queue when set to true
        "modal"     : false,
        "closeWith" : ['hover'], # ['click', 'button', 'hover']
        "callback" : {
            onShow     : ->
            afterShow  : ->
            onClose    : ->
            afterClose : ->
        },
        buttons: false
    }
    # show time
    $(document).everyTime(1000, "show_time", (i) ->
        update_time()
    )

$(document).ready(add_handlers_main)

{% endinlinecoffeescript %}

</script>
{% endblock %}
