{% extends "initcore/index.html" %}

{% block meta_description %}
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

{% load i18n extra_tags compress coffeescript %}

{% block stylesheets %}
{% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/main.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/tablesorter.css" />
    {# can be removed as soon as jquery-UI is up to par #}
    <link type="text/css" rel="stylesheet" href="{{ settings.STATIC_URL }}initat/core/static/js/libs/dynatree/skin/ui.dynatree.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/jquery.jnotify-alt.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/msdropdown/dd.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
    
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}frontend/css/jqModal.css" />
{% endcompress %}

<style type="text/css" media="screen">
    .dataTables_info { padding-top: 0; }
    .dataTables_paginate { padding-top: 0; }
    .css_right { float: right; }
</style>

{% block extra_stylesheets %}
{% endblock %}

{% block tab_js %}{% endblock %}
{% block forms_media %}{% endblock %}

{% endblock %}

{% block javascript %}
{% compress js %}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.sprintf.js_8.txt"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/dynatree/jquery.dynatree.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.jnotify.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/jquery.dd.min.js"></script>
    <script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}initat/core/static/js/libs/jquery.simplemodal-latest.min.js"></script>


{% endcompress %}

{% include "init.js" %}

{% endblock %}

{% block title %}{% trans "Main Page" %}{% endblock %}

{% block main %}

{% block body %}
{% if user.is_authenticated %}
<div class="ui-layout-north ">
    <div style="z-index:50 ; clear:both ; ">
        {% include "menu.html" %}
    </div>
    <div class="fp_headline" style="float:right;margin:0;padding:10px;">
        {% now "l, j. F Y" %} <span id="cur_time">00:00:00</span>. {% trans "You are logged in as user" %}
        <span>'{{ user.username }}'</span>. <a href="{% url 'session:logout' %}">{% trans "Logout" %}</a>
    </div>
</div>
{% endif %}
<noscript>
    <p>JavaScript on your browser is <span class="red_color">disabled</span> so you will not be able
    to use some of the functionality of the software.</p>
</noscript>
{% if not hide_sidebar %}
    <div class="ui-layout-west " >
        {% include 'sidebar.html' %}
    </div>
{% endif %}
<div class="ui-layout-center" id="pane-center">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}

{% endblock %}

{% block footer %}
<script type="text/javascript">

{% inlinecoffeescript %}

save_layout_state = ->

init_layout = ->
    if $("div.ui-layout-center").length
        my_layout = $("body").layout
            applyDefaultStyles  : true
            spacing_open        : 6
            west__size          : 300
            west__maxSize       : 400
            west__minSize       : 100
            north__spacing_open : 0
            south__initClosed   : true
            west__initClosed    : {% if request.session.west_closed %}true{% else %}false{% endif %}
            onopen : (p_name) ->
                save_layout_state(p_name)
            onclose : (p_name) ->
                save_layout_state(p_name)
        my_layout.allowOverflow("north")

update_time = ->
    page_time = new Date()
    $("span#cur_time").text($.sprintf("%02d:%02d:%02d", page_time.getHours(), page_time.getMinutes(), page_time.getSeconds()))

add_handlers_main = ->
    init_layout()
    update_time()
    try
        {% if user.is_authenticated %}
        init_menu()
        {% endif %}
        init_sidebar()
    catch err
        # in case no menu or sidebar is present
    # init jnotify
    $.jnotify.setup
        "fadeSpeed" : 50
        "delay"     : 10000
    # show time
    $(document).everyTime(1000, "show_time", (i) ->
        update_time()
    )

$(document).ready(add_handlers_main)

{% endinlinecoffeescript %}

</script>
{% endblock %}
