{% load i18n %}

<ul id="main_navigation" class="sf-menu">
    <li>
        <a href="{% url main:index %}">{% trans "Home" %}</a>
    </li>
    <li>
        <a>{% trans "Setup" %}</a>
        <ul>
            <li><a href="{% url device:tree %}">{% trans "Devicetree" %}</a></li>
            <li><a href="{% url network:networks %}">{% trans "Networks" %}</a></li>
            <li><a href="{% url network:netdevice_classes %}">{% trans "Netdevice classes" %}</a></li>
            <li><a href="{% url config:config_types %}">{% trans "Configuration types" %}</a></li>
            <li><a href="{% url network:network %}">{% trans "Device networks" %}</a></li>
            <li><a href="{% url config:show_configs %}">{% trans "Configurations" %}</a></li>
            <li><a href="{% url device:show_configs %}">{% trans "Device Configurations" %}</a></li>
            <li><a href="{% url boot:show_boot %}">{% trans "Boot settings" %}</a></li>
        </ul>
    </li>
    <li>
        <a>{% trans "RMS" %}</a>
        <ul>
            <li><a href="{% url rms:overview %}">{% trans "RMS overview" %}</a></li>
        </ul>
    <li>
        <a>{% trans "Session" %}</a>
        <ul>
            <li><a href="{% url session:logout %}">{% trans "Logout" %}</a></li>
        </ul>
    </li>
    <li>
        <a>test</a>
        <ul>
            <li>
                <a>test2</a>
                <ul>
                    <li><a>sub3</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<script type="text/javascript">

function init_menu() {
    $("#main_navigation").superfish({
        speed : 1,
        delay : 500
    });
    // new jquery implementation, wait for 1.10 ...
    // $("#main_navigation").menu();
};

</script>
