{% load i18n coffeescript %}

<ul id="main_navigation" class="sf-menu">
    <li>
        <a href="{% url 'main:index' %}">{% trans "Home" %}</a>
    </li>
    <li>
        <a>{% trans "Setup" %}</a>
        <ul>
            <li>
                <a>{% trans "Trees" %}</a>
                <ul>
                    <li><a href="{% url 'device:tree' %}">{% trans "Devicetree" %}</a></li>
                    <li><a href="{% url 'network:domain_name_tree' %}">{% trans "Domain name tree" %}</a></li>
                    <li><a href="{% url 'base:category_tree' %}">{% trans "Category tree" %}</a></li>
                </ul>
            </li>
            <li><a href="{% url 'network:show_networks' %}">{% trans "Networks" %}</a></li>
            <li><a href="{% url 'config:show_configs' %}">{% trans "Configurations" %}</a></li>
            <li>
                <a>{% trans "Device settings" %}</a>
                <ul>
                    <li><a href="{% url 'device:show_configs' %}">{% trans "Configurations" %}</a></li>
                    <li><a href="{% url 'network:device_network' %}">{% trans "Network" %}</a></li>
                    <li><a href="{% url 'device:connections' %}">{% trans "Connections" %}</a></li>
                    <li><a href="{% url 'device:variables' %}">{% trans "Variables" %}</a></li>
                </ul>
            </li>
        </ul>
    </li>
    {% if settings.CLUSTER_LICENSE.boot %}
    <li>
        <a>{% trans "Operation" %}</a>
        <ul>
            <li><a href="{% url 'boot:show_boot' %}">{% trans "Node boot" %}</a></li>
            <li><a href="{% url 'setup:image_overview' %}">{% trans "Image overview" %}</a></li>
            <li><a href="{% url 'setup:kernel_overview' %}">{% trans "Kernel overview" %}</a></li>
            <li><a href="{% url 'setup:partition_overview' %}">{% trans "Partition overview" %}</a></li>
        </ul>
    </li>
    {% endif %}
    {% if settings.CLUSTER_LICENSE.package %}
    <li>
        <a>{% trans "Package Install" %}</a>
        <ul>
            <li><a href="{% url 'pack:repo_overview' %}">{% trans "Repository Overview" %}</a></li>
            <li><a href="{% url 'pack:search_package' %}">{% trans "Package search" %}</a></li>
            <li><a href="{% url 'pack:install' %}">{% trans "Install" %}</a></li>
        </ul>
    </li>
    {% endif %}
    {% if csw_perms.backbone.group_admin %}
    <li>
        <a>{% trans "Users" %}</a>
        <ul>
            <li><a href="{% url 'user:overview' %}">{% trans "Overview" %}</a></li>
        </ul>
    </li>
    {% endif %}
    {% if settings.CLUSTER_LICENSE.monitor %}
    <li>
        <a>{% trans "Monitoring" %}</a>
        <ul>
            <li><a href="{% url 'mon:setup' %}">{% trans "Basic setup" %}</a></li>
            {% if settings.CLUSTER_LICENSE.monext %}
                <li><a href="{% url 'mon:extended_setup' %}">{% trans "Extended setup" %}</a></li>
            {% endif %}
            <li><a href="{% url 'mon:device_config' %}">{% trans "Device settings" %}</a></li>
            <li><a href="{% url 'mon:call_icinga' %}">{% trans "Icinga (replace)" %}</a></li>
            <li><a href="{% url 'mon:call_icinga' %}" target="_blank">{% trans "Icinga (new tab)" %}</a></li>
            {% if settings.CLUSTER_LICENSE.ganglia %}
                <li><a href="/ganglia-web">{% trans "Ganglia" %}</a></li>
            {% endif %}
            <li>
                <input id="create_monitoring_config" type="button" class="btn btn-primary" value="rebuild config"/>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if settings.CLUSTER_LICENSE.rms %}
    <li>
        <a>{% trans "RMS" %}</a>
        <ul>
            <li><a href="{% url 'rms:overview' %}">{% trans "RMS overview" %}</a></li>
        </ul>
    </li>
    {% endif %}
    {% if settings.CLUSTER_LICENSE.rest %}
    <li>
        <a>{% trans "REST" %}</a>
        <ul>
            <li><a href="{% url 'rest:root' %}">{% trans "REST API rootnode" %}</a></li>
        </ul>
    </li>
    {% endif %}
    {# additional menus #}
    {% for add_menu in settings.ADDITIONAL_MENU_FILES %}
        {% include add_menu %}
    {% endfor %}
    <li>
        <a>{% trans "Session" %}</a>
        <ul>
            <li><a href="{% url 'user:account_info' %}">{% trans "Account Info" %}</a></li>
            <li><a href="{% url 'session:logout' %}">{% trans "Logout" %}</a></li>
            <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
        </ul>
    </li>
</ul>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

root.init_menu = () ->
    $("#main_navigation").superfish
        speed : 1
        delay : 500
    $("#main_navigation input[type='button']").button()
    {% if settings.CLUSTER_LICENSE.monitor %}
    $("#main_navigation input#create_monitoring_config").bind("click", ->
        $.ajax
            url     : "{% url 'mon:create_config' %}"
            title   : "create config"
            success : (xml) =>
                if parse_xml_response(xml)
                    try
                        # iterate for the next 10 seconds (every second)
                        root.sidebar.set_next_iters(1500, 10)
                    catch err
        
    )
    {% endif %}
    

{% endinlinecoffeescript %}

</script>
