{% load i18n %}

<ul id="main_navigation" class="sf-menu">
    <li>
        <a href="{% url main:index %}">{% trans "Home" %}</a>
    </li>
    <li>
        <a>{% trans "Setup" %}</a>
        <ul>
            <li><a href="{% url device:tree %}">{% trans "Devicetree" %}</a></li>
            <li><a href="{% url network:show_networks %}">{% trans "Networks" %}</a></li>
            <li><a href="{% url network:network %}">{% trans "Device networks" %}</a></li>
            <li><a href="{% url config:show_configs %}">{% trans "Configurations" %}</a></li>
            <li><a href="{% url device:show_configs %}">{% trans "Device Configurations" %}</a></li>
            <li><a>{% trans "Basic settings" %}</a>
                <ul>
                    <li><a href="{% url network:show_network_d_types %}">{% trans "Network types / Network device types" %}</a></li>
                    <li><a href="{% url setup:show_device_class_location %}">{% trans "Device locations / class" %}</a></li>
                    <li><a href="{% url config:show_config_types %}">{% trans "Configuration types" %}</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a>{% trans "Operation" %}</a>
        <ul>
            <li><a href="{% url boot:show_boot %}">{% trans "Node boot" %}</a></li>
            <li><a href="{% url setup:image_overview %}">{% trans "Image overview" %}</a></li>
            <li><a href="{% url setup:partition_overview %}">{% trans "Partition overview" %}</a></li>
        </ul>
    </li>
    <li>
        <a>{% trans "Monitoring" %}</a>
        <ul>
            <li><a href="{% url mon:setup %}">{% trans "Basic setup" %}</a></li>
        </ul>
    </li>
    <li>
        <a>{% trans "RMS" %}</a>
        <ul>
            <li><a href="{% url rms:overview %}">{% trans "RMS overview" %}</a></li>
        </ul>
    </li>
    <li>
        <a>{% trans "Session" %}</a>
        <ul>
            <li><a href="{% url session:logout %}">{% trans "Logout" %}</a></li>
        </ul>
    </li>
    <li>
        <a>test</a>
        <ul>
            <li>
                <a>test2</a>
                <ul>
                    <li><a>sub3</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<script type="text/javascript">

function init_menu() {
    $("#main_navigation").superfish({
        speed : 1,
        delay : 500
    });
    // new jquery implementation, wait for 1.10 ...
    // $("#main_navigation").menu();
};

</script>
