{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Extended monitoring" %}{% endblock %}


{% block content %}

<h1 class="center">Extended monitoring settings</h1>

<div id="mon_tables"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

master_array = {
    "monset" : new draw_setup("Service Escalation Template", "monset", "mon_service_esc_templ",
        "{% url 'base:create_object' 'mon_service_esc_templ' %}",
        "{% url 'base:delete_object' 'mon_service_esc_templ' %}",
        [
            new draw_info("name"),
            new draw_info("first_notification", {min : 1, max : 10, number : 1, default : 1, label : "first notif"}),
            new draw_info("last_notification", {min : 1, max : 10, number : 1, default : 1, label : "last notif"}),
            new draw_info("esc_period", {select_source : "mon_periods mon_period", label : "Esc period"}),
            new draw_info("ninterval", {min : 0, max: 60, number : 1, default : 5, label : "Notif IV"}),
            new draw_info("nrecovery", {boolean : 1, label : "Recov / Crit / Warn / Unknown", span : 4}),
            new draw_info("ncritical", {boolean : 1}),
            new draw_info("nwarning", {boolean : 1}),
            new draw_info("nunknown", {boolean : 1}),
        ], {
            "required_xml" : ["mon_period"],
            "lock_div"     : "mon_tables"
        }
    ),
    "mondet" : new draw_setup("Device Escalation Template", "mondet", "mon_device_esc_templ",
        "{% url 'base:create_object' 'mon_device_esc_templ' %}",
        "{% url 'base:delete_object' 'mon_device_esc_templ' %}",
        [
            new draw_info("name"),
            new draw_info("mon_service_esc_templ", {select_source : "mon_service_esc_templs mon_service_esc_templ", label : "ServiceEscTemplate"}),
            new draw_info("first_notification", {min : 1, max : 10, number : 1, default : 1, label : "first notif"}),
            new draw_info("last_notification", {min : 1, max : 10, number : 1, default : 1, label : "last notif"}),
            new draw_info("esc_period", {select_source : "mon_periods mon_period", label : "Esc period"}),
            new draw_info("ninterval", {min : 0, max: 60, number : 1, default : 5, label : "Notif IV"}),
            new draw_info("nrecovery", {boolean : 1, label : "Recov / Down / Unreach", span : 3}),
            new draw_info("ndown", {boolean : 1}),
            new draw_info("nunreachable", {boolean : 1})
        ], {
            "required_xml" : ["mon_period", "mon_service_templ"],
            "lock_div"     : "mon_tables"
        }
    ),
    "monhc" : new draw_setup("Host Cluster", "monhc", "mon_host_cluster",
        "{% url 'base:create_object' 'mon_host_cluster' %}",
        "{% url 'base:delete_object' 'mon_host_cluster' %}",
        [  
            new draw_info("name"),
            new draw_info("description"),
            new draw_info("mon_service_templ", {select_source : "mon_service_templs mon_service_templ", label : "ServiceTemplate"}),
            new draw_info("main_device", {select_source : "devices device", label : "Main device"}),
            new draw_info("warn_value", {min : 0, max : 128, number: true, default : 0}),
            new draw_info("error_value", {min : 0, max : 128, number: true, default : 1}),
            new draw_info("devices", {select_source : "devices device", label : "Devices", manytomany : true})
        ], {
            "required_xml" : ["mon_service_templ"]
        }
    ),
    "monsc" : new draw_setup("Service Cluster", "monsc", "mon_service_cluster",
        "{% url 'base:create_object' 'mon_service_cluster' %}",
        "{% url 'base:delete_object' 'mon_service_cluster' %}",
        [  
            new draw_info("name"),
            new draw_info("description"),
            new draw_info("mon_service_templ", {select_source : "mon_service_templs mon_service_templ", label : "ServiceTemplate"}),
            new draw_info("main_device", {select_source : "devices device", label : "Main device"}),
            new draw_info("warn_value", {min : 0, max : 128, number: true, default : 0}),
            new draw_info("error_value", {min : 0, max : 128, number: true, default : 1}),
            new draw_info("mon_check_command", {select_source : "mon_check_command", label : "Check command"}),
            new draw_info("devices", {select_source : "devices device", label : "Devices", manytomany : true})
        ], {
            "required_xml" : ["mon_service_templ"]
        }
    ),
    "monhd" : new draw_setup("Host Dependencies", "monhd", "mon_host_dependency",
        "{% url 'base:create_object' 'mon_host_dependency' %}",
        "{% url 'base:delete_object' 'mon_host_dependency' %}",
        [  
            new draw_info("name"),
            new draw_info("inherits_parent", {boolean : 1, default : 0, label : "inherit"}),
            new draw_info("priority", {min: - 128, max: 128, number : true, default : 0}),
            new draw_info("efc_up", {boolean : 1, default : 0, label : "EFC Up / Down / Unreachable / Pending", span : 4}),
            new draw_info("efc_down", {boolean : 1, default : 1}),
            new draw_info("efc_unreachable", {boolean : 1, default : 1}),
            new draw_info("efc_pending", {boolean : 1, default : 0}),
            new draw_info("nfc_up", {boolean : 1, default : 0, label : "NFC Up / Down / Unreachable / Pending", span : 4}),
            new draw_info("nfc_down", {boolean : 1, default : 1}),
            new draw_info("nfc_unreachable", {boolean : 1, default : 1}),
            new draw_info("nfc_pending", {boolean : 1, default : 0}),
            new draw_info("dependency_period", {select_source : "mon_period", label : "Dependency Period"}),
        ], {
            "required_xml" : ["mon_period"]
        }
    ),
}

load_config = ->
    $.ajax
        url     : "{% url 'mon:extended_setup' %}"
        success : (xml) ->
            if parse_xml_response(xml)
                draw_ds_tables($("div#mon_tables"), master_array, $(xml).find("value[name='response']"))

$(document).ready(load_config)

{% endinlinecoffeescript %}

</script>

{% endblock %}
