{% extends "main.html" %}

{% load i18n compress %}

{% block title %}{% trans "Monitoring" %}{% endblock %}


{% block content %}

<h1 class="center">Monitoring settings</h1>

<div id="mon_tables"></div>

<script type="text/javascript">

// monitoring XML
MON = undefined;

function draw_setup(name, postfix, xml_name, create_url, delete_url) {
    this.name = name;
    this.postfix = postfix;
    this.xml_name = xml_name;
    this.xml_name_plural = this.xml_name + "s";
    this.create_url = create_url;
    this.delete_url = delete_url;
};

function draw_info(name, kwargs) {
    this.name = name;
    this.label = kwargs && (kwargs.label || name.toTitle()) || name.toTitle();
    this.span = kwargs && (kwargs.span || 1) || 1;
    var attr_list = ["size", "default", "select_source", "boolean", "min", "max", "number", "manytomany"];
    for (idx=0 ; idx < attr_list.length; idx ++) {
        var attr_name = attr_list[idx];
        if (kwargs && kwargs.hasOwnProperty(attr_name)) {
            this[attr_name] = kwargs[attr_name];
        } else {
            this[attr_name] = undefined;
        };
    };
    this.size = kwargs && kwargs.size || undefined;
    function get_kwargs() {
        var attr_list = ["size", "select_source", "boolean", "min", "max", "number", "manytomany"];
        var kwargs = {new_default : this.default};
        for (idx=0 ; idx < attr_list.length; idx ++) {
            var attr_name = attr_list[idx];
            kwargs[attr_name] = this[attr_name];
        };
        return kwargs;
    };
    this.get_kwargs = get_kwargs;
};

var draw_array = {
    "monper" : [
        new draw_info("name"), 
        new draw_info("alias"),
        new draw_info("sun_range", {label : "Sun", size : 14, default : "00:00-24:00"}),
        new draw_info("mon_range", {label : "Mon", size : 14, default : "00:00-24:00"}),
        new draw_info("tue_range", {label : "Tue", size : 14, default : "00:00-24:00"}),
        new draw_info("wed_range", {label : "Wed", size : 14, default : "00:00-24:00"}),
        new draw_info("thu_range", {label : "Thu", size : 14, default : "00:00-24:00"}),
        new draw_info("fri_range", {label : "Fri", size : 14, default : "00:00-24:00"}),
        new draw_info("sat_range", {label : "Sat", size : 14, default : "00:00-24:00"})
    ],
    "moncon" : [
        new draw_info("user", {select_source : "users user"}),
        new draw_info("snperiod", {select_source : "mon_periods mon_period", label : "Service Notify"}),
        new draw_info("snrecovery", {boolean : 1, label : "Recov / Crit / Warn / Unknown", span : 4}),
        new draw_info("sncritical", {boolean : 1}),
        new draw_info("snwarning", {boolean : 1}),
        new draw_info("snunknown", {boolean : 1}),
        new draw_info("hnperiod", {select_source : "mon_periods mon_period", label : "Host Notify"}),
        new draw_info("hnrecovery", {boolean : 1, label : "Recov / Down / Unreach", span : 3}),
        new draw_info("hndown", {boolean : 1}),
        new draw_info("hnunreachable", {boolean : 1})
    ],
    "monst" : [
        new draw_info("name"),
        new draw_info("volatile", {boolean : 1}),
        new draw_info("nsc_period", {select_source : "mon_periods mon_period", label : "Check period"}),
        new draw_info("max_attempts", {min : 1, max : 5, number : 1, default : 1, label : "max attempts"}),
        new draw_info("check_interval", {min : 1, max : 60, number : 1, default : 5, label : "Check IV"}),
        new draw_info("retry_interval", {min : 1, max : 60, number : 1, default : 10, label : "Retry IV"}),
        new draw_info("nsn_period", {select_source : "mon_periods mon_period", label : "Notify period"}),
        new draw_info("ninterval", {min : 0, max: 60, number : 1, default : 5, label : "Notif IV"}),
        new draw_info("nrecovery", {boolean : 1, label : "Recov / Crit / Warn / Unknown", span : 4}),
        new draw_info("ncritical", {boolean : 1}),
        new draw_info("nwarning", {boolean : 1}),
        new draw_info("nunknown", {boolean : 1}),
    ],
    "moncg" : [
        new draw_info("name"),
        new draw_info("alias"),
        new draw_info("members", {select_source : "mon_contacts mon_contact", label : "Members", manytomany : 1}),
        new draw_info("device_groups", {select_source : "device_groups device_group", label : "Device Group", manytomany : 1}),
        new draw_info("service_templates", {select_source : "mon_service_templs mon_service_templ", label : "ServiceTemplates", manytomany : 1})
    ]
};

function draw_line(cur_ds, xml_el) {
    // cur_ds .... draw_setup
    // xml_el .... xml or undefined
    var dummy_div = $("<div>");
    if (xml_el === undefined) {
        var xml_pk = "new";
        var head_line = $("<tr>").attr({
            "class" : "ui-widget-header ui-widget"
        });
        var cur_array = draw_array[cur_ds.postfix];
        var cur_span = 1;
        for (var idx=0; idx < cur_array.length ; idx++) {
            var cur_di = cur_array[idx];
            cur_span--;
            if (! cur_span) {
                var new_td = $("<th>").attr({"colspan" : cur_di.span}).text(cur_di.label);
                cur_span += cur_di.span;
            };
            head_line.append(new_td);
        };
        head_line.append($("<th>").text("action"));
        dummy_div.append(head_line);
    } else {
        var xml_pk = xml_el.attr("pk");
    };
    var line_prefix = cur_ds.postfix + "__" + xml_pk;
    var n_line = $("<tr>").attr({
        "id"    : line_prefix,
        "class" : "ui-widget"
    });
    var cur_array = draw_array[cur_ds.postfix];
    for (var idx=0; idx < cur_array.length ; idx++) {
        var cur_di = cur_array[idx];
        var new_td = $("<td>");
        n_line.append(new_td);
        new_td.append(
            create_input_el(xml_el, cur_di.name, line_prefix, cur_di.get_kwargs())
        );
    };
    n_line.append(
        $("<td>").append($("<input>").attr({
            "type"  : "button",
            "value" : xml_pk == "new" ? "create" : "delete",
            "id"    : line_prefix
        }).bind("click", function(event) { create_delete_element(event, cur_ds); })
    ));
    dummy_div.append(n_line);
    return dummy_div.children();
};

function update_table_info(cur_ds, info_h3) {
    if (info_h3) {
        var info_span = info_h3.find("span#info__" + cur_ds.postfix);
    } else {
        var info_span = $("span#info__" + cur_ds.postfix);
    };
    info_span.text(MON.find(cur_ds.xml_name_plural + " " + cur_ds.xml_name).length);
};

function append_new_line(cur_el, new_xml, cur_ds) {
    var t_table = cur_el.parents("table:first");
    t_table.append(draw_line(cur_ds, new_xml));
};

function delete_line(cur_el) {
    var del_tr = cur_el.parents("tr:first");
    del_tr.remove();
};

function create_delete_element(event, cur_ds) {
    var cur_el = $(event.target);
    var el_id = cur_el.attr("id");
    var lock_list = lock_elements($("div#mon_tables"));
    if (el_id.match(/new$/)) {
        $.ajax({
            url  : cur_ds.create_url,
            data : create_dict($("table#" + cur_ds.postfix), el_id),
            success : function(xml) {
                if (parse_xml_response(xml)) {
                    var new_period = $(xml).find(cur_ds.xml_name);
                    MON.find(cur_ds.xml_name_plural).append(new_period);
                    append_new_line(cur_el, new_period, cur_ds);
                    cur_el.parents("tr:first").find("td input[id$='__name']").attr("value", "");
                    update_table_info(cur_ds);
                };
                unlock_elements(lock_list);
            }
        });
    } else {
        if (confirm("really delete " + cur_ds.name + " ?")) {
            $.ajax({
                url  : cur_ds.delete_url,
                data : create_dict($("table#" + cur_ds.postfix), el_id),
                success : function(xml) {
                    if (parse_xml_response(xml)) {
                        MON.find(cur_ds.xml_name + "[pk='" + el_id.split("__")[1] + "']").remove();
                        delete_line(cur_el);
                        update_table_info(cur_ds);
                    };
                    unlock_elements(lock_list);
                }
            });
        } else {
            unlock_elements(lock_list);
        };
    };
};

function draw_period_table() {
    var cur_dsetup = new draw_setup("MonPeriod", "monper", "mon_period",
        "{% url mon:create_object 'mon_period' %}",
        "{% url mon:delete_object 'mon_period' %}");
    return draw_table(cur_dsetup);
};

function draw_contact_table() {
    var cur_dsetup = new draw_setup("Contact", "moncon", "mon_contact",
        "{% url mon:create_object 'mon_contact' %}",
        "{% url mon:delete_object 'mon_contact' %}");
    return draw_table(cur_dsetup);
};

function draw_service_template_table() {
    var cur_dsetup = new draw_setup("Service Template", "monst", "mon_service_templ",
        "{% url mon:create_object 'mon_service_templ' %}",
        "{% url mon:delete_object 'mon_service_templ' %}");
    return draw_table(cur_dsetup);
};

function draw_contact_group_table() {
    var cur_dsetup = new draw_setup("Contact Group", "moncg", "mon_contactgroup",
        "{% url mon:create_object 'mon_contactgroup' %}",
        "{% url mon:delete_object 'mon_contactgroup' %}");
    return draw_table(cur_dsetup);
};

function draw_table(cur_ds) {
    var dummy_div = $("<div>");
    var p_table = $("<table>").attr({"id" : cur_ds.postfix});
    p_table.append(draw_line(cur_ds));
    MON.find(cur_ds.xml_name_plural + " " + cur_ds.xml_name).each(function() {
        p_table.append(draw_line(cur_ds, $(this)));
    });
    var info_h3 = $("<h3>").text(cur_ds.name + " (").append(
        $("<span>").attr({"id" : "info__" + cur_ds.postfix}).text("---")
    ).append($("<span>").text(")"));
    dummy_div.append(info_h3);
    dummy_div.append(p_table);
    update_table_info(cur_ds, info_h3);
    return dummy_div.children();
};

function draw_tables() {
    var t_div = $("div#mon_tables");
    t_div.children().remove();
    t_div.append(draw_period_table());
    t_div.append(draw_contact_table());
    t_div.append(draw_service_template_table());
    t_div.append(draw_contact_group_table());
};

function redraw_selects() {
    // to be implemented;
};

function load_config() {
    $.ajax({
        url     : "{% url mon:get_config %}",
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                MON = $(xml).find("value[name='response']");
                init_xml_change(MON);
                draw_tables();
            }
        }
    });
}

function add_config_handlers() {
    load_config();
};

$(document).ready(add_config_handlers);

</script>

{% endblock %}
