{% extends "main.html" %}

{% load i18n compress %}

{% block title %}{% trans "Monitoring / device" %}{% endblock %}


{% block content %}

<h1 class="center">Device specific monitoring settings</h1>

<div id="mon_tables"></div>

<script type="text/javascript">

// monitoring XML
MON = undefined;

function use_devs(dt_div) {
    CUR_DEVICES = _.map(dt_div.dynatree("getSelectedNodes"), function(value) {
        return(value.data.key);
    });
    load_devices(CUR_DEVICES);
};

function load_devices(sel_list) {
    //console.log(sel_list);
    $.ajax({
        url     : "{% url device:get_group_tree %}",
        error   : handle_ajax_error,
        data    : {
            "sel_list" : sel_list,
            "extra_t0" : "mon_device_templ"
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                DEVICES = $(xml).find("value[name='response']");
                init_xml_change(DEVICES);
                draw_tables();
            }
        }
    });
};

function get_expand_td(line_prefix, name, title) {
    return $("<td>").append(
        $("<span>").attr({
            "class"   : "ui-icon ui-icon-triangle-1-e",
            "id"      : line_prefix + "__expand_" + name,
            "title"   : title === undefined ? "show " + name : title
        }).bind("click", function(event) {
            var cur_class = $(event.target).attr("class");
            if (cur_class.match(/-1-e$/)) {
                toggle_config_line(line_prefix, true, name);
            } else {
                toggle_config_line(line_prefix, false, name);
            }
        })
    );
};

function toggle_config_line(line_prefix, state, line_spec) {
    var conf_line = $("table#config tr[id='" + line_prefix + "']");
    var exp_line  = $("table#config tr[id^='" + line_prefix + "__" + line_spec + "']");
    var cur_dg = conf_line.find("span[id$='__expand_" + line_spec + "']");
    if (state) {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-s");
        exp_line.show();
    } else {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-e");
        exp_line.hide();
    };
};

function draw_device(d_el) {
    var dummy_div = $("<div>");
    var line_prefix = d_el.attr("key");
    var new_tr = $("<tr>").attr({
        "class" : "ui-widget ui-widget-header",
        "id"    : line_prefix
    });
    var is_meta = d_el.attr("meta_device") == "1";
    new_tr.append($("<th>").attr({
        "colspan" : "7"
    }).text((is_meta ? "Meta device" : "device") + " " + d_el.text()));
    new_tr.append(get_expand_td(line_prefix, "config", "config"));
    new_tr.append(
        $("<td>").append(
            create_input_el(d_el, "mon_device_templ", line_prefix, {
                select_source  : "mon_device_templs mon_device_templ",
                add_null_entry : "not set"
            })
        )
    ).append(
        $("<td>").append(
            create_input_el(d_el, "monitor_checks", line_prefix, {
                boolean : 1
            })
        )
    );
    dummy_div.append(new_tr);
    var cur_entries = 0;
    var cur_tr;
    var run_idx = 1;
<!--    $(DISPLAY_LIST).each(function() {-->
<!--        if (!cur_entries) {-->
<!--            cur_tr = $("<tr>").attr({-->
<!--                "id" : line_prefix + "__config__" + run_idx-->
<!--            }).hide();-->
<!--        };-->
<!--        var cur_conf = $(this);-->
<!--        var cur_cb = $("<input>").attr({-->
<!--            "type" : "checkbox",-->
<!--            "id"   : line_prefix + "__config__" + cur_conf.attr("pk")-->
<!--        }).bind("click", change_config);-->
<!--        cur_tr.append($("<td>").append(-->
<!--            $("<span>").text(cur_conf.attr("name"))-->
<!--        ));-->
<!--        cur_tr.append(-->
<!--           $("<td>").attr({-->
<!--               "class" : "center"-->
<!--            }-->
<!--        ).append(-->
<!--            $("<span>").text("")-->
<!--        ).append(-->
<!--            cur_cb-->
<!--        ).append(-->
<!--            $("<span>").text("")-->
<!--        ));-->
<!--        if (DEVICE_CONFIGS.find("device_config[device='" + d_el.attr("pk") + "'][config='" + cur_conf.attr("pk") + "'][meta='1']").length) {-->
<!--            cur_cb.attr({"checked" : "checked"});-->
<!--            cur_cb.prev().text("(");-->
<!--            cur_cb.next().text(")");-->
<!--        } else if (DEVICE_CONFIGS.find("device_config[device='" + d_el.attr("pk") + "'][config='" + cur_conf.attr("pk") + "']").length) {-->
<!--            cur_cb.attr({"checked" : "checked"});-->
<!--        };-->
<!--        cur_entries++;-->
<!--        if (cur_entries == 4) {-->
<!--            dummy_div.append(cur_tr);-->
<!--            cur_entries = 0;-->
<!--            run_idx += 1;-->
<!--        };-->
<!--    });-->
    if (cur_entries) {
        dummy_div.append(cur_tr);
    };
    return dummy_div.children();
};

function draw_tables() {
    $("div#mon_tables").children().remove();
    c_table = $("<table>").attr({"id" : "config"});
    DEVICES.find("device_group").each(function() {
        var cur_dg = $(this);
        var new_tr = $("<tr>").attr({
            "class"   : "ui-widget ui-widget-header"
        });
        new_tr.append($("<th>").attr({
            "colspan" : "8"
        }).text("device group " + cur_dg.attr("name")));
        c_table.append(new_tr);
        // at first append metadevice
        cur_dg.find("devices device[selected='selected'][meta_device='1']").each(function() {
            var cur_dev = $(this);
            c_table.append(draw_device(cur_dev));
        });
        cur_dg.find("devices device[selected='selected'][meta_device='0']").each(function() {
            var cur_dev = $(this);
            c_table.append(draw_device(cur_dev));
        });
    });
    $("div#mon_tables").append(c_table);
};

function add_dcon_handlers() {
    install_devsel_link(use_devs, true);
};

$(document).ready(add_dcon_handlers);

</script>

{% endblock %}
