{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Package Install" %}{% endblock %}


{% block content %}

<h1 class="center">Package Install, package filter: <input id='package_filter' type=text/></h1>

<div id="device"></div>

<div id="package"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

class device
    constructor: (@device_table, @xml) ->
        @last_contact = undefined
        @key = @xml.attr("key")
        @pk = @xml.attr("pk")
        @pdc_lut = {}
        @pdc_line_lut = {}
        @exp_state = false
        @cur_filter = ""
    draw_device: (pdc_list) =>
        tstate_xml = @pack_xml.find("target_states target_state")
        dummy_div = $("<div>")
        line_prefix = @key
        new_tr = $("<tr>").attr({
            "class" : "ui-widget ui-widget-header"
            "id"    : line_prefix
        })
        @header_line = new_tr
        new_tr.append(
            $("<td>").append(
                $("<input>").attr({
                    "type" : "checkbox"
                    "id"   : "#{line_prefix}__sel"
                })
                    
            ).bind("change", (event) =>
                @change_d_sel(event)
            ),
            get_expand_td(line_prefix, "pdc", undefined, @expand_device),
            $("<td>").attr({
                "colspan" : 5
            }).text("device " + @xml.text()
            ).append(
                $("<span>").attr({
                    "id" : "#{line_prefix}__pinfo"
                }).text("---")
            ),
            $("<td>").attr(
                "colspan" : 4
                "id"      : "last_contact"
            ).addClass("warn").text("???")
        )
        dummy_div.append(new_tr)
        for pdc_xml in pdc_list
            @append_pdc($(pdc_xml), false)
        return dummy_div.children()
    set_last: (last_xml) =>
        diff = parseInt(Math.abs(parseInt(last_xml) - new Date().getTime() / 1000))
        lc_td = @header_line.find("td#last_contact")
        try
            lc_td.removeClass("warn", "ok", "error")
        catch
            # catch strange error
            true
        if diff > 600
            lc_td.addClass("error")
        else if diff > 120
            lc_td.addClass("warn")
        else
            lc_td.addClass("ok")
        lc_td.text(diff)
    append_pdc: (pdc_xml, selected) =>
        new_line = @draw_pdc(@pack_xml.find("target_states target_state"), pdc_xml, selected)
        # DOM
        @header_line.after(new_line)
        @update_device_info()
    remove_pdc: (pdc_xml) =>
        # DOM
        @pdc_line_lut[pdc_xml.attr("key")].remove()
        # xml
        @pdc_lut[pdc_xml.attr("key")].remove()
        delete @pdc_line_lut[pdc_xml.attr("key")]
        delete @pdc_lut[pdc_xml.attr("key")]
        @update_device_info()
    update_device_info: (pdc_xml) =>
        info_th = @header_line.find("span[id$='__pinfo']")
        installed = 0
        removed   = 0
        total     = 0
        unknown   = 0
        for key, entry of @pdc_lut
            total++
            switch $(entry).attr("installed")
                when "y"
                    installed++
                when "n"
                    removed++
                when "u"
                    unknown++
        info_str = ""
        for str, num of {
            "total" : total,
            "installed" : installed,
            "removed" : removed,
            "unknown" : unknown}
            if num
                info_str = "#{info_str}, #{num} #{str}"
        info_th.text(info_str)
        @recolor()
    recolor: (dev) =>
        pdc_lines = (line for key, line of @pdc_line_lut)
        (line.removeClass("even odd") for line in pdc_lines)
        (line.addClass("even") for line in pdc_lines by 2)
        (line.addClass("odd") for line in pdc_lines[1..] by 2)
    expand_device: (line_prefix, state, name) =>
        for key, value of @pdc_line_lut
            if state
                if @check_visibility(key)
                    value.show()
                else
                    value.hide()
            else
                value.hide()
        @exp_state = state
    check_visibility: (key) =>
        cur_re = new RegExp(@cur_filter)
        cur_pack = @pack_xml.find("packages package[pk='" + @pdc_lut[key].attr("package") + "']")
        if cur_pack.text().match(cur_re)
            return true
        else
            return false
    set_filter: (cur_filter) =>
        @cur_filter = cur_filter
        @expand_device("bla", @exp_state, "bla")
    change_d_sel: (event) =>
        (line.find("input[id$='__sel']").trigger("click") for value, line of @pdc_line_lut)
    draw_pdc: (tstate_xml, pdc_xml, selected) =>
        line_prefix = pdc_xml.attr("key")
        pack_xml = @pack_xml.find("packages package[pk='" + pdc_xml.attr("package") + "']")
        new_tr = $("<tr>").attr({
            "id"    : line_prefix
        })
        new_tr.append(
            $("<td>").attr("colspan", 2).append(
                $("<input>").attr({
                    "type" : "checkbox"
                    "id"   : pdc_xml.attr("key") + "__sel"
                })
            ),
            $("<td>").text(pack_xml.text()),
            $("<td>").text(pack_xml.attr("version")),
            $("<td>").text(pack_xml.attr("arch")),
            $("<td>").append(@draw_remove(pdc_xml)),
            $("<td>").append(@draw_tstate(pdc_xml, tstate_xml)),
            $("<td>").append(
                $("<span>").attr("id", pdc_xml.attr("key") + "__installed").text("?")
            ),
            $("<td>").append(
                $("<input>").attr(
                    "id" : pdc_xml.attr("key") + "__info"
                    "type" : "image"
                    "width"  : "16px"
                    "height" : "16px"
                    "src"    : "{{ MEDIA_URL }}frontend/images/information.png"
                ).bind("click", @show_pdc_info)
            ),
            $("<td>").append(@draw_pflag(pdc_xml, "force_flag")),
            $("<td>").append(@draw_pflag(pdc_xml, "nodeps_flag"))
        )
        if selected
            new_tr.find("input[id$='__sel']").attr("checked", "checked")
        @pdc_lut[pdc_xml.attr("key")] = pdc_xml
        @pdc_line_lut[pdc_xml.attr("key")] = new_tr
        if not @exp_state
            new_tr.hide()
        return new_tr
    draw_remove: (pdc_xml) =>
        return $("<input>").attr({
            "id"    : pdc_xml.attr("key"),
            "type"  : "button",
            "value" : "remove"}).bind("click", (event) =>
                rem_pack = @pack_xml.find("package[pk='" + pdc_xml.attr("package") + "']")
                if confirm("really remove " + rem_pack.text() + " from " + @xml.attr("name") + " ?")
                    @device_table.remove_package_xml(pdc_xml)
            )
    draw_tstate: (pdc_xml, tstate_xml) =>
        cur_ts = $("<select>").attr({
            "id" : pdc_xml.attr("key") + "__tstate"
        })
        tstate_xml.each (index, cur_s) =>
            value = $(cur_s).attr("pk")
            cur_opt = $("<option>").attr({"value" : cur_opt}).text(value)
            if pdc_xml.attr("target_state") == value
                cur_opt.attr("selected", "selected")
            cur_ts.append(cur_opt)
        cur_ts.bind("change", (event) =>
            cur_el = $(event.target)
            $.ajax
                url   : "{% url 'pack:change_target_state' %}"
                data  : {
                    "pdc_key" : cur_el.attr("id")
                    "value"   : cur_el.val()
                }
                success : (xml) ->
                    parse_xml_response(xml)
        )
        return cur_ts
    draw_pflag: (pdc_xml, flag_name) => 
        cur_ts = $("<input>").attr({
            "type"  : "checkbox",
            "title" : flag_name.split("_")[0] + " flag",
            "id"    : pdc_xml.attr("key") + "__#{flag_name}"})
        if pdc_xml.attr(flag_name) == "1"
            cur_ts.attr("checked", "checked")
        cur_ts.bind("change", (event) =>
            cur_el = $(event.target)
            $.ajax
                url   : "{% url 'pack:change_package_flag' %}"
                data  : {
                    "pdc_key" : cur_el.attr("id"),
                    "value"   : if cur_el.prop("checked") then "1" else "0"
                }
                success : (xml) ->
                    parse_xml_response(xml)
        )
        return cur_ts
    show_pdc_info: (event) =>
        pdc_id = $(event.target).attr("id").split("__")[1]
        $.ajax
            url   : "{% url 'pack:get_pdc_status' %}"
            data  : {
                "pdc_pk" : pdc_id
            }
            success : (xml) ->
                if parse_xml_response(xml)
                    pdc_stat = $(xml).find("value[name='pdc_status']").text()
                    alert(pdc_stat)

class device_table
    constructor: (@top_div, @pack_div) ->
        @install_filter()
        install_devsel_link(@use_devs, true)
    install_filter: =>
        @CUR_FILTER = ""
        @filter_el = $("input#package_filter")
        @filter_el.val("").on("keyup", @change_filter)
    change_filter: (in_el) =>
        cur_text = $(in_el.target).val()
        @new_filter(cur_text, false)
    new_filter: (cur_text, force) =>
        if cur_text != @CUR_FILTER or force
            @CUR_FILTER = cur_text
            @xml.find("device_group").each (index, cur_dg) =>
                cur_dg = $(cur_dg)
                cur_dg.find("devices device[tree_selected='selected'][meta_device='0']").each (index, cur_dev) =>
                    dev_struct = @devices[$(cur_dev).attr("key")]
                    # to be optimised
                    dev_struct.set_filter(@CUR_FILTER)
                    # needed for coffeescript (sigh)
                    true
    use_devs: (sel_list) =>
        @CUR_FILTER = ""
        $.ajax
            url     : "{% url 'device:get_group_tree' %}"
            data    : {
                "sel_list"            : sel_list
                "ignore_meta_devices" : 1
                "extra_t0"            : "package_device_connection"
                "extra_t0_device"     : 1
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    @devices = {}
                    @xml = $(xml)
                    @xml.find("devices device").each (idx, cur_dev) =>
                        @devices[$(cur_dev).attr("key")] = new device(@, $(cur_dev))
                    @build_table(sel_list)
                    @new_filter(@filter_el.val(), true)
    build_table: (@sel_list) =>
        $.ajax
            url     : "{% url 'pack:install' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @pack_xml = $(xml).find("value[name='response']")
                    master_array = {
                        "pack" : new draw_setup("Packages", "pack", "package",
                            undefined,
                            undefined,
                            [
                                new draw_info("name", {size : 40}),
                                new draw_info("version", {size : 40}),
                                new draw_info("kind", {size : 20}),
                                new draw_info("arch", {size : 20}),
                                new draw_info("package_repo", {select_source : "package_repos package_repo"}),
                                new draw_info("tstate", {change_cb : @change_target_state, select_source : "target_states target_state", trigger : true, add_null_entry : "---"}),
                                new draw_info("add", {change_cb : @add_package, button : true, trigger : true}),
                                new draw_info("remove", {change_cb : @remove_package, button : true, trigger : true}),
                                new draw_info("delete", {change_cb : @delete_package, button : true, trigger : true}),
                            ], {
                                lock_div : "package"
                            }
                        )
                    }
                    for dev_key, dev_struct of @devices
                        # set pack xml
                        dev_struct.pack_xml = @pack_xml
                    draw_ds_tables(@pack_div, master_array, @pack_xml)
                    @load_packages()
                    $(document).everyTime(5000, "refresh_package_info", @refresh_package_info)
    refresh_package_info: =>
        $.ajax
            url     : "{% url 'pack:refresh' %}"
            data    : {"sel_list" : @sel_list, "cur_time" : new Date().getTime() / 1000}
            success : (xml) =>
                if parse_xml_response(xml)
                    $(xml).find("package_device_connection").each (index, cur_pdc) =>
                        cur_pdc = $(cur_pdc)
                        cur_dev = @devices["dev__" + cur_pdc.attr("device")]
                        @xml.find("package_device_connections package_device_connection[key='" + cur_pdc.attr("key") + "']").attr("installed", cur_pdc.attr("installed"))
                        @table.find("span#" + cur_pdc.attr("key") + "__installed").text(cur_pdc.attr("installed"))
                        cur_dev.update_device_info()
                    $(xml).find("last_contacts last_contact").each (index, last_c) =>
                        @devices["dev__" + $(last_c).attr("device")].set_last($(last_c).attr("when"))
                        
    change_target_state: (event) =>
        cur_el = $(event.target)
        pack_key = cur_el.attr("id").split("__")[0...2].join("__")
        pack_pk = pack_key.split("__")[1]
        t_state = cur_el.val()
        if t_state != "0"
            cur_el.val("0")
            @table.find("tr[id^='pdc__'] ").each (idx, cur_tr) =>
                cur_tr = $(cur_tr)
                if @xml.find("package_device_connections package_device_connection[pk='" + cur_tr.attr("id").split("__")[1] + "'][package='" + pack_pk + "']").length
                    if cur_tr.find("input[id$='__sel']:checkbox:checked").length
                        cur_sel = cur_tr.find("select[id$='__tstate']")
                        cur_sel.val(t_state).trigger("change")
    remove_package: (event) =>
        cur_el = $(event.target)
        if confirm("really remove package ?")
            pack_key = cur_el.attr("id").split("__")[0...2].join("__")
            pack_pk = pack_key.split("__")[1]
            # get all devices which have the current package not set
            @xml.find("device_group devices device[meta_device='0']").each (index, dev_xml) =>
                dev_xml = $(dev_xml)
                dev_key = dev_xml.attr("key")
                # device is selected
                if @table.find("input[id='#{dev_key}__sel']").prop("checked")
                    cur_pdc = @xml.find("package_device_connections package_device_connection[package='#{pack_pk}'][device='" + dev_xml.attr("pk") + "']")
                    if cur_pdc.length
                        @remove_package_xml(cur_pdc)
    remove_package_xml: (cur_pdc) =>
        $.ajax
            url     : "{% url 'pack:remove_package' %}"
            data    : {
                "pdc_key" : cur_pdc.attr("key")
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    @xml.find("package_device_connections package_device_connection[key='" + cur_pdc.attr("key") + "']").remove()
                    @devices["dev__" + cur_pdc.attr("device")].remove_pdc(cur_pdc)
    add_package: (event) =>
        cur_el = $(event.target)
        pack_key = cur_el.attr("id").split("__")[0...2].join("__")
        pack_pk = pack_key.split("__")[1]
        @xml.find("device_group devices device[meta_device='0']").each (idx, dev_xml) =>
            dev_xml = $(dev_xml)
            dev_key = dev_xml.attr("key")
            if @table.find("input[id='#{dev_key}__sel']").prop("checked")
                cur_dev = @devices[dev_key]
                if pack_pk not in (value.attr("package") for key, value of cur_dev.pdc_lut)
                    @add_package_xml(dev_xml, @pack_xml.find("package[key='#{pack_key}']"))
    add_package_xml: (dev_xml, pack_xml) =>
        $.ajax
            url     : "{% url 'pack:add_package' %}"
            data    : {
                "dev_key"  : dev_xml.attr("key")
                "pack_key" : pack_xml.attr("key")
            },
            success : (xml) =>
                if parse_xml_response(xml)
                    new_pdc = $(xml).find("value[name='new_entry'] package_device_connection")
                    @xml.find("package_device_connections").append(new_pdc)
                    @devices[dev_xml.attr("key")].append_pdc($(new_pdc), true)
    delete_package: (event) =>
        targ_el = $(event.target)
        if confirm("really delete package ?")
            $.ajax
                url     : "{% url 'pack:unuse_package' %}"
                data    : {
                    "pk" : targ_el.attr("id").split("__")[1]
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        targ_el.parents("tr:first").remove()
    load_packages: () =>
        d_table = $("<table>").attr({"id" : "device"})
        @table = d_table
        @dev_exp_state = {}
        @xml.find("device_group").each (index, cur_dg) =>
            d_table.append(@draw_device_group($(cur_dg)))
        @top_div.children().remove()
        @top_div.append(d_table)
        @top_div.append(
            $("<span>").text("selection: "),
            $("<input>").attr({
                "type"  : "button",
                "value" : "toggle"
            }).bind("click", @change_global_sel),
            $("<input>").attr({
                "type"  : "button",
                "value" : "clear"
            }).bind("click", @clear_all_sel),
            $("<input>").attr({
                "type"  : "button",
                "value" : "all"
            }).bind("click", @set_all_sel),
            $("<span>").text(", server: "),
            $("<input>").attr({
                "type"  : "button",
                "value" : "synchronize"
            }).bind("click", @sync_server)
        )
    draw_device_group: (cur_dg) =>
        dummy_div = $("<div>")
        new_tr = $("<tr>").attr({
            "class"   : "ui-widget ui-widget-header"
        })
        line_prefix = cur_dg.attr("key")
        new_tr.append(
            $("<th>").append(
                $("<input>").attr({
                    "type" : "checkbox",
                    "id"   : "#{line_prefix}__sel"
                }).bind("click", (event) =>
                    @change_dg_sel(event)
                )
            )
        ).append($("<th>").attr({
            "colspan" : 10
        }).addClass("ui-widget ui-widget-header").text("device group " + cur_dg.attr("name")))
        dummy_div.append(new_tr)
        cur_dg.find("devices device[tree_selected='selected'][meta_device='0']").each (index, cur_dev) =>
            dev_struct = @devices[$(cur_dev).attr("key")]
            dummy_div.append(dev_struct.draw_device(@xml.find("package_device_connection[device='#{dev_struct.pk}']")))
        return dummy_div.children()
    clear_all_sel: (event) =>
        # at first clear all device groups
        @table.find("input[id^='devg__'][id$='__sel']:checked").each (index, cur_el) =>
            $(cur_el).trigger("click")
        # then clear all devices
        @table.find("input[id^='dev__'][id$='__sel']:checked").each (index, cur_el) =>
            $(cur_el).trigger("click")
        # then all pdcs
        @table.find("input[id^='pdc__'][id$='__sel']:checked").each (index, cur_el) =>
            $(cur_el).trigger("click")
    set_all_sel: (event) =>
        # at first set all device groups
        @table.find("input[id^='devg__'][id$='__sel']:not(:checked)").each (index, cur_el) =>
            $(cur_el).trigger("click")
        # then set all devices
        @table.find("input[id^='dev__'][id$='__sel']:not(:checked)").each (index, cur_el) =>
            $(cur_el).trigger("click")
        # then all pdcs
        @table.find("input[id^='pdc__'][id$='__sel']:not(:checked)").each (index, cur_el) =>
            $(cur_el).trigger("click")
    sync_server: (event) =>
        $.ajax
            url     : "{% url 'pack:synchronize' %}"
            success : (xml) =>
                parse_xml_response(xml)
    change_global_sel: (event) =>
        @xml.find("device_group").each (idx, cur_dg) =>
            cur_dg = $(cur_dg)
            @table.find("input[id='" + cur_dg.attr("key") + "__sel']").trigger("click")
    change_dg_sel: (event) =>
        cur_el = $(event.target)
        @xml.find("device_group[key='" + cur_el.attr("id").split("__")[0...2].join("__") + "'] devices device[tree_selected='selected']").each (idx, cur_dev) =>
            cur_dev = $(cur_dev)
            @table.find("input[id='" + cur_dev.attr("key") + "__sel']").trigger("click")

add_install_handlers = ->
    new device_table($("div#device"), $("div#package"))

$(document).ready(add_install_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
