{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Package Repository Overview" %}{% endblock %}

{% block content %}

<h1 class="center">Package Repositories</h1>

<div id="repo_tables"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

master_array = {
    "repo" : new draw_setup("Package repositories", "package_repo", "package_repo",
        undefined,
        undefined,
        [
            new draw_info("name", {size : 40}),
            new draw_info("alias", {size : 40}),
            new draw_info("enabled", {boolean : true}),
            new draw_info("autorefresh", {boolean : true}),
            new draw_info("gpg_check", {boolean : true}),
            new draw_info("url", {size : 60})
        ], {
            lock_div : "repo_tables"
        }
    )
};

add_config_handlers = ->
    $.ajax
        url     : "{% url pack:repo_overview %}"
        error   : handle_ajax_error
        success : (xml) ->
            if parse_xml_response(xml)
                draw_ds_tables($("div#repo_tables"), master_array, $(xml).find("value[name='response']"))

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
