{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "Package Repository Overview" %}{% endblock %}

{% block content %}

<h1 class="center">Package Repositories</h1>

<div id="repo_tables"></div>

<input type="button" value="rescan repositories" id="rescan_repos"/>

<script type="text/javascript">

{% inlinecoffeescript %}


add_config_handlers = ->
    show_repos()
    $("input#rescan_repos").bind("click", (event) ->
        $.ajax
            url     : "{% url 'pack:repo_overview' %}"
            data    : {
                "mode" : "rescan"
            }
            success : (xml) ->
                if parse_xml_response(xml)
                    show_repos()
    )

show_repos = ->
    $.ajax
        url     : "{% url 'pack:repo_overview' %}"
        success : (xml) ->
            if parse_xml_response(xml)
                master_xml = $(xml).find("value[name='response']")
                master_array = {
                    "repo" : new draw_setup("Package repositories", "package_repo", "package_repo",
                        "{% url 'base:create_object' 'package_repo' %}",
                        "{% url 'base:delete_object' 'package_repo' %}",
                        [
                            new draw_info("name", {size : 40, ro : true}),
                            new draw_info("alias", {size : 40, ro : true}),
                            new draw_info("enabled", {boolean : true, ro : true}),
                            new draw_info("autorefresh", {boolean : true, ro : true}),
                            new draw_info("gpg_check", {boolean : true, ro : true}),
                            new draw_info("publish_to_nodes", {boolean : true}),
                            new draw_info("url", {size : 60, ro : true})
                        ], {
                            lock_div : "repo_tables"
                        }
                    )
                }
                draw_ds_tables($("div#repo_tables"), master_array, master_xml)

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
