{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "RRD Classes" %}{% endblock %}


{% block content %}

<h1 class="center">RRD Class Overview</h1>

<div id="rrd_tables"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

master_array = {
    "rrd_class" : new draw_setup("RRD Class", "rrdc", "rrd_class",
        "{% url 'base:create_object' 'rrd_class' %}",
        "{% url 'base:delete_object' 'rrd_class' %}",
        [
            new draw_info("name", {clear_after_create : true}), 
            new draw_info("step", {min: 10, max : 300, default : 30, number: 1}),
            new draw_info("heartbeat", {min: 20, max : 300, default : 60, number: 1}),
        ], {
            lock_div : "rrd_tables"
        }
    ),
    "rrd_rra" : new draw_setup("RRD RRAs", "rrdrra", "rrd_rra",
        "{% url 'base:create_object' 'rrd_rra' %}",
        "{% url 'base:delete_object' 'rrd_rra' %}",
        [
            new draw_info("cf", {clear_after_create : true}), 
            new draw_info("steps", {min: 1, max : 3600, default : 30, number: 1}),
            new draw_info("rows", {min: 30, max : 12000, default : 2000, number: 1}),
        ], {
            lock_div     : "rrd_tables",
            parent_class : "rrd_class",
        }
    ),
}

load_rrd_classes = ->
    $.ajax
        url     : "{% url 'rrd:class_overview' %}"
        error   : handle_ajax_error
        success : (xml) ->
            if parse_xml_response(xml)
                draw_ds_tables($("div#rrd_tables"), master_array, $(xml).find("value[name='response']"))

$(document).ready(load_rrd_classes)

{% endinlinecoffeescript %}

</script>

{% endblock %}
