{% load i18n coffeescript %}

<div style="vertical-align:middle;">
    <input type="text" id="device_selection" size="32"/>
    <input type="image" id="devsel_button" src="{{ MEDIA_URL }}frontend/images/right-arrow.png" width="22px" height="22px" style="vertical-align:middle; display:none;" title="take selection"/>
    <input type="image" id="devsel_clear" src="{{ MEDIA_URL }}frontend/images/delete.png" width="22px" height="22px" style="vertical-align:middle;" title="clear selection"/>
</div>
<div id="gauge_info">
</div>
<div id="sidebar_tabs" class="noborder">
    <ul>
        <li><a href="#group_tree">Groups</a></li>
        <li><a href="#fqdn_tree">FQDN</a></li>
        {# <li><a href="#category_tree">Category</a></li> #}
    </ul>
    <div id="group_tree">
    </div>
    <div id="fqdn_tree">
    </div>
    <div id="category_tree">
    </div>
</div>
<div id="ajax_info">
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

root.sidebar_target_func = undefined
root.sidebar_call_devsel_link_when_loaded = false

class sidebar_tree
    constructor: (@tabs_div) ->
        @initial_mode = '{{ request.session.sidebar_mode }}'
        # some flags
        @DYN_DTS_LOCKCOUNT = 0
        @ADS_RUNNING       = false
        @DBL_HANDLING      = false
        @CALL_DEVSEL_LINK_WHEN_LOADED = root.sidebar_call_devsel_link_when_loaded
        @CUR_DEVICE_SELECTION         = undefined
        @active_tab = undefined
        @active_tabs = {}
        # shortcuts to divs
        @group_div    = @tabs_div.find("div#group_tree")
        @fqdn_div     = @tabs_div.find("div#fqdn_tree")
        #@category_div = @tabs_div.find("div#category_tree")
        @init_sidebar()
        $("input#device_selection").focus().on("keyup", @apply_device_selection)
        $("input#devsel_clear").on("click", @clear_selection)
        # check for installed sidebar_target_func
        if root.sidebar_target_func
            $("input#devsel_button").show().on("click", @devsel_func)
        # indepent of sidebar mode
        @init_gauge_info()
        @update_gauge_info()
    devsel_func: (event) =>
        # all nodes
        sel_keys = (value.data.key for value in @active_div.dynatree("getSelectedNodes"))
        # device nodes
        dev_keys  = (key for key in sel_keys when key.match(/^dev_/))
        # devgroup nodes
        devg_keys = (key for key in sel_keys when key.match(/^devg_/))
        root.sidebar_target_func(dev_keys, devg_keys)
    init_sidebar: =>
        @tabs_div.tabs(
            active   : {"group" : 0, "fqdn" : 1, "category" : 2}[@initial_mode],
            activate : @activate_tab_jq,
        )
        @activate_tab(@initial_mode)
    activate_tab_jq: (event, ui) =>
        @activate_tab(ui.newTab.find("a").attr("href").split("_")[0][1..])
    activate_tab: (tab_name) =>
        $.ajax
            url  : "{% url 'user:set_user_var' %}"
            data : 
                key   : "sidebar_mode"
                value : tab_name
        @active_div = @["#{tab_name}_div"]
        if not @active_tabs[tab_name]
            @active_tabs[tab_name] = 1
            @["activate_#{tab_name}"](@active_div)
        else
            $.ajax
                url     : "{% url 'device:get_selection' %}"
                success : (xml) =>
                    if parse_xml_response(xml)
                        @clear_active_tree()
                        d_tree = @active_div.dynatree("getTree")
                        @DYN_DTS_LOCKCOUNT++
                        $(xml).find("selection sel").each (idx, cur_sel) =>
                            cur_node = d_tree.getNodeByKey($(cur_sel).text())
                            if cur_node
                                cur_node.select(true)
                                cur_node.makeVisible(true)
                        @DYN_DTS_LOCKCOUNT--
        #if @active_tab != tab_name
        #    @active_tab = tab_name
        #    @["activate_#{tab_name}"](@["#{tab_name}_div"])
    activate_fqdn: (tree_div) =>
        $.ajax
            url     : "{% url 'network:domain_name_tree' %}"
            data    :
                add_device_references : true
            success : (xml) =>
                if parse_xml_response(xml)
                    @DNT = $(xml).find("domain_tree_nodes")
                    $.ajax
                        url     : "{% url 'device:get_group_tree' %}"
                        data    :
                            "ignore_cdg"      : "0"
                            "permission_tree" : "1"
                            "full_name"       : "1"
                        success : (xml) =>
                            if parse_xml_response(xml)
                                @device_groups = $(xml).find("device_groups device_group")
                                tree_div.dynatree
                                    autoFocus  : false
                                    checkbox   : true
                                    onClick : (dtnode, event) =>
                                        if dtnode.data.key.match(/^dev__/)
                                            if !@ADS_RUNNING
                                                if dtnode.getEventTargetType(event) == "title"
                                                    @show_device_info(dtnode, event)
                                    onSelect : (flat, dtnode) =>
                                        if !@ADS_RUNNING and !@DBL_HANDLING
                                            if !dtnode.isExpanded()
                                                dtnode.expand(true)
                                            if !@DYN_DTS_LOCKCOUNT
                                                @DYN_DTS_LOCKCOUNT++
                                                dtnode.visit(
                                                    (cur_node) ->
                                                        cur_node.toggleSelect()
                                                    false)
                                                @DYN_DTS_LOCKCOUNT--
                                                $.ajax
                                                    url  : "{% url 'device:set_selection' %}"
                                                    data :
                                                        "key_list" : (x.data.key for x in tree_div.dynatree("getTree").getSelectedNodes())
                                    debuglevel : {% if DEBUG %}0{% else %}0{% endif %}
                                @root_fqdn_node = tree_div.dynatree("getRoot")
                                @build_fqdn_node(@root_fqdn_node, @DNT.find("domain_tree_node[parent='0']"))
                                if @CALL_DEVSEL_LINK_WHEN_LOADED
                                    $("input#devsel_button").trigger("click")
    build_fqdn_node: (dt_node, db_node) =>
        if parseInt(db_node.attr("total_refcount")) > 0 or parseInt(db_node.attr("parent")) == 0
            if parseInt(db_node.attr("parent")) == 0
                title_str = "TOP"
                expand_flag = true
            else
                title_str = db_node.attr("name") + " (*." + db_node.attr("full_name") + ")"
                expand_flag = false
            new_node = dt_node.addChild(
                title    : title_str
                expand   : expand_flag
                key      : db_node.attr("pk")
                isFolder : true
                addClass : if db_node.attr("intermediate") == "1" then "intermediate" else "ip_ok"
            )
            # add all devices
            @device_groups.find("device[domain_tree_node='" + db_node.attr("pk") + "']").each (dev_id, cur_dev) =>
                @add_device_node(new_node, $(cur_dev), true)
            # add all sub fqdns
            @DNT.find("domain_tree_node[parent='" + db_node.attr("pk") + "']").each (idx, sub_db_node) =>
                @build_fqdn_node(new_node, $(sub_db_node))
    add_device_node: (dt_node, cur_dev, add_meta) =>
        is_meta = cur_dev.attr("meta_device") == "1"
        if is_meta
            sel_flag = if cur_dev.attr("selected") == "selected" then true else false
            if add_meta
                new_node = dt_node.addChild
                    title   : cur_dev.attr("title")
                    select  : sel_flag
                    key     : "devg__" + cur_dev.attr("device_group")
                    tooltip : "UUID: " + cur_dev.attr("uuid")
                if sel_flag
                    new_node.makeVisible(true)
        else
            sel_flag = if cur_dev.attr("tree_selected") == "selected" then true else false
            new_node = dt_node.addChild
                title   : cur_dev.attr("title")
                select  : sel_flag
                key     : cur_dev.attr("key")
                tooltip : "UUID: " + cur_dev.attr("uuid")
            if sel_flag
                new_node.makeVisible(true)
    activate_group: (tree_div) =>
        tree_div.dynatree
            autoFocus  : false
            checkbox   : true
            onDblClick : (dtnode, event) =>
                if !@ADS_RUNNING
                    if !@DYN_DTS_LOCKCOUNT
                        @DBL_HANDLING = true
                        dtnode.toggleSelect()
                        @DBL_HANDLING = false
                        $.ajax
                            url  : "{% url 'device:add_selection' %}"
                            data :
                                "key"    : dtnode.data.key
                                "add"    : if dtnode.isSelected() then  else 0
                                "double" : 1
            onClick : (dtnode, event) =>
                if !@ADS_RUNNING
                    if dtnode.getEventTargetType(event) == "title"
                        @show_device_info(dtnode, event)
            onSelect : (flat, dtnode) =>
                if !@ADS_RUNNING and !@DBL_HANDLING
                    if !dtnode.isExpanded()
                        dtnode.expand(true)
                    if !@DYN_DTS_LOCKCOUNT
                        $.ajax
                            url  : "{% url 'device:add_selection' %}"
                            data :
                                "key"    : dtnode.data.key
                                "add"    : if dtnode.isSelected() then 1 else 0
                                "double" : 0
                        @DYN_DTS_LOCKCOUNT++
                        dtnode.visit(
                            (cur_node) ->
                                cur_node.toggleSelect()
                            false)
                        @DYN_DTS_LOCKCOUNT--
            debuglevel : {% if DEBUG %}0{% else %}0{% endif %}
        @load_group_xml(tree_div)
    load_group_xml: (tree_div) =>
        $.ajax
            url     : "{% url 'device:get_group_tree' %}"
            data    :
                "ignore_cdg"      : "0"
                "permission_tree" : "1"
                "full_name"       : "1"
            success : (xml) =>
                if parse_xml_response(xml)
                    root_node = tree_div.dynatree("getRoot")
                    $(xml).find("device_groups device_group").each (dg_idx, cur_dg) =>
                        cur_dg = $(cur_dg)
                        title_str = cur_dg.attr("name")
                        if cur_dg.find("device[meta_device='0']").length
                            title_str = "#{title_str} (" + cur_dg.find("device[meta_device='0']").length + ")"
                        dg_node = root_node.addChild(
                            title    : title_str
                            isFolder : true
                            isLazy   : false
                            select   : if cur_dg.attr("tree_selected") == "selected" then true else false
                            expand   : if cur_dg.attr("tree_selected") == "selected" then true else false
                            key      : cur_dg.attr("key")
                        )
                        cur_dg.find("device").each (d_idx, cur_dev) =>
                            @add_device_node(dg_node, $(cur_dev), false)
                    $.each(tree_div.dynatree("getSelectedNodes"),  (index, value) =>
                        value.expand(true)
                        value.makeVisible(true)
                    )
                    tree_div.find("ul").css({"border" : "none", "margin" : "0px"})
                    tree_div.css({"border" : "1px dotted gray", "background-color" : "#FFFFFF"})
                    if @CALL_DEVSEL_LINK_WHEN_LOADED
                        $("input#devsel_button").trigger("click")
    clear_selection: =>
        $("input#device_selection").val("")
        $.ajax
            url     : "{% url 'device:clear_selection' %}"
            success : (xml) =>
                @clear_active_tree()
    clear_active_tree: =>
        @DYN_DTS_LOCKCOUNT = true
        $.each(@active_div.dynatree("getSelectedNodes"), (index, value) =>
            value.select(false)
        )
        @active_div.dynatree("getRoot").visit((node) ->
            node.expand(false)
        )
        @DYN_DTS_LOCKCOUNT = false
    apply_device_selection: =>
        cur_text = $("input#device_selection").val()
        if cur_text != @CUR_DEVICE_SELECTION
            @CUR_DEVICE_SELECTION = cur_text
            if @CUR_DEVICE_SELECTION
                @ADS_RUNNING = true
                cur_re = new RegExp(@CUR_DEVICE_SELECTION)
                key_list = []
                # traverse tree
                @active_div.dynatree("getRoot").visit((node) ->
                    if node.data.title.match(cur_re)
                        node.makeVisible(true)
                        node.select(true)
                        key_list.push(node.data.key)
                    else
                        node.select(false)
                )
                # traverse tree, unexpand subtrees
                @active_div.dynatree("getRoot").visit((node) ->
                    if node.hasChildren()
                        any_selected = false
                        # count active
                        node.visit((sub_node) ->
                            if sub_node.isSelected()
                                any_selected = true
                        )
                        if !any_selected
                            node.expand(false)
                    return "skip"
                )
                $.ajax
                    url  : "{% url 'device:add_selection' %}"
                    data :
                        "key"    : key_list
                        "double" : 0
                @ADS_RUNNING = false
    resolve_device_keys: (key_list) =>
        list_len = key_list.length
        ret_list = list_len + (if list_len == 1 then " device" else " devices")
        if list_len
            ret_list = "#{ret_list}: "
            d_tree = @active_div.dynatree("getTree")
            $.each(key_list, (idx, val) =>
                if idx > 0
                    ret_list = "#{ret_list},"
                ret_list = ret_list + " " + d_tree.getNodeByKey(val).data.title
            )
        return ret_list
    show_device_info: (dtnode, event) =>
        if dtnode.data.key.match(/^dev__/)
            show_device_info(event, dtnode.data.key, @update_node)
    update_node: (dev_key) =>
        $.ajax
            url     : "{% url 'base:get_object' %}"
            data    :
                "key"         : dev_key
                "true_flag_0" : "full_name"
            success : (xml) =>
                if parse_xml_response(xml)
                    dev_xml = $(xml).find("value[name='result'] device")
                    cur_node = @active_div.dynatree("getTree").getNodeByKey(dev_xml.attr("key"))
                    title_str = dev_xml.attr("full_name")
                    if dev_xml.attr("comment")
                        title_str = title_str + " (" + dev_xml.attr("comment") + ")"
                    cur_node.data.title = title_str
                    cur_node.render()
    init_gauge_info: =>
        @next_iters = []
        # defaults to 10 seconds
        @default_gauge_timeout = 10000
    set_next_iters: (diff_to, num_steps) =>
        @next_iters = (diff_to for idx in [1..num_steps])
        @set_next_gauge()
    set_next_gauge: () =>
        $(document).stopTime("get_gauge_info")
        if @next_iters.length
            next_timeout = @next_iters.pop()
        else
            next_timeout = @default_gauge_timeout
        $(document).everyTime(next_timeout, "get_gauge_info", (next_timeout) =>
            @update_gauge_info()
        )
    update_gauge_info: =>
        $.ajax
            url     : "{% url 'base:get_gauge_info' %}",
            hidden  : true,
            success : (xml) =>
                if parse_xml_response(xml)
                    gauge_td = $("div#gauge_info")
                    gauge_td.children().remove()
                    any_defined = false
                    $(xml).find("gauge_info gauge_element").each (idx, gauge_el) ->
                        any_defined = true
                        gauge_el = $(gauge_el)
                        gauge_td.append(
                            $("<div>").text(gauge_el.text()).progressbar({
                                "value" : parseInt(gauge_el.attr("value")),
                            })
                        )
                    @default_gauge_timeout = if any_defined then 1500 else 10000
                    @set_next_gauge()
    
root.init_sidebar = ->
    root.sidebar = new sidebar_tree($("div#sidebar_tabs"))
    
root.install_devsel_link = (t_func, fire_when_loaded) ->
    root.sidebar_target_func = t_func
    root.sidebar_call_devsel_link_when_loaded = fire_when_loaded

{% endinlinecoffeescript %}

</script>
