{% load i18n coffeescript %}

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td id="device_selection" style="vertical-align:middle;">
            <input type="text" id="device_selection" size="32"/>
            <input type="image" id="devsel_button" src="{{ MEDIA_URL }}frontend/images/right-arrow.png" width="22px" height="22px" style="vertical-align:middle; display:none;"/>
            <input type="image" id="devsel_clear" src="{{ MEDIA_URL }}frontend/images/delete.png" width="22px" height="22px" style="vertical-align:middle;"/>
        </td>
    </tr>
    <tr id="gauge_info">
        <td id="gauge_info">
        </td>
    </tr>
    <tr>
        <td valign="top">
            <div id="sidebar_tree">
            </div>
        </td>
    </tr>
</table>

<div id="ajax_info">
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

root.sidebar_target_func = undefined
root.sidebar_call_devsel_link_when_loaded = false

class sidebar_tree
    constructor: (@top_div) ->
        @DYN_DTS_LOCKCOUNT = 0
        @ADS_RUNNING       = false
        @DBL_HANDLING      = false
        @CALL_DEVSEL_LINK_WHEN_LOADED = root.sidebar_call_devsel_link_when_loaded
        @CUR_DEVICE_SELECTION         = undefined
        @init_sidebar()
        @load_xml()
        @top_div.find("ul").css({"border" : "none", "margin" : "0px"})
        @top_div.css({"border" : "1px dotted gray", "background-color" : "#FFFFFF"})
        $("input#device_selection").focus().bind("keyup", @apply_device_selection)
        $("input#devsel_clear").on("click", @clear_selection)
        # check for installed sidebar_target_func
        if root.sidebar_target_func
            $("input#devsel_button").show().bind("click", (event) =>
                root.sidebar_target_func(@top_div)
            )
        @init_gauge_info()
        @update_gauge_info()
    init_sidebar: =>
        @top_div.dynatree
            autoFocus  : false
            checkbox   : true
            onDblClick : (dtnode, event) =>
                if !@ADS_RUNNING
                    if !@DYN_DTS_LOCKCOUNT
                        @DBL_HANDLING = true
                        dtnode.toggleSelect()
                        @DBL_HANDLING = false
                        $.ajax
                            url  : "{% url 'device:add_selection' %}"
                            data :
                                "key"    : dtnode.data.key
                                "add"    : if dtnode.isSelected() then  else 0
                                "double" : 1
            onClick : (dtnode, event) =>
                if !@ADS_RUNNING
                    if dtnode.getEventTargetType(event) == "title"
                        @show_device_info(dtnode, event)
            onSelect : (flat, dtnode) =>
                if !@ADS_RUNNING and !@DBL_HANDLING
                    if !dtnode.isExpanded()
                        dtnode.expand(true)
                    if !@DYN_DTS_LOCKCOUNT
                        $.ajax
                            url  : "{% url 'device:add_selection' %}"
                            data :
                                "key"    : dtnode.data.key
                                "add"    : if dtnode.isSelected() then 1 else 0
                                "double" : 0
                        @DYN_DTS_LOCKCOUNT++
                        dtnode.visit(
                            (cur_node) ->
                                cur_node.toggleSelect()
                            false)
                        @DYN_DTS_LOCKCOUNT--
            debuglevel : {% if DEBUG %}2{% else %}0{% endif %}
    load_xml: =>
        $.ajax
            url     : "{% url 'device:get_group_tree' %}"
            data    :
                "ignore_cdg"      : "0"
                "permission_tree" : "1"
            success : (xml) =>
                if parse_xml_response(xml)
                    root_node = @top_div.dynatree("getRoot")
                    $(xml).find("device_groups device_group").each (dg_idx, cur_dg) =>
                        cur_dg = $(cur_dg)
                        title_str = cur_dg.attr("name")
                        if cur_dg.find("device[meta_device='0']").length
                            title_str = "#{title_str} (" + cur_dg.find("device[meta_device='0']").length + ")"
                        dg_node = root_node.addChild(
                            title    : title_str
                            isFolder : true
                            isLazy   : false
                            select   : if cur_dg.attr("tree_selected") == "selected" then true else false
                            expand   : if cur_dg.attr("tree_selected") == "selected" then true else false
                            key      : cur_dg.attr("key")
                        )
                        cur_dg.find("device").each (d_idx, cur_dev) =>
                            cur_dev = $(cur_dev)
                            if cur_dev.attr("meta_device") != "1"
                                dg_node.addChild
                                    title   : cur_dev.attr("title")
                                    select  : if cur_dev.attr("tree_selected") == "selected" then true else false
                                    key     : cur_dev.attr("key")
                                    tooltip : "UUID: " + cur_dev.attr("uuid")
                    $.each(@top_div.dynatree("getSelectedNodes"),  (index, value) =>
                        value.expand(true)
                        value.makeVisible(true)
                    )
                    if @CALL_DEVSEL_LINK_WHEN_LOADED
                        $("input#devsel_button").trigger("click")
    clear_selection: =>
        $("input#device_selection").val("")
        $.ajax
            url     : "{% url 'device:clear_selection' %}"
            success : (xml) =>
                @DYN_DTS_LOCKCOUNT = true
                $.each(@top_div.dynatree("getSelectedNodes"), (index, value) =>
                    value.select(false)
                )
                @top_div.dynatree("getRoot").visit((node) ->
                    node.expand(false)
                )
                @DYN_DTS_LOCKCOUNT = false
    apply_device_selection: =>
        cur_text = $("input#device_selection").val()
        if cur_text != @CUR_DEVICE_SELECTION
            @CUR_DEVICE_SELECTION = cur_text
            if @CUR_DEVICE_SELECTION
                @ADS_RUNNING = true
                cur_re = new RegExp(@CUR_DEVICE_SELECTION)
                key_list = []
                # traverse tree
                @top_div.dynatree("getRoot").visit((node) ->
                    if node.data.title.match(cur_re)
                        node.makeVisible(true)
                        node.select(true)
                        key_list.push(node.data.key)
                    else
                        node.select(false)
                )
                # traverse tree, unexpand subtrees
                @top_div.dynatree("getRoot").visit((node) ->
                    if node.hasChildren()
                        any_selected = false
                        # count active
                        node.visit((sub_node) ->
                            if sub_node.isSelected()
                                any_selected = true
                        )
                        if !any_selected
                            node.expand(false)
                    return "skip"
                )
                $.ajax
                    url  : "{% url 'device:add_selection' %}"
                    data :
                        "key"    : key_list
                        "double" : 0
                @ADS_RUNNING = false
    resolve_device_keys: (key_list) =>
        list_len = key_list.length
        ret_list = list_len + (if list_len == 1 then " device" else " devices")
        if list_len
            ret_list = "#{ret_list}: "
            d_tree = @top_div.dynatree("getTree")
            $.each(key_list, (idx, val) =>
                if idx > 0
                    ret_list = "#{ret_list},"
                ret_list = ret_list + " " + d_tree.getNodeByKey(val).data.title
            )
        return ret_list
    show_device_info: (dtnode, event) =>
        if dtnode.data.key.match(/^dev__/)
            show_device_info(event, dtnode.data.key)
    init_gauge_info: =>
        @next_iters = []
        # defaults to 10 seconds
        @default_gauge_timeout = 10000
    set_next_iters: (diff_to, num_steps) =>
        @next_iters = (diff_to for idx in [1..num_steps])
        @set_next_gauge()
    set_next_gauge: () =>
        $(document).stopTime("get_gauge_info")
        if @next_iters.length
            next_timeout = @next_iters.pop()
        else
            next_timeout = @default_gauge_timeout
        $(document).everyTime(next_timeout, "get_gauge_info", (next_timeout) =>
            @update_gauge_info()
        )
    update_gauge_info: =>
        $.ajax
            url     : "{% url 'base:get_gauge_info' %}",
            hidden  : true,
            success : (xml) =>
                if parse_xml_response(xml)
                    gauge_td = $("td#gauge_info")
                    gauge_td.children().remove()
                    any_defined = false
                    $(xml).find("gauge_info gauge_element").each (idx, gauge_el) ->
                        any_defined = true
                        gauge_el = $(gauge_el)
                        gauge_td.append(
                            $("<div>").text(gauge_el.text()).progressbar({
                                "value" : parseInt(gauge_el.attr("value")),
                            })
                        )
                    @default_gauge_timeout = if any_defined then 1500 else 10000
                    @set_next_gauge()
    
root.init_sidebar = ->
    root.sidebar = new sidebar_tree($("div#sidebar_tree"))
    
root.install_devsel_link = (t_func, fire_when_loaded) ->
    root.sidebar_target_func = t_func
    root.sidebar_call_devsel_link_when_loaded = fire_when_loaded

{% endinlinecoffeescript %}

</script>
