{% load i18n %}

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <div id="sidebar_tree">
            </div>
        </td>
    </tr>
    <tr>
        <td id="device_selection">
            <input type="text" id="device_selection" onKeyUp="apply_device_selection();"/>
        </td>
    </tr>
    <tr>
        <td>
            <div id="devsel_div">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="devselclear_div">
                <input type="button" onClick="clear_selection();" value="clear selection" />
            </div>
        </td>
    </tr>
</table>

<div id="ajax_info">
</div>
<script type="text/javascript">

DYN_DTS_LOCKCOUNT = 0;
CALL_DEVSEL_LINK_WHEN_LOADED = false;
CUR_DEVICE_SELECTION = undefined;
ADS_RUNNING = false;

function toggle_south(event) {
    my_layout.toggle("south");
}

function toggle_west(event) {
    my_layout.toggle("west");
}

function apply_device_selection() {
    var cur_text = $("input#device_selection").attr("value");
    if (cur_text != CUR_DEVICE_SELECTION) {
        CUR_DEVICE_SELECTION = cur_text;
        if (CUR_DEVICE_SELECTION) {
           ADS_RUNNING = true;
            var cur_re = new RegExp(CUR_DEVICE_SELECTION);
            var key_list = new Array();
            // traverse tree
            $("div#sidebar_tree").dynatree("getRoot").visit(function(node) {
                if (node.data.title.match(cur_re)) {
                    node.makeVisible(true);
                    node.select(true);
                    key_list.push(node.data.key);
                } else {
                    node.select(false);
                };
            });
            // traverse tree, unexpand subtrees
            $("div#sidebar_tree").dynatree("getRoot").visit(function(node) {
                if (node.hasChildren()) {
                    var any_selected = false;
                    // count active
                    node.visit(function(sub_node) {
                        if (sub_node.isSelected()) {
                            any_selected = true;
                        };
                    });
                    if (! any_selected) {
                        node.expand(false);
                    };
                };
                return "skip";
            });
            $.ajax({
                url : "{% url device:add_selection %}",
                data : {
                    "key" : key_list
                }
            });
           ADS_RUNNING = false;
        };
    };
};

function clear_selection() {
    $("input#device_selection").val("");
    $.ajax({
        url : "{% url device:clear_selection %}",
        success : function(xml) {
            DYN_DTS_LOCKCOUNT = 1;
            $.each($("div#sidebar_tree").dynatree("getSelectedNodes"), function(index, value) {
                value.select(false);
            });
            DYN_DTS_LOCKCOUNT = 0;
        }
    });
};

function install_devsel_link(t_func, fire_when_loaded) {
    $("div#devsel_div").children().remove();
    $("div#devsel_div").text("");
    $("div#devsel_div").append($("<button>").attr({"id" : "devsel_button"}).text("use selection").bind("click", function(event) {
        t_func($("div#sidebar_tree"));
    }));
    CALL_DEVSEL_LINK_WHEN_LOADED = fire_when_loaded;
};

function resolve_device_keys(key_list) {
    var list_len = key_list.length;
    var ret_list = list_len + (list_len == 1 ? " device" : " devices");
    if (list_len) {
        ret_list = ret_list + ": ";
        var d_tree = $("div#sidebar_tree").dynatree("getTree");
        $.each(key_list, function(idx, val) {
            if (idx > 0) ret_list = ret_list + ",";
            ret_list = ret_list + " " + d_tree.getNodeByKey(val).data.title;
        });
    };
    return ret_list;
};

function sidebar_handler() {
    $("div#sidebar_tree").dynatree({
        autoFocus  : false,
        checkbox   : true,
        onSelect : function(flag, dtnode) {
            if (!ADS_RUNNING) {
                if (! dtnode.isExpanded()) {
                    dtnode.expand(true);
                };
                if (! DYN_DTS_LOCKCOUNT) {
                    $.ajax({
                        url : "{% url device:add_selection %}",
                        data : {
                            "key" : dtnode.data.key,
                            "add" : dtnode.isSelected() ? 1 : 0}
                    });
                    DYN_DTS_LOCKCOUNT ++;
                    dtnode.visit(function(cur_node) {
                        cur_node.toggleSelect();
                    }, false);
                    DYN_DTS_LOCKCOUNT --;
                };
            };
        },
        debuglevel : {% if DEBUG %}2{% else %}0{% endif %}
    });
    $.ajax({
        url     : "{% url device:get_group_tree %}",
        error   : handle_ajax_error,
        data    : {
            "ignore_cdg"      : "0",
            "permission_tree" : "1"
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                var root_node = $("#sidebar_tree").dynatree("getRoot");
                $(xml).find("device_groups device_group").each(function() {
                    var cur_dg = $(this);
                    var dg_node = root_node.addChild({
                        title    : cur_dg.attr("name"),
                        isFolder : true,
                        isLazy   : false,
                        select   : cur_dg.attr("tree_selected") == "selected" ? true : false,
                        expand   : cur_dg.attr("tree_selected") == "selected" ? true : false,
                        key      : cur_dg.attr("key")
                    });
                    cur_dg.find("device").each(function() {
                        var cur_dev = $(this);
                        if (cur_dev.attr("meta_device") == "1") {
                        } else {
                            dg_node.addChild({
                                title  : cur_dev.attr("title"),
                                select : cur_dev.attr("tree_selected") == "selected" ? true : false,
                                key    : cur_dev.attr("key")
                            });
                        };
                    });
                });
                $.each($("div#sidebar_tree").dynatree("getSelectedNodes"), function(index, value) {
                    value.expand(true);
                    value.makeVisible(true);
                });
                if (CALL_DEVSEL_LINK_WHEN_LOADED) {
                    $("div#devsel_div button#devsel_button").trigger("click");
                };
            }
        }
    });
    
    $("div#sidebar_tree ul").css({"border" : "none", "margin" : "0px"});
    $("div#sidebar_tree").css({"border" : "1px dotted gray", "background-color" : "#FFFFFF"});
    $("input#device_selection").focus();
};

</script>
