{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "User Overview" %}{% endblock %}


{% block content %}

<h1 class="center">Users and Groups / Treeview</h1>

<div id="ug_tables" class="leftfloat">
    <div id="buttons"></div>
    <div id="dynatree"></div>
</div>
<div id="ug_detail" class="leftfloat" style="width:800px; margin-left:auto; margin-right:auto;">
</div>


<script type="text/javascript">

{% inlinecoffeescript %}

class user_tree
    constructor: (@top_div, @detail_div) ->
        @buttons_div = @top_div.find("div#buttons")
        @dt_div = @top_div.find("div#dynatree")
        @add_buttons()
        @load_users()
    add_buttons: () =>
        @sync_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "sync_users"
            "value" : "Sync Users"
        ).on("click", @sync_users)
        @create_group_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "create_group"
            "value" : "Create Group"
        ).on("click", @create_group)
        {% if not perms.backbone.administrator %}
        @create_group_button.hide()
        @sync_button.hide()
        {% endif %}
        @create_user_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "create_user"
            "value" : "Create User"
        ).on("click", @create_user)
        @buttons_div.append(@sync_button, @create_group_button, @create_user_button)
        @click_buttons = @buttons_div.find("input[type='button']")
    sync_users: (event) =>
        @click_buttons.attr("disabled", "disabled")
        $.ajax
            url     : "{% url 'user:sync_users' %}"
            title   : "syncing users"
            success : (xml) =>
                @click_buttons.removeAttr("disabled")
                parse_xml_response(xml)

    # user functions

    create_user: (event) =>
        @click_buttons.attr("disabled", "disabled")
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    @click_buttons.removeAttr("disabled")
                    @install_ug_form($(xml).find("value[name='form']").text())
                    @detail_div.bind("submit", @submit_new_user)
    submit_new_user: (event) =>
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            data    : create_dict($("div#ug_detail"), "user__new", true, true)
            success : (xml) =>
                if parse_xml_response(xml)
                    window.location = "{% url 'user:overview' 'tree' %}"
                else
                    @install_ug_form($(xml).find("value[name='error_form']").text())
                    @detail_div.bind("submit", @submit_new_user)
        return false
    delete_user: (event) =>
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            data    : {
                key  : @active_node
                mode : "delete" 
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    # remove from tree
                    window.location = "{% url 'user:overview' 'tree' %}"
        return false
     
    # group functions
    
    create_group: (event) =>
        @click_buttons.attr("disabled", "disabled")
        @click_buttons.removeAttr("disabled")
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    @click_buttons.removeAttr("disabled")
                    @install_ug_form($(xml).find("value[name='form']").text())
                    @detail_div.bind("submit", @submit_new_group)
    submit_new_group: (event) =>
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            data    : create_dict($("div#ug_detail"), "group__new", true, true)
            success : (xml) =>
                if parse_xml_response(xml)
                    window.location = "{% url 'user:overview' 'tree' %}"
                else
                    @install_ug_form($(xml).find("value[name='error_form']").text())
                    @detail_div.bind("submit", @submit_new_group)
        return false
    delete_group: (event) =>
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            data    : {
                key  : @active_node
                mode : "delete" 
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    # remove from tree
                    window.location = "{% url 'user:overview' 'tree' %}"
        return false

    install_ug_form: (form_text) =>
        @clear_ug_form()
        @detail_div.append(form_text)
        @detail_div.uniform()
        @detail_div.find("select").chosen(
            width : "75%"
        )
        @detail_div.find("input[name='password']").bind("focus", enter_password)
    clear_ug_form: () =>
        @detail_div.children().remove()
        @detail_div.unbind("submit")
    load_users: () =>
        $.ajax
            url     : "{% url 'user:overview' 'table' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @UGX = $(xml).find("value[name='response']")
                    @my_submitter = new submitter({
                        master_xml       : @UGX,
                        success_callback : @change_cb
                    })
                    @build_tree()
    change_cb: (cur_el) =>
        c_type = cur_el.attr("id").split("__")[2]
        node_key = cur_el.attr("id").split("__")[1]
        #console.log c_type, node_key
    build_tree: () =>
        @dt_div.dynatree
            autoFocus  : false
            debuglevel : {% if DEBUG %}0{% else %}0{% endif %}
            onExpand : (flag, dtnode) =>
            onSelect : (flag, dtnode) =>
            onFocus  : (dtnode) =>
                @show_details(dtnode.data.key)
                return false
            {% if perms.backbone.administrator %}
            # node movement is not allowed for group admins
            dnd : {
                onDragStart : (dtnode) =>
                    return true
                onDragEnter : (dst_node, src_node) =>
                    if dst_node.data.key.match(/^group__/)
                        return true
                    else
                        return false
                onDrop: (dst_node, src_node, hit_mode, ui, draggable) =>
                    $.ajax
                        url     : "{% url 'user:move_node' %}"
                        data    : {
                            "src_id" : src_node.data.key
                            "dst_id" : dst_node.data.key
                            "mode"   : hit_mode
                        }
                        success :  (xml) =>
                            if parse_xml_response(xml)
                                src_db_node = @UGX.find("users user[key='#{src_node.data.key}']")
                                src_db_node.attr("parent", @UGX.find("groups group[key='#{dst_node.data.key}']").attr("pk"))
                                src_node.move(dst_node, "over")
                }
            {% endif %}
        @root_node = @dt_div.dynatree("getRoot")
        @build_group_node(@root_node)
    build_group_node: (dt_node, db_node) =>
        if db_node is undefined
            title_str = "TOP"
            expand_flag = true
            key         = 0
            folder      = true
            next_list = @UGX.find("groups group[parent_group='0']")
        else
            title_str   = db_node.attr("groupname") + " (gid " + db_node.attr("gid") + ")"
            expand_flag = true
            key         = db_node.attr("key")
            folder      = true
            next_list = @UGX.find("groups group[parent_group='" + db_node.attr("pk") + "']")
        new_node = dt_node.addChild(
            title    : title_str
            expand   : expand_flag
            key      : key
            isFolder : folder
        )
        next_list.each (idx, sub_el) =>
            @build_group_node(new_node, $(sub_el))
        if key
            @UGX.find("users user[group='" + db_node.attr("pk") + "']").each (u_idx, user_el) =>
                @build_user_node(new_node, $(user_el))
    build_user_node: (dt_node, db_node) =>
        new_node = dt_node.addChild(
            title    : db_node.attr("login") + " (uid " + db_node.attr("uid") + ")"
            expand   : false
            key      : db_node.attr("key")
        )
    show_details: (key) =>
        if key.match(/^(user|group)__/)
            if key.match(/^(user)__/)
                url = "{% url 'user:user_detail' %}"
            else
                url = "{% url 'user:group_detail' %}"
            {% if perms.backbone.admin %}
            show_detail = true
            {% else %}
            if key.match(/^(user)__/)
                show_detail = true
            else
                show_detail = "{{ user.group_id }}" == key.split("__")[1]
            {% endif %}
            if show_detail
                $.ajax
                    url     : url
                    data    : {
                        "key"  : key
                        "mode" : "show"
                    }
                    success : (xml) =>
                        if parse_xml_response(xml)
                            @active_node = key
                            @install_ug_form($(xml).find("value[name='form']").text())
                            @detail_div.find("input, select").on("change", @my_submitter.submit)
                            if key.match(/^(user)__/)
                                @detail_div.bind("submit", @delete_user)
                            else
                                @detail_div.bind("submit", @delete_group)
            else
                @clear_ug_form()

$(document).ready(
    my_ugt = new user_tree($("div#ug_tables"), $("div#ug_detail"))
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
