{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "User Overview" %}{% endblock %}


{% block content %}

<h1 class="center">Users and Groups / Treeview</h1>

<div id="ug_tables" class="leftfloat">
    <div id="buttons"></div>
    <div id="dynatree"></div>
</div>
<div id="ug_detail" class="leftfloat" style="width:800px; margin-left:auto; margin-right:auto;">
</div>


<script type="text/javascript">

{% inlinecoffeescript %}

show_object_permissions = (event, obj_key) ->
    new object_permissions(event, obj_key).show()

class object_permissions
    constructor: (@event, @obj_key) ->
    show: () =>
        $.ajax
            url     : "{% url 'user:get_object_permissions' %}"
            data    :
                "auth_key" : @obj_key
            success : (xml) =>
                if parse_xml_response(xml)
                    @resp_xml = $(xml).find("response")
                    #console.log @resp_xml[0]
                    @build_div()
                    @perm_div.modal
                        opacity      : 50
                        position     : [@event.pageY, @event.pageX]
                        autoResize   : true
                        autoPosition : true
                        minWidth     : "640px"
                        onShow: (dialog) -> 
                            dialog.container.draggable()
                            $("#simplemodal-container").css("height", "auto")
                            $("#simplemodal-container").css("width", "auto")
                        onClose: =>
                            $.modal.close()
    build_div: () =>
        perm_div = $("<div>")
        perm_div.append(
            $("<h3>").text("Object permissions")
        )
        tabs_div = $("<div>").attr("id", "tabs")
        tabs_ul = $("<ul>")
        tabs_div.append(tabs_ul)
        perm_div.append(tabs_div)
        # build permission divs
        @resp_xml.find("content_types content_type").each (idx, cur_ct) =>
            cur_ct = $(cur_ct)
            tabs_ul.append(
                $("<li>").append($("<a>").attr("href", "#" + cur_ct.attr("name")).text(cur_ct.attr("app_label") + ":" + cur_ct.attr("name")))
            )
            sub_div = $("<div>").attr("id", cur_ct.attr("name"))
            tabs_div.append(sub_div)
            @build_ct_div(cur_ct, sub_div)
        tabs_div.tabs()
        @perm_div = perm_div
    build_ct_div: (cur_ct, add_div) =>
        add_div.append($("<h3>").text("Permissions for " + cur_ct.attr("name")))
        has_group = parseInt(cur_ct.find("objects").attr("has_group"))
        has_second_group = parseInt(cur_ct.find("objects").attr("has_second_group"))
        if cur_ct.find("objects object").length
            perm_table = $("<table>").addClass("device_objperm")
            header_line = $("<tr>").addClass("ui-widget ui-widget-header")
            if has_second_group
                perm_offset = 3
                header_line.append($("<th>").text("Group"))
                header_line.append($("<th>").text("sGroup"))
            else if has_group
                perm_offset = 2
                header_line.append($("<th>").text("Group"))
            else
                perm_offset = 1
            header_line.append($("<th>").text("Name"))
            a_targets = []
            csw_perms = @resp_xml.find("csw_permissions csw_permission[content_type='" + cur_ct.attr("pk") + "']")
            csw_perms.each (csw_pk, cur_csw) =>
                cur_csw = $(cur_csw)
                a_targets.push(csw_pk + perm_offset)
                header_line.append($("<th>").text(cur_csw.attr("name")))
            perm_table.append(
                $("<thead>").append(header_line)
            )
            tab_body = $("<tbody>")
            cur_ct.find("objects object").each (idx, cur_obj) =>
                cur_obj = $(cur_obj)
                obj_perms = cur_obj.attr("perms").split(",")
                cur_line = $("<tr>")
                if has_group
                    cur_line.append($("<td>").text(cur_obj.attr("group")))
                    if has_second_group
                        cur_line.append($("<td>").text(cur_obj.attr("second_group")))
                cur_line.append($("<td>").text(cur_obj.text()))
                csw_perms.each (csw_pk, cur_csw) =>
                    cur_csw = $(cur_csw)
                    cur_id = "csw_perm__" + cur_obj.attr("pk") + "__" + cur_csw.attr("pk")
                    if cur_csw.attr("pk") in obj_perms
                        cur_line.append($("<td>").addClass("center").html("<input type='checkbox' id='#{cur_id}' checked='checked'/>"))
                    else
                        cur_line.append($("<td>").addClass("center").html("<input type='checkbox' id='#{cur_id}'/>"))
                tab_body.append(cur_line)
            perm_table.append(tab_body)
            add_div.append(perm_table)
            if has_second_group
                rg_dict =
                    iGroupingColumnIndex2 : 1
                    bSetGroupingClassOnTR : true
                    fnGroupLabelFormat : (label) ->
                        return "#{label} (device group)"
            else if has_group
                rg_dict = 
                    sGroupBy              : "name"
                    bSetGroupingClassOnTR : true
                    bHideGroupingColumn   : true
            else
                rg_dict = 
                    sGroupBy              : "letter"
                    bSetGroupingClassOnTR : true
                    bHideGroupingColumn   : false
            perm_table.dataTable(
                "sPaginationType" : "full_numbers"
                "iDisplayLength"  : 10
                "bScrollCollapse" : true
                "bScrollAutoCss"  : true
                "bAutoWidth"      : false
                "bJQueryUI"       : true
                "bPaginate"       : true
            ).rowGrouping(rg_dict)
            perm_table.find("tbody input[type='checkbox']").on("change", @change_perm)
    change_perm: (event) =>
        cur_el = $(event.target)
        $.ajax
            url  : "{% url 'user:change_object_permission' %}"
            data : {
                "key"      : cur_el.attr("id")
                "selected" : if cur_el.is(":checked") then "1" else "0"
                "auth_key" : @obj_key  
            }
            success: (xml) =>
                if parse_xml_response(xml)
                    true

class user_tree
    constructor: (@top_div, @detail_div) ->
        @buttons_div = @top_div.find("div#buttons")
        @dt_div = @top_div.find("div#dynatree")
        @add_buttons()
        @load_users()
    add_buttons: () =>
        @sync_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "sync_users"
            "value" : "Sync Users"
        ).on("click", @sync_users)
        @create_group_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "create_group"
            "value" : "Create Group"
        ).on("click", @create_group)
        {% if not csw_perms.backbone.admini %}
        @create_group_button.hide()
        @sync_button.hide()
        {% endif %}
        @create_user_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "create_user"
            "value" : "Create User"
        ).on("click", @create_user)
        @buttons_div.append(@sync_button, @create_group_button, @create_user_button)
        @click_buttons = @buttons_div.find("input[type='button']")
    sync_users: (event) =>
        @click_buttons.attr("disabled", "disabled")
        $.ajax
            url     : "{% url 'user:sync_users' %}"
            title   : "syncing users"
            success : (xml) =>
                @click_buttons.removeAttr("disabled")
                parse_xml_response(xml)

    # user functions

    create_user: (event) =>
        @click_buttons.attr("disabled", "disabled")
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    @click_buttons.removeAttr("disabled")
                    @install_ug_form($(xml).find("value[name='form']").text())
                    @detail_div.bind("submit", @submit_new_user)
    submit_new_user: (event) =>
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            data    : create_dict($("div#ug_detail"), "user__new", true, true)
            success : (xml) =>
                if parse_xml_response(xml)
                    window.location = "{% url 'user:overview' 'tree' %}"
                else
                    @install_ug_form($(xml).find("value[name='error_form']").text())
                    @detail_div.bind("submit", @submit_new_user)
        return false
    delete_user: (event) =>
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            data    : {
                key  : @active_node
                mode : "delete" 
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    # remove from tree
                    window.location = "{% url 'user:overview' 'tree' %}"
        return false
     
    # group functions
    
    create_group: (event) =>
        @click_buttons.attr("disabled", "disabled")
        @click_buttons.removeAttr("disabled")
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    @click_buttons.removeAttr("disabled")
                    @install_ug_form($(xml).find("value[name='form']").text())
                    @detail_div.bind("submit", @submit_new_group)
    submit_new_group: (event) =>
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            data    : create_dict($("div#ug_detail"), "group__new", true, true)
            success : (xml) =>
                if parse_xml_response(xml)
                    window.location = "{% url 'user:overview' 'tree' %}"
                else
                    @install_ug_form($(xml).find("value[name='error_form']").text())
                    @detail_div.bind("submit", @submit_new_group)
        return false
    delete_group: (event) =>
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            data    : {
                key  : @active_node
                mode : "delete" 
            }
            success : (xml) =>
                if parse_xml_response(xml)
                    # remove from tree
                    window.location = "{% url 'user:overview' 'tree' %}"
        return false

    install_ug_form: (form_text) =>
        @clear_ug_form()
        @detail_div.append(form_text)
        @detail_div.uniform()
        @detail_div.find("select").chosen(
            width : "75%"
        )
        @detail_div.find("input[name='password']").bind("focus", enter_password)
        @detail_div.find("input[name='object_perms']").bind("click", @object_perms)
    object_perms: (event) =>
        show_object_permissions(event, @active_node)
    clear_ug_form: () =>
        @detail_div.children().remove()
        @detail_div.unbind("submit")
    load_users: () =>
        $.ajax
            url     : "{% url 'user:overview' 'table' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @UGX = $(xml).find("value[name='response']")
                    @my_submitter = new submitter({
                        master_xml       : @UGX,
                        success_callback : @change_cb
                    })
                    @build_tree()
    change_cb: (cur_el) =>
        c_type = cur_el.attr("id").split("__")[2]
        node_key = cur_el.attr("id").split("__")[1]
        #console.log c_type, node_key
    build_tree: () =>
        @dt_div.dynatree
            autoFocus  : false
            debuglevel : {% if DEBUG %}0{% else %}0{% endif %}
            onExpand : (flag, dtnode) =>
            onSelect : (flag, dtnode) =>
            onFocus  : (dtnode) =>
                @show_details(dtnode.data.key)
                return false
            {% if csw_perms.backbone.admin %}
            # node movement is not allowed for group admins, should be allowed for group admins between groups
            dnd : {
                onDragStart : (dtnode) =>
                    return true
                onDragEnter : (dst_node, src_node) =>
                    if dst_node.data.key.match(/^group__/)
                        return true
                    else
                        return false
                onDrop: (dst_node, src_node, hit_mode, ui, draggable) =>
                    $.ajax
                        url     : "{% url 'user:move_node' %}"
                        data    : {
                            "src_id" : src_node.data.key
                            "dst_id" : dst_node.data.key
                            "mode"   : hit_mode
                        }
                        success :  (xml) =>
                            if parse_xml_response(xml)
                                src_db_node = @UGX.find("users user[key='#{src_node.data.key}']")
                                src_db_node.attr("parent", @UGX.find("groups group[key='#{dst_node.data.key}']").attr("pk"))
                                src_node.move(dst_node, "over")
                }
            {% endif %}
        @root_node = @dt_div.dynatree("getRoot")
        @build_group_node(@root_node)
    build_group_node: (dt_node, db_node) =>
        if db_node is undefined
            title_str = "TOP"
            expand_flag = true
            key         = 0
            folder      = true
            next_list = @UGX.find("groups group[parent_group='0']")
        else
            title_str   = db_node.attr("groupname") + " (gid " + db_node.attr("gid") + ")"
            expand_flag = true
            key         = db_node.attr("key")
            folder      = true
            next_list = @UGX.find("groups group[parent_group='" + db_node.attr("pk") + "']")
        new_node = dt_node.addChild(
            title    : title_str
            expand   : expand_flag
            key      : key
            isFolder : folder
        )
        next_list.each (idx, sub_el) =>
            @build_group_node(new_node, $(sub_el))
        if key
            @UGX.find("users user[group='" + db_node.attr("pk") + "']").each (u_idx, user_el) =>
                @build_user_node(new_node, $(user_el))
    build_user_node: (dt_node, db_node) =>
        new_node = dt_node.addChild(
            title    : db_node.attr("login") + " (uid " + db_node.attr("uid") + ")"
            expand   : false
            key      : db_node.attr("key")
        )
    show_details: (key) =>
        if @active_node != key
            # only reload if key is not the active key
            if key.match(/^(user|group)__/)
                if key.match(/^(user)__/)
                    url = "{% url 'user:user_detail' %}"
                else
                    url = "{% url 'user:group_detail' %}"
                $.ajax
                    url     : url
                    data    : {
                        "key"  : key
                        "mode" : "show"
                    }
                    success : (xml) =>
                        if parse_xml_response(xml)
                            @active_node = key
                            @install_ug_form($(xml).find("value[name='form']").text())
                            @detail_div.find("input, select").on("change", @my_submitter.submit)
                            if key.match(/^(user)__/)
                                @detail_div.bind("submit", @delete_user)
                            else
                                @detail_div.bind("submit", @delete_group)
                        else
                            @clear_ug_form()

$(document).ready(
    my_ugt = new user_tree($("div#ug_tables"), $("div#ug_detail"))
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
