{% extends "main.html" %}

{% load i18n compress coffeescript %}

{% block title %}{% trans "User Overview" %}{% endblock %}


{% block content %}

<h1 class="center">Users and Groups / Tableview</h1>

<div id="ug_tables"></div>

<input type="button" id="sync_users" value="Sync Users"/>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

master_array = {
    "group" : new draw_setup("Group", "group", "group",
        "{% url 'base:create_object' 'group' %}",
        "{% url 'base:delete_object' 'group' %}",
        [
            new draw_collapse("exp", {default : false}),
            new draw_info("groupname", {clear_after_create : true}), 
            new draw_info("active", {boolean : true, default : true}),
            new draw_info("gid", {min : 100, max : 65535, number : 1, default : 100}),
            new draw_info("homestart"),
            new draw_info("first_name", {newline : true, default : "first_name", cspan : 6, show_label : true, label : "First / Last / Title"}),
            new draw_info("last_name", {default : "last_name", keep_td : true}),
            new draw_info("title", {default : "title", keep_td : true}),
            new draw_info("email", {default : "email", newline : true, cspan : 5, show_label : true, label : "Email / Pager"}),
            new draw_info("pager", {default : "pager", keep_td : true}),
            new draw_info("allowed_device_groups", {select_source : "device_groups device_group", manytomany : true})
        ], {
            lock_div : "ug_tables"
        }
    ),
    "user" : new draw_setup("User", "user", "user",
        "{% url 'base:create_object' 'user' %}",
        "{% url 'base:delete_object' 'user' %}",
        [
            new draw_collapse("exp", {default : false}),
            new draw_info("login"),
            new draw_info("active", {boolean : true, default : 1}),
            new draw_info("uid", {min : 100, max : 65535, number : true, default : 100}),
            new draw_info("group", {select_source : "groups group"}),
            new draw_info("aliases"),
            new draw_info("password", {password : true}),
            new draw_info("first_name", {newline : true, default : "first_name", cspan : 8, show_label : true, label : "First / Last / Title"}),
            new draw_info("last_name", {default : "last_name", keep_td : true}),
            new draw_info("title", {default : "title", keep_td : true}),
            new draw_info("email", {default : "email", newline : true, cspan : 6, show_label : true, label : "Email / Pager"}),
            new draw_info("pager", {default : "pager", keep_td : true}),
            new draw_info("shell", {default : "/bin/sh", select_source : "shells shell", keep_td : true}),
            new draw_info("export", {select_source : "homedir_exports homedir_export", keep_td : true}),
            new draw_info("allowed_device_groups", {select_source : "device_groups device_group", manytomany : true}),
            new draw_info("permissions", {select_source : "permissions permission", manytomany : true}),
        ], {
            "required_xml" : ["group"],
            "lock_div"     : "ug_tables"
        }
    )
}

load_users_groups = ->
    $.ajax
        url     : "{% url 'user:overview' 'table' %}"
        success : (xml) ->
            if parse_xml_response(xml)
                draw_ds_tables($("div#ug_tables"), master_array, $(xml).find("value[name='response']"))
                sync_input = $("input#sync_users")
                sync_input.bind("click", () ->
                    sync_input.attr("disable", "disable")
                    $.ajax
                        url     : "{% url 'user:sync_users' %}"
                        success : (xml) ->
                            sync_input.removeAttr("disable")
                            parse_xml_response(xml)
                )

$(document).ready(load_users_groups)

{% endinlinecoffeescript %}

</script>

{% endblock %}
