{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "RMS Overview" %}{% endblock %}

{% block content %}

<h1 class="center">RMS Overview, <input type="button" id="reload_button" value="reload"></input></h1>

<div id="top_rms_div"></div>

 <script type="text/javascript">

{% inlinecoffeescript %}

addHandlers = ->
    my_view = new rms_view(
        $("div#top_rms_div"),
        $("input#reload_button"),
    )
    my_view.setup()

$(document).ready(addHandlers);

{% endinlinecoffeescript %}

</script>

{% endblock %}

