{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "License Liveview" %}{% endblock %}

{% block content %}

{% verbatim %}

<div>
    <div ng-controller="icswRmsLicenseLiveviewCtrl">
        <accordion close-others="no" ng-show="lic_overview.length">
            <accordion-group is-open="overview_open">
                <accordion-heading>
                    <div class="row">
                        <div class="col-md-2">
                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': overview_open, 'glyphicon-chevron-right': !overview_open}"></i>
                            License overview ({{ lic_overview.length }} entries)
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </accordion-heading>
                <table class="table table-condensed table-hover table-striped" style="width:auto;" ng-show="lic_overview.length">
                    <thead>
                        <tr class="info">
                            <th>License</th>
                            <th>Flags</th>
                            <th>used</th>
                            <th>reserved</th>
                            <th>free</th>
                            <th>total</th>
                            <th>Cluster</th>
                            <th>external</th>
                            <th>graph</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ov in lic_overview">
                            <td>{{ ov.name }}</td>
                            <td>
                                <span class="label label-primary" ng-show="ov.sge_used">RMS</span>
                            </td>
                            <td class="text-right">{{ ov.used }}</td>
                            <td class="text-right">{{ ov.reserved }}</td>
                            <td class="text-right">{{ ov.free }}</td>
                            <td class="text-right">{{ ov.total }}</td>
                            <td class="text-right">{{ ov.sge_used }}</td>
                            <td class="text-right">{{ ov.external_used }}</td>
                            <td>
                                <div style="width:200px;height:10px;margin-bottom:0px;" ng-show="ov.total">
                                    <icsw-rms-license-graph license="ov"></icsw-rms-license-graph>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </accordion-group>
        </accordion>
        <h2>Licenses from Licenseserver: {{ licenses.length }}</h2>
        <accordion close-others="no" ng-show="licenses.length">
            <accordion-group ng-repeat="license in licenses" is-open="license.open">
                <accordion-heading>
                    <div class="row">
                        <div class="col-md-2">
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': license.open, 'glyphicon-chevron-right': !license.open}"></i>
                        {{ license.name }}
                        </div>
                        <div class="col-md-8">
                            <span class="label label-warning" ng-show="license.used">{{ license.used }} used</span>
                            <span class="label label-success" ng-show="license.free">{{ license.free }} free</span>
                            <span class="label label-critical" ng-show="license.reserved">{{ license.reserved }} free</span>
                            <span class="label label-primary">{{ license.issued }} issued</span>
                        </div>
                    </div>
                </accordion-heading>
                <h4 ng-show="!license.used">No licenses in use</h4>
                <table class="table table-condensed table-hover table-striped" style="width:auto;" ng-show="license.used">
                    <thead>
                        <tr class="info">
                            <th>Vendor</th>
                            <th>(Version)</th>
                            <th>User</th>
                            <th>total licenses</th>
                            <th>Client</th>
                            <th>(Version)</th>
                            <th>#</th>
                            <th colspan="2">checkout time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usage in license.all_usages">
                            <td>{{ usage.version.vendor }}</td>
                            <td>{{ usage.version.version }}</td>
                            <td>{{ usage.user }}</td>
                            <td class="text-right">{{ usage.user_usage }}</td>
                            <td>{{ usage.client_long }}</td>
                            <td>{{ usage.client_version }}</td>
                            <td>{{ usage.num }}</td>
                            <td>{{ usage.absolute_co }}</td>
                            <td>{{ usage.relative_co }}</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="list-group" ng-show="license.versions.length && 0">
                    <li ng-repeat="version in license.versions" class="list-group-item">
                        {{ version.vendor }} {{ version.version }}
                        <ul class="list-group" ng-show="version.usages.length">
                            <li ng-repeat="usage in version.usages" class="list-group-item">
                                {{ usage.client_short }} {{ usage.user }} {{ usage.num }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
        <accordion close-others="no" ng-show="servers.length">
            <accordion-group is-open="server_open">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': server_open, 'glyphicon-chevron-right': !server_open}"></i>
                    License servers: {{ servers.length }}
                </accordion-heading>
                <ul class="list-group" ng-show="servers.length">
                    <li ng-repeat="server in servers" class="list-group-item">
                        {{ server.info }}
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>

{% endverbatim %}

{% endblock %}
