<script type="text/ng-template" id="icsw.device.category.overview">
    <h3>Categories for {{ device_pks.length }} <ng-pluralize count="device_pks.length" when="{'1': 'device', 'other': 'devices'}"></ng-pluralize></h3>
    <icsw-tools-ensure-device-selection dev-list="device_pks" list-ready="device_list_ready">
        <tree treeconfig="cat_tree"></tree>
        <div style="height: 10px"></div>
        <icsw-config-category-contents-viewer category-name="selected_category.full_name" category-pk="selected_category.idx">
        </icsw-config-category-contents-viewer>
    </icsw-tools-ensure-device-selection>
</script>

<script type="text/ng-template" id="icsw.config.category.tree.head">cat_head.html">
    <tr>
        <th>Name</th>
        <th>Full name</th>   
        <th>Comment</th>
        <th>refs</th>
        <th>lat</th>
        <th>long</th>
        <th>lockstate</th>
        <th>type</th>
        <th colspan="2">Action</th>
    </tr>
</script>

<script type="text/ng-template" id="icsw.config.category.tree.row">
    <td style="font-family:monospace;"><span ng-bind-html="get_space(obj.depth )"></span>{{ obj.name || '[TLN]' }}</td>
    <td><span ng-show="obj.depth">{{ obj.full_name }}</span></td>
    <td>{{ obj.comment }}</td>
    <td><span ng-show="obj.depth > 1">{{ obj.num_refs || '---' }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.latitude }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.longitude }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.locked && 'locked' || 'unlocked' }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.physical && 'physical' || 'structural' }}</span></td>
    <td><icsw-tools-button type="modify" size="xs" ng-click="edit_obj(obj, $event)" ng-show="obj.depth > 1"></icsw-tools-button></td>
    <td><icsw-tools-button type="delete" size="xs" ng-click="delete_obj(obj)" ng-show="obj.depth > 1"></icsw-tools-button></td>
</script>

<script type="text/ng-template" id="icsw.config.category.tree">
    <h2>
        {{ mode_display | capitalize }} categories ({{ mode_entries.length }} <ng-pluralize count="mode_entries.length" when="{'1': 'entry', 'other': 'entries'}")></ng-pluralize>)
    </h2>
    <h3>Actions:
        <icsw-tools-button type="create" value="create new" ng-click="create_new($event, '')" size="sm"></icsw-tools-button>
        <input type="button" value="prune tree" class="btn btn-sm btn-warning" ng-click="prune_tree()"/>
    </h3>
    <div class="row">
        <div class="col-sm-4">
            <h3>Tree view</h3>
            <tree treeconfig="tree"></tree>
        </div>
        <div class="col-sm-8">
            <h3>Table view</h3>
            <table class="table table-condensed table-hover" style="width:auto;">
                <thead icsw-config-category-tree-head>
                </thead>
                <tbody>
                    <tr icsw-config-category-tree-row ng-repeat="obj in mode_entries" ng-class="get_tr_class(obj)">
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div ng-if="modal_active && !settings.use_modal && active_aem == 'cat' && !create_mode">
                <icsw-config-category-contents-viewer category-name="_edit_obj.full_name" category-pk="_edit_obj.idx"></icsw-config-category-contents-viewer>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.category.contents_viewer">
    <div class="panel panel-default" ng-if="enabled">
        <div class="panel-heading">
            Contents of category {{categoryName}}
        </div>
        <div class="panel-body">
            <uib-alert type="ok" ng-if="enabled && data_ready && category_contents.length == 0">
                This category is empty.
            </uib-alert>
            <table st-table="entries" st-safe-src="category_contents" class="table table-condensed table-striped"
                   style="width: auto" ng-show="entries.length > 0">
                <thead>
                    <tr>
                        <td colspan="99">
                            <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                 possible-items-by-page="10,20,50,100,200,500,1000"></div>
                        </td>
                    </tr>
                    <tr>
                        <!-- NOTE: this assumes homogenous category contents -->
                        <th ng-repeat="(k, v) in entries[0].properties" st-sort="properties['{{k}}']">
                            {{k | capitalize}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in entries">
                        <td ng-repeat="v in entry.properties">
                            {{v}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="entry in new_data">
                    <div class="list-group-item-heading">
                        {{entry.name}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.category.form">
    <form class="form-horizontal" name="form_data">
        <h2>Category details for '{{ edit_obj.name }}'</h2>
        <fieldset>
            <legend>Basic settings</legend>
            <div id="div_id_name" class="form-group  ng-class:form_error('name')">
                <label class="control-label col-sm-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="64" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Parent<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.parent" style="max-width:400px; min-width:240px;" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="Select a parent node">{{ $select.selected.full_name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in get_valid_parents(edit_obj) | props_filter:{full_name:$select.search}">
                            <div ng-bind-html="value.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Additional fields</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Comment
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="256" name="comment" ng-model="edit_obj.comment" type="text"/>
                </div>
            </div>
        </fieldset>
        <fieldset ng-if="is_location(edit_obj)">
            <legend>Positional data</legend>
            <div class="form-group  ng-class:form_error('latitude')">
                <label class="control-label col-sm-3 requiredField">
                    Latitude<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" name="latitude" ng-model="edit_obj.latitude" ng-pattern="/^\d+(\.\d+)*$/" required="True" step="any" type="number" value="48.1"/>
                </div>
            </div>
            <div class="form-group  ng-class:form_error('longitude')">
                <label class="control-label col-sm-3 requiredField">
                    Longitude<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" name="longitude" ng-model="edit_obj.longitude" ng-pattern="/^\d+(\.\d+)*$/" required="True" step="any" type="number" value="16.3"/>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <div class="controls col-lg-offset-0 col-sm-7">
                        <label>
                            <input class="checkboxinput checkbox" name="locked" ng-model="edit_obj.locked" type="checkbox"/>
                            Locked
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <div class="controls col-lg-offset-0 col-sm-7">
                        <label>
                            <input checked="checked" class="checkboxinput checkbox" name="physical" ng-model="edit_obj.physical" type="checkbox"/>
                            Physical
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>

