<script type="text/ng-template" id="icsw.device.category.overview">
    <h3>Categories for {{ device_pks.length }} devices</h3>
    <tree treeconfig="cat_tree"></tree>
</script>

<script type="text/ng-template" id="icsw.config.category.tree.head">cat_head.html">
    <tr>
        <th>Name</th>
        <th>Full name</th>   
        <th>Comment</th>
        <th>refs</th>
        <th>lat</th>
        <th>long</th>
        <th>lockstate</th>
        <th>type</th>
        <th colspan="2">Action</th>
    </tr>
</script>

<script type="text/ng-template" id="icsw.config.category.tree.row">
    <td style="font-family:monospace;"><span ng-bind-html="get_space(obj.depth )"></span>{{ obj.name || '[TLN]' }}</td>
    <td><span ng-show="obj.depth">{{ obj.full_name }}</span></td>
    <td>{{ obj.comment }}</td>
    <td><span ng-show="obj.depth > 1">{{ obj.num_refs || '---' }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.latitude }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.longitude }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.locked && 'locked' || 'unlocked' }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.physical && 'physical' || 'structural' }}</span></td>
    <td><icsw-tools-button type="modify" size="xs" ng-click="edit_obj(obj, $event)" ng-show="obj.depth > 1"></icsw-tools-button></td>
    <td><icsw-tools-button type="delete" size="xs" ng-click="delete_obj(obj)" ng-show="obj.depth > 1"></icsw-tools-button></td>
</script>

<script type="text/ng-template" id="icsw.config.category.tree">
    <h2>
        {{mode_display | capitalize}} categories ({{entries.length}} entries)
    </h2>
    <h3>Actions:
        <icsw-tools-button type="create" value="create new" ng-click="create_new($event, '')" size="sm"></icsw-tools-button>
        <input type="button" value="prune tree" class="btn btn-sm btn-warning" ng-click="prune_tree()"/>
    </h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Tree view</h3>
                    <tree treeconfig="cat"></tree>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-if="modal_active && !settings.use_modal && active_aem == 'cat'" >
                    <h3 ng-show="create_mode">Create</h3>
                    <h3 ng-show="!create_mode">Modify</h3>
                    <div icsw-config-category-tree-edit-template class="well well-sm">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8" ng-if="mode == 'location'">
            <h3>Table view</h3>
            <table class="table table-condensed table-hover" style="width:auto;">
                <thead icsw-config-category-tree-head></thead>
                <tbody>
                    <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="20"></td></tr>
                    <tr icsw-config-category-tree-row ng-repeat="obj in entries | paginator:this" ng-class="get_tr_class(obj)"></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div ng-if="modal_active && !settings.use_modal && active_aem == 'cat' && !create_mode">
                <icsw-config-category-contents-viewer category-object="_edit_obj"></icsw-config-category-contents-viewer>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.category.contents_viewer">
    <div class="panel panel-default">
        <div class="panel-heading">
            Contents of {{categoryObject.full_name}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="entry in new_data">
                    {{entry}}
                </li>
            </ul>
        </div>
    </div>
</script>
