<script type="text/ng-template" id="icsw/main/config/overview.html">
    <icsw-config-config-overview></icsw-config-config-overview>
</script>

<script type="text/ng-template" id="config.catalog.form">
    <form name="form_data" class="form-horizontal">
        <h2>Config catalog '{{ edit_obj.name }}'</h2>
        <fieldset>
            <legend>Basic settings</legend>
            <div class="form-group  ng-class:form_error('name')">
                <label class="control-label col-sm-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="254" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Author
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control"maxlength="256" name="author" ng-model="edit_obj.author" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Url
                </label>
                <div class="controls col-sm-7">
                    <input class="urlinput form-control" maxlength="256" name="url" ng-model="edit_obj.url" type="url"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.config.form">
    <form class="form-horizontal" name="form_data">
        <h2>Configuration '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Basic setup">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group ng-class:form_error('name')">
                        <label class="control-label col-sm-3 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input
                                class="textinput textInput form-control"
                                maxlength="192"
                                name="name"
                                ng-model="edit_obj.name"
                                required="True"
                                type="text"
                                uib-typeahead="hint for hint in config_hint_names | filter:$viewValue"
                                uib-typeahead-min-length="1"
                                uib-typeahead-on-select="config_selected_vt($item, $model, $label, edit_obj)"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            Description
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="765" name="description" ng-model="edit_obj.description" type="text"/>
                        </div>
                    </div>
                </fieldset>
                <div ng-bind-html="show_config_help()"></div>
                <fieldset>
                    <legend>other settings</legend>
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="controls col-lg-offset-0 col-sm-7">
                                <label>
                                    <input checked="checked" class="checkboxinput checkbox" name="enabled" ng-model="edit_obj.enabled" type="checkbox"/>
                                    Enabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 requiredField">
                            Priority<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="numberinput form-control" name="priority" ng-model="edit_obj.priority" required="True" type="number" value="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox" ng_show="!edit_obj.system_config">
                            <div class="controls col-lg-offset-0 col-sm-7">
                                <label>
                                    <input class="checkboxinput checkbox" name="server_config" ng-model="edit_obj.server_config" type="checkbox"/>
                                    Server config
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 requiredField">
                            Config catalog<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <ui-select ng-model="edit_obj.config_catalog" style="max-width:400px; min-width:240px;">
                                <ui-select-match class="ui-select-match" placeholder="select config catalog">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in config_tree.catalog_list | props_filter:{name:$select.search}">
                                    <div ng-bind-html="value.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab heading="Categories">
                <fieldset>
                    <legend>Categories</legend>
                    <icsw-config-category-tree-select
                        edit-obj="edit_obj"
                        icsw-sub-tree="'config'"
                        icsw-mode="obj"
                    ></icsw-config-category-tree-select>
                </fieldset>
            </uib-tab>
        </uib-tabset>
    </form>
</script>

<script type="text/ng-template" id="icsw.config.overview">
    <uib-tabset>
        <uib-tab heading="Configurations">
            <icsw-config-config-table></icsw-config-config-table>
            <icsw-config-uploader></icsw-config-uploader>
            <icsw-config-generate-config icsw-sel-man="0"></icsw-config-generate-config>
        </uib-tab>
        <uib-tab heading="Monitoring categories">
            <icsw-config-category-tree-edit mode="mon"></icsw-config-category-tree-edit>
        </uib-tab>
        <uib-tab heading="Config categories">
            <icsw-config-category-tree-edit mode="config"></icsw-config-category-tree-edit>
        </uib-tab>
        <uib-tab heading="Config Catalogs">
            <icsw-config-catalog-table></icsw-config-catalog-table>
        </uib-tab>
        <uib-tab heading="Uploads ({{ config_tree.uploaded_configs.length }})" ng-if="config_tree.uploaded_configs.length">
            <icsw-config-uploaded></icsw-config-uploaded>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.config.download">
    <icsw-tools-button type="download" value="download selected configs" ng-show="configTree.$selected" ng-click="download_selected()" size="xs"></icsw-tools-button>
</script>

<script type="text/ng-template" id="icsw.config.uploader">
    <div class="input-group">
        <input type="file" class="btn btn-sm btn-primary" nv-file-select="" uploader="uploader"/>
        <icsw-tools-button type="upload" ng-show="uploader.queue.length" size="sm" value="upload" ng-click="uploader.uploadAll()"></icsw-tools-button>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.uploaded">
    <div>
        <h3>
            <form class="form-inline">
                Upload to catalog <select name="catalog" class="select form-control input-sm" ng-model="use_catalog" ng-options="value.idx as value.name for value in config_tree.catalog_list"></select>
            </form>
        </h3>
        <icsw-config-upload-info ng-repeat="entry in config_tree.uploaded_configs" config-tree="config_tree" upload="entry" catalog="use_catalog">
        </icsw-config-upload-info>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.cached.upload.info">
    <div>
        <h3>upload {{ upload.upload_key }}, {{ upload.list.length }} configs</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="config in upload.list">
                {{ config.name }} ({{ config.description }})
                <span class="label label-primary" title="number of config vars">{{ get_num_vars(config) }}</span>
                <span class="label label-primary" title="number of config script">{{ get_num_scripts(config) }}</span>
                <span class="label label-primary" title="number of monitoring check commands">{{ get_num_check_commands(config) }}</span>
                <span class="pull-right">
                    <input type="button" ng-show="!config._taken" class="btn btn-xs btn-success" value="take" ng-click="take_config(config)"/>
                    <input type="button" ng-show="!config._taken" class="btn btn-xs btn-danger" value="delete" ng-click="delete_config(config)"/>
                    <span class="label label-warning" ng-show="config._taken">already taken</span>
                </span>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.catalog.table">
    <icsw-tools-rest-table-new target-list="config_catalogs" config-service="icswConfigCatalogListService">
        <h2>{{ config_catalogs.length }} catalogs,
            <icsw-tools-button-static type="create" value="create new catalog" ng-click="create($event)" size="xs"></icsw-tools-button-static>
        </h2>
        <table st-table="entries_displayed" st-safe-src="config_catalogs"
               class="table table-hover table-condensed table-striped" style="width:auto;">
            <thead>
                <tr>
                    <th st-sort="name">name</th>
                    <th>SysConfigs</th>
                    <th st-sort="url">URL</th>
                    <th st-sort="author">Author</th>
                    <th>Version</th>
                    <th>#configs<th>
                    <th colspan="2">action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="catalog in entries_displayed">
                    <td>{{ catalog.name }}</td>
                    <td>{{ catalog.system_catalog | yesno1 }}</td>
                    <td>{{ catalog.url }}</td>
                    <td>{{ catalog.author }}</td>
                    <td>{{ catalog.version }}</td>
                    <td>{{ catalog.configs.length }}</td>
                    <td><icsw-tools-button-static type="modify" value="modify" ng-click="edit($event, catalog)" size="xs"/></td>
                    <td><icsw-tools-button-static type="delete" value="delete" ng-show="catalog.configs.length == 0" ng-click="delete($event, catalog)" size="xs"/></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table-new>
</script>

<script type="text/ng-template" id="icsw.config.config.table">
    <icsw-tools-rest-table-new target-list="configs" config-service="icswConfigListService">
        <table st-table="configs_displayed" st-safe-src="configs" icsw-tools-table-leak-filtered="filtered"
               class="table table-hover table-condensed table-striped" style="width:100%;">
            <h2>
                {{ config_tree.list.length }} configurations, {{ filtered.length }} shown, {{ config_tree.$selected }} selected
                <icsw-tools-button-static type="create" value="create new config" ng-click="create($event)" size="xs"></icsw-tools-button-static>
                <icsw-config-download config-tree="config_tree"></icsw-config-download>
            </h2>
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input st-search="search_str" class="form-control" placeholder="filter">
                                    </input>
                                    <div class="input-group-btn">
                                        <input type="button" ng-class="config_service.get_filter_class('name')" value="name" ng-click="config_service.change_filter_setting('name')"/>
                                        <input type="button" ng-class="config_service.get_filter_class('script')" value="script" ng-click="config_service.change_filter_setting('script')"/>
                                        <input type="button" ng-class="config_service.get_filter_class('var')" value="var" ng-click="config_service.change_filter_setting('var')"/>
                                        <input type="button" ng-class="config_service.get_filter_class('mon')" value="mon" ng-click="config_service.change_filter_setting('mon')"/>
                                    </div>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-8"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="priority">Pri</th>
                    <th>Flags</th>
                    <th st-sort="config_catalog">Catalog</th>
                    <th>enabled</th>
                    <th>Description</th>
                    <th class="text-center">var</th>
                    <th class="text-center">script</th>
                    <th class="text-center">mon</th>
                    <th>cats</th>
                    <th colspan="4">action</th>
                </tr>
            </thead>
            <tbody ng-controller="icswConfigLineCtrl">
                <tr st-select-row icsw-config-line ng-repeat-start="config in configs_displayed" ng-class="get_config_row_class(config)">
                </tr>
                <tr ng-if="config.var_expanded">
                    <td colspan="14">
                        <icsw-config-var-table config="config" config-tree="config_tree"><</icsw-config-var-table>
                    </td>
                </tr>
                <tr ng-if="config.script_expanded">
                    <td colspan="14">
                        <icsw-config-script-table config="config" config-tree="config_tree"></icsw-config-script-table>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="config.mon_expanded">
                    <td colspan="14">
                        <icsw-config-mon-table config="config" config-tree="config_tree"></icsw-config-mon-table>
                    </td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table-new>
</script>

<script type="text/ng-template" id="icsw.config.line">
    <td>
        <span ng-show="config.$hint" class="pull-right">
            <span class="glyphicon glyphicon-info-sign" title="{{ get_config_help_text(config) }}">
            </span>
        </span>
        {{ config.name }}
    </td>
    <td class="text-right">{{ config.priority }}</td>
    <td class="text-center">
        <div class="btn-group btn-group-xs">
            <!-- tooltips not working right now -->
            <input type="button" class="btn disabled" ng-class="config.server_config && 'btn-success'" value="S" data-toggle="tooltip" title="is server config"/>
            <input type="button" class="btn disabled" ng-class="config.system_config && 'btn-success'" value="Y" data-toggle="tooltip" title="is system config" data-placement="bottom"/>
        </div>
    </td>
    <td>{{ get_config_catalog_name(config) }}</td>
    <td class="text-center">{{ config.enabled | yesno1 }}</td>
    <td>{{ config.description }}</td>
    <td class="text-center">
        <span ng-class="get_label_class(config, 'var')" ng-click="toggle_expand(config, 'var')">
            <span ng_class="get_expand_class(config, 'var')" />
            {{ config.var_num }} <span ng-show="config.var_sel"> / {{ config.var_sel }} </span>
        </span>
    </td>
    <td class="text-center">
        <span ng-class="get_label_class(config, 'script')" ng-click="toggle_expand(config, 'script')">
            <span ng_class="get_expand_class(config, 'script')" />
            {{ config.script_num }} <span ng-show="config.script_sel"> / {{ config.script_sel }} </span>
        </span>
    </td>
    <td class="text-center">
        <span ng-class="get_label_class(config, 'mon')" ng-click="toggle_expand(config, 'mon')">
            <span ng_class="get_expand_class(config, 'mon')" />
            {{ config.mon_num }} <span ng-show="config.mon_sel"> / {{ config.mon_sel }} </span>
        </span>
    </td>
    <td class="text-center">{{ get_num_cats(config) }}</td>
    <td>
        <input type="button" ng-class="config.$selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="select" ng-click="config_service.select(config)"/>
    </td>
    <td>
        <icsw-tools-button-static type="modify" value="modify" ng-click="edit($event, config)" size="xs"/>
    </td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                Create <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-click="create_script($event, config)"><a>Script</a></li>
                <li class="divider"></li>
                <li ng-click="create_var($event, config, 'str')"><a>String var</a></li>
                <li ng-click="create_var($event, config, 'int')"><a>Integer var</a></li>
                <li ng-click="create_var($event, config, 'bool')"><a>Bool var</a></li>
                <li class="divider"></li>
                <li ng-click="create_mon_check_command($event, config)"><a>Check command</a></li>
            </ul>
        </div>
    </td>
    <td class="text-center">
        <span ng-if="config.usecount" class="text-warning">
            refs: {{ config.usecount }}
        </span>
        <span ng-if="!config.usecount">
            <icsw-tools-button-static type="delete" value="delete" ng-click="delete($event, config)" size="xs"/>
        </span>
    </td>
</script>

<script type="text/ng-template" id="icsw.config.var.table">
    <icsw-tools-rest-table-new target-list="vars" config-service="icswConfigVarListService">
        <table st-table="vars_displayed" st-safe-src="vars"
               class="table table-hover table-condensed table-striped" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="filter">
                                    </input>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-7"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="value">value</th>
                    <th st-sort="description">description</th>
                    <th>type</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row ng-repeat="obj in vars_displayed">
                    <td>
                        <span ng-show="config_service.var_has_info(config, obj)" class="pull-right">
                            <span class="glyphicon glyphicon-info-sign" title="{{ config_service.get_var_help_text(config, obj) }}">
                            </span>
                        </span>
                        {{ obj.name }}
                    </td>
                    <td>{{ config_service.get_value(obj) }}</td>
                    <td>{{ obj.description }}</td>
                    <td class="text-center">{{ obj.v_type }}</td>
                    <td><input type="button" ng-class="obj.$selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="sel" ng-click="config_service.select(obj)"/>
                    <td><icsw-tools-button-static type="modify" value="modify" ng-click="edit($event, obj)" size="xs"/></td>
                    <td><icsw-tools-button-static type="delete" value="delete" ng-click="delete($event, obj)" size="xs"/></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table-new>
</script>

<script type="text/ng-template" id="icsw.config.script.table">
    <icsw-tools-rest-table-new target-list="scripts" config-service="icswConfigScriptListService">
        <table st-table="scripts_displayed" st-safe-src="scripts"
               class="table table-condensed table-hover" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="filter">
                                    </input>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-7"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th>value</th>
                    <th st-sort="description">descr</th>
                    <th>priority</th>
                    <th>enabled</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row ng-repeat="obj in scripts_displayed">
                    <td>{{ obj.name }}</td>
                    <td style="font-family:monospace; width:480px;">
                        <textarea ng-model="obj.value" class="form-control input-sm" rows="5" readonly>
                        </textarea>
                    </td>
                    <td>{{ obj.description }}</td>
                    <td>{{ obj.priority }}</td>
                    <td>{{ obj.enabled | yesno1 }}</td>
                    <td><input type="button" ng-class="obj.$selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="sel" ng-click="config_service.select(obj)"/></td>
                    <td><icsw-tools-button-static type="modify" value="modify" ng-click="edit($event, obj)" size="xs"></icsw-tools-button-static></td>
                    <td><icsw-tools-button-static type="delete" value="delete" ng-click="delete($event, obj)" size="xs"></icsw-tools-button-static></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table-new>
</script>

<script type="text/ng-template" id="icsw.config.mon.table">
    <icsw-tools-rest-table-new target-list="monccs" config-service="icswConfigMonCheckCommandListService">
        <table st-table="monccs_displayed" st-safe-src="monccs"
               class="table table-condensed table-hover" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="filter">
                                    </input>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-7"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th>template</th>
                    <th st-sort="description">description</th>
                    <th>special</th>
                    <th>command line</th>
                    <!-- <th>active</th> -->
                    <th>vol</th>
                    <th>perf</th>
                    <th>is event</th>
                    <th>event handler</th>
                    <th>eh enabled</th>
                    <th>cats</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row ng-repeat="obj in monccs_displayed">
                    <td>{{ obj.name }}</td>
                    <td>{{ mon_tree.mon_service_templ_lut[obj.mon_service_templ].name || '-' }}</td>
                    <td>{{ obj.description }}</td>
                    <td>{{ obj.mon_check_command_special && 'yes' || 'no' }}</td>
                    <td title="{{ config_service.get_mon_command_line(obj) }}" ng-if="obj.is_active">
                        <input
                            type="button"
                            title="expand / collapse full command line"
                            ng-class="obj._show_full_command && 'btn btn-xs btn-success' || 'btn btn-xs btn-default'"
                            value="e" ng-click="obj._show_full_command = !obj._show_full_command">
                        </input>
                        <span ng-if="!obj._show_full_command">{{ config_service.get_mon_command_line(obj) | limit_text:40:true }}</span>
                        <span ng-if="obj._show_full_command">{{ config_service.get_mon_command_line(obj) }}</span>
                    </td>
                    <td title="{{ config_service.get_mon_command_line(obj) }}" ng-if="!obj.is_active">
                        Passive check
                    </td>
                    <!-- <td>{{ obj.is_active | yesno2 }}</td> -->
                    <td>{{ obj.volatile | yesno1 }}</td>
                    <td>{{ obj.enable_perfdata | yesno1 }}</td>
                    <td>{{ obj.is_event_handler | yesno1 }}</td>
                    <td>{{ config_service.get_event_handler(obj.event_handler) }}</td>
                    <td>{{ obj.event_handler_enabled }}</td>
                    <td>{{ obj.categories.length || '-' }}</td>
                    <td><input type="button" ng-class="obj.$selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="sel" ng-click="config_service.select(obj)"/>
                    <td><icsw-tools-button-static type="modify" value="modify" ng-click="edit($event, obj)" size="xs"></icsw-tools-button-static></td>
                    <td><input type="button" class="btn btn-warning btn-xs" ng-click="duplicate($event, obj, config)" value="duplicate"/></td>
                    <td><icsw-tools-button-static type="delete" value="delete" ng-click="delete($event, obj)" size="xs"></icsw-tools-button-static></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table-new>
</script>

<script type="text/ng-template" id="icsw.config.generate.config">
    <div ng-show="has_valid_license('netboot')">
        <input type="button" class="btn btn-info btn-sm" value="show device config" ng-show="devsel_list.length" ng-click="generate_config()"/>
        <span ng-show="devsel_list.length">
            <!--for {{ dev_names() }}-->
        </span>
        <div ng-show="result_trees.length">
            <uib-tabset>
                <uib-tab ng-repeat="dev_conf in result_trees" heading="{{ dev_conf.name }}">
                    <h4><span ng-class="get_info_class(dev_conf)">{{ dev_conf.info_str }}</span></h4>
                    <div class="row">
                        <div class="col-md-5">
                            <icsw-react-tree icsw-tree-config="dev_conf.tree"></icsw-react-tree>
                        </div>
                        <div class="col-md-7">
                            <div ng-show="dev_conf.active_error.length">
                                <h4>Error Detail ({{ dev_conf.active_error.length}} lines)</h4>
                                <div style="font-family:monospace;">
                                    <span ng-repeat="line in dev_conf.active_error track by $index">
                                        <strong>{{ $index + 1 }} : </strong>{{ line }}<br>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="dev_conf.active_content.length">
                                <h4>Content Detail ({{ dev_conf.active_content.length}} lines)</h4>
                                <div style="font-family:monospace;">
                                    <span ng-repeat="line in dev_conf.active_content track by $index">
                                        <strong>{{ $index + 1 }} : </strong>{{ line }}<br>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.mon.check.command.form">
    <form class="form-horizontal" name="form_data">
        <h2>Check command '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Basic setup">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group  ng-class:form_error('name')">
                        <label class="control-label col-sm-2 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>

                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Description
                        </label>

                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="192" name="description" ng-model="edit_obj.description" type="text"/>
                        </div>
                    </div>
                    <div class="form-group" ng_show="edit_obj.is_active">
                        <label class="control-label col-sm-2">
                            Special MonCheck command
                        </label>

                        <div class="controls col-sm-9">
                            <div class="input-group" style="max-width:400px; min-width:240px;">
                                <ui-select ng-model="edit_obj.mon_check_command_special" ng-disabled="false">
                                    <ui-select-match class="ui-select-match" placeholder="please select a special command">
                                        {{$select.selected.info}}
                                    </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="value.idx as value in mccs_list | props_filter:{name:$select.search}" group-by="'group'">
                                        <div ng-bind-html="value.info | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="edit_obj.mon_check_command_special = undefined" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="get_mccs_already_used_warning(edit_obj)">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{ get_mccs_already_used_warning(edit_obj) }}
                    </div>
                    <div class="form-group" ng_show="!edit_obj.mon_check_command_special && edit_obj.is_active">
                        <label class="control-label col-sm-2 requiredField">
                            Command line<span class="asteriskField">*</span>
                        </label>

                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="765" name="command_line" ng-model="edit_obj.command_line" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group" ng-show="edit_obj.mon_check_command_special">
                        <label class="control-label col-sm-2">Info</label>

                        <div class="col-sm-9 list-group">
                            <ul>
                                <li class="list-group-item">{{ get_mccs_info(edit_obj) }}</li>
                                <li class="list-group-item">{{ get_mccs_cmdline(edit_obj) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!edit_obj.mon_check_command_special && edit_obj.is_active">
                        <label class="control-label col-sm-2">Tools</label>

                        <div class="controls col-sm-9">
                            <div class="form-inline">
                                <input type="button" ng-class='"btn btn-sm btn-primary"' ng-click="add_argument(edit_obj)" ng-value='"add argument"'/>
                                name:
                                <input type="text" class="form-control input-sm" title="default value" ng-model="edit_obj.arg_name"/>
                                value:
                                <input type="text" class="form-control input-sm" title="default value" ng-model="edit_obj.arg_value"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!edit_obj.mon_check_command_special && edit_obj.is_active">
                        <label class="control-label col-sm-2">Info</label>

                        <div class="col-sm-9 list-group">
                            <ul>
                                <li class="list-group-item" ng-repeat="value in get_moncc_info(edit_obj)">
                                    {{ value }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Additional settings</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Mon service templ
                        </label>
                        <div class="controls col-sm-9">
                            <div class="input-group" style="max-width:400px; min-width:240px;">
                                <ui-select ng-model="edit_obj.mon_service_templ" ng-disabled="false">
                                    <ui-select-match class="ui-select-match" placeholder="please select a service template">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="value.idx as value in template_list | orderBy:'name' | props_filter:{name:$select.search}">
                                        <div ng-bind-html="value.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn"><button type="button" ng-click="edit_obj.mon_service_templ = undefined" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button> </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng_show="!edit_obj.is_event_handler && get_event_handlers(edit_obj).length">
                        <label class="control-label col-sm-2">
                            Event handler
                        </label>

                        <div class="controls col-sm-9">
                            <div class="input-group" style="max-width:400px; min-width:240px;">
                                <ui-select ng-model="edit_obj.event_handler" ng-disabled="false">
                                    <ui-select-match class="ui-select-match" placeholder="please select an event handler">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="value.idx as value in get_event_handlers(edit_obj)| props_filter:{name:$select.search}">
                                        <div ng-bind-html="value.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn"><button type="button" ng-click="edit_obj.event_handler = undefined" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button> </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-show="!edit_obj.mon_check_command_special">
                    <legend>Active / passive settings</legend>
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="controls col-lg-offset-0 col-sm-9">
                                <label>
                                    <input checked="checked" class="checkboxinput checkbox" name="is_active" ng-model="edit_obj.is_active" type="checkbox"/>
                                    Is active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="!edit_obj.is_active"><b>Set result via</b></div>
                    <div class="form-group col-sm-12" ng-show="!edit_obj.is_active">
                        <code>
                        /opt/cluster/bin/set_passive_checkresult.py --device &lt;FQDN&gt; --check {{ edit_obj.name }}
                        --state {OK|WARN|CRITICAL} --output &lt;OUTPUT&gt;
                        </code>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Flags</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input class="checkboxinput checkbox" name="volatile" ng-model="edit_obj.volatile" type="checkbox"/>
                                            Volatile
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input class="checkboxinput checkbox" name="enable_perfdata" ng-model="edit_obj.enable_perfdata" type="checkbox"/>
                                            Enable perfdata
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input checked="checked" class="checkboxinput checkbox" name="event_handler_enabled" ng-model="edit_obj.event_handler_enabled" type="checkbox"/>
                                            Event handler enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox" ng_show="edit_obj.event_handler == undefined">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input class="checkboxinput checkbox" name="is_event_handler" ng-model="edit_obj.is_event_handler" type="checkbox"/>
                                            Is event handler
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab heading="Categories">
                <fieldset>
                    <legend>Categories</legend>
                    <icsw-config-category-tree-select
                        edit-obj="edit_obj"
                        icsw-sub-tree="'mon'"
                        icsw-mode="obj"
                    ></icsw-config-category-tree-select>
                </fieldset>
            </uib-tab>
            <uib-tab heading="History">
                <icsw-history-model-history style="config" icsw-model="'mon_check_command'" icsw-object-id="edit_obj.idx">
                </icsw-history-model-history>
            </uib-tab>
        </uib-tabset>
    </form>
</script>

<script type="text/ng-template" id="icsw.config.script.form">
    <form class="form-horizontal" name="form_data">
        <h2>Config script '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Settings">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group  ng-class:form_error('name')">
                        <label class="control-label col-sm-2 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Description
                        </label>
                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="765" name="description" ng-model="edit_obj.description" type="text"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Script</legend>
                    <textarea ui-codemirror="editorOptions" ng-model="edit_obj.value"></textarea>
                </fieldset>
                <fieldset>
                    <legend>Flags</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    Priority
                                </label>
                                <div class="controls col-sm-9">
                                    <input class="numberinput form-control" name="priority" ng-model="edit_obj.priority" type="number" value="0"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input checked="checked" class="checkboxinput checkbox" name="enabled" ng-model="edit_obj.enabled" type="checkbox"/>
                                            Enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab heading="History" ng-if="!creaet">
                <icsw-history-model-history on-revert="on_script_revert(edit_obj, get_change_list)" style="config" icsw-model="'config_script'" icsw-object-id="edit_obj.idx"></icsw-history-model-history>
            </uib-tab>
        </uib-tabset>
    </form>
</script>

<script type="text/ng-template" id="icsw.config.str.form">
    <form class="form-horizontal" name="form_data">
        <h2>String variable '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Settings">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group  ng-class:form_error('name')">
                        <label class="control-label col-sm-3 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text" uib-typeahead="hint for hint in config_var_hints | filter:$viewValue"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 requiredField">
                            Description<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="765" name="description" ng-model="edit_obj.description" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            Value
                        </label>
                        <div class="controls col-sm-7">
                            <textarea class="textarea form-control" cols="40" name="value" ng-model="edit_obj.value" rows="10"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div ng-bind-html="show_config_var_help()"></div>
            </uib-tab>
            <uib-tab heading="History" ng-if="!create">
                <icsw-history-model-history style="config" icsw-model="'config_str'" icsw-object-id="edit_obj.idx"></icsw-history-model-history>
            </uib-tab>
        </uib-tabset>
    </form>
</script>

<script type="text/ng-template" id="icsw.config.int.form">
    <form class="form-horizontal" name="form_data">
        <h2>Integer variable '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Settings">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group  ng-class:form_error('name')">
                        <label class="control-label col-sm-3 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text" uib-typeahead="hint for hint in get_config_var_hints(_config) | filter:$viewValue"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 requiredField">
                            Description<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="765" name="description" ng-model="edit_obj.description" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            Value
                        </label>
                        <div class="controls col-sm-7">
                            <input class="numberinput form-control" name="value" ng-model="edit_obj.value" type="number"/>
                        </div>
                    </div>
                </fieldset>
                <div ng-bind-html="show_config_var_help()"></div>
            </uib-tab>
            <uib-tab heading="History" ng-if="!create">
                <icsw-history-model-history style="config" icsw-model="'config_int'" icsw-object-id="edit_obj.idx"></icsw-history-model-history>
            </uib-tab>
        </uib-tabset>
    </form>
</script>

<script type="text/ng-template" id="icsw.config.bool.form">
    <form class="form-horizontal" name="form_data">
        <h2>Boolean variable '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Settings">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group  ng-class:form_error('name')">
                        <label class="control-label col-sm-3 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text" uib-typeahead="hint for hint in get_config_var_hints(_config) | filter:$viewValue"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 requiredField">
                            Description<span class="asteriskField">*</span>
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="765" name="description" ng-model="edit_obj.description" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Value</label>
                        <div class="controls col-sm-7">
                            <input type="button" ng-class='edit_obj.value &amp;&amp; "btn btn-sm btn-success" || "btn btn-sm btn-default"' ng-click="edit_obj.value = 1 - edit_obj.value" ng-value='edit_obj.value &amp;&amp; "true" || "false"'/>
                        </div>
                    </div>
                </fieldset>
                <div ng-bind-html="show_config_var_help()"></div>
            </uib-tab>
            <uib-tab heading="History" ng-if="!create">
                <icsw-history-model-history style="config" icsw-model="'config_bool'" icsw-object-id="edit_obj.idx">
                </icsw-history-model-history>
            </uib-tab>
        </uib-tabset>
    </form>
</script>
