<script type="text/ng-template" id="icsw/main/config/overview.html">
    <icsw-config-config-overview></icsw-config-config-overview>
</script>


<script type="text/ng-template" id="icsw.config.overview">
    <uib-tabset>
        <uib-tab heading="Configurations">
            <icsw-config-config-table></icsw-config-config-table>
            <icsw-config-uploader></icsw-config-uploader>
            <icsw-config-generate-config icsw-sel-man="0" icsw-sel-man-sel-mode="d"></icsw-config-generate-config>
        </uib-tab>
        <uib-tab heading="Monitoring categories">
            <div ng-controller="icswConfigCategoryTreeCtrl">
                <icsw-config-category-tree mode="mon"></icsw-config-category-tree>
            </div>
        </uib-tab>
        <uib-tab heading="Config categories">
            <div ng-controller="icswConfigCategoryTreeCtrl">
                <icsw-config-category-tree mode="config"></icsw-config-category-tree>
            </div>
        </uib-tab>
        <uib-tab heading="Catalogs">
            <icsw-config-catalog-table></icsw-config-catalog-table>
        </uib-tab>
        <uib-tab heading="Uploads ({{ num_cached_uploads }})" ng-show="num_cached_uploads">
            <icsw-config-uploaded></icsw-config-uploaded>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.config.download">
    <icsw-tools-button type="download" value="download selected configs" ng-show="selected_configs" ng-click="download_selected()" size="sm"></icsw-tools-button>
</script>

<script type="text/ng-template" id="icsw.config.uploader">
    <div class="input-group" style="width:20px;">
        <div class="input-group-btn">
            <input type="file" class="btn btn-sm btn-primary" nv-file-select="" uploader="uploader"></input>
        </div>
        <div class="input-group-btn">
            <input type="button" ng-show="uploader.queue.length "class="btn btn-warning btn-sm" value="upload" ng-click="uploader.uploadAll()"></input>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.uploaded">
    <div>
        <h3>
            <form class="form-inline">
                Upload to catalog <select name="catalog" class="select form-control input-sm" ng-model="use_catalog" ng-options="value.idx as value.name for value in config_catalogs"></select>
            </form>
        </h3>
        <icsw-config-upload-info ng-repeat="entry in cached_uploads" upload="entry" catalog="use_catalog">
        </icsw-config-upload-info>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.catalog.table">
    <icsw-tools-rest-table target-list="config_catalogs" config-service="icswConfigCatalogListService">
        <h2>{{ config_catalogs.length }} catalogs,
            <icsw-tools-button type="create" value="create new catalog" ng-click="create($event)" size="sm"></icsw-tools-button>
        </h2>
        <table st-table="entries_displayed" st-safe-src="config_catalogs"
               class="table table-hover table-condensed table-striped" style="width:auto;">
            <thead>
                <tr>
                    <th st-sort="name">name</th>
                    <th>SysConfigs</th>
                    <th st-sort="url">URL</th>
                    <th st-sort="author">Author</th>
                    <th>Version</th>
                    <th>#configs<th>
                    <th colspan="2">action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="catalog in entries_displayed">
                    <td>{{ catalog.name }}</td>
                    <td>{{ catalog.system_catalog | yesno1 }}</td>
                    <td>{{ catalog.url }}</td>
                    <td>{{ catalog.author }}</td>
                    <td>{{ catalog.version }}</td>
                    <td>{{ get_num_configs(catalog) }}</td>
                    <td><icsw-tools-button type="modify" value="modify" ng-click="edit($event, catalog)" size="xs"/></td>
                    <td><icsw-tools-button type="delete" value="delete" ng-show="get_num_configs(catalog) == 0" ng-click="delete(catalog)" size="xs"/></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table>
</script>

<script type="text/ng-template" id="icsw.config.config.table">
    <icsw-tools-rest-table target-list="configs" config-service="icswConfigListService">
        <table st-table="configs_displayed" st-safe-src="configs" icsw-tools-table-leak-filtered="filtered"
               icsw-tools-table-num-selected="selected_configs"
               class="table table-hover table-condensed table-striped" style="width:100%;">
            <h2>{{ configs.length }} configurations, {{ filtered.length }} shown, {{ selected_configs }} selected
                <icsw-tools-button type="create" value="create new config" ng-click="create($event)" size="sm"></icsw-tools-button>
                <icsw-config-download></icsw-config-download>
            </h2>
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input st-search="search_str" class="form-control" placeholder="filter">
                                    </input>
                                    <div class="input-group-btn">
                                        <input type="button" ng-class="get_filter_class('name')" value="name" ng-click="change_filter_setting('name')"/>
                                        <input type="button" ng-class="get_filter_class('script')" value="script" ng-click="change_filter_setting('script')"/>
                                        <input type="button" ng-class="get_filter_class('var')" value="var" ng-click="change_filter_setting('var')"/>
                                        <input type="button" ng-class="get_filter_class('mon')" value="mon" ng-click="change_filter_setting('mon')"/>
                                        </div>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-8"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="priority">Pri</th>
                    <th>Flags</th>
                    <th st-sort="config_catalog">Catalog</th>
                    <th>enabled</th>
                    <th>Description</th>
                    <th class="text-center">var</th>
                    <th class="text-center">script</th>
                    <th class="text-center">mon</th>
                    <th>cats</th>
                    <th colspan="4">action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row icsw-config-line ng-repeat-start="config in configs_displayed" ng-class="get_config_row_class(config)">
                </tr>
                <tr ng-if="config.var_expanded">
                    <td colspan="14">
                        <icsw-config-var-table config="config"><</icsw-config-var-table>
                    </td>
                </tr>
                <tr ng-if="config.script_expanded">
                    <td colspan="14">
                        <icsw-config-script-table config="config"></icsw-config-script-table>
                    </td>
                </tr>
                <tr ng-repeat-end ng-if="config.mon_expanded">
                    <td colspan="14">
                        <icsw-config-mon-table></icsw-config-mon-table>
                    </td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table>
</script>

<script type="text/ng-template" id="icsw.config.line">
    <td>
        <span ng-show="config_has_info(config)" class="pull-right">
            <span class="glyphicon glyphicon-info-sign" title="{{ get_config_help_text(config) }}">
            </span>
        </span>
        {{ config.name }}
    </td>
    <td class="text-right">{{ config.priority }}</td>
    <td class="text-center">
        <div class="btn-group btn-group-xs">
            <!-- tooltips not working right now -->
            <input type="button" class="btn disabled" ng-class="config.server_config && 'btn-success'" value="S" data-toggle="tooltip" title="is server config"/>
            <input type="button" class="btn disabled" ng-class="config.system_config && 'btn-success'" value="Y" data-toggle="tooltip" title="is system config" data-placement="bottom"/>
        </div>
    </td>
    <td>{{ get_config_catalog_name(config) }}</td>
    <td class="text-center">{{ config.enabled | yesno1 }}</td>
    <td>{{ config.description }}</td>
    <td class="text-center">
        <span ng-class="get_label_class(config, 'var')" ng-click="toggle_expand(config, 'var')">
            <span ng_class="get_expand_class(config, 'var')" />
            {{ config.var_num }}
        </span>
    </td>
    <td class="text-center">
        <span ng-class="get_label_class(config, 'script')" ng-click="toggle_expand(config, 'script')">
            <span ng_class="get_expand_class(config, 'script')" />
            {{ config.script_num }}
        </span>
    </td>
    <td class="text-center">
        <span ng-class="get_label_class(config, 'mon')" ng-click="toggle_expand(config, 'mon')">
            <span ng_class="get_expand_class(config, 'mon')" />
            {{ config.mon_num }}
        </span>
    </td>
    <td class="text-center">{{ get_num_cats(config) }}</td>
    <td>
        <input type="button" ng-class="config.isSelected && 'btn btn-primary btn-xs' || 'btn btn-xs'" value="sel" ng-click="select(config)"/>
    </td>
    <td>
        <icsw-tools-button type="modify" value="modify" ng-click="edit($event, config)" size="xs"/>
    </td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                Create <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-click="create_script(config, $event)"><a href="#">Script</a></li>
                <li class="divider"></li>
                <li ng-click="create_var(config, 'str', $event)"><a href="#">String var</a></li>
                <li ng-click="create_var(config, 'int', $event)"><a href="#">Integer var</a></li>
                <li ng-click="create_var(config, 'bool', $event)"><a href="#">Bool var</a></li>
                <li class="divider"></li>
                <li ng-click="create_mon(config, $event)"><a href="#">Check command</a></li>
            </ul>
        </div>
    </td>
    <td class="text-center">
        <span ng-if="config.usecount" class="text-warning">
            refs: {{ config.usecount }}
        </span>
        <span ng-if="!config.usecount">
            <icsw-tools-button type="delete" value="delete" ng-click="delete(config)" size="xs"/>
        </span>
    </td>
</script>

<script type="text/ng-template" id="icsw.config.var.table">
    <icsw-tools-rest-table target-list="vars" config-service="icswConfigVarListService">
        <table st-table="vars_displayed" st-safe-src="vars"
               class="table table-hover table-condensed table-striped" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="filter">
                                    </input>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-7"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="value">value</th>
                    <th st-sort="description">description</th>
                    <th>type</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row ng-repeat="obj in vars_displayed">
                    <td>
                        <span ng-show="var_has_info(config, obj)" class="pull-right">
                            <span class="glyphicon glyphicon-info-sign" title="{{ get_var_help_text(config, obj) }}">
                            </span>
                        </span>
                        {{ obj.name }}
                    </td>
                    <td>{{ get_value(obj) }}</td>
                    <td>{{ obj.description }}</td>
                    <td class="text-center">{{ obj.v_type }}</td>
                    <td><input type="button" ng-class="obj.isSelected && 'btn btn-primary btn-xs' || 'btn btn-xs'" value="sel" ng-click="select(obj)"/>
                    <td><icsw-tools-button type="modify" value="modify" ng-click="edit($event, obj)" size="xs"/></td>
                    <td><icsw-tools-button type="delete" value="delete" ng-click="delete(obj)" size="xs"/></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table>
</script>

<script type="text/ng-template" id="icsw.config.script.table">
    <icsw-tools-rest-table target-list="scripts" config-service="icswConfigScriptListService">
        <table st-table="scripts_displayed" st-safe-src="scripts"
               class="table table-condensed table-hover" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="filter">
                                    </input>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-7"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th>value</th>
                    <th st-sort="description">descr</th>
                    <th>priority</th>
                    <th>enabled</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row ng-repeat="obj in scripts_displayed">
                    <td>{{ obj.name }}</td>
                    <td style="font-family:monospace; width:480px;">
                        <textarea ng-model="obj.value" class="form-control input-sm" rows="5" readonly>
                        </textarea>
                    </td>
                    <td>{{ obj.description }}</td>
                    <td>{{ obj.priority }}</td>
                    <td>{{ obj.enabled | yesno1 }}</td>
                    <td><input type="button" ng-class="obj.isSelected && 'btn btn-primary btn-xs' || 'btn btn-xs'" value="sel" ng-click="select(obj)"/></td>
                    <td><icsw-tools-button type="modify" value="modify" ng-click="edit($event, obj)" size="xs"></icsw-tools-button></td>
                    <td><icsw-tools-button type="delete" value="delete" ng-click="delete(obj)" size="xs"></icsw-tools-button></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table>
</script>

<script type="text/ng-template" id="icsw.config.mon.table">
    <icsw-tools-rest-table target-list="monccs" config-service="icswConfigMonCheckCommandListService">
        <table st-table="monccs_displayed" st-safe-src="monccs"
               class="table table-condensed table-hover" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="99">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="filter">
                                    </input>
                                </div>
                            </div>
                            <div
                                icsw-tools-pagination
                                st-items-by-page="15"
                                st-displayed-pages="11"
                                possible-items-by-page="15,30,100,200"
                                class="col-sm-7"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name">Name</th>
                    <th>template</th>
                    <th st-sort="description">description</th>
                    <th>special</th>
                    <th>command line</th>
                    <!-- <th>active</th> -->
                    <th>vol</th>
                    <th>perf</th>
                    <th>is event</th>
                    <th>event handler</th>
                    <th>eh enabled</th>
                    <th>cats</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row ng-repeat="obj in monccs_displayed">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.mon_service_templ | array_lookup:mon_service_templ:'name':'-' }}</td>
                    <td>{{ obj.description }}</td>
                    <td>{{ obj.mon_check_command_special && 'yes' || 'no' }}</td>
                    <td title="{{ get_mon_command_line(obj) }}" ng-if="obj.is_active">
                        <input
                            type="button"
                            title="expand / collapse full command line"
                            ng-class="obj._show_full_command && 'btn btn-xs btn-success' || 'btn btn-xs btn-default'"
                            value="e" ng-click="obj._show_full_command = !obj._show_full_command">
                        </input>
                        <span ng-if="!obj._show_full_command">{{ get_mon_command_line(obj) | limit_text:40:true }}</span>
                        <span ng-if="obj._show_full_command">{{ get_mon_command_line(obj) }}</span>
                    </td>
                    <td title="{{ get_mon_command_line(obj) }}" ng-if="!obj.is_active">
                        Passive check
                    </td>
                    <!-- <td>{{ obj.is_active | yesno2 }}</td> -->
                    <td>{{ obj.volatile | yesno1 }}</td>
                    <td>{{ obj.enable_perfdata | yesno1 }}</td>
                    <td>{{ obj.is_event_handler | yesno1 }}</td>
                    <td>{{ get_event_handler(obj.event_handler) }}</td>
                    <td>{{ obj.event_handler_enabled }}</td>
                    <td>{{ get_num_cats(obj) }}</td>
                    <td><input type="button" ng-class="obj.isSelected && 'btn btn-primary btn-xs' || 'btn btn-xs'" value="sel" ng-click="select(obj)"/>
                    <td><icsw-tools-button type="modify" value="modify" ng-click="edit($event, obj)" size="xs"></icsw-tools-button></td>
                    <td><input type="button" class="btn btn-warning btn-xs" ng-click="duplicate(config, obj, $event)" value="duplicate"/></td>
                    <td><icsw-tools-button type="delete" value="delete" ng-click="delete(obj)" size="xs"></icsw-tools-button></td>
                </tr>
            </tbody>
        </table>
    </icsw-tools-rest-table>
</script>

<script type="text/ng-template" id="icsw.config.cached.upload.info">
    <div>
        <h3>upload {{ upload.upload_key }}, {{ upload.list.length }} configs</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="conf in upload.list">
                <icsw-config-cached-config config="conf" upload="upload" catalog="catalog"></icsw-config-cached-config>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.cached.upload">
    {{ config.name }} ({{ config.description }})
    <span class="label label-primary" title="number of config vars">{{ get_num_vars() }}</span>
    <span class="label label-primary" title="number of config script">{{ get_num_scripts() }}</span>
    <span class="label label-primary" title="number of monitoring check commands">{{ get_num_check_commands() }}</span>
    <span class="pull-right">
        <input type="button" ng-show="!config._taken" class="btn btn-xs btn-success" value="take" ng-click="take_config()"/>
        <input type="button" ng-show="!config._taken" class="btn btn-xs btn-danger" value="delete" ng-click="delete_config()"/>
        <span class="label label-warning" ng-show="config._taken">already taken</span>
    </span>
</script>

<script type="text/ng-template" id="icsw.config.generate.config">
    <div ng-show="has_valid_license('netboot')">
        <input type="button" class="btn btn-info btn-sm" value="show device config" ng-show="devsel_list.length" ng-click="generate_config()"/>
        <span ng-show="devsel_list.length">
            <!--for {{ dev_names() }}-->
        </span>
        <div ng-show="result_trees.length">
            <uib-tabset>
                <uib-tab ng-repeat="dev_conf in result_trees" heading="{{ dev_conf.name }}">
                    <h4><span ng-class="get_info_class(dev_conf)">{{ dev_conf.info_str }}</span></h4>
                    <div class="row">
                        <div class="col-md-5">
                            <tree treeconfig="dev_conf.tree"></tree>
                        </div>
                        <div class="col-md-7">
                            <div ng-show="dev_conf.active_error.length">
                                <h4>Error Detail ({{ dev_conf.active_error.length}} lines)</h4>
                                <div style="font-family:monospace;">
                                    <span ng-repeat="line in dev_conf.active_error track by $index">
                                        <strong>{{ $index + 1 }} : </strong>{{ line }}<br>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="dev_conf.active_content.length">
                                <h4>Content Detail ({{ dev_conf.active_content.length}} lines)</h4>
                                <div style="font-family:monospace;">
                                    <span ng-repeat="line in dev_conf.active_content track by $index">
                                        <strong>{{ $index + 1 }} : </strong>{{ line }}<br>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</script>

<script type="text/ng-template" id="mon.check.command.form">
    <form class="form-horizontal" ng-submit="modify()" name="form">
        <h2>Check command '{{ edit_obj.name }}'</h2>
        <uib-tabset>
            <uib-tab heading="Basic setup">
                <fieldset>
                    <legend>Basic settings</legend>
                    <div class="form-group  ng-class:form_error('name')">
                        <label class="control-label col-sm-2 requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>

                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Description
                        </label>

                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="192" name="description" ng-model="edit_obj.description" type="text"/>
                        </div>
                    </div>
                    <div class="form-group" ng_show="edit_obj.is_active">
                        <label class="control-label col-sm-2">
                            Special MonCheck command
                        </label>

                        <div class="controls col-sm-9">
                            <div class="input-group" style="max-width:400px; min-width:240px;">
                                <ui-select ng-model="edit_obj.mon_check_command_special" ng-disabled="false">
                                    <ui-select-match placeholder="please select a special command">
                                        {{$select.selected.info}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="value.idx as value in get_mccs_list()| props_filter:{name:$select.search}" group-by="'group'">
                                        <div ng-bind-html="value.info | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="edit_obj.mon_check_command_special = undefined" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="get_mccs_already_used_warning(edit_obj)">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{ get_mccs_already_used_warning(edit_obj) }}
                    </div>
                    <div class="form-group" ng_show="!edit_obj.mon_check_command_special &amp;&amp; edit_obj.is_active">
                        <label class="control-label col-sm-2 requiredField">
                            Command line<span class="asteriskField">*</span>
                        </label>

                        <div class="controls col-sm-9">
                            <input class="textinput textInput form-control" maxlength="765" name="command_line" ng-model="edit_obj.command_line" required="True" type="text"/>
                        </div>
                    </div>
                    <div class="form-group" ng-show="edit_obj.mon_check_command_special">
                        <label class="control-label col-sm-2">Info</label>

                        <div class="col-sm-9 list-group">
                            <ul>
                                <li class="list-group-item">{{ get_mccs_info(edit_obj) }}</li>
                                <li class="list-group-item">{{ get_mccs_cmdline(edit_obj) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!edit_obj.mon_check_command_special && edit_obj.is_active">
                        <label class="control-label col-sm-2">Tools</label>

                        <div class="controls col-sm-9">
                            <div class="form-inline">
                                <input type="button" ng-class='"btn btn-sm btn-primary"' ng-click="add_argument(edit_obj)" ng-value='"add argument"'/>
                                name:
                                <input type="text" class="form-control input-sm" title="default value" ng-model="edit_obj.arg_name"/>
                                value:
                                <input type="text" class="form-control input-sm" title="default value" ng-model="edit_obj.arg_value"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!edit_obj.mon_check_command_special &amp;&amp; edit_obj.is_active">
                        <label class="control-label col-sm-2">Info</label>

                        <div class="col-sm-9 list-group">
                            <ul>
                                <li class="list-group-item" ng-repeat="value in get_moncc_info(edit_obj)">
                                    {{ value }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Additional settings</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            Mon service templ
                        </label>

                        <div class="controls col-sm-9">
                            <div class="input-group" style="max-width:400px; min-width:240px;">
                                <ui-select ng-model="edit_obj.mon_service_templ" ng-disabled="false">
                                    <ui-select-match placeholder="please select a service template">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="value.idx as value in mon_service_templ | orderBy:'name'| props_filter:{name:$select.search}">
                                        <div ng-bind-html="value.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn"><button type="button" ng-click="edit_obj.mon_service_templ = undefined" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button> </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng_show="!edit_obj.is_event_handler">
                        <label class="control-label col-sm-2">
                            Event handler
                        </label>

                        <div class="controls col-sm-9">
                            <div class="input-group" style="max-width:400px; min-width:240px;">
                                <ui-select ng-model="edit_obj.event_handler" ng-disabled="false">
                                    <ui-select-match placeholder="please select an event handler">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="value.idx as value in get_event_handlers(edit_obj)| props_filter:{name:$select.search}">
                                        <div ng-bind-html="value.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn"><button type="button" ng-click="edit_obj.event_handler = undefined" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button> </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-show="!edit_obj.mon_check_command_special">
                    <legend>Active / passive settings</legend>
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="controls col-lg-offset-0 col-sm-9">
                                <label>
                                    <input checked="checked" class="checkboxinput checkbox" name="is_active" ng-model="edit_obj.is_active" type="checkbox"/>
                                    Is active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="!edit_obj.is_active"><b>Set result via</b></div>
                    <div class="form-group col-sm-12" ng-show="!edit_obj.is_active">
                        <code>
                        /opt/cluster/bin/set_passive_checkresult.py --device &lt;FQDN&gt; --check {{ edit_obj.name }}
                        --state {OK|WARN|CRITICAL} --output &lt;OUTPUT&gt;
                        </code>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Flags</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input class="checkboxinput checkbox" name="volatile" ng-model="edit_obj.volatile" type="checkbox"/>
                                            Volatile
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input class="checkboxinput checkbox" name="enable_perfdata" ng-model="edit_obj.enable_perfdata" type="checkbox"/>
                                            Enable perfdata
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input checked="checked" class="checkboxinput checkbox" name="event_handler_enabled" ng-model="edit_obj.event_handler_enabled" type="checkbox"/>
                                            Event handler enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox" ng_show="edit_obj.event_handler == undefined">
                                    <div class="controls col-lg-offset-0 col-sm-9">
                                        <label>
                                            <input class="checkboxinput checkbox" name="is_event_handler" ng-model="edit_obj.is_event_handler" type="checkbox"/>
                                            Is event handler
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </uib-tab>
            <uib-tab heading="Categories">
                <fieldset>
                    <legend>Categories</legend>
                    <div icsw-config-category-choice="" edit-obj="edit_obj" mode="mon"></div>
                </fieldset>
            </uib-tab>
            <uib-tab heading="History">
                <icsw-history-model-history style="config" model="'mon_check_command'" object-id="edit_obj.idx">
                </icsw-history-model-history>
            </uib-tab>
        </uib-tabset>
        <div class="form-actions">
            <input type="submit" name="submit" value="" class="btn btn-primary primaryAction" ng-value="action_string" />
        </div>
    </form>
</script>
