<script type="text/ng-template" id="icsw.config.kpi.evaluation_graph">
    <div ng-mouseleave="on_mouse_leave_widget()" ng-style="get_div_height_style()">
        <svg ng-attr-width="{{svg_width}}" ng-attr-height="{{svg_height}}" class="kpi-visualisation-svg" style="float: left"></svg>
        <!-- NOTE: height and width not properly applied below -->
        <icsw-config-kpi-show-kpi-set kpi-set="kpi_set_to_show"
                                      ng-attr-style="float:left; width: {{div_width}}px; height: {{div_height}}px; overflow-y: auto; padding-left: 20px"></icsw-config-kpi-show-kpi-set>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.kpi.show_kpi_set">
    <div class="panel panel-default" ng-show="kpi_set">
        <div class="panel-heading">
            {{title}}
        </div>
        <div class="panel-body" ng-attr-style="height: {{body_height}}px; overflow-y: auto;">

            <button class="btn btn-default btn-primary" ng-if="show_close" ng-click="kpi_set = undefined" style="margin-bottom: 15px">close</button>

            <div st-table="entries" st-safe-src="kpi_set.objects" ng-if="kpi_set.objects.length > 0">
                <div icsw-tools-pagination st-items-by-page="50" st-displayed-pages="8"
                     possible-items-by-page="10,20,50,100,200,500,1000"></div>
                <ul class="list-group" >
                    <icsw-config-kpi-show-kpi-object ng-repeat="kpi_obj in entries" kpi-obj="kpi_obj"></icsw-config-kpi-show-kpi-object>
                </ul>
            </div>

            <div ng-if="kpi_set.objects.length == 0">
                <alert type="info">No objects</alert>
            </div>


        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.config.kpi.show_kpi_object">
    <li ng-attr-class="list-group-item {{list_group_class}}">

        <span ng-if="kpi_obj.host_name">
            Host: {{kpi_obj.host_name.split(".")[0]}},
         </span>

        <span ng-if="kpi_obj.service_info"> <!-- show as in status history, i.e. prefer service_info -->
            Service: {{kpi_obj.service_info}},
        </span>

        <span ng-if="!kpi_obj.service_info && kpi_obj.check_command">
            Service: {{kpi_obj.check_command}},
        </span>

        <span ng-if="kpi_obj.rrd_id">
            {{kpi_obj.rrd_id}}: {{kpi_obj.rrd_value}}
        </span>

        <span ng-if="kpi_obj.result">
            Result: {{kpi_obj.result}},
        </span>

        <div class="row">
            <div class="col-md-4">
                <icsw-tools-piechart ng-if="pie_data" diameter="50" data="pie_data"></icsw-tools-piechart>
            </div>
            <div class="col-md-8">
                <table class="table table-condensed table-hover table-striped" ng-if="pie_data_list">
                    <tbody>
                        <tr ng-repeat="state in pie_data_list">
                            <td> {{ state.state }}</td>
                            <td class="text-right"> {{ state.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </li>
</script>
