
<script type="text/ng-template" id="icsw.info.server.state">
    <div ng-switch on="get_state()">
        <div class="text-warning" ng-switch-when="0">
            ---
        </div>
        <div class="row" style="width:520px;" ng-switch-when="1">
            <div class="col-xs-3 text-right">
                <span ng-class="get_version_class()" ng-bind-html="get_version()"></span>
            </div>
            <div class="col-xs-2 text-center" style="white-space:nowrap;">
                <span ng-class="get_run_class()">{{ get_run_info() }}</span>
            </div>
            <div class="col-xs-2 text-right">{{ get_mem_info() | get_size:1:1024 }}</div>
            <div class="col-xs-3" style="height:10px;">
                <progressbar value="get_mem_value()" animate="false"></progressbar>
            </div>
            <div class="col-xs-2" ng-show="acl_modify(null, 'backbone.user.server_control') &&  has_startstop()"">
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="stop_allowed()" ng-click="action('stop')"><a href="#">Stop</a></li>
                        <li ng-show="has_force_option()" ng-click="action('force-stop')"><a href="#">Force Stop</a></li>
                        <li ng-click="action('restart')"><a href="#">Restart</a></li>
                        <li ng-show="has_force_option()" ng-click="action('force-restart')"><a href="#">Force Restart</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" ng-switch-when="2">
            <div class="col-xs-3 text-right">
                <span ng-class="get_version_class()" ng-bind-html="get_version()"></span>
            </div>
            <div class="col-xs-7 text-danger">
                not running
            </div>
            <div class="col-xs-2">
                <div class="btn-group" ng-show="has_startstop()">
                    <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-click="action('start')"><a href="#">Start</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" ng-switch-when="3">
            <div class="col-xs-12 text-warning">
                not installed
            </div>
        </div>
    </div>
</script>
