/* device colors */
.svg-dev-up { fill: #92aa00; }
.svg-dev-down { fill: #bb3d1e; }
.svg-dev-unreach { fill: #ff0000; }
.svg-dev-unknown { fill: #e2972d; }
.svg-dev-notmonitored { fill: #666666; }
.svg-dev-pending { fill: #ccccff; }
.svg-dev-unselected { fill: #dddddd; }

/* service colors */
.svg-srv-ok { fill: #92aa00; }
.svg-srv-warn { fill: #e2972d; }
.svg-srv-crit { fill: #bb3d1e; }
.svg-srv-unknown { fill: #bb3d1e; }
.svg-srv-notmonitored { fill: #666666; }
.svg-srv-pending { fill: #ccccff; }
.svg-srv-unselected { fill: #dddddd; }

.svg-sh-type { fill: #8888ff ; }
.svg-filter-text {
    /*text-anchor: middle;*/
    /*alignment-baseline: middle;*/
    /*paint-order: stroke;*/
    font-size: 12px;
    fill: #ffffff;
    pointer-events: none;
    /*stroke: #000000;*/
    /*stroke-width: 1px;*/
}
.svg-filter-head-text {
    text-anchor: middle;
    /*alignment-baseline: middle;*/
    paint-order: stroke;
    font-size: 15px;
    fill: #777777;
    stroke: #ffffff;
    stroke-width: 0.5px;
    pointer-events: none;
}
.svg-box {
    fill: #f5f5f5;
    stroke: #ffffff;
    stroke-width: 1px;
}
.svg-box-content {
    fill: #777777;
}
.svg-outline { stroke-width: 0.5px; stroke: #dddddd; }

/* others */
.svg-plandown { fill: #4c9d83; }
.svg-active { fill: #9999ff; }
.svg-inactive { fill: #eeeeee; }
.svg-strokelocked { stroke: #bb3d1e; }
.svg-strokeunlocked { stroke: #dddddd; }
.svg-white { fill: #ffffff; }
.svg-danger { fill: #d90000; } /* prepare removal */

.svg-txt-color { fill: #dddddd; }
.default-text { fill: #dddddd; font-size: 12px; }

.sb-lines { stroke: #313131; stroke-width: 0.5; }
.sb-lines-selected { stroke: #000000 ; stroke-width: 1; }
.svg-stroke { stroke: #ffffff; stroke-width: 0.5; }
.pie-segment { stroke-width: 0.5; stroke-miterlimit: 2; stroke: #fff; }
.svg-sel { opacity: 0.7; }
.svg-clicked { stroke-width: 2px !important; }

.svg-d3link { stroke: #92aa00; stroke-width: 2px; opacity: 1; }
.svg-d3circle { stroke-width: 2px; stroke: #92aa00; fill: #666666; }
.svg-d3circle-selected { stroke-width: 2px; stroke: #92aa00; fill: #bb3d1e; }
.svg-d3text { stroke-width:1px; stroke:#black; paint-order:stroke; text-anchor:middle; alignment-baseline:middle; fill:white; }

