{% extends "main.html" %}

{% load i18n extra_tags %}

{% block title %}Cluster networks{% endblock %}

{% block content %}

<form action="{% url network:networks %}" method=post >
{{ network_formset.management_form }}
<table>
    <tbody>
    {% for cur_form in network_formset %}
        {{ cur_form.idx }}
        <tr><td colspan="3">{{ cur_form.non_field_errors }}</td></tr>
        <tr>
            <td rowspan="5">{{ cur_form.identifier.label }}{{ cur_form.identifier }}{{ cur_form.identifier.errors }}</td>
            <td>
                {{ cur_form.network_type.label }}{{ cur_form.network_type }}{{ cur_form.network_type.errors }}
                {{ cur_form.master_network.label }}{{ cur_form.master_network }}{{ cur_form.master_network.errors }}
                {{ cur_form.penalty.label }}{{ cur_form.penalty }}{{ cur_form.penalty.errors }}
                {{ cur_form.gw_pri.label }}{{ cur_form.gw_pri }}{{ cur_form.gw_pri.errors }}
            </td>
            <td rowspan="5">{% if cur_form.can_be_deleted %}del:{{ cur_form.DELETE }}{% endif %}</td>
        </tr>
        <tr>
            <td>
                {{ cur_form.postfix.label }}{{ cur_form.postfix }}{{ cur_form.postfix.errors }}
                {{ cur_form.name.label }}{{ cur_form.name }}{{ cur_form.name.errors }}
                {{ cur_form.info.label }}{{ cur_form.info }}{{ cur_form.info.errors }}
                {{ cur_form.short_names.label }}{{ cur_form.short_names }}{{ cur_form.short_names.errors }}
                {{ cur_form.write_bind_config.label }}{{ cur_form.write_bind_config }}
                {{ cur_form.write_other_network_config.label }}{{ cur_form.write_other_network_config }}
            </td>
        </tr>
        <tr>
            <td>
                {{ cur_form.network.label }}{{ cur_form.network }}{{ cur_form.network.errors }}
                {{ cur_form.netmask.label }}{{ cur_form.netmask }}{{ cur_form.netmask.errors }}
                {{ cur_form.broadcast.label }}{{ cur_form.broadcast }}{{ cur_form.broadcast.errors }}
                {{ cur_form.gateway.label }}{{ cur_form.gateway }}{{ cur_form.gateway.errors }}
            </td>
        </tr>
        <tr>
            <td>
                {{ cur_form.start_range.label }}{{ cur_form.start_range }}{{ cur_form.start_range.errors }} - {{ cur_form.end_range.label }}{{ cur_form.end_range }}{{ cur_form.end_range.errors }}
            </td>
        </tr>
        <tr>
            <td>
                {% for nd_form in cur_form.network_device_type %}
                    {{ nd_form }}
                {% endfor %}
                {{ cur_form.network_device_type.errors }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<input type="submit" action="submit"/>

</form>

<script type="text/javascript">

function add_cn_handlers() {
};

$(document).ready(add_cn_handlers);

</script>
{% endblock %}
