{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "Device tree" %}{% endblock %}

{% block content %}

<h1 class="center">Device tree</h1>

<div id="device_table">
<p>bla</p>
</div>
<input type="button" value="reload" onclick="reload_device_tree();"/>

<script type="text/javascript">

function build_device_table(xml) {
    $("div#device_table").children().remove();
    new_table = $("<table>").attr({"id" : "device_tree"});
    // device_type metadevice
    var md_dt = $(xml).find("device_type[identifier='MD']").attr("idx");
    $(xml).find("device_group").each(function() {
        var cur_dg = $(this);
        var new_tr = $("<tr>").attr({"id" : "dg_" + cur_dg.attr("idx")});
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type"    : "checkbox",
                "checked" : "checked",
                "id"      : "expand_" + $(cur_dg).attr("idx")
            }).bind("change", function(event) {
                var check_state = $(event.target).attr("checked");
                toggle_device(cur_dg.attr("idx"), check_state == "checked" ? true : false);
            })
        ));
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type" : "text",
                "value" : cur_dg.attr("name"),
                "id"    : "dg__name__" + cur_dg.attr("idx")})
            ).bind("change", function(event) {
                submit_change($(event.target));
            })
        );
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type" : "text",
                "value" : cur_dg.attr("description"),
                "id"    : "dg__description__" + cur_dg.attr("idx")})
            ).bind("change", function(event) {
                submit_change($(event.target));
            })
        );
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type"   : "checkbox",
                "id"     : "dg__meta_device__" + cur_dg.attr("idx")
            })
            ).bind("change", function(event) {
                submit_change($(event.target));
                $(event.target).attr("disabled", "disabled");
            })
        );
        if ($(cur_dg).find("device[device_type='" + md_dt + "']").length) {
            $(new_tr).find("input").last().attr("checked", "checked").attr("disabled", "disabled");
        };
        new_tr.append($("<th>").text(cur_dg.attr("is_cdg") == "1" ? "Cluster device group" : "device group"));
        if (cur_dg.attr("is_cdg") == "1") {
            new_tr.append($("<th>"));
        } else {
            new_tr.append($("<th>").append(
                $("<input>").attr({
                    "type"  : "button",
                    "value" : "delete"
                }).bind("click", function(event) {
                    if (confirm("really delete device_group " + cur_dg.attr("name") + " ?")) {
                        $.ajax({
                            url : "{% url device:delete_device_group %}",
                            data : {
                                "idx" : cur_dg.attr("idx")
                            },
                            success : function(xml) {
                                if (parse_xml_response(xml)) {
                                    reload_device_tree(xml);
                                }
                            }
                        })
                    };
                })
            ));
        }
        new_table.append(new_tr);
        $(cur_dg).find("device[device_type!='" + md_dt + "']").each(function() {
            var cur_d = $(this);
            var new_tr = $("<tr>").attr({"id" : "dev_" + cur_dg.attr("idx") + "_" + cur_d.attr("idx")});
            // name
            new_tr.append($("<th>").append(
                $("<input>").attr({
                    "type" : "text",
                    "value" : cur_d.attr("name"),
                    "id"    : "d__name__" + cur_d.attr("idx")})
                ).bind("change", function(event) {
                    submit_change($(event.target));
                })
            );
            // description / comment
            new_tr.append($("<th>").append(
                $("<input>").attr({
                    "type" : "text",
                    "value" : cur_d.attr("comment"),
                    "id"    : "d__comment__" + cur_d.attr("idx")})
                ).bind("change", function(event) {
                    submit_change($(event.target));
                })
            );
            // device_type
            new_tr.append($("<th>").append(
                $("<select>").attr({
                    "id"    : "d__device_type__" + cur_d.attr("idx"),
                    "value" : cur_d.attr("device_type")
                }).bind("change", function(event) {
                    submit_change($(event.target));
                })
            ));
            $(xml).find("device_types device_type[identifier!='MD']").each(function() {
                var cur_dt = $(this);
                var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
                if (cur_dt.attr("idx") == cur_d.attr("device_type")) {
                    cur_opt.attr("selected", "selected");
                };
                new_tr.find("select").last().append(cur_opt);
            });
            // device_group, cdg is not an option
            new_tr.append($("<td>").append(
                $("<select>").attr({
                    "id"    : "d__device_group__" + cur_d.attr("idx"),
                    "value" : cur_d.attr("device_group")
                }).bind("change", function(event) {
                    submit_change($(event.target));
                    // move row
                    var cur_tr = $(event.target).parents("tr:first");
                    var cur_dg_tr = $("table#device_tree tr[id='dg_" + cur_tr.attr("id").split("_")[1] + "']");
                    var new_dg_tr = $("table#device_tree tr[id='dg_" + $(event.target).attr("value") + "']");
                    console.log(cur_tr);
                    console.log(cur_dg_tr);
                    console.log(new_dg_tr);
                    cur_tr.insertAfter(new_dg_tr);
                    cur_tr.attr({"id" : "dev_" + new_dg_tr.attr("id").split("_")[1] + "_" + cur_tr.attr("id").split("_")[2]});
                })
            ));
            $(xml).find("response device_group[is_cdg='0']").each(function() {
                var cur_dt = $(this);
                var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
                if (cur_dt.attr("idx") == cur_d.attr("device_group")) {
                    cur_opt.attr("selected", "selected");
                };
                new_tr.find("select").last().append(cur_opt);
            });
            new_table.append(new_tr);
            new_tr.append($("<td>").append(
                $("<input>").attr({
                    "type"  : "button",
                    "value" : "delete"
                }).bind("click", function(event) {
                    if (confirm("really delete device " + cur_d.attr("name") + " ?")) {
                        $.ajax({
                            url : "{% url device:delete_device %}",
                            data : {
                                "idx" : cur_d.attr("idx")
                            },
                            success : function(xml) {
                                if (parse_xml_response(xml)) {
                                    $(event.target).parents("tr:first").remove();
                                }
                            }
                        })
                    };
                })
            ));
        });
    });
    // new device group
    var new_tr = $("<tr id='new_dg'>").append($("<th>").append("new DG").append(
        $("<input>").attr({
            "id"   : "new_device_group_name",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "id"   : "new_device_group_description",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "type"  : "button",
            "value" : "create"
        }).bind("click", function(event) {
            $.ajax({
                url : "{% url device:create_device_group %}",
                data : {
                    "name"        : $("table tr#new_dg input#new_device_group_name").attr("value"),
                    "description" : $("table tr#new_dg input#new_device_group_description").attr("value")
                },
                success : function(xml) {
                    if (parse_xml_response(xml)) {
                        reload_device_tree(xml);
                    }
                }
            })
        })
    ));
    new_table.append(new_tr);
    // new device
    var new_tr = $("<tr id='new_dev'>").append($("<th>").append("new D").append(
        $("<input>").attr({
            "id"   : "new_device_name",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "id"   : "new_device_comment",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<select>").attr({
            "id"    : "new_device_type"
        })
    ));
    $(xml).find("device_types device_type[identifier!='MD']").each(function() {
        var cur_dt = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
        if (cur_dt.attr("identifier") == "H") {
            cur_opt.attr("selected", "selected");
        };
        new_tr.find("select").last().append(cur_opt);
    });
    new_tr.append($("<th>").append(
        $("<select>").attr({
            "id"    : "new_device_group"
        })
    ));
    $(xml).find("response device_group[is_cdg='0']").each(function() {
        var cur_dt = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
        new_tr.find("select").last().append(cur_opt);
    });
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "type"  : "button",
            "value" : "create"
        }).bind("click", function(event) {
            $(event.target).attr("disabled", "disabled");
            $.ajax({
                url : "{% url device:create_device %}",
                data : {
                    "name"    : $("table tr#new_dev input#new_device_name").attr("value"),
                    "comment" : $("table tr#new_dev input#new_device_comment").attr("value"),
                    "type"    : $("table tr#new_dev select#new_device_type").attr("value"),
                    "group"   : $("table tr#new_dev select#new_device_group").attr("value")
                },
                success : function(xml) {
                    $(event.target).removeAttr("disabled");
                    if (parse_xml_response(xml)) {
                        reload_device_tree(xml);
                    }
                }
            })
        })
    ));
    new_table.append(new_tr);
    $("div#device_table").append(new_table);
    new_table.find("input#new_device_name").focus();
};

function toggle_device(dg_idx, state) {
    if (state) {
        $("div#device_table tr[id^='dev_" + dg_idx + "_']").show(200);
    } else {
        $("div#device_table tr[id^='dev_" + dg_idx + "_']").hide(200);
    };
};

function submit_change(cur_el) {
    $.ajax({
        url  : "{% url device:change_xml_entry %}",
        data : {
            "id"  : $(cur_el).attr("id"),
            "value" : $(cur_el).attr("value")
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                true;
            } else {
                <!-- set back to previous value -->
                $(cur_el).attr("value", get_xml_value(xml, "original_value"));
            };
        }
    })
};

function reload_device_tree() {
    $.ajax({
        url : "{% url device:get_xml_tree %}",
        error : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                build_device_table(xml);
            }
        }
    })
};

function add_dt_handlers() {
    reload_device_tree();
}

$(document).ready(add_dt_handlers);

</script>

{% endblock %}
