{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "Device network settings" %}{% endblock %}

{% block content %}

<h1 class="center">Device network settings</h1>

<div id="network_table">
</div>

<script type="text/javascript">

DEVICE_NETWORKS = false;
DUMMY_MAC ="00:00:00:00:00:00";

function modify_rowspan(cur_el, diff) {
    cur_el.attr({"rowspan" : parseInt(cur_el.attr("rowspan")) + diff});
};

function submit_change(cur_el, callback) {
    if (cur_el.is(":checkbox")) {
        var el_value = cur_el.is(":checked") ? "1" : "0";
    } else {
        var el_value = cur_el.attr("value");
    };
    $.ajax({
        url  : "{% url device:change_xml_entry %}",
        data : {
            "id"       : cur_el.attr("id"),
            "checkbox" : cur_el.is(":checkbox"),
            "value"    : el_value
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                replace_xml_element($(xml));
                if (callback != undefined && typeof callback == "function") callback(cur_el);
            } else {
                <!-- set back to previous value -->
                $(cur_el).attr("value", get_xml_value(xml, "original_value"));
            };
        }
    })
};

function set_network_after_change(cur_el) {
    // get xml_el
    var net_ip_xml = DEVICE_NETWORKS.find("net_ip[pk='" + cur_el.attr("id").split("__")[4] + "']");
    $("div#network_table select[id$='__ip__" + net_ip_xml.attr("pk") + "__network']").attr("value", net_ip_xml.attr("network"));
};

function create_input_el(xml_el, attr_name, id_prefix, kwargs) {
    var dummy_div = $("<div>");
    kwargs = kwargs || {};
    if (kwargs["label"]) {
        dummy_div.append($("<label>").attr({"for" : attr_name}).text(kwargs["label"]));
    };
    if (kwargs["select_source"] === undefined) {
        if (kwargs.boolean) {
            // checkbox input style
            var new_el = $("<input>").attr({
                "type"  : "checkbox",
                "id"    : id_prefix + "__" + attr_name
            });
            if (xml_el && xml_el.attr(attr_name) == "1") new_el.attr("checked", "checked");
        } else {
            // text input style
            var new_el = $("<input>").attr({
                "type"  : kwargs.number ? "number" : "text",
                "id"    : id_prefix + "__" + attr_name,
                "value" : xml_el === undefined ? (kwargs.new_default || "") : xml_el.attr(attr_name)
            });
        }
    } else {
        // select input
        var sel_val = xml_el === undefined ? "0" : xml_el.attr(attr_name);
        var new_el = $("<select>").attr({
            "id"    : id_prefix + "__" + attr_name,
            "value" : sel_val
        });
        kwargs["select_source"].each(function() {
            var cur_ns = $(this);
            var new_opt = $("<option>").attr({"value" : cur_ns.attr("pk")}).text(cur_ns.text());
            if (cur_ns.attr("pk") == sel_val) new_opt.attr("selected", "selected");
            new_el.append(new_opt);
        });
    };
    if (xml_el !== undefined) {
        new_el.bind("change", function(event) {
            submit_change($(event.target), kwargs.callback);
        })
    };
    return (dummy_div.append(new_el)).children();
};

function replace_xml_element(xml) {
    // replace element in DEVICE_NETWORKS
    xml.find("value[name='object'] > *").each(function() {
        var new_el = $(this);
        DEVICE_NETWORKS.find("[key='" + new_el.attr("key") + "']").replaceWith(new_el);
    });
};

function update_network_device_type_string(cur_el) {
    cur_nd = DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "'] netdevice[pk='" + cur_el.attr("id").split("__")[2] + "']");
    cur_el.parents("tr:first").find("span[id$='__devinfo']").text(DEVICE_NETWORKS.find("network_device_type_list network_device_type[pk='" + cur_nd.attr("network_device_type") + "']").text());
};

function lock_elements() {
    var el_list = $("div#network_table input:enabled");
    el_list.attr("disabled", "disabled");
    return el_list;
};

function unlock_elements(el_list) {
    el_list.removeAttr("disabled");
};

function fill_new_netdevice_name(event) {
    var cur_el = $(event.target);
    var cur_val = cur_el.attr("value");
    if (! cur_val) {
        var used_devs = _.map($("table#network_tree tr[id^='nd__" + cur_el.attr("id").split("__")[1] + "__'] input[id$='__devname']"), function(el, num) { return $(el).attr("value"); });
        if (used_devs.indexOf("lo") < 0) {
            cur_el.attr("value", "lo");
        } else if (used_devs.indexOf("eth0") < 0) {
            cur_el.attr("value", "eth0");
        } else {
            cur_el.attr("value", "ib0");
        };
    };
};

function create_dict(in_list) {
    var out_dict = {};
    in_list.each(function(idx, value) {
        out_dict[$(this).attr("id")] = $(this).attr("value");
    });
    return out_dict;
};

function inject_netdevice_line(cur_dev, new_nd) {
    // add new_nd to DEVICE_NETWORKS
    DEVICE_NETWORKS.find("device[pk='" + new_nd.attr("device") + "'] netdevices").append(new_nd);
    FIRST_NETDEVICE_LINE = false;
    var header_tr = $("div#network_table tr[id='nd__" + cur_dev.attr("pk") + "__new']");
    header_tr.next().next().after(
        add_netdevice_line(cur_dev, new_nd).children()
    );
    modify_rowspan(header_tr.find("td[id$='__devname']"), 1);
};

function inject_net_ip_line(cur_dev, new_ip) {
    // add new_nd to DEVICE_NETWORKS
    var cur_nd = DEVICE_NETWORKS.find("netdevice[pk='" + new_ip.attr("netdevice") + "']");
    var cur_dev = DEVICE_NETWORKS.find("device[pk='" + cur_nd.attr("device") + "']");
    cur_nd.find("netips").append(new_ip);
    var line_prefix = "nd__" + cur_dev.attr("pk") + "__" + cur_nd.attr("pk");
    FIRST_NETDEVICE_LINE = false;
    var header_tr = $("div#network_table tr[id='" + line_prefix + "__ip__new']");
    var new_line = add_net_ip_line(cur_dev, cur_nd, line_prefix, new_ip);
    header_tr.after(new_line);
    new_line.show();
    modify_rowspan($("div#network_table td[id='nd__" + cur_dev.attr("pk") + "__new__devname']"), 1);
};

function remove_netdevice_line(cur_dev, delete_button) {
    var cur_tr = $("div#network_table tr[id='" + delete_button.attr("id") + "']");
    var name_td = $("div#network_table td[id='nd__" + delete_button.attr("id").split("__")[1] + "__new__devname']");
    $("div#network_table tr[id^='nd__" + delete_button.attr("id").split("__")[1] + "__" + delete_button.attr("id").split("__")[2] + "']").each(function() {
        var cur_tr = $(this);
        if (cur_tr.is(":visible")) modify_rowspan(name_td, -1);
        cur_tr.remove();
    });
};

function remove_net_ip_line(cur_ip, delete_button) {
    var name_td = $("div#network_table td[id='nd__" + delete_button.attr("id").split("__")[1] + "__new__devname']");
    ip_tr = delete_button.parents("tr:first");
    if (ip_tr.is(":visible")) {
        modify_rowspan(name_td, -1);
    };
    ip_tr.remove();
};
    
function create_delete_new_netdevice(event) {
    var cur_el = $(event.target);
    var cur_dev = DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "']");
    var lock_list = lock_elements();
    var el_list = $("div#network_table").find("input[id^='" + cur_el.attr("id") + "'], select[id^='" + cur_el.attr("id") + "']");
    if (cur_el.attr("id").match(/new$/)) {
        // create element
        $.ajax({
            url  : "{% url device:create_netdevice %}",
            data : create_dict(el_list),
            success : function(xml) {
                if (parse_xml_response(xml)) {
                    inject_netdevice_line(cur_dev, $(xml).find("response values value netdevice"));
                    $("div#network_table").find("input[id^='nd__" + cur_el.attr("id").split("__")[1] + "__new__devname']").attr("value", "");
                };
                unlock_elements(lock_list);
            }
        });
    } else {
        // delete
        $.ajax({
            url  : "{% url device:delete_netdevice %}",
            data : create_dict(el_list),
            success : function(xml) {
                if (parse_xml_response(xml)) {
                    remove_netdevice_line(cur_dev, cur_el);
                };
                unlock_elements(lock_list);
            }
        });
    };
};

function create_delete_new_net_ip(event) {
    var cur_el = $(event.target);
    var cur_dev = DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "']");
    var cur_nd = DEVICE_NETWORKS.find("device[pk='" + cur_el.attr("id").split("__")[1] + "__" + cur_el.attr("id").split("__")[2] + "']");
    var cur_ip = DEVICE_NETWORKS.find("net_ip[pk='" + cur_el.attr("id").split("__")[4] + "']");
    var lock_list = lock_elements();
    var el_list = $("div#network_table").find("input[id^='" + cur_el.attr("id") + "'], select[id^='" + cur_el.attr("id") + "']");
    if (cur_el.attr("id").match(/new$/)) {
        // create element
        $.ajax({
            url  : "{% url device:create_net_ip %}",
            data : create_dict(el_list),
            success : function(xml) {
                if (parse_xml_response(xml)) {
                    inject_net_ip_line(cur_dev, $(xml).find("response values value net_ip"));
                };
                unlock_elements(lock_list);
            }
        });
    } else {
        true;
        // delete
        $.ajax({
            url  : "{% url device:delete_net_ip %}",
            data : create_dict(el_list),
            success : function(xml) {
                if (parse_xml_response(xml)) {
                    remove_net_ip_line(cur_ip, cur_el);
                };
                unlock_elements(lock_list);
            }
        });
    };
};

function create_netspeed_element(id_str, cur_nd) {
    var dummy_val = DEVICE_NETWORKS.find("netspeed_list netspeed:first").attr("pk");
    var sel_val = cur_nd === undefined ? dummy_val : cur_nd.attr("netdevice_speed");
    var cur_el = $("<select>").attr({
        "id"    : id_str,
        "value" : sel_val
    });
    if (cur_nd !== undefined) {
        cur_el.bind("change", function(event) {
            submit_change($(event.target));
        });
    };
    DEVICE_NETWORKS.find("netspeed_list netspeed").each(function() {
        var cur_ns = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_ns.attr("pk")}).text(cur_ns.text());
        if (cur_ns.attr("pk") == sel_val) cur_opt.attr("selected", "selected");
        cur_el.append(cur_opt);
    });
    return cur_el;
};

function toggle_netdevice_line(line_prefix, state, line_spec) {
    var dev_line = $("table#network_tree tr[id^='nd__" + line_prefix.split("__")[1] + "__']");
    var nd_line = $("table#network_tree tr[id='" + line_prefix + "']");
    var exp_line = $("table#network_tree tr[id^='" + line_prefix + "__" + line_spec + "']");
    var cur_dg = nd_line.find("span[id$='__expand_" + line_spec + "']");
    if (state) {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-s");
        exp_line.show();
        modify_rowspan(dev_line.find("td[id$='__devname']"), exp_line.length);
    } else {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-e");
        exp_line.hide();
        modify_rowspan(dev_line.find("td[id$='__devname']"), -exp_line.length);
    };
};

function get_expand_td(line_prefix, name, title) {
    return $("<td>").append(
        $("<span>").attr({
            "class"   : "ui-icon ui-icon-triangle-1-e",
            "id"      : line_prefix + "__expand_" + name,
            "title"   : title === undefined ? "show " + name : title
        }).bind("click", function(event) {
            var cur_class = $(event.target).attr("class");
            if (cur_class.match(/-1-e$/)) {
                toggle_netdevice_line(line_prefix, true, name);
            } else {
                toggle_netdevice_line(line_prefix, false, name);
            }
        })
    );
};

function add_net_ip_line(cur_dev, cur_nd, line_prefix, cur_ip) {
    if (cur_ip === undefined) {
        var ip_pk = "new";
    } else {
        var ip_pk = cur_ip.attr("pk");
    };
    var line_prefix = line_prefix + "__ip__" + ip_pk;
    var ip_tr = $("<tr>").attr({
        "id" : line_prefix
    }).hide();
    if (cur_nd !== undefined) {
        ip_tr.append($("<td>").attr({"colspan" : "9"}).append(
            create_input_el(cur_ip, "ip", line_prefix, {label : "IP", callback : set_network_after_change})
        ).append(
            create_input_el(cur_ip, "network", line_prefix, {label : "NW", select_source : DEVICE_NETWORKS.find("network_list network"), callback : set_network_after_change})
        ).append(
            create_input_el(cur_ip, "alias", line_prefix, {label : "Alias"})
        ).append(
            create_input_el(cur_ip, "alias_excl", line_prefix, {label : "Exclusive", boolean : true})
        ).append(
           $("<input>").attr({
               "type"  : "button",
               "value" : ip_pk == "new" ? "create" : "delete",
               "id"    : line_prefix
            }).bind("click", create_delete_new_net_ip)
        ));
    };
    return ip_tr;
};

function add_netdevice_line(cur_dev, cur_nd) {
    dummy_div = $("<div>");
    if (cur_nd === undefined) {
        var nd_pk = "new";
    } else {
        var nd_pk = cur_nd.attr("pk");
    };
    var line_prefix = "nd__" + cur_dev.attr("pk") + "__" + nd_pk;
    if (FIRST_NETDEVICE_LINE) {
        FIRST_NETDEVICE_LINE = false;
        var cur_tr = $("<tr>").attr({
            "id"    : line_prefix,
            "class" : "ui-widget ui-widget-header"
        });
        var num_nds = cur_dev.find("netdevices netdevice").length;
        cur_tr.append($("<td>").attr({
            "id"      : line_prefix + "__devname",
            "rowspan" : num_nds + 1}).text(cur_dev.attr("name")));
    } else {
        var cur_tr = $("<tr>").attr({
            "id"    : line_prefix,
            "class" : "ui-widget ui-widget-header"
        });
    };
    // hardware line
    hw_tr = $("<tr>").attr({
        "id" : line_prefix + "__hw"
    }).hide();
    hw_tr.append(
        $("<td>").attr({"colspan" : "9"}).append(
            create_input_el(cur_nd, "driver", line_prefix, {label : "driver"})
        ).append(
            create_input_el(cur_nd, "driver_options", line_prefix, {label : "driver_options"})
        ).append(
            create_input_el(cur_nd, "ethtool_autoneg", line_prefix, {"select_source" : DEVICE_NETWORKS.find("ethtool_autoneg"), "label" : "autonegotiation"})
        ).append(
            create_input_el(cur_nd, "ethtool_duplex", line_prefix, {"select_source" : DEVICE_NETWORKS.find("ethtool_duplex"), label : "duplex"})
        ).append(
            create_input_el(cur_nd, "ethtool_speed", line_prefix, {"select_source" : DEVICE_NETWORKS.find("ethtool_speed"), label : "speed"})
        )
    );
    // MAC line
    mac_tr = $("<tr>").attr({
        "id" : line_prefix + "__mac"
    }).hide();
    mac_tr.append(
        $("<td>").attr({"colspan" : "9"}).append(
            create_input_el(cur_nd, "macaddr", line_prefix, {label : "MAC address", new_default : DUMMY_MAC})
        ).append(
            create_input_el(cur_nd, "fake_macaddr", line_prefix, {label : "fake MAC address", new_default : DUMMY_MAC})
        ).append(
            create_input_el(cur_nd, "dhcp_device", line_prefix, {label : "force write DHCP address", "boolean" : true})
        )
    );
    cur_tr.append(
        $("<td>").append(
        $("<input>").attr({
            "type"  : "text",
            "id"    : line_prefix + "__devname",
            "value" : nd_pk == "new" ? "" : cur_nd.attr("devname")
        })).append($("<span>").attr({
            "id"    : line_prefix + "__devinfo"
        })
    ));
    if (nd_pk == "new") {
        cur_tr.find("td:last input").bind("click", fill_new_netdevice_name);
    } else {
        cur_tr.find("td:last input").bind("change", function(event) {
            submit_change($(event.target), update_network_device_type_string);
        })
    };
    // expand flags
    cur_tr.append(get_expand_td(line_prefix, "hw"));
    cur_tr.append(get_expand_td(line_prefix, "mac"));
    if (nd_pk == "new"){
        cur_tr.append($("<td>"));
        cur_tr.append($("<td>"));
    } else {
        // IP
        cur_tr.append(get_expand_td(line_prefix, "ip"));
        cur_tr.append(get_expand_td(line_prefix, "routing"));
    };
    // description
    cur_tr.append(
        $("<td>").append(
        $("<input>").attr({
            "type"  : "text",
            "id"    : line_prefix + "__description",
            "value" : nd_pk == "new" ? "" : cur_nd.attr("description")
        })
    ));
    if (nd_pk != "new") {
        cur_tr.find("td:last input").bind("change", function(event) {
            submit_change($(event.target));
        })
    };
    // vlan_id
    cur_tr.append(
        $("<td>").append(
        $("<input>").attr({
            // HTML5 type
            "type"  : "number",
            "id"    : line_prefix + "__vlan_id",
            "value" : nd_pk == "new" ? "0" : cur_nd.attr("vlan_id")
        })
    ));
    if (nd_pk != "new") {
        cur_tr.find("td:last input").bind("change", function(event) {
            submit_change($(event.target));
        })
    };
    if (nd_pk != "new") {
        update_network_device_type_string(cur_tr.find("td:last input"));
    };
    cur_tr.append(
        $("<td>").append(
        $("<input>").attr({
            "type"  : "button",
            "value" : nd_pk == "new" ? "create" : "delete",
            "id"    : line_prefix
        }).bind("click", create_delete_new_netdevice)
    ));
    cur_tr.append(
        $("<td>").append(
        create_netspeed_element(line_prefix + "__netdevice_speed", cur_nd)));
    dummy_div.append(cur_tr);
    dummy_div.append(hw_tr);
    dummy_div.append(mac_tr);
    // IP tr
    dummy_div.append(add_net_ip_line(cur_dev, cur_nd, line_prefix, undefined));
    // add present net_ip lines
    if (cur_nd !== undefined) {
        cur_nd.find("net_ip").each(function() {
            var cur_ip = $(this);
            dummy_div.append(add_net_ip_line(cur_dev, cur_nd, line_prefix, cur_ip));
        });
        // routing tr
        var route_tr = $("<tr>").attr({
            "id" : line_prefix + "__routing"
        }).hide();
        route_tr.append($("<td>").attr({"colspan" : "9"}).append(
            create_input_el(cur_nd, "routing", line_prefix, {label : "Routing", boolean : true})
        ).append(
            create_input_el(cur_nd, "penalty", line_prefix, {label : "Penalty", number: true})
        ));
        dummy_div.append(route_tr);
    };
    return dummy_div;
};

function draw_device_networks(cur_dev) {
    // init global flag
    FIRST_NETDEVICE_LINE = true;
    var dummy_div = $("<div>");
    dummy_div.append(add_netdevice_line(cur_dev).children());
    cur_dev.find("netdevices netdevice").each(function() {
        dummy_div.append(add_netdevice_line(cur_dev, $(this)).children());
    });
    return dummy_div;
};

function draw_network_table() {
    $("div#network_table").children().remove();
    new_table = $("<table>").attr({"id" : "network_tree"});
    DEVICE_NETWORKS.find("device").each(function() {
        new_table.append(draw_device_networks($(this)).children());
    });
    $("div#network_table").append(new_table);
    new_table.find("tr").mouseover(function() { $(this).addClass("highlight") ; }).mouseout(function() { $(this).removeClass("highlight") ; });
};

function reload_network_tree(sel_list) {
    $.ajax({
        url     : "{% url device:get_network_tree %}",
        error   : handle_ajax_error,
        data    : {
            "sel_list" : sel_list
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                DEVICE_NETWORKS = $(xml);
                draw_network_table();
            }
        }
    });
};

function use_devs(dt_div) {
    reload_network_tree(_.map(dt_div.dynatree("getSelectedNodes"), function(value) {
        return(value.data.key);
    }));
};

function add_dnet_handlers() {
    install_devsel_link(use_devs, true);
};

$(document).ready(add_dnet_handlers);

</script>

{% endblock %}
