{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "Device tree" %}{% endblock %}

{% block content %}

<h1 class="center">Device tree</h1>

<div id="device_table">
</div>
<input type="button" value="reload" onclick="reload_device_tree();" />

<script type="text/javascript">

function build_device_table(xml) {
    $("div#device_table").children().remove();
    new_table = $("<table>").attr({"id" : "device_tree"});
    // device_type metadevice
    var md_dt = $(xml).find("device_type[identifier='MD']").attr("idx");
    $(xml).find("device_group").each(function() {
        var cur_dg = $(this);
        var new_tr = $("<tr>").attr({
            "id"    : cur_dg.attr("key"),
            "class" : "ui-widget ui-widget-header"
        });
        // expandbox / name
        if (cur_dg.attr("is_cdg") == "1") {
            new_tr.append($("<th>"));
        } else {
            new_tr.append($("<th>").append(
                $("<span>").attr({
                    "class"   : "ui-icon ui-icon-triangle-1-e",
                    "id"      : "expand_" + $(cur_dg).attr("idx")
                }).bind("click", function(event) {
                    var cur_class = $(event.target).attr("class");
                    var check_state = $(event.target).attr("checked");
                    if (cur_class.match(/-1-e$/)) {
                        toggle_device(cur_dg.attr("idx"), true);
                    } else {
                        toggle_device(cur_dg.attr("idx"), false);
                    }
                })
            ));
        };
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type" : "text",
                "value" : cur_dg.attr("name"),
                "id"    : "dg__name__" + cur_dg.attr("idx")
            }).bind("change", function(event) {
                submit_change($(event.target), propagate_dg_changes);
            })
        ));
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type" : "text",
                "value" : cur_dg.attr("description"),
                "id"    : "dg__description__" + cur_dg.attr("idx")})
            ).bind("change", function(event) {
                submit_change($(event.target));
            })
        );
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "type"   : "checkbox",
                "id"     : "dg__meta_device__" + cur_dg.attr("idx")
            }).bind("change", function(event) {
                submit_change($(event.target));
                $(event.target).attr("disabled", "disabled");
            })
        ).append($("<span>").attr({
            "id" : "dg__info__" + cur_dg.attr("idx")
        }).text("---"))
        );
        // disable of meta_device is already used / set
        if ($(cur_dg).find("device[device_type='" + md_dt + "']").length) {
            $(new_tr).find("input").last().attr("checked", "checked").attr("disabled", "disabled");
        };
        new_tr.append($("<th>").text(cur_dg.attr("is_cdg") == "1" ? "Cluster device group" : "device group"));
        if (cur_dg.attr("is_cdg") == "1") {
            new_tr.append($("<th>"));
        } else {
            new_tr.append($("<th>").append(
                $("<input>").attr({
                    "type"  : "button",
                    "value" : "delete"
                }).bind("click", function(event) {
                    if (confirm("really delete device_group " + cur_dg.attr("name") + " ?")) {
                        $.ajax({
                            url : "{% url device:delete_device_group %}",
                            data : {
                                "idx" : cur_dg.attr("idx")
                            },
                            success : function(xml) {
                                if (parse_xml_response(xml)) {
                                    reload_device_tree(xml);
                                }
                            }
                        })
                    };
                })
            ));
        }
        new_table.append(new_tr);
        $(cur_dg).find("device[device_type!='" + md_dt + "']").each(function() {
            var cur_d = $(this);
            var new_tr = $("<tr>").attr({
                "id"    : "dev__" + cur_dg.attr("idx") + "__" + cur_d.attr("idx"),
                "class" : "ui-widget"
            });
            // name
            new_tr.append($("<td>").append(
                $("<input>").attr({
                    "type"  : "checkbox",
                    "id"    : "dev__sel__" + cur_d.attr("idx")
                })
            ));
            new_tr.append($("<td>").append(
                $("<input>").attr({
                    "type" : "text",
                    "value" : cur_d.attr("name"),
                    "id"    : "dev__name__" + cur_d.attr("idx")
                }).bind("change", function(event) {
                    submit_change($(event.target));
                })
            ));
            // description / comment
            new_tr.append($("<td>").append(
                $("<input>").attr({
                    "type" : "text",
                    "value" : cur_d.attr("comment"),
                    "id"    : "dev__comment__" + cur_d.attr("idx")})
                ).bind("change", function(event) {
                    submit_change($(event.target));
                })
            );
            // device_type
            new_tr.append($("<th>").append(
                $("<select>").attr({
                    "id"    : "dev__device_type__" + cur_d.attr("idx"),
                    "value" : cur_d.attr("device_type")
                }).bind("change", function(event) {
                    submit_change($(event.target));
                })
            ));
            $(xml).find("device_types device_type[identifier!='MD']").each(function() {
                var cur_dt = $(this);
                var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
                if (cur_dt.attr("idx") == cur_d.attr("device_type")) {
                    cur_opt.attr("selected", "selected");
                };
                new_tr.find("select").last().append(cur_opt);
            });
            // device_group, cdg is not an option
            new_tr.append($("<td>").append(
                $("<select>").attr({
                    "id"    : "dev__device_group__" + cur_d.attr("idx"),
                    "value" : cur_d.attr("device_group")
                }).bind("change", function(event) {
                    submit_change($(event.target));
                    // move row
                    var cur_tr = $(event.target).parents("tr:first");
                    //var cur_dg_tr = $("table#device_tree tr[id='dg__" + cur_tr.attr("id").split("__")[1] + "']");
                    var new_dg_tr = $("table#device_tree tr[id='dg__" + $(event.target).attr("value") + "']");
                    cur_tr.insertAfter(new_dg_tr);
                    cur_tr.attr({"id" : "dev__" + new_dg_tr.attr("id").split("__")[1] + "__" + cur_tr.attr("id").split("__")[2]});
                    update_device_group_info();
                    // force unroll of device_groups
                    toggle_device(new_dg_tr.attr("id").split("__")[1], true);
                })
            ));
            $(xml).find("response device_group[is_cdg='0']").each(function() {
                var cur_dt = $(this);
                var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
                if (cur_dt.attr("idx") == cur_d.attr("device_group")) {
                    cur_opt.attr("selected", "selected");
                };
                new_tr.find("select").last().append(cur_opt);
            });
            new_tr.append($("<td>").append(
                $("<input>").attr({
                    "type"  : "button",
                    "value" : "delete",
                    "id"    : "dev__del__" + cur_d.attr("idx")
                }).bind("click", function(event, param) {
                    if (param == "noask" || confirm("really delete device " + cur_d.attr("name") + " ?")) {
                        $.ajax({
                            url : "{% url device:delete_device %}",
                            data : {
                                "idx" : cur_d.attr("idx")
                            },
                            success : function(xml) {
                                if (parse_xml_response(xml)) {
                                    $(event.target).parents("tr:first").remove();
                                    update_device_group_info();
                                }
                            }
                        })
                    };
                })
            ));
            new_table.append(new_tr);
            new_tr.hide();
        });
    });
    // new device group
    var new_tr = $("<tr>").attr({
        "id"    : "new_dg",
        "class" : "ui-widget ui-widget-header"}).append(
        $("<th>").append("new DevGroup")).append(
        $("<th>").append(
        $("<input>").attr({
            "id"   : "new_device_group_name",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "id"   : "new_device_group_description",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").attr({"colspan" : "2"}));
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "type"  : "button",
            "value" : "create"
        }).bind("click", function(event) {
            $.ajax({
                url : "{% url device:create_device_group %}",
                data : {
                    "name"        : $("table tr#new_dg input#new_device_group_name").attr("value"),
                    "description" : $("table tr#new_dg input#new_device_group_description").attr("value")
                },
                success : function(xml) {
                    if (parse_xml_response(xml)) {
                        reload_device_tree(xml);
                    }
                }
            })
        })
    ));
    new_table.append(new_tr);
    // new device
    var new_tr = $("<tr>").attr({
        "id"    : "new_dev",
        "class" : "ui-widget ui-widget-header"}).append(
        $("<th>").append("new Device")).append(
        $("<th>").append(
        $("<input>").attr({
            "id"   : "new_device_name",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "id"   : "new_device_comment",
            "type" : "text"
        })
    ));
    new_tr.append($("<th>").append(
        $("<select>").attr({
            "id"    : "new_device_type"
        })
    ));
    $(xml).find("device_types device_type[identifier!='MD']").each(function() {
        var cur_dt = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
        if (cur_dt.attr("identifier") == "H") {
            cur_opt.attr("selected", "selected");
        };
        new_tr.find("select").last().append(cur_opt);
    });
    new_tr.append($("<th>").append(
        $("<select>").attr({
            "id"    : "new_device_group"
        })
    ));
    $(xml).find("response device_group[is_cdg='0']").each(function() {
        var cur_dt = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
        new_tr.find("select").last().append(cur_opt);
    });
    new_tr.append($("<th>").append(
        $("<input>").attr({
            "type"  : "button",
            "value" : "create"
        }).bind("click", function(event) {
            $(event.target).attr("disabled", "disabled");
            $.ajax({
                url : "{% url device:create_device %}",
                data : {
                    "name"    : $("table tr#new_dev input#new_device_name").attr("value"),
                    "comment" : $("table tr#new_dev input#new_device_comment").attr("value"),
                    "type"    : $("table tr#new_dev select#new_device_type").attr("value"),
                    "group"   : $("table tr#new_dev select#new_device_group").attr("value")
                },
                success : function(xml) {
                    $(event.target).removeAttr("disabled");
                    if (parse_xml_response(xml)) {
                        reload_device_tree(xml);
                    }
                }
            })
        })
    ));
    new_table.append(new_tr);
    // selected devices
    var new_tr = $("<tr>").attr({
        "id"    : "sel_dev",
        "class" : "ui-widget ui-widget-header"}).append($("<th>").attr({"colspan" : "3"}).append("action on selected devices"));
    new_tr.append($("<th>").append(
        $("<select>").attr({
            "id"    : "sel_device_type"
        }).bind("change", function(event) {
            var new_dt = $(event.target).attr("value");
            $(event.target).attr("value", "0");
            $("table#device_tree input[id^='dev__sel__']:checked").each(function() {
                var dev_idx = $(this).attr("id").split("__")[2];
                var targ_sel = $("table#device_tree select#dev__device_type__" + dev_idx);
                if (targ_sel.attr("value") != new_dt) targ_sel.attr("value", new_dt).trigger("change");
            });
        }).append($("<option>").attr({
            "value"    : "0",
            "selected" : "selected"}).text("-- keep --"))
    ));
    $(xml).find("device_types device_type[identifier!='MD']").each(function() {
        var cur_dt = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
        new_tr.find("select").last().append(cur_opt);
    });
    new_tr.append($("<th>").append(
        $("<select>").attr({
            "id"    : "sel_device_group"
        }).bind("change", function(event) {
            var new_dg = $(event.target).attr("value");
            $(event.target).attr("value", "0");
            $("table#device_tree input[id^='dev__sel__']:checked").each(function() {
                var dev_idx = $(this).attr("id").split("__")[2];
                var targ_sel = $("table#device_tree select#dev__device_group__" + dev_idx);
                if (targ_sel.attr("value") != new_dg) targ_sel.attr("value", new_dg).trigger("change");
            });
        }).append($("<option>").attr({
            "value"    : "0",
            "selected" : "selected"}).text("-- keep --"))
    ));
    $(xml).find("response device_group[is_cdg='0']").each(function() {
        var cur_dt = $(this);
        var cur_opt = $("<option>").attr({"value" : cur_dt.attr("idx")}).text(cur_dt.attr("name"));
        new_tr.find("select").last().append(cur_opt);
    });
    new_tr.append($("<td>").append(
        $("<input>").attr({
            "type"  : "button",
            "value" : "delete"
        }).bind("click", function(event) {
            var sel_list = $("table#device_tree input[id^='dev__sel__']:checked");
            if (sel_list.length) {
                if (confirm("really delete selected " + sel_list.length + " devices ?")) {
                    $(sel_list).each(function() {
                        var cur_sel = $(this);
                        cur_sel.parents("tr:first").find("input[value='delete']").trigger("click", ["noask"]);
                    })
                };
            };
        })
    ));
    new_table.append(new_tr);
    $("div#device_table").append(new_table);
    update_device_group_info();
    new_table.find("tr").mouseover(function() { $(this).addClass("highlight") ; }).mouseout(function() { $(this).removeClass("highlight") ; });
    new_table.find("input#new_device_name").focus();
};

function propagate_dg_changes(cur_el) {
    // set new device_group names on all selects
    $("table#device_tree select[id*='__device_group'] option[value='" + cur_el.parents("tr:first").attr("id").split("__")[1] + "']").each(function() {
        $(this).text(cur_el.attr("value"));
    });
};

function toggle_device(dg_idx, state) {
    var cur_dg = $("table#device_tree tr[id='dg__" + dg_idx + "'] span[id='expand_" + dg_idx + "']");
    if (state) {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-s");
        $("table#device_tree tr[id^='dev__" + dg_idx + "__']").show();
        recolor_device_group(dg_idx);
    } else {
        cur_dg.removeClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
        cur_dg.addClass("ui-icon-triangle-1-e");
        $("table#device_tree tr[id^='dev__" + dg_idx + "__']").hide();
    };
};

function recolor_device_group(dg_idx) {
    $("table#device_tree tr[id^='dev__" + dg_idx + "__']:even").removeClass("even odd");
    $("table#device_tree tr[id^='dev__" + dg_idx + "__']:even").addClass("even");
    $("table#device_tree tr[id^='dev__" + dg_idx + "__']:odd").addClass("odd");
};

function submit_change(cur_el, callback) {
    $.ajax({
        url  : "{% url device:change_xml_entry %}",
        data : {
            "id"  : $(cur_el).attr("id"),
            "value" : $(cur_el).attr("value")
        },
        success : function(xml) {
            if (parse_xml_response(xml)) {
                if (callback != undefined && typeof callback == "function") callback(cur_el);
            } else {
                <!-- set back to previous value -->
                $(cur_el).attr("value", get_xml_value(xml, "original_value"));
            };
        }
    })
};

function update_device_group_info() {
    $("table#device_tree tr[id^='dg__']").each(function() {
        var cur_tr = $(this);
        var dg_idx = cur_tr.attr("id").split("__")[1];
        recolor_device_group(dg_idx);
        var info_th = cur_tr.find("span[id^='dg__info__']");
        var num_devs = $("table#device_tree tr[id^='dev__" + dg_idx + "__']").length;
        info_th.text(num_devs + " device" + (num_devs == 1 ? "" : "s"));
    });
};

function reload_device_tree() {
    $.ajax({
        url     : "{% url device:get_xml_tree %}",
        error   : handle_ajax_error,
        success : function(xml) {
            if (parse_xml_response(xml)) {
                build_device_table(xml);
            }
        }
    })
};

function add_dt_handlers() {
    reload_device_tree();
};

$(document).ready(add_dt_handlers);

</script>

{% endblock %}
