<h1>Device class and locations</h1>

{% load i18n extra_tags %}

{{ device_class_formset.management_form }}
<table>
    <tbody>
    {% for cur_form in device_class_formset %}
        {{ cur_form.idx }}
        <tr><td colspan="3">{{ cur_form.non_field_errors }}</td></tr>
        <tr>
            <td>
                {{ cur_form.classname.label }}{{ cur_form.classname }}{{ cur_form.classname.errors }}
            </td>
            <td>
                {{ cur_form.priority.label }}{{ cur_form.priority }}{{ cur_form.priority.errors }}
            </td>
            <td>{% if cur_form.can_be_deleted %}del:{{ cur_form.DELETE }}{% endif %}</td>
            <td>
                {{ cur_form.device_list }}
            </td>
        </tr>
    {% endfor %}
    <tbody>
</table>

{{ device_location_formset.management_form }}
<table>
    <tbody>
    {% for cur_form in device_location_formset %}
        {{ cur_form.idx }}
        <tr><td colspan="3">{{ cur_form.non_field_errors }}</td></tr>
        <tr>
            <td>
                {{ cur_form.location.label }}{{ cur_form.location }}{{ cur_form.location.errors }}
            </td>
            <td>{% if cur_form.can_be_deleted %}del:{{ cur_form.DELETE }}{% endif %}</td>
            <td>
                {{ cur_form.device_list }}
            </td>
        </tr>
    {% endfor %}
    <tbody>
</table>

<input type="submit" action="submit"/>
