<input type="button" id="generate_button" value="generate" onClick="generate_configs();"/>
<div id="generated_config">
gc
</div>

<script type="text/javascript">

function generate_configs() {
    $("input#generate_button").attr("disabled", "disabled");
    $.ajax({
        url : "{% url config:generate_config %}",
        data : {
            "sel_list" : CUR_DEVICES
        },
        success : function(xml) {
            $("input#generate_button").removeAttr("disabled");
            if (parse_xml_response(xml)) {
                console.log($(xml));
            };
        }
    });
};

</script>
