<!DOCTYPE html>
{#  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> #}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta charset="utf-8" />
{# IE8 render info #}
<meta http-equiv="X-UA-Compatible" content="IE=9, IE=8" / >
<meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load i18n extra_tags compress %}

{% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/tablesorter.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/superfish.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/redmond/jquery-ui-1.8.21.custom.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/ui.dynatree.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.jnotify-alt.css" />
{% endcompress %}
{% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.layout.latest.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.sprintf.js_8.txt"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dynatree.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jnotify.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/init.js"></script>
{% endcompress %}

{% block tab_js %}{% endblock %}
{% block forms_media %}{% endblock %}
{% block stylesheets %}{% endblock %}

<title>INIT {% block title %}{% trans "Main Page" %}{% endblock %}</title>
</head>

<body bgcolor="#FFFFFF">
{% block body %}
{% if user.is_authenticated %}
<div class="ui-layout-north ">
    <div style="z-index:50 ; clear:both ; ">
        {% include "menu.html" %}
    </div>
    <div class="fp_headline" style="float:right;margin:0;padding:10px;">
        {% now "l, j. F Y" %} <span id="cur_time">00:00:00</span>. {% trans "You are logged in as user" %}
        <span>'{{ user.username }}'</span>. <a href="{% url session:logout %}">{% trans "Logout" %}</a>
    </div>
</div>
{% endif %}
<noscript>
    <p>JavaScript on your browser is <span class="red_color">disabled</span> so you will not be able
    to use some of the functionality of the software.</p>
</noscript>
<div class="ui-layout-west " >
    {% include 'sidebar.html' %}
</div>
<div class="ui-layout-center" id="pane-center">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}

<script type="text/javascript">

var page_time="{% now "G:i:s" %}";

function save_layout_state(p_name) {
};

function init_layout() {
    if ($("div.ui-layout-center").length) {
        my_layout = $("body").layout({
            applyDefaultStyles  : true,
            spacing_open        : 6,
            north__spacing_open : 0,
            south__initClosed   : true,
            west__initClosed    : {% if request.session.west_closed %}true{% else %}false{% endif %},
            onopen : function(p_name) {
                save_layout_state(p_name);
            },
            onclose : function(p_name) {
                save_layout_state(p_name);
            }
        });
        my_layout.allowOverflow("north");
    };
};

function add_handlers_main() {
    init_layout();
    update_time();
    try {
        {% if user.is_authenticated %}
        init_menu();
        {% endif %}
        sidebar_handler();
    } catch(err) {
        // in case no menu or sidebar is present
    };
    // init jnotify
    $.jnotify.setup({
        "fadeSpeed" : 50,
        "delay"     : 10000
    });
    // show time
    $(document).everyTime(1000, "show_time", function(i) {
        update_time();
    });
}

function update_time() {
    var page_time = new Date();
    $("span#cur_time").text($.sprintf("%02d:%02d:%02d", page_time.getHours(), page_time.getMinutes(), page_time.getSeconds()));
}

$(document).ready(add_handlers_main);

</script>
</body>
</html>
