{% load i18n %}

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <div id="sidebar_tree">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="devsel_div">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="devselclear_div">
                <input type="button" onClick="clear_selection();" value="clear selection" />
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

DYN_DTS_UPDATE = true;

function toggle_south(event) {
    my_layout.toggle("south");
}

function toggle_west(event) {
    my_layout.toggle("west");
}

function clear_selection() {
    $.ajax({
        url : "{% url device:clear_selection %}",
        success : function(xml) {
            DYN_DTS_UPDATE = false;
            $.each($("div#sidebar_tree").dynatree("getSelectedNodes"), function(index, value) {
                value.select(false);
            });
            DYN_DTS_UPDATE = true;
        }
    });
};

function install_devsel_link(t_func) {
    $("div#devsel_div").children().remove();
    $("div#devsel_div").text("");
    $("div#devsel_div").append($("<button>").text("take selection").bind("click", function(event) {
        t_func($("div#sidebar_tree"));
    }));
};

function sidebar_handler() {
    $("div#sidebar_tree").dynatree({
        checkbox : true,
        initAjax : {
            url  : "{% url device:get_json_tree %}",
            data : {}
        },
        onPostInit : function(is_reloading, is_error) {
            $.each($("div#sidebar_tree").dynatree("getSelectedNodes"), function(index, value) {
                value.expand(true);
            })
        },
        onLazyRead : function(dtnode) {
            dtnode.appendAjax({
                url  : dtnode.data.url,
                data : {
                    "dg_idx" : dtnode.data.data.dg_idx
                }
            });
        },
<!--        onActivate : function(dtnode) {-->
<!--            console.log("focus");-->
<!--            if (dtnode.data.name == "toggle_sql") {-->
<!--                toggle_south();-->
<!--                dtnode.deactivate();-->
<!--            } else if (dtnode.data.name == "toggle_sidebar") {-->
<!--                toggle_west();-->
<!--                dtnode.deactivate();-->
<!--            } else {;-->
<!--                if (dtnode.data.isLazy) {-->
<!--                } else {                -->
<!--                    if (dtnode.data.url) {-->
<!--                        window.location = dtnode.data.url;-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--        },-->
<!--        onExpand : function(flag, dtnode) {-->
<!--            console.log("expand");-->
<!--            toggle_expand(dtnode, flag);-->
<!--        },-->
        onSelect : function(flag, dtnode) {
            if (! dtnode.isExpanded()) {
                dtnode.expand(true);
            };
            dtnode.visit(function(cur_node) {
                cur_node.toggleSelect();
            }, false);
            if (DYN_DTS_UPDATE) {
                $.ajax({
                    url : "{% url device:add_selection %}",
                    data : {
                        "key" : dtnode.data.key,
                        "add" : dtnode.isSelected() ? 1 : 0}
                });
            };
        },
        debuglevel : {% if DEBUG %}2{% else %}0{% endif %}
    });
    var my_tree = $("#sidebar_tree").dynatree("getTree");
    $("div#sidebar_tree ul").css({"border" : "none", "margin" : "0px"});
    $("div#sidebar_tree").css({"border" : "1px dotted gray", "background-color" : "#FFFFFF"});
};

</script>
