{% load i18n %}

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <div id="sidebar_tree">
            </div>
        </td>
    </tr>
    <tr>
        <td id="device_selection">
            <input type="text" id="device_selection" onKeyUp="apply_device_selection();"/>
        </td>
    </tr>
    <tr>
        <td>
            <div id="devsel_div">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="devselclear_div">
                <input type="button" onClick="clear_selection();" value="clear selection" />
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

DYN_DTS_LOCKCOUNT = 0;
CALL_DEVSEL_LINK_WHEN_LOADED = false;
CUR_DEVICE_SELECTION = undefined;
ADS_RUNNING = false;

function toggle_south(event) {
    my_layout.toggle("south");
}

function toggle_west(event) {
    my_layout.toggle("west");
}

function apply_device_selection() {
    var cur_text = $("input#device_selection").attr("value");
    if (cur_text != CUR_DEVICE_SELECTION) {
        CUR_DEVICE_SELECTION = cur_text;
        if (CUR_DEVICE_SELECTION) {
           ADS_RUNNING = true;
            var cur_re = new RegExp(CUR_DEVICE_SELECTION);
            var key_list = new Array();
            // traverse tree
            $("div#sidebar_tree").dynatree("getRoot").visit(function(node) {
                if (node.data.title.match(cur_re)) {
                    node.makeVisible(true);
                    node.select(true);
                    key_list.push(node.data.key);
                } else {
                    node.select(false);
                };
            });
           console.log(key_list);
            $.ajax({
                url : "{% url device:add_selection %}",
                data : {
                    "key" : key_list
                }
            });
           ADS_RUNNING = false;
        };
    };
};

function clear_selection() {
    $("input#device_selection").val("");
    $.ajax({
        url : "{% url device:clear_selection %}",
        success : function(xml) {
            DYN_DTS_LOCKCOUNT = 1;
            $.each($("div#sidebar_tree").dynatree("getSelectedNodes"), function(index, value) {
                value.select(false);
            });
            DYN_DTS_LOCKCOUNT = 0;
        }
    });
};

function install_devsel_link(t_func, fire_when_loaded) {
    $("div#devsel_div").children().remove();
    $("div#devsel_div").text("");
    $("div#devsel_div").append($("<button>").attr({"id" : "devsel_button"}).text("use selection").bind("click", function(event) {
        t_func($("div#sidebar_tree"));
    }));
    CALL_DEVSEL_LINK_WHEN_LOADED = fire_when_loaded;
};

function sidebar_handler() {
    $("div#sidebar_tree").dynatree({
        autoFocus  : false,
        checkbox   : true,
        initAjax   : {
            url  : "{% url device:get_json_tree %}",
            data : {}
        },
        onPostInit : function(is_reloading, is_error) {
            $.each($("div#sidebar_tree").dynatree("getSelectedNodes"), function(index, value) {
                value.expand(true);
            })
            if (CALL_DEVSEL_LINK_WHEN_LOADED) {
                $("div#devsel_div button#devsel_button").trigger("click");
            };
        },
        onSelect : function(flag, dtnode) {
            if (!ADS_RUNNING) {
                if (! dtnode.isExpanded()) {
                    dtnode.expand(true);
                };
                if (! DYN_DTS_LOCKCOUNT) {
                    $.ajax({
                        url : "{% url device:add_selection %}",
                        data : {
                            "key" : dtnode.data.key,
                            "add" : dtnode.isSelected() ? 1 : 0}
                    });
                    DYN_DTS_LOCKCOUNT ++;
                    dtnode.visit(function(cur_node) {
                        cur_node.toggleSelect();
                    }, false);
                    DYN_DTS_LOCKCOUNT --;
                };
            };
        },
        debuglevel : {% if DEBUG %}2{% else %}0{% endif %}
    });
    var my_tree = $("#sidebar_tree").dynatree("getTree");
    $("div#sidebar_tree ul").css({"border" : "none", "margin" : "0px"});
    $("div#sidebar_tree").css({"border" : "1px dotted gray", "background-color" : "#FFFFFF"});
    $("input#device_selection").focus();
};

</script>
