{% extends "main.html" %}

{% load i18n extra_tags coffeescript %}

{% block title %}{% trans "RMS Overview" %}{% endblock %}

{% block content %}

<h1 class="center">RMS Overview</h1>

<h2 class="center">Running jobs</h2>

<div id="run_job_table">
    <table id="run_job_table" style="width:50%;">
        <thead>
            <tr>
                {% for entry in run_job_headers %}
                    <td>{{ entry.tag }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<h2 class="center">Waiting jobs</h2>

<div id="wait_job_table">
    <table id="wait_job_table" style="width:50%;">
        <thead>
            <tr>
                {% for entry in wait_job_headers %}
                    <td>{{ entry.tag }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<h2 class="center">Node list</h2>

<div id="node_table">
    <table id="node_table" style="width:50%;">
        <thead>
            <tr>
                {% for entry in node_headers %}
                    <td>{{ entry.tag }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<input type="button" value="reload" onClick="reload_page();"/>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

reload_page = ->
    $("table#node_table").dataTable().fnDraw()
    $("table#run_job_table").dataTable().fnDraw()
    $("table#wait_job_table").dataTable().fnDraw()

resize_grid = (event) ->
    table = $(event.target)
    table_name = table.attr("id")
    $("div##{table_name}").width(table.width())

addHandlers = ->
    $(document).everyTime(10000, "reload_page", ->
        reload_page()
    )
    $("table#node_table").dataTable
        "bProcessing"     : true,
        "bServerSide"     : true,
        "sAjaxSource"     : "{% url 'rms:get_node_xml' %}",
        "sServerMethod"   : "POST",
        "bJQueryUI"       : true,
        "sPaginationType" : "full_numbers",
        "bStateSave"      : true,
        "bAutoWidth"      : true,
        "aoColumnDefs"    : [
            {
                "fnRender" : (o, val) ->
                    return "<b>#{val}</b>"
                "aTargets" : [6, 7, 8],
                "sClass" : "center slots_info"
            }, {
                "fnRender" : (o, val) ->
                    cur_m = val.match(/(\d+\.\d+).*/)
                    if cur_m
                        max_load = 16.0
                        load = Math.min(cur_m[0], max_load)
                        ret_el = $("<div>").addClass("leftfloat load_value").append(
                            $("<b>").text($.sprintf("%3.2f", load))
                        ).append(
                            $("<div>").addClass("load_outer").append(
                                $("<div>").addClass("load_inner").css("width", parseInt(98 * load / max_load) + "px")
                            )
                        )
                        return $("<div>").append(ret_el).html()
                    else
                        return "<b>#{val}</b>"
                "aTargets" : [5],
                "sClass"   : "load"
            }, {
                "aTargets" : [9, 4],
                "sClass"   : "nowrap"
            }
         ]
    $("table#run_job_table").dataTable
        "bProcessing"     : true,
        "bServerSide"     : true,
        "sAjaxSource"     : "{% url 'rms:get_run_jobs_xml' %}",
        "sServerMethod"   : "POST",
        "bJQueryUI"       : true,
        "sPaginationType" : "full_numbers",
        "bStateSave"      : true,
        "bAutoWidth"      : false,
        "aoColumnDefs"    : [
            {
                "aTargets" : [7, 8, 10, 11],
                "sClass"   : "nowrap"
            }, {
                "fnRender" : (o, val) ->
                    if val == "---" or val == "err"
                        return "<b>#{val}</b>"
                    else
                        a_el = $("<a>").attr("href", "file:#{o.mDataProp}:#{o.aData[0]}:#{o.aData[1]}").text(val)
                        return $("<div>").append(a_el).html()
                "aTargets" : [12, 13],
                "sClass"   : "nowrap"
            }, {
                "fnRender" : (o, val) ->
                    return render_action(o, val)
                "aTargets" : [15],
                "sClass"   : "nowrap"
            }
        ],
        "fnDrawCallback"   : (o_settings) ->
            $("table#run_job_table").find("a[href^='file']").bind("click", (event) ->
                cur_el = $(event.target)
                console.log cur_el.attr("href")
                return false
            )
            $("table#run_job_table").find("input[type='button'][id^='delete']").bind("click", (event) ->
                cur_el = $(event.target)
                control_job(cur_el.attr("id"))
                return false
            )
    $("table#wait_job_table").dataTable
        "bProcessing"     : true,
        "bServerSide"     : true,
        "sAjaxSource"     : "{% url 'rms:get_wait_jobs_xml' %}",
        "sServerMethod"   : "POST",
        "bJQueryUI"       : true,
        "sPaginationType" : "full_numbers",
        "bStateSave"      : true,
        "bAutoWidth"      : false,
        "aoColumnDefs"    : [
            {
                "fnRender" : (o, val) ->
                    return "<b>#{val}</b>"
                "aTargets" : [5],
                "sClass" : "center"
            }, {
                "fnRender" : (o, val) ->
                    return render_action(o, val)
                "aTargets" : [13],
                "sClass"   : "nowrap"
            }, {
                "aTargets" : [8, 9],
                "sClass"   : "nowrap"
            }
        ]
        "fnDrawCallback"   : (o_settings) ->
            $("table#wait_job_table").find("input[type='button'][id^='delete']").bind("click", (event) ->
                cur_el = $(event.target)
                control_job(cur_el.attr("id"))
                return false
            )
    $("table").bind("draw", resize_grid)

render_action = (o, val) ->
    cap_list = val.split(":")
    res_list = $("<div>")
    if "del" in cap_list
        res_list.append(
            $("<input>").attr(
                "type"  : "button"
                "value" : "delete"
                "id"    : "delete:#{o.aData[0]}:#{o.aData[1]}" 
            )
        )
    return $("<div>").append(res_list).html()

control_job = (el_id) ->
    $.ajax
        url     : "{% url 'rms:control_job' %}"
        data    : {
            "control_id" : el_id
        }
        success : (xml) ->
            parse_xml_response(xml)

root.reload_page = reload_page
    
$(document).ready(addHandlers);

{% endinlinecoffeescript %}

</script>

{% endblock %}

