<script type="text/ng-template" id="icsw.layout.menubar">
    <nav icsw-element-size="navbar_size" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="menu_base" ng-cloak ng-show="is_authenticated">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ ICSW_URLS.MAIN_INDEX }}"><span class="glyphicon glyphicon-home" title="Home"></span></a>
            </li>
            <li ng-show="
                check_perm('user.modify_tree') || check_perm('user.modify_domain_name_tree') ||
                check_perm('user.modify_category_tree') || check_perm('config.modify_config') ||
                check_perm('config.modify_network') || check_perm('device.change_network') ||
                check_perm('device.change_connection') || check_perm('device.change_variables') || check_perm('device.change_config')
            ">
                <a class="dropdown-toggle" data-toggle="dropdown">Base <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-show="check_perm('user.modify_tree')"><a href="{{ ICSW_URLS.MON_CREATE_DEVICE }}">Create new device</a></li>
                    <li ng-show="check_perm('user.modify_tree')" class="divider"></li>
                    <li ng-show="check_perm('user.modify_tree')"><a href="{{ ICSW_URLS.DEVICE_TREE_SMART }}">Device tree</a></li>
                    <li ng-show="check_perm('user.modify_domain_name_tree')"><a href="{{ ICSW_URLS.NETWORK_DOMAIN_NAME_TREE }}">Domain name tree</a></li>
                    <li ng-show="check_perm('user.modify_category_tree')"><a href="{{ ICSW_URLS.BASE_CATEGORY_TREE }}">Category tree</a></li>
                    <li ng-show="check_perm('user.modify_category_tree') || check_perm('user.modify_domain_tree') || check_perm('user.modify_tree')" class="divider"></li>
                    <li ng-show="check_perm('network.modify_network')"><a href="{{ ICSW_URLS.NETWORK_SHOW_NETWORKS }}">Networks</a></li>
                    <li ng-show="check_perm('config.modify_config')"><a href="{{ ICSW_URLS.CONFIG_SHOW_CONFIGS }}">Configurations</a></li>
                    <li ng-show="check_perm('network.modify_network') || check_perm('config.modify_config')" class="divider"></li>
                    <li ng-show="check_perm('device.change_network')"><a href="{{ ICSW_URLS.NETWORK_DEVICE_NETWORK }}">Device network</a></li>
                    <li ng-show="check_perm('device.change_connection')"><a href="{{ ICSW_URLS.DEVICE_CONNECTIONS }}">Device connections</a></li>
                    <li ng-show="check_perm('device.change_variables')"><a href="{{ ICSW_URLS.DEVICE_VARIABLES }}">Device variables</a></li>
                    <li ng-show="check_perm('device.change_config')"><a href="{{ ICSW_URLS.DEVICE_SHOW_CONFIGS }}">Device configurations</a></li>
                </ul>
            </li>
            <li ng-show="(CLUSTER_LICENSE.boot.enabled || CLUSTER_LICENSE.package.enabled) && (check_perm('device.change_boot') || check_perm('package.package_install') ||
                check_perm('partition_fs.modify_partitions') || check_perm('kernel.modify_kernels') || check_perm('image.modify_images'))
                ">
                <a class="dropdown-toggle" data-toggle="dropdown">Cluster <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-show="SERVICE_TYPES.mother && CLUSTER_LICENSE.boot.enabled && check_perm('device.change_boot')"><a href="{{ ICSW_URLS.BOOT_SHOW_BOOT }}">Nodeboot</a></li>
                    <li ng-show="SERVICE_TYPES.package && CLUSTER_LICENSE.package.enabled && check_perm('package.package_install')"><a href="{{ ICSW_URLS.PACK_REPO_OVERVIEW }}">Package install</a></li>
                    <li ng-show="CLUSTER_LICENSE.boot.enabled && SERVICE_TYPES.mother && SERVICE_TYPES.package" class="divider"></li>
                    <li ng-show="CLUSTER_LICENSE.boot.enabled && check_perm('image.modify_images')"><a href="{{ ICSW_URLS.SETUP_IMAGE_OVERVIEW }}">Image overview</a></li>
                    <li ng-show="CLUSTER_LICENSE.boot.enabled && check_perm('kernel.modify_kernels')"><a href="{{ ICSW_URLS.SETUP_KERNEL_OVERVIEW }}">Kernel overview</a></li>
                    <li ng-show="CLUSTER_LICENSE.boot.enabled && check_perm('partition_fs.modify_partitions')"><a href="{{ ICSW_URLS.SETUP_PARTITION_OVERVIEW }}">Partition overview</a></li>
                </ul>
            </li>
            <li ng-show="check_perm('group.group_admin')">
                <a class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ ICSW_URLS.USER_OVERVIEW }}">Overview</a></li>
                </ul>
            </li>
            <li ng-show="CLUSTER_LICENSE.monitor.enabled">
                <a class="dropdown-toggle" data-toggle="dropdown">Monitoring <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-show="check_perm('mon_check_command.setup_monitoring')"><a href="{{ ICSW_URLS.MON_SETUP }}">Basic setup</a></li>
                    <li ng-show="check_perm('mon_check_command.setup_monitoring') && check_perm('device.change_monitoring')"><a href="{{ ICSW_URLS.MON_DEVICE_CONFIG }}">Device settings</a></li>
                    <li ng-show="CLUSTER_LICENSE.monext.enabled && check_perm('mon_check_command.setup_monitoring')" class="divider"></li>
                    <li ng-show="CLUSTER_LICENSE.monext.enabled && check_perm('mon_check_command.setup_monitoring')"><a href="{{ ICSW_URLS.MON_SETUP_CLUSTER }}">Cluster / Dependency setup</a></li>
                    <li ng-show="CLUSTER_LICENSE.monext.enabled && check_perm('mon_check_command.setup_monitoring')"><a href="{{ ICSW_URLS.MON_SETUP_ESCALATION }}">Escalation setup</a></li>
                    <li ng-show="check_perm('mon_check_command.setup_monitoring')" class="divider"></li>
                    <li><a href="{{ ICSW_URLS.MON_CALL_ICINGA }}" target="_blank">Icinga</a></li>
                    <li ng-show="check_perm('mon_check_command.setup_monitoring')" class="divider"></li>
                    <li ng-show="check_perm('mon_check_command.setup_monitoring')"><a href="{{ ICSW_URLS.MON_OVERVIEW }}">Monitoring Overview</a></li>
                    <li ng-show="check_perm('mon_check_command.setup_monitoring')"><a href="{{ ICSW_URLS.MON_BUILD_INFO }}">Build Info</a></li>
                    <li ng-show="SERVICE_TYPES['md-config']">
                        <a href="{{ ICSW_URLS.MON_LIVESTATUS }}">Livestatus</a>
                    </li>
                    <li ng-show="check_perm('mon_check_command.setup_monitoring') && SERVICE_TYPES['md-config']" class="text-left">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input type="button" class="btn btn-success btn-xs" value="rebuild config (cached, RC)" title="fully cached (with routing cache)" ng-click="rebuild_config('ALWAYS')"/>
                            </li>
                            <li class="list-group-item">
                                <input type="button" class="btn btn-warning btn-xs" value="rebuild config (dynamic)" ng-click="rebuild_config('DYNAMIC')"/>
                            </li>
                            <li class="list-group-item">
                                <input type="button" class="btn btn-danger btn-xs" value="rebuild config (refresh)" ng-click="rebuild_config('REFRESH')"/>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-show="CLUSTER_LICENSE.rms.enabled">
                <a class="dropdown-toggle" data-toggle="dropdown">RMS <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ ICSW_URLS.RMS_OVERVIEW }}">RMS overview</a></li>
                    <li><a href="{{ ICSW_URLS.LIC_OVERVIEW }}" ng-show="0">License overview</a></li>
                    <li><a href="{{ ICSW_URLS.LIC_LICENSE_LIVEVIEW }}">License LiveView</a></li>
                </ul>
            </li>
            <!-- {% for add_menu in settings.ADDITIONAL_MENU_FILES %}
                {% include add_menu %}
            {% endfor %} -->
            <li class="visible-lg">
                <div ng-show="num_gauges" ng-repeat="(key, obj) in cur_gauges" class="progress" style="width:200px; margin-top:10px;">
                    <progressbar animate="true" value="obj.value" type="success"><span>{{ obj.value }} %</span></progressbar>
                </div>
            </li>
            <li ng-if="num_gauges == 0" class="visible-lg">
                <img height="42px" ng-attr-src="{{ ICSW_URLS.MENU_GFX_URL }}" ng-click="redirect_to_init()" title="{{ settings.INIT_PRODUCT_NAME }}" alt="{{ settings.INIT_PRODUCT_NAME }} logo"/>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-text visible-lg">
                    <button type="button" class="btn btn-danger btn-xs fa fa-info-circle" title="cluster server information" ng-click="redirect_to_info()">
                         Server Information
                    </button>
                    &nbsp;
                    <button ng-show="HANDBOOK_PDF_PRESENT" type="button" class="btn btn-primary btn-xs fa fa-book" title="show cluster handbook as PDF" ng-click="redirect_to_handbook()">
                         PDF Handbook
                    </button>
                    &nbsp;
                    <button ng-show="HANDBOOK_CHUNKS_PRESENT" type="button" class="btn btn-success btn-xs fa fa-html5" title="show {{ HANDBOOK_PAGE }}" ng-click="show_handbook_page()">
                         HTML Handbook
                    </button>
                    &nbsp;
                    <button type="button" ng-show="NUM_BACKGROUND_JOBS" ng-class="get_background_job_class()" ng-click="redirect_to_bgj_info()" title="number of background jobs">{{ NUM_BACKGROUND_JOBS }}</button>
                </p>
                <p class="navbar-text hidden-lg">
                    <button type="button" class="btn btn-danger btn-xs fa fa-info-circle" title="cluster server information" ng-click="redirect_to_info()">
                    </button>
                    &nbsp;
                    <button ng-show="HANDBOOK_PDF_PRESENT" type="button" class="btn btn-primary btn-xs fa fa-book" title="show cluster handbook as PDF" ng-click="redirect_to_handbook()">
                    </button>
                    &nbsp;
                    <button ng-show="HANDBOOK_CHUNKS_PRESENT" type="button" class="btn btn-success btn-xs fa fa-html5" title="show {{ HANDBOOK_PAGE }}" ng-click="show_handbook_page()">
                    </button>
                    &nbsp;
                    <button type="button" ng-show="NUM_BACKGROUND_JOBS" ng-class="get_background_job_class()" ng-click="redirect_to_bgj_info()" title="number of background jobs">{{ NUM_BACKGROUND_JOBS }}</button>
                </p>
            </li>
            <li>
                <p class="navbar-text visible-md visible-lg">
                    {{ cur_time }}
                    <span title="{{ CURRENT_USER.full_name }}">user '{{ CURRENT_USER.login }}'</span><span ng-show="CURRENT_USER.login != CURRENT_USER.login_name"> (via alias {{ CURRENT_USER.login_name }})</span>
                </p>
            </li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown">Session <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ ICSW_URLS.USER_ACCOUNT_INFO }}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Account Info</a></li>
                    <li ng-show="check_perm('backbone.user.admin')"><a href="{{ ICSW_URLS.ADMIN_INDEX }}"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Admin</a></li>
                    <li ng-show="CURRENT_USER.is_superuser"><a href="{{ ICSW_URLS.USER_GLOBAL_SETTINGS }}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Settings</a></li>
                    <li ng-show="check_perm('background_job.show_background')">
                        <a href="{{ ICSW_URLS.USER_BACKGROUND_JOB_INFO }}"><span class="glyphicon glyphicon-list"></span>&nbsp;Background Job Info</a>
                    </li>
                    <li><a href="{{ ICSW_URLS.SESSION_LOGOUT }}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Logout</a></li>
                </ul>
            </li>
            <li>
                &nbsp;
            </li>
        </ul>
    </nav>
</script>
