<script type="text/ng-template" id="icsw.layout.menubar">
    <nav
        class="navbar navbar-default navbar-fixed-top"
        ng-class="struct.overall_style"
        role="navigation"
        ng-show="struct.current_user"
        icsw-element-size="size"
        ng-controller="icswMenuBaseCtrl"
        ng-cloak
    >
        <div class="container-fluid">
            <icsw-menu-progress-bars user="struct.current_user"></icsw-menu-progress-bars>

            <div class="collapse navbar-collapse">
                <icsw-menu icsw-menu-side="left"></icsw-menu>
                <!-- @if DEBUG -->
                <form class="navbar-form navbar-left" ng-class="struct.overall_style">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="struct.search_string"
                            icsw-auto-focus="struct.focus_search"
                            placeholder="enter search or command ..."
                            typeahead-editable="false"
                            autocomplete="off"
                            uib-typeahead="hint for hint in get_selections($viewValue)"
                            typeahead-loading="struct.typeahead_loading"
                        />
                        <span class="input-group-btn">
                            <span class="fa fa-search"></span>
                        </span>
                    </div>
                </form>
                <!-- @endif -->
                <icsw-right-menu></icsw-right-menu>
                <!-- <icsw-background-job-info></icsw-background-job-info>-->
            </div>
        </div>
    </nav>
</script>

<script type="text/ng-template" id="icsw.layout.submenubar">
    <nav class="navbar navbar-default submenu-bar" ng-if="struct.current_user" style="position:fixed; width:100%; z-index:1029; margin-top:-30px;">
        <ul class="sub-breadcrumb">
            <li class="menupath pull-left">
                <span ng-repeat="obj in struct.menupath track by $index">
                    <a ng-if="obj.statename" ui-sref="{{ obj.statename }}">{{ obj.name }}</a>
                    <a ng-if="!obj.statename">{{ obj.name }}</a>
                </span>
            </li>
            <li class="pull-right cursorpointer">
                <span
                    class="label"
                    ng-class="{'label-success': struct.in_sync, 'label-danger': !struct.in_sync}"
                    ng-show="struct.any_selected"
                    title="{{ struct.title_str }}"
                    ng-click="device_selection($event)"
                >{{ struct.select_txt }} selected</span>
                <span
                    class="label"
                    ng-class="{'label-warning': struct.in_sync, 'label-danger': !struct.in_sync}"
                    ng-show="!struct.any_selected"
                    title="{{ struct.title_str }}"
                    ng-click="device_selection($event)"
                >No Devices selected</span>
                <icsw-tools-button
                    type="lock"
                    icsw-hide-text
                    is-lock="struct.sel_unsynced"
                    size="xs"
                    title="{{ struct.lock_info }}"
                    ng-click="device_selection_ss($event)"
                ></icsw-tools-button>
                <icsw-tools-button ng-show="!struct.any_selected" type="select" size="xs" value="Select all" ng-click="select_all($event)"></icsw-tools-button>
            </li>
            <li ng-repeat="entry in struct.bc_list track by $index"  class="pull-right">
                <a class="cursorpointer" ui-sref="{{ entry.sref }}" ui-sref-opts="{icswRegister: false}" ng-show="!entry.has_devsel">
                    <span class="fa" ng-class="entry.icon"/> {{ entry.name }}
                </a>
                <button type="button" ng-show="entry.has_devsel" class="btn btn-xs btn-default" ng-click="activate_state(entry)">
                    <span class="fa" ng-class="entry.icon"/> {{ entry.name }}
                </button>
            </li>
        </ul>
    </nav>
</script>

<script type="text/ng-template" id="icsw.layout.menubar.progress">
    <ul class="nav navbar-nav">
        <li class="active" ng-if="num_gauges">
            <div ng-repeat="(key, obj) in cur_gauges" class="progress" style="width:200px; margin-top:10px;">
                <uib-progressbar animate="true" value="obj.value" type="success">
                    <span>{{ obj.value }} %</span>
                </uib-progressbar>
            </div>
        </li>
        <li class="active" ng-if="num_gauges == 0">
            <img
                ng-class="overall_style"
                ng-attr-src="{{ initProduct.menu_gfx_url }}"
                ng-click="go_mainboard($event)"
                style="cursor: pointer;margin-top:5px;padding-right:15px;"
                title="{{ initProduct.name }}"
                alt="{{ initProduct.name }}"
            />
        </li>
    </ul>
</script>
