<script type="text/ng-template" id="icsw/main/serverinfo.html">
    <div class="container-fluid">
        <h3>Server Information</h3>
        <icsw-layout-server-info-overview></icsw-layout-server-info-overview>
    </div>
</script>

<script type="text/ng-template" id="icsw.layout.server.info.overview">
    <uib-accordion close-others="no">
        <div uib-accordion-group class="panel-default" is-open="struct.is_open_roles">
            <uib-accordion-heading>
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': struct.is_open_roles, 'glyphicon-chevron-right': !struct.is_open_roles}"></i>
                {{ num_roles() }} valid Cluster Roles defined
                <span ng-show="struct.local_device_ok">(viewed from {{ struct.local_device }})</span>
                <span ng-show="!struct.local_device_ok" class="text-danger">({{ struct.local_device }})</span>
                <span class="text-warning" ng-show="struct.loading">Updating ...</span>
                <span class="label label-danger" ng-show="struct.unroutable_config_names.length">There are {{ struct.unroutable_config_names.length }} unroutable configs</span>
            </uib-accordion-heading>
            <div uib-alert class="alert-warning" ng-show="struct.unroutable_config_names.length">
                <h3>Unroutable Configs</h3>
                <table class="table table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <th>Configuration</th>
                            <th>#Devices</th>
                            <th>Devices</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="conf in struct.unroutable_config_names">
                            <td class="text-danger">{{ conf }}</td>
                            <td class="text-danger">{{ struct.unroutable_configs[conf].length }}</td>
                            <td>{{ struct.unroutable_configs[conf].join(", ") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="table table-hover table-striped" style="width:auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">#Configurations</th>
                        <th>Configuration Name</th>
                        <th class="text-right">Reachable IP</th>
                        <th class="text-right">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="role in get_roles()">
                        <th>{{ role }}, {{ get_num_servers(role) }} Devices</th>
                        <th colspan="4"></th>
                    </tr>
                    <tr ng-repeat-end ng-repeat="server in get_servers(role)">
                        <td>{{ server[0] }}</td>
                        <td class="text-right">{{ server[4].length }}</td>
                        <td>{{ get_config_names(server) }}</td>
                        <td class="text-right">{{ server[1] }}</td>
                        <td class="text-right">{{ server[3] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div uib-accordion-group class="panel-default" is-open="struct.is_open_list">
            <uib-accordion-heading>
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': struct.is_open_list, 'glyphicon-chevron-right': !struct.is_open_list}"></i>
                <ng-pluralize count="struct.server_info_list.length" when="{'0': 'No Server results', 'one': 'One Server result', 'other': '{} Server results'}"></ng-pluralize>
                <span class="text-warning" ng-show="struct.loading">Updating ...</span>
            </uib-accordion-heading>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Valid</th>
                        <th>Name</th>
                        <th>Result</th>
                        <th>Model Version</th>
                        <th class="text-right">Database Version</th>
                        <th class="text-right">Software Version</th>
                        <th class="text-right">Max Memory</th>
                        <th class="text-right">Total Memory</th>
                        <th>Fingerprint</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="srv_info in struct.server_info_list" ng-class="srv_info.$$tr_class">
                        <td>{{ srv_info.valid | yesno2 }}</td>
                        <td>{{ srv_info.$$srv_name }}</td>
                        <td>{{ srv_info.server_reply }}</td>
                        <td>
                            <span ng-show="srv_info.version_set">{{ srv_info.version_models }}</span>
                            <span ng-show="!srv_info.version_set">---</span>
                        </td>
                        <td class="text-right">
                            <span ng-show="srv_info.version_set">{{ srv_info.version_database }}</span>
                            <span ng-show="!srv_info.version_set">---</span>
                        </td>
                        <td class="text-right">
                            <span ng-show="srv_info.version_set">{{ srv_info.version_software }}</span>
                            <span ng-show="!srv_info.version_set">---</span>
                        </td>
                        <td class="text-right">{{ srv_info.max_mem | get_size:1:1024:"B":3 }}</td>
                        <td class="text-right">{{ srv_info.sum_mem | get_size:1:1024:"B":3 }}</td>
                        <td>{{ srv_info.$$fingerprint_str }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div uib-accordion-group class="panel-default" is-open="struct.is_open_detail">
            <uib-accordion-heading>
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': struct.is_open_detail, 'glyphicon-chevron-right': !struct.is_open_detail}"></i>
                <ng-pluralize count="struct.server_info_list.length" when="{'0': 'No Servers checked', 'one': 'One Server checked', 'other': '{} Servers checked'}"></ng-pluralize>
                <span class="text-warning" ng-show="struct.loading">Updating ...</span>
            </uib-accordion-heading>
            <table class="table table-hover table-striped" style="width:auto;" ng-show="struct.instance_list.length && struct.server_info_list.length">
                <thead>
                    <tr>
                        <th>Instance</th>
                        <th>Type</th>
                        <th>Check</th>
                        <th ng-repeat="srv_info in struct.server_info_list">
                            <span ng-show="srv_info.max_mem">
                                {{ srv_info.$$srv_name }},
                                {{ srv_info.max_mem | get_size:1:1024:"B":3 }} max /
                                {{ srv_info.sum_mem | get_size:1:1024:"B":3 }} total Memory
                            </span>
                            <span ng-show="!srv_info.max_mem">
                                {{ srv_info.$$srv_name }}
                            </span>
                         </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="instance in struct.instance_list">
                        <td>{{ instance }}</td>
                        <td class="text-center">{{ get_runs_on(instance) }}</td>
                        <td class="text-center">{{ struct.server_info_list[0].get_check_source(instance) }}</td>
                        <td ng-repeat="srv_info in struct.server_info_list">
                            <icsw-layout-server-info-instance icsw-server-info="srv_info" icsw-service-name="instance"></icsw-layout-server-info-instance>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-accordion>
</script>

<script type="text/ng-template" id="icsw.service.enable.disable">
    <div ng-show="acl_modify(null, 'backbone.user.server_control') && service.$$startstop && service.$$enable_disable_allowed">
        <icsw-tools-button type="disable" size="xs" ng-click="do_action('disable')" ng-show="service.$$enabled"></icsw-tools-button>
        <icsw-tools-button type="enable" size="xs" ng-click="do_action('enable')" ng-show="service.$$disabled"></icsw-tools-button>
    </div>
</script>

<script type="text/ng-template" id="icsw.service.monitor.ignore">
    <div ng-show="acl_modify(null, 'backbone.user.server_control') && service.$$startstop && service.$$enable_disable_allowed">
        <icsw-tools-button type="disable" size="xs" ng-click="do_action('ignore')" ng-show="service.$$monitor"></icsw-tools-button>
        <icsw-tools-button type="enable" size="xs" ng-click="do_action('monitor')" ng-show="service.$$ignore"></icsw-tools-button>
    </div>
</script>

<script type="text/ng-template" id="icsw.layout.server.info.state">
    <div ng-switch on="service.$$state" class="container-fluid">
        <div class="text-warning" ng-switch-when="0">
            <span class="text-error">Not available</span>
        </div>
        <div class="row" style="width:540px;" ng-switch-when="1">
            <!-- <div class="col-xs-1">
                {{ service.$$conf_state }}
            </div>-->
            <div class="col-xs-2 text-right">
                <span ng-class="service.$$version_class" ng-bind-html="service.$$version"></span>
            </div>
            <div class="col-xs-2 text-center" style="white-space:nowrap;">
                <span ng-class="service.$$run_class">{{ service.$$run_info }}</span>
            </div>
            <div class="col-xs-2 text-right">{{ service.$$mem_value | get_size:1:1024 }}</div>
            <div class="col-xs-2" style="height:10px;">
                <uib-progressbar ng-show="service.$$mem_value" value="service.$$mem_percent" animate="false"></uib-progressbar>
            </div>
            <div class="col-xs-2">
                <icsw-service-enable-disable></icsw-service-enable-disable>
            </div>
            <div class="col-xs-2">
                <icsw-service-monitor-ignore></icsw-service-monitor-ignore>
            </div>
        </div>
        <div class="row" ng-switch-when="2">
            <div class="col-xs-2 text-right">
                <span ng-class="service.$$version_class" ng-bind-html="service.$$version"></span>
            </div>
            <div class="col-xs-6 text-danger">
                not running
            </div>
            <div class="col-xs-2">
                <icsw-service-enable-disable></icsw-service-enable-disable>
            </div>
            <div class="col-xs-2">
                <icsw-service-monitor-ignore></icsw-service-monitor-ignore>
            </div>
        </div>
        <div class="row" ng-switch-when="3">
            <div class="col-xs-12 text-warning">
                not installed
            </div>
        </div>
        <div class="row" ng-switch-when="4">
            <div class="col-xs-2 text-right">
                <span ng-class="service.$$version_class" ng-bind-html="service.$$version"></span>
            </div>
            <div class="col-xs-6 text-danger">
                not configured
            </div>
            <div class="col-xs-2">
                <icsw-service-enable-disable></icsw-service-enable-disable>
            </div>
            <div class="col-xs-2">
                <icsw-service-monitor-ignore></icsw-service-monitor-ignore>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.internal.state.list">
    <div class="container-fluid">
        <h3>Internal State List ({{ struct.state_list.length }})</h3>
        <table
            st-table="entries_displayed"
            st-safe-src="struct.state_list"
            class="table table-condensed table-hover table-striped"
        >
            <thead>
                <tr>
                    <td colspan="99">
                        <div icsw-tools-pagination st-items-by-page="20" st-displayed-pages="11"
                             possible-items-by-page="20,50,100,200,500,1000"></div>
                    </td>
                </tr>
                <tr>
                    <th st-sort="name" st-sort-default="true">Name</th>
                    <th st-sort="icswData.$$allowed" class="text-center">Allowed</th>
                    <th st-sort="icswData.$$menuHeader" class="text-center">Header</th>
                    <th st-sort="icswData.$$menuEntry" class="text-center">Entry</th>
                    <th class="text-center">Quicklink</th>
                    <th class="text-center">Dashboard</th>
                    <th>PageTitle</th>
                    <th>Menu Header Info</th>
                    <th>Menu Entry Info</th>
                    <th class="text-center">Dashboard Info</th>
                    <th>Rights</th>
                    <th>Licenses</th>
                    <th>Service Types</th>
                    <th colspan="1" class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in entries_displayed">
                    <td>{{ obj.name }}</td>
                    <td class="text-center">{{ obj.icswData.$$allowed | yesno1 }}</td>
                    <td class="text-center">{{ obj.icswData.$$menuHeader | yesno1 }}</td>
                    <td class="text-center">{{ obj.icswData.$$menuEntry | yesno1 }}</td>
                    <td class="text-center">{{ obj.icswData.validForQuicklink | yesno1 }}</td>
                    <td class="text-center">{{ obj.icswData.$$dashboardEntry | yesno1 }}</td>
                    <td>{{ obj.icswData.pageTitle }}</td>
                    <td>
                        <span ng-show="obj.icswData.$$menuHeader">
                            {{ obj.icswData.menuHeader.key }} <span ng-class="get_header_class(obj)"></span> ({{ obj.icswData.menuHeader.ordering }})
                        </span>
                    </td>
                    <td>
                        <span ng-show="obj.icswData.$$menuEntry">
                            [{{ obj.icswData.menuEntry.menukey }}] {{ obj.icswData.menuEntry.name }} <span ng-class="get_entry_class(obj)"></span> ({{ obj.icswData.menuEntry.ordering }})
                        </span>
                    </td>
                    <td class="text-center">
                        <span ng-show="obj.icswData.$$dashboardEntry">
                            ({{ obj.icswData.dashboardEntry.size_x }} x {{ obj.icswData.dashboardEntry.size_y }})
                            <span ng-show="obj.icswData.dashboardEntry.default_enabled">
                                , default
                            </span>
                            <span ng-show="obj.icswData.dashboardEntry.allow_state">
                                , state
                            </span>
                            <span ng-show="obj.icswData.dashboardEntry.allow_show">
                                , popup
                            </span>
                        </span>
                    </td>
                    <td>
                        {{ obj.icswData.$$rights_info }}
                    </td>
                    <td>
                        {{ obj.icswData.$$licenses_info }}
                    </td>
                    <td>
                        {{ obj.icswData.$$serviceTypes_info }}
                    </td>
                    <td class="text-right">
                        <icsw-tools-button type="create" value="go" size="xs" ng-click="go($event, obj)"></icsw-tools-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
