<script type="text/ng-template" id="icsw.task.choose.task">
    <form class="form-horizontal" name="form_data">
        <h3 ng-show="running_task">Currently active task: {{ running_task.task_def.name }}</h3>
        <fieldset>
            <legend>Select a task</legend>
            <div class="form-group">
                <label class="control-label col-sm-4 icsw-formlabel">Task</label>
                <div class="controls col-sm-8">
                    <div class='input-group maxwidth500'>
                        <ui-select ng-model="edit_obj.task_def" ng-change="task_changed()">
                            <ui-select-match class="ui-select-match" placeholder="Select a Task">
                                {{ $select.selected.info }}
                            </ui-select-match>
                            <ui-select-choices
                                class="ui-select-choices"
                                repeat="entry.task_def_id as entry in task_container.list | props_filter:{info:$select.search}"
                            >
                                <div ng-bind-html="entry.info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4 icsw-formlabel">Description</label>
                <div class="controls col-sm-8">
                    {{ active_task.json.description.en.text }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Settings</legend>
            <div class="form-group">
                <label class="control-label col-sm-4 icsw-formlabel">
                    Show guide
                </label>
                <div class="controls col-sm-8">
                    <icsw-tools-yes-no flag="settings.show_guide"></icsw-tools-yes-no>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ new_task_def.json.taskStep.length }} Steps defined</legend>
            <ul class="list-group">
                <li ng-class="lgi_class(step)" ng-repeat="step in new_task_def.json.taskStep">
                    <h4>Step {{ step.$$idx + 1 }} of {{ new_task_def.json.taskStep.length }}:</h4>
                    {{ step.$$info_str }}
                </li>
            </ul>
        </fieldset>
    </form>
</script>


<script type="text/ng-template" id="icsw.task.progress.overview">
    <div class="container-fluid" ng-if="struct.display">
        <div class="row" class="bg-info">
            <div class="col-md-12">
                <icsw-tools-button
                    size="xs"
                    type="modify"
                    ng-click="choose_task($event)"
                ></icsw-tools-button>
                <icsw-tools-button
                    type="show"
                    size="xs"
                    ng-click="hide_guide($event)"
                    icsw-value="'hide'"
                ></icsw-tools-button>
                <icsw-tools-button
                    type="delete"
                    size="xs"
                    ng-click="stop_task($event)"
                    icsw-value="'stop'"
                ></icsw-tools-button>
                Active Task: {{ struct.active_task.task_def.name }}
                <icsw-task-progress-display></icsw-task-progress-display>
            </div>
        </div>
    </div>
</script>
