<script type="text/ng-template" id="icsw.layout.widgets">
    <div
        class="btn-group"
        uib-dropdown
        is-open="ctrl.struct.menu_open"
    >
        <button
            type="button"
            class="btn btn-default"
            uib-dropdown-toggle
            ng-disabled="disabled"
        >
            <span class="fa fa-superpowers"></span>
            Widget
            <span class="caret"></span>
        </button>
        <ul
            class="dropdown-menu"
            role="menu"
            uib-dropdown-menu
        >
            <li class="menuitem" ng-repeat="(name, struct) in ctrl.OV_STRUCT">
                <a href="" ng-click="ctrl.show_overlay($event, name)">
                    {{ struct.name }}
                </a>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="icsw.layout.table.filter">
    <ui-select
        ng-model="ctrl.entry.selected"
        ng-change="ctrl.filter.update($event)"
    >
        <ui-select-match class="ui-select-match" placeholder="{{ ctrl.entry.placeholder }}">
            {{ $select.selected.string }}
        </ui-select-match>
        <ui-select-choices repeat="choice in ctrl.entry.choices">
            <div ng-bind="choice.string"></div>
        </ui-select-choices>
    </ui-select>
</script>

<script type="text/ng-template" id="icsw.layout.table.filter.mult">
    <ui-select
        multiple
        ng-model="ctrl.entry.selected"
        ng-change="ctrl.filter.update($event)"
    >
        <ui-select-match class="ui-select-match" placeholder="{{ ctrl.entry.placeholder }}">
            {{ $item.string }}
        </ui-select-match>
        <ui-select-choices repeat="choice in ctrl.entry.choices">
            <div ng-bind="choice.string"></div>
        </ui-select-choices>
    </ui-select>
</script>
