<script type="text/ng-template" id="icsw.livestatus.mon.table.view">
    <div uib-alert class="alert-warning" ng-show="!struct.monitoring_data.services.length">No service results</div>
    <table
        st-table="entries_displayed"
        st-safe-src="struct.monitoring_data.services"
        class="table table-condensed table-hover table-striped"
        style="font-size:100%;width:auto;"
        ng-if="struct.monitoring_data.services.length"
    >
        <thead>
            <tr>
                <td colspan="99" style="vertical-align:middle;">
                    <span icsw-tools-pagination icsw-callback="pagination_changed" st-items-by-page="20" possible-items-by-page="20,50,100,200,500,1000"></span>
                    <icsw-livestatus-service-circle-info icsw-monitoring-data="struct.monitoring_data"></icsw-livestatus-service-circle-info>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <input placeholder="filter..." st-search="$$search_string" class="form-control input-sm" type="search">
                    </input>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <icsw-tools-show-hide-columns icsw-callback="columns_changed" columns="state devflags devcats state_type description monflags moncats output" create-show-column="true"></icsw-tools-show-hide-columns>
                </td>
            </tr>
            <tr>
                <th st-sort="host_name" st-sort-default="true">device</th>
                <th ng-show="show_column.devflags">DevFlags</th>
                <th ng-show="show_column.devcats">DevCats</th>
                <th ng-show="show_column.state" st-sort="state">state</th>
                <th ng-show="show_column.description" st-sort="description">description</th>
                <th ng-show="show_column.monflags">MonFlags</th>
                <th ng-show="show_column.moncats">MonCats</th>
                <th st-sort="last_check">last check</th>
                <th st-sort="last_state_change">last change</th>
                <th ng-show="show_column.output" st-sort="plugin_output">result</th>
            </tr>
        </thead>
        <tbody>
            <tr icsw-livestatus-mon-table-row
                ng-repeat="service in entries_displayed"
            >
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.livestatus.mon.table.row">
    <td ng-class="service.$$host_mon_result.$$icswStateClass" class="text-nowrap">
        <button type="button" class="btn btn-xs" ng-class="service.$$host_mon_result.$$icswStateBtnClass" ng-click="show_device($event, service.$$host_mon_result)">
            {{ service.$$host_mon_result.display_name }}
        </button>
    </td>
    <td class="text-nowrap text-center" ng-show="show_column.devflags">
        <span ng-show="service.$$host_mon_result.$$icswShowAttemptInfo" class="label" ng-class="service.$$host_mon_result.$$icswAttemptLabelClass">
            {{ service.$$host_mon_result.$$icswAttemptInfo }}
        </span>
        <span ng-show="service.$$host_mon_result.$$icswPassiveCheck" title="host is passive checked" class="glyphicon glyphicon-download"></span>
    </td>
    <td ng-show="show_column.devcats" class="text-nowrap">
        {{ service.$$host_mon_result.$$icswCategories }}
    </td>
    <td class="text-nowrap" ng-show="show_column.state" ng-class="service.$$icswStateClass">
        {{ service.$$icswStateString }}
        <span ng-show="show_column.state_type" class="pull-right badge">{{ service.$$icswStateTypeString }}</span>
    </td>
    <td class="text-nowrap" ng-show="show_column.description">{{ service.display_name }}</td>
    <td class="text-nowrap text-center" ng-show="show_column.monflags">
        <span class="label" ng-class="service.$$icswAttemptLabelClass" title="attempt info">{{ service.$$icswAttemptInfo }}</span>
        <span class="fa fa-pencil" title="acknowledgment status" ng-show="service.acknowledged == '1'"></span>
        <span ng-show="service.$$icswPassiveCheck" title="service is passive checked" class="glyphicon glyphicon-download"></span>
    </td>
    <td class="text-nowrap" ng-show="show_column.moncats">{{ service.$$icswCategories }}</td>
    <td class="text-nowrap">{{ service.$$icswLastCheckString }}</td>
    <td class="text-nowrap">{{ service.$$icswLastStateChangeString }}</td>
    <td ng-show="show_column.output">{{ service.plugin_output }}</td>
</script>

<script type="text/ng-template" id="icsw.livestatus.device.table.view">
    <div uib-alert class="alert-warning" ng-show="!struct.monitoring_data.hosts.length">No device results</div>
    <table
        st-table="entries_displayed"
        st-safe-src="struct.monitoring_data.hosts"
        class="table table-condensed table-hover table-striped"
        style="font-size:100%;width:auto;"
        ng-if="struct.monitoring_data.hosts.length"
    >
        <thead>
            <tr>
                <td colspan="99" style="vertical-align:middle;">
                    <span icsw-tools-pagination icsw-callback="pagination_changed" st-items-by-page="20" possible-items-by-page="20,50,100,200,500,1000"></span>
                    <icsw-livestatus-device-circle-info icsw-monitoring-data="struct.monitoring_data"></icsw-livestatus-device-circle-info>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <input placeholder="filter..." st-search="$$search_string" class="form-control input-sm" type="search">
                    </input>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <icsw-tools-show-hide-columns icsw-callback="columns_changed" columns="devcats state state_type flags output" create-show-column="true"></icsw-tools-show-hide-columns>
                </td>
            </tr>
            <tr>
                <th st-sort="host_name" st-sort-default="true">device</th>
                <th ng-show="show_column.devcats">DevCats</th>
                <th ng-show="show_column.state" st-sort="state">state</th>
                <th ng-show="show_column.flags">flags</th>
                <th ng-show="show_column.description" st-sort="description">description</th>
                <th st-sort="last_check">last check</th>
                <th st-sort="last_state_change">last change</th>
                <th ng-show="show_column.output" st-sort="plugin_output">result</th>
            </tr>
        </thead>
        <tbody>
            <tr icsw-livestatus-device-table-row
                ng-repeat="host in entries_displayed"
            >
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.livestatus.device.table.row">
    <td ng-class="host.$$icswStateClass" class="text-nowrap">
        <button type="button" class="btn btn-xs" ng-class="host.$$icswStateBtnClass" ng-click="show_device($event, host)">{{ host.display_name }}</button>
    </td>
    <td ng-show="show_column.devcats" class="text-nowrap">
        {{ host.$$icswCategories }}
    </td>
    <td class="text-nowrap" ng-show="show_column.state" ng-class="host.$$icswStateClass">
        {{ host.$$icswStateString }}
        <span ng-show="show_column.state_type" class="pull-right badge">{{ host.$$icswStateTypeString }}</span>
    </td>
    <td class="text-nowrap text-center" ng-show="show_column.flags">
        <span class="label" ng-class="host.$$icswAttemptLabelClass" title="attempt info">{{ host.$$icswAttemptInfo }}</span>
        <span class="fa fa-pencil" title="acknowledgment status" ng-show="host.acknowledged == '1'"></span>
        <span ng-show="host.$$icswPassiveCheck" title="host is passive checked" class="glyphicon glyphicon-download"></span>
    </td>
    <td class="text-nowrap">{{ host.$$icswLastCheckString }}</td>
    <td class="text-nowrap">{{ host.$$icswLastStateChangeString }}</td>
    <td ng-show="show_column.output">{{ host.plugin_output }}</td>
</script>
