<script type="text/ng-template" id="icsw.livestatus.mon.table.view">
    <div uib-alert class="alert-warning" ng-show="!struct.monitoring_data.services.length">No Service Results</div>
    <table
        st-table="entries_displayed"
        st-safe-src="struct.monitoring_data.services"
        class="table table-condensed table-hover table-striped"
        style="font-size:100%;"
        ng-if="struct.monitoring_data.services.length"
    >
        <thead>
            <tr>
                <td colspan="99" style="vertical-align:middle;">
                    <h3 class="pull-left" style="margin: 3px 10px 0 0;">Services</h3>
                    <span class="pull-left" style="height:25px; width:25px;">
                        <icsw-livestatus-circle-info
                            icsw-monitoring-data="struct.monitoring_data"
                            icsw-display-type="service"
                            icsw-notifier="struct.external_notifier"
                        ></icsw-livestatus-circle-info>
                    </span>
                    <span class="pull-left" style="margin: 4px 0 0 5px;">
                        <icsw-livestatus-text-info
                            icsw-monitoring-data="struct.monitoring_data"
                            icsw-display-type="service"
                            icsw-notifier="struct.external_notifier"
                        ></icsw-livestatus-text-info>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <div class="pull-left">
                        <input st-search="$$search_string" class="form-control form-control-inline" style="margin-right:20px;" placeholder="Filter ..." type="search"/>
                    </div>
                    <div icsw-tools-pagination st-items-by-page="20" icsw-callback="pagination_changed"
                         possible-items-by-page="20,50,100,200,500,1000" class="pull-left" style="margin:4px 15px 0 0;">
                    </div>
                    <div style="margin-top:4px;">
                        <icsw-tools-button
                            type="modify"
                            size="sm"
                            icsw-value="struct.modify_value"
                            ng-show="struct.selected"
                            ng-click="modify_entries($event)"
                        ></icsw-tools-button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <icsw-tools-show-hide-columns icsw-callback="columns_changed" columns="State DevFlags DevCats StateType Description MonFlags MonCats Output" create-show-column="true">
                    </icsw-tools-show-hide-columns>
                </td>
            </tr>
            <tr>
                <th st-sort="host_name" st-sort-default="true">Device</th>
                <th ng-show="show_column.DevFlags">DevFlags</th>
                <th ng-show="show_column.DevCats">DevCats</th>
                <th ng-show="show_column.State" st-sort="State">State</th>
                <th ng-show="show_column.State" st-sort="State"></th>
                <th ng-show="show_column.Description" st-sort="Description">Description</th>
                <th ng-show="show_column.MonFlags">MonFlags</th>
                <th ng-show="show_column.MonCats">MonCats</th>
                <th st-sort="LastCheck" class="text-nowrap">Last Check</th>
                <th st-sort="LastStateChange" class="text-nowrap">Last Change</th>
                <th ng-show="show_column.Output" st-sort="plugin_output">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr icsw-livestatus-mon-table-row icsw-livestatus-table-row-sel="service"
                ng-repeat="service in entries_displayed"
            >
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.livestatus.mon.table.row">
    <td ng-class="service.$$host_mon_result.$$icswStateClass" class="text-nowrap">
        <button type="button" class="btn btn-xs" ng-class="service.$$host_mon_result.$$icswStateBtnClass" ng-click="show_device($event, service.$$host_mon_result)">
            {{ service.$$host_mon_result.display_name }}
        </button>
    </td>
    <td class="text-nowrap text-center" ng-show="show_column.DevFlags">
        <div class="text-nowrap">
            <span ng-show="service.$$host_mon_result.$$icswShowAttemptInfo" class="label" ng-class="service.$$host_mon_result.$$icswAttemptLabelClass">
                {{ service.$$host_mon_result.$$icswAttemptInfo }}
            </span>
            <span ng-show="service.$$host_mon_result.$$icswPassiveCheck" title="host is passive checked" class="glyphicon glyphicon-download"></span>
        </div>
    </td>
    <td ng-show="show_column.DevCats" class="text-nowrap">
        {{ service.$$host_mon_result.$$icswCategories }}
    </td>
    <td class="text-nowrap" ng-show="show_column.State" ng-class="service.$$icswStateClass">
        {{ service.$$icswStateString }}
    </td>
    <td ng-show="show_column.State" ng-class="service.$$icswStateClass">
        <span ng-show="show_column.StateType" class="badge">{{ service.$$icswStateTypeString|capitalize }}</span>
    </td>
    <td class="text-nowrap" ng-show="show_column.Description">{{ service.display_name }}</td>
    <td class="text-nowrap text-center" ng-show="show_column.MonFlags">
        <span class="label" ng-class="service.$$icswAttemptLabelClass" title="attempt info">{{ service.$$icswAttemptInfo }}</span>
        <span class="fa fa-pencil" title="acknowledgment status" ng-show="service.acknowledged == '1'"></span>
        <span ng-show="service.$$icswPassiveCheck" title="service is passive checked" class="glyphicon glyphicon-download"></span>
    </td>
    <td class="text-nowrap" ng-show="show_column.MonCats">{{ service.$$icswCategories }}</td>
    <td class="text-nowrap">{{ service.$$icswLastCheckString }}</td>
    <td class="text-nowrap">{{ service.$$icswLastStateChangeString }}</td>
    <td ng-show="show_column.Output">
        <div ng-class="{'text-nowrap':!service.$$selected}" tooltip-placement="left" uib-tooltip="{{ service.plugin_output }}">
            {{ service.plugin_output }}
        </div>
    </td>
</script>

<script type="text/ng-template" id="icsw.livestatus.device.table.view">
    <div uib-alert class="alert-warning" ng-show="!struct.monitoring_data.hosts.length">No Device Results</div>
    <table
        st-table="entries_displayed"
        st-safe-src="struct.monitoring_data.hosts"
        class="table table-condensed table-hover table-striped"
        style="font-size:100%;"
        ng-if="struct.monitoring_data.hosts.length"
    >
        <thead>
            <tr>
                <td colspan="99" style="vertical-align:middle;">
                    <h3 class="pull-left" style="margin: 4px 10px 0 0;">Devices</h3>
                    <span class="pull-left" style="height:25px; width:25px;">
                        <icsw-livestatus-circle-info
                            icsw-monitoring-data="struct.monitoring_data"
                            icsw-display-type="device"
                            icsw-notifier="struct.external_notifier"
                        ></icsw-livestatus-circle-info>
                    </span>
                    <span class="pull-left" style="margin: 4px 0 0 5px;">
                        <icsw-livestatus-text-info
                            icsw-monitoring-data="struct.monitoring_data"
                            icsw-display-type="device"
                            icsw-notifier="struct.external_notifier"
                        ></icsw-livestatus-text-info>
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <div class="pull-left">
                        <input st-search="$$search_string" class="form-control form-control-inline" style="margin-right:20px;" placeholder="Filter ..." type="search"/>
                    </div>
                    <div icsw-tools-pagination st-items-by-page="20" icsw-callback="pagination_changed"
                         possible-items-by-page="20,50,100,200,500,1000" class="pull-left" style="margin:4px 15px 0 0;">
                    </div>
                    <div style="margin-top:4px;">
                        <icsw-tools-button
                            type="modify"
                            size="sm"
                            icsw-value="struct.modify_value"
                            ng-show="struct.selected"
                            ng-click="modify_entries($event)"
                        ></icsw-tools-button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="99">
                    <icsw-tools-show-hide-columns icsw-callback="columns_changed" columns="DevCats State StateType Flags Output" create-show-column="true"></icsw-tools-show-hide-columns>
                </td>
            </tr>
            <tr>
                <th st-sort="host_name" st-sort-default="true">Device</th>
                <th ng-show="show_column.DevCats">DevCats</th>
                <th ng-show="show_column.State" st-sort="State">State</th>
                <th ng-show="show_column.State"></th>
                <th ng-show="show_column.Flags">Flags</th>
                <!--<th ng-show="show_column.Description" st-sort="description">Description</th>-->
                <th st-sort="last_check" class="text-nowrap">Last Check</th>
                <th st-sort="last_state_change" class="text-nowrap">Last Change</th>
                <th ng-show="show_column.Output" st-sort="plugin_output">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr
                icsw-livestatus-device-table-row
                icsw-livestatus-table-row-sel="host"
                ng-repeat="host in entries_displayed"
            >
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.livestatus.device.table.row">
    <td ng-class="host.$$icswStateClass" class="text-nowrap">
        <button type="button" class="btn btn-xs" ng-class="host.$$icswStateBtnClass" ng-click="show_device($event, host)">{{ host.display_name }}</button>
    </td>
    <td ng-show="show_column.DevCats" class="text-nowrap">
        {{ host.$$icswCategories }}
    </td>
    <td class="text-nowrap" ng-show="show_column.State" ng-class="host.$$icswStateClass">
        {{ host.$$icswStateString }}
    </td>
    <td ng-show="show_column.State" ng-class="host.$$icswStateClass">
        <span ng-show="show_column.StateType" class="badge">{{ host.$$icswStateTypeString }}</span>
    </td>
    <td class="text-nowrap text-center" ng-show="show_column.Flags">
        <span class="label" ng-class="host.$$icswAttemptLabelClass" title="attempt info">{{ host.$$icswAttemptInfo }}</span>
        <span class="fa fa-pencil" title="acknowledgment status" ng-show="host.acknowledged == '1'"></span>
        <span ng-show="host.$$icswPassiveCheck" title="host is passive checked" class="glyphicon glyphicon-download"></span>
    </td>
    <td class="text-nowrap">{{ host.$$icswLastCheckString }}</td>
    <td class="text-nowrap">{{ host.$$icswLastStateChangeString }}</td>
    <td ng-show="show_column.Output">
         <div class="text-nowrap" tooltip-placement="left" uib-tooltip="{{ host.plugin_output }}">
        {{ host.plugin_output }}
         </div>
    </td>
</script>

<script type="text/ng-template" id="icsw.livestatus.modify.entries">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Action</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Action
                </label>
                <div class="controls col-sm-8">
                    <ui-select ng-model="edit_obj.action" class="maxwidth500" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="Action">
                            {{ $select.selected.long }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value as value in valid_actions | props_filter:{long:$select.search}">
                            <div ng-bind-html="value.long | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset/>
    </form>
</script>
