<script type="text/ng-template" id="icsw.user.license.overview">
    <!--
    <h3>License settings (OLD) ({{ licenses.length }})</h3>
    <table class="table table-condensed table-hover" style="width:auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Enabled</th>
                <th colspan="10">Services needed</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lic in licenses">
                <td>{{ lic.name }}</td>
                <td>{{ lic.description }}</td>
                <td>
                    <input type="button" ng-class="get_lic_class(lic)" ng-value="get_lic_value(lic)" ng-click="change_lic(lic)"></input>
                </td>
                <td ng-show="get_services(lic.name).length == 0">---</td>
                <td ng-repeat="srv in get_services(lic.name)" ng-class="get_service_state(srv)">{{ srv }}</td>
            </tr>
        </tbody>
    </table>
    -->

    <h3>License overview</h3>

    <accordion close-others="false">

        <accordion-group is-open="your_licenses_open" is-disabled="license_views_disabled">
            <accordion-heading>
                Your licenses for this cluster
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': your_licenses_open, 'glyphicon-chevron-right': !your_licenses_open}"></i>
            </accordion-heading>

            <icsw-user-license-your-licenses></icsw-user-license-your-licenses>
        </accordion-group>


        <accordion-group is-open="lic_packs_open" is-disabled="license_views_disabled">
            <accordion-heading>
                License packages
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': lic_packs_open, 'glyphicon-chevron-right': !lic_packs_open}"></i>
            </accordion-heading>

            <icsw-user-license-packages></icsw-user-license-packages>
        </accordion-group>

        <accordion-group is-open="lic_upload_open">
            <accordion-heading>
                Upload license file
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': lic_upload_open, 'glyphicon-chevron-right': !lic_upload_open}"></i>
            </accordion-heading>

            <div style="width: 300px; float: left; margin-right: 10px;">
                <input type="file" nv-file-select="" class="form-control btn btn-default btn-file" uploader="uploader">
            </div>
            <input type="button" ng-show="uploader.queue.length " class="btn btn-warning btn-sm" value="upload"
                   ng-click="uploader.uploadAll()">
        </accordion-group>

    </accordion>

</script>

<script type="text/ng-template" id="icsw.user.license.your_licenses">

    <table st-table="entries_displayed" st-safe-src="all_licenses" class="table table-condensed table-hover"
           style="width:auto;">
        <thead>
            <tr>
                <th st-sort="name">License</th>
                <th st-sort="description">Description</th>
                <th colspan="2">Status</th>
                <th></th>
                <th>Parameters</th>
                <th>Type</th>
                <th>License package</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lic in entries_displayed">
                <td><strong>{{lic.name}}</strong></td>
                <td>{{lic.description}}</td>
                <td ng-class="get_license_state_bootstrap_class(get_license_state(lic.id).state_id)">
                    <i ng-attr-class="{{get_license_state_icon_class(get_license_state(lic.id).state_id)}}"></i>
                </td>
                <td ng-class="get_license_state_bootstrap_class(get_license_state(lic.id).state_id)">
                    {{get_license_state(lic.id).state_str}}
                </td>
                <td>{{get_license_state(lic.id).date_info}}</td>
                <td>
                    <div ng-repeat="(param_type, param_value) in get_license_state(lic.id).lic.parameters">
                        <strong>{{param_type}}</strong>: {{param_value}}
                    </div>
                </td>
                <td>{{get_license_state(lic.id).package.type_name}}</td>
                <td>{{get_license_state(lic.id).package.name}}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.user.license.packages">
    <tabset>
        <tab ng-repeat="pack in license_packages | orderBy:package_order_fun:true" heading="{{pack.name}}">
            <h4>{{pack.name}}</h4>

            <table class="table table-condensed table-hover" style="width: auto;">
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>{{pack.customer}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{pack.type_name}}</td>
                    </tr>
                </tbody>

            </table>

            <accordion close-others="true">
                <accordion-group is-open="cluster_accordion_open[$index]"
                                 ng-repeat="data in get_list(pack.cluster_licenses) | orderBy:cluster_order_fun">
                    <!-- workaround for angular bug https://github.com/angular/angular.js/issues/1286 -->
                    <accordion-heading>
                        <!-- data[0] is cluster_id, data[1] is cluster_licenses -->
                        {{get_cluster_title(data[0])}}
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': cluster_accordion_open[$index], 'glyphicon-chevron-right': !cluster_accordion_open[$index]}"></i>
                    </accordion-heading>
                    <table st-table="entries_displayed" st-safe-src="data[1]" class="table table-condensed table-hover"
                           style="width:auto;">
                        <thead>
                            <tr>
                                <th st-sort="id" st-sort-default="true" width="150">License</th>
                                <th width="100" colspan="2">State</th>
                                <th st-sort="valid_from">Valid from</th>
                                <th st-sort="valid_to">Valid to</th>
                                <th>Parameters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pack_lic in entries_displayed">
                                <td>{{get_license_by_id(pack_lic.id).name}}</td>
                                <td ng-class="get_license_bootstrap_class(pack_lic)">
                                    <i ng-attr-class="{{get_license_state_icon_class(get_license_state(pack_lic).state_id)}}"></i>
                                </td>
                                <td ng-class="get_license_bootstrap_class(pack_lic)">
                                    {{get_license_state(pack_lic).state_str}}
                                </td>
                                <td>{{pack_lic.valid_from | date:'yyyy-MM-dd'}}</td>
                                <td>{{pack_lic.valid_to | date:'yyyy-MM-dd'}}</td>
                                <td>
                                    <div ng-repeat="(param_type, param_value) in pack_lic.parameters">
                                        <strong>{{param_type}}</strong>: {{param_value}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>

        </tab>


    </tabset>
</script>
