<script type="text/ng-template" id="icsw.user.license.overview">
    <h3>License settings (OLD) ({{ licenses.length }})</h3>
    <table class="table table-condensed table-hover" style="width:auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Enabled</th>
                <th colspan="10">Services needed</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lic in licenses">
                <td>{{ lic.name }}</td>
                <td>{{ lic.description }}</td>
                <td>
                    <input type="button" ng-class="get_lic_class(lic)" ng-value="get_lic_value(lic)" ng-click="change_lic(lic)"></input>
                </td>
                <td ng-show="get_services(lic.name).length == 0">---</td>
                <td ng-repeat="srv in get_services(lic.name)" ng-class="get_service_state(srv)">{{ srv }}</td>
            </tr>
        </tbody>
    </table>

    <h3>License (NEW)</h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Upload license file</h4>
        </div>
        <div class="panel-body">
            <div style="width: 250px; float: left; margin-right: 10px;">
                <input type="file" nv-file-select="" class="form-control btn btn-default btn-file" uploader="uploader">
            </div>
            <input type="button" ng-show="uploader.queue.length " class="btn btn-warning btn-sm" value="upload"
                   ng-click="uploader.uploadAll()">
        </div>
    </div>


</script>
