
<script type="text/ng-template" id="icsw.monitoring.cluster">
    <uib-alert type="warning" ng-show="!struct.tree_valid">Loading tree...</uib-alert>
    <uib-tabset ng-cloak ng-show="struct.tree_valid">

        <uib-tab heading="Host Clusters">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringHostClusterService">
                <h3>
                    Host Cluster ({{ entries.length }} entries),
                    <icsw-tools-button
                        disabled="config_service.get_data_incomplete_error()"
                        type="create"
                        value="create new"
                        size="xs"
                        style="display: inline-block"
                        itle="{{ config_service.get_data_incomplete_error() }}"
                        ng-click="create($event, null)">
                    </icsw-tools-button>
                </h3>
                <table st-table="entries_displayed" st-safe-src="entries" class="table table-condensed table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                     possible-items-by-page="10,20,50,100,200,500,1000"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="name" st-sort-default="true">Name</th>
                            <th st-sort="description">Description</th>
                            <th st-sort="mon_service_templ">ServiceTemplate</th>
                            <th st-sort="main_device">Main device</th>
                            <th st-sort="devices">Members</th>
                            <th st-sort="warn_value">warn</th>
                            <th st-sort="error_value">error</th>
                            <th st-sort="user_editable">Edit</th>
                            <th colspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in entries_displayed">
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.description }}</td>
                            <td>{{ tree.basic_tree.mon_service_templ_lut[obj.mon_service_templ].name }}</td>
                            <td>{{ device_tree.all_lut[obj.main_device].full_name }}</td>
                            <td>{{ obj.devices.length }}</td>
                            <td>{{ obj.warn_value }}</td>
                            <td>{{ obj.error_value }}</td>
                            <td>{{ obj.user_editable | yesno1 }}</td>
                            <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button></td>
                            <td><icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button></td>
                        </tr>
                    </tbody>
                </table>
                </icsw-tools-rest-table-new>
        </uib-tab>

        <uib-tab heading="Service Clusters">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringServiceClusterService">
                <h3>
                    Service Cluster ({{ entries.length }} entries),
                    <icsw-tools-button
                        disabled="config_service.get_data_incomplete_error()"
                        type="create"
                        value="create new"
                        size="xs"
                        style="display: inline-block"
                        title="{{ config_service.get_data_incomplete_error() }}"
                        ng-click="create($event, null)"
                    ></icsw-tools-button>
                </h3>
                <table st-table="entries_displayed" st-safe-src="entries" class="table table-condensed table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                     possible-items-by-page="10,20,50,100,200,500,1000"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="name" st-sort-default="true">Name</th>
                            <th st-sort="description">Description</th>
                            <th st-sort="mon_service_templ">ServiceTemplate</th>
                            <th st-sort="main_device">Main device</th>
                            <th st-sort="mon_check_command">Check command</th>
                            <th st-sort="devices">Members</th>
                            <th st-sort="warn_value">warn</th>
                            <th st-sort="error_value">error</th>
                            <th st-sort="user_editable">Edit</th>
                            <th colspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in entries_displayed">
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.description }}</td>
                            <td>{{ tree.basic_tree.mon_service_templ_lut[obj.mon_service_templ].name }}</td>
                            <td>{{ device_tree.all_lut[obj.main_device].full_name }}</td>
                            <td>{{ tree.basic_tree.mon_check_command_lut[obj.mon_check_command].name }}</td>
                            <td>{{ obj.devices.length }}</td>
                            <td>{{ obj.warn_value }}</td>
                            <td>{{ obj.error_value }}</td>
                            <td>{{ obj.user_editable | yesno1 }}</td>
                            <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button></td>
                            <td><icsw-tools-button type="delete" size="xs" ng-click="delete($event , obj)"></icsw-tools-button></td>
                        </tr>
                    </tbody>
                </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

        <uib-tab heading="Host dependency templates">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringHostDependencyTemplateService"
                >
                <h3>
                    Host dependency templates ({{ entries.length }} entries),
                    <icsw-tools-button
                            disabled="config_service.get_data_incomplete_error()"
                            type="create"
                            value="create new"
                            size="xs"
                            style="display: inline-block"
                            title="{{ config_service.get_data_incomplete_error() }}"
                            ng-click="create($event, null)"
                    ></icsw-tools-button>
                </h3>
                 <table st-table="entries_displayed" st-safe-src="entries" class="table table-condensed table-hover table-striped" style="width:auto;">
                     <thead>
                         <tr>
                             <td colspan="99">
                                 <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="99">
                                 <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                      possible-items-by-page="10,20,50,100,200,500,1000"></div>
                             </td>
                         </tr>
                         <tr>
                             <th st-sort="name" st-sort-default="true">Name</th>
                             <th st-sort="inherits_parent">Inherits parent</th>
                             <th st-sort="priority">Priority</th>
                             <th st-sort="dependency_period">Period</th>
                             <th st-sort="efc_up">up/E</th>
                             <th st-sort="efc_down">down/E</th>
                             <th st-sort="efc_unreachable">unreach/E</th>
                             <th st-sort="efc_pending">pend/E</th>
                             <th st-sort="nfc_up">up/N</th>
                             <th st-sort="nfc_down">down/N</th>
                             <th st-sort="nfc_unreachable">unreach/N</th>
                             <th st-sort="nfc_pending">pend/N</th>
                             <th colspan="2" class="text-center">Action</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="obj in entries_displayed">
                             <td>{{ obj.name }}</td>
                             <td>{{ obj.inherits_parent | yesno1 }}</td>
                             <td>{{ obj.priority }}</td>
                             <td>{{ tree.basic_tree.mon_perod_lut[obj.dependency_period].name }}</td>
                             <td>{{ obj.efc_up | yesno1 }}</td>
                             <td>{{ obj.efc_down | yesno1 }}</td>
                             <td>{{ obj.efc_unreachable | yesno1 }}</td>
                             <td>{{ obj.efc_pending | yesno1 }}</td>
                             <td>{{ obj.nfc_up | yesno1 }}</td>
                             <td>{{ obj.nfc_down | yesno1 }}</td>
                             <td>{{ obj.nfc_unreachable | yesno1 }}</td>
                             <td>{{ obj.nfc_pending | yesno1 }}</td>
                             <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button></td>
                             <td><icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button></td>
                         </tr>
                     </tbody>
                 </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

        <uib-tab heading="Service dependency templates">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringServiceDependencyTemplateService"
                >
                <h3>
                    Service dependency templates ({{ entries.length }} entries),
                    <icsw-tools-button
                            disabled="config_service.get_data_incomplete_error()"
                            type="create"
                            value="create new"
                            size="xs"
                            style="display: inline-block"
                            title="{{ config_service.get_data_incomplete_error() }}"
                            ng-click="create($event, null)"
                    ></icsw-tools-button>
                </h3>
                 <table st-table="entries_displayed" st-safe-src="entries" class="table table-condensed table-hover" style="width:auto;">
                     <thead>
                         <tr>
                             <td colspan="99">
                                 <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                             </td>
                         </tr>
                         <tr>
                             <td colspan="99">
                                 <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                      possible-items-by-page="10,20,50,100,200,500,1000"></div>
                             </td>
                         </tr>
                         <tr>
                             <th st-sort="name" st-sort-default="true">Name</th st-sort="">
                             <th st-sort="inherits_parent">Inherits parent</th>
                             <th st-sort="priority">Priority</th>
                             <th st-sort="dependency_period">Period</th>
                             <th st-sort="efc_ok">ok/E</th>
                             <th st-sort="efc_warn">warn/E</th>
                             <th st-sort="efc_unknown">unknown/E</th>
                             <th st-sort="efc_critical">critical/E</th>
                             <th st-sort="efc_pending">pend/E</th>
                             <th st-sort="nfc_ok">ok/N</th>
                             <th st-sort="nfc_warn">warn/N</th>
                             <th st-sort="nfc_unknown">unknown/N</th>
                             <th st-sort="nfc_critical">critical/N</th>
                             <th st-sort="nfc_pending">pend/N</th>
                             <th colspan="2" class="text-center">Action</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="obj in entries_displayed">
                             <td>{{ obj.name }}</td>
                             <td>{{ obj.inherits_parent | yesno1 }}</td>
                             <td>{{ obj.priority }}</td>
                             <td>{{ tree.basic_tree.mon_perod_lut[obj.dependency_period].name }}</td>
                             <td>{{ obj.efc_ok | yesno1 }}</td>
                             <td>{{ obj.efc_warn | yesno1 }}</td>
                             <td>{{ obj.efc_unknown | yesno1 }}</td>
                             <td>{{ obj.efc_critical | yesno1 }}</td>
                             <td>{{ obj.efc_pending | yesno1 }}</td>
                             <td>{{ obj.nfc_ok | yesno1 }}</td>
                             <td>{{ obj.nfc_warn | yesno1 }}</td>
                             <td>{{ obj.nfc_unknown | yesno1 }}</td>
                             <td>{{ obj.nfc_critical | yesno1 }}</td>
                             <td>{{ obj.nfc_pending | yesno1 }}</td>
                             <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button></td>
                             <td><icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button></td>
                         </tr>
                     </tbody>
                 </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

        <uib-tab heading="Host dependencies">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringHostDependencyService"
                >
                <h3>
                    Host dependencies ({{ entries.length }} entries),
                    <icsw-tools-button
                        disabled="config_service.get_data_incomplete_error()"
                        type="create"
                        value="create new"
                        size="xs"
                        style="display: inline-block"
                        title="{{ config_service.get_data_incomplete_error() }}"
                        ng-click="create($event)"
                    ></icsw-tools-button>
                </h3>
                <table st-table="entries_displayed" st-safe-src="entries" class="table table-condensed table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                     possible-items-by-page="10,20,50,100,200,500,1000"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="devices" st-sort-default="true">Devices</th>
                            <th st-sort="dependent_devices">Dependent devices</th>
                            <th st-sort="mon_host_dependency_templ">Template</th>
                            <th st-sort="mon_host_cluster">Cluster</th>
                            <th colspan="2" class="text-center">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in entries_displayed">
                            <td>{{ obj.devices | resolve_n2m:config_service.device:'name' }}</td>
                            <td>{{ obj.dependent_devices | resolve_n2m:config_service.device:'name' }}</td>
                            <td>{{ obj.mon_host_dependency_templ |
                                array_lookup:config_service.mon_host_dependency_templ:'name' }}
                            </td>
                            <td>{{ obj.mon_host_cluster | array_lookup:config_service.mon_host_cluster:'name' }}</td>
                            <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button></td>
                            <td><icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button></td>
                        </tr>
                    </tbody>
                </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

        <uib-tab heading="Service dependencies">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringServiceDependencyService"
                >
                <h3>
                    Service dependencies ({{ entries.length }} entries),
                    <icsw-tools-button
                        disabled="config_service.get_data_incomplete_error()"
                        type="create"
                        value="create new"
                        size="xs"
                        style="display: inline-block"
                        title="{{config_service.get_data_incomplete_error()}}"
                        title="{{config_service.get_data_incomplete_error()}}"
                        ng-click="create($event, null)"
                    ></icsw-tools-button>
                </h3>
                <table st-table="entries_displayed" st-safe-src="entries" class="table table-condensed table-hover" style="width:auto;">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <input st-search="" class="form-control" placeholder="filter ..." type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                     possible-items-by-page="10,20,50,100,200,500,1000"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="devices" st-sort-default="true">Devices</th>
                            <th st-sort="mon_check_command">Check</th>
                            <th st-sort="dependent_devices">Dependent devices</th>
                            <th st-sort="dependent_mon_check_command">Dependent check</th>
                            <th st-sort="mon_service_dependency_templ">Template</th>
                            <th st-sort="mon_service_cluster">Cluster</th>
                            <th colspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in entries_displayed">
                            <td>{{ obj.devices | resolve_n2m:config_service.device:'name' }}</td>
                            <td>{{ obj.mon_check_command | array_lookup:config_service.mon_check_command:'name' }}</td>
                            <td>{{ obj.dependent_devices | resolve_n2m:config_service.device:'name' }}</td>
                            <td>{{ obj.dependent_mon_check_command | array_lookup:config_service.mon_check_command:'name' }} </td>
                            <td>{{ obj.mon_service_dependency_templ | array_lookup:config_service.mon_service_dependency_templ:'name' }} </td>
                            <td>{{ obj.mon_service_cluster | array_lookup:config_service.mon_service_cluster:'name' }}</td>
                            <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button></td>
                            <td><icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button></td>
                        </tr>
                    </tbody>
                </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.mon.host.cluster.form">
    <form class="form-horizontal" name="form_data">
        <h2>Host Cluster</h2>
        <fieldset>
            <legend>Base data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="128" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Description<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="255" name="description" ng-model="edit_obj.description" required="True" type="text"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Devices</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Main device<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.main_device" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a device">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="value.idx as value in device_tree.enabled_nm_list | orderBy:'name'| props_filter:{name:$select.search}"
                            group-by="'device_group_name'"
                        >
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Devices<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.devices" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select one ore more devices">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="value.idx as value in device_tree.enabled_nm_list | orderBy:'name'| props_filter:{name:$select.search}"
                            group-by="'device_group_name'"
                        >
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Service</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Mon service templ<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_service_templ" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a service template">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="value.idx as value in tree.basic_tree.mon_service_templ_list | orderBy:'name'| props_filter:{name:$select.search}"
                        >
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Warn value<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" max="128" min="0" name="warn_value" ng-model="edit_obj.warn_value" required="True" type="number" value="0"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Error value<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" max="128" min="0" name="error_value" ng-model="edit_obj.error_value" required="True" type="number" value="1"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.mon.service.cluster.form">
    <form class="form-horizontal" name="form_data">
        <h2>Service Cluster</h2>
        <fieldset>
            <legend>Base data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="128" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Description<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="255" name="description" ng-model="edit_obj.description" required="True" type="text"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Devices</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Main device<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.main_device" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a device">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="value.idx as value in device_tree.enabled_nm_list | orderBy:'name'| props_filter:{name:$select.search}"
                            group-by="'device_group_name'"
                        >
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Devices<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.devices" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select one ore more devices">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="value.idx as value in device_tree.enabled_nm_list | orderBy:'name'| props_filter:{name:$select.search}"
                            group-by="'device_group_name'"
                        >
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Service</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Mon service templ<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_service_templ" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a service template">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="value.idx as value in tree.basic_tree.mon_service_templ_list | orderBy:'name'| props_filter:{name:$select.search}"
                        >
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Mon check command<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_check_command" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a check command">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.basic_tree.mon_check_command_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Warn value<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" max="128" min="0" name="warn_value" ng-model="edit_obj.warn_value" required="True" type="number" value="0"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Error value<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" max="128" min="0" name="error_value" ng-model="edit_obj.error_value" required="True" type="number" value="1"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.mon.host.dependency.templ.form">
    <form class="form-horizontal" name="form_data">
        <h2>Host dependency template</h2>
        <fieldset>
            <legend>Base data</legend>
            <div class="form-group row">
                <label class="control-label col-sm-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3 requiredField">
                    Dependency period<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.dependency_period" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a period">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.basic_tree.mon_period_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3 requiredField">
                    Priority<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" max="128" min="-128" name="priority" ng-model="edit_obj.priority" required="True" type="number" value="0"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-7 control-label">
                    Inherits parent
                </label>
                <div class="col-sm-3 controls">
                    <icsw-tools-yes-no flag="edit_obj.inherits_parent"></icsw-tools-yes-no>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Execution failure criteria</legend>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Efc up
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.efc_up"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Efc down
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.efc_down"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-7 control-label">
                                Efc unreachable
                            </label>
                            <div class="col-sm-5 controls">
                                <icsw-tools-yes-no flag="edit_obj.efc_unreachable"></icsw-tools-yes-no>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label">
                                Efc pending
                            </label>
                            <div class="col-sm-5 controls">
                                <icsw-tools-yes-no flag="edit_obj.efc_pending"></icsw-tools-yes-no>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Notification failure criteria</legend>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc up
                        </label>
                        <div class="col-sm-3 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_up"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc down
                        </label>
                        <div class="col-sm-3 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_down"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc unreachable
                        </label>
                        <div class="col-sm-3 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_unreachable"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc pending
                        </label>
                        <div class="col-sm-3 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_pending"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.mon.service.dependency.templ.form">
    <form class="form-horizontal" name="form_data">
        <h2>Service dependence template</h2>
        <fieldset>
            <legend>Base data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Dependency period<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.dependency_period" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a period">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.basic_tree.mon_period_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Priority<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control" max="128" min="-128" name="priority" ng-model="edit_obj.priority" required="True" type="number" value="0"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-7 control-label">
                    Inherits parent
                </label>
                <div class="col-sm-3 controls">
                    <icsw-tools-yes-no flag="edit_obj.inherits_parent"></icsw-tools-yes-no>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Execution failure criteria</legend>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Efc OK
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.efc_ok"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Efc warn
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.efc_warn"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Efc unknown
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.efc_unknown"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-7 control-label">
                                Efc critical
                            </label>
                            <div class="col-sm-5 controls">
                                <icsw-tools-yes-no flag="edit_obj.efc_critical"></icsw-tools-yes-no>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-7 control-label">
                                Efc pending
                            </label>
                            <div class="col-sm-5 controls">
                                <icsw-tools-yes-no flag="edit_obj.efc_pending"></icsw-tools-yes-no>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Notification failure criteria</legend>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc OK
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_ok"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc warn
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_warn"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc unknown
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_unknown"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc critical
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_critical"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            Nfc pending
                        </label>
                        <div class="col-sm-5 controls">
                            <icsw-tools-yes-no flag="edit_obj.nfc_pending"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.mon.host.dependency.form">
    <form class="form-horizontal" name="form_data">
        <h2>Host dependency</h2>
        <fieldset>
            <legend>Basic settings</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Mon host dependency templ<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_host_dependency_templ" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a host dependency template">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in config_service.mon_host_dependency_templ | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Parent</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Devices
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.devices" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select one or more devices">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in config_service.device | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Child</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Dependent devices<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.dependent_devices" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select one or more devices">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in config_service.device | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Cluster</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Mon host cluster
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_host_cluster" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a host cluster">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in config_service.mon_host_cluster | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.mon.service.dependency.form">
    <form class="form-horizontal" name="form_data">
        <h2>Service dependency</h2>
        <fieldset>
            <legend>Basic settings</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Mon service dependency templ<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_service_dependency_templ" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a service dependency template">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.mon_service_dependency_templ_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Parent</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Devices
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.devices" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select one or more devices">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in device_tree.enabled_nm_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Mon check command<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_check_command" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a check command">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.basic_tree.mon_check_command_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Child</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Dependent devices<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select multiple="multiple" ng-model="edit_obj.dependent_devices" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select one or more devices">
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in device_tree.all_nm_enabled | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField">
                    Dependent mon check command<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.dependent_mon_check_command" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a check command">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.basic_tree.mon_check_command_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Cluster</legend>
            <div class="form-group">
                <label class="control-label col-sm-3">
                    Mon service cluster
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_service_cluster" style="max-width:400px; min-width:240px;">
                        <ui-select-match class="ui-select-match" placeholder="please select a service cluster">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in config_service.mon_service_cluster | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
    </form>
</script>
