
<script type="text/ng-template" id="icsw.monitoring.escalation">

    <div uib-alert class="alert-warning" ng-show="!struct.tree_valid">Loading tree...</div>
    <uib-tabset ng-cloak ng-show="struct.tree_valid">

        <uib-tab heading="Service Escalation Templates">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringServiceEscalationTemplateService">
                <h3>
                    Service Escalation Templates ({{ entries.length }} Entries)
                    <icsw-tools-button
                        icsw-disabled="config_service.get_data_incomplete_error()" type="create" value="create new"
                        style="display: inline-block"
                        size="xs"
                        title="{{ config_service.get_data_incomplete_error() }}"
                        ng-click="create($event)"
                    ></icsw-tools-button>
                </h3>
                <table st-table="entries_displayed" st-safe-src="entries"
                       class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <div class="pull-left"><input st-search="" class="form-control form-control-inline" style="margin-right:20px;" placeholder="filter ..." type="text"/></div>
                                <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                     possible-items-by-page="10,20,50,100,200,500,1000" class="pull-left" style="margin-top:4px;"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="name" st-sort-default="true">Name</th>
                            <th st-sort="first_notification">First Notification</th>
                            <th st-sort="last_notification">Last Notification</th>
                            <th st-sort="ninterval">Interval</th>
                            <th st-sort="esc_period">Period</th>
                            <th st-sort="nrecovery">Recovery</th>
                            <th st-sort="ncritical">Critical</th>
                            <th st-sort="nwarning">Warning</th>
                            <th st-sort="nunknown">Unknown</th>
                            <th st-sort="nflapping">Flapping</th>
                            <th st-sort="nplanned_downtime">Planned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in entries_displayed">
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.first_notification }}</td>
                            <td>{{ obj.last_notification }}</td>
                            <td>{{ obj.ninterval }}</td>
                            <td>{{ basic_tree.mon_period_lut[obj.esc_period].name }}</td>
                            <td>{{ obj.nrecovery | yesno1 }}</td>
                            <td>{{ obj.ncritical | yesno1 }}</td>
                            <td>{{ obj.nwarning | yesno1 }}</td>
                            <td>{{ obj.nunknown | yesno1 }}</td>
                            <td>{{ obj.nflapping | yesno1 }}</td>
                            <td>{{ obj.nplanned_downtime | yesno1 }}</td>
                            <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button>
                                <icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

        <uib-tab heading="Device Escalation">
            <icsw-tools-rest-table-new target-list="entries" config-service="icswMonitoringDeviceEscalationTemplateService">
                <h3>
                    Device Escalation Templates ({{ entries.length }} Entries)
                    <icsw-tools-button
                        icsw-disabled="config_service.get_data_incomplete_error()"
                        type="create"
                        value="create new"
                        size="xs"
                        style="display: inline-block"
                        title="{{ config_service.get_data_incomplete_error() }}"
                        ng-click="create($event, null)"
                    ></icsw-tools-button>
                </h3>
                <table st-table="entries_displayed" st-safe-src="entries"
                       class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <div class="pull-left"><input st-search="" class="form-control form-control-inline" style="margin-right:20px;" placeholder="filter ..." type="text"/></div>
                                <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                     possible-items-by-page="10,20,50,100,200,500,1000" class="pull-left" style="margin-top:4px;"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="name" st-sort-default="true">Name</th>
                            <th st-sort="first_notification">First Notification</th>
                            <th st-sort="last_notification">Last Notification</th>
                            <th st-sort="ninterval">Interval</th>
                            <th st-sort="esc_period">Period</th>
                            <th st-sort="mon_service_esc_templ">Service Escalation Template</th>
                            <th st-sort="nrecovery">Recovery</th>
                            <th st-sort="ndown">Down</th>
                            <th st-sort="nunreachable">Unreachable</th>
                            <th st-sort="nflapping">Flapping</th>
                            <th st-sort="nplanned_downtime">Planned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in entries_displayed">
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.first_notification }}</td>
                            <td>{{ obj.last_notification }}</td>
                            <td>{{ obj.ninterval }}</td>
                            <td>{{ basic_tree.mon_period_lut[obj.esc_period].name }}</td>
                            <td>{{ esc_tree.mon_service_esc_templ_lut[obj.mon_service_esc_templ].name }}</td>
                            <td>{{ obj.nrecovery | yesno1 }}</td>
                            <td>{{ obj.ndown | yesno1 }}</td>
                            <td>{{ obj.nunreachable | yesno1 }}</td>
                            <td>{{ obj.nflapping | yesno1 }}</td>
                            <td>{{ obj.nplanned_downtime | yesno1 }}</td>
                            <td><icsw-tools-button type="modify" size="xs" ng-click="edit($event, obj)"></icsw-tools-button>
                                <icsw-tools-button type="delete" size="xs" ng-click="delete($event, obj)"></icsw-tools-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </icsw-tools-rest-table-new>
        </uib-tab>

    </uib-tabset>

</script>

<script type="text/ng-template" id="icsw.mon.device.esc.templ.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Device Escalation Template Base Data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control maxwidth500" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Monitoring Service Escalation Template<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.mon_service_esc_templ" class="maxwidth500">
                        <ui-select-match class="ui-select-match" placeholder="please select a service escalation template">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in tree.mon_service_esc_templ_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Notifications</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    First Notification<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control maxwidth500" max="10" min="1" name="first_notification" ng-model="edit_obj.first_notification" required="True" type="number" value="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Last Notification<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control maxwidth500" max="10" min="1" name="last_notification" ng-model="edit_obj.last_notification" required="True" type="number" value="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Escalation Period<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.esc_period" class="maxwidth500" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="please select a time period">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in basic_tree.mon_period_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Interval<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control maxwidth500" max="10080" min="0" name="ninterval" ng-model="edit_obj.ninterval" required="True" type="number" value="1"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Notification</legend>
            <div class="row">
                <div class="col-xs-6" style="width:388px;">
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify on Recovery
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nrecovery"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify when Down
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.ndown"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify on Planned Downtime
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nplanned_downtime"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify when Unreachable
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nunreachable"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify when Flapping
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nflapping"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="icsw.mon.service.esc.templ.form">
    <form class="form-horizontal" name="form_data">
        <fieldset>
            <legend>Service Escalation Template Base Data</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Name<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="textinput textInput form-control maxwidth500" maxlength="192" name="name" ng-model="edit_obj.name" required="True" type="text"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Notifications</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    First Notification<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control maxwidth500" max="10" min="1" name="first_notification" ng-model="edit_obj.first_notification" required="True" type="number" value="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Last Notification<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control maxwidth500" max="10" min="1" name="last_notification" ng-model="edit_obj.last_notification" required="True" type="number" value="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    ESC Period<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <ui-select ng-model="edit_obj.esc_period" class="maxwidth500" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="please select a time period">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in basic_tree.mon_period_list | orderBy:'name'| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 requiredField icsw-formlabel">
                    Interval<span class="asteriskField">*</span>
                </label>
                <div class="controls col-sm-7">
                    <input class="numberinput form-control maxwidth500" max="10080" min="0" name="ninterval" ng-model="edit_obj.ninterval" required="True" type="number" value="1"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Notification</legend>
            <div class="row">
                <div class="col-xs-6" style="width:388px;">
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify on Recovery
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nrecovery"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify when Critical
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.ncritical"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify on Warning
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nwarning"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify when Unknown
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nunknown"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify when Flapping
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nflapping"></icsw-tools-yes-no>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-8 control-label icsw-formlabel">
                            Notify on Planned Downtime
                        </label>
                        <div class="col-sm-4 controls">
                            <icsw-tools-yes-no flag="edit_obj.nplanned_downtime"></icsw-tools-yes-no>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</script>

