<script type="text/ng-template" id="icsw.monitoring.build_info">
    <div class="container-fluid">
        <h3>
            Monitoring Control and Information
            <span class="text-warning" ng-show="struct.loading">Updating Data ...</span>
        </h3>
        <uib-accordion close-others="false" ng-if="struct.sys_info">
            <div uib-accordion-group class="panel-default" is-open="true">
                <uib-accordion-heading>
                    Current System Setup
                </uib-accordion-heading>
                <icsw-monitoring-sys-info-node icsw-master="struct.sys_info.master" icsw-slaves="struct.sys_info.slaves">
                </icsw-monitoring-sys-info-node>
                <div style="margin-top:10px;"></div>
                <icsw-tools-button size="sm" type="create" value="Create Configuration" ng-click="create_config($event)"></icsw-tools-button>
            </div>
            <div uib-accordion-group class="panel-default" is-open="false">
                <uib-accordion-heading>
                    Build Overview
                    <span ng-show="struct.sys_info">
                        ({{ struct.sys_info.num_builds }} Builds, {{ struct.sys_info.master_list.length }} shown)
                    </span>
                </uib-accordion-heading>
                <table
                    class="table table-condensed table-hover" style=""
                    st-table="entries_displayed"
                    st-safe-src="struct.sys_info.master_list"
                    ng-show="struct.sys_info.master_list.length > 0"
                >
                    <thead>
                        <tr>
                            <td colspan="99">
                                <div
                                    icsw-tools-pagination
                                    st-items-by-page="10"
                                    st-displayed-pages="11"
                                    possible-items-by-page="10,20,50,100,200,500,1000">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Device (#Worker)</th>
                            <th>Start</th>
                            <th>Configuration</th>
                            <th>Run / Sync</th>
                            <th class="text-right">Devices</th>
                            <th class="text-center">Monitoring Daemon Version</th>
                            <th class="text-center">Software Version</th>
                            <th class="text-center">Livestatus Version</th>
                            <th>Build Type</th>
                            <th>Data Size (Files)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="build in entries_displayed" ng-class="build.$$line_class">
                            <th>{{ struct.device_tree.all_lut[build.device].full_name }}
                                <span ng-show="build.mon_dist_slave_set.length">({{ build.mon_dist_slave_set.length }})</span>
                            </th>
                            <td>{{ build.$$build_time }} ({{ build.$$build_diff_time }})</td>
                            <td class="text-right">{{ build.$$build_conf_time }}</td>
                            <td class="text-right">{{ build.$$build_run_time }}</td>
                            <td class="text-right" ng-class="{'danger': build.unreachable_devices > 0}">{{ build.num_devices }}
                                <span ng-show="build.unreachable_devices"> ({{ build.unreachable_devices }})</span>
                            </td>
                            <td class="text-center">{{ build.mon_version }}</td>
                            <td class="text-center">{{ build.relayer_version }}</td>
                            <td class="text-center">{{ build.livestatus_version }}</td>
                            <td class="text-center">{{ build.$$build_type }}</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="slave in build.mon_dist_slave_set">
                            <td>({{ $index + 1 }}) {{ struct.device_tree.all_lut[slave.device].full_name }}</td>
                            <td>{{ slave.$$sync_start }} ({{ slave.$$sync_diff_time }})</td>
                            <td class="text-right">{{ slave.$$build_conf_time }}</td>
                            <td class="text-right">
                                {{ slave.$$sync_time }} <span ng-show="slave.num_runs > 1">({{ slave.num_runs}} )</span>
                            </td>
                            <td class="text-right">{{ slave.num_devices }}</td>
                            <td class="text-center">{{ slave.mon_version || '---' }}</td>
                            <td class="text-center">{{ slave.relayer_version || '---' }}</td>
                            <td class="text-center">{{ slave.livestatus_version }}</td>
                            <td class="text-center">{{ slave.$$build_type }}</td>
                            <td class="text-right">
                                {{ slave.size_data | get_size:1:1024 }} ({{ slave.num_files }})
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-accordion>
    </div>
</script>

<script type="text/ng-template" id="icsw.monitoring.sys.info.node">
    <div>
        <h4>Node Setup ({{ struct.nodes.length }}), {{ slaves.length }} Worker defined</h4>
        <table
            class="table table-condensed table-hover table-striped"
            style="width: auto;"
            ng-show="struct.nodes.length"
        >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Software Version</th>
                    <th>Monitoring Daemon Version</th>
                    <th>Liveview Version</th>
                    <th>Autostart</th>
                    <th>Ignore</th>
                    <th>Latest Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in struct.nodes">
                    <td>
                        {{ node.name }}
                    </td>
                    <td class="text-center">{{ node.version.relayer_version }}</td>
                    <td class="text-center">{{ node.version.mon_version }}</td>
                    <td class="text-center">{{ node.version.livestatus_version }}</td>
                    <td class="text-center">
                        <span ng-show="node.$$sysinfo_ok" ng-bind-html="node.sysinfo.start_process | yesno4"></span>
                    </td>
                    <td class="text-center">
                        <span ng-show="node.$$sysinfo_ok" ng-bind-html="node.sysinfo.ignore_process | yesno4"></span>
                    </td>
                    <td>{{ node.$$latest_contact }}</td>
                    <!-- <td>
                        {{ node }}
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div ng-show="struct.nodes.length">
            <div ng-show="struct.nodes[0].$$sysinfo_ok">
                Autostart: <icsw-tools-button
                    type="enable"
                    size="xs"
                    is-enable="master.sysinfo.start_process"
                    ng-click="toggle_flag($event, 'start_process')"
                ></icsw-tools-button>
                Ignore Process: <icsw-tools-button
                    type="enable"
                    size="xs"
                    is-enable="master.sysinfo.ignore_process"
                    ng-click="toggle_flag($event, 'ignore_process')"
                ></icsw-tools-button>
            </div>
            <h3 ng-show="!struct.nodes[0].$$sysinfo_ok" class="text-warning">No master syncer found</h3>
        </div>
    </div>
</script>
