/* device colors */
.svg-dev-up { fill: #66dd66; }
.svg-dev-down { fill: #ff7777; }
.svg-dev-unreach { fill: #ff0000; }
.svg-dev-unknown { fill: #ffcccc; }
.svg-dev-notmonitored { fill: #888888; }
.svg-dev-pending { fill: #ccccff; }
.svg-dev-unselected { fill: #dddddd; }

/* service colors */
.svg-srv-ok { fill: #66dd66; }
.svg-srv-warn { fill: #dddd88; }
.svg-srv-crit { fill: #ff7777; }
.svg-srv-unknown { fill: #ffcccc; }
.svg-srv-notmonitored { fill: #888888; }
.svg-srv-pending { fill: #ccccff; }
.svg-srv-unselected { fill: #dddddd; }
.svg-srv-omitted { fill: #dddddd ; }

.svg-sh-type { fill: #8888ff ; }
.svg-filter-text {
    /* text-anchor: middle;
    alignment-baseline: middle;
    paint-order: stroke; */
    font-size: 10px;
    fill: #000000;
    pointer-events: none;
    /* stroke: #000000;
    stroke-width: 1px;
    */
}
.svg-filter-head-text {
    text-anchor: middle;
    /* alignment-baseline: middle; */
    paint-order: stroke;
    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.5px;
    pointer-events: none;
}

.svg-box {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1px;
}
.svg-box-content {
    fill: #000000;
}
.svg-outline { stroke-width: 0.5px; stroke: #000000; }

/* others */
.svg-plandown { fill: #5bc0de; }
.svg-active { fill: #9999ff; }
.svg-inactive { fill: #eeeeee; }
.svg-strokelocked { stroke: #ff4444; }
.svg-strokeunlocked { stroke: #ffcccc; }
.svg-white { fill: #ffffff; }
.svg-danger { fill: #ff0000; } /* prepare removal */

.svg-txt-color { fill: black; }
.svg-lighttxt-color { fill: #777777; }
.svg-lightstroke { stroke: #777777; }
.default-text { fill: black; font-size: 10px; }

.sb-lines { stroke: #ffffff; stroke-width: 0.3; }
.sb-lines-selected { stroke: #000000 ; stroke-width: 2; }
.svg-stroke { stroke: #ffffff; stroke-width: 0.5; }
.pie-segment { stroke-width: 1; stroke-miterlimit: 2; stroke: #ffffff; }
.svg-sel { opacity: 0.7; }
.svg-clicked-outer {
    stroke-width: 3px !important;
    stroke: #444488;
    fill: none;
    pointer-events: none;
}
.svg-clicked-inner {
    stroke-width: 2px !important;
    stroke: #ffffff;
    fill: none;
    pointer-events: none;
}
.svg-hovered {
    stroke-width: 4px !important;
    stroke-dasharray: 5, 5;
    stroke: #444488;
    fill: none;
    pointer-events: none;
    animation: dash 2s linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 20;
    }
}

.svg-d3link { stroke: #ff7788; stroke-width: 4px; opacity: 1; }
.svg-d3circle { stroke-width: 2px; stroke: grey; fill: white; }
.svg-d3circle-selected { stroke-width: 2px; stroke: grey; fill: red; }
.svg-d3text { stroke-width:2px; stroke:white; paint-order:stroke; text-anchor:middle; alignment-baseline:middle; }

/* livestatus clusterdendrogram link */
.svg-ls-cd-link {
    fill: none;
    stroke: #555555;
    stroke-opacity: 0.9;
    stroke-width: 5px;
}

.svg-ls-cd-node {
    stroke: #000000;
    stroke-opacity: 0.9;
    stroke-width: 2.5px;
}

