{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block title %}{% trans "Account info" %}{% endblock %}

{% block content %}

<div id="account_info">
    {% crispy form form.helper %}
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

$(document).ready(
    $.ajax
        url : "{% url 'base:get_object' %}"
        data :
            key : "user__{{ user.pk }}"
        success : (xml) ->
            if parse_xml_response(xml)
                user_xml = $(xml).find("user")
                my_submitter = new submitter({
                    master_xml : user_xml
                })
                detail_div = $("div#account_info")
                detail_div.find("input[name='password']").bind("focus", enter_password)
                detail_div.find("input, select, textarea").on("change", my_submitter.submit)
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
