{% extends "main.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Account info" %}{% endblock %}

{% block content %}

<!-- do not remove, still needed ! -->
<script type="text/ng-template" id="account_detail_form.html">
    {% crispy form form.helper %}
</script>

{% verbatim %}

<div>
    <div ng-controller="icswUserAccountCtrl" ng-model="cur_user">
        <div ng-controller="icswUserPasswordCtrl">
            <account-detail user="edit_obj"></account-detail>
        </div>
        <hr/>
        <h2>Permissions</h2>
        <permissions object="edit_obj" type="user"></permissions>
        <h2>Quota info</h2>
        <quotasettings object='edit_obj' type='user'></quotasettings>
    </div>
</div>

{% endverbatim %}

{% endblock %}
