{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "Background job info" %}{% endblock %}

{% block content %}

{% verbatim %}

<div ng-controller="info_ctrl">
    <h2>Job info ({{ jobs.length }} entries)</h2>
    <table class="table table-condensed table-hover table-striped" style="width:auto;">
        <thead>
            <tr>
                <th>command</th>
                <th>result</th>
                <th>XML</th>
                <th>created</th>
                <th>user</th>
                <th>state</th>
                <th>initiator</th>
                <th>commands</th>
                <th>objects</th>
                <th>cause</th>
                <th>valid until</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="12" paginator entries="jobs" pag_settings="pagSettings" per_page="15"></td>
            </tr>
            <tr ng-repeat="job in jobs | paginator:this" ng-class="get_line_class(job)">
                <td><strong>{{ job.command }}</strong></td>
                <td>{{ get_result_str(job) }}</td>
                <td title="{{ job.command_xml }}">{{ job.command_xml | limit_text:10 }}</td>
                <td>{{ get_time(job.date) }} ({{ get_diff_time(job.date) }})</td>
                <td>{{ job.user_name }}</td>
                <td>{{ job.state }}</td>
                <td>{{ job.initiator_name }}</td>
                <td>{{ job.num_servers || '-' }}</td>
                <td>{{ job.num_objects || '-' }}</td>
                <td>{{ job.cause }}</td>
                <td>{{ get_time(job.valid_until) }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endverbatim %}

{% endblock %}
