{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/background_job_info.cs" %}{% endblock %}

{% block title %}{% trans "Background job info" %}{% endblock %}

{% block content %}

<div id="icsw.background_job_info">

{% verbatim %}

<div ng-controller="info_ctrl">
    <h2>Job info ({{ jobs.length }} builds)</h2>
    <table class="table table-condensed table-hover" style="width:auto;">
        <thead>
            <tr>
                <th>command</th>
                <th>created</th>
                <th>user</th>
                <th>state</th>
                <th>cause</th>
                <th>initiator</th>
            </tr>
        </thead>
        <tbody>
            <tr><td colspan="12" paginator entries="jobs" pag_settings="pagSettings" per_page="15"></td></tr>
            <tr ng-repeat="job in jobs | paginator:this" ng-class="get_line_class(job)">
                <th>{{ job.command }}</th>
                <td>{{ get_time(job.date) }} ({{ get_diff_time(job.date) }})</td>
                <td>{{ job.user }}</td>
                <td>{{ job.state }}</td>
                <td>{{ job.cause }}</td>
                <td>{{ job.initiator }}</td>
            </tr>
        </tbody>
    </table>

</div>

{% endverbatim %}

</div>

<script>

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.background_job_info']"), ["icsw.background_job_info"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
