{% extends "main.html" %}

{% load i18n %}

{% block title %}Category tree{% endblock %}

{% block content %}

<div ng-controller="icswConfigCategoryTreeCtrl">
    <icsw-config-category-tree mode="device"></icsw-config-category-tree>
</div>

<div ng-controller="icswConfigCategoryTreeCtrl">
    <icsw-config-category-tree mode="mon"></icsw-config-category-tree>
</div>

<div ng-controller="icswConfigCategoryTreeCtrl">
    <icsw-config-category-tree mode="config"></icsw-config-category-tree>
</div>

<div ng-controller="icswConfigCategoryTreeCtrl">
    <icsw-config-category-tree mode="location"></icsw-config-category-tree>
</div>

{% endblock %}
