{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags compressed staticfiles %}

{% block title %}Category tree{% endblock %}

{% block js_load_1 %}
<script src='//maps.googleapis.com/maps/api/js?sensor=false{% if GOOGLE_MAPS_KEY %}&key={{GOOGLE_MAPS_KEY}}{% endif %}'></script>
{% compressed_js 'js_gmaps' %}
{% endblock %}

{% block site_css %}
<style type="text/css">
.angular-google-map-container { height: 480px; }
</style>
{% endblock %}

{% block content %}

<div id="icsw.category_tree" >

<script type="text/ng-template" id="category.html">
    {% crispy category_form category_form.helper %}
</script>

<script type="text/ng-template" id="location_gfx.html">
    {% crispy location_gfx_form location_gfx_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="cat_head.html">
    <tr>
        <th>Name</th>
        <th>Full name</th>   
        <th>Comment</th>
        <th>refs</th>
        <th>lat</th>
        <th>long</th>
        <th>locked</th>
        <th colspan="2">Action</th>
    </tr>
</script>

<script type="text/ng-template" id="cat_row.html">
    <td style="font-family:monospace;"><span ng-bind-html="get_space(obj.depth )"></span>{{ obj.name || '[TLN]' }}</td>
    <td><span ng-show="obj.depth">{{ obj.full_name }}</span></td>
    <td>{{ obj.comment }}</td>
    <td><span ng-show="obj.depth > 1">{{ obj.num_refs || '---' }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.latitude }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.longitude }}</span></td>
    <td><span ng-show="is_location(obj)">{{ obj.locked | yesno1 }}</span></td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit_obj(obj, $event)" value="modify" ng-show="obj.depth > 1"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-click="delete_obj(obj)" value="delete" ng-show="obj.depth > 1"/></td>
</script>

<div ng-controller="cat_base">
    <h2>
        Category tree ({{entries.length}} entries)
    </h2>
    <tabset>
        <tab heading="Google Maps" select="activate_map()">
            <h3>Map view, {{ locations.length }} locations</h3>
            <div class="row">
                <div class="col-md-6">
                    <div id="map_canvas">
                    <google-map center="map.center" zoom="map.zoom" pan="true" refresh="true" style="display:block;" draggable="true" bounds="map.bounds" control="map.control">
                        <marker ng-repeat="loc in locations" idKey="loc.key" coords="loc" options="loc.options" events="map.marker.events">
                            <!-- <marker-label content="loc.comment" anchor="2 0"></marker-label>-->
                        </marker>
                    </google-map>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="loc in get_valid_locations()">
                            <input type="button" class="btn btn-sm btn-success" value="add location gfx" ng-click="add_location_gfx($event, loc)"></input>
                            <input type="button" class="btn btn-sm btn-primary" value="locate" ng-click="locate(loc)" title="({{ loc.latitude }}, {{ loc.longitude }})"></input>&nbsp;
                            <span class="glyphicon glyphicon-ban-circle" ng-show="loc.locked"></span>&nbsp;
                            {{ loc.full_name }}<span ng-show="loc.comment"> ({{ loc.comment }})</span>
                            <span ng-show="loc.location_gfxs.length">, {{ loc.location_gfxs.length }} location maps</span>
                            <span class="pull-right">
                            </span>
                            <ul ng-show="loc.location_gfxs.length" class="list-group">
                                <li class="list-group-item" ng-repeat="loc_gfx in loc.location_gfxs">
                                    <input type="button" class="btn btn-xs btn-success" value="modify" ng-click="modify_location_gfx($event, loc_gfx)"></input>
                                    {{ loc_gfx.name }}
                                    <span ng-show="loc_gfx.comment"> ({{ loc_gfx.comment }})</span>
                                    <span ng-show="loc_gfx.image_stored">, {{ loc_gfx.image_name }} {{ loc_gfx.width }} x {{ loc_gfx.height }} ({{ loc_gfx.content_type }})
                                    <image ng-src="{{ loc_gfx.icon_url }}" width="24" height="24"></image>
                                    </span>
                                    <span class="pull-right">
                                        <input type="button" class="btn btn-xs btn-danger" value="delete" ng-click="delete_location_gfx($event, loc_gfx)"></input>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </tab>
        <tab heading="Categories">
        <h3>Actions:
        <input type="button" value="create new" class="btn btn-sm btn-success" ng-click="create_new($event, '')"/>&nbsp;
        <input type="button" value="prune tree" class="btn btn-sm btn-warning" ng-click="prune_tree()"/>
        </h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Tree view</h3>
                    <tree treeconfig="cat"></tree>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-if="modal_active && !settings.use_modal && active_aem == 'cat'" >
                    <h3 ng-show="create_mode">Create</h3>
                    <h3 ng-show="!create_mode">Modify</h3>
                    <div edittemplate class="well well-sm">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Table view</h3>
            <table class="table table-condensed table-hover" style="width:auto;">
                <thead cathead></thead>
                <tbody>
                    <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="20"></td></tr>
                    <tr catrow ng-repeat="obj in entries | paginator:this" ng-class="get_tr_class(obj)"></tr>
                </tbody>
            </table>
        </div>
    </div>
        </tab>
    </tabset>
</div>
</div>

{% endverbatim %}

<script type="text/javascript">

{% inlinecoffeescript %}

category_tree_module = angular.module("icsw.category_tree", ["ngResource", "ngCookies", "ngSanitize", "ui.bootstrap", "init.csw.filters", "localytics.directives", "restangular", "google-maps", "angularFileUpload"]) #"ngMap"])

angular_module_setup([category_tree_module])

add_tree_directive(category_tree_module)

class category_tree_edit extends tree_config
    constructor: (@scope, args) ->
        super(args)
        @show_selection_buttons = false
        @show_icons = false
        @show_select = false
        @show_descendants = true
        @show_childs = false
    get_name : (t_entry) ->
        cat = t_entry.obj
        if cat.depth > 1
            r_info = "#{cat.full_name} (#{cat.name})"
            if cat.num_refs
                r_info = "#{r_info} (refs=#{cat.num_refs})"
            return r_info
        else if cat.depth
            return cat.full_name
        else
            return "TOP"
    handle_click: (entry, event) =>
        @clear_active()
        cat = entry.obj
        if cat.depth > 1
            @scope.edit_obj(cat, event)
        else if cat.depth == 1
            @scope.create_new(event, cat.full_name.split("/")[1])

cat_ctrl = category_tree_module.controller("cat_base", [
    "$scope", "$compile", "$filter", "$templateCache", "Restangular", "paginatorSettings", "restDataSource",
    "sharedDataSource", "$q", "$modal", "access_level_service", "FileUploader"
    ($scope, $compile, $filter, $templateCache, Restangular, paginatorSettings, restDataSource, sharedDataSource, $q, $modal, access_level_service, FileUploader) ->
        $scope.cat = new category_tree_edit($scope, {})            
        $scope.pagSettings = paginatorSettings.get_paginator("cat_base", $scope)
        $scope.entries = []
        # mixins
        # edit mixin for cateogries
        $scope.edit_mixin = new angular_edit_mixin($scope, $templateCache, $compile, $modal, Restangular, $q, "cat")
        $scope.edit_mixin.use_modal = false
        $scope.edit_mixin.use_promise = true
        $scope.edit_mixin.new_object = (scope) -> return scope.new_object()
        $scope.edit_mixin.delete_confirm_str = (obj) -> return "Really delete category node '#{obj.name}' ?"
        $scope.edit_mixin.modify_rest_url = "{% url 'rest:category_detail' 1 %}".slice(1).slice(0, -2)
        $scope.edit_mixin.create_rest_url = Restangular.all("{% url 'rest:category_list' %}".slice(1))
        $scope.edit_mixin.edit_template = "category.html"
        # edit mixin for location gfxs
        $scope.gfx_mixin = new angular_edit_mixin($scope, $templateCache, $compile, $modal, Restangular, $q, "gfx")
        $scope.gfx_mixin.use_modal = true
        $scope.gfx_mixin.use_promise = true
        $scope.gfx_mixin.new_object = (scope) -> return scope.new_location_gfx()
        $scope.gfx_mixin.delete_confirm_str = (obj) -> return "Really delete location graphic '#{obj.name}' ?"
        $scope.gfx_mixin.modify_rest_url = "{% url 'rest:location_gfx_detail' 1 %}".slice(1).slice(0, -2)
        $scope.gfx_mixin.create_rest_url = Restangular.all("{% url 'rest:location_gfx_list' %}".slice(1))
        $scope.gfx_mixin.create_template = "location_gfx.html"
        $scope.gfx_mixin.edit_template = "location_gfx.html"
        $scope.form = {}
        $scope.locations = []
        $scope.uploader = new FileUploader(
            scope : $scope
            url : "{% url 'base:upload_location_gfx' %}"
            queueLimit : 1
            alias : "gfx"
            formData : [
                 "location_id" : 0
                 "csrfmiddlewaretoken" : '{{ csrf_token }}'
            ]
            removeAfterUpload : true
        )
        $scope.upload_list = []
        $scope.uploader.onBeforeUploadItem = (item) ->
            item.formData[0].location_id = $scope.cur_location_gfx.idx
            $.blockUI()
        $scope.uploader.onCompleteAll = () ->
            $.unblockUI()
            $scope.uploader.clearQueue()
            return null
        $scope.uploader.onCompleteItem = (item, response, status, headers) ->
            xml = $.parseXML(response)
            if parse_xml_response(xml)
                Restangular.one("{% url 'rest:location_gfx_detail' 1 %}".slice(1).slice(0, -2), $scope.cur_location_gfx.idx).get().then((data) ->
                    for _copy in ["width", "height", "uuid", "content_type", "locked", "image_stored", "icon_url", "image_name"]
                        $scope.cur_location_gfx[_copy] = data[_copy]
                )
        $scope.map = {
            center: {
                latitude: 4
                longitude: 7
            }
            zoom: 2
            control: {}
            marker: {
                events:{
                    dragend: (marker, event_name, args) ->
                        _pos = marker.getPosition()
                        _cat = $scope.marker_lut[marker.key]
                        _cat.latitude = _pos.lat()
                        _cat.longitude = _pos.lng()
                        _cat.put()
                }
            }
            bounds: {
                "northeast" : {
                    "latitude": 4
                    "longitude": 4
                }
                "southwest": {
                    "latitude": 20
                    "longitude": 30
                }
                "ne" : {
                    "latitude": 4
                    "longitude": 4
                }
                "sw": {
                    "latitude": 20
                    "longitude": 30
                }
            }
        }
        $scope.reload = () ->
            wait_list = [
                restDataSource.reload(["{% url 'rest:category_list' %}", {}])
                restDataSource.reload(["{% url 'rest:location_gfx_list' %}", {}])
            ]
            $q.all(wait_list).then((data) ->
                $scope.entries = data[0]
                $scope.location_gfxs = data[1]
                $scope.edit_mixin.create_list = $scope.entries
                $scope.edit_mixin.delete_list = $scope.entries
                $scope.rebuild_cat()
        )
        $scope.edit_obj = (cat, event) ->
            $scope.create_mode = false
            $scope.cat.clear_active()
            $scope.cat_lut[cat.idx].active = true
            $scope.cat.show_active()
            pre_parent = cat.parent
            $scope.edit_mixin.edit(cat, event).then((data) ->
                if data.parent == pre_parent
                    $scope.cat.iter(
                        (entry) ->
                            if entry.parent and entry.parent.obj.name
                                entry.obj.full_name = "#{entry.parent.obj.full_name}/#{entry.obj.name}"
                            else
                                entry.obj.full_name = "/#{entry.obj.name}"
                    )
                    $scope.build_markers()
                else
                    $scope.reload()
            )
        $scope.delete_obj = (obj) ->
            $scope.edit_mixin.delete_obj(obj).then((data) ->
                if data
                    $scope.rebuild_cat()
                    $scope.cat.clear_active()
            )
        $scope.rebuild_cat = () ->
            cat_lut = {}
            $scope.cat.clear_root_nodes()
            for entry in $scope.entries
                t_entry = $scope.cat.new_node({folder:false, obj:entry, expand:entry.depth < 2, selected: entry.immutable})
                cat_lut[entry.idx] = t_entry
                if $scope.is_location(entry)
                    entry.location_gfxs = (_gfx for _gfx in $scope.location_gfxs when _gfx.location == entry.idx)
                if entry.parent
                    cat_lut[entry.parent].add_child(t_entry)
                else
                    $scope.cat.add_root_node(t_entry)
            $scope.cat_lut = cat_lut
            $scope.build_markers()
        $scope.get_valid_locations = () ->
            return (entry for entry in $scope.entries when entry.depth > 1 and entry.full_name.split("/")[1] == "location" and entry.latitude and entry.longitude)
        $scope.build_markers = () ->
            new_list = []
            marker_lut = {}
            for _entry in $scope.get_valid_locations()
                new_list.push(
                    {
                        "latitude": _entry.latitude
                        "longitude": _entry.longitude
                        "key": _entry.idx
                        "comment": if _entry.comment then "#{_entry.name} (#{_entry.comment})" else _entry.name
                        "options": {
                            "draggable": not _entry.locked
                            "title":_entry.full_name
                        }
                    }
                )
                marker_lut[_entry.idx] = _entry
            $scope.locations = new_list
            $scope.marker_lut = marker_lut
        $scope.locate = (loc) ->
            $scope.map.control.refresh({"latitude":loc.latitude, "longitude":loc.longitude})
            $scope.map.control.getGMap().setZoom(11)
        $scope.new_object = () ->
            if $scope.new_top_level
                _parent = (value for value in $scope.entries when value.depth == 1 and value.name == $scope.new_top_level)[0]
                _name = "new_#{_parent.name}"
                r_struct = {"name" : _name, "parent" : _parent.idx, "depth" : 2, "full_name" : "/#{$scope.new_top_level}/#{_name}"}
                if $scope.new_top_level == "location"
                    r_struct["latitude"] = 48.1
                    r_struct["longitude"] = 16.3
                return r_struct
            else
                return {"name" : "new_cat", "depth" : 2, "full_name" : ""}
        $scope.create_new = ($event, top_level) ->
            $scope.create_mode = true
            $scope.new_top_level = top_level
            $scope.cat.clear_active()
            $scope.edit_mixin.create($event).then((data) ->
                $scope.reload()
            )
        $scope.get_valid_parents = (obj) ->
            if obj.idx
                # object already saved, do not move beteen top categories
                top_cat = new RegExp("^/" + obj.full_name.split("/")[1])
                p_list = (value for value in $scope.entries when value.depth and top_cat.test(value.full_name))
                # remove all nodes below myself
                r_list = []
                add_list = [$scope._edit_obj.idx] 
                while add_list.length
                    r_list = r_list.concat(add_list)
                    add_list = (value.idx for value in p_list when (value.parent in r_list and value.idx not in r_list))
                p_list = (value for value in p_list when value.idx not in r_list)
            else
                # new object, allow all values
                p_list = (value for value in $scope.entries when value.depth)
            return p_list
        $scope.is_location = (obj) ->
            # full_name.match leads to infinite digest cycles
            return (obj.depth > 1) and obj.full_name.split("/")[1] == "location"
        $scope.close_modal = () ->
            $scope.cat.clear_active()
            if $scope.cur_edit
                $scope.cur_edit.close_modal()
        $scope.prune_tree = () ->
            $scope.cat.clear_active()
            $scope.close_modal()
            $modal.open(
                template : $templateCache.get("simple_confirm.html")
                controller : ($scope, $modalInstance, question) ->
                    $scope.question = question
                    $scope.ok = () ->
                        $modalInstance.close(true)
                    $scope.cancel = () ->
                        $modalInstance.dismiss("cancel")
                backdrop : "static"
                resolve :
                    question : () =>
                            return "Really prune tree (delete empty elements) ?"
            ).result.then(
                () =>
                    $.blockUI()
                    call_ajax
                        url     : "{% url 'base:prune_categories' %}"
                        success : (xml) ->
                            parse_xml_response(xml)
                            $scope.reload()
                            $.unblockUI()
            )
        $scope.new_location_gfx = () ->
            # return empty location_gfx for current location
            return {
                "location" : $scope.loc_gfx_mother.idx
            }
            
        $scope.add_location_gfx = ($event, loc) ->
            $scope.loc_gfx_mother = loc
            $scope.gfx_mixin.create($event).then((data) ->
                loc.location_gfxs.push(data)
            )
        $scope.modify_location_gfx = ($event, loc) ->
            $scope.cur_location_gfx = loc
            $scope.gfx_mixin.edit(loc, $event).then((data) ->
            )
        $scope.delete_location_gfx = ($event, obj) ->
            # find location object via cat_lut
            loc = $scope.cat_lut[obj.location].obj
            $scope.gfx_mixin.delete_obj(obj).then((data) ->
                if data
                    loc.location_gfxs = (entry for entry in loc.location_gfxs when entry.idx != obj.idx)
            )
        $scope.reload()
]).directive("cathead", ($templateCache) ->
    return {
        restrict : "EA"
        template : $templateCache.get("cat_head.html")
    }
).directive("catrow", ($templateCache) ->
    return {
        restrict : "EA"
        template : $templateCache.get("cat_row.html")
        link : (scope, el, attrs) ->
            scope.get_tr_class = (obj) ->
                return if obj.depth > 1 then "" else "success"
            scope.get_space = (depth) ->
                return ("&nbsp;&nbsp;" for idx in [0..depth]).join("")
    }
).directive("edittemplate", ($compile, $templateCache) ->
    return {
        restrict : "EA"
        template : $templateCache.get("category.html")
        link : (scope, element, attrs) ->
            scope.form_error = (field_name) ->
                if scope.form[field_name].$valid
                    return ""
                else
                    return "has-error"
    }
).run(($templateCache) ->
    $templateCache.put("simple_confirm.html", simple_modal_template)
)

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.category_tree']"), ["icsw.category_tree"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
