{% extends "main.html" %}

{% load i18n coffeescript staticfiles crispy_forms_tags %}

{% block angular %}{% include "angular/config.cs" %}{% endblock %}

{% block title %}{% trans "Configurations" %}{% endblock %}

{% block content %}

<div id="icsw.config">

    <script type="text/ng-template" id="config_template.html">
        {% crispy config_form config_form.helper %}
    </script>

    <script type="text/ng-template" id="config_str_template.html">
        {% crispy config_str_form config_str_form.helper %}
    </script>

    <script type="text/ng-template" id="config_int_template.html">
        {% crispy config_int_form config_int_form.helper %}
    </script>

    <script type="text/ng-template" id="config_bool_template.html">
        {% crispy config_bool_form config_bool_form.helper %}
    </script>

    <script type="text/ng-template" id="config_script_template.html">
        {% crispy config_script_form config_script_form.helper %}
    </script>

    <script type="text/ng-template" id="mon_check_command_template.html">
        {% crispy mon_check_command_form mon_check_command_form.helper %}
    </script>

    <div ng-controller="config_ctrl">
        <configtable></configtable>    
    </div>
</div>

{% include "generate_config.html" %}

<script type="text/javascript">

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.config']"), ["icsw.config"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
