{% extends "main.html" %}

{% load i18n coffeescript staticfiles crispy_forms_tags %}

{% block title %}{% trans "Device network settings" %}{% endblock %}

{% block angular %}{% endblock %}

{% block tab_js %}

    <!--[if gt IE8]><!--><script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script><!--<![endif]-->
    <style>
    circle.fixed {
        stroke-dasharray: 5,5;
    }
    .connect_line {
        stroke : #9999ff;
        stroke-width : 4;
        pointer-events : none;
    }
    .connect_line_hidden {
        stroke-width : 0
    }
    </style>
    
{% endblock %}

{% block content %}

<div id="icsw.network.device">

<div ng-controller="network_ctrl">
    <devicenetworks></devicenetworks>
{% if csw_perms.backbone.device.change_network.AC_MASK_CREATE %}
{% verbatim %}
        <div class="input-group-btn" ng-show="devices.length > 1">
            <button type="button" class="btn btn-danger btn-md dropdown-toggle" data-toggle="dropdown">
                Copy network from<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-click="copy_network(obj, $event)" ng-repeat="obj in devices"><a href="#">{{ obj.full_name }}</a></li>
            </ul>
        </div>
{% endverbatim %}
{% endif %}
    </div>
</div>

<div id="network_div">

<div id="network_graph_sel">
    Show network topology: <input type="button" id="redraw_graph" value="Redraw"/>
    <select id="nw_graph_sel">
        <option value="none">none</option>
        <option value="all">all</option>
        <option value="sel">selected</option>
        <option value="selp1">selected + 1 (next ring)</option>
        <option value="selp2">selected + 2</option>
        <option value="selp3">selected + 3</option>
        <option value="core">core (non-trivial)</option>
    </select>
    , mode:
    <select id="nw_graph_mode">
        <option value="m">move</option>
        <option value="c">connect</option>
    </select>
    , selected node: <span id='selected_node'></span>
</div>

</div>

<div id="network_graph_outer" style="border: 1px solid black;">
    <div id="network_graph"></div>
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.network.device']"), ["icsw.network.device"])
)

class network_table
    constructor: (@top_div) ->
    use_devs: (@SELECTED_DEVICES) =>
        @reload_network_tree()
    reload_network_tree: (sel_list) =>
        @init_create_widget()
        @redraw_graph()
    init_create_widget: =>
        # important to unbind to avoid cascades
        $("input#redraw_graph").unbind("click").bind("click", @redraw_graph)
        $("select#nw_graph_sel").unbind("change").bind("change", @redraw_graph)
        $("select#nw_graph_mode").off("change").on("change", @graph_mode)
    rescale: () =>
        trans = d3.event.translate
        scale = d3.event.scale
        @cur_scale = d3.event.scale
        @cur_trans = d3.event.translate
        @vis.attr("transform",
            "translate(" + trans + ")" + " scale(" + scale + ")"
        )
    draw_graph: (graph) =>
        _this = this
        # some DOM magic, FIXME
        div_width  = $("div#network_graph_outer").outerWidth(true)
        div_height = $("div#network_graph_outer").parent().height() - $("div#network_div").height() - 20
        div_width  = if div_width  < 800 then 800 else div_width
        div_height = if div_height < 500 then 500 else div_height
        $("div#network_graph_outer").width(div_width).height(div_height)
        $("div#network_graph").children().remove()
        width  = 1000
        height = 500
        if $("html").hasClass("ie8")
            return
        @outer = d3.select("div#network_graph")
            .append("svg:svg")
                .attr(
                    "width"   : div_width,
                    "height"  : div_height,
                    "viewBox" : "0 0 #{width} #{height}",
                    "pointer-events"      : "all",
                    "preserveAspectRatio" : "xMidYMid",
                )
        @cur_scale = 1.0
        @cur_trans = [0, 0]
        @vis = @outer
            .append("svg:g")
                .call(d3.behavior.zoom().on("zoom", @rescale))
                .on("dblclick.zoom", null)
            .append("svg:g")
                .on("mousemove", @mousemove)
                .on("mousedown", @mousedown)
                .on("mouseup", @mouseup)
        # add a rectangle to move / zoom outside elements, acts as a kind of backplane
        @vis.append("rect").attr(
            "x"      : -width,
            "y"      : -height,
            "width"  : 3 * width,
            "height" : 3 * height,
            "fill"   : "white",
        )    
        @graph = graph
        @force = d3.layout.force().charge(-220).gravity(0.02).linkDistance(150).size([width, height])
            .linkDistance((d) -> return 100).on("tick", @tick)
        @force.nodes(@graph.nodes).links(@graph.links)
        @links = @vis.selectAll(".link")
        @nodes = @vis.selectAll(".node")
        @drag = @force.drag()
            .on("dragstart", (d) ->
                _this.start_coords = [d.x, d.y]
                d.fixed = true
                d3.select(@).select("circle").classed("fixed", true)
                if _this.selected == d
                    _this.selected = undefined
                    $("span#selected_node").text("")
                else
                    _this.selected = d
                    $("span#selected_node").text(_this.selected.name)
                    fixed = true
                    d.fixed = fixed
                    d3.select(@).select("circle").classed("fixed", fixed)
            )
            .on("dragend", (d) ->
                if d.x != _this.start_coords[0] or d.y != _this.start_coords[1]
                    # node was moved, set fixed
                    fixed = true
                else
                    if _this.selected
                        # a node is selected, set fixed flag
                        fixed = true
                    else
                        # no node is selected, clear fixed flag
                        fixed = false
                d.fixed = fixed
                d3.select(@).select("circle").classed("fixed", fixed)
            )
        @connect_line = @vis.append("line").attr
            "class" : "connect_line"
            "x1"    : 0
            "y1"    : 0
            "x2"    : 0
            "y2"    : 0
        @selected = undefined
        @reset_graph_mode()
        @graph_mode()
        @redraw()
    reset_connection_parameters: () =>
        @mousedown_node = undefined
        @mouseup_node   = undefined
        @connect_line.attr
            "class" : "connect_line_hidden"
            "x1"    : 0
            "y1"    : 0
            "x2"    : 0
            "y2"    : 0
    redraw: () =>
        _this = this
        @reset_connection_parameters()
        @links = @links.data(@graph.links)
        @nodes = @nodes.data(@graph.nodes)
        # scale with 20 colors
        color = d3.scale.category20()

        @links.enter().append("line")
            .attr
                "class" : "link"
            .style
                "stroke" : (d) ->
                    if d.num_connections == 1
                        return "#7788ff"
                    else
                        return "#2222ff"
                "stroke-opacity" : "1"
                "stroke-width"   : (d) ->
                    if d.min_penalty == 1
                        return 3
                    else
                        return 1
        @links.exit().remove()
        
        centers = @nodes.enter()
            .append("g").call(@drag)
            .attr
                "class"   : "node"
                "node_id" : (n) -> return n.id
            .on("mouseenter", (d) ->
                _this.outer.call(d3.behavior.zoom().on("zoom", null))
                d3.select(@).select("circle").attr("stroke-width", d.num_nds + 3)
            )
            .on("mouseleave", (d) ->
                _this.outer.call(d3.behavior.zoom().scale(_this.cur_scale).translate(_this.cur_trans).on("zoom", _this.rescale))
                #if _this.mousedown_node != d
                d3.select(@).select("circle").attr("stroke-width", d.num_nds)
            )
            .on("mousedown", (d) ->
                if _this.cur_graph_mode == "c"
                    _this.mousedown_node = d
                    cur_c = d3.select(@).select("circle")
                    #cur_c.attr("stroke-width", 3)#parseInt(cur_c.attr("stroke-width")) + 3)
                    _this.connect_line.attr
                        "class" : "connect_line"
                        "x1" : _this.mousedown_node.x
                        "y1" : _this.mousedown_node.y
                        "x2" : _this.mousedown_node.x
                        "y2" : _this.mousedown_node.y
            )
            .on("mouseup", (d) ->
                if _this.mousedown_node
                    _this.mouseup_node = d
                    if _this.mouseup_node == _this.mousedown_node
                        _this.reset_connection_parameters()
                    else
                        link = {
                            source : _this.mousedown_node
                            target : _this.mouseup_node
                            min_penalty : 1
                            num_connections : 1
                        }
                        line_idx = _this.graph.links.push(link)
                        _this.redraw()
                        cur_el = _this.vis.selectAll("line")[0][line_idx]
                        # insert before first g element
                        cur_el.parentNode.insertBefore(cur_el, cur_el.parentNode.firstChild.nextSibling.nextSibling)
            )
            .on("dblclick", (d) ->
                cur_ev = d3.event
                #console.log cur_ev, d
                cur_di = new device_info(cur_ev, d.id)
                cur_di.show()
                #console.log "dbl"
            )
        centers.append("circle")
            .attr
                "r"       : (n) -> return 18
                "fill"    : "white"
                "stroke-width" : (n) -> return n.num_nds
                "stroke"  : "grey"
                "cursor"  : "crosshair"
        centers.append("text")
            .attr
                "text-anchor" : "middle"
                "cursor"      : "crosshair"
            .text((d) -> return d.name)
    
        @nodes.exit().remove()
        @force.start()
    mousemove: () =>
        if @mousedown_node
            @connect_line.attr
                "x1" : @mousedown_node.x
                "y1" : @mousedown_node.y
                "x2" : d3.mouse(@vis[0][0])[0]
                "y2" : d3.mouse(@vis[0][0])[1]
    mousedown: () =>
        return
    mouseup: () =>
        if @cur_graph_mode == "c" and not @mouseup_node
            @reset_connection_parameters()
    tick: () =>
        @links.attr
            "x1" : (d) -> return d.source.x
            "y1" : (d) -> return d.source.y
            "x2" : (d) -> return d.target.x
            "y2" : (d) -> return d.target.y
        @nodes.attr
            "transform" : (d) -> 
                return "translate(#{d.x},#{d.y})"
    reset_graph_mode: (event) =>
        $("select#nw_graph_mode").val("m")
    graph_mode : (event) =>
        @cur_graph_mode = $("select#nw_graph_mode").val()
        if @cur_graph_mode == "c"
            # disable drag
            @nodes.call(@drag).on("mousedown.drag", null)
        else if @cur_graph_mode == "m"
            # ensable drag
            @nodes.call(@drag)
    redraw_graph : =>
        $.blockUI(
            message : "loading, please wait..."
        )
        $.ajax
            url      : "{% url 'network:json_network' %}"
            data     : 
                "graph_mode" : $("select#nw_graph_sel").val()
            dataType : "json"
            success  : (json) =>
                $.unblockUI()
                @draw_graph(json)

add_dnet_handlers = ->
    net_t = new network_table($("div#network_table"))
    install_devsel_link(net_t.use_devs, true)

$(document).ready(add_dnet_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
