{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/device.cs" %}{% endblock %}

{% block title %}{% trans "Device tree" %}{% endblock %}

{% block content %}

<div ng-app="icsw.device">

<script type="text/ng-template" id="device_tree.html">
    {% crispy device_tree_form device_tree_form.helper %}
</script>

<script type="text/ng-template" id="device_group_tree.html">
    {% crispy device_group_tree_form device_group_tree_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="device_tree_head.html">
    <th>Name</th>
    <th>sel</th>
    <th>Description</th>
    <th>TLN</th>
    <th>Enabled</th>
    <th>Type</th>
    <th>MonMaster</th>
    <th>Mother</th>
    <th>cURL</th>
    <th colspan="2">action</th>
</script> 

<script type="text/ng-template" id="device_tree_meta_row.html">
    <td><strong>{{ obj.device_group_obj.name }}</strong>
        <div class="btn-group btn-group-xs pull-right" ng-show="obj.device_group_obj.num_devices">
            <input type="button" class="btn btn-primary" ng-click="change_dg_sel(1)" value="S"></input>
            <input type="button" class="btn btn-success" ng-click="change_dg_sel(0)" value="T"></input>
            <input type="button" class="btn btn-warning" ng-click="change_dg_sel(-1)" value="C"></input>
        </div>
    </td>
    <td><input type="checkbox" ng-model="obj.selected"></input></td>
    <td>{{ obj.device_group_obj.description }}</td>
    <td>{{ obj.device_group_obj.domain_tree_node | array_lookup:this.rest_data.domain_tree_node | show_dtn }}</td>
    <td>{{ obj.device_group_obj.enabled | yesno1 }}</td>
    <td colspan=4>{{ obj.device_group_obj.num_devices }} devices</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit('device_group', $event, obj.device_group_obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger" ng-click="delete('device_group', obj.device_group_obj)" value="delete"/></td>
</script> 

<script type="text/ng-template" id="device_tree_row.html">
    <td>{{ obj.name }}</td>
    <td><input type="checkbox" ng-model="obj.selected"></input></td>
    <td>{{ obj.comment }}</td>
    <td>{{ obj.domain_tree_node | array_lookup:this.rest_data.domain_tree_node | show_dtn }}</td>
    <td>
        <span ng-show="obj.device_group_obj.enabled">{{ obj.enabled | yesno1 }}</span>
        <span ng-show="!obj.device_group_obj.enabled"><em>{{ obj.enabled | yesno1 }}</em></span>
    </td>
    <td>{{ obj.device_type | array_lookup:this.rest_data.device_type:"description" }}</td>
    <td>{{ obj.monitor_server | array_lookup:this.rest_data.monitor_server:"full_name" }}</td>
    <td>{{ obj.bootserver | array_lookup:this.rest_data.mother_server:"full_name" }}</td>
    <td>{{ obj.curl }}</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit('device', $event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger" ng-click="delete('device', obj)" value="delete"/></td>
</script> 

<div ng-controller="device_tree_base">
    <h2>Device tree ({{ entries.length }} entries)</h2>
    <form class="form-inline">
        <div class="form-group">
            <label class="control-label">Group/Device:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.dg_filter">
                <option value="b">all</option>
                <option value="f">Devices</option>
                <option value="t">Group</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Selected:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.sel_filter">
                <option value="b">all</option>
                <option value="t">selected</option>
                <option value="f">unselected</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Enabled:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.en_filter">
                <option value="b">all</option>
                <option value="t">enabled</option>
                <option value="f">disabled</option>
            </select>
        </div>
    </form>
    <table class="table table-hover table-striped" style="width:auto;">
        <thead devicetreehead></thead>
        <tbody>
            <tr><td colspan="11" paginator entries="entries" pag_settings="pagSettings" per_page="20" paginator-filter="func" paginator-filter-func="filter_pag" paginator-epp="10,20,50,100,1000"></td></tr>
            <tr devicetreerow ng-repeat="obj in entries | paginator:this" ng-class="get_tr_class(obj)"></tr>
        </tbody>
    </table>
</div>

{% endverbatim %}

</div>

<h1 class="center">Device tree</h1>

<div id="device_table"></div>

<input type="button" value="reload" onclick="reload_device_tree();" />, force delete (handle with care): <input type="checkbox" value="force" id="force_delete"/>

<script type="text/javascript">

{% inlinecoffeescript %}

class device_tree
    constructor: (xml) ->
        @xml = $(xml)
    build_table: (@top_div) ->
        @top_div.children().remove()
        # device_type metadevice
        @md_dt = @xml.find("device_type[identifier='MD']").attr("pk")
        @devg_expand_dict = {}
        new_table = $("<table>").attr
            "id" : "device_tree"
        @xml.find("device_group").each (index, cur_dg) =>
            new_table.append(@build_group($(cur_dg)))
        new_table.append(@build_new_group)
        @num_devgs = @xml.find("device_group[is_cdg='0']").length
        if @num_devgs
            new_table.append(@build_new_device)
            new_table.append(@build_selected)
        @top_div.append(new_table)
        @update_device_group_info()
        @update_num_of_selected_devices()
        new_table.find("input#dev__new__name").focus()
    update_device_group_info: () =>
        if not @xml.find("device_group[is_cdg='0']").length
            @top_div.find("table tr[id='new_dev']").hide()
        else:
            @top_div.find("table tr[id='new_dev']").show()
        @top_div.find("table#device_tree tr[id^='devg__']").each (index, cur_tr) =>
            cur_tr = $(cur_tr)
            dg_pk = cur_tr.attr("id").split("__")[1]
            @recolor_device_group(dg_pk)
            info_th = cur_tr.find("span[id^='devg__'][id$='__info']")
            num_devs = @xml.find("device_group[pk='#{dg_pk}'] device[device_type!='#{@md_dt}']").length
            info_th.text(num_devs)
    toggle_device_group: (line_prefix, state, name) =>
        @expand_device_group(@xml.find("device_group[key='#{line_prefix}']"))
        dg_pk = line_prefix.split("__")[1]
        if state
            @top_div.find("tr[id^='dev__#{dg_pk}__']").show()
            @recolor_device_group(dg_pk)
        else
            @top_div.find("tr[id^='dev__#{dg_pk}__']").hide()
    move_device: (event) =>
        cur_el = $(event.target)
        cur_tr = cur_el.parents("tr:first")
        new_val = cur_el.val()
        dev_pk = cur_tr.attr("id").split("__")[2]
        $.ajax
            url     : "{% url 'base:change_xml_entry' %}"
            data    : 
                "id"         : "dev__#{dev_pk}__device_group"
                "value"      : new_val
                "checkbox"   : false
            success : (xml) =>
                if parse_xml_response(xml)
                    @change_device_group(@xml.find("device[pk='#{dev_pk}']"), new_val)
    change_device_group: (dev_xml, new_dg_id) =>
        # move row
        dev_pk = dev_xml.attr("pk")
        dev_tr = @top_div.find("tr[id^='dev__'][id$='__#{dev_pk}']")
        was_sel = dev_tr.find("input[id$='__sel']").is(":checked")
        dev_tr.remove()
        new_dg = @xml.find("device_group[pk='#{new_dg_id}']")
        #dev_xml = @xml.find("device[pk='#{dev_pk}']")
        # important: set device group
        dev_xml.attr("device_group", new_dg_id)
        # call create_device
        @create_device(dev_xml)
        if was_sel
            @top_div.find("tr[id^='dev__'][id$='__#{dev_pk}'] input[id$='__sel']").attr("checked", "checked")
        @update_num_of_selected_devices()
    recolor_device_group: (dg_pk) =>
        @top_div.find("tr[id^='dev__#{dg_pk}__']").removeClass("even odd")
        @top_div.find("tr[id^='dev__#{dg_pk}__']:even").addClass("even")
        @top_div.find("tr[id^='dev__#{dg_pk}__']:odd").addClass("odd")
    toggle_device_group_selection: (event) =>
        cur_el = $(event.target)
        cur_tr = cur_el.parents("tr:first")
        cur_dg = @xml.find("device_group[key='" + cur_tr.attr("id") + "']")
        @expand_device_group(cur_dg)
        cur_tr.parents("table:first").find("tr[id^='dev__" + cur_tr.attr("id").split("__")[1] + "__']").each (index, dev_tr) ->
            dev_tr = $(dev_tr)
            dev_sel = dev_tr.find("input[id$='__sel']")
            if dev_sel.is(":checked")
                dev_sel.removeAttr("checked")
            else
                dev_sel.attr("checked", "checked")
        @update_num_of_selected_devices()
    build_group: (cur_dg) =>
        new_tr = $("<tr>").attr
            "id"    : cur_dg.attr("key")
            "class" : "ui-widget ui-widget-header"
        line_prefix = cur_dg.attr("key")
        if cur_dg.attr("is_cdg") == "1"
            new_tr.append $("<th>").attr("colspan" : 2)
            new_tr.append $("<th>").text("name")
            new_tr.append $("<th>").text("description")
        else
            new_tr.append(
                $("<td>").append(
                    $("<input>").attr({
                        "type" : "checkbox"
                    }).bind("click", @toggle_device_group_selection)
                ),
                get_expand_td(line_prefix, "devicegroup", undefined, @toggle_device_group),
                $("<th>").append(
                    create_input_el(cur_dg, "name", line_prefix, {callback : @update_dg_changes, master_xml : @xml})
                ),
                $("<th>").append(
                    create_input_el(cur_dg, "description", line_prefix, {master_xml : @xml})
                )
            )
        if cur_dg.attr("is_cdg") == "1"
            new_tr.append(
                $("<th>").text("Domain"),
                $("<th>").text("enabled")
            )
        else
            meta_dev = @xml.find("device[device_type='#{@md_dt}'][device_group='" + cur_dg.attr("pk") + "']")
            new_tr.append(
                $("<th>").append(
                    create_input_el(meta_dev, "domain_tree_node", meta_dev.attr("key"), {master_xml : @xml, select_source : @xml.find("domain_tree_nodes domain_tree_node")})
                ),
                $("<th>").append(
                    create_input_el(cur_dg, "enabled", line_prefix, {master_xml : @xml, boolean: true})
                )
            )
        new_tr.append(
            $("<th>").text("device type"),
            $("<th>").text(if cur_dg.attr("is_cdg") == 1 then "Cluster device group" else  "device group"),
            $("<th>").text("motherserver"),
            $("<th>").text("cURL"),
        )
        if cur_dg.attr("is_cdg") == "1"
            new_tr.append($("<th>"))
        else
            new_tr.append($("<th>").append(
                $("<input>").addClass("delete").attr({
                    "type"  : "button",
                    "value" : "delete"
                }).bind("click", (event) =>
                    data = {}
                    data[line_prefix] = "1"
                    data["force_delete"] = $("input#force_delete").is(":checked")
                    if confirm("really delete device_group " + cur_dg.attr("name") + " ?")
                        $.ajax
                            url     : "{% url 'base:delete_object' 'device_group' %}"
                            data    : data
                            success : (xml) =>
                                if parse_xml_response(xml)
                                    @delete_device_group(cur_dg.attr("pk"))
                )
            ))
        dummy_div = $("<div>").append(new_tr)
        @devg_expand_dict[cur_dg.attr("key")] = false
        return dummy_div.children()
    expand_device_group: (cur_dg) ->
        dg_key = cur_dg.attr("key")
        if not @devg_expand_dict[dg_key]
            @devg_expand_dict[dg_key] = true
            dummy_div = $("<div>")
            cur_dg.find("device[device_type!='#{@md_dt}']").each (index, cur_d) =>
                dummy_div.append(@build_device(cur_dg, $(cur_d)))
            @top_div.find("tr##{dg_key}").after(dummy_div.children().hide())
    fqdn_callback: (in_dict) =>
        dev_key = in_dict["id"].split("__")[0..1].join("__")
        el_name = in_dict["id"].split("__")[2]
        dev_xml = @xml.find("device[key='#{dev_key}']")
        other_list = []
        if el_name == "name"
            other_name = "domain_tree_node"
        else
            other_name = "name"
        other_id = "#{dev_key}__#{other_name}"
        in_dict[other_id] = dev_xml.attr(other_name)
        other_list.push(other_id)
        in_dict.other_list = other_list.join("::")
    build_device: (cur_dg, cur_d) ->
        line_prefix = cur_d.attr("key")
        new_tr = $("<tr>").attr
            # not standard, FIXME
            "id"    : "dev__" + cur_dg.attr("pk") + "__" + cur_d.attr("pk")
            "class" : "ui-widget"
        # name
        new_tr.append($("<td>").attr("colspan", 2).append(create_input_el(cur_d, "sel", line_prefix, {boolean : true, bind : false, master_xml : @xml, change_cb : @update_num_of_selected_devices })))
        new_tr.append($("<td>").append(create_input_el(cur_d, "name", line_prefix, {master_xml : @xml, modify_data_dict : @fqdn_callback})))
        # description / comment
        new_tr.append($("<td>").append(create_input_el(cur_d, "comment", line_prefix, {master_xml : @xml})))
        new_tr.append(
            # domain
            $("<td>").append(
                create_input_el(cur_d, "domain_tree_node", line_prefix, {master_xml : @xml, select_source : @xml.find("domain_tree_nodes domain_tree_node"), modify_data_dict : @fqdn_callback})
            ),
            # enabled
            $("<td>").append(
                create_input_el(cur_d, "enabled", line_prefix, {master_xml : @xml, boolean: true})
            )
        # device_type
            $("<td>").append(
                create_input_el(cur_d, "device_type", line_prefix, {
                    select_source           : "device_types device_type[identifier!='MD']"
                    select_source_attribute : "name"
                    master_xml              : @xml
                })
            ),
        # device group
            $("<td>").append(
                create_input_el(cur_d, "device_group", line_prefix, {
                    select_source           : "device_group"
                    select_source_attribute : "name"
                    master_xml              : @xml
                    change_cb               : @move_device
                })
            )
        )
        # mother server
        new_tr.append($("<td>").append(
            create_input_el(cur_d, "bootserver", line_prefix, {
                select_source  : "mother_servers mother_server"
                add_null_entry : "not set"
                master_xml     : @xml
            })
        ))
        # cURL
        new_tr.append($("<td>").append(
            create_input_el(cur_d, "curl", line_prefix, {master_xml : @xml})
        ))
        # device_group, cdg is not an option
        new_tr.append($("<td>").append(
            $("<input>").addClass("delete").attr({
                "type"  : "button",
                "value" : "delete",
                "id"    : "dev__del__" + cur_d.attr("pk")
            }).bind("click", @remove_device)
        ))
        new_tr.hide()
        return new_tr
    remove_device: (event, param) =>
        el_id = $(event.target).attr("id").split("__")[2]
        cur_d = @xml.find("device[pk=#{el_id}]")
        if (param == "noask" || confirm("really delete device " + cur_d.attr("name") + " ?")) 
            data = {}
            data["dev__#{el_id}"] = "1"
            data["force_delete"] = $("input#force_delete").is(":checked")
            $.ajax
                url     : "{% url 'base:delete_object' 'device' %}"
                data    : data
                success : (xml) =>
                    if parse_xml_response(xml)
                        @delete_device(cur_d.attr("pk"))
    delete_device: (dev_pk) =>
        @top_div.find("tr[id^='dev__'][id$='__#{dev_pk}']").remove()
        @xml.find("device[pk='#{dev_pk}']").remove()
        @update_device_group_info()
    create_device: (dev_xml) =>
        cur_dg = @xml.find("device_group[pk='" + dev_xml.attr("device_group") + "']")
        @toggle_device_group("devg__" + cur_dg.attr("pk"), true)
        cur_dg.append(dev_xml)
        dg_tr = @top_div.find("table tr[id='devg__" + cur_dg.attr("pk") + "']")
        dg_tr.after(@build_device(cur_dg, dev_xml).show())
        force_expansion_state(dg_tr, true)
        @update_device_group_info()
    delete_device_group: (devg_pk) =>
        @top_div.find("tr[id='devg__#{devg_pk}']").remove()
        @xml.find("device_group[pk='#{devg_pk}']").remove()
        @top_div.find("select[id$='__device_group'] option[value='#{devg_pk}']").each (index, opt_el) =>
            $(opt_el).remove()
        @num_devgs--
        if not @num_devgs
            @top_div.find("table tr")[-2..].remove()
        @update_device_group_info()
    create_device_group: (devg_xml) =>
        @xml.find("response").append(devg_xml)
        @top_div.find("tr[id='device_group__new']").before(@build_group(devg_xml))
        if @xml.find("device_group").length == 2
            # first real device_group added, create selection list
            @top_div.find("select[id$='__device_type']").each (index, devt_el) =>
                devg_td = $(devt_el).parents("th:first").next()
                devg_td.children().remove().end().text("")
                devg_td.append(
                    create_input_el(
                        undefined, "device_group", "dev__new", {
                            select_source           : "device_group[is_cdg='0']"
                            select_source_attribute : "name"
                            master_xml              : @xml
                        }
                    )
                )
        else
            # add device_groups
            @top_div.find("select[id$='__device_group']").each (index, sel_el) =>
                $(sel_el).append($("<option>").attr({
                    "value" : devg_xml.attr("pk")
                }).text(devg_xml.attr("name")))
        @num_devgs++
        if @num_devgs == 1
            @top_div.find("table").append(@build_new_device)
            @top_div.find("table").append(@build_selected)
        @update_device_group_info()
    update_dg_changes: (dg_el) =>
        dg_pk = dg_el.attr("id").split("__")[1]
        new_name = @xml.find("device_group[pk='#{dg_pk}']").attr("name")
        @top_div.find("select[id$='__device_group']").each (index, sel_el) =>
            $(sel_el).find("option[value='#{dg_pk}']").each (index, opt_el) =>
                $(opt_el).text(new_name)
    build_new_group: =>
        # new device group
        line_prefix = "device_group__new"
        new_tr = $("<tr>").attr({
            "id"    : line_prefix
            "class" : "ui-widget ui-widget-header"
        }).append(
            $("<th>").attr("colspan", 2).append("new DevGroup")
        ).append(
            $("<th>").append(
                create_input_el(undefined, "name", line_prefix, {master_xml : @xml})
            )
        )
        new_tr.append($("<th>").append(
            create_input_el(undefined, "description", line_prefix, {master_xml : @xml})
        ))
        new_tr.append($("<th>").attr({"colspan" : "6"}))
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "id"    : line_prefix
                "type"  : "button",
                "value" : "create"
            }).bind("click", (event) =>
                new_devg_line = $("table tr#device_group__new")
                $.ajax
                    url     : "{% url 'base:create_object' 'device_group' %}"
                    data    : create_dict(new_devg_line, "device_group__new")
                    success : (xml) =>
                        if parse_xml_response(xml)
                            new_devg_line.find("input[id$='__new__name']").val("")
                            @create_device_group($(xml).find("value[name='new_entry'] device_group"))
            )
        ))
        return new_tr
    build_new_device: =>
        # new device
        line_prefix = "dev__new"
        new_tr = $("<tr>").attr({
            "id"    : line_prefix
            "class" : "ui-widget ui-widget-header"
            }
        ).append(
            $("<th>").attr("colspan", 2).append("new Device"),
            $("<th>").append(
                create_input_el(undefined, "name", line_prefix, {master_xml : @xml})
            ),
            $("<th>").append(
                create_input_el(undefined, "comment", line_prefix, {master_xml : @xml})
            ),
            # domain
            $("<th>").append(
                create_input_el(undefined, "domain_tree_node", line_prefix, {master_xml : @xml, select_source : @xml.find("domain_tree_nodes domain_tree_node")})
            ),
            # enabled
            $("<th>").append(
                create_input_el(undefined, "enabled", line_prefix, {master_xml : @xml, boolean: true, new_default: true})
            ),
            # device_type
            $("<th>").append(
                create_input_el(undefined, "device_type", line_prefix, {
                    select_source           : "device_types device_type[identifier!='MD']"
                    select_source_attribute : "name"
                    master_xml              : @xml
                })
            ),
            # device_group
            $("<th>").append(
                create_input_el(undefined, "device_group", line_prefix, {
                    select_source           : "response device_group[is_cdg='0']"
                    select_source_attribute : "name"
                    master_xml              : @xml
                })
            ),
            # mother server
            $("<th>").append(
                create_input_el(undefined, "bootserver", line_prefix, {
                    select_source  : "mother_servers mother_server"
                    add_null_entry : "not set"
                    master_xml     : @xml
                })
            ),
            # cURL
            $("<th>").append(
                create_input_el(undefined, "curl", line_prefix, {
                    new_default : "ssh://"
                    master_xml  : @xml
                })
            )
        )
        new_tr.append($("<th>").append(
            $("<input>").attr({
                "id"    : line_prefix,
                "type"  : "button",
                "value" : "create"
            }).bind("click", (event) =>
                $(event.target).attr("disabled", "disabled")
                new_dev_line = $("table tr#dev__new")
                $.ajax
                    url     : "{% url 'base:create_object' 'device' %}"
                    data    : create_dict(new_dev_line, "dev__new")
                    success : (xml) =>
                        $(event.target).removeAttr("disabled")
                        if parse_xml_response(xml)
                            $(xml).find("value[name='new_entry'] device").each (idx, cur_dev) =>
                                @create_device($(cur_dev))
            )
        ))
        return new_tr
    get_enable_list: =>
        return $("<list>").append(
            $("<entry>").attr("pk", "0").text("-- keep --")
        ).append(
            $("<entry>").attr("pk", "2").text("enable")
        ).append(
            $("<entry>").attr("pk", "1").text("disable")
        ).children()
    update_num_of_selected_devices: =>
        num_dev = @top_div.find("input[id$='__sel']:checked").length
        @top_div.find("span#num_selected_devices").text("(#{num_dev})")
    build_selected: =>
        # selected devices
        line_prefix = "device__sel"
        new_tr = $("<tr>").attr({
            "id"    : line_prefix
            "class" : "ui-widget ui-widget-header"}
        ).append(
            $("<th>").attr({"colspan" : "4"}
            ).append("action on selected devices ").append($("<span>").attr("id", "num_selected_devices"))
        )
        new_tr.append(
            # domain
            $("<th>").append(
                create_input_el(undefined, "domain_tree_node", line_prefix, {
                    master_xml     : @xml,
                    add_null_entry : "-- keep --"
                    select_source  : @xml.find("domain_tree_nodes domain_tree_node"),
                    change_cb      : @change_sel_device_domain,
                })
            ),
            # enabled
            $("<th>").append(
                create_input_el(undefined, "enabled", line_prefix, {
                    select_source : @get_enable_list,
                    change_cb     : @change_sel_device_enabled,
                })
            ),
            # device_type
            $("<th>").append(
                create_input_el(undefined, "type", line_prefix, {
                    select_source           : "device_types device_type[identifier!='MD']"
                    select_source_attribute : "name"
                    add_null_entry          : "-- keep --"
                    change_cb               : @change_sel_device_type_cb
                    master_xml              : @xml
                })
            ),
            # device_group
            $("<th>").append(
                create_input_el(undefined, "device_group", line_prefix, {
                    select_source           : "response device_group[is_cdg='0']"
                    select_source_attribute : "name"
                    add_null_entry          : "-- keep --"
                    change_cb               : @change_sel_device_group_cb
                    master_xml              : @xml
                })
            ),
            # mother
            $("<th>").append(
                create_input_el(undefined, "mother", line_prefix, {
                    select_source           : "mother_servers mother_server"
                    add_extra_entry         : "-- clear --"
                    add_null_entry          : "-- keep --"
                    change_cb               : @change_sel_device_mother_cb
                    master_xml              : @xml
                })
            ),
            # curl
            $("<th>").append(
                create_input_el(undefined, "curl", line_prefix, {
                    change_cb  : @change_sel_device_curl_cb
                    master_xml : @xml
                })
            )
        )
        new_tr.append($("<td>").append(
            $("<input>").attr({
                "type"  : "button",
                "value" : "delete"
            }).bind("click", (event) ->
                sel_list = $("table#device_tree input[id^='dev__'][id$='__sel']:checked")
                if sel_list.length
                    if confirm("really delete selected #{sel_list.length} devices ?")
                        $(sel_list).each (index, cur_sel) ->
                            $(cur_sel).parents("tr:first").find("input[value='delete']").trigger("click", ["noask"])
            )
        ))
        return new_tr
    change_sel_device_enabled: (event) =>
        targ_el = $(event.target)
        @propagate_sel_change(parseInt(targ_el.val()) - 1, "enabled")
        targ_el.val("0")
    change_sel_device_domain: (event) =>
        targ_el = $(event.target)
        @propagate_sel_change(targ_el.val(), "domain_tree_node")
        targ_el.val("0")
    change_sel_device_type_cb: (event) =>
        targ_el = $(event.target)
        @propagate_sel_change(targ_el.val(), "device_type")
        targ_el.val("0")
    change_sel_device_group_cb: (event) =>
        targ_el = $(event.target)
        @propagate_sel_change(targ_el.val(), "device_group", false)
        targ_el.val("0")
    change_sel_device_mother_cb: (event) =>
        targ_el = $(event.target)
        new_val = targ_el.val()
        new_val = "0" if new_val == "-1"
        @propagate_sel_change(new_val, "bootserver")
        targ_el.val("0")
    change_sel_device_curl_cb: (event) =>
        targ_el = $(event.target)
        @propagate_sel_change(targ_el.val(), "curl")
        targ_el.val("")
    propagate_sel_change: (new_val, postfix, via_trigger=true) =>
        pk_list = []
        @top_div.find("tr input[id^='dev__'][id$='__sel']:checked").each (index, cur_el) =>
            cur_el = $(cur_el)
            dev_pk = cur_el.attr("id").split("__")[1]
            pk_list.push(dev_pk)
            if via_trigger
                targ_sel = @top_div.find("#dev__#{dev_pk}__#{postfix}")
                if targ_sel.is(":checkbox")
                    if not new_val and targ_sel.is(":checked")
                        targ_sel.removeAttr("checked").trigger("change")
                    else if new_val and not targ_sel.is(":checked")
                        targ_sel.attr("checked", "checked").trigger("change")
                else
                    if targ_sel.attr("value") != new_val
                        targ_sel.attr("value", new_val).trigger("change")
        if not via_trigger
            if pk_list.length
                $.ajax
                    url     : "{% url 'base:change_xml_entry' %}"
                    data    : 
                        "pks"        : pk_list
                        "id"         : "dev__0__#{postfix}"
                        "value"      : new_val
                        "ignore_nop" : 1
                        "checkbox"   : false
                    success : (xml) =>
                        if parse_xml_response(xml)
                            for dev_pk in pk_list
                                cur_dev = @xml.find("device[pk=#{dev_pk}]")
                                @change_device_group(cur_dev, new_val)

root = exports ? this

root.reload_device_tree = ->
    $.ajax
        url     : "{% url 'device:get_xml_tree' %}"
        success : (xml) ->
            if parse_xml_response(xml)
                new device_tree($(xml).find("response")[0]).build_table($("div#device_table"))

add_dt_handlers = ->
    #reload_device_tree()

$(document).ready(add_dt_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
