{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/device.cs" %}{% endblock %}

{% block title %}{% trans "Device tree" %}{% endblock %}

{% block content %}

<div id="icsw.device" ng-cloack>

<!-- forms to be shown in modal dialogs for creating / editing -->
<script type="text/ng-template" id="device_tree.html">
    {% crispy device_tree_form device_tree_form.helper %}
</script>

<script type="text/ng-template" id="device_group_tree.html">
    {% crispy device_group_tree_form device_group_tree_form.helper %}
</script>

<script type="text/ng-template" id="device_tree_many.html">
    {% crispy device_tree_many_form device_tree_many_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="device_tree_filters.html">
{{filter_settings}}
b
{{filter_settings.dg_filter}}
    <form class="form-inline">
        <div class="form-group">
            <label class="control-label">Group/Device:</label>
            <select class="form-control input-sm" ng-model="filter_settings.dg_filter">
                <option value="b">all</option>
                <option value="f">Devices</option>
                <option value="t">Group</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">Selected:</label>
            <select class="form-control input-sm" ng-model="filter_settings.sel_filter">
                <option value="b">all</option>
                <option value="t">selected</option>
                <option value="f">unselected</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">Enabled:</label>
            <select class="form-control input-sm" ng-model="filter_settings.en_filter">
                <option value="b">all</option>
                <option value="t">enabled</option>
                <option value="f">disabled</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">MonServer:</label>
            <select class="form-control input-sm" ng-model="filter_settings.mon_filter">
                <option value="i">ignore</option>
                <option ng-repeat="obj in rest_data.monitor_server" ng-value="obj.idx">{{ obj.full_name }} ({{ obj.monitor_type }})</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">BootServer:</label>
            <select class="form-control" ng-model="filter_settings.boot_filter">
                <option value="i">ignore</option>
                <option ng-repeat="obj in rest_data.mother_server" ng-value="obj.idx">{{ obj.full_name }}</option>
            </select>
        </div>
    </form>
</script>

<script type="text/ng-template" id="device_tree_head.html">
    <th>Name</th>
    <th>Sel</th>
    <th>Description</th>
    <th>Enabled</th>
    <th>Type</th>
    <th ng-repeat="entry in hide_list" ng-show="hide_lut[entry[0]]">{{ entry[1] }}</th>
    <th colspan="2" class="text-center">action</th>
</script> 

<script type="text/ng-template" id="device_tree_cdg_row.html">
    <td colspan="2"><strong><em>{{ obj.device_group_obj.name }}</em></strong>
    </td>
    <td>{{ obj.device_group_obj.description }}</td>
    <td colspan="2"></td>
    <td ng-show="hide_lut['tln']">{{ obj.device_group_obj.domain_tree_node | array_lookup:rest_data.domain_tree_node | show_dtn }}</td>
    <td ng-show="num_shown(['tln'])" colspan="{{ num_shown(['tln']) }}"></td>
    <td>
        <input type="button" class="btn btn-primary btn-sm" ng-click="edit('device_group', $event, obj.device_group_obj)" value="modify"/>
    </td>
    <td></td>
</script> 

<script type="text/ng-template" id="device_tree_meta_row.html">
    <td colspan="2"><strong>{{ obj.device_group_obj.name }}</strong>
        <div class="btn-group btn-group-xs pull-right" ng-show="obj.device_group_obj.num_devices">
            <input type="button" class="btn btn-success" ng-click="change_dg_sel(1)" value="S"></input>
            <input type="button" class="btn btn-primary" ng-click="change_dg_sel(0)" value="T"></input>
            <input type="button" class="btn btn-warning" ng-click="change_dg_sel(-1)" value="C"></input>
        </div>
    </td>
    <td>{{ obj.device_group_obj.description }}</td>
    <td>{{ obj.device_group_obj.enabled | yesno1 }}</td>
    <td>
        <b>{{ obj.device_group_obj.num_devices }}</b>
    </td>
    <td ng-show="hide_lut['tln']">{{ obj.device_group_obj.domain_tree_node | array_lookup:rest_data.domain_tree_node | show_dtn }}</td>
    <td ng-show="num_shown(['tln'])" colspan="{{ num_shown(['tln']) }}"></td>
    <td>
        <input type="button" class="btn btn-primary btn-xs" ng-click="edit('device_group', $event, obj.device_group_obj)" value="modify"/>
    </td>
    <td>
        <input ng-show="!obj.device_group_obj.num_devices" type="button" class="btn btn-danger btn-xs" ng-click="delete('device_group', obj.device_group_obj)" value="delete"/>
        <input type="button" class="btn btn-success btn-xs" ng-click="create('device', $event, obj.device_group_obj)" value="create device"/>
    </td>
</script> 

<script type="text/ng-template" id="device_tree_row.html">
    <td>{{ obj.name }}</td>
    <td><input type="button" ng-class="get_dev_sel_class()" ng-model="obj.selected" ng-click="toggle_dev_sel()" value="sel"></input></td>
    <td>{{ obj.comment }}</td>
    <td>
        <span ng-show="obj.device_group_obj.enabled">{{ obj.enabled | yesno1 }}</span>
        <span ng-show="!obj.device_group_obj.enabled"><em>{{ obj.enabled | yesno1 }}</em></span>
    </td>
    <td>{{ obj.device_type | array_lookup:rest_data.device_type:"description" }}</td>
    <td ng-show="hide_lut['tln']">{{ obj.domain_tree_node | array_lookup:rest_data.domain_tree_node | show_dtn }}</td>
    <td ng-show="hide_lut['rrd_store']">{{ obj.store_rrd_data | yesno2 }}</td>
    <td ng-show="hide_lut['passwd']">{{ obj.root_passwd_set | isset }}</td>
    <td ng-show="hide_lut['mon_master']">{{ obj.monitor_server | array_lookup:rest_data.monitor_server:"full_name_wt" }}</td>
    <td ng-show="hide_lut['boot_master']">{{ obj.bootserver | array_lookup:rest_data.mother_server:"full_name" }}</td>
    <td ng-show="hide_lut['curl']">{{ obj.curl }}</td>
    <td>
        <input type="button" class="btn btn-primary btn-xs" ng-click="edit('device', $event, obj)" value="modify"/>
    </td>
    <td>
        <input type="button" class="btn btn-danger btn-xs" ng-click="delete('device', obj)" value="delete"/>
    </td>
</script> 

<div ng-controller="device_tree_base" >
    <h2>
        Device tree smart ({{ entries.length }} entries, {{ table_controller.getDisplayedEntries().length }} shown<span ng-show="num_selected()">, {{ num_selected() }} selected</span>),
        <div class="btn-group">
            <input type="button" class="btn btn-success" value="create device" ng-show="dg_present()" ng-click="create('device', $event)"></button>
            <input type="button" class="btn btn-success" value="create devicegroup" ng-click="create('device_group', $event)"></button>
            <input ng-show="num_selected() > 1" type="button" class="btn btn-primary" value="modify selected" ng-click="edit_many($event)"></button>
            <input ng-show="num_selected() > 1" type="button" class="btn btn-danger" value="delete selected" ng-click="delete_many($event)"></button>
        </div>
    </h2>

    <div st-table="entries_displayed" st-safe-src="entries">

        <devicetreefilters></devicetreefilters>

        <from class="form-inline">
            <label class="control-label">Filter:</label>
            <div class="form-group">
                <input class="form-control input-sm" st-search="" placeholder="filter"></input>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-sm btn-primary" value="select shown" ng-click="select_shown()"></input>
            </div>
        </form>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <div class="btn-group btn-group-xs">
                                    <input
                                        type="button"
                                        ng-repeat="entry in hide_list"
                                        title="{{ entry[3] }}"
                                        ng-value="entry[0]"
                                        ng-class="hide_lut[entry[0]] && 'btn btn-success' || 'btn'"
                                        ng-click="hide_lut[entry[0]]=!hide_lut[entry[0]]">
                                    </input>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <div icsw-pagination="" st-items-by-page="10" st-displayed-pages="11" possible-items-by-page="10,20,50,100,200,500,1000"></div>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort='st_attrs.name'>Name</th>
                            <th>sel</th>
                            <th st-sort='st_attrs.description'>Description</th>
                            <th st-sort='st_attrs.enabled'>Enabled</th>
                            <th st-sort='st_attrs.type'>Type</th>
                            <th ng-repeat="entry in hide_list" ng-show="hide_lut[entry[0]]" st-sort="{{'st_attrs.'+entry[0]}}">{{ entry[1] }}</th>
                            <th colspan="2" class="text-center">action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr devicetreerow ng-repeat="obj in entries_displayed" ng-class="get_tr_class(obj)"></tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <hr style="border-width:10px; border-color:black;"/>

    <form class="form-inline">
        <div class="form-group">
            <label class="control-label">Group/Device:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.dg_filter">
                <option value="b">all</option>
                <option value="f">Devices</option>
                <option value="t">Group</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">Selected:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.sel_filter">
                <option value="b">all</option>
                <option value="t">selected</option>
                <option value="f">unselected</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">Enabled:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.en_filter">
                <option value="b">all</option>
                <option value="t">enabled</option>
                <option value="f">disabled</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">MonServer:</label>
            <select class="form-control input-sm" ng-model="pagSettings.conf.filter_settings.mon_filter">
                <option value="i">ignore</option>
                <option ng-repeat="obj in rest_data.monitor_server" ng-value="obj.idx">{{ obj.full_name }} ({{ obj.monitor_type }})</option>
            </select>
        </div>
        &nbsp;
        <div class="form-group">
            <label class="control-label">BootServer:</label>
            <select class="form-control" ng-model="pagSettings.conf.filter_settings.boot_filter">
                <option value="i">ignore</option>
                <option ng-repeat="obj in rest_data.mother_server" ng-value="obj.idx">{{ obj.full_name }}</option>
            </select>
        </div>
    </form>
    <from class="form-inline">
        <label class="control-label">Filter:</label>
        <div class="form-group">
            <input class="form-control input-sm" ng-model="str_filter" ng-change="update_filter()" placeholder="filter"></input>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-sm btn-primary" value="select shown" ng-click="select_shown()"></input>
        </div>
    </form>
    <div class="panel panel-default">
    <div class="panel-body">
    <table class="table table-hover table-condensed table-striped" style="width:auto;">
        <thead>
            <tr>
                <td colspan="99">
                    <div class="btn-group btn-group-xs">
                        <input
                            type="button"
                            ng-repeat="entry in hide_list"
                            title="{{ entry[3] }}"
                            ng-value="entry[0]"
                            ng-class="hide_lut[entry[0]] && 'btn btn-success' || 'btn'"
                            ng-click="hide_lut[entry[0]]=!hide_lut[entry[0]]">
                        </input>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="99" paginator entries="entries" pag_settings="pagSettings" per_page="20" paginator-filter="func" paginator-filter-func="filter_pag" paginator-epp="2,5,10,20,50,100,200,500,1000">
                </td>
            </tr>
            <tr devicetreehead></tr>
        </thead>
        <tbody>
            <tr devicetreerow ng-repeat="obj in entries | paginator2:pagSettings" ng-class="get_tr_class(obj)"></tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

{% endverbatim %}

</div>

<script type="text/javascript">

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.device']"), ["icsw.device"])
)

{% endinlinecoffeescript %}

</script>


{% endblock %}
