{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block title %}{% trans "Device Configuration" %}{% endblock %}

{% block site_css %}

<style type="text/css">

th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    translate(8px, -8px)
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

</style>

{% endblock %}

{% block content %}

<div id="icsw.device.config">

{% verbatim %}

<div ng-controller="config_ctrl">
    <deviceconfig></deviceconfig>    
</div>

</div>

{% endverbatim %}

{% include "generate_config.html" %}

<script type="text/javascript">

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.device.config']"), ["icsw.device.config"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
