{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block title %}{% trans "Device Configuration" %}{% endblock %}

{% block content %}

<div id="icsw.device.config">

{% verbatim %}

<script type="text/ng-template" id="dc_row.html">
    <td>
        <button class="btn btn-primary btn-xs" ng-click="expand_vt(obj)">
            <span ng_class="get_expand_class(obj)">
            </span> {{ obj.device_variable_set.length }}
            <span ng-if="var_filter.length"> / {{ obj.num_filtered }} shown<span>
        </button>
    </td>
    <td>{{ get_name(obj) }}</td>
    <td>{{ obj.device_group_name }}</td>
    <td>{{ obj.comment }}</td>
    <td>local: {{ obj.local_selected.length }}<span ng-show="obj.device_type_identifier != 'MD'">, meta: {{ meta_devices[devg_md_lut[obj.device_group]].local_selected.length }}</span></td>
</script>

<script type="text/ng-template" id="devconftable.html">
    <table ng-show="active_configs.length" class="table table-condensed table-hover table-bordered" style="width:auto;">
        <tbody>
            <tr ng-repeat="sub_list in line_list">
                <td ng-repeat="conf_idx in sub_list" ng-class="get_td_class(conf_idx)" ng-click="click(conf_idx)">
                    <span ng-class="get_td_class_icon(conf_idx)"></span> {{ get_config_info(conf_idx) }}
                 </td>
            </tr>
        </tbody>
    </table>
</script>

<div ng-controller="dc_base">
    <h2>
        Device config ({{ devices.length }} devices), {{ configs.length }} configurations ({{ active_configs.length }} shown)
    </h2>
    <div class="row">
        <div class="col-sm-5 form-inline">
            <div class="form-group">
                <input class="form-control" ng-model="name_filter" placeholder="filter"></input>
            </div>,
            <div class="checkbox">
                <label>
                    only selected:
                    <input title="show only configs selected anywhere in the curren selection" type="checkbox" ng-model="only_selected"></input>
                </label>
            </div>
        </div>
    </div>
    <table ng-show="devices.length" class="table table-condensed table-hover" style="width:auto;">
        <thead>
            <tr>
                <th></th>
                <th>Device</th>
                <th>Group</th>
                <th>Comment</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <tr dcrow ng-repeat-start="obj in devices" ng-class="get_tr_class(obj)"></tr>
            <tr ng-repeat-end ng-if="obj.expanded">
                <td colspan="9"><deviceconfig></deviceconfig></td>
            </tr>
        </tbody>
    </table>

</div>

</div>

{% endverbatim %}

{% include "generate_config.html" %}

<script type="text/javascript">

{% inlinecoffeescript %}

device_config_module = angular.module("icsw.device.config", ["ngResource", "ngCookies", "ngSanitize", "ui.bootstrap", "init.csw.filters", "localytics.directives", "restangular"])

angular_module_setup([device_config_module])

device_config_module.controller("dc_base", ["$scope", "$compile", "$filter", "$templateCache", "Restangular", "paginatorSettings", "restDataSource", "sharedDataSource", "$q", "$modal",
    ($scope, $compile, $filter, $templateCache, Restangular, paginatorSettings, restDataSource, sharedDataSource, $q, $modal) ->
        $scope.devices = []
        $scope.configs = []
        $scope.active_configs = []
        $scope.name_filter = ""
        $scope.only_selected = false
        $scope.new_devsel = (_dev_sel, _devg_sel) ->
            pre_sel = (dev.idx for dev in $scope.devices when dev.expanded)
            restDataSource.reset()
            $scope.devsel_list = _dev_sel
            wait_list = restDataSource.add_sources([
                ["{% url 'rest:device_tree_list' %}", {"with_device_configs" : true, "with_meta_devices" : true}],
                ["{% url 'rest:config_list' %}", {}]
            ])
            $q.all(wait_list).then((data) ->
                for value, idx in data
                    if idx == 0
                        $scope.devices = []
                        $scope.all_devices = []
                        $scope.device_lut = {}
                        $scope.meta_devices = {}
                        $scope.devg_md_lut = {}
                        for entry in value
                            if entry.idx in $scope.devsel_list
                                $scope.devices.push(entry)
                                $scope.device_lut[entry.idx] = entry
                            if entry.device_type_identifier == "MD"
                                $scope.meta_devices[entry.idx] = entry
                                $scope.devg_md_lut[entry.device_group] = entry.idx
                            $scope.all_devices.push(entry)
                    else if idx == 1
                        $scope.configs = value
                        $scope.new_filter_set($scope.name_filter, false)
                $scope.init_devices(pre_sel)
            )
        $scope.get_tr_class = (obj) ->
            if obj.device_type_identifier == "MD"
                return "success"
            else
                return ""
        $scope.get_name = (obj) ->
            if obj.device_type_identifier == "MD"
                return obj.full_name.slice(8) + " [Group]"
            else
                return obj.full_name
        $scope.init_devices = (pre_sel) ->
            # called after load
            for entry in $scope.devices
                entry.local_selected = (_dc.config for _dc in entry.device_config_set)
            for idx, entry of $scope.meta_devices
                entry.local_selected = (_dc.config for _dc in entry.device_config_set)
            for entry in $scope.devices
                entry.expanded = if entry.idx in pre_sel then true else false
            $scope.configs_lut = {}
            for entry in $scope.configs
                num_vars = entry.config_str_set.length + entry.config_int_set.length + entry.config_bool_set.length + entry.config_blob_set.length
                num_ccs = entry.mon_check_command_set.length
                num_scripts = entry.config_script_set.length
                entry.info_str = "#{entry.name} (#{num_vars}, #{num_scripts}, #{num_ccs})"
                $scope.configs_lut[entry.idx] = entry
        $scope.set_line_list = () ->
            PER_LINE = 6
            tot_len = $scope.active_configs.length
            if tot_len
                num_lines = parseInt((tot_len + PER_LINE - 1) / PER_LINE)
            else
                num_lines = 0
            cor_len = num_lines * PER_LINE
            if num_lines
                # number of empty cells
                empty_cells = cor_len - tot_len
                while empty_cells >= num_lines
                    # reduce PER_LINE to avoid empty rows
                    PER_LINE--
                    cor_len = num_lines * PER_LINE
                    empty_cells = cor_len - tot_len
            cur_idx = 0
            cur_list = []
            line_list = []
            for _idx in [0...cor_len]
                line_list.push(if cur_idx < tot_len then $scope.active_configs[cur_idx].idx else null)
                cur_idx += num_lines
                if cur_idx >= cor_len
                    cur_list.push(line_list)
                    cur_idx -= (PER_LINE * num_lines) - 1
                    line_list = []
            $scope.line_list = cur_list
        $scope.expand_vt = (obj) ->
            obj.expanded = not obj.expanded
        $scope.get_expand_class = (obj) ->
            if obj.expanded
                return "glyphicon glyphicon-chevron-down"
            else
                return "glyphicon glyphicon-chevron-right"
        $scope.$watch("name_filter", (new_val) -> $scope.new_filter_set(new_val, true))
        $scope.$watch("only_selected", (new_val) -> $scope.new_filter_set($scope.name_filter, true))
        $scope.new_filter_set = (new_val, change_expand_state) ->
            # called after filter settings have changed
            try
                cur_re = new RegExp($scope.name_filter, "gi")
            catch exc
                cur_re = new RegExp("^$", "gi")
            $scope.active_configs = []
            for entry in $scope.configs
                entry.show = if entry.name.match(cur_re) then true else false
                if $scope.only_selected and entry.show
                    sel = false
                    for cur_dev in $scope.all_devices
                        if entry.idx in cur_dev.local_selected
                            sel = true
                    entry.show = sel
                if entry.show
                    $scope.active_configs.push(entry)
            if change_expand_state
                active_ids = (_c.idx for _c in $scope.active_configs)
                # check expansion state of meta devices
                for idx, dev of $scope.meta_devices
                    dev.expanded = if (true for _loc_c in dev.local_selected when _loc_c in active_ids).length then true else false
                for dev in $scope.devices
                    dev.expanded = if (true for _loc_c in dev.local_selected when _loc_c in active_ids).length then true else false
                    if not dev.expanded and dev.device_type_identifier != "MD"
                        dev.expanded = $scope.meta_devices[$scope.devg_md_lut[dev.device_group]].expanded
            $scope.set_line_list()
        $scope.get_config_info = (conf_idx) ->
            if conf_idx != null
                cur_conf = $scope.configs_lut[conf_idx]
                return cur_conf.info_str
        install_devsel_link($scope.new_devsel, true, true)
]).directive("dcrow", ($templateCache) ->
    return {
        restrict : "EA"
        template : $templateCache.get("dc_row.html")
    }
).directive("deviceconfig", ($templateCache, $compile, $modal, Restangular) ->
    return {
        restrict : "EA"
        template : $templateCache.get("devconftable.html")
        link : (scope) ->
            scope.get_td_class = (conf_idx) ->
                _cls = ""
                is_meta_dev = scope.obj.device_type_identifier == "MD"
                meta_dev = scope.meta_devices[scope.devg_md_lut[scope.obj.device_group]]
                if conf_idx != null
                    if conf_idx in scope.obj.local_selected
                        _cls = "success"
                    if conf_idx in meta_dev.local_selected and not is_meta_dev
                        _cls = "warn"
                return _cls
            scope.get_td_class_icon = (conf_idx) ->
                _cls = "glyphicon"
                is_meta_dev = scope.obj.device_type_identifier == "MD"
                meta_dev = scope.meta_devices[scope.devg_md_lut[scope.obj.device_group]]
                if conf_idx != null
                    if conf_idx in scope.obj.local_selected
                        _cls = "glyphicon glyphicon-ok"
                    if conf_idx in meta_dev.local_selected and not is_meta_dev
                        _cls = "glyphicon glyphicon-ok-circle"
                return _cls
            scope.click = (conf_idx) ->
                if conf_idx != null
                    meta_dev = scope.meta_devices[scope.devg_md_lut[scope.obj.device_group]]
                    value = 1
                    if conf_idx in scope.obj.local_selected
                        value = 0
                    if conf_idx in meta_dev.local_selected
                        value = 0
                    $.ajax
                        url  : "{% url 'config:alter_config_cb' %}"
                        data : {
                            "conf_pk" : conf_idx
                            "dev_pk"  : scope.obj.idx
                            "value"   : value
                        },
                        success : (xml) =>
                            # interpret response
                            parse_xml_response(xml)
                            # at first remove all selections
                            for entry in scope.devices
                                if conf_idx in entry.local_selected
                                    entry.local_selected = (_v for _v in entry.local_selected when _v != conf_idx) 
                            for idx, entry of scope.meta_devices
                                if conf_idx in entry.local_selected
                                    entry.local_selected = (_v for _v in entry.local_selected when _v != conf_idx)
                            # set selection where needed 
                            $(xml).find("device_configs device_config").each (idx, cur_dc) =>
                                cur_dc = $(cur_dc)
                                dev_pk = parseInt(cur_dc.attr("device"))
                                if dev_pk of scope.meta_devices
                                    scope.meta_devices[dev_pk].local_selected.push(conf_idx)
                                else if dev_pk of scope.device_lut
                                    if not parseInt(cur_dc.attr("meta"))
                                        # only set if meta is not 1
                                        scope.device_lut[dev_pk].local_selected.push(conf_idx)
                            # force redraw
                            scope.$apply()
    }
)

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.device.config']"), ["icsw.device.config"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
