{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block title %}{% trans "Device variables" %}{% endblock %}

{% block content %}

<div id="icsw.device.variables">
    <div ng-controller="dv_base">
        <devicevars></devicevars>
    </div>
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.device.variables']"), ["icsw.device.variables"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}

