<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% load i18n coffeescript pipeline staticfiles %}

    <meta charset="utf-8">
    
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{{ settings.INIT_PRODUCT_NAME }}&reg; - {% block title%}{% trans 'Main Page' %}{% endblock %}</title>
    <meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width"/>
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    {% block stylesheets %}
        {% compressed_css 'part1' %}
    {% endblock %}
    
    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
    
    <!-- All JavaScript at the bottom, except this Modernizr build.
         Modernizr enables HTML5 elements & feature detects for optimal performance.
         Create your own custom Modernizr build: www.modernizr.com/download/ -->
    {% block javascript %}
        <!--[if lt IE 9]>
            <script type="text/javascript" src='{% static "js/libs/modernizr-2.7.1.ie8.js" %}'></script>
            <script type="text/javascript" src='{% static "js/libs/jquery-1.11.1.js" %}'></script>
            <script type="text/javascript" src='{% static "js/plugins.js" %}'></script>
            <script type="text/javascript" src='{% static "js/libs/html5shiv.js" %}'></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->{% compressed_js 'js_jquery_new' %}<!--<![endif]-->
        {% compressed_js 'js_base' %}
        {% compressed_js 'js_extra1' %}
    
    
    {% endblock %}

</head>
<body>
    <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header>
    {% block header %}
    {% endblock %}
    </header>
    <div class="row">
        <div class="col-md-3">
            {% include "index.xhtml" %}
        </div>
        <div class="col-md-9">
            {% include chunk_name %}
        </div>
    </div>
</body>
</html>
