{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "Images / Kernels" %}{% endblock %}

{% block content %}

<uib-tabset icsw-tools-add-acl-functions>
    <uib-tab heading="Images" ng-if="has_menu_permission('image.modify_images')">
        <icsw-image-overview></icsw-image-overview>
    </uib-tab>
    <uib-tab heading="Kernels" ng-if="has_menu_permission('kernel.modify_kernels')">
        <icsw-kernel-overview></icsw-kernel-overview>
    </uib-tab>
</uib-tabset>

{% endblock %}
