{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "Indexpage" %}{% endblock %}

{% block content %}

{% verbatim %}

<div ng-controller="index_base" ng-cloack ng-show="show_index">
    <h2 class="center">Please select a device from the tree on the left side</h2>
    <accordion close-others="no">
        <accordion-group is-open="quick_open">
            <accordion-heading>
                Quicklinks
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': quick_open, 'glyphicon-chevron-right': !quick_open}"></i>
            </accordion-heading>
            {% endverbatim %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Change account settings (password, contact data)
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'user:account_info' %}">{% trans "Account Info" %}</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-show="check_perm('backbone.user.modify_tree')">
                    <div class="row">
                        <div class="col-md-4">
                            Add a new device
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'mon:create_device' %}">{% trans "Create device" %}</a>
                        </div>
                    </div>
                </li>
            </ul>
            {% verbatim %}
        </accordion-group>
        <accordion-group is-open="ext_open">
            <accordion-heading>
                External links
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ext_open, 'glyphicon-chevron-right': !ext_open}"></i>
            </accordion-heading>
            {% endverbatim %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Changelog of the current development master
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.initat.org/wordpress/?page_id=121" target="_blank" >{% trans "Changelog" %}</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Software support forum (register, discuss and ask questions)
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.initat.org/phpBB3/index.php" target="_blank">{% trans "Forum" %}</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Mailing list (subscribe)
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.initat.org/mailman/listinfo" target="_blank">{% trans "Mailman" %}</a>
                        </div>
                    </div>
                </li>
            </ul>
            {% verbatim %}
        </accordion-group>
        <accordion-group is-open="diskusage_open">
            <accordion-heading>
                Disk usage and Quota info from <ng-pluralize count="NUM_QUOTA_SERVERS" when="{'0' : 'no quota servers', 'one' : 'one quota server', 'other' : '{} quota servers'}"></ng-pluralize>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': diskusage_open, 'glyphicon-chevron-right': !diskusage_open}"></i>
            </accordion-heading>
            <div ng-controller="account_ctrl">
                <quotasettings object='edit_obj' type='user'>
                </quotasettings>
                <diskusage object="edit_obj" type="user">
                </diskusage>
            </div>
        </accordion-group>
        <accordion-group is-open="vdesktop_open">
            <accordion-heading>
                Virtual desktops
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vdesktop_open, 'glyphicon-chevron-right': !vdesktop_open}"></i>
            </accordion-heading>
            
            <div ng-controller="account_ctrl">
                <vncwebviewer object="edit_obj">
                </vncwebviewer>
            </div>

        </accordion-group>
        <accordion-group is-open="jobinfo_open" ng-show="CLUSTER_LICENSE.rms.enabled">
            <accordion-heading>
               Job info
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': jobinfo_open, 'glyphicon-chevron-right': !jobinfo_open}"></i>
            </accordion-heading>
            <div ng-controller="jobinfo_ctrl">
                <jobinfo></jobinfo>
            </div>
        </accordion-group>
    </accordion>
</div>

{% endverbatim %}

<div id="center_deviceinfo" ng-controller="device_info_ctrl" ng-show="show" mode="{{ DEVICE_MODE }}">
    <deviceoverview devicepk="devicepk" multi="1"></deviceoverview>
</div>

{% endblock %}
