{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "Indexpage" %}{% endblock %}

{% block angular %}{% include "angular/user.cs" %}{% endblock %}

{% block content %}

{% verbatim %}

<div id="icsw.index_app" ng-controller="index_base" ng-cloack ng-show="show_index">
    <h2 class="center">Please select a device from the tree on the left side</h2>
    <accordion close-others="no">
        <accordion-group is-open="quick_open">
            <accordion-heading>
                Quicklinks
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': quick_open, 'glyphicon-chevron-right': !quick_open}"></i>
            </accordion-heading>
            {% endverbatim %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Change account settings (password, contact data)
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'user:account_info' %}">{% trans "Account Info" %}</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-show="check_perm('backbone.user.modify_tree')">
                    <div class="row">
                        <div class="col-md-4">
                            Add a new device
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'mon:create_device' %}">{% trans "Create device" %}</a>
                        </div>
                    </div>
                </li>
            </ul>
            {% verbatim %}
        </accordion-group>
        <accordion-group is-open="ext_open">
            <accordion-heading>
                External links
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ext_open, 'glyphicon-chevron-right': !ext_open}"></i>
            </accordion-heading>
            {% endverbatim %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Changelog of the current development master
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.initat.org/wordpress/?page_id=121" target="_blank" >{% trans "Changelog" %}</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Software support forum (register, discuss and ask questions)
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.initat.org/phpBB3/index.php" target="_blank">{% trans "Forum" %}</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            Mailing list (subscribe)
                        </div>
                        <div class="col-md-4">
                            <a href="http://www.initat.org/mailman/listinfo" target="_blank">{% trans "Mailman" %}</a>
                        </div>
                    </div>
                </li>
            </ul>
            {% verbatim %}
        </accordion-group>
        <accordion-group is-open="quota_open">
            <accordion-heading>
                Quota info
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': quota_open, 'glyphicon-chevron-right': !quota_open}"></i>
            </accordion-heading>
            <div ng-controller="account_ctrl">
                <quotasettings object='edit_obj' type='user'>
                </quotasettings>
            </div>
        </accordion-group>
    </accordion>
    <vnc host="192.168.1.173" port="5902" is-connected="true" password="init4u" display="{width:1280,height:800,fitTo:'width',}"></vnc>
</div>

{% endverbatim %}

<div id="center_deviceinfo" mode="{{ DEVICE_MODE }}">
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

root = exports ? this

use_devs = (dev_list, devg_list, md_list) ->
    if dev_list.length
        # only use when at least one device is selected
        cur_di = new device_info(
            undefined,
            dev_list[0],
            (entry for entry in dev_list[1..]),
            md_list,
            $("div#center_deviceinfo").attr("mode")
        )
        set_index_visibility(false)
        $("div#center_deviceinfo").show()
        cur_di.show()
    else
        # check for active device_info
        if window.ICSW_DEV_INFO?
            window.ICSW_DEV_INFO.close()
        set_index_visibility(true)
        $("div#center_deviceinfo").hide()

add_config_handlers = ->
    install_devsel_link(use_devs, true)
    angular.bootstrap($("div[id='icsw.index_app']"), ["icsw.user"])

root.show_device_on_index = use_devs

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
