{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "Indexpage" %}{% endblock %}

{% block content %}

<div id="center_content">
    <h2 class="center">Please select a device from the tree on the left side</h2>
</div>
<div id="center_deviceinfo">
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

use_devs = (dev_list) ->
    if dev_list.length
        # only use when at least one device is selected
        cur_di = new device_info(undefined, dev_list[0], undefined)
        cur_di.addon_devices = (entry for entry in dev_list[1..])
        $("div#center_content").hide()
        $("div#center_deviceinfo").show() 
        cur_di.show()
    else
        $("div#center_content").show()
        $("div#center_deviceinfo").hide() 

add_config_handlers = ->
    install_devsel_link(use_devs, true, false, false)

$(document).ready(add_config_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
