{% extends "main.html" %}

{% load i18n coffeescript %}

{% block title %}{% trans "Info page" %}{% endblock %}

{% block content %}

{% verbatim %}

<div id="icsw.cluster_info">
    <div ng-controller="info_ctrl">
        <h3>
            <span ng-click="show_roles = !show_roles" ng-class="{'glyphicon glyphicon-chevron-right' : !show_roles, 'glyphicon glyphicon-chevron-down' : show_roles}">&nbsp;</span>
            {{ num_roles() }} valid cluster roles defined (viewed from {{ local_device }})
        </h3>
        <table ng-show="show_roles" class="table table-hover table-striped" style="width:auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Penalty</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="role in get_roles()">
                    <th colspan="4">{{ role }}, {{ get_num_servers(role) }} devices</th>
                </tr>
                <tr ng-repeat-end ng-repeat="server in get_servers(role)">
                    <td>
                        {{ server[0] }}
                    </td>
                    <td>
                        {{ server[1] }}
                    </td>
                    <td>
                        {{ server[2] }}
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>
            <span ng-click="show_server = !show_server" ng-class="{'glyphicon glyphicon-chevron-right' : !show_server, 'glyphicon glyphicon-chevron-down' : show_server}">&nbsp;</span>
            {{ server_info_list.length }} Servers checked
        </h3>
        <table ng_show="show_server" class="table table-hover table-striped" style="width:auto;">
            <thead>
                <tr>
                    <th>Instance</th>
                    <th>Type</th>
                    <th ng-repeat="srv_info in server_info_list">
                        {{ srv_info.get_name() }}, {{ srv_info.max_mem | get_size:1:1024 }} max Memory
                     </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instance in instance_list">
                    <td>{{ instance }}</td>
                    <td>{{ get_runs_on(instance) }}</td>
                    <td ng-repeat="srv_info in server_info_list">
                        <instanceinfo></instanceinfo>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

{% endverbatim %}

{% inlinecoffeescript %}

{% verbatim %}

instance_info = """
<div ng-switch on="get_state()">
    <div class="text-warning" ng-switch-when="0">
        ---
    </div>
    <div class="text-success row" style="width:300px;" ng-switch-when="1">
        <div class="col-xs-2 text-center">{{ get_run_info() }}</div>
        <div class="col-xs-4 text-right">{{ get_mem_info() | get_size:1:1024 }}</div>
        <div class="col-xs-6" style="height:10px;">
            <progressbar value="get_mem_value()" animate="false"></progressbar>
        </div>
    </div>
    <div class="text-danger" ng-switch-when="2">
        not running
    </div>
</div> 
"""

{% endverbatim %}

info_module = angular.module("icsw.cluster_info", ["ngResource", "ngCookies", "ngSanitize", "init.csw.filters", "ui.bootstrap", "restangular"])

angular_module_setup([info_module])

class server_info
    constructor: (@xml) ->
        _round = 8 * 1024 * 1024
        @max_mem = _.max(parseInt($(mem_info).text()) for mem_info in @xml.find("instance memory_info") when $(mem_info).text())
        @max_mem = _round * parseInt((@max_mem + _round - 1) / _round)
    get_name: () ->
        return @xml.find("command").attr("server_name")
    instance_names: () ->
        return ($(entry).attr("name") for entry in @xml.find("instance"))
    get_state: (instance) ->
        _xml = @xml.find("instance[name='#{instance}']")
        if _xml.length
            _state_info = _xml.find("state_info")
            if _state_info.attr("num_started")
                return 1
            else
                return 2
        else
            return 0
    get_run_info: (instance) ->
        _state_info = @xml.find("instance[name='#{instance}'] state_info")
        _started = parseInt(_state_info.attr("num_started"))
        _found = parseInt(_state_info.attr("num_found"))
        if _started == _found
            return "#{_started}"
        else
            return "#{_found} of #{_started}"
    get_mem_info: (instance) ->
        _xml = @xml.find("instance[name='#{instance}'] memory_info")
        return _xml.text()
    get_mem_value: (instance) ->
        _mem = @xml.find("instance[name='#{instance}'] memory_info").text()
        return parseInt((parseInt(_mem) * 100) / @max_mem)
        
info_module.controller("info_ctrl", ["$scope", "$timeout",
    ($scope, $timeout) ->
        $scope.show_server = true
        $scope.show_roles = false
        $scope.server_info_list = []
        $scope.reload_server_info = () ->
            call_ajax
                url     : "{% url 'main:get_server_info' %}"
                hidden  : true
                success : (xml) =>
                    $scope.server_info_list = []
                    $scope.instance_list = []
                    $scope.runs_on = {}
                    $timeout($scope.reload_server_info, 10000)
                    $(xml).find("ics_batch").each (idx, res_xml) ->
                        res_xml = $(res_xml)
                        cur_si = new server_info(res_xml)
                        $scope.server_info_list.push(cur_si)
                        _cur_inst = cur_si.instance_names()
                        for _name in _cur_inst
                            if _name not of $scope.runs_on
                                $scope.runs_on[_name] = res_xml.find("instance[name='#{_name}']").attr("runs_on")
                        $scope.instance_list = _.union($scope.instance_list, _cur_inst)
                    $scope.$digest()
        $scope.get_runs_on = (instance) ->
            return $scope.runs_on[instance]
        $scope.num_roles = () ->
            return (key for key of $scope.routing_info).length
        $scope.get_roles = () ->
            return (key for key of $scope.routing_info)
        $scope.get_num_servers = (role) ->
            return $scope.routing_info[role].length
        $scope.get_servers = (role) ->
            return $scope.routing_info[role]
        $scope.local_device = "{{ local_device }}"
        $scope.routing_info = {{ routing | safe }}
        $scope.reload_server_info()
]).directive("instanceinfo", ($templateCache, $compile) ->
    return {
        restrict : "EA"
        link : (scope, element, attrs) ->
            scope.get_state = () ->
                return scope.srv_info.get_state(scope.instance)
            scope.get_run_info = () ->
                return scope.srv_info.get_run_info(scope.instance)
            scope.get_mem_info = () ->
                return scope.srv_info.get_mem_info(scope.instance)
            scope.get_mem_value = () ->
                return scope.srv_info.get_mem_value(scope.instance)
            new_el = $compile($templateCache.get("instance_info.html"))
            element.append(new_el(scope))
    }
).run(($templateCache) ->
    $templateCache.put("instance_info.html", instance_info)
)

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.cluster_info']"), ["icsw.cluster_info"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
