{% extends "initcore/index.html" %}

{% block meta_description %}
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="max-age=28800, must-revalidate" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}

{% load i18n extra_tags coffeescript compressed staticfiles %}

{% block stylesheets %}
    {% compressed_css 'part1' %}
<style type="text/css" media="screen">

    .dataTables_info { padding-top: 0; }
    .dataTables_paginate { padding-top: 0; }
    .css_right { float: right; }

</style>

<style type="text/css">

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 600px;
}

.CodeMirror-activeline-background {
    background: #ffff00 !important;
}

</style>

{% block extra_stylesheets %}
{% endblock %}

{% block tab_js %}{% endblock %}
{% block forms_media %}{% endblock %}

{% endblock %}

{# disable non-compressed imports #}
{% block javascript_jquery %}{% endblock %}
{% block stylesheets_jquery %}{% endblock %}
{% block modernizr %}{% endblock %}
{% block javascript %}
    <!--[if lt IE 9]>{% compressed_js 'js_jquery_old' %}><![endif]-->
    <!--[if gte IE 9]><!-->{% compressed_js 'js_jquery_new' %}<!--<![endif]-->
    {% compressed_js 'js_base' %}
    {% compressed_js 'js_extra1' %}
    {% compressed_js 'js_extra2' %}

{% include "javascript/init.js" %}
{% include "javascript/deviceinfo.js" %}
{% include "javascript/rms.js" %}
{# common angular modules #}
{% include "angular/common_functions.cs" %}
{% include "angular/tree.cs" %}

{# site-related angular modules #}
{% block angular %}{% endblock %}

{% endblock %}

{% block pre_title %}{{ settings.INIT_PRODUCT_NAME }}&reg; - {% endblock %}
{% block title %}{% trans "Main Page" %}{% endblock %}

{% block main %}

{% block body %}
{% if user.is_authenticated %}
    <div class="ui-layout-north ">
        {% include "menu.html" %}
    </div>
{% endif %}
<noscript>
    <p>no JavaScript, no Clustersoftware</p>
</noscript>
{% if not hide_sidebar %}
    <div class="ui-layout-west " >
        {% include 'sidebar.html' %}
    </div>
{% endif %}
{% if settings.CLUSTER_LICENSE.docu %}
    <div class="ui-layout-east " >
        <iframe src="{% url 'doc:show' 'index.html' %}" width="100%" height="100%" frameborder="0" >
        </iframe>
    </div>
{% endif %}
<div class="ui-layout-center" id="pane-center">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
{% endblock %}

{% block stylesheets_superfish %}{% endblock %}
{% block javascript_superfish %}{% endblock %}

{% block footer %}
<script type="text/javascript">

{% inlinecoffeescript %}

save_layout_state = (my_layout, p_name) ->
    $.ajax
        url  : "{% url 'user:save_layout_state' %}"
        data : 
            my_layout.state
            
init_layout = ->
    if $("div.ui-layout-center").length
        my_layout = $("body").layout
            applyDefaultStyles  : true
            slidable            : false
            spacing_open        : 6
            spacing_closed      : 6
            west__size          : 340
            west__maxSize       : 480
            west__minSize       : 100
            east__size          : 300
            east__maxSize       : 600
            east__minSize       : 300
            north__size         : 52
            center_minWidth     : 200
            north__spacing_open : 0
            south__initClosed   : true
            west__initClosed    : {% if request.session.west_closed %}true{% else %}false{% endif %}
            east__initClosed    : {% if request.session.east_closed %}true{% else %}false{% endif %}
            onopen : (p_name) ->
                save_layout_state(my_layout, p_name)
            onclose : (p_name) ->
                save_layout_state(my_layout, p_name)
        my_layout.panes.north.css("background-color", "#000000")
        my_layout.allowOverflow("north")

init_blockUI = ->
    $.blockUI.defaults.fadeOut = 0
    $.blockUI.defaults.fadeIn  = 0
    $.blockUI.defaults.overlayCSS.opacity = 0.1
    
add_handlers_main = ->
    init_layout()
    init_blockUI()
    # init noty
    $.noty.defaults = {
        "layout" : "topRight"
        "theme"  : "defaultTheme"
        "type"   : 'success',
        "text"   : '',
        "dismissQueue" : true, # If you want to use queue feature set this true
        "template"     : '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
        "animation"    : {
            open   : {height: 'toggle'},
            close  : {height: 'toggle'},
            easing : 'swing',
            speed  : 200 # opening & closing animation speed
        },
        "timeout"   : 5000,  # delay for closing event. Set false for sticky notifications
        "force"     : false, # adds notification to the beginning of queue when set to true
        "modal"     : false,
        "closeWith" : ['hover'], # ['click', 'button', 'hover']
        "callback" : {
            onShow     : ->
            afterShow  : ->
            onClose    : ->
            afterClose : ->
        },
        buttons: false
    }

$(document).ready(add_handlers_main)

{% endinlinecoffeescript %}

</script>
{% endblock %}
