{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/monitoring_basic.cs" %}{% endblock %}

{% block title %}{% trans "Monitoring" %}{% endblock %}

{% block content %}

<div id="icsw.monitoring_basic">

<script type="text/ng-template" id="mon_period.html">
    {% crispy mon_period_form mon_period_form.helper %}
</script>

<script type="text/ng-template" id="mon_notification.html">
    {% crispy mon_notification_form mon_notification_form.helper %}
</script>

<script type="text/ng-template" id="mon_contact.html">
    {% crispy mon_contact_form mon_contact_form.helper %}
</script>

<script type="text/ng-template" id="mon_service_templ.html">
    {% crispy mon_service_templ_form mon_service_templ_form.helper %}
</script>

<script type="text/ng-template" id="host_check_command.html">
    {% crispy host_check_command_form host_check_command_form.helper %}
</script>

<script type="text/ng-template" id="mon_contactgroup.html">
    {% crispy mon_contactgroup_form mon_contactgroup_form.helper %}
</script>

<script type="text/ng-template" id="mon_device_templ.html">
    {% crispy mon_device_templ_form mon_device_templ_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="mon_period_head.html">
    <tr>
        <th>Name</th>   
        <th>Alias</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
        <th>Usecount</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_period_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.alias }}</td>
    <td class="text-center">{{ obj.mon_range }}</td>
    <td class="text-center">{{ obj.tue_range }}</td>
    <td class="text-center">{{ obj.wed_range }}</td>
    <td class="text-center">{{ obj.thu_range }}</td>
    <td class="text-center">{{ obj.fri_range }}</td>
    <td class="text-center">{{ obj.sat_range }}</td>
    <td class="text-center">{{ obj.sun_range }}</td>
    <td>{{ get_usecount(obj) }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="mon_notification_head.html">
    <tr>
        <th>Name</th>   
        <th>Channel</th>
        <th>Type</th>
        <th>subject</th>
        <th>content</th>
        <th>enabled</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_notification_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.channel }}</td>
    <td>{{ obj.not_type }}</td>
    <td>{{ obj.subject | limit_text:30 }}</td>
    <td>{{ obj.content | limit_text:50 }}</td>
    <td>{{ obj.enabled | yesno1 }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="mon_contact_head.html">
    <tr>
        <th>User</th>
        <th>Service:</th>
        <th>rec</th>
        <th>crit</th>
        <th>warn</th>
        <th>unkn</th>
        <th>flap</th>
        <th>planned</th>
        <th>Host:</th>
        <th>rec</th>
        <th>down</th>
        <th>unrch</th>
        <th>flap</th>
        <th>planned</th>
        <th>Notifications</th>
        <th>Alias</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_contact_row.html">
    <td>{{ obj.user | array_lookup:this.rest_data.user | show_user }}</td>
    <td>{{ obj.snperiod | array_lookup:this.rest_data.mon_period:'name' }}</td>
    <td>{{ obj.snrecovery | yesno1 }}</td>
    <td>{{ obj.sncritical | yesno1 }}</td>
    <td>{{ obj.snwarning | yesno1 }}</td>
    <td>{{ obj.snunknown | yesno1 }}</td>
    <td>{{ obj.sflapping | yesno1 }}</td>
    <td>{{ obj.splanned_downtime | yesno1 }}</td>
    <td>{{ obj.hnperiod | array_lookup:this.rest_data.mon_period:'name' }}</td>
    <td>{{ obj.hnrecovery | yesno1 }}</td>
    <td>{{ obj.hndown | yesno1 }}</td>
    <td>{{ obj.hnunreach | yesno1 }}</td>
    <td>{{ obj.hflapping | yesno1 }}</td>
    <td>{{ obj.hplanned_downtime | yesno1 }}</td>
    <td>{{ obj.notifications | resolve_n2m:this.rest_data.mon_notification:'name':'no notifications' }}</td>
    <td>{{ obj.alias || "---" }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="mon_service_templ_head.html">
    <tr>
        <th>Name</th>
        <th>volatile</th>
        <th>Service:</th>
        <th>att</th>
        <th>check</th>
        <th>retry</th>
        <th>Notify:</th>
        <th>interval</th>
        <th>rec</th>
        <th>crit</th>
        <th>warn</th>
        <th>unk</th>
        <th>flap</th>
        <th>planned</th>
        <th>FlapDet</th>
        <th>min</th>
        <th>max</th>
        <th>ok</th>
        <th>warn</th>
        <th>crit</th>
        <th>unk</th>
        <th>frsh</th>
        <th>fth</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_service_templ_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.volatile | yesno1 }}</td>
    <td>{{ obj.nsc_period | array_lookup:this.rest_data.mon_period:'name' }}</td>
    <td>{{ obj.max_attempts }}</td>
    <td>{{ obj.check_interval }}</td>
    <td>{{ obj.retry_interval }}</td>
    <td>{{ obj.nsn_period | array_lookup:this.rest_data.mon_period:'name' }}</td>
    <td>{{ obj.ninterval }}</td>
    <td>{{ obj.nrecovery | yesno1 }}</td>
    <td>{{ obj.ncritical | yesno1 }}</td>
    <td>{{ obj.nwarning | yesno1 }}</td>
    <td>{{ obj.nunknown | yesno1 }}</td>
    <td>{{ obj.nflapping | yesno1 }}</td>
    <td>{{ obj.nplanned_downtime | yesno1 }}</td>
    <td>{{ obj.flap_detection_enabled | yesno1 }}</td>
    <td>{{ obj.low_flap_threshold }}</td>
    <td>{{ obj.high_flap_threshold }}</td>
    <td>{{ obj.flap_detect_ok | yesno1 }}</td>
    <td>{{ obj.flap_detect_warn | yesno1 }}</td>
    <td>{{ obj.flap_detect_critical | yesno1 }}</td>
    <td>{{ obj.flap_detect_unknown | yesno1 }}</td>
    <td>{{ obj.check_freshness | yesno1 }}</td>
    <td>{{ obj.freshness_threshold }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="host_check_command_head.html">
    <tr>
        <th>Name</th>   
        <th>Command</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="host_check_command_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.command_line }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="mon_contactgroup_head.html">
    <tr>
        <th>Name</th>   
        <th>Alias</th>
        <th>Members</th>
        <th>Devicegroups</th>
        <th>Service templates</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_contactgroup_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.alias }}</td>
    <td>{{ obj.members | resolve_n2m:this.rest_data.mon_contact:'user' | resolve_n2m:this.rest_data.user:'login' }}</td>
    <td>{{ obj.device_groups | resolve_n2m:this.rest_data.device_group:'name' }}</td>
    <td>{{ obj.service_templates | resolve_n2m:this.rest_data.mon_service_templ:'name' }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="mon_device_templ_head.html">
    <tr>
        <th>Name</th>
        <th>Service template</th>
        <th>Host check command</th>
        <th>Notify:</th>
        <th>Interval</th>
        <th>Mon period</th>
        <th>check</th>
        <th>retry</th>
        <th>att</th>
        <th>rec</th>
        <th>down</th>
        <th>unr</th>
        <th>flap</th>
        <th>planned</th>
        <th>FlapDet</th>
        <th>min</th>
        <th>max</th>
        <th>up</th>
        <th>down</th>
        <th>unr</th>
        <th>frsh</th>
        <th>fth</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_device_templ_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.mon_service_templ | array_lookup:this.rest_data.mon_service_templ:'name' }}</td>
    <td>{{ obj.host_check_command | array_lookup:this.rest_data.host_check_command:'name' }}</td>
    <td>{{ obj.not_period | array_lookup:this.rest_data.mon_period:'name' }}</td>
    <td>{{ obj.ninterval }}</td>
    <td>{{ obj.mon_period | array_lookup:this.rest_data.mon_period:'name' }}</td>
    <td>{{ obj.check_interval }}</td>
    <td>{{ obj.retry_interval }}</td>
    <td>{{ obj.max_attempts }}</td>
    <td>{{ obj.nrecovery | yesno1 }}</td>
    <td>{{ obj.ndown | yesno1 }}</td>
    <td>{{ obj.nunreachable | yesno1 }}</td>
    <td>{{ obj.nflapping | yesno1 }}</td>
    <td>{{ obj.nplanned_downtime | yesno1 }}</td>
    <td>{{ obj.flap_detection_enabled | yesno1 }}</td>
    <td>{{ obj.low_flap_threshold }}</td>
    <td>{{ obj.high_flap_threshold }}</td>
    <td>{{ obj.flap_detect_up | yesno1 }}</td>
    <td>{{ obj.flap_detect_down | yesno1 }}</td>
    <td>{{ obj.flap_detect_unreachable | yesno1 }}</td>
    <td>{{ obj.check_freshness | yesno1 }}</td>
    <td>{{ obj.freshness_threshold }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<tabset ng-cloack>
    <tab heading="Periods">
        <div ng-controller="mon_period_base">
            <div ng-controller="mon_period">
                <h2>Periods ({{entries.length}} entries), <input type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead monperiodhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr monperiodrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Notifications">
        <div ng-controller="mon_notification_base">
            <div ng-controller="mon_notification">
                <h2>Notifications ({{entries.length}} entries), <input type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead monnotificationhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr monnotificationrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Contacts">
        <div ng-controller="mon_contact_base">
            <div ng-controller="mon_contact">
                <h2>Contacts ({{entries.length}} entries), <input ng-show="fn.rest_data_present(this)" type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead moncontacthead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr moncontactrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Service templates">
        <div ng-controller="mon_service_templ_base">
            <div ng-controller="mon_service_templ">
                <h2>Service templates ({{entries.length}} entries), <input ng-show="fn.rest_data_present(this)" type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead monservicetemplhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr monservicetemplrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Device templates">
        <div ng-controller="mon_device_templ_base">
            <div ng-controller="mon_device_templ">
                <h2>Device templates ({{entries.length}} entries), <input ng-show="fn.rest_data_present(this)" type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead mondevicetemplhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr mondevicetemplrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Host check commands">
        <div ng-controller="host_check_command_base">
            <div ng-controller="host_check_command">
                <h2>Host check commands ({{entries.length}} entries), <input type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead hostcheckcommandhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr hostcheckcommandrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Contactgroups">
        <div ng-controller="mon_contactgroup_base">
            <div ng-controller="mon_contactgroup">
                <h2>Contactgroups ({{entries.length}} entries), <input type="button" value="create new" class="btn btn-success" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead moncontactgrouphead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="5"></td></tr>
                        <tr moncontactgrouprow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
</tabset>

{% endverbatim %}

</div>

<script>

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.monitoring_basic']"), ["icsw.monitoring_basic"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
