{% extends "main.html" %}

{% load i18n compress coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/monitoring_device.cs" %}{% endblock %}

{% block title %}{% trans "Monitoring,  device settings" %}{% endblock %}

{% block content %}

<div id="icsw.monitoring_device">

<script type="text/ng-template" id="monitoring_device.html">
    {% crispy device_monitoring_form device_monitoring_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="mon_device_head.html">
    <tr>
        <th>Name</th>   
        <th>Checks</th>
        <th>Template</th>
        <th>Cache mode</th>
        <th>Disk layout</th>
        <th>Image</th>
        <th>PerfData</th>
        <th>Flap</th>
        <th>NVroot</th>
        <th>NVparent</th>
        <th>MonServer</th>
        <th colspan="1" class="text-center">action</th>
    </tr>
</script>

<script type="text/ng-template" id="mon_device_row.html">
    <td>{{ obj.full_name }}</td>
    <td>{{ obj.monitor_checks | yesno1 }}</td>
    <td>{{ obj.mon_device_templ | array_lookup:this.rest_data.mon_device_templ:"name" }}</td>
    <td>{{ settings.md_cache_modes[obj.md_cache_mode] }}</td>
    <td>{{ obj.act_partition_table | yesno1 }}</td>
    <td class="text-center">
        <span ng-if="obj.mon_ext_host"> 
            <img ng-src="{{ obj.mon_ext_host | array_lookup:this.rest_data.mon_ext_host:'data_image' }}" width="24px" height="24px"></img>
        </span>
        <span ng-if="obj.mon_ext_host == null">
            ---
        </span> 
    </td>
    <td>{{ obj.enable_perfdata | yesno1 }}</td>
    <td>{{ obj.flap_detection_enabled | yesno1 }}</td>
    <td>{{ obj.automap_root_nagvis | yesno1 }}</td>
    <td>{{ obj.nagvis_parent | array_lookup:this.entries:"name" }}</td>
    <td>{{ obj.monitor_server | array_lookup:this.rest_data.mon_server:"full_name":"Master" }}</td>
    <td><input type="button" class="btn btn-primary" ng-click="edit($event, obj)" value="modify"/></td>
</script>

<script type="text/ng-template" id="mon_meta_device_row.html">
    <td class="active" colspan="12">Devicegroup {{ obj.device_group_name }}</td>
</script>

<div ng-controller="mon_device_base">
        <h2>Devices ({{ entries | array_length }} entries)</h2>
        <table class="table table-condensed table-condensed table-hover" style="width:auto;">
            <thead mondevicehead></thead>
            <tbody>
                <tr><td colspan="12" paginator entries="entries" pag_settings="pagSettings" per_page="15" paginator_filter="1"></td></tr>
                <tr mondevicerow ng-repeat="obj in entries | paginator:this"></tr>
            </tbody>
        </table>
</div>

{% endverbatim %}

</div>

<div id="mon_tables"></div>

<script type="text/javascript">

{% inlinecoffeescript %}

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.monitoring_device']"), ["icsw.monitoring_device"])
)

class config_table
    constructor: (@top_div) ->
    use_devs: (sel_list) =>
        $.ajax
            url     : "{% url 'mon:device_config' %}",
            success : (xml) =>
                @mon_srv = $(xml).find("value[name='response']")
                $.ajax
                    url     : "{% url 'device:get_group_tree' %}"
                    data    : {
                        "sel_list"            : sel_list,
                        "extra_t0"            : "mon_device_templ",
                        "extra_t1"            : "mon_ext_host",
                        "extra_t2"            : "mon_host_cluster",
                        "extra_t3"            : "mon_service_cluster",
                        "ignore_meta_devices" : 1,
                        "with_monitoring"     : 1,
                        "full_name"           : 1,
                    },
                    success : (xml) =>
                        if parse_xml_response(xml)
                            @devices = $(xml).find("value[name='response']")
                            @draw_tables()
    draw_tables: () =>
        @top_div.children().remove()
        c_table = $("<table>").attr({"id" : "config"})
        @c_table = c_table
        ref_width = {% if settings.CLUSTER_LICENSE.monext %}14{% else %}12{% endif %}
        @devices.find("device_group").each (devg_index, cur_dg) =>
            cur_dg = $(cur_dg)
            line_prefix = cur_dg.attr("key")
            new_tr = $("<tr>").attr({
                "class"   : "ui-widget ui-widget-header"
            })
            new_tr.append(
                $("<th>").append(
                    $("<input>").attr({
                        "type" : "checkbox",
                        "id"   : "#{line_prefix}__sel"
                    }).bind("click", @change_dg_sel)
                )
            ).append(
                $("<th>").attr({
                    "colspan" : ref_width
                }).addClass("ui-widget ui-widget-header").text("device group " + cur_dg.attr("name")))
            c_table.append(new_tr)
            # at first append metadevice
            cur_dg.find("devices device[tree_selected='selected'][meta_device='1']").each (md_idx, md_dev) =>
                c_table.append(@draw_device($(md_dev)))
            cur_dg.find("devices device[tree_selected='selected'][meta_device='0']").each (dev_idx, cur_dev) =>
                c_table.append(@draw_device($(cur_dev)))
        if @devices.find("device_group").length
            new_tr = $("<tr>").attr({
                "class"   : "ui-widget ui-widget-header"
            })
            new_tr.append(
                $("<th>").attr({
                    "colspan" : ref_width + 1
                }).addClass("ui-widget ui-widget-header").text("all devices"))
            c_table.append(new_tr)
            c_table.append(@draw_device(undefined))
        @top_div.append(c_table)
        c_table.find("select[id$='mon_ext_host']").msDropdown({
            useSprite : "smallIcons",
            visibleRows : 15
        })
    draw_device: (d_el) =>
        dummy_div = $("<div>")
        if d_el
            line_prefix = d_el.attr("key")
            is_meta = if d_el.attr("meta_device") == "1" then true else false
        else
            line_prefix = "new"
            is_meta = false
        new_tr = $("<tr>").attr({
            "class" : "ui-widget ui-widget-header",
            "id"    : line_prefix
        })
        new_tr.append(
            $("<td>").append(
                $("<input>").attr({
                    "type" : "checkbox",
                    "id"   : "#{line_prefix}__sel"
                }).bind("click", if d_el then @change_d_sel else @change_global_sel)
            ),
            $("<td>").attr({
            }).text((if is_meta then "Meta device" else "device") + " " + (if d_el then d_el.text() else "global")),
            $("<td>").append(
                create_input_el(d_el, "monitor_checks", line_prefix, {
                    boolean    : true,
                    change_cb  : if d_el then undefined else @change_monitor_checks,
                    master_xml : @devices,
                    title      : "checks enabled",
                })
            ),
            $("<td>").append(
                create_input_el(d_el, "mon_device_templ", line_prefix, {
                    select_source   : "mon_device_templs mon_device_templ",
                    add_null_entry  : "not set",
                    css             : {width : "100px"},
                    change_cb       : if d_el then undefined else @change_monitor_template,
                    master_xml      : @devices,
                    title           : "device template"
                })
            ),
        )
        if d_el
            new_tr.append(
                $("<td>").append(
                    create_input_el(d_el, "md_cache_mode", line_prefix, {
                        select_source : @get_md_cache_modes,
                        master_xml    : @devices,
                        title         : "md cache mode",
                    })
                )
            )
        else
            new_tr.append(
                $("<td>").append(
                    create_input_el(d_el, "md_cache_mode", line_prefix, {
                        select_source : @get_md_cache_modes,
                        change_cb     : @change_md_cache_mode,
                        master_xml    : @devices,
                        title         : "md cache mode",
                        add_null_entry : "---keep---",
                    })
                )
            )
        new_tr.append(
            @get_device_part(d_el, line_prefix)
        )
        if d_el
            new_tr.append(
                $("<td>").append(
                    $("<input>").attr({
                        "type"   : "image"
                        "width"  : "16px"
                        "height" : "16px"
                        "src"    : "{{ MEDIA_URL }}frontend/images/information.png"
                        "id"     : "#{line_prefix}__md_info"
                    }).bind("click", @device_information)
                )
            )
        else
            new_tr.append(
                $("<td>")
            )
        new_tr.append(
            $("<td>").append(
                create_input_el(d_el, "mon_ext_host", line_prefix, {
                    select_source  : "mon_ext_hosts mon_ext_host",
                    add_null_entry : "not set",
                    css            : {width : "250px"},
                    change_cb      : if d_el then undefined else @change_mon_ext_host,
                    master_xml     : @devices,
                    title          : "image for map",
                })
            )
        )
        if d_el
            new_tr.append(
                $("<td>").addClass("center").append(
                    create_input_el(d_el, "flap_detection_enabled", line_prefix, {
                        boolean    : true,
                        master_xml : @devices,
                        title      : "flap detection enabled",
                    })
                ),
                $("<td>").addClass("center").append(
                    create_input_el(d_el, "enable_perfdata", line_prefix, {
                        boolean    : true,
                        master_xml : @devices,
                        title      : "perfdata monitoring",
                    })
                ),
                $("<td>").addClass("center").append(
                    create_input_el(d_el, "automap_root_nagvis", line_prefix, {
                        boolean    : true,
                        master_xml : @devices,
                        title      : "automap root (for NagVis)",
                    })
                )
            )
        else
            new_tr.append(
                $("<td>").append(
                    create_input_el(d_el, "flap_detection_enabled", line_prefix, {
                        select_source  : @get_toggle_modes(),
                        add_null_entry : "--keep--",
                        change_cb      : @change_flap_detection,
                        master_xml     : @devices,
                        title          : "flap detection enabled",
                    })
                ),
                $("<td>").append(
                    create_input_el(d_el, "enable_perfdata", line_prefix, {
                        select_source  : @get_toggle_modes(),
                        add_null_entry : "--keep--",
                        change_cb      : @change_enable_perfdata,
                        master_xml     : @devices,
                        title          : "perfdata monitoring",
                    })
                ),
                $("<td>").append(
                    create_input_el(d_el, "automap_root_nagvis", line_prefix, {
                        select_source  : @get_toggle_modes(),
                        add_null_entry : "--keep--",
                        change_cb      : @change_automap_root_nagvis,
                        master_xml     : @devices,
                        title          : "automap root (for NagVis)",
                    })
                )
            )
        new_tr.append(
            $("<td>").append(
                create_input_el(d_el, "nagvis_parent", line_prefix, {
                    select_source  : @devices.find("device[automap_root_nagvis='1']"),
                    add_null_entry : "not set",
                    css            : {width : "150px"},
                    change_cb      : if d_el then undefined else @change_automap_parent,
                    master_xml     : @devices,
                    title          : "parent nagvis root",
                })
            ),
            $("<td>").append(
                create_input_el(d_el, "monitor_server", line_prefix, {
                    select_source  : @mon_srv.find("devices device"),
                    add_null_entry : "default (==master)",
                    css            : {width : "150px"},
                    change_cb      : if d_el then undefined else @change_monitor_server,
                    master_xml     : @devices,
                    title          : "monitor server",
                })
            )
        )
        {% if settings.CLUSTER_LICENSE.monext %}
        if d_el
            new_tr.append(
                $("<td>").append(
                    create_input_el(d_el, "devs_mon_host_cluster", line_prefix, {
                        select_source         : @devices.find("mon_host_clusters mon_host_cluster"),
                        manytomany            : true,
                        css                   : {width : "150px"},
                        ignore_missing_source : true,
                        master_xml            : @devices,
                        title                 : "host cluster",
                    })
                )
            ).append(
                $("<td>").append(
                    create_input_el(d_el, "devs_mon_service_cluster", line_prefix, {
                        select_source         : @devices.find("mon_service_clusters mon_service_cluster"),
                        manytomany            : true,
                        css                   : {width : "150px"},
                        ignore_missing_source : true,
                        master_xml            : @devices,
                        title                 : "service cluster",
                    })
                )
            )
        else
            new_tr.append($("<td>"))
            new_tr.append($("<td>"))
        {% endif %}
        dummy_div.append(new_tr)
        return dummy_div.children()
    device_information: (event) =>
        dev_id = $(event.target).attr("id").split("__")[1]
        show_device_info(event, "dev__#{dev_id}")
    get_toggle_modes: () =>
        return $("<list>").append(
            $("<entry>").attr("pk", "1").text("clear"),
            $("<entry>").attr("pk", "2").text("set"),
            $("<entry>").attr("pk", "3").text("toggle"),
        ).children()
    get_md_cache_modes: () =>
        return $("<list>").append(
            $("<entry>").attr("pk", "1").text("automatic (server)"),
            $("<entry>").attr("pk", "2").text("never use cache"),
            $("<entry>").attr("pk", "3").text("once (until successfull)"),
        ).children()
    get_device_part : (d_el, line_prefix) =>
        dev_td = $("<td>").addClass("right")
        if d_el
            if parseInt(d_el.attr("act_partition_table"))
                dev_td.append($("<span>").text("set"))
            else
                dev_td.append($("<span>").text("N/A"))
            dev_td.append(
                create_input_el(undefined, "partition", line_prefix, {
                    select_source : @get_part_read_list,
                    change_cb     : @read_device_part
                })
            )
        return dev_td
    read_device_part: (event) =>
        cur_el = $(event.target)
        if cur_el.val() == "1"
            $.ajax
                url     : "{% url 'mon:fetch_partition' %}"
                data    : {
                    "pk" : cur_el.attr("id").split("__")[1]
                },
                success : (xml) =>
                    cur_el.val("0")
                    if parse_xml_response(xml)
                        cur_el.prev().text("set")
        else
            cur_el.val("0")
    get_part_read_list: =>
        return $("<list>").append(
            $("<entry>").attr("pk", "0").text("-- keep --")
        ).append(
            $("<entry>").attr("pk", "1").text("read from device")
        ).children()
    change_d_sel : (event) =>
    change_dg_sel : (event) =>
        cur_el = $(event.target)
        sel_tr = cur_el.parents("tr:first")
        while true
            sel_tr = sel_tr.next()
            if sel_tr && sel_tr.attr("id") && sel_tr.attr("id").match(/^dev__/)
                sel_tr.find("input[id$='__sel']").trigger("click")
            else
                break
    change_global_sel : (event) =>
        @c_table.find("tr th input[id^='devg__'][id$='__sel']").each (idx, sel_box) =>
            $(sel_box).trigger("click")
    change_monitor_template : (event) =>
        mon_val = $(event.target).val()
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            sel_el = $(sel_el).parents("tr:first").find("select[id$='__mon_device_templ']")
            if sel_el.val() != mon_val
                sel_el.val(mon_val).trigger("change")
        $(event.target).val(0)
    change_mon_ext_host : (event) =>
        mon_val = $(event.target).val()
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            sel_el = $(sel_el).parents("tr:first").find("select[id$='__mon_ext_host']")
            if sel_el.val() != mon_val
                sel_el.val(mon_val).trigger("change")
        $(event.target).val(0)
    change_monitor_server : (event) =>
        mon_val = $(event.target).val()
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            sel_el = $(sel_el).parents("tr:first").find("select[id$='__monitor_server']")
            if sel_el.val() != mon_val
                sel_el.val(mon_val).trigger("change")
        $(event.target).val(0)
    change_monitor_checks : (event) =>
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            $(sel_el).parents("tr:first").find("input[id$='__monitor_checks']").trigger("click")
    change_md_cache_mode : (event) =>
        mon_val = $(event.target).val()
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            sel_el = $(sel_el).parents("tr:first").find("select[id$='__md_cache_mode']")
            if sel_el.val() != mon_val
                sel_el.val(mon_val).trigger("change")
        $(event.target).val(0)
    change_flap_detection : (event) =>
        @trigger_click("flap_detection_enabled", event)
    change_enable_perfdata : (event) =>
        @trigger_click("enable_perfdata", event)
    change_automap_root_nagvis : (event) =>
        @trigger_click("automap_root_nagvis", event)
    trigger_click: (var_name, cur_val) =>
        cur_val = parseInt($(event.target).val())
        $(event.target).val("0")
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            pd_el = $(sel_el).parents("tr:first").find("input[id$='__#{var_name}']")
            if (pd_el.is(":checked") and (cur_val == 1 or cur_val == 3)) or (not pd_el.is(":checked") and (cur_val == 2 or cur_val == 3))
                pd_el.trigger("click")
    change_automap_parent : (event) =>
        @c_table.find("tr td input[id^='dev__'][id$='__sel']:checked").each (idx, sel_el) =>
            $(sel_el).parents("tr:first").find("input[id$='__nagvis_parent']").trigger("click")

add_dcon_handlers2 = ->
    conf_t = new config_table($("div#mon_tables"))
    install_devsel_link(conf_t.use_devs, true)

add_dcon_handlers = ->

$(document).ready(add_dcon_handlers)

{% endinlinecoffeescript %}

</script>

{% endblock %}
