{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block title %}{% trans "Monitoring setup / Escalation" %}{% endblock %}

{% block content %}

<div id="icsw.monitoring_extended">

<script type="text/ng-template" id="mon_service_esc_templ.html">
    {% crispy mon_service_esc_templ_form mon_service_esc_templ_form.helper %}
</script>

<script type="text/ng-template" id="mon_device_esc_templ.html">
    {% crispy mon_device_esc_templ_form mon_device_esc_templ_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="mon_service_esc_templ_head.html">
    <tr>
        <th>Name</th>   
        <th>First notif</th>
        <th>Last notif</th>
        <th>Interval</th>
        <th>Period</th>
        <th>rec</th>
        <th>crit</th>
        <th>warn</th>
        <th>unkn</th>
        <th>flapping</th>
        <th>planned</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_service_esc_templ_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.first_notification }}</td>
    <td>{{ obj.last_notification }}</td>
    <td>{{ obj.ninterval }}</td>
    <td>{{ obj.esc_period | array_lookup:rest_data.mon_period:'name' }}</td>
    <td>{{ obj.nrecovery | yesno1 }}</td>
    <td>{{ obj.ncritical | yesno1 }}</td>
    <td>{{ obj.nwarning | yesno1 }}</td>
    <td>{{ obj.nunknown | yesno1 }}</td>
    <td>{{ obj.nflapping | yesno1 }}</td>
    <td>{{ obj.nplanned_downtime | yesno1 }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<script type="text/ng-template" id="mon_device_esc_templ_head.html">
    <tr>
        <th>Name</th>   
        <th>First notif</th>
        <th>Last notif</th>
        <th>Interval</th>
        <th>Period</th>
        <th>ServiceEsc</th>
        <th>rec</th>
        <th>down</th>
        <th>unrch</th>
        <th>flapping</th>
        <th>planned</th>
        <th colspan="2" class="text-center">action</th>   
    </tr>
</script>

<script type="text/ng-template" id="mon_device_esc_templ_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.first_notification }}</td>
    <td>{{ obj.last_notification }}</td>
    <td>{{ obj.ninterval }}</td>
    <td>{{ obj.esc_period | array_lookup:rest_data.mon_period:'name' }}</td>
    <td>{{ obj.mon_service_esc_templ | array_lookup:rest_data.mon_service_esc_templ:'name' }}</td>
    <td>{{ obj.nrecovery | yesno1 }}</td>
    <td>{{ obj.ndown | yesno1 }}</td>
    <td>{{ obj.nunreachable | yesno1 }}</td>
    <td>{{ obj.nflapping | yesno1 }}</td>
    <td>{{ obj.nplanned_downtime | yesno1 }}</td>
    <td><input type="button" class="btn btn-primary btn-xs" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-xs" ng-show="delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<tabset ng-cloack>
    <tab heading="Service escalation">
        <div ng-controller="mon_service_esc_templ_base">
            <div ng-controller="mon_service_esc_templ">
                <h2>Service escalation templates ({{entries.length}} entries), <input ng-show="fn.rest_data_present(this)" type="button" class="btn btn-success" value="create new" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead monserviceesctemplhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="20"></td></tr>
                        <tr monserviceesctemplrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Device escalation">
        <div ng-controller="mon_device_esc_templ_base">
            <div ng-controller="mon_device_esc_templ">
                <h2>Device escalation templates ({{entries.length}} entries), <input ng-show="fn.rest_data_present(this)" type="button" class="btn btn-success" value="create new" ng-click="create($event)"/></h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead mondeviceesctemplhead></thead>
                    <tbody>
                        <tr><td colspan="9" paginator entries="entries" pag_settings="pagSettings" per_page="20"></td></tr>
                        <tr mondeviceesctemplrow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
</tabset>

{% endverbatim %}

</div>

{% endblock %}
