{% extends "main.html" %}

{% load i18n extra_tags coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/partition_table.cs" %}{% endblock %}

{% block title %}{% trans "Partition Overview" %}{% endblock %}

{% block content %}

<div id="icsw.partition_table">

<script type="text/ng-template" id="partition_table.html">
    {% crispy partition_table_form partition_table_form.helper %}
</script>

<script type="text/ng-template" id="partition_disc.html">
    {% crispy partition_disc_form partition_disc_form.helper %}
</script>

<script type="text/ng-template" id="partition.html">
    {% crispy partition_form partition_form.helper %}
</script>

<script type="text/ng-template" id="partition_sys.html">
    {% crispy partition_sys_form partition_sys_form.helper %}
</script>

{% verbatim %}

<script type="text/ng-template" id="layout.html">
    <div class="col-sm-10">
        <h4 ng-class="edit_obj.valid && 'text-success' || 'text-danger'">Problems: {{ error_list.length }}</h4>
        <ul ng-show="error_list.length" class="list-group">
            <li ng-repeat="error in error_list" class="list-group-item">
                {{ error.msg }}
            </li>
        </ul>
        <table class="table table-condensed table-condensed table-hover" style="width:auto;">
            <thead></thead>
            <tbody>
                <tr class="success">
                    <th colspan="10">Detailed disk layout for '{{ edit_obj.name }}'</th>
                    <th>
                        <input type="button" class="btn btn-success btn-sm" ng-click="layout_edit.create($event)" value="create disc"/>
                    </th>
                    <th colspan="2"></th>
                </tr>
                <tr partclean ng-repeat="disc in edit_obj.partition_disc_set"></tr>
                <tr partdisc ng-repeat="disc in edit_obj.partition_disc_set"></tr>
                <tr class="danger">
                    <th colspan="10">Sys partitions ({{ edit_obj.sys_partition_set.length }} defined)</th>
                    <th>
                        <input type="button" class="btn btn-success btn-sm" ng-click="sys_edit.create($event)" value="create sys"/>
                    </th>
                    <th colspan="2"></th>
                </tr>
                <tr partsys class="icsw_dyn" ng-repeat="sys in edit_obj.sys_partition_set | orderBy:'mountpoint'"></tr>
            </tbody>
        </table>
        {{ layoutx }}
    </div>
</script>

<script type="text/ng-template" id="sys_part.html">
    <td colspan="2">{{ sys.name }}</td>
    <td>{{ sys.mountpoint }}</td>
    <td colspan="8">{{ sys.mount_options }}</td>
    <td>
        <input type="button" class="btn btn-primary btn-sm" value="modify" ng-click="sys_edit.edit(sys, $event)"></input>
    </td>
    <td>
        <input type="button" class="btn btn-danger btn-sm" value="delete" ng-click="sys_edit.delete_obj(sys)"></input>
    </td>
</script>

<script type="text/ng-template" id="part_disc.html">
    <tr class="success icsw_dyn">
        <th colspan="10">Disc: {{ disc.disc }}, {{ disc.partition_set.length }} partitions</th>
        <th><input type="button" class="btn btn-success btn-sm" ng-click="disc_edit.create($event)" value="create part"/></th>
        <th><input type="button" class="btn btn-primary btn-sm" ng-click="disc_edit.edit(disc, $event)" value="modify"/></th>
        <th><input type="button" class="btn btn-danger btn-sm" ng-click="disc_edit.delete_obj(disc)" value="delete"/></th>
    </tr>
    <tr class="icsw_dyn" ng-show="disc.partition_set.length">
        <th>Part</th>
        <th>hex</th>
        <th>Mountpoint</th>
        <th>options</th>
        <th>boot</th>
        <th>size</th>
        <th>freq</th>
        <th>passno</th>
        <th>filesys</th>
        <th class="text-center">limit</th>
        <th class="text-center" colspan="3">Action</th>
    </tr>
    <tr class="icsw_dyn" part ng-repeat="part in disc.partition_set"></tr>
</script>

<script type="text/ng-template" id="part.html">
    <td>{{ disc.disc }}{{ part.pnum }}</td>
    <td>0x{{ part.partition_hex }}</td>
    <td>{{ part.mountpoint }}</td>
    <td>{{ part.mount_options }}</td>
    <td>{{ part.bootable | yesno1 }}</td>
    <td class="text-right">{{ part.size | get_size:1000000:1000 }}</td>
    <td>{{ part.fs_freq }}</td>
    <td>{{ part.fs_passno }}</td>
    <td>{{ part.partition_fs | array_lookup:this.rest_data.partition_fs:'name' }}</td>
    <td>
        <span ng-if="part.warn_threshold || part.crit_threshold">{{ part.warn_threshold }} / {{ part.crit_threshold }}</span>
        <span ng-if="!(part.warn_threshold && part.crit_threshold)">---</span>
    </td>
    <td>
    </td>
    <td>
        <input type="button" class="btn btn-primary btn-sm" value="modify" ng-click="part_edit.edit(part, $event)"></input>
    </td>
    <td>
        <input type="button" class="btn btn-danger btn-sm" value="delete" ng-click="part_edit.delete_obj(part)"></input>
    </td>
</script>

<script type="text/ng-template" id="partition_table_head.html">
    <tr>
        <th>Name</th>   
        <th>Description</th>
        <th>enabled</th>
        <th>valid</th>
        <th>nodeboot</th>
        <th>Usecount</th>
        <th colspan="2" class="text-center">action</th>
    </tr>
</script>

<script type="text/ng-template" id="partition_table_row.html">
    <td>{{ obj.name }}</td>
    <td>{{ obj.description }}</td>
    <td ng-class="obj.valid && ' ' || 'danger'">{{ obj.enabled | yesno1 }}</td>
    <td ng-class="obj.valid && ' ' || 'danger'">{{ obj.valid | yesno1  }}</td>
    <td ng-class="obj.valid && ' ' || 'danger'">{{ obj.nodeboot | yesno1 }}</td>
    <td class="text-center">{{ obj.act_partition_table.length }} / {{ obj.new_partition_table.length }}</td>
    <td><input type="button" class="btn btn-primary btn-sm" ng-click="edit($event, obj)" value="modify"/></td>
    <td><input type="button" class="btn btn-danger btn-sm" ng-show="fn.delete_ok(obj)" ng-click="delete(obj)" value="delete"/></td>
</script>

<tabset>
    <tab heading="Partition tables" ng-controller="partition_table_base">
        <div class="col-sm-12">
            <h2>Partition tables ({{entries.length}} entries), <input class="btn btn-primary" type="button" ng-click="reload()" value="reload"/></h2>
            <table class="table table-condensed table-condensed table-hover" style="width:auto;">
                <thead partitiontablehead></thead>
                <tbody>
                    <tr><td colspan="8" paginator entries="entries" pag_settings="pagSettings" per_page="10"></td></tr>
                    <tr partitiontablerow ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div edittemplate ng-if="modal_active && !settings.use_modal" class="well well-sm col-sm-8">
        </div>
        <div disklayout ng-if="modal_active && !settings.use_modal" class="col-sm-12">
        </div>
    </tab>
    <tab heading="Partitions tables (old)">
        <div id="partition_list"></div>
        <div id="partition_table"></div>
    </tab>
</tabset>

</div>

{% endverbatim %}

<script type="text/javascript">

{% inlinecoffeescript %}

ALL_PARTITIONS = undefined
ALL_FS = undefined

root = exports ? this

class partition_table
    constructor: (@xml) ->
    draw: (@top_div) ->
        @top_div.children().remove()
        @error_div = $("<div>")
        @top_div.append(@error_div)
        @top_div.append($("<h2>").text(@xml.attr("name")))
        if @xml.find("problems problem").length
            error_ul = $("<ul>")
            @error_div.append(error_ul)
            @xml.children("problems").find("problem").each (index, problem) =>
                error_ul.append($("<li>").append($("<span>").addClass("error").text("[" + $(problem).attr("level") + "] " + $(problem).text())))
            @xml.find("partition_discs partition_disc").each (d_index, d_xml) =>
                $(d_xml).find("problems problem").each (index, problem) =>
                    error_ul.append($("<li>").append($("<span>").addClass("error").text("[" + $(problem).attr("level") + "] " + $(d_xml).attr("disc") + " : " + $(problem).text())))
        line_prefix = @xml.attr("key")
        @table = $("<table>").attr({
            "id" : line_prefix
        }).addClass("style2")
        @xml.find("partition_discs partition_disc").each (index, pd_xml) =>
            @table.append(@create_disc(line_prefix, $(pd_xml)))
        @table.append(@create_disc(line_prefix, undefined))
        @top_div.append(@table)
        @top_div.append(
            $("<input>").attr({
                "type"  : "button",
                "value" : "revalidate"}).bind("click", @revalidate_partition)
        )
    revalidate_partition: (event) =>
        $.ajax
            url     : "{% url 'setup:validate_partition' %}"
            data    : {"pt_pk" : @xml.attr("pk")}
            success : (xml) =>
                if parse_xml_response(xml)
                    @xml = $(xml).find("partition_table")
                    @draw(@top_div)
    # helper functions
    fill_disc_name: (event) =>
        cur_el = $(event.target)
        if not cur_el.val()
           cur_el.val("/dev/")
    fill_mountpoint: (event) =>
        cur_el = $(event.target)
        if not cur_el.val()
            cur_el.val("/").trigger("change")
    create_disc: (line_prefix, pd_xml) =>
        dummy_div = $("<div>")
        if pd_xml is undefined
            pd_pk = "new";
        else
            pd_pk = pd_xml.attr("pk")
        line_prefix = "#{line_prefix}__pdisc__#{pd_pk}"
        disc_tr = $("<tr>").attr({
            "id" : line_prefix
        }).append(
            get_expand_td(line_prefix, "exp", undefined, @toggle_disc, true)
        ).append(
            $("<th>").attr({
                "colspan" : 5
            }).addClass("left").append(
                create_input_el(pd_xml, "disc", line_prefix, {
                    "label"    : if pd_xml then "Disc name" else "new Disc name",
                    master_xml : @xml})
            )
        )
        disc_tr.append(
            $("<td>").append(
                $("<input>").attr({
                    "type"    : "button",
                    "value"   : if pd_xml then "delete" else "create",
                    "id"      : line_prefix
                }).bind("click", @create_delete_disc)
            )
        )
        if pd_pk == "new"
            disc_tr.find("input[id$='__disc']").bind("click", @fill_disc_name)
        dummy_div.append(disc_tr)
        # partitions
        if pd_xml
            pd_xml.find("partitions partition").each (index, part_xml) =>
                dummy_div.append(@create_part_line(line_prefix, pd_xml, $(part_xml)))
            dummy_div.append(@create_part_line(line_prefix, pd_xml, undefined))
        dummy_div.find("tr").removeClass("even odd")
        dummy_div.find("tr:even").addClass("even")
        dummy_div.find("tr:odd").addClass("odd")
        return dummy_div.children()
    toggle_disc: (line_prefix, state, name) =>
        if state
            @table.find("tr[id^='" + line_prefix+ "']")[1...].show()
        else
            @table.find("tr[id^='" + line_prefix+ "']")[1...].hide()
    create_delete_disc: (event) =>
        cur_el = $(event.target)
        cur_pt_pk = cur_el.attr("id").split("__")[1]
        if cur_el.attr("value").match(/^creat/)
            $.ajax
                url     : "{% url 'setup:create_part_disc' %}"
                data    : {
                    "pt_pk" : cur_pt_pk,
                    "disc"  : cur_el.parents("tr:first").find("input[id$='__disc']").val()
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        @revalidate_partition()
        else
            $.ajax
                url     : "{% url 'setup:delete_part_disc' %}"
                data    : {
                    "pt_pk" : cur_pt_pk,
                    "pd_pk" : cur_el.attr("id").split("__")[3]
                },
                success : (xml) =>
                    if parse_xml_response(xml)
                        @revalidate_partition()
    create_part_line: (line_prefix, pd_xml, part_xml) =>
        dummy_div = $("<div>")
        if part_xml is undefined
            part_pk = "new"
        else
            part_pk = part_xml.attr("pk")
            if part_xml.find("problems problem").length
                error_tr = $("<tr>")
                error_tr.append($("<td>").text(part_xml.find("problems problem").text()))
                dummy_div.append(error_tr)
        line_prefix = "#{line_prefix}__part__#{part_pk}"
        part_tr = $("<tr>").attr("id" , line_prefix)
        first_td = $("<td>")
        part_tr.append(first_td)
        first_td.append(
            create_input_el(part_xml, "pnum", line_prefix, {"label" : "Partition id", number : true, min : 1, max : 16, master_xml: @xml})
        )
        if part_xml
            part_tr.append(
                $("<td>").append(
                    create_input_el(part_xml, "bootable", line_prefix, {"label" : "boot", boolean : true, master_xml: @xml})
                ).append(
                    create_input_el(part_xml, "size", line_prefix, {"label" : "Size", number : true, size : 8, min : 0, master_xml: @xml})
                )
            )
            part_tr.append(
                $("<td>").append(
                    create_input_el(part_xml, "mountpoint", line_prefix, {"label" : "mountpoint", master_xml: @xml}),
                    create_input_el(part_xml, "mount_options", line_prefix, {"label" : "options", master_xml: @xml})
                )
            )
            part_tr.append(
                $("<td>").append(
                    create_input_el(part_xml, "fs_freq", line_prefix, {number : true, size : 2, min : 0, max: 1, master_xml: @xml})
                )
            )
            part_tr.append(
                $("<td>").append(
                    create_input_el(part_xml, "fs_passno", line_prefix, {number : true, size : 2, min : 0, max : 2,     master_xml: @xml})
                )
            )
            part_tr.find("input[id$='__mountpoint']").bind("click", @fill_mountpoint)
        else
            part_tr.append($("<td>").attr("colspan", 4))
            part_tr.find("input[id$='__pnum']").bind("click", @fill_partition_number)
        part_tr.append($("<td>").append(
            create_input_el(part_xml, "partition_fs", line_prefix, {
                label         : "fstype",
                select_source : ALL_FS.find("partition_fs"),
                master_xml    : @xml
            })
        ))
        part_tr.append($("<td>").append(
            $("<input>").attr({
                "type"    : "button",
                "value"   : if part_xml then "delete" else "create"
                "id"      : line_prefix
            }).bind("click", @create_delete_partition)
        ))
        dummy_div.append(part_tr)
        return dummy_div.children()
    fill_partition_number: (event) =>
        cur_el = $(event.target)
        cur_val = cur_el.attr("value")
        disc_pk = cur_el.attr("id").split("__")[3]
        used_pnums = (parseInt($(cur_part).attr("pnum")) for cur_part in @xml.find("partition_disc[pk='" + disc_pk + "'] partition"))
        new_pnum = 1
        while new_pnum in used_pnums
            new_pnum += 1
            if new_pnum > 99
                break
        if not parseInt(cur_val)
            cur_el.val(new_pnum)
    create_delete_partition: (event) =>
        cur_el = $(event.target)
        cur_pt_pk = cur_el.attr("id").split("__")[1]
        cur_pd_pk = cur_el.attr("id").split("__")[3]
        part_tr = cur_el.parents("tr:first")
        console.log cur_el.attr("value")
        if cur_el.attr("value").match(/^creat/)
            $.ajax
                url     : "{% url 'setup:create_partition' %}"
                data    : {
                    "pt_pk"  : cur_pt_pk,
                    "pd_pk"  : cur_pd_pk,
                    "fstype" : part_tr.find("select[id$='__partition_fs']").val(),
                    "pnum"   : part_tr.find("input[id$='__pnum']").val()
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        @revalidate_partition()
        else
            $.ajax
                url     : "{% url 'setup:delete_partition' %}"
                data    : {
                    "part_pk" : cur_el.attr("id").split("__")[5]
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        @revalidate_partition()

partition_detail = (event) ->
    pt_pk = $(event.target).attr("id").split("__")[1]
    new partition_table(ALL_PARTITIONS.find("partition_table[pk='#{pt_pk}']")).draw($("div#partition_table"))

root.partition_detail = partition_detail

master_array = {
    "ptable" : new draw_setup("Partition Setup", "ptable", "partition_table",
        "{% url 'base:create_object' 'partition_table' %}",
        "{% url 'base:delete_object' 'partition_table' %}",
        [
            new draw_link("detail", {change_cb : partition_detail}),
            new draw_info("name", {clear_after_create : true}),
            new draw_info("description"),
            new draw_info("enabled", {boolean : true, default : true}),
            new draw_info("valid", {boolean : true, ro : true})
            new draw_info("nodeboot", {boolean : true})
        ]
    )
}

load_partition_tables = ->
    $.ajax
        url     : "{% url 'setup:partition_overview' %}"
        success : (xml) ->
            if parse_xml_response(xml)
                ALL_PARTITIONS = $(xml).find("value[name='response']")
                ALL_FS = $(xml).find("partition_fs_list")
                draw_ds_tables(
                    $("div#partition_list"),
                    master_array,
                    ALL_PARTITIONS)

add_handlers = ->
    load_partition_tables()

$(document).ready(add_handlers)

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.partition_table']"), ["icsw.partition_table"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
