{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "Partition Overview" %}{% endblock %}

{% block content %}

{% verbatim %}

<div ng-controller="icswConfigPartitionTableCtrl">
    <tabset>
        <tab heading="Partitions">
            <div class="col-sm-12">
                <h2>Partition tables ({{entries.length}} entries),
                    <input class="btn btn-primary" type="button" ng-click="reload()" value="reload"/>&nbsp;
                    <input class="btn btn-warning" type="button" ng-click="create()" value="create new"/>
                </h2>
                <table class="table table-condensed table-hover" style="width:auto;">
                    <thead partitiontablehead></thead>
                    <tbody>
                        <tr><td colspan="8" paginator entries="entries" pag_settings="pagSettings" per_page="10"></td></tr>
                        <tr icsw-config-partition-table-row ng-repeat="obj in entries | orderBy:'-name':true | paginator:this"></tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </tab>
        <tab ng-repeat="part in edit_pts" active="part.tab_active">
            <tab-heading>
                <span class="glyphicon glyphicon-remove" ng-click="close_part(part)"></span>{{ part.name }}
            </tab-heading>
            <div>
                <icsw-config-disk-layout partition_fs="partition_fs" part_table="part"></icsw-config-disk-layout>
            </div>
        </tab>
    </tabset>
</div>

{% endverbatim %}

{% endblock %}
