{% extends "main.html" %}

{% load i18n %}

{% block title %}{% trans "RMS Overview" %}{% endblock %}

{% block content %}

<script type="text/ng-template" id="icsw.rms.rms_headers">
    {{ RMS_HEADERS | safe }}
</script>

{% verbatim %}

<div ng-controller="icswRmsOverviewCtrl">
    <h2>RMS Overview</h2>
    <uib-tabset>
        <uib-tab heading="{{ get_running_info() }}">
            <icsw-rms-job-running-table></icsw-rms-job-running-table>
        </uib-tab>
        <uib-tab heading="{{ get_waiting_info() }}">
            <icsw-rms-job-waiting-table></icsw-rms-job-waiting-table>
        </uib-tab>
        <uib-tab heading="{{ get_done_info() }}">
            <icsw-rms-job-done-table></icsw-rms-job-done-table>
        </uib-tab>
        <uib-tab heading="{{ get_queue_info() }}">
            <icsw-rms-queue-table></icsw-rms-queue-table>
        </uib-tab>
        <uib-tab ng-repeat="io_struct in io_dict" active="io_struct.active">
            <uib-tab-heading>
                {{ io_struct.get_name() }}
                <icsw-tools-button size="xs" type="close" ng-click="close_io(io_struct)"></icsw-tools-button>
            </uib-tab-heading>
            <icsw-rms-io-struct struct="io_struct"></icsw-rms-io-struct>
        </uib-tab>
    </uib-tabset>
</div>

{% endverbatim %}

{% endblock %}
