{% load i18n coffeescript %}

<div ng-app="icsw.sidebar">
    <div ng-controller="sidebar_base">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="searchstr" placeholder="search ..." ng-change="update_search()"></input>
        <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="call_devsel_func()">Go</button>
            <button class="btn btn-danger" type="button" ng-click="clear_selection()">clr</button>
        </span>  
    </div>
    <tabset>
        <tab heading="Group" select="activate_tab('g')" active="tabs['g']">
            <tree tree="devices" treeconfig="tc_devices"></tree>
        </tab>
        <tab heading="FQDN" select="activate_tab('f')" active="tabs['f']">
            <tree tree="fqdns" treeconfig="tc_fqdns"></tree>
        </tab>
        <tab heading="Category" select="activate_tab('c')" active="tabs['c']">
            <tree tree="categories" treeconfig="tc_categories"></tree>
        </tab>
    </tabset>
    </div>
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

{% verbatim %}

node_template = '
<ul ng-class="{\'dynatree-container\' : (treedepth || 0) == 0}">
    <span ng-show="!treedepth && !tree.length">No entries</span>
    <li ng-repeat="entry in tree" ng-class="{\'dynatree-lastsib\' : $last}">
        <span ng-class="get_span_class(entry, $last)">
            <span ng-show="!entry._num_childs" class="dynatree-connector"></span>
            <span ng-show="entry._num_childs" class="dynatree-expander" ng-click="toggle_expansion_state(entry)"></span>
            <span class="dynatree-checkbox" style="margin-left:2px;" ng-click="toggle_checkbox_state(entry, treeconfig)"></span>
            <span ng-show="1" class="dynatree-icon"></span>
            <div class="btn-group btn-group-xs" ng-show="entry._num_childs && treeconfig.show_selection_buttons">
                <input type="button" class="btn btn-success" value="S" ng-click="toggle_tree_state(entry, treeconfig, 1)"></input>
                <input type="button" class="btn btn-primary" value="T" ng-click="toggle_tree_state(entry, treeconfig, 0)"></input>
                <input type="button" class="btn btn-warning" value="C" ng-click="toggle_tree_state(entry, treeconfig, -1)"></input>
            </div>
            <a ng-href="#" class="dynatree-title" ng-click="handle_click($event, treeconfig, entry)">{{ treeconfig.get_name(entry) }}
                <span ng-if="!treeconfig.show_descendants" ng-show="entry._num_childs">({{ entry._num_childs }}<span ng-show="entry._sel_childs"> / {{ entry._sel_childs }}</span>)</span>
                <span ng-if="treeconfig.show_descendants" ng-show="entry._num_descendants">({{ entry._num_descendants }}<span ng-show="entry._sel_descendants"> / {{ entry._sel_descendants }}</span>)</span>
            </a>
        </span>
        <tree ng-show="entry.expand" tree="entry.children" treedepth="(treedepth || 0) + 1" treeconfig="treeconfig"></tree>
    </li>
</ul>
'

{% endverbatim %}

sidebar_module = angular.module("icsw.sidebar", ["ngResource", "ngCookies", "ngSanitize", "ui.bootstrap", "init.csw.filters", "localytics.directives", "restangular"])

angular_module_setup([sidebar_module])

class tree_node
    constructor: (args) ->
        # is selected
        @selected = false
        # is expanded
        @expanded = false
        # is folder
        @folder   = false
        # list of children
        @children = []
        # list of nodes with the same content
        @linklist = []
        # linkt to parent
        @parent = null
        for key, value of args
            @[key] = value
        # number of all nodes below this
        @_num_descendants = 0
        # number of all direct children
        @_num_childs = 0
        # number of selected childs
        @_sel_childs = 0
        # number of selected descendants
        @_sel_descendants = 0
    set_selected: (flag, propagate=true) ->
        change = flag != @selected
        if change
            @selected = flag
            if propagate and @linklist.length
                # copy selected flags to nodes on the same level
                (other.set_selected(@selected, false) for other in @linklist)
            cur_p = @parent
            diff = if @selected then 1 else -1
            first = true
            while cur_p
                if first
                    cur_p._sel_childs += diff
                    first = false
                cur_p._sel_descendants += diff
                cur_p = cur_p.parent
    add_child: (child) =>
        child.parent = @
        @_num_childs++
        @children.push(child)
        cur_p = @
        while cur_p
            cur_p._num_descendants += 1 + child._num_descendants
            cur_p = cur_p.parent
    recalc_num_descendants: () => 
        @_num_childs = @children.length
        @_num_descendants = @_num_childs
        for child in @children
            @_num_descendants += child.recalc_num_descendants()
        return @_num_descendants
    recalc_sel_descendants: () => 
        @_sel_descendants = (true for entry in @children when entry.selected).length
        for child in @children
            @_sel_descendants += child.recalc_sel_descendants()
        return @_sel_descendants
    recalc_sel_childs: () => 
        @_sel_childs = (true for entry in @children when entry.selected).length
        (child.recalc_sel_childs() for child in @children)

class tree_config
    constructor: (@scope, args) ->
        # not really needed, enter more flags here
        @show_selection_buttons = true
        @show_descendants = false
        for key, value of args
            @[key] = value
            
sidebar_base = sidebar_module.controller("sidebar_base", ["$scope", "$compile", "restDataSource", "$q", 
    ($scope, $compile, restDataSource, $q) ->
        $scope.searchstr = ""
        # active tab, (d)evices, (f)qdn, (c)ategories
        $scope.devsel_func = undefined
        $scope.fire_when_loaded = true
        $scope.call_devsel_func = () ->
            if $scope.devsel_func
                # build device, device_group list
                dev_list = []
                devg_list = []
                for idx in $scope.cur_sel
                    if $scope.dev_lut[idx].device_type_identifier == "MD"
                        devg_list.push("devg__#{idx}")
                    else
                        dev_list.push("dev__#{idx}")
                $scope.devsel_func(dev_list, devg_list)
        $scope.resolve_device_keys = (key_list) =>
            list_len = key_list.length
            ret_list = list_len + (if list_len == 1 then " device" else " devices")
            if list_len
                ret_list = "#{ret_list}: " + ($scope.dev_lut[key.split("__")[1]].full_name for key in key_list).join(", ")
            return ret_list
        $scope.update_search = () ->
            cur_re = new RegExp($scope.searchstr, "gi")
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[$scope.active_tab]
                $scope.apply_search_re(entry, cur_re)
            $scope.selection_changed()
        $scope.apply_search_re = (entry, cur_re) ->
            if entry._node_type == "d"
                entry.set_selected(if $scope.dev_lut[entry.obj].full_name.match(cur_re) then true else false)
            for child in entry.children
                $scope.apply_search_re(child, cur_re)
        # current device selection
        $scope.cur_sel = []            
        $scope.install_devsel_link = (ds_func, fire_when_loaded) ->
            $scope.devsel_func = ds_func
            $scope.fire_when_loaded = fire_when_loaded
        root.install_devsel_link = $scope.install_devsel_link
        root.resolve_device_keys = $scope.resolve_device_keys
        root.sidebar = {"resolve_device_keys" : $scope.resolve_device_keys}
        $scope.active_tab = "{{ request.session.sidebar_mode }}".slice(0, 1) 
        $scope.tabs = {}
        for tab_short in ["g", "f", "c"]
            $scope.tabs[tab_short] = tab_short == $scope.active_tab
        $scope.devices = []
        $scope.rest_data = {}
        $scope.rest_map = [
            {"short" : "device_tree", "url" : "{% url 'rest:device_tree_list' %}", "options" : {"ignore_cdg" : false, "tree_mode" : true, "all_devices" : true, "with_categories" : true}} 
            {"short" : "domain_tree_node", "url" : "{% url 'rest:domain_tree_node_list' %}"}
            {"short" : "category", "url" : "{% url 'rest:category_list' %}"}
            {"short" : "device_sel", "url" : "{% url 'rest:device_selection_list' %}"}
        ]
        $scope.reload = () ->
            wait_list = []
            for value, idx in $scope.rest_map
                $scope.rest_data[value.short] = restDataSource.reload([value.url, value.options])
                wait_list.push($scope.rest_data[value.short])
            $q.all(wait_list).then((data) ->
                for value, idx in data
                    $scope.rest_data[$scope.rest_map[idx].short] = value
                $.unblockUI()
                $scope.rest_data_set()
            )
        # load from server
        $scope.reload()
        $scope.set_active_selection = (t_type, new_sel) ->
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[t_type]
                $scope.set_sub_selection(entry, new_sel)
        $scope.set_sub_selection = (entry, new_sel) ->
            if entry._node_type == "d"
                entry.set_selected(if entry.obj in new_sel then true else false)
            for child in entry.children
                $scope.set_sub_selection(child, new_sel)
        $scope.get_active_selection = (t_type) ->
            act_sel = []
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[t_type]
                for sub_sel in $scope.get_sub_selection(entry)
                    act_sel.push(sub_sel)
            return _.unique(act_sel)
        $scope.get_sub_selection = (entry) ->
            act_sel = []
            if entry._node_type == "d" and entry.selected
                act_sel.push(entry.obj)
            for child in entry.children
                for sub_sel in $scope.get_sub_selection(child)
                    act_sel.push(sub_sel)
            return act_sel
        $scope.clear_selection = () ->
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[$scope.active_tab]
                $scope.clear_sub_selection(entry)
            $scope.selection_changed()
        $scope.clear_sub_selection = (entry) ->
            entry.set_selection(false)
            ($scope.clear_sub_selection(child) for child in entry.children)
        $scope.activate_tab = (t_type) ->
            # copy selected flags
            if t_type != $scope.active_tab
                # copy selection settings from active tab to new tab
                # get src selection
                cur_sel = $scope.get_active_selection($scope.active_tab)
                $scope.set_active_selection(t_type, cur_sel)
                $scope.active_tab = t_type
                store_user_var("sidebar_mode", {"c" : "category", "f" : "fqdn", "g" : "group"}[$scope.active_tab], "str")
        $scope.selection_changed = () ->
            cur_sel = $scope.get_active_selection($scope.active_tab)
            if cur_sel != $scope.cur_sel
                $scope.cur_sel = cur_sel
                $.ajax
                    url     : "{% url 'device:set_selection' %}"
                    data    : {
                        "angular_sel" : angular.toJson(cur_sel)
                    }
                    success : (xml) ->
                        parse_xml_response(xml)
        $scope.prune_fqdn = (entry) ->
            remove = true
            new_childs = []
            for sub_entry in entry.children
                keep = false
                if sub_entry._node_type == "d"
                    keep = true
                else
                    if not $scope.prune_fqdn(sub_entry)
                        keep = true
                if keep
                    new_childs.push(sub_entry)
            entry.children = new_childs
            return if entry.children.length then false else true
        $scope.get_name = (t_entry) ->
            if t_entry._node_type == "f"
                entry = $scope.fqdn_lut[t_entry.obj]
                if entry.parent
                    return "#{entry.name} (*.#{entry.full_name})"
                else
                    return "[TLN]"
            else if t_entry._node_type == "c"
                entry = $scope.cat_lut[t_entry.obj]
                return if entry.depth then entry.name else "[TOP]"
            else
                entry = $scope.dev_lut[t_entry.obj]
                info_f = []
                if entry.is_meta_device
                    d_name = entry.full_name.slice(8) 
                else
                    d_name = entry.full_name
                    info_f.push(entry.device_type_identifier)
                if entry.comment
                    info_f.push(entry.comment)
                if info_f.length
                    d_name = "#{d_name} (" + info_f.join(", ") + ")"
                return d_name
        $scope.handle_click = (event, entry) ->
            if entry._node_type == "d"
                dev = $scope.dev_lut[entry.obj]
                if dev.device_type_identifier != "MD"
                    show_device_info(event, "dev__#{dev.idx}")
        # treeconfig for devices
        $scope.tc_devices = new tree_config($scope, {get_name : $scope.get_name, selection_changed : $scope.selection_changed, handle_click : $scope.handle_click})
        # treeconfig for FQDN
        $scope.tc_fqdns = new tree_config($scope, {get_name : $scope.get_name, selection_changed : $scope.selection_changed, handle_click : $scope.handle_click, show_descendants : false})
        # treeconfig for categories
        $scope.tc_categories = new tree_config($scope, {get_name : $scope.get_name, selection_changed : $scope.selection_changed, handle_click : $scope.handle_click, show_selection_buttons : true, show_descendants : true})
        # remove empty FQDN nodes (iterative)
        $scope.rest_data_set = () ->
            # build FQDNs tree
            new_fqdns = []
            fqdn_lut = {}
            $scope.fqdn_lut = {}
            for entry in $scope.rest_data["domain_tree_node"]
                $scope.fqdn_lut[entry.idx] = entry
                t_entry = new tree_node({folder:true, obj:entry.idx, _node_type:"f", expand:entry.depth == 0})
                fqdn_lut[entry.idx] = t_entry
                if entry.parent
                    #$scope.fqdn_lut[entry.parent].fqdn_childs.push(entry)
                    fqdn_lut[entry.parent].add_child(t_entry)
                else
                    new_fqdns.push(t_entry)
            # build category tree
            $scope.cat_lut = {}
            cat_lut = {}
            new_cats = []
            for entry in $scope.rest_data["category"]
                $scope.cat_lut[entry.idx] = entry
                t_entry = new tree_node({folder: true, obj:entry.idx, _node_type:"c", expand:entry.depth == 0})
                cat_lut[entry.idx] = t_entry
                if entry.parent
                    cat_lut[entry.parent].add_child(t_entry)
                else
                    new_cats.push(t_entry)             
            # build devices tree
            new_devs = []
            $scope.dev_lut = {}
            cur_dg = undefined
            dsel_list = (entry.idx for entry in $scope.rest_data["device_sel"] when entry.sel_type == "d")
            $scope.cur_sel = dsel_list
            # we dont need the group selection
            # gsel_list = (entry.idx for entry in $scope.rest_data["device_sel"] when entry.sel_type == "g")
            for entry in $scope.rest_data["device_tree"]
                $scope.dev_lut[entry.idx] = entry
                # copy selection state to device selection (the selection state of the meta devices is keeped in sync with the selection states of the devicegroups )
                t_entry = new tree_node({obj:entry.idx, folder:entry.is_meta_device, _node_type:"d", selected:entry.idx in dsel_list})
                fqdn_lut[entry.domain_tree_node].add_child(new tree_node({obj:entry.idx, _node_type:"d", selected:entry.idx in dsel_list}))
                if entry.categories
                    cat_list = []
                    for t_cat in entry.categories
                        cat_entry = new tree_node({obj:entry.idx, _node_type:"d", selected:entry.idx in dsel_list})
                        cat_list.push(cat_entry)
                        cat_lut[t_cat].add_child(cat_entry)
                    if cat_list.length > 1
                        for cat_entry in cat_list
                            cat_entry.linklist = cat_list
                if entry.is_meta_device
                    cur_dg = t_entry
                    new_devs.push(cur_dg)
                else
                    cur_dg.add_child(t_entry)
            for entry in new_fqdns
                $scope.prune_fqdn(entry)
                entry.recalc_num_descendants()
            for entry in new_cats
                $scope.prune_fqdn(entry)
                entry.recalc_num_descendants()
            (entry.recalc_sel_descendants() for entry in new_devs)
            (entry.recalc_sel_descendants() for entry in new_fqdns)
            (entry.recalc_sel_descendants() for entry in new_cats)
            (entry.recalc_sel_childs() for entry in new_devs)
            (entry.recalc_sel_childs() for entry in new_fqdns)
            (entry.recalc_sel_childs() for entry in new_cats)
            $scope.devices = new_devs
            $scope.fqdns = new_fqdns
            $scope.categories = new_cats
            if $scope.fire_when_loaded
                $scope.call_devsel_func()
])

sidebar_module.directive("tree", ["$compile", 
    ($compile) ->
        return {
            restrict : "E"
            scope    : {
                tree : "="
                treedepth : "="
                treeconfig : "="
            }
            #template : node_template 
            compile: (tElement, tAttr) ->
                #contents = tElement.contents().remove()
                #new_el = $compile(node_template)
                #tElement.replaceWith(new_el)
                return (scope, iElement, iAttr) ->
                    scope.get_span_class = (entry, last) ->
                        r_class = ["dynatree-node"]
                        if entry.folder
                            r_class.push "dynatree-folder"
                        if last
                            r_class.push "dynatree-lastsib"
                        if entry.selected
                            r_class.push "dynatree-selected"
                        if entry.children.length
                            r_class.push "dynatree-has-children"
                            if entry.expand
                                r_class.push "dynatree-expanded" 
                                r_class.push "dynatree-ico-ef"
                                if last # or not depth, depth was the 3rd argument, not needed ?
                                    r_class.push "dynatree-exp-el"
                                else
                                    r_class.push "dynatree-exp-e"
                            else
                                r_class.push "dynatree-ico-cf"
                                if last # or not depth
                                    r_class.push "dynatree-exp-cl"
                                else
                                    r_class.push "dynatree-exp-cl"
                        else
                            r_class.push "dynatree-ico-c"
                            r_class.push "dynatree-exp-c"
                        return r_class
                    scope.toggle_expansion_state = (entry) ->
                        entry.expand = not entry.expand
                    scope.toggle_checkbox_state = (entry, treeconfig) ->
                        entry.set_selected(!entry.selected)
                        treeconfig.selection_changed()
                    scope.toggle_tree_state = (entry, treeconfig, flag, signal=true) ->
                        if flag == 1
                            entry.set_selected(true)
                            entry.expand = true
                        else if flag == 0
                            entry.set_selected(!entry.selected)
                        else
                            entry.set_selected(false)
                        for sub_entry in entry.children
                            scope.toggle_tree_state(sub_entry, treeconfig, flag, false)
                        if signal
                            treeconfig.selection_changed()
                    scope.handle_click = (event, treeconfig, entry) ->
                        if treeconfig.handle_click
                            treeconfig.handle_click(event, entry)
                    new_el = $compile(node_template)
                    iElement.append(new_el(scope))
            } 
])

root = exports ? this

root.sidebar_target_func = undefined
root.sidebar_call_devsel_link_when_loaded = false
#root.sidebar = undefined

{% endinlinecoffeescript %}

</script>
