{% load i18n coffeescript %}

<div ng-app="icsw.sidebar">
    <div ng-controller="sidebar_base">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="searchstr" placeholder="search ..." ng-change="update_search()"></input>
        <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="call_devsel_func()">Go</button>
            <button class="btn btn-danger" type="button" ng-click="clear_selection()">clr</button>
        </span>  
    </div>
    <tabset>
        <tab heading="Group" select="activate_tab('g')" active="tabs['g']">
            <tree tree="devices" treedepth="0" treeconfig="tc_devices"></tree>
        </tab>
        <tab heading="FQDN" select="activate_tab('f')" active="tabs['f']">
            <tree tree="fqdns" treedepth="0" treeconfig="tc_fqdns"></tree>
        </tab>
        <tab heading="Category" select="activate_tab('c')" active="tabs['c']">
            <tree tree="categories" treedepth="0" treeconfig="tc_categories"></tree>
        </tab>
    </tabset>
    </div>
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

{% verbatim %}

node_template = '
<ul ng-class="{\'dynatree-container\' : treedepth == 0}">
    <span ng-show="!treedepth && !tree.length">No entries</span>
    <li ng-repeat="entry in tree" ng-class="{\'dynatree-lastsib\' : $last}">
        <span ng-class="get_span_class(entry, $last, treedepth)">
            <span ng-show="!entry.children.length" class="dynatree-connector"></span>
            <span ng-show="entry.children.length" class="dynatree-expander" ng-click="toggle_expansion_state(entry)"></span>
            <span class="dynatree-checkbox" style="margin-left:2px;" ng-click="toggle_checkbox_state(entry, treeconfig)"></span>
            <span ng-show="1" class="dynatree-icon"></span>
            <div class="btn-group btn-group-xs" ng-show="entry.children.length">
                <input type="button" class="btn btn-success" value="S" ng-click="toggle_tree_state(entry, treeconfig, 1)"></input>
                <input type="button" class="btn btn-primary" value="T" ng-click="toggle_tree_state(entry, treeconfig, 0)"></input>
                <input type="button" class="btn btn-warning" value="C" ng-click="toggle_tree_state(entry, treeconfig, -1)"></input>
            </div>
            <a ng-href="#" class="dynatree-title" ng-click="handle_click($event, treeconfig, entry)">{{ treeconfig.get_name(entry) }}
                <span ng-show="entry.children.length">({{ entry.children.length }}<span ng-show="get_num_selected(entry)"> / {{ get_num_selected(entry) }}</span>)</span>
            </a>
        </span>
        <tree ng-show="entry.expand" tree="entry.children" treedepth="(treedepth || 0) + 1" treeconfig="treeconfig"></tree>
    </li>
</ul>
'

{% endverbatim %}

sidebar_module = angular.module("icsw.sidebar", ["ngResource", "ngCookies", "ngSanitize", "ui.bootstrap", "init.csw.filters", "localytics.directives", "restangular"])

angular_module_setup([sidebar_module])

class tree_node
    constructor: (args) ->
        @selected = false
        @expanded = false
        @folder   = false
        @children = []
        for key, value of args
            @[key] = value
        
sidebar_base = sidebar_module.controller("sidebar_base", ["$scope", "$compile", "restDataSource", "$q", 
    ($scope, $compile, restDataSource, $q) ->
        $scope.searchstr = ""
        # active tab, (d)evices, (f)qdn, (c)ategories
        $scope.devsel_func = undefined
        $scope.fire_when_loaded = true
        $scope.call_devsel_func = () ->
            #console.log "***"
            if $scope.devsel_func
                # build device, device_group list
                dev_list = []
                devg_list = []
                for idx in $scope.cur_sel
                    if $scope.dev_lut[idx].device_type_identifier == "MD"
                        devg_list.push("devg__#{idx}")
                    else
                        dev_list.push("dev__#{idx}")
                #console.log dev_list, devg_list
                $scope.devsel_func(dev_list, devg_list)
        $scope.resolve_device_keys = (key_list) =>
            list_len = key_list.length
            ret_list = list_len + (if list_len == 1 then " device" else " devices")
            if list_len
                #d_tree = @active_div.dynatree("getTree")
                #if @mode == "category"
                #    ret_list = "#{ret_list}: " + (d_tree.getNodeByKey(@cat_lookup[val][0]).data.title for val in key_list).join(", ")
                #else
                ret_list = "#{ret_list}: " + ($scope.dev_lut[key.split("__")[1]].full_name for key in key_list).join(", ")
            return ret_list
        $scope.update_search = () ->
            cur_re = new RegExp($scope.searchstr, "gi")
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[$scope.active_tab]
                $scope.apply_search_re(entry, cur_re)
            $scope.selection_changed()
        $scope.apply_search_re = (entry, cur_re) ->
            if entry._node_type == "d"
                entry.selected = $scope.dev_lut[entry.obj].full_name.match(cur_re)
            for child in entry.children
                $scope.apply_search_re(child, cur_re)
        # current device selection
        $scope.cur_sel = []            
        $scope.install_devsel_link = (ds_func, fire_when_loaded) ->
            $scope.devsel_func = ds_func
            $scope.fire_when_loaded = fire_when_loaded
        root.install_devsel_link = $scope.install_devsel_link
        root.resolve_device_keys = $scope.resolve_device_keys
        root.sidebar = {"resolve_device_keys" : $scope.resolve_device_keys}
        $scope.active_tab = "{{ request.session.sidebar_mode }}".slice(0, 1) 
        $scope.tabs = {}
        for tab_short in ["g", "f", "c"]
            $scope.tabs[tab_short] = tab_short == $scope.active_tab
        $scope.devices = []
        $scope.rest_data = {}
        $scope.rest_map = [
            {"short" : "device_tree", "url" : "{% url 'rest:device_tree_list' %}", "options" : {"ignore_cdg" : false, "tree_mode" : true, "all_devices" : true, "with_categories" : true}} 
            {"short" : "domain_tree_node", "url" : "{% url 'rest:domain_tree_node_list' %}"}
            {"short" : "category", "url" : "{% url 'rest:category_list' %}"}
            {"short" : "device_sel", "url" : "{% url 'rest:device_selection_list' %}"}
        ]
        $scope.reload = () ->
            wait_list = []
            for value, idx in $scope.rest_map
                $scope.rest_data[value.short] = restDataSource.reload([value.url, value.options])
                wait_list.push($scope.rest_data[value.short])
            $q.all(wait_list).then((data) ->
                for value, idx in data
                    $scope.rest_data[$scope.rest_map[idx].short] = value
                $.unblockUI()
                $scope.rest_data_set()
            )
        $scope.reload()
        $scope.set_active_selection = (t_type, new_sel) ->
            #console.log t_type, new_sel
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[t_type]
                $scope.set_sub_selection(entry, new_sel)
        $scope.set_sub_selection = (entry, new_sel) ->
            if entry._node_type == "d"
                entry.selected = entry.obj in new_sel
            for child in entry.children
                $scope.set_sub_selection(child, new_sel)
        $scope.get_active_selection = (t_type) ->
            act_sel = []
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[t_type]
                for sub_sel in $scope.get_sub_selection(entry)
                    act_sel.push(sub_sel)
            return _.unique(act_sel)
        $scope.get_sub_selection = (entry) ->
            act_sel = []
            if entry._node_type == "d" and entry.selected
                act_sel.push(entry.obj)
            for child in entry.children
                for sub_sel in $scope.get_sub_selection(child)
                    act_sel.push(sub_sel)
            return act_sel
        $scope.clear_selection = () ->
            for entry in {"g" : $scope.devices, "f" : $scope.fqdns, "c" : $scope.categories}[$scope.active_tab]
                $scope.clear_sub_selection(entry)
            $scope.selection_changed()
        $scope.clear_sub_selection = (entry) ->
            entry.selected = false
            ($scope.clear_sub_selection(child) for child in entry.children)
        $scope.activate_tab = (t_type) ->
            # copy selected flags
            #console.log "act", t_type, $scope.active_tab
            if t_type != $scope.active_tab
                # copy selection settings from active tab to new tab
                # get src selection
                cur_sel = $scope.get_active_selection($scope.active_tab)
                $scope.set_active_selection(t_type, cur_sel)
                $scope.active_tab = t_type
                store_user_var("sidebar_mode", {"c" : "category", "f" : "fqdn", "g" : "group"}[$scope.active_tab], "str")
        $scope.selection_changed = () ->
            cur_sel = $scope.get_active_selection($scope.active_tab)
            if cur_sel != $scope.cur_sel
                $scope.cur_sel = cur_sel
                console.log "selc"
                $.ajax
                    url     : "{% url 'device:set_selection' %}"
                    data    : {
                        "angular_sel" : angular.toJson(cur_sel)
                    }
                    success : (xml) ->
                        parse_xml_response(xml)
        $scope.prune_fqdn = (entry) ->
            remove = true
            new_childs = []
            for sub_entry in entry.children
                keep = false
                if sub_entry._node_type == "d"
                    keep = true
                else
                    if not $scope.prune_fqdn(sub_entry)
                        keep = true
                if keep
                    new_childs.push(sub_entry)
            entry.children = new_childs
            return if entry.children.length then false else true
        # treeconfig for devices
        $scope.tc_devices = {
            get_name : (t_entry) ->
                entry = $scope.dev_lut[t_entry.obj]
                if entry.is_meta_device
                    d_name = entry.full_name.slice(8) 
                else
                    d_name = entry.full_name
                info_f = [entry.device_type_identifier]
                if entry.comment
                    info_f.push(entry.comment)
                return "#{d_name} (" + info_f.join(", ") + ")"
            selection_changed : () ->
                $scope.selection_changed()
            handle_click : (event, entry) ->
                dev = $scope.dev_lut[entry.obj]
                if dev.device_type_identifier != "MD"
                    show_device_info(event, "dev__" + dev.idx)
        }
        # treeconfig for FQDN
        $scope.tc_fqdns = {
            get_name : (t_entry) ->
                if t_entry._node_type == "f"
                    entry = $scope.fqdn_lut[t_entry.obj]
                    if entry.parent
                        return "#{entry.name} (*.#{entry.full_name})"
                    else
                        return "[TLN]"
                else
                    return $scope.tc_devices.get_name(t_entry)
            selection_changed : () ->
                $scope.selection_changed()
        }
        $scope.tc_categories = {
            get_name : (t_entry) ->
                entry = $scope.cat_lut[t_entry.obj]
                if t_entry._node_type == "c"
                    return if entry.depth then entry.name else "[TOP]"
                else
                    return $scope.tc_devices.get_name(t_entry)
            selection_changed : () ->
                $scope.selection_changed()
        }
        # remove empty FQDN nodes (iterative)
        $scope.rest_data_set = () ->
            # build FQDNs tree
            new_fqdns = []
            fqdn_lut = {}
            $scope.fqdn_lut = {}
            for entry in $scope.rest_data["domain_tree_node"]
                $scope.fqdn_lut[entry.idx] = entry
                t_entry = new tree_node({folder:true, obj:entry.idx, _node_type:"f", expand:entry.depth == 0})
                fqdn_lut[entry.idx] = t_entry
                if entry.parent
                    #$scope.fqdn_lut[entry.parent].fqdn_childs.push(entry)
                    fqdn_lut[entry.parent].children.push(t_entry)
                else
                    new_fqdns.push(t_entry)
            # build category tree
            $scope.cat_lut = {}
            cat_lut = {}
            new_cats = []
            for entry in $scope.rest_data["category"]
                $scope.cat_lut[entry.idx] = entry
                t_entry = new tree_node({folder: true, obj:entry.idx, _node_type:"c", expand:entry.depth == 0})
                cat_lut[entry.idx] = t_entry
                if entry.parent
                    cat_lut[entry.parent].children.push(t_entry)
                else
                    new_cats.push(t_entry)             
            # build devices tree
            new_devs = []
            $scope.dev_lut = {}
            cur_dg = undefined
            dsel_list = (entry.idx for entry in $scope.rest_data["device_sel"] when entry.sel_type == "d")
            $scope.cur_sel = dsel_list
            # we dont need the group selection
            # gsel_list = (entry.idx for entry in $scope.rest_data["device_sel"] when entry.sel_type == "g")
            #console.log dsel_list
            for entry in $scope.rest_data["device_tree"]
                $scope.dev_lut[entry.idx] = entry
                # copy selection state to device selection (the selection state of the meta devices is keeped in sync with the selection states of the devicegroups )
                t_entry = new tree_node({obj:entry.idx, folder:entry.is_meta_device, _node_type:"d", selected:entry.idx in dsel_list})
                fqdn_lut[entry.domain_tree_node].children.push(new tree_node({obj:entry.idx, _node_type:"d", selected:entry.idx in dsel_list}))
                if entry.categories
                    #console.log entry.idx in dsel_list
                    cat_entry = new tree_node({obj:entry.idx, _node_type:"d", selected:entry.idx in dsel_list})
                    for t_cat in entry.categories
                        cat_lut[t_cat].children.push(cat_entry)
                if entry.is_meta_device
                    cur_dg = t_entry
                    new_devs.push(cur_dg)
                else
                    cur_dg.children.push(t_entry)
            for entry in new_fqdns
                $scope.prune_fqdn(entry)
            for entry in new_cats
                $scope.prune_fqdn(entry)
            $scope.devices = new_devs
            $scope.fqdns = new_fqdns
            $scope.categories = new_cats
            if $scope.fire_when_loaded
                $scope.call_devsel_func()
])

sidebar_module.directive("tree", ["$compile", 
    ($compile) ->
        return {
            restrict : "E"
            scope    : {
                tree : "="
                treedepth : "="
                treeconfig : "="
            }
            #template : node_template 
            compile: (tElement, tAttr) ->
                #contents = tElement.contents().remove()
                #new_el = $compile(node_template)
                #tElement.replaceWith(new_el)
                return (scope, iElement, iAttr) ->
                    scope.get_span_class = (entry, last, depth) ->
                        r_class = ["dynatree-node"]
                        if entry.folder
                            r_class.push "dynatree-folder"
                        if last
                            r_class.push "dynatree-lastsib"
                        if entry.selected
                            r_class.push "dynatree-selected"
                        if entry.children.length
                            r_class.push "dynatree-has-children"
                            if entry.expand
                                r_class.push "dynatree-expanded" 
                                r_class.push "dynatree-ico-ef"
                                if last or not depth
                                    r_class.push "dynatree-exp-el"
                                else
                                    r_class.push "dynatree-exp-e"
                            else
                                r_class.push "dynatree-ico-cf"
                                if last or not depth
                                    r_class.push "dynatree-exp-cl"
                                else
                                    r_class.push "dynatree-exp-cl"
                        else
                            r_class.push "dynatree-ico-c"
                            r_class.push "dynatree-exp-c"
                        return r_class
                    scope.toggle_expansion_state = (entry) ->
                        entry.expand = not entry.expand
                    scope.toggle_checkbox_state = (entry, treeconfig) ->
                        entry.selected = !entry.selected
                        treeconfig.selection_changed()
                    scope.toggle_tree_state = (entry, treeconfig, flag, signal=true) ->
                        if flag == 1
                            entry.selected = true
                            entry.expand = true
                        else if flag == 0
                            entry.selected = !entry.selected
                        else
                            entry.selected = false
                        for sub_entry in entry.children
                            scope.toggle_tree_state(sub_entry, treeconfig, flag, false)
                        if signal
                            treeconfig.selection_changed()
                    scope.get_num_selected = (entry) ->
                        return (true for sub_el in entry.children when sub_el.selected).length
                    scope.handle_click = (event, treeconfig, entry) ->
                        if treeconfig.handle_click
                            treeconfig.handle_click(event, entry)
                    new_el = $compile(node_template)
                    iElement.append(new_el(scope))
            } 
])

root = exports ? this

root.sidebar_target_func = undefined
root.sidebar_call_devsel_link_when_loaded = false
#root.sidebar = undefined

{% endinlinecoffeescript %}

</script>
