{% load i18n coffeescript %}

<div id="icsw.sidebar" ng-cloack>
    <div id="icsw.sidebar.ctrl" ng-controller="sidebar_base">
        <div class="input-group">
            <div ng-class="search_ok && 'form-group' || 'form-group has-error'">
                <input type="text" class="form-control" ng-disabled="is_loading" ng-model="searchstr" placeholder="search ..." ng-change="update_search()"></input>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="call_devsel_func(false)" ng-show="devsel_func.length">
                    <span title="use selection" class="glyphicon glyphicon-chevron-right"></span>
                </button>
                <button class="btn btn-danger" type="button" ng-click="clear_selection()">
                    <span title="clear selection" class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </span>  
        </div>
        <tabset>
            <tab heading="Group" select="activate_tab('g')" active="tabs['g']">
                <tree treeconfig="s_tc_devices" single="true"></tree>
            </tab>
            <tab heading="FQDN" select="activate_tab('f')" active="tabs['f']">
                <tree treeconfig="s_tc_fqdns"></tree>
            </tab>
            <tab heading="Category" select="activate_tab('c')" active="tabs['c']">
                <tree treeconfig="s_tc_categories"></tree>
            </tab>
        </tabset>
    </div>
    <div id="ajax_info"></div> 
</div>

<script type="text/javascript">

{% inlinecoffeescript %}

sidebar_module = angular.module("icsw.sidebar", ["ngResource", "ngCookies", "ngSanitize", "ui.bootstrap", "init.csw.filters", "localytics.directives", "restangular"])

angular_module_setup([sidebar_module])

add_tree_directive(sidebar_module)

class sidebar_tree extends tree_config
    constructor: (@scope, args) ->
        super(args)
    handle_click: (entry, event) =>
        if entry._node_type == "d"
            dev = @scope.dev_lut[entry.obj]
            if dev.device_type_identifier != "MDX"
                # create modal or use main view
                if @scope.index_view
                    # replace index
                    show_device_on_index([dev.idx])
                else
                    # modal
                    new device_info(event, dev.idx).show()
    get_name: (t_entry) ->
        entry = @get_dev_entry(t_entry)
        if t_entry._node_type == "f"
            if entry.parent
                return "#{entry.name} (*.#{entry.full_name})"
            else
                return "[TLN]"
        else if t_entry._node_type == "c"
            return if entry.depth then entry.name else "[TOP]"
        else
            info_f = []
            if entry.is_meta_device
                d_name = entry.full_name.slice(8)
            else
                d_name = entry.full_name
                info_f.push(entry.device_type_identifier)
            if entry.comment
                info_f.push(entry.comment)
            if info_f.length
                d_name = "#{d_name} (" + info_f.join(", ") + ")"
            return d_name
    get_icon_class: (t_entry) =>
        if t_entry._node_type == "d"
            entry = @get_dev_entry(t_entry)
            if entry.is_meta_device
                return "dynatree-icon"
            else
                if entry.has_active_rrds
                    return "glyphicon glyphicon-pencil"
                else
                    return ""
        else
            return "dynatree-icon"
    get_dev_entry: (t_entry) =>
        if t_entry._node_type == "f"
            return @scope.fqdn_lut[t_entry.obj]
        else if t_entry._node_type == "c"
            return @scope.cat_lut[t_entry.obj]
        else
            return @scope.dev_lut[t_entry.obj]
    selection_changed: () =>
        @scope.selection_changed()
        
sidebar_base = sidebar_module.controller("sidebar_base", ["$scope", "$compile", "restDataSource", "$q", "$timeout", "Restangular", "$window",
    ($scope, $compile, restDataSource, $q, $timeout, Restangular, $window) ->
        $scope.index_view = $window.INDEX_VIEW
        $scope.searchstr = ""
        $scope.search_ok = true
        $scope.is_loading = true
        # active tab, (g)roups, (f)qdn, (c)ategories
        $scope.hidden_tabs = {"g" : true, "f" : true, "c" : true}
        $scope.devsel_func = []
        $scope.call_devsel_func = (called_after_load) ->
            if $scope.devsel_func.length
                # list of devices
                dev_pk_list = []
                # list of devices without meta device list
                dev_pk_nmd_list = []
                # list of device groups
                devg_pk_list = []
                # list of metadevices
                dev_pk_md_list = []
                for idx in $scope.cur_sel
                    if idx of $scope.dev_lut
                        # in case dev_lut is not valid
                        if $scope.dev_lut[idx].device_type_identifier == "MD"
                            devg_pk_list.push($scope.dev_lut[idx].device_group)
                            dev_pk_md_list.push(idx)
                        else
                            dev_pk_nmd_list.push(idx)
                        dev_pk_list.push(idx)
                for entry in $scope.devsel_func
                    if called_after_load and not entry.fire_when_loaded
                        true
                    else
                        # build device, device_group list
                        if entry.with_meta_devices
                            entry.func(dev_pk_list, devg_pk_list, dev_pk_md_list)
                        else
                            entry.func(dev_pk_nmd_list, devg_pk_list, dev_pk_md_list)
        $scope.resolve_device_keys = (key_list) =>
            list_len = key_list.length
            ret_list = list_len + (if list_len == 1 then " device" else " devices")
            if list_len
                if typeof(key_list[0]) == "int"
                    ret_list = "#{ret_list}: " + ($scope.dev_lut[key.split("__")[1]].full_name for key in key_list).join(", ")
                else
                    ret_list = "#{ret_list}: " + ($scope.dev_lut[key].full_name for key in key_list).join(", ")
            return ret_list
        $scope.update_search = () ->
            if $scope.cur_search_to
                $timeout.cancel($scope.cur_search_to)
            $scope.cur_search_to = $timeout($scope.set_search_filter, 500)
        $scope.set_search_filter = () ->
            try
                cur_re = new RegExp($scope.searchstr, "gi")
            catch exc
                cur_re = new RegExp("^$", "gi")
            cur_tree = $scope.get_tc($scope.active_tab) 
            cur_tree.toggle_tree_state(undefined, -1, false)
            num_found = 0
            cur_tree.iter(
                (entry, cur_re) ->
                    if entry._node_type == "d"
                        _sel = if $scope.dev_lut[entry.obj].full_name.match(cur_re) then true else false
                        entry.set_selected(_sel)
                        if _sel
                            num_found++
                cur_re
            )
            $scope.search_ok = if num_found > 0 then true else false
            cur_tree.show_selected(false)
            $scope.selection_changed()
        # current device selection
        $scope.cur_sel = []            
        $scope.install_devsel_link = (ds_func, with_meta_devices) ->
            fire_when_loaded = true
            $scope.devsel_func.push({"func" : ds_func, "fire_when_loaded" : fire_when_loaded, "with_meta_devices" : with_meta_devices})
        root.install_devsel_link = $scope.install_devsel_link
        root.resolve_device_keys = $scope.resolve_device_keys
        root.sidebar = {"resolve_device_keys" : $scope.resolve_device_keys}
        $scope.active_tab = "{{ request.session.sidebar_mode }}".slice(0, 1) 
        $scope.tabs = {}
        for tab_short in ["g", "f", "c"]
            $scope.tabs[tab_short] = tab_short == $scope.active_tab
        $scope.rest_data = {}
        # olp is the object level permission
        $scope.rest_map = [
            {"short" : "device_tree", "url" : "{% url 'rest:device_tree_list' %}", "options" : {"ignore_cdg" : false, "tree_mode" : true, "all_devices" : true, "with_categories" : true, "olp" : "{{ device_object_level_permission }}"}} 
            {"short" : "domain_tree_node", "url" : "{% url 'rest:domain_tree_node_list' %}"}
            {"short" : "category", "url" : "{% url 'rest:category_list' %}"}
            {"short" : "device_sel", "url" : "{% url 'rest:device_selection_list' %}"}
        ]
        $scope.reload = (pk_list) ->
            if pk_list?
                # only reload the given devices
                # build list of current values
                prev_list = ([$scope.dev_lut[pk].domain_tree_node, (_entry for _entry in $scope.dev_lut[pk].categories)] for pk in pk_list)
                Restangular.all("{% url 'rest:device_tree_list' %}".slice(1)).getList({"pks" : angular.toJson(pk_list), "ignore_cdg" : false, "tree_mode" : true, "with_categories" : true, "olp" : "{{ device_object_level_permission }}"}).then((data) ->
                    $scope.update_device(data, prev_list)
                )
            else
                wait_list = []
                for value, idx in $scope.rest_map
                    $scope.rest_data[value.short] = restDataSource.reload([value.url, value.options])
                    wait_list.push($scope.rest_data[value.short])
                $q.all(wait_list).then((data) ->
                    for value, idx in data
                        $scope.rest_data[$scope.rest_map[idx].short] = value
                    $.unblockUI()
                    $scope.rest_data_set()
                )
        # load from server
        $scope.reload()
        $scope.get_tc = (short) ->
            return {"g" : $scope.tc_devices, "f" : $scope.tc_fqdns, "c" : $scope.tc_categories}[short]
        $scope.set_active_selection = (t_type, new_sel) ->
            return $scope.get_tc(t_type).set_selected(
                (entry, new_sel) ->
                    if entry._node_type == "d"
                        return entry.obj in new_sel
                    else
                        # unknown node, return null
                        return null
                new_sel
            )
        $scope.get_active_selection = (t_type) ->
            return $scope.get_tc(t_type).get_selected(
                (entry) ->
                    if entry._node_type == "d" and entry.selected
                        return [entry.obj]
                    else
                        return []
            )
        $scope.clear_selection = () ->
            $scope.get_tc($scope.active_tab).clear_selected()
            $scope.search_ok = true
            $scope.selection_changed()
        $scope.activate_tab = (t_type) ->
            if $scope.hidden_tabs[t_type]
                $scope.hidden_tabs[t_type] = false
                switch t_type
                    when "g"
                        $scope.s_tc_devices = $scope.tc_devices
                    when "f"
                        $scope.s_tc_fqdns = $scope.tc_fqdns
                    when "c"
                        $scope.s_tc_categories = $scope.tc_categories
            cur_sel = $scope.get_active_selection($scope.active_tab)
            $scope.set_active_selection(t_type, cur_sel)
            $scope.active_tab = t_type
            call_ajax
                url  : "{% url 'user:set_user_var' %}"
                data : 
                    key   : "sidebar_mode"
                    value : {"c" : "category", "f" : "fqdn", "g" : "group"}[$scope.active_tab]
                    type  : "str"
        $scope.selection_changed = () ->
            cur_sel = $scope.get_active_selection($scope.active_tab)
            # cast to string to compare the arrays
            if String(cur_sel) != String($scope.cur_sel)
                $scope.cur_sel = cur_sel
                call_ajax
                    url     : "{% url 'device:set_selection' %}"
                    data    : {
                        "angular_sel" : angular.toJson(cur_sel)
                    }
                    success : (xml) ->
                        parse_xml_response(xml)
        # treeconfig for devices
        $scope.tc_devices = new sidebar_tree($scope, {show_tree_expand_buttons : false, show_descendants : true})
        # treeconfig for FQDN
        $scope.tc_fqdns = new sidebar_tree($scope, {show_childs : true})
        # treeconfig for categories
        $scope.tc_categories = new sidebar_tree($scope, {show_selection_buttons : true, show_descendants : true})
        $scope.update_device = (new_devs, prev_list) ->#prev_dtn, prev_cats) ->
            for info_tuple in _.zip(new_devs, prev_list)
                new_dev = info_tuple[0]
                prev_dtn = info_tuple[1][0]
                prev_cats = info_tuple[1][1]
                $scope.dev_lut[new_dev.idx] = new_dev
                prev_node = $scope.t_fqdn_lut[prev_dtn]
                # get previous node
                del_c = (entry for entry in prev_node.children when entry.obj == new_dev.idx)[0]
                # remove it
                prev_node.remove_child(del_c)
                # add new node
                $scope.t_fqdn_lut[new_dev.domain_tree_node].add_child($scope.tc_fqdns.new_node({obj : new_dev.idx, _node_type : "d", selected:new_dev.idx in $scope.cur_sel}))
                # migrate categories
                for prev_cat in prev_cats
                    prev_node = $scope.t_cat_lut[prev_cat]
                    del_c = (entry for entry in prev_node.children when entry.obj == new_dev.idx)[0]
                    prev_node.remove_child(del_c)
                cat_list = []
                for new_cat in new_dev.categories
                    cat_entry = $scope.tc_categories.new_node({obj:new_dev.idx, _node_type:"d", selected:new_dev.idx in $scope.cur_sel})
                    $scope.t_cat_lut[new_cat].add_child(cat_entry)
                    cat_list.push(cat_entry)
                if cat_list.length > 1
                    for cat_entry in cat_list
                        cat_entry.linklist = cat_list
            for cur_tc in [$scope.tc_devices, $scope.tc_fqdns, $scope.tc_categories]
                cur_tc.prune(
                    (entry) ->
                        return entry._node_type == "d"
                )
                cur_tc.recalc()
                cur_tc.show_selected()
        $scope.rest_data_set = () ->
            # clear root nodes
            $scope.tc_devices.clear_root_nodes()
            $scope.tc_fqdns.clear_root_nodes()
            $scope.tc_categories.clear_root_nodes()
            # build FQDNs tree
            $scope.fqdn_lut = {}
            # tree FQDN lut
            $scope.t_fqdn_lut = {}
            for entry in $scope.rest_data["domain_tree_node"]
                $scope.fqdn_lut[entry.idx] = entry
                t_entry = $scope.tc_fqdns.new_node({folder : true, obj:entry.idx, _node_type : "f", expand:entry.depth == 0})
                $scope.t_fqdn_lut[entry.idx] = t_entry
                if entry.parent
                    $scope.t_fqdn_lut[entry.parent].add_child(t_entry)
                else
                    $scope.tc_fqdns.add_root_node(t_entry)
            # build category tree
            $scope.cat_lut = {}
            # tree category lut
            $scope.t_cat_lut = {}
            for entry in $scope.rest_data["category"]
                $scope.cat_lut[entry.idx] = entry
                t_entry = $scope.tc_categories.new_node({folder : true, obj:entry.idx, _node_type : "c", expand:entry.depth == 0})
                $scope.t_cat_lut[entry.idx] = t_entry
                if entry.parent
                    $scope.t_cat_lut[entry.parent].add_child(t_entry)
                else
                    $scope.tc_categories.add_root_node(t_entry)
            # build devices tree
            $scope.dev_lut = {}
            cur_dg = undefined
            dsel_list = (entry.idx for entry in $scope.rest_data["device_sel"] when entry.sel_type == "d")
            $scope.cur_sel = dsel_list
            # we dont need the group selection
            # gsel_list = (entry.idx for entry in $scope.rest_data["device_sel"] when entry.sel_type == "g")
            for entry in $scope.rest_data["device_tree"]
                $scope.dev_lut[entry.idx] = entry
                # copy selection state to device selection (the selection state of the meta devices is keeped in sync with the selection states of the devicegroups )
                t_entry = $scope.tc_devices.new_node({obj:entry.idx, folder:entry.is_meta_device, _node_type:"d", selected:entry.idx in dsel_list})
                $scope.t_fqdn_lut[entry.domain_tree_node].add_child($scope.tc_fqdns.new_node({obj:entry.idx, _node_type:"d", selected:entry.idx in dsel_list}))
                if entry.categories
                    cat_list = []
                    for t_cat in entry.categories
                        cat_entry = $scope.tc_categories.new_node({obj:entry.idx, _node_type:"d", selected:entry.idx in dsel_list})
                        cat_list.push(cat_entry)
                        $scope.t_cat_lut[t_cat].add_child(cat_entry)
                    if cat_list.length > 1
                        for cat_entry in cat_list
                            cat_entry.linklist = cat_list
                if entry.is_meta_device
                    cur_dg = t_entry
                    $scope.tc_devices.add_root_node(cur_dg)
                else
                    cur_dg.add_child(t_entry)
            for cur_tc in [$scope.tc_devices, $scope.tc_fqdns, $scope.tc_categories]
                cur_tc.prune(
                    (entry) ->
                        return entry._node_type == "d"
                )
                cur_tc.recalc()
                cur_tc.show_selected()
            $scope.is_loading = false
            $scope.call_devsel_func(true)
])

root = exports ? this

root.sidebar_target_func = undefined
root.sidebar_call_devsel_link_when_loaded = false
#root.sidebar = undefined

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.sidebar']"), ["icsw.sidebar"])
)

{% endinlinecoffeescript %}

</script>
