{% extends "main.html" %}

{% load i18n coffeescript crispy_forms_tags %}

{% block angular %}{% include "angular/user.cs" %}{% endblock %}

{% block title %}{% trans "User Overview" %}{% endblock %}

{% block content %}

<div id="icsw.user.tree">

<script type="text/ng-template" id="group_edit.html">
    {% crispy group_detail_form group_detail_form.helper %}
</script>

<script type="text/ng-template" id="user_edit.html">
    {% crispy user_detail_form user_detail_form.helper %}
</script>

{% verbatim %}

    <script type="text/ng-template" id="object_perm_table.html">
        <div class="col-sm-12">
            <tabset>
                <tab ng-repeat="(key, value) in obj_perms" heading="{{ key }}">
                    <div class="row panel">
                    <table class="table table-condensed table-hover" style="width:100%;">
                        <thead>
                            <th>Object</th>
                            <th ng-repeat="entry in value">
                               {{ entry.name }}
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="11">
                                    <div paginator entries="ct_dict[key]" pag_settings="pag_dict[key]" per_page="20" paginator-epp="10,20,50,100"></div>
                                </td>
                            </tr>
                            <tr ng-repeat="obj in ct_dict[key] | paginator2:pag_dict[key]" ng-class="obj.tr_class">
                                <td>
                                    {{ obj.name }}
                                </td>
                                <td ng-repeat="entry in value" class="text-center">
                                    <input type="checkbox" ng-checked="object_csw_set(obj.idx, entry.idx)" ng-click="toggle_object_csw(key, obj.idx, entry.idx)"></input>
                                </td>
                            <tr>
                        </tbody>
                    </table>
                    </div>
                </tab>
            </tabset>
        </div>
    </script>

    <div ng-controller="user_tree">
        <h2>
            User / Group tree ({{ group_list.length }} groups, {{ user_list.length }} users)
        </h2>
        <div class="col-sm-4">
            <div class="row">
                <input type="text" class="form-control" ng-model="filterstr" placeholder="filter ..." ng-change="update_filter()"></input>
            </div>
            <div class="row">
                <input type="button" class="btn btn-success" value="create group" ng-click="create_group()"></input>&nbsp;
                <input type="button" class="btn btn-primary" value="create user" ng-click="create_user()"></input>&nbsp;
                <input type="button" class="btn btn-warning" value="sync users" ng-click="sync_users()"></input>
            </div>
            <div class="row">
                <tree treeconfig="tree"></tree>
            </div>
        </div>
        <div class="col-sm-8">
            <div grouptemplate ng-if="_edit_mode == 'g' && modal_active" class="well well-sm">
            </div>
            <div ng-controller="password_ctrl">
                <div usertemplate ng-if="_edit_mode == 'u' && modal_active" class="well well-sm">
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}

{% comment %}
<h1 class="center">Users and Groups / Treeview</h1>

<div id="ug_tables" class="leftfloat">
    <div id="buttons"></div>
    <div id="dynatree"></div>
</div>
<div id="ug_detail" class="leftfloat" style="width:800px; margin-left:auto; margin-right:auto;">
</div>
{% endcomment %}

<script type="text/javascript">

{% inlinecoffeescript %}

user_tree_module = angular.module("icsw.user.tree", ["ngResource", "ngCookies", "ngSanitize", "ui.bootstrap", "init.csw.filters", "localytics.directives", "restangular"])

angular_module_setup([user_tree_module])

add_tree_directive(user_tree_module)

angular_add_password_controller(user_tree_module)

class user_tree extends tree_config
    constructor: (@scope, args) ->
        super(args)
        @show_selection_buttons = false
        @show_icons = true
        @show_select = false
        @show_descendants = false
        @show_childs = false
    get_name : (t_entry) ->
        ug = t_entry.obj
        if t_entry._node_type == "g"
            _name = ug.groupname
            _if = ["gid #{ug.gid}"]
        else
            _name = ug.login
            _if = ["uid #{ug.uid}"]
        if ! ug.active
            _if.push("inactive")
        return "#{_name} (" + _if.join(", ") + ")"
    handle_click: (entry, event) =>
        @clear_active()
        entry.active = true
        @scope.edit_object(entry.obj, entry._node_type)

user_tree_module.controller("user_tree", ["$scope", "$compile", "$filter", "$templateCache", "Restangular", "paginatorSettings", "restDataSource", "sharedDataSource", "$q", "$timeout", "$modal",
    ($scope, $compile, $filter, $templateCache, Restangular, paginatorSettings, restDataSource, sharedDataSource, $q, $timeout, $modal) ->
        $scope.obj_perms = {}
        $scope.tree = new user_tree($scope)
        $scope.filterstr = ""
        # init edit mixins
        $scope.group_edit = new angular_edit_mixin($scope, $templateCache, $compile, $modal, Restangular)
        $scope.group_edit.modify_rest_url = "{% url 'rest:group_detail' 1 %}".slice(1).slice(0, -2)
        $scope.group_edit.create_rest_url = Restangular.all("{% url 'rest:group_list' %}".slice(1))
        $scope.group_edit.use_modal = false
        $scope.group_edit.change_signal = "icsw.user.groupchange"
        $scope.group_edit.new_object = () ->
            return {
                "groupname" : "new_group"
                "gid" : 222
                "active" : true
                "homestart" : "/home"
            }
        $scope.user_edit = new angular_edit_mixin($scope, $templateCache, $compile, $modal, Restangular)
        $scope.user_edit.modify_rest_url = "{% url 'rest:user_detail' 1 %}".slice(1).slice(0, -2)
        $scope.user_edit.create_rest_url = Restangular.all("{% url 'rest:user_list' %}".slice(1))
        $scope.user_edit.use_modal = false
        $scope.user_edit.change_signal = "icsw.user.userchange"
        $scope.user_edit.new_object = () ->
            return {
                "login" : "new_user"
                "uid" : 333
                "active" : true
                "group" : (entry.idx for entry in $scope.group_list)[0]
                "shell" : "/bin/bash"
            }
        #$scope.group_edit.edit_template = "group_edit.html"
        wait_list = restDataSource.add_sources([
            ["{% url 'rest:group_list' %}", {}]
            ["{% url 'rest:user_list' %}", {}]
            ["{% url 'rest:device_group_list' %}", {}]
            ["{% url 'rest:csw_permission_list' %}", {}]
            ["{% url 'rest:csw_object_permission_list' %}", {}]
            ["{% url 'rest:home_export_list' %}", {}]
            ["{% url 'rest:csw_object_list' %}", {}]
        ])
        $q.all(wait_list).then(
            (data) ->
                $scope.group_list = data[0]
                $scope.user_list = data[1]
                $scope.device_group_list = data[2]
                $scope.csw_permission_list = data[3]
                $scope.csw_object_permission_list = data[4]
                $scope.home_export_list = data[5]
                # optimise object_permission_list
                for entry in $scope.user_list
                    entry.ocsw_cache = {}
                    for csw in $scope.csw_object_permission_list
                        entry.ocsw_cache[csw.idx] = []
                    for csw in entry.object_permissions
                        entry.ocsw_cache[csw.csw_permission].push(csw.object_pk)
                for entry in $scope.group_list
                    entry.ocsw_cache = {}
                    for csw in $scope.csw_object_permission_list
                        entry.ocsw_cache[csw.idx] = []
                    for csw in entry.object_permissions
                        entry.ocsw_cache[csw.csw_permission].push(csw.object_pk)
                # beautify permission list
                for entry in $scope.csw_permission_list
                    info_str = entry.content_type.app_label + " | " + entry.content_type.name + " | " + entry.name + " | " + (if entry.valid_for_object_level then "G/O" else "G")
                    entry.info = info_str
                    if entry.valid_for_object_level
                        key = entry.content_type.app_label + "." + entry.content_type.model 
                        if key not of $scope.obj_perms
                            $scope.obj_perms[key] = []
                        $scope.obj_perms[key].push(entry)
                $scope.ct_dict = {}
                $scope.pag_dict = {}
                for entry in data[6]
                    cur_pag = paginatorSettings.get_paginator("list_#{entry.content_label}", $scope)
                    cur_pag.set_entries(entry.object_list)
                    $scope.pag_dict[entry.content_label] = cur_pag
                    $scope.ct_dict[entry.content_label] = entry.object_list
                $scope.group_edit.delete_list = $scope.group_list 
                $scope.group_edit.create_list = $scope.group_list
                $scope.user_edit.delete_list = $scope.user_list 
                $scope.user_edit.create_list = $scope.user_list
                $scope.rebuild_tree()
        )
        $scope.sync_users = () ->
            $.blockUI()
            $.ajax
                url     : "{% url 'user:sync_users' %}"
                title   : "syncing users"
                success : (xml) =>
                    $.unblockUI()
                    parse_xml_response(xml)
        $scope.rebuild_tree = () ->
            $scope.tree.clear_root_nodes()
            group_lut = {}
            for entry in $scope.group_list
                t_entry = $scope.tree.new_node({folder:true, obj:entry, expand:!entry.parent_group, _node_type:"g"})
                group_lut[entry.idx] = t_entry
                if entry.parent_group
                    group_lut[entry.parent_group].add_child(t_entry)
                else
                    $scope.tree.add_root_node(t_entry)
            for entry in $scope.user_list
                t_entry = $scope.tree.new_node({folder:false, obj:entry, _node_type:"u"})
                group_lut[entry.group].add_child(t_entry)
            $scope.group_lut = group_lut
        $scope.$on("icsw.user.groupchange", () ->
            $scope.rebuild_tree()
        )
        $scope.$on("icsw.user.userchange", () ->
            $scope.rebuild_tree()
        )
        $scope.valid_device_groups = () ->
            return (entry for entry in $scope.device_group_list when entry.enabled == true and entry.cluster_device_group == false)
        $scope.valid_group_csw_permissions = () ->
            return (entry for entry in $scope.csw_permission_list when entry.codename not in ["admin", "group_admin"])
        $scope.valid_user_csw_permissions = () ->
            return (entry for entry in $scope.csw_permission_list)
        $scope.get_export_list = () ->
            return (entry for entry in $scope.home_export_list)
        $scope.update_filter = () ->
            if not $scope.filterstr
                cur_re = new RegExp("^$", "gi")
            else
                try
                    cur_re = new RegExp($scope.filterstr, "gi")
                catch exc
                    cur_re = new RegExp("^$", "gi")
            $scope.tree.iter(
               (entry, cur_re) ->
                   cmp_name = if entry._node_type == "g" then entry.obj.groupname else entry.obj.login
                   entry.set_selected(if cmp_name.match(cur_re) then true else false)
               cur_re
            )
            $scope.tree.show_selected(false)
        $scope.create_group = () ->
            $scope._edit_mode = "g"
            $scope.group_edit.create()
        $scope.create_user = () ->
            $scope._edit_mode = "u"
            $scope.user_edit.create()
        $scope.edit_object = (obj, obj_type) ->
            # init dummy form object for subscope(s)
            $scope._edit_mode = obj_type
            if obj_type == "g"
                $scope.group_edit.edit(obj)
            else if obj_type == "u"
                $scope.user_edit.edit(obj)
            #console.log obj_type, obj
        $scope.$on("icsw.set_password", (event, new_pwd) ->
            $scope._edit_obj.password = new_pwd
            $scope.user_edit.modify()
        )
        $scope.change_password = () ->
            $scope.$broadcast("icsw.enter_password")
        $scope.toggle_object_csw = (key, obj_idx, entry_idx) ->
            $.ajax
                url     : "{% url 'user:change_object_permission' %}"
                data    :
                    # group or user
                    "auth_type" : $scope._edit_mode
                    "auth_pk"   : $scope._edit_obj.idx
                    "model_label" : key
                    "obj_idx" : obj_idx
                    "csw_idx" : entry_idx
                    "set"     : if obj_idx in $scope._edit_obj.ocsw_cache[entry_idx] then "0" else "1"
                success : (xml) =>
                    parse_xml_response(xml)
        $scope.object_csw_set = (obj_idx, entry_idx) ->
            return obj_idx in $scope._edit_obj.ocsw_cache[entry_idx]
]).directive("grouptemplate", ($compile, $templateCache) ->
    return {
        restrict : "A"
        template : $templateCache.get("group_edit.html")
        link : (scope, element, attrs) ->
            # not beautiful but working
            scope.$parent.form = scope.form
            scope.obj_perms = scope.$parent.obj_perms
    }
).directive("usertemplate", ($compile, $templateCache) ->
    return {
        restrict : "A"
        template : $templateCache.get("user_edit.html")
        link : (scope, element, attrs) ->
            # not beautiful but working
            scope.$parent.$parent.form = scope.form
            scope.obj_perms = scope.$parent.$parent.obj_perms
    }
).directive("objectpermissions", ($compile, $templateCache) ->
    return {
        restrict : "EA"
        template : $templateCache.get("object_perm_table.html")
        link : (scope, element, attrs) ->
            #console.log scope.obj_perms
    }
).run(($templateCache) ->
    $templateCache.put("simple_confirm.html", simple_modal_template)
)

show_object_permissions = (event, obj_key) ->
    new object_permissions(event, obj_key).show()

class object_permissions
    constructor: (@event, @obj_key) ->
    show: () =>
        $.ajax
            {# url     : "{% url 'user:get_object_permissions' %}" #}
            data    :
                "auth_key" : @obj_key
            success : (xml) =>
                if parse_xml_response(xml)
                    @resp_xml = $(xml).find("response")
                    #console.log @resp_xml[0]
                    @build_div()
                    @perm_div.simplemodal
                        opacity      : 50
                        position     : [@event.pageY, @event.pageX]
                        autoResize   : true
                        autoPosition : true
                        minWidth     : "640px"
                        onShow: (dialog) -> 
                            dialog.container.draggable()
                            $("#simplemodal-container").css("height", "auto")
                            $("#simplemodal-container").css("width", "auto")
                        onClose: =>
                            $.simplemodal.close()
    build_div: () =>
        perm_div = $("<div>")
        perm_div.append(
            $("<h3>").text("Object permissions")
        )
        tabs_div = $("<div>").attr("id", "tabs")
        tabs_ul = $("<ul>")
        tabs_div.append(tabs_ul)
        perm_div.append(tabs_div)
        # build permission divs
        @resp_xml.find("content_types content_type").each (idx, cur_ct) =>
            cur_ct = $(cur_ct)
            tabs_ul.append(
                $("<li>").append($("<a>").attr("href", "#" + cur_ct.attr("name")).text(cur_ct.attr("app_label") + ":" + cur_ct.attr("name")))
            )
            sub_div = $("<div>").attr("id", cur_ct.attr("name"))
            tabs_div.append(sub_div)
            @build_ct_div(cur_ct, sub_div)
        tabs_div.tabs()
        @perm_div = perm_div
    build_ct_div: (cur_ct, add_div) =>
        add_div.append($("<h3>").text("Permissions for " + cur_ct.attr("name")))
        has_group = parseInt(cur_ct.find("objects").attr("has_group"))
        has_second_group = parseInt(cur_ct.find("objects").attr("has_second_group"))
        if cur_ct.find("objects object").length
            perm_table = $("<table>").addClass("device_objperm")
            header_line = $("<tr>").addClass("ui-widget ui-widget-header")
            if has_second_group
                perm_offset = 3
                header_line.append($("<th>").text("Group"))
                header_line.append($("<th>").text("sGroup"))
            else if has_group
                perm_offset = 2
                header_line.append($("<th>").text("Group"))
            else
                perm_offset = 1
            header_line.append($("<th>").text("Name"))
            a_targets = []
            csw_perms = @resp_xml.find("csw_permissions csw_permission[content_type='" + cur_ct.attr("pk") + "']")
            csw_perms.each (csw_pk, cur_csw) =>
                cur_csw = $(cur_csw)
                a_targets.push(csw_pk + perm_offset)
                header_line.append($("<th>").text(cur_csw.attr("name")))
            perm_table.append(
                $("<thead>").append(header_line)
            )
            tab_body = $("<tbody>")
            cur_ct.find("objects object").each (idx, cur_obj) =>
                cur_obj = $(cur_obj)
                obj_perms = cur_obj.attr("perms").split(",")
                cur_line = $("<tr>")
                if has_group
                    cur_line.append($("<td>").text(cur_obj.attr("group")))
                    if has_second_group
                        cur_line.append($("<td>").text(cur_obj.attr("second_group")))
                cur_line.append($("<td>").text(cur_obj.text()))
                csw_perms.each (csw_pk, cur_csw) =>
                    cur_csw = $(cur_csw)
                    cur_id = "csw_perm__" + cur_obj.attr("pk") + "__" + cur_csw.attr("pk")
                    if cur_csw.attr("pk") in obj_perms
                        cur_line.append($("<td>").addClass("center").html("<input type='checkbox' id='#{cur_id}' checked='checked' title='" + cur_csw.attr("codename") + "'/>"))
                    else
                        cur_line.append($("<td>").addClass("center").html("<input type='checkbox' id='#{cur_id}' title='" + cur_csw.attr("codename") + "'/>"))
                tab_body.append(cur_line)
            perm_table.append(tab_body)
            add_div.append(perm_table)
            if has_second_group
                rg_dict =
                    iGroupingColumnIndex2 : 1
                    bSetGroupingClassOnTR : true
                    fnGroupLabelFormat : (label) ->
                        return "#{label} (device group)"
            else if has_group
                rg_dict = 
                    sGroupBy              : "name"
                    bSetGroupingClassOnTR : true
                    bHideGroupingColumn   : true
            else
                rg_dict = 
                    sGroupBy              : "letter"
                    bSetGroupingClassOnTR : true
                    bHideGroupingColumn   : false
            perm_table.dataTable(
                "sPaginationType" : "full_numbers"
                "iDisplayLength"  : 10
                "bScrollCollapse" : true
                "bScrollAutoCss"  : true
                "bAutoWidth"      : false
                "bJQueryUI"       : true
                "bPaginate"       : true
            ).rowGrouping(rg_dict)
            perm_table.find("tbody input[type='checkbox']").on("change", @change_perm)
    change_perm: (event) =>
        cur_el = $(event.target)
        $.ajax
            url  : "{% url 'user:change_object_permission' %}"
            data : {
                "key"      : cur_el.attr("id")
                "selected" : if cur_el.is(":checked") then "1" else "0"
                "auth_key" : @obj_key  
            }
            success: (xml) =>
                if parse_xml_response(xml)
                    true

class user_treex
    constructor: (@top_div, @detail_div) ->
        @buttons_div = @top_div.find("div#buttons")
        @dt_div = @top_div.find("div#dynatree")
        @add_buttons()
        @load_users()
    add_buttons: () =>
        @sync_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "sync_users"
            "value" : "Sync Users"
        ).on("click", @sync_users)
        @create_group_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "create_group"
            "value" : "Create Group"
        ).on("click", @create_group)
        {% if not csw_perms.backbone.admini %}
        @create_group_button.hide()
        @sync_button.hide()
        {% endif %}
        @create_user_button = $("<input>").attr(
            "type"  : "button"
            "id"    : "create_user"
            "value" : "Create User"
        ).on("click", @create_user)
        @click_buttons = @buttons_div.find("input[type='button']")
        @filter_field = $("<input>").attr(
            "type"  : "text",
            "id"    : "filter_str",
            "value" : ""
        ).on("keyup", @change_filter).on("change", @change_filter)
        @latest_filter = ""
        @buttons_div.append(@sync_button, @create_group_button, @create_user_button, ", filter : ", @filter_field)
    change_filter: (event) =>
        cur_val = $(event.target).val()
        if cur_val != @latest_filter
            @latest_filter = cur_val
            if not @latest_filter
                @dt_div.dynatree("getRoot").visit((node) ->
                    node.makeVisible(true)
                    node.select(false)
                )
            else
                try
                    cur_login_re = new RegExp(cur_val)
                catch
                    cur_login_re = new RegExp(".*")
                # traverse tree
                @dt_div.dynatree("getRoot").visit((node) ->
                    if node.data.title.match(cur_login_re)
                        node.makeVisible(true)
                        node.select(true)
                    else
                        node.select(false)
                )
                # traverse tree, unexpand subtrees
                @dt_div.dynatree("getRoot").visit((node) ->
                    if node.hasChildren()
                        any_selected = false
                        # count active
                        node.visit((sub_node) =>
                            if sub_node.isSelected()
                                any_selected = true
                        )
                        if !any_selected
                            node.expand(false)
                )
    sync_users: (event) =>
        @click_buttons.attr("disabled", "disabled")
        $.blockUI()
        $.ajax
            url     : "{% url 'user:sync_users' %}"
            title   : "syncing users"
            success : (xml) =>
                $.unblockUI()
                @click_buttons.removeAttr("disabled")
                parse_xml_response(xml)

    # user functions

    create_user: (event) =>
        @click_buttons.attr("disabled", "disabled")
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    @click_buttons.removeAttr("disabled")
                    @install_ug_form($(xml).find("value[name='form']").text())
                    @detail_div.bind("submit", @submit_new_user)
    submit_new_user: (event) =>
        $.blockUI()
        $.ajax
            url     : "{% url 'user:user_detail' %}"
            data    : create_dict($("div#ug_detail"), "user__new", true, true)
            success : (xml) =>
                if parse_xml_response(xml)
                    window.location = "{% url 'user:overview' %}"
                else
                    @install_ug_form($(xml).find("value[name='error_form']").text())
                    @detail_div.bind("submit", @submit_new_user)
                    $.unblockUI()
        return false
    delete_user: (event) =>
        if confirm("Really delete user ?")
            $.blockUI()
            $.ajax
                url     : "{% url 'user:user_detail' %}"
                data    : {
                    key  : @active_node
                    mode : "delete" 
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        # remove from tree
                        window.location = "{% url 'user:overview' %}"
                    else
                        $.unblockUI()
        return false
     
    # group functions
    
    create_group: (event) =>
        @click_buttons.attr("disabled", "disabled")
        @click_buttons.removeAttr("disabled")
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            type    : "GET"
            success : (xml) =>
                if parse_xml_response(xml)
                    @click_buttons.removeAttr("disabled")
                    @install_ug_form($(xml).find("value[name='form']").text())
                    @detail_div.bind("submit", @submit_new_group)
    submit_new_group: (event) =>
        $.blockUI()
        $.ajax
            url     : "{% url 'user:group_detail' %}"
            data    : create_dict($("div#ug_detail"), "group__new", true, true)
            success : (xml) =>
                if parse_xml_response(xml)
                    window.location = "{% url 'user:overview' %}"
                else
                    $.unblockUI()
                    @install_ug_form($(xml).find("value[name='error_form']").text())
                    @detail_div.bind("submit", @submit_new_group)
        return false
    delete_group: (event) =>
        if confirm("Really delete group ?")
            $.blockUI()
            $.ajax
                url     : "{% url 'user:group_detail' %}"
                data    : {
                    key  : @active_node
                    mode : "delete" 
                }
                success : (xml) =>
                    if parse_xml_response(xml)
                        # remove from tree
                        window.location = "{% url 'user:overview' %}"
                    else
                        $.unblockUI()
        return false

    install_ug_form: (form_text) =>
        @clear_ug_form()
        @detail_div.append(form_text)
        #@detail_div.uniform()
        @detail_div.find("select").chosen(
            width : "75%"
        )
        @detail_div.find("input[name='password']").bind("focus", enter_password)
        @detail_div.find("input[name='object_perms']").bind("click", @object_perms)
    object_perms: (event) =>
        show_object_permissions(event, @active_node)
    clear_ug_form: () =>
        @detail_div.children().remove()
        @detail_div.unbind("submit")
    load_users: () =>
        $.ajax
            url     : "{% url 'user:overview' %}"
            success : (xml) =>
                if parse_xml_response(xml)
                    @UGX = $(xml).find("value[name='response']")
                    @my_submitter = new submitter({
                        master_xml       : @UGX,
                        success_callback : @change_cb
                    })
                    @build_tree()
    change_cb: (cur_el) =>
        c_type = cur_el.attr("id").split("__")[2]
        node_key = cur_el.attr("id").split("__")[1]
        #console.log c_type, node_key
    build_tree: () =>
        @dt_div.dynatree
            autoFocus  : false
            debuglevel : {% if DEBUG %}0{% else %}0{% endif %}
            onExpand : (flag, dtnode) =>
            onSelect : (flag, dtnode) =>
            onFocus  : (dtnode) =>
                @show_details(dtnode.data.key)
                return false
            {% if csw_perms.backbone.admin %}
            # node movement is not allowed for group admins, should be allowed for group admins between groups
            dnd : {
                onDragStart : (dtnode) =>
                    return true
                onDragEnter : (dst_node, src_node) =>
                    if dst_node.data.key.match(/^group__/) or (dst_node.data.key == "top" and src_node.data.key.match(/^group__/))
                        return true
                    else
                        return false
                onDrop: (dst_node, src_node, hit_mode, ui, draggable) =>
                    $.ajax
                        url     : "{% url 'user:move_node' %}"
                        data    : {
                            "src_id" : src_node.data.key
                            "dst_id" : dst_node.data.key
                            "mode"   : hit_mode
                        }
                        success :  (xml) =>
                            if parse_xml_response(xml)
                                src_db_node = @UGX.find("users user[key='#{src_node.data.key}']")
                                src_db_node.attr("parent", @UGX.find("groups group[key='#{dst_node.data.key}']").attr("pk"))
                                src_node.move(dst_node, "over")
                }
            {% endif %}
        @root_node = @dt_div.dynatree("getRoot")
        @build_group_node(@root_node)
    build_group_node: (dt_node, db_node) =>
        if db_node is undefined
            title_str = "TOP"
            expand_flag = true
            key         = "top"
            folder      = true
            next_list = @UGX.find("groups group[parent_group='0']")
        else
            title_str   = db_node.attr("groupname") + " (gid " + db_node.attr("gid") + ")"
            expand_flag = true
            key         = db_node.attr("key")
            folder      = true
            next_list = @UGX.find("groups group[parent_group='" + db_node.attr("pk") + "']")
        new_node = dt_node.addChild(
            title    : title_str
            expand   : expand_flag
            key      : key
            isFolder : folder
        )
        next_list.each (idx, sub_el) =>
            @build_group_node(new_node, $(sub_el))
        if key != "top"
            @UGX.find("users user[group='" + db_node.attr("pk") + "']").each (u_idx, user_el) =>
                @build_user_node(new_node, $(user_el))
    build_user_node: (dt_node, db_node) =>
        new_node = dt_node.addChild(
            title    : db_node.attr("login") + " (uid " + db_node.attr("uid") + ")"
            expand   : false
            key      : db_node.attr("key")
        )
    show_details: (key) =>
        if @active_node != key
            # only reload if key is not the active key
            if key.match(/^(user|group)__/)
                if key.match(/^(user)__/)
                    url = "{% url 'user:user_detail' %}"
                else
                    url = "{% url 'user:group_detail' %}"
                $.ajax
                    url     : url
                    data    : {
                        "key"  : key
                        "mode" : "show"
                    }
                    success : (xml) =>
                        if parse_xml_response(xml)
                            @active_node = key
                            @install_ug_form($(xml).find("value[name='form']").text())
                            @detail_div.find("input, select, textarea").on("change", @my_submitter.submit)
                            if key.match(/^(user)__/)
                                @detail_div.bind("submit", @delete_user)
                            else
                                @detail_div.bind("submit", @delete_group)
                        else
                            @clear_ug_form()

$(document).ready(
    #my_ugt = new user_treex($("div#ug_tables"), $("div#ug_detail"))
)

angular.element(document).ready(() ->
    angular.bootstrap($("div[id='icsw.user.tree']"), ["icsw.user.tree"])
)

{% endinlinecoffeescript %}

</script>

{% endblock %}
