
<script type="text/ng-template" id="icsw.history.overview">
    <h2>System history</h2>


    <div class="form-inline">
        <label for="id_sel_mod" class="control-label">
            Model:
        </label>
        <select id="id_sel_mod" class="select form-control" ng-model="selected_model"
                ng-options="k as v for (k, v) in models_with_history.plain()" style="width: auto"></select>
    </div>

    <!--
    -->
    <icsw-history-model-history model="selected_model"></icsw-history-model-history>
</script>

<script type="text/ng-template" id="icsw.history.model_history">
    <h3>{{models_with_history[model()]}}</h3>
    <table class="table table-condensed table-hover table-striped" style="width: auto"
            st-table="entries_display" st-safe-src="entries">
        <thead>
            <tr>
                <td colspan="99">
                    <div icsw-tools-pagination st-items-by-page="20" st-displayed-pages="11"
                         possible-items-by-page="10,20,50,100,200,500,1000"></div>
                </td>
            </tr>
            <tr>
                <th st-sort="meta.date" st-sort-default="reverse">Date</th>
                <th>User</th>
                <th>Type</th>
                <th>Object</th>
                <th>Object ID</th>
                <th></th>
                <th>Change</th>
                <!--
                <th ng-repeat="(k, v) in entries[0].data" ng-show="column_visible[k]">{{k}}</th>
                -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in entries_display">
                <td>{{entry.meta.date | datetime_concise}}</td>
                <td>{{get_user_by_idx(entry.meta.user).login}}</td>
                <td>{{entry.meta.type}}
                <td>{{entry.meta.object_repr}}</td>
                <td>{{entry.meta.object_id}}</td>
                <td></td>
                <!--
                <td ng-repeat="(k, v) in entry.data" ng-class="last_entry_different(entry.data['pk'], $parent.$index, k) && 'danger'">
                    {{v}}
                </td>
                -->
                <td>
                        <div ng-repeat="(k, v) in entry.changes" ng-if="entry.meta.type == 'modified'">
                     Change <strong>{{k}}</strong>
                                from
                                <strong>
                                {{format_value(v[0])}}
                                    </strong>
                                to
                                <strong>
                                {{format_value(v[1])}}
                                </strong>
                            </div>

                    <!--
                    <table class="table table-condensed" style="width: auto" ng-if="entry.meta.type == 'modified'">
                        <tr ng-repeat="(k, v) in entry.changes">
                            <td>

                            </td>
                            <th>
                                {{k}}
                            </th>
                            <td >
                                {{format_value(v[0])}}
                                </td><td>
                                {{format_value(v[1])}}
                            </td>
                        </tr>


                    </table>
                    -->
                </td>


                <!--
                <td ng-repeat="(k, v) in entry.data" ng-show="column_visible[k]">
                        <div ng-show="last_entry_different(entry.data['pk'], $parent.$index, k)">
                            {{get_last_entry_before(entry.data['pk'], $parent.$index).data[k]}}
                            TO
                            {{v}}
                        </div>
                    </td>
                -->
            </tr>
        </tbody>
    </table>
</script>
