<script type="text/ng-template" id="icsw/device/asset/overview">
    <icsw-device-asset-overview icsw-sel-man="0"></icsw-device-asset-overview>
</script>

<script type="text/ng-template" id="icsw.device.asset.overview">
    <uib-alert type="warning" ng-show="!struct.data_loaded">Fetching data from server ...</uib-alert>
    <icsw-tools-ensure-device-selection dev-list="struct.devices" list-ready="struct.data_loaded">
        <h2>
            Device Assets ({{ struct.devices.length }} devices)
        </h2>
        <div class="row">
            <div class="col-sm-5 form-inline">
                <div class="form-group">
                    NameFilter: <input class="form-control" ng-model="vars.name_filter" ng-change="new_filter_set()" placeholder="filter"/>
                </div>
            </div>
        </div>

        <ul>
            <li ng-repeat="obj in struct.devices">Device Name: {{ obj.name }}
                <ul>
                    <li ng-repeat="obj2 in obj.assetrun_set">AssetRun Num: {{ obj2.run_index }} {{ obj2.assets }}</li>
                </ul>
            </li>
        </ul>
    </icsw-tools-ensure-device-selection>
</script>
