<!--<style> .timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:0px 0 0px 0;
    position:relative;
}

.timeline-entry {
    display:inline-block;
    vertical-align:top;
    background:#13519C;
    color:#fff;
    padding:0px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #06182E;
    border-radius:3px;
    min-width:200px;
    max-width:500px;
}

.timeline-entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.timeline-entry h1 {
    color:#fff;
    font-size:18px;
    font-family:Georgia, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.timeline-entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.timeline-bar {
    height:4px;
    background:#eee;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}
</style>
-->

<script type="text/ng-template" id="icsw/device/asset/overview">
    <icsw-device-asset-overview icsw-sel-man="0"></icsw-device-asset-overview>
</script>


<script type="text/ng-template" id="icsw.device.asset.overview">
    <div class="container-fluid">
        <div uib-alert class="alert-warning" ng-show="!struct.data_loaded">Fetching data from server ...</div>

        <div ng-if="struct.data_loaded">
            <h1>
                Asset System Overview
                <span ng-show="struct.reloading" class="text-warning">Updating data from server...</span>
            </h1>

            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        <span>Selected Devices</span>
                    </uib-tab-heading>
                    <br/>
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <span>Planned Scans ({{ struct.schedule_items.length }})</span>
                            </uib-tab-heading>
                            <div ng-show="struct.schedule_items.length < 1">
                                <h3>
                                    No scheduled scans for the current device selection.
                                </h3>
                            </div>
                            <div ng-show="struct.schedule_items.length > 0">
                                <br/>
                                <icsw-asset-scheduled-runs-table
                                        icsw-schedule-items="struct.schedule_items">
                                </icsw-asset-scheduled-runs-table>
                            </div>
                        </uib-tab>
                        <uib-tab ng-click="load_package_tree()">
                            <uib-tab-heading>
                                <span>Known Packages</span>
                            </uib-tab-heading>

                            <icsw-asset-known-packages
                                icsw-asset-package-tree="struct.package_tree"
                            ></icsw-asset-known-packages>
                        </uib-tab>
                    </uib-tabset>
                </uib-tab>


                <uib-tab ng-repeat="dev in struct.devices">
                    <uib-tab-heading>
                        {{ dev.full_name }}
                    </uib-tab-heading>
                    <uib-tabset>
                        </br>
                        <uib-tab>
                            <uib-tab-heading>
                                Scan History
                            </uib-tab-heading>
                            <h3>
                                <span ng-show="dev.asset_batch_list.length">
                                    Scans for device '{{ dev.full_name }}' (group {{ dev.device_group_name }})
                                </span>
                                <span ng-show="!dev.asset_batch_list.length">
                                    No scan for this device yet.
                                </span>
                            </h3>
                            <div>
                                <button type="button" class="btn btn-xs btn-warning" ng-disabled="dev.$$scan_device_button_disabled" ng-click="scan_device(dev)">{{ dev.$$scan_device_button_disabled ? "Please wait..." : "Scan this device now" }}</button>
                            </div>
                            <br/>
                            <icsw-asset-asset-batch-table
                                icsw-asset-batch-list="dev.asset_batch_list"
                            ></icsw-asset-asset-batch-table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Planned Scans
                            </uib-tab-heading>
                            <h3>
                                <span>
                                    Planned Scans for device '{{ dev.full_name }}' (group {{ dev.device_group_name }})
                                </span>
                            </h3>
                            <br/>
                            <icsw-asset-scheduled-runs-table
                                    icsw-schedule-items="dev.schedule_items">
                            </icsw-asset-scheduled-runs-table>
                        </uib-tab>
                        <uib-tab ng-repeat="tab in dev.info_tabs">
                            <uib-tab-heading>
                                {{ tab.tab_heading_text }}
                                <icsw-tools-button size="xs" type="close" value="" ng-click="close_tab(tab, dev)"></icsw-tools-button>
                            </uib-tab-heading>
                            <icsw-asset-batch-details
                                icsw-tab="tab"
                            </icsw-asset-batch-details>
                        </uib-tab>
                    </uib-tabset>
            </uib-tabset>
        </div>
    </div>
</script>


<script type="text/ng-template" id="icsw.asset.asset.batch.table">
    <table
        class="table table-condensed table-striped table-hover simple-border"
        st-table="assetbatches_shown"
        ng-show="asset_batch_list.length > 0"
        st-safe-src="asset_batch_list"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <span
                        icsw-tools-pagination
                        st-items-by-page="20"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100"
                        class="pull-xs-left"
                    ></span>
                </td>
            </tr>
            <tr>
                <th st-sort="idx" st-sort-default="reverse" class="text-center">Scan ID</th>
                <th st-sort="$$run_start_time" class="text-center">Scantime</th>
                <th class="text-center">Scan Runtime</th>
                <th class="text-center">Package Info</th>
                <th class="text-center">Pending Update Info</th>
                <th class="text-center">Installed Updates Info</th>
                <th class="text-center">Memory Module Info</th>
                <th class="text-center">CPU Info</th>
                <th class="text-center">GPU Info</th>
                <th class="text-center">Display Info</th>
                <th class="text-center">NIC Info</th>
                <th class="text-center">HDD Info</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="assetbatch in assetbatches_shown track by $index">
                <td class="text-center">{{ assetbatch.idx }}</td>
                <td class="text-center">{{ assetbatch.$$run_start_time }}</td>
                <td class="text-center">{{ assetbatch.$$run_time }}</td>
                <td class="text-center"><div ng-class="assetbatch.$$packages_availability_class"><strong>{{ assetbatch.$$packages_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$pending_updates_availability_class"><strong>{{ assetbatch.$$pending_updates_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$installed_updates_availability_class"><strong>{{ assetbatch.$$installed_updates_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$memory_modules_availability_class"><strong>{{ assetbatch.$$memory_modules_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$cpus_availability_class"><strong>{{ assetbatch.$$cpus_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$gpus_availability_class"><strong>{{ assetbatch.$$gpus_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$displays_availability_class"><strong>{{ assetbatch.$$displays_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$network_devices_availability_class"><strong>{{ assetbatch.$$network_devices_availability_text }}</strong></div></td>
                <td class="text-center"><div ng-class="assetbatch.$$partition_table_availability_class"><strong>{{ assetbatch.$$partition_table_availability_text }}</strong></div></td>
                <td class="text-center">
                    <div>
                        <button type="button" class="btn btn-sm btn-primary" ng-disabled="!assetbatch.is_finished_processing" ng-click="open_in_new_tab(assetbatch, -1)">{{ assetbatch.is_finished_processing ? "Open in new Tab" : "Still Processing..." }}</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</script>


<script type="text/ng-template" id="icsw.asset.scheduled.runs.table">
    <table
        class="table table-condensed table-striped simple-border"
        st-table="scheduleitems_shown"
        st-safe-src="schedule_items"
    >
        <thead>
            <tr>
                <th st-sort="dev_name">Device</th>
                <th st-sort="planned_time">Planned Time</th>
                <th st-sort="ds_name">Dispatch Setting Name</th>
                <!--<th>
                    <icsw-tools-button  type="modify" value="Download CSV" ng-click="downloadCsv()" size="xs">Export to CSV</icsw-tools-button>
                </th>-->
            </tr>
            <tr>
                <th colspan="1">
                    <input st-search="$$full_name" placeholder="filter by device name" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="1">
                    <input st-search="$$planned_time" placeholder="search by time" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="1">
                    <input st-search="$$disp_setting.name" placeholder="search by dispatch setting name" class="input-sm form-control" type="search"/>
                </th>
            </tr>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100"
                    ></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in scheduleitems_shown">
                <td>{{ item.$$device.full_name }}</td>
                <td>{{ item.$$planned_time }}</td>
                <td>{{ item.$$disp_setting.name }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.known.packages">
    <h3 ng-if="!package_tree.list.length">
        <span>No know Packages! Start an AssetRun to populate this list</span>
    </h3>
    <h3 ng-if="package_tree.list.length">
        <span>Known Packages</span>
    </h3>

    <table
        class="table table-condensed table-striped simple-border"
        ng-if="package_tree.list.length > 0"
        st-table="packages_shown"
        st-safe-src="package_tree.list"
        st-set-filter="packageFilter"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="20"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,500,1000,2000,5000,10000"
                    ></div>
                </td>
            </tr>
            <tr>
                <th st-sort="name">Name</th>
                <th st-sort="$$package_type">Package Type</th>
                <th st-sort="$$num_versions" class="text-right">#Versions</th>
                <th class="text-right"><icsw-tools-button  type="modify" value="Download CSV" ng-click="downloadCsv()" size="xs">Export to CSV</icsw-tools-button></th>
            </tr>
            <tr>
                <th colspan="1">
                    <input st-search="name" placeholder="filter by name" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="1">
                    <input st-search="$$package_type" placeholder="filter by package type" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="2">&nbsp;</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat-start="package in packages_shown">
                <td>{{ package.name }}</td>
                <td>{{ package.$$package_type }}</td>
                <td class="text-right">{{ package.$$num_versions }}</td>
                <td class="text-right">
                    <icsw-tools-button size="xs" type="show" is-show="!package.$$expanded" ng-click="expand($event, package)"></icsw-tools-button>
                </td>
            </tr>

            <tr ng-repeat-end ng-if="package.$$expanded">
                <td colspan="99">
                    <table
                        class="table table-condensed table-striped simple-border "
                        st-safe-src="package.assetpackageversion_set"
                        st-table="package.$$versions_shown"
                    >
                        <tr>
                            <td colspan="99">
                                <div
                                    icsw-tools-pagination
                                    st-items-by-page="10"
                                    st-displayed-pages="11"
                                    possible-items-by-page="10,20,50,100"
                                ></div>
                            </td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <th>Release</th>
                            <th>Size</th>
                            <th class="text-right">Action</th>
                        </tr>
                        <tr ng-repeat-start="version in package.$$versions_shown">
                            <td>{{ version.version }}</td>
                            <td>{{ version.$$release }}</td>
                            <td>{{ version.$$size }}</td>
                            <td class="text-right">
                                <icsw-tools-button size="xs" type="show" is-show="!obj.$$expanded" ng-click="expand($event, version)"></icsw-tools-button>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="version.$$expanded">
                            <td colspan="99">
                                <table class="table table-condensed table-striped simple-border">
                                    <thead>
                                        <tr>
                                            <th>Device</th>
                                            <th>Seen (From)</th>
                                            <th>Seen (Until)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="device_obj in version.install_info">
                                            <td>{{ device_obj.device_name }}</td>
                                            <td>{{ get_history_timeline(device_obj, true) }}</td>
                                            <td>{{ get_history_timeline(device_obj, false) }}</td>
                                            <!--<td>
                                                <div class="timeline">
                                                    <div class="timeline-entry" ng-repeat="time_str in device_obj.install_history_list">
                                                        <h1>{{ format_time(time_str) }}</h1>
                                                    </div>
                                                </div>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.na">
    <div uib-alert class="alert-warning">Not Implemented (AssetType is {{ asset_run.$$run_type }})</div>
</script>

<script type="text/ng-template" id="icsw.asset.details.package">
    <h3>
        Installed Packages
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.packages"
        st-table="packages_shown"
        st-set-filter="packageFilter"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="20"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500,1000,2000,5000,10000"
                    ></div>
                </td>
            </tr>
            <tr>
                <th st-sort="$$package.name">Name</th>
                <th class="text-right" st-sort="version">Version</th>
                <th st-sort="release">Release</th>
                <th class="text-right" st-sort="size">Size</th>
                <th st-sort="$$package.install_time">Installation Time</th>
                <th class="text-right" st-sort="$$package.$$package_type">Package Type</th>
            </tr>
            <tr>
                <th colspan="1">
                    <input st-search="$$package.name" placeholder="filter by name" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="4">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vers in packages_shown track by $index">
                <td>{{ vers.$$package.name }}</td>
                <td class="text-right">{{ vers.version }}</td>
                <td>{{ vers.release }}</td>
                <td class="text-right">{{ vers.$$size }}</td>
                <td>{{ vers.$$install_time }}</td>
                <td class="text-right">{{ vers.$$package.$$package_type }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hardware">
    <table
        class="table table-condensed table-striped simple-border"
        style="width:auto;"
        st-safe-src="asset_run.$$assets"
        st-table="assets_shown"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th st-sort="type">NodeType</th>
                <th st-sort="depth">Depth</th>
                <th>Attributes</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in assets_shown">
                <td>{{ node.type }}</td>
                <td>{{ node.depth }}</td>
                <td>{{ node.$$attribute_info }}</td>
                <td>{{ node.$$info_info }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.installed.updates">
    <h3>
        Installed Updates
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.installed_updates"
        st-table="assets_shown"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="20"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th st-sort="name">Name</th>
                <th>Installdate</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="up in assets_shown">
                <td>{{ up.name }}</td>
                <td>{{ up.install_date }}</td>
                <td>{{ up.status }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.pending.updates">
    <h3>
        Pending Updates
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.pending_updates"
        st-table="assets_shown"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="20"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th st-sort="name">Name</th>
                <th>Version</th>
                <th>Optional</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="up in assets_shown">
                <td>{{ up.name }}</td>
                <td>{{ up.new_version }}</td>
                <td>{{ up.optional }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hw.memory.modules">
    <h3>
        Installed Memory Module(s)
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.memory_modules"
        st-table="assets_shown_memory_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>Banklabel</th>
                <th>Formfactor</th>
                <th>Memorytype</th>
                <th>Manufacturer</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in assets_shown_memory_entries">
                <td>{{ node.banklabel }}</td>
                <td>{{ node.formfactorname }}</td>
                <td>{{ node.memorytypename }}</td>
                <td>{{ node.manufacturer }}</td>
                <td>{{ node.$$capacity }} MiB</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hw.cpu">
    <h3>
        Installed CPU(s)
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.cpus"
        st-table="assets_shown_cpu_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>CPU Name/Type</th>
                <th># Cores</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in assets_shown_cpu_entries">
                <td>{{ node.name }}</td>
                <td>{{ node.numberofcores }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hw.gpu">
    <h3>
        Installed GPU(s)
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.gpus"
        st-table="assets_shown_gpu_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>GPU Name/Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in assets_shown_gpu_entries">
                <td>{{ node.name }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hw.nic">
    <h3>
        Installed Network Devices(s)
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.network_devices"
        st-table="assets_shown_nic_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>Device Name</th>
                <th>Product Name</th>
                <th>Manufacturer</th>
                <th>Mac Address</th>
                <th>Speed</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in assets_shown_nic_entries">
                <td>{{ obj.device_name }}</td>
                <td>{{ obj.product_name }}</td>
                <td>{{ obj.manufacturer }}</td>
                <td>{{ obj.mac_address }}</td>
                <td>{{ obj.speed }}</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hw.hdd">
    <style>
        .table > tbody > tr > td {
            vertical-align: middle !important;
        }
        .table > tbody > tr > td > .progress {
            margin-bottom: 0px !important;
        }
    </style>
    <h3>
        HDD & Partition Information
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.hdds"
        st-table="assets_shown_hdd_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>Identifier</th>
                <th>Serialnumber</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="obj in assets_shown_hdd_entries">
                <td>{{ obj.identifier }}</td>
                <td>{{ obj.serialnumber }}</td>
                <td>{{ obj.size }}</td>
            </tr>
            <tr ng-repeat-end ng-if="obj.partitions.length > 0">
                <td colspan="99">
                    <table class="table table-condensed table-striped simple-border">
                        <thead>
                            <tr>
                                <th>Mountpoint</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="partition in obj.partitions">
                                <td>{{ partition.mountpoint }}</td>
                                <td>{{ partition.size }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>
        Logical Volumes
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.logical_discs"
        st-table="assets_shown_logical_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Filesystem</th>
                <th>Size</th>
                <th>Free</th>
                <th>Fillstatus</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in assets_shown_logical_entries">
                <td>{{ obj.name }}</td>
                <td>{{ obj.filesystem_name }}</td>
                <td>{{ obj.size }}</td>
                <td>{{ obj.free }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( obj.fill_percentage + '%' ) }">
                            {{ obj.fill_percentage }}%
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
   </table>
</script>

<script type="text/ng-template" id="icsw.asset.details.hw.display">
    <h3>
        Displays
    </h3>
    <table
        class="table table-condensed table-striped simple-border"
        st-safe-src="tab.asset_batch.displays"
        st-table="assets_shown_display_entries"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div
                        icsw-tools-pagination
                        st-items-by-page="10"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100,200,500"
                    ></div>
                </td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <th>Product Name</th>
                <th>X Resolution</th>
                <th>Y Resolution</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in assets_shown_display_entries">
                <td>{{ obj.$$manufacturer }}</td>
                <td>{{ obj.$$name }}</td>
                <td>{{ obj.$$xpixels }}</td>
                <td>{{ obj.$$ypixels }}</td>
            </tr>
        </tbody>
    </table>
</script>


<script type="text/ng-template" id="icsw.asset.details.all">
    <br/>
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <span>Installed Packages</span>
            </uib-tab-heading>
            <icsw-asset-details-package-table icsw-tab="tab"></icsw-asset-details-package-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Pending Updates</span>
            </uib-tab-heading>
            <icsw-asset-detail-pending-updates-table icsw-tab="tab"></icsw-asset-detail-pending-updates-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Installed Updates</span>
            </uib-tab-heading>
            <icsw-asset-details-installed-updates-table icsw-tab="tab"></icsw-asset-details-installed-updates-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Installed Memory Module(s)</span>
            </uib-tab-heading>
            <icsw-asset-details-hardware-memory-modules-table icsw-tab="tab"></icsw-asset-details-hardware-memory-modules-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Installed CPU(s)</span>
            </uib-tab-heading>
            <icsw-asset-details-hardware-cpu-table icsw-tab="tab"></icsw-asset-details-hardware-cpu-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Installed GPU(s)</span>
            </uib-tab-heading>
            <icsw-asset-details-hardware-gpu-table icsw-tab="tab"></icsw-asset-details-hardware-gpu-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Installed Network Devices(s)</span>
            </uib-tab-heading>
            <icsw-asset-details-hardware-nic-table icsw-tab="tab"></icsw-asset-details-hardware-nic-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>HDD & Partition Information</span>
            </uib-tab-heading>
            <icsw-asset-details-hardware-hdd-table icsw-tab="tab"></icsw-asset-details-hardware-hdd-table>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                <span>Displays</span>
            </uib-tab-heading>
            <icsw-asset-details-hardware-display-table icsw-tab="tab"></icsw-asset-details-hardware-display-table>
        </uib-tab>
    </uib-tabset>
</script>