<script type="text/ng-template" id="icsw/main/deploy/boot.html">
    <div ng-controller="icswDeviceBootCtrl">
        <icsw-device-boot-table></icsw-device-boot-table>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.boot.table">
    <h2>
        <span class="label label-danger" ng-show="conn_problems" title="number of connection problems">{{ conn_problems }}</span> Boot config for {{ devices.length }} devices<span ng-show="num_selected">, {{ num_selected }} selected</span>{{ get_global_bootserver_info() }}
    </h2>
    <form class="form-inline">
        <div class="btn-group">
            <input ng-repeat="entry in boot_options" type="button" ng-class="get_bo_class(entry[0])" value="{{ entry[1] }}" ng-click="toggle_bo(entry[0])"/>
        </div>
        <input class="form-control" ng-model="device_sel_filter" placeholder="selection..." ng-change="change_sel_filter()"/>
    </form>
    <table ng-show="devices.length" class="table table-condensed table-hover" style="width:auto;">
        <thead>
            <tr>
                <th>Group</th>
                <th>Device</th>
                <th class="center">sel</th>
                <th>state</th>
                <th>network</th>
                <th ng-repeat="entry in boot_options" ng-show="bo_enabled[entry[0]] && entry[2] < 3">
                    {{ entry[1] }}
                </th>
                <th ng-show="any_type_1_selected">
                    action
                </th>
                <th ng-show="any_type_3_selected">
                    log
                </th>
            </tr>
        </thead>
        <tbody>
            <tr icsw-device-boot-row ng-repeat-start="dev in devices" ng-class="get_row_class(dev)"></tr>
            <tr ng-repeat-end ng-show="bo_enabled['l'] && dev.show_log && dev.logs_set">
                <td colspan="100">
                    <icsw-device-boot-log-table device="dev"></icsw-device-boot-log-table>
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="devices.length > 1">
            <tr>
                <td colspan="2">Global actions</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <input type="button" class="btn btn-success" value="S" ng-click="toggle_gdev_sel(1)" title="select all devices"/>
                        <input type="button" class="btn btn-primary" value="T" ng-click="toggle_gdev_sel(0)" title="toggle device selection"/>
                        <input type="button" class="btn btn-warning" value="C" ng-click="toggle_gdev_sel(-1)" title="clear device selection"/>
                    </div>
                </td>
                <td></td>
                <td></td>
                <td ng-repeat="entry in type_1_options()" ng-show="bo_enabled[entry[0]]"></td>
                <td ng-show="bo_enabled['s']">
                    <div class="btn-group" ng-show="num_selected">
                        <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                            action ({{ num_selected }})<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="soft_control('', 'reboot')"><a>reboot</a></li>
                            <li ng-click="soft_control('', 'halt')"><a>halt</a></li>
                            <li ng-click="soft_control('', 'poweroff')"><a>poweroff</a></li>
                        </ul>
                    </div>
                </td>
                <td ng-show="bo_enabled['h']">
                    <div class="btn-group" ng-show="num_selected_hc()">
                        <button type="button" class="btn btn-xs btn-warning" data-toggle="dropdown">
                            control ({{ num_selected_hc() }}) <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="hard_control('', 'cycle')"><a>cycle</a></li>
                            <li ng-click="hard_control('', 'on')"><a>on</a></li>
                            <li ng-click="hard_control('', 'off')"><a>off</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <icsw-tools-button type="modify" size="xs" ng-show="num_selected && any_type_1_selected" value="modify many" ng-click="modify_many($event)"></icsw-tools-button>
                </td>
            </tr>
        </tfoot>
    </table>
    <form class="form-inline">
        <icsw-tools-button type="display" size="sm" value="macbootlog" ng-click="toggle_show_mbl()"></icsw-tools-button>
    </form>
    <div ng-show="show_mbl">
        <div class="row">
            <div class="col-md-6">
                <h4>Showing {{ mbl_entries.length }} Macbootlog entries</h4>
                <table class="table table-condensed table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>type</th>
                            <th>IP</th>
                            <th>MAC</th>
                            <th>Ignored</th>
                            <th>Logsource</th>
                            <th>created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mbl in mbl_entries" ng-class="{true: 'warning', false: ''}[mbl.ignore]">
                            <td>{{ mbl.device_name }}</td>
                            <td>{{ mbl.entry_type }}</td>
                            <td>{{ mbl.ip_action }}</td>
                            <td>{{ mbl.macaddr }}</td>
                            <td>{{ get_mac_ignored(mbl) }}</td>
                            <td style="white-space:nowrap;">{{ mbl.log_source | follow_fk:this:'log_source_lut':'name' }}</td>
                            <td>{{ get_mbl_created(mbl) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Showing {{ mbi_list.length }} unique MACs</h4>
                <table class="table table-condensed table-hover table-striped" style="width:auto;">
                    <thead>
                        <tr>
                            <th>MAC</th>
                            <th>ignored</th>
                            <th>usecount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mbl in mbi_list" ng-class="{true: 'warning', false: ''}[mbl.ignore]">
                            <td>{{ mbl.macaddr }}</td>
                            <td>{{ mbl.ignore && 'yes' || 'no' }}</td>
                            <td>{{ mbl.usecount }}</td>
                            <td>
                                <span ng-if="!mbl.ignore">
                                    <icsw-tools-button type="delete" size="xs" value="Ignore Macaddr" ng-click="modify_mbl(mbl, 'ignore')"></icsw-tools-button>
                                </span>
                                <span ng-if="mbl.ignore">
                                    <icsw-tools-button type="create" size="xs" value="Unignore Macaddr" ng-click="modify_mbl(mbl, 'unignore')"></icsw-tools-button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="icsw.device.boot.row">
    <td>{{ dev.device_group_name }}</td>
    <td ng-class="get_device_name_class(dev)">{{ dev.full_name }}{{ get_bootserver_info(dev) }}</td>
    <td class="center"><input type="button" ng-class="get_dev_sel_class(dev)" ng-click="toggle_dev_sel(dev, 0)" value="sel"></button></td>
    <td ng-class="dev.recvreq_state">{{ dev.recvreq_str }}</td>
    <td ng-class="dev.network_state">{{ dev.network }}</td>
    <td ng-repeat="entry in type_1_options()" ng-show="bo_enabled[entry[0]]" ng-class="get_td_class(entry)" ng-bind-html="show_boot_option(entry)">
    </td>
    <td ng-show="bo_enabled['s']">
        <div class="btn-group" ng-show="valid_net_state()">
            <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-click="soft_control(dev, 'reboot')"><a>reboot</a></li>
                <li ng-click="soft_control(dev, 'halt')"><a>halt</a></li>
                <li ng-click="soft_control(dev, 'poweroff')"><a>poweroff</a></li>
            </ul>
        </div>
        <span class='label label-danger' ng-show="!valid_net_state()"><span class='glyphicon glyphicon-ban-circle'></span></span>
    </td>
    <td ng-show="bo_enabled['h']">
        <div class="btn-group" ng-repeat="cd_con in dev.slave_connections">
            <button type="button" ng-class="get_hc_class(cd_con)" ng-disabled="get_hc_disabled(cd_con)" data-toggle="dropdown">
                {{ get_hc_info(cd_con) }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-click="hard_control(cd_con, 'cycle')"><a>cycle</a></li>
                <li ng-click="hard_control(cd_con, 'on')"><a>on</a></li>
                <li ng-click="hard_control(cd_con, 'off')"><a>off</a></li>
            </ul>
            <span ng-show="!$last">,</span>
        </div>
        <span ng-show="!dev.slave_connections">
            waiting...
        </span>
        <span ng-show="dev.slave_connections && dev.slave_connections.length == 0">
            ---
        </span>
    </td>
    <td ng-show="any_type_1_selected">
        <icsw-tools-button type="modify" size="xs" ng-click="modify_device(dev, $event)"></icsw-tools-button>
    </td>
    <td ng-show="any_type_3_selected">
        <form class="form-inline">
            <input ng-show="dev.logs_set" type="button" ng-class="get_devlog_class(dev)" ng-value="get_devlog_value(dev)" ng-click="change_devlog_flag(dev)"/>
            Number of log lines: {{ dev.num_logs }}, show
            <select ng-model="dev.num_show" class="form-control input-sm" ng-options="value as value for value in [5, 20, 50, 100]">
            </select>
        </form>
    </td>
</script>

<script type="text/ng-template" id="icsw.device.boot.log.table">
    <table class="table table-condensed table-hover table-striped" style="width:auto;">
        <tr>
            <th>Source</th>
            <th>User</th>
            <th>Status</th>
            <th>Message</th>
            <th colspan="2">when</th>
        </tr>
        <tr ng-repeat="line in get_log_lines()">
            <td style="white-space:nowrap;">{{ line.source }}</td>
            <td style="white-space:nowrap;">{{ line.user }}</td>
            <td style="white-space:nowrap;" ng-class="line.class">{{ line.log_level }}</td>
            <td ng-class="line.class">{{ line.text }}</td>
            <td style="white-space:nowrap;">{{ line.get_relative_date() }}</td>
            <td style="white-space:nowrap;">{{ line.abs_dt }}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="icsw.device.boot.form">
    <form class="form-horizontal" name="form_data">
        <div>
            <h2>Boot / DHCP settings for '{{ edit_obj.name }}'</h2>
            <fieldset>
                <legend>DHCP settings</legend>
                <div class="form-group">
                    <div class="checkbox">
                        <div class="controls col-lg-offset-0 col-sm-9">
                            <label>
                                <input class="checkboxinput checkbox" name="dhcp_mac" ng-model="edit_obj.dhcp_mac" type="checkbox"/>
                                Greedy flag
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <div class="controls col-lg-offset-0 col-sm-9">
                            <label>
                                <input class="checkboxinput checkbox" ng-model="edit_obj.dhcp_write" type="checkbox"/>
                                write DHCP address (when valid)
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>

<script type="text/ng-template" id="boot.single.form">
    <form id="form" class="form-horizontal" ng-submit="cur_edit.modify(this)" name="form">
        <h2>Device setting for {{ device_info_str }}</h2>
        <fieldset>
            <legend>basic settings</legend>
            <div ng-repeat="netstate in network_states" class="form-group" ng-show="bo_enabled['t']">
                <label class="control-label col-sm-4">
                    network {{ netstate.info }}
                </label>

                <div class="col-sm-7">
                    <ui-select ng-model="_edit_obj.target_state">
                        <ui-select-match class="ui-select-match" placeholder="target state">{{$select.selected.info}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in netstate.states">
                            <div ng-bind-html="value.info"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-show="bo_enabled['t']">
                <label class="control-label col-sm-4">
                    special state
                </label>

                <div class="col-sm-7">
                    <ui-select ng-model="_edit_obj.target_state">
                        <ui-select-match class="ui-select-match" placeholder="special target state">{{ $select.selected.info }}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in special_states">
                            <div ng-bind-html="value.info"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div id="div_id_new_kernel" class="form-group" ng_show="bo_enabled['k']">
                <label for="id_new_kernel" class="control-label col-sm-4">
                    New kernel
                </label>

                <div class="controls col-sm-7">
                    <ui-select ng-model="_edit_obj.new_kernel" style="max-width:400px; min-width:240px;" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="kernel">{{$select.selected.display_name}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in kernels| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.display_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div id="div_id_stage1_flavour" class="form-group" ng_show="bo_enabled['k']">
                <label for="id_stage1_flavour" class="control-label col-sm-4">
                    Stage1 flavour
                </label>

                <div class="controls col-sm-7">
                    <ui-select ng-model="_edit_obj.stage1_flavour" style="max-width:400px; min-width:240px;" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="stage1 flavour">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.val as value in stage1_flavours| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div id="div_id_kernel_append" class="form-group" ng_show="bo_enabled['k']">
                <label for="id_kernel_append" class="control-label col-sm-4">
                    Kernel append
                </label>

                <div class="controls col-sm-7"><input class="textinput textInput form-control" id="id_kernel_append" maxlength="384" name="kernel_append" ng-model="_edit_obj.kernel_append" type="text"></input></div>
            </div>
            <div id="div_id_new_image" class="form-group" ng_show="bo_enabled['i']">
                <label for="id_new_image" class="control-label col-sm-4">
                    New image
                </label>

                <div class="controls col-sm-7">
                    <ui-select ng-model="_edit_obj.new_image" style="max-width:400px; min-width:240px;" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="image">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in images| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div ng-show="!partitions.length" class="alert alert-danger">no valid partition tables found</div>
            <div id="div_id_partition_table" class="form-group" ng_show="bo_enabled['p'] &amp;&amp; partitions.length">
                <label for="id_partition_table" class="control-label col-sm-4">
                    Partition table
                </label>

                <div class="controls col-sm-7">
                    <ui-select ng-model="_edit_obj.partition_table" style="max-width:400px; min-width:240px;" ng-disabled="false">
                        <ui-select-match class="ui-select-match" placeholder="partition table">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="value.idx as value in partitions| props_filter:{name:$select.search}">
                            <div ng-bind-html="value.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>bootdevice settings</legend>
            <div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div id="div_id_dhcp_mac" class="checkbox" ng_show="bo_enabled['b']">
                            <div class="controls col-lg-offset-0 col-sm-7"><label for="id_dhcp_mac"><input class="checkboxinput checkbox" id="id_dhcp_mac" name="dhcp_mac" ng-model="_edit_obj.dhcp_mac" type="checkbox"></input>
                                Greedy
                            </label></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div id="div_id_dhcp_write" class="checkbox" ng_show="bo_enabled['b']">
                            <div class="controls col-lg-offset-0 col-sm-7"><label for="id_dhcp_write"><input class="checkboxinput checkbox" id="id_dhcp_write" name="dhcp_write" ng-model="_edit_obj.dhcp_write" type="checkbox"></input>
                                Dhcp write
                            </label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_id_macaddr" class="form-group" ng_show="bo_enabled['b'] &amp;&amp; _edit_obj.bootnetdevice">
                <label for="id_macaddr" class="control-label col-sm-4">
                    Macaddr
                </label>

                <div class="controls col-sm-7"><input class="textinput textInput form-control" id="id_macaddr" maxlength="177" name="macaddr" ng-model="_edit_obj.macaddr" type="text"></input></div>
            </div>
            <div id="div_id_driver" class="form-group" ng_show="bo_enabled['b'] &amp;&amp; _edit_obj.bootnetdevice">
                <label for="id_driver" class="control-label col-sm-4">
                    Driver
                </label>

                <div class="controls col-sm-7"><input class="textinput textInput form-control" id="id_driver" maxlength="384" name="driver" ng-model="_edit_obj.driver" type="text"></input></div>
            </div>
        </fieldset>
        <div class="form-actions"><input type="submit" name="submit" value="" class="btn btn-primary primaryAction" id="submit-id-submit" ng-value="action_string"></input></div>
    </form>
</script>

<script type="text/ng-template" id="boot.many.form">
    <form id="form" class="form-horizontal" ng-submit="cur_edit.modify(this)" name="form">
        <h2>Change boot settings of {{ device_info_str }}</h2>
        <fieldset class="row">
            <legend>target state</legend>
            <div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox" ng_show="bo_enabled['t']">
                            <div class="controls col-lg-offset-0 col-sm-7">
                                <label>
                                    <input class="checkboxinput checkbox" name="change_target_state" ng-model="_edit_obj.change_target_state" type="checkbox"/>
                                    target state
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div ng-repeat="netstate in network_states" class="row form-group" ng-show="bo_enabled['t'] && _edit_obj.change_target_state">
                        <label class="control-label col-sm-4">
                            network {{ netstate.info }}
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="_edit_obj.target_state">
                                <ui-select-match class="ui-select-match" placeholder="target state">
                                    {{ $select.selected.info }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in netstate.states">
                                    <div ng-bind-html="value.info"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row form-group" ng-show="bo_enabled['t'] && _edit_obj.change_target_state">
                        <label class="control-label col-sm-4">
                            special state
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="_edit_obj.target_state">
                                <ui-select-match class="ui-select-match" placeholder="special target state">
                                    {{ $select.selected.info }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in special_states">
                                    <div ng-bind-html="value.info"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>settings</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox" ng_show="bo_enabled['k']">
                            <div class="controls col-lg-offset-0 col-sm-7">
                                <label>
                                    <input class="checkboxinput checkbox" name="change_new_kernel" ng-model="_edit_obj.change_new_kernel" type="checkbox"/>
                                    kernel
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group" ng_show="_edit_obj.change_new_kernel && bo_enabled['k']">
                        <label class="control-label col-sm-4">
                            New kernel
                        </label>
                        <div class="controls col-sm-7">
                            <ui-select ng-model="_edit_obj.new_kernel" style="max-width:400px; min-width:240px;" ng-disabled="false">
                                <ui-select-match class="ui-select-match" placeholder="kernel">
                                    {{ $select.selected.display_name }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in kernels| props_filter:{name:$select.search}">
                                    <div ng-bind-html="value.display_name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="form-group" ng_show="_edit_obj.change_new_kernel &amp;&amp; bo_enabled['k']">
                        <label class="control-label col-sm-4">
                            Stage1 flavour
                        </label>
                        <div class="controls col-sm-7">
                            <ui-select ng-model="_edit_obj.stage1_flavour" style="max-width:400px; min-width:240px;" ng-disabled="false">
                                <ui-select-match class="ui-select-match" placeholder="stage1 flavour">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.val as value in stage1_flavours| props_filter:{name:$select.search}">
                                    <div ng-bind-html="value.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="form-group" ng_show="_edit_obj.change_new_kernel &amp;&amp; bo_enabled['k']">
                        <label class="control-label col-sm-4">
                            Kernel append
                        </label>
                        <div class="controls col-sm-7">
                            <input class="textinput textInput form-control" maxlength="384" name="kernel_append" ng-model="_edit_obj.kernel_append" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox" ng_show="bo_enabled['i']">
                            <div class="controls col-lg-offset-0 col-sm-7">
                                <label>
                                    <input class="checkboxinput checkbox" name="change_new_image" ng-model="_edit_obj.change_new_image" type="checkbox"/>
                                    image
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="div_id_new_image" class="form-group" ng_show="_edit_obj.change_new_image &amp;&amp; bo_enabled['i']">
                        <label for="id_new_image" class="control-label col-sm-4">
                            New image
                        </label>

                        <div class="controls col-sm-7">
                            <ui-select ng-model="_edit_obj.new_image" style="max-width:400px; min-width:240px;" ng-disabled="false">
                                <ui-select-match class="ui-select-match" placeholder="image">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in images| props_filter:{name:$select.search}">
                                    <div ng-bind-html="value.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="div_id_change_partition_table" class="checkbox" ng_show="bo_enabled['p']">
                            <div class="controls col-lg-offset-0 col-sm-7"><label for="id_change_partition_table"><input class="checkboxinput checkbox" id="id_change_partition_table" name="change_partition_table" ng-model="_edit_obj.change_partition_table" type="checkbox"></input>
                                partition
                            </label></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="div_id_partition_table" class="form-group" ng_show="_edit_obj.change_partition_table &amp;&amp; bo_enabled['p']">
                        <label for="id_partition_table" class="control-label col-sm-4">
                            Partition table
                        </label>

                        <div class="controls col-sm-7">
                            <ui-select ng-model="_edit_obj.partition_table" style="max-width:400px; min-width:240px;" ng-disabled="false">
                                <ui-select-match class="ui-select-match" placeholder="partition table">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in partitions| props_filter:{name:$select.search}">
                                    <div ng-bind-html="value.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="div_id_change_dhcp_mac" class="checkbox" ng_show="bo_enabled['b']">
                            <div class="controls col-lg-offset-0 col-sm-7"><label for="id_change_dhcp_mac"><input class="checkboxinput checkbox" id="id_change_dhcp_mac" name="change_dhcp_mac" ng-model="_edit_obj.change_dhcp_mac" type="checkbox"></input>
                                bootdevice
                            </label></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div id="div_id_dhcp_mac" class="checkbox" ng_show="_edit_obj.change_dhcp_mac &amp;&amp; bo_enabled['b']">
                            <div class="controls col-lg-offset-0 col-sm-7"><label for="id_dhcp_mac"><input class="checkboxinput checkbox" id="id_dhcp_mac" name="dhcp_mac" ng-model="_edit_obj.dhcp_mac" type="checkbox"></input>
                                Greedy
                            </label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div id="div_id_dhcp_write" class="checkbox" ng_show="_edit_obj.change_dhcp_mac &amp;&amp; bo_enabled['b']">
                            <div class="controls col-lg-offset-0 col-sm-7"><label for="id_dhcp_write"><input class="checkboxinput checkbox" id="id_dhcp_write" name="dhcp_write" ng-model="_edit_obj.dhcp_write" type="checkbox"></input>
                                Dhcp write
                            </label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div id="div_id_macaddr" class="form-group" ng_show="_edit_obj.change_dhcp_mac &amp;&amp; bo_enabled['b']">
                        <label for="id_macaddr" class="control-label col-sm-4">
                            Macaddr
                        </label>

                        <div class="controls col-sm-7"><input class="textinput textInput form-control" id="id_macaddr" maxlength="177" name="macaddr" ng-model="_edit_obj.macaddr" type="text"></input></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div id="div_id_driver" class="form-group" ng_show="_edit_obj.change_dhcp_mac &amp;&amp; bo_enabled['b']">
                        <label for="id_driver" class="control-label col-sm-4">
                            Driver
                        </label>

                        <div class="controls col-sm-7"><input class="textinput textInput form-control" id="id_driver" maxlength="384" name="driver" ng-model="_edit_obj.driver" type="text"></input></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-actions"><input type="submit" name="submit" value="Modify many" class="btn btn-primary primaryAction" id="submit-id-submit"></input></div>
    </form>
</script>

