<script type="text/ng-template" id="icsw.device.create.icon.template">
    <a>
        <img ng-src="{{ match.label.data_image }}" width="16"/>
        {{ match.label.name }}
    </a>
</script>

<script type="text/ng-template" id="icsw.device.create.mask">
    <h3>Create a new device</h3>
    <form class="form-horizontal" name="baseForm" novalidate ng-controller="form_ctrl">
        <accordion ng-cloack close-others="false">
            <accordion-group heading="Base data" is-open="base_open">
                <!-- {{ baseForm || json }} {{baseForm.$valid}} -->
                <div class="form-group">
                    <label class="control-label col-md-5">Fully qualified device name</label>
                    <div class="controls col-md-6" ng-class="baseForm.full_name.$invalid && 'has-error'">
                        <input name="full_name" class="form-control" ng-model="device_data.full_name" required ng-pattern="/^[a-zA-Z0-9\.\-_]+$/" placeholder="device name" ng-blur="device_name_changed()"/>
                        <span ng-show="baseForm.full_name.$invalid" class="text-danger">
                            Need name without any special characters or whitespace (for instance 'server.my.domain')
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">Devicegroup</label>
                    <div class="controls col-md-6" ng-class="baseForm.device_group.$invalid && 'has-error'">
                        <input
                            type="text"
                            name="device_group"
                            class="form-control"
                            ng-model="device_data.device_group" required ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-_]*$/"
                            typeahead="value for value in device_groups() | filter:$viewValue"
                            ng-change="new_dg()"
                        />
                        <span ng-show="baseForm.device_group.$invalid" class="text-danger">
                            Please enter a valid device group name (no spaces or dots allowed)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">IP Address</label>
                    <div class="controls col-md-6" ng-class="baseForm.ip.$invalid && 'has-error'">
                        <div class="form-inline">
                            <input name="ip" class="form-control" ng-model="device_data.ip" required ng-pattern="/^(\d+)\.(\d+)\.(\d)+\.(\d+)$/" placeholder="IP Address"/>
                            <button class="btn btn-primary btn-sm" ng-show="!resolve_pending && device_data.full_name" ng-click="resolve_name()">Resolve</button>
                            <span ng-show="resolve_pending" class="glyphicon glyphicon-refresh"></span>
                        </div>
                        <span ng-show="baseForm.ip.$invalid" class="text-danger">
                            Please enter a valid IP address
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-show="rest_data.mon_ext_host">
                    <label class="control-label col-md-5">Icon</label>
                    <div class="controls col-md-6">
                        <div class="form-inline">
                            <img ng-src="{{ get_image_src() }}" width="16"/>
                            <input
                                type="text"
                                name="icon"
                                class="form-control"
                                ng-model="device_data.icon_name"
                                typeahead="value.name as value for value in rest_data.mon_ext_host | filter:{name:$viewValue}"
                                typeahead-template-url="icsw.device.create.icon.template"
                                typeahead-append-to-body="true"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">Monitor host via</label>
                    <div class="controls col-md-6">
                        <div class="btn-group btn-sn">
                            <button ng-class="device_data.resolve_via_ip && 'btn btn-success' || 'btn'" ng-click="device_data.resolve_via_ip=true">IP</button>
                            <button ng-class="device_data.resolve_via_ip && 'btn' || 'btn btn-success'" ng-click="device_data.resolve_via_ip=false">Name</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">is routing capable (switch, firewall)</label>
                    <div class="controls col-md-6">
                        <div class="btn-group btn-sn">
                            <button ng-class="device_data.routing_capable && 'btn btn-success' || 'btn'" ng-click="device_data.routing_capable=true">yes</button>
                            <button ng-class="device_data.routing_capable && 'btn' || 'btn btn-success'" ng-click="device_data.routing_capable=false">no</button>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="any_peers()">
                    <label class="control-label col-md-5">Connect to</label>
                    <div class="controls col-md-6">
                        <select name="peer" class="form-control" ng-model="device_data.peer" ng-options="value.idx as value.info group by value.device_group_name for value in all_peers"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5">Comment</label>
                    <div class="controls col-md-6" ng-class="baseForm.comment.$invalid && 'has-error'">
                        <input name="comment" class="form-control" ng-model="device_data.comment"/>
                    </div>
                </div>
            </accordion-group>
            <accordion-group heading="Optional data">
            </accordion-group>
        </accordion>
        <input type="button" class="btn btn-sm btn-success" ng-show="baseForm.$valid" value="create device" ng-click="create_device()"/>
    </form>
</script>
