<script type="text/ng-template" id="icsw/main/device/create.html">
    <icsw-device-create-mask ng-cloak></icsw-device-create-mask>
</script>

<script type="text/ng-template" id="icsw.device.create.mask">
    <div class="container-fluid" ng-if="struct.data_ready">
        <h3 ng-show="struct.bulk_create_mode == false">Add a new Device</h3>
        <h3 ng-show="struct.bulk_create_mode == true">Create Device {{ struct.bulk_create_current_device }} / {{ struct.bulk_create_total_devices }}</h3>
        <form class="form-horizontal" name="form_data" novalidate>
            <uib-accordion ng-cloak close-others="false">
                <div uib-accordion-group class="panel-default" heading="Base Data" is-open="struct.base_open">
                    <!-- {{ form_data || json }} {{form_data.$valid}} -->
                    <div class="form-group row">
                        <label class="control-label col-md-3 icsw-formlabel">
                            Fully qualified device name
                        </label>
                        <div class="controls col-md-6" ng-class="form_data.full_name.$invalid && 'has-error'">
                            <input
                                name="full_name"
                                class="form-control maxwidth500"
                                ng-model="device_data.full_name"
                                required ng-pattern="/^[a-zA-Z0-9\.\-_]+$/"
                                placeholder="device name"
                                ng-change="device_name_changed()"
                                ng-model-options="{debounce: {default: 200, blur: 0}}"
                            />
                            <span ng-show="form_data.full_name.$invalid" class="text-danger">
                                Need name without any special characters or whitespace (for instance 'server.my.domain')
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 icsw-formlabel">Similar named Devices</label>
                        <div class="controls col-md-6">
                            <h4 ng-show="struct.matching_names_found == 0" class="text-danger">
                                None found<span ng-show="struct.same_search_pending">, checking...</span>
                            </h4>
                            <div ng-show="struct.matching_names_found > 0">
                                <h4>
                                    <span ng-show="struct.same_search_pending">, checking...</span>
                                    {{ struct.matching_names_found }} matching Devices found, showing the best {{ struct.matching_names.length }} matches:
                                </h4>
                                <table
                                    class="table table-condensed table-hover"
                                >
                                    <thead>
                                        <tr>
                                            <th>Idx</th>
                                            <th>Type</th></t>
                                            <th>Full Name</th>
                                            <th>Short Name</th>
                                            <th>Devicegroup</th>
                                            <th>Similarity</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            ng-repeat="entry in struct.matching_names"
                                            ng-class="entry.$$tr_class"
                                        >
                                            <td><code>{{ $index + 1 }}</code></td>
                                            <td>
                                                <span ng-show="entry.full" class="label label-primary">Full</span>
                                                <span ng-show="!entry.full" class="label label-success">Short</span>
                                            </td>
                                            <td>
                                                <button
                                                    type="button"
                                                    class="btn btn-xs btn-primary"
                                                    ng-click="show_device($event, entry.idx)"
                                                >
                                                    {{ entry.full_name }}
                                                </button>
                                            </td>
                                            <td>
                                                {{ entry.short_name }}
                                            </td>
                                            <td>{{ entry.device_group_name }}</td>
                                            <td class="text-center">
                                                {{ entry.full_ratio | number: 1 }} % /
                                                {{ entry.short_ratio | number: 1 }} %
                                            </td>
                                            <td>
                                                <span class="label label-success" ng-show="entry.enabled">enabled</span>
                                                <span class="label label-warning" ng-show="!entry.enabled">disabled</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 icsw-formlabel">Device Group</label>
                        <div class="controls col-md-6" ng-class="form_data.device_group.$invalid && 'has-error'">
                            <ui-select ng-model="device_data.device_group" ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-_]*$/" required class="maxwidth500">
                                <ui-select-match class="ui-select-match" placeholder="please select a group from the list, or enter a new name to create a group">
                                    {{ $select.selected }}
                                </ui-select-match>
                                <ui-select-choices repeat="group in get_group_names($select.search) | filter: $select.search">
                                    <div ng-bind="group"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-show="device_data.device_group == undefined" class="text-danger">
                                Please enter a valid device group name (no spaces or dots allowed)
                            </span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 icsw-formlabel">IP Address</label>
                        <div class="controls col-md-6" ng-class="form_data.ip.$invalid && 'has-error'">
                            <div class="form-inline">
                                <input
                                    name="ip"
                                    class="form-control"
                                    ng-model="device_data.ip"
                                    required ng-pattern="/^(\d+)\.(\d+)\.(\d)+\.(\d+)$/"
                                    placeholder="IP Address"
                                    ng-change="fix_ip_address($event)"
                                />
                                <button class="btn btn-success" ng-show="!struct.ip_fixed" ng-click="fix_ip_address($event)">Fix</button>
                                <button class="btn btn-primary" ng-show="!resolve_pending && device_data.full_name" ng-click="resolve_name()">Resolve</button>
                                <span ng-show="resolve_pending" class="glyphicon glyphicon-refresh"></span>
                            </div>
                            <span ng-show="form_data.ip.$invalid" class="text-danger">
                                Please enter a valid IP address
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 icsw-formlabel">MAC Address</label>
                        <div class="controls col-md-6" ng-class="form_data.mac.$invalid && 'has-error'">
                            <div class="form-inline">
                                <input name="mac" class="form-control" ng-model="device_data.mac" required ng-pattern="/^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$/"/>
                            </div>
                            <span ng-show="form_data.mac.$invalid" class="text-danger">
                                Please enter a valid MAC Address
                            </span>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="struct.any_images_found">
                        <label class="control-label col-md-3 icsw-formlabel">Icon</label>
                        <div class="form-inline col-md-6">
                            <!-- <a href="#" class="thumbnail"> -->
                                <img ng-src="{{ struct.img_url }}" width="16"/>
                            <!-- </a> -->
                            <input
                                type="text"
                                name="icon"
                                class="form-control"
                                ng-model="device_data.icon_name"
                                uib-typeahead="value as value.name for value in struct.mon_ext_host | filter:{name:$viewValue}"
                                typeahead-template-url="icsw.device.create.icon.template"
                                uib-typeahead-append-to-body="true"
                                typeahead-on-select="on_icon_select($item, $model, $label)"
                            />
                        </div>
                        <div class="col-md-3"></div>
                        <div class="controls col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-1 col-xs-1" ng-repeat="entry in struct.mon_ext_host">
                                    <a href="" class="thumbnail" ng-click="select_image($event, entry)">
                                        <img ng-src="{{ entry.data_image }}" width="32"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 icsw-formlabel">Monitor host via</label>
                        <div class="controls col-md-6">
                            <div class="btn-group btn-sn">
                                <button ng-class="device_data.resolve_via_ip && 'btn btn-success' || 'btn btn-default'" ng-click="device_data.resolve_via_ip=true">IP</button>
                                <button ng-class="device_data.resolve_via_ip && 'btn btn-default' || 'btn btn-success'" ng-click="device_data.resolve_via_ip=false">Name</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 icsw-formlabel">Is routing capable (switch, firewall, ...)</label>
                        <div class="controls col-md-6">
                            <div class="btn-group btn-sn">
                                <icsw-tools-yes-no flag="device_data.routing_capable"></icsw-tools-yes-no>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="struct.peer_tree.peer_list.length">
                        <label class="control-label col-md-3 icsw-formlabel">Connect to</label>
                        <div class="controls col-md-6">
                            <ui-select ng-model="device_data.peer" class="maxwidth500">
                                <ui-select-match class="ui-select-match" placeholder="Please select a valid peer">
                                    {{ $select.selected.full_name }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in struct.peer_tree.peer_list | props_filter:{full_name:$select.search}">
                                    <div ng-bind-html="value.full_name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 icsw-formlabel">Comment</label>
                        <div class="controls col-md-6" ng-class="form_data.comment.$invalid && 'has-error'">
                            <textarea name="comment" class="form-control maxwidth500" ng-model="device_data.comment"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 icsw-formlabel">Device Selection</label>
                        <div class="controls col-md-6">
                            <ui-select ng-model="device_data.dev_selection" class="maxwidth500">
                                <ui-select-match class="ui-select-match" placeholder="Please select">
                                    {{ $select.selected.value }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="option in struct.dev_sel_list | props_filter:{key:$select.search} track by option.key">
                                    <div ng-bind-html="option.value | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls icsw-buttoncol" ng-class="struct.form_valid && 'has-error'">
                            <icsw-tools-button type="create" icsw-disabled="form_data.$invalid" value="create Device" ng-click="create_device($event)"/>
                            <icsw-tools-button type="create" icsw-disabled="form_data.$invalid" value="create Device and edit" ng-click="create_device_and_edit($event)"/>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </form>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.create.icon.template">
    <a>
        <img ng-src="{{ match.model.data_image }}" width="16"/>
        {{ match.model.name }}
    </a>
</script>
