<script type="text/ng-template" id="icsw.device.info">
    <uib-tabset>
        <uib-tab select="activate('general')" active="general_active">
            <uib-tab-heading>
                General
            </uib-tab-heading>
            <icsw-simple-device-info icsw-sel-man="{{ popupmode }}" icsw-device-list="devicelist"></icsw-simple-device-info>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_network') && dev_pk_nmd_list.length" select="activate('network')" active="network_active">
            <uib-tab-heading>
                Network{{ addon_text_nmd }}
            </uib-tab-heading>
            <icsw-device-network-overview icsw-sel-man="{{ popupmode }}" icsw-device-list="dev_list['network']"></icsw-device-network-overview>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_config')" select="activate('config')" active="config_active">
            <uib-tab-heading>
                Config{{ addon_text }}
            </uib-tab-heading>
            <icsw-device-configuration-overview icsw-sel-man="{{ popupmode }}" icsw-device-list="dev_list['config']">
            </icsw-device-configuration-overview>
            <!-- only valid for corvus -->
            <icsw-device-configuration-var-overview icsw-sel-man="{{ popupmode }}" icsw-device-list="dev_list['config']">
            </icsw-device-configuration-var-overview>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_variables')" select="activate('device_variable')" active="device_variable_active">
            <uib-tab-heading>
                Device Variable{{ addon_text }}
            </uib-tab-heading>
            <icsw-device-variable-overview icsw-sel-man="{{ popupmode }}" icsw-device-list="dev_list['device_variable']">
            </icsw-device-variable-overview>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.device.info.old">
    <uib-tabset>
        <uib-tab select="activate('general')" active="general_active">
            <uib-tab-heading>
                General
            </uib-tab-heading>
            <icsw-simple-device-info icsw-sel-man="{{ popupmode }}" devicepklist="devicepklist"></icsw-simple-device-info>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_network') && dev_pk_nmd_list.length" select="activate('network')" active="network_active">
            <uib-tab-heading>
                Network{{ addon_text_nmd }}
            </uib-tab-heading>
            <icsw-device-network-overview icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['network']">
            </icsw-device-network-overview>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_config')" select="activate('config')" active="config_active">
            <uib-tab-heading>
                Config{{ addon_text }}
            </uib-tab-heading>
            <icsw-device-configuration-overview icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['config']">
            </icsw-device-configuration-overview>
            <!-- only valid for corvus -->
            <icsw-device-configuration-var-overview icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['config']">
            </icsw-device-configuration-var-overview>
        </uib-tab>
         <uib-tab ng-if="acl_read(null, 'backbone.device.change_category') && dev_pk_nmd_list.length" select="activate('category')" active="category_active">
            <uib-tab-heading>
                Category{{ addon_text_nmd }}
            </uib-tab-heading>

            <icsw-device-category-overview icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['category']">
            </icsw-device-category-overview>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.show_status_history') && has_valid_license('reporting')" select="activate('status_history')" active="status_history_active">
            <uib-tab-heading>
                Status History{{ addon_text_nmd }}
            </uib-tab-heading>
            <div ng-controller="icswDeviceStatusHistoryCtrl">
                <icsw-device-status-history-overview icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['status_history']">
                </icsw-device-status-history-overview>
            </div>
        </uib-tab>
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_variables')" select="activate('device_variable')" active="device_variable_active">
            <uib-tab-heading>
                Device Variable{{ addon_text }}
            </uib-tab-heading>
            <icsw-device-variable-overview icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['device_variable']">
            </icsw-device-variable-overview>
        </uib-tab>
        <!-- also check for md-config-server in service list -->
        <uib-tab ng-if="acl_read(null, 'backbone.device.change_monitoring') && dev_pk_nmd_list.length && has_valid_license('monitoring_dashboard')"
             select="activate('livestatus')" active="livestatus_active">
            <uib-tab-heading>
                Livestatus{{ addon_text_nmd }}
            </uib-tab-heading>
            <icsw-device-livestatus icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['livestatus']">
            </icsw-device-livestatus>
        </uib-tab>
        <!-- also check for grapher in service list -->
        <uib-tab ng-if="acl_read(null, 'backbone.device.show_graphs') && has_valid_license('graphing')" select="activate('graphing')" active="graphing_active">
            <uib-tab-heading>
                Graph{{ addon_text }}
            </uib-tab-heading>
            <icsw-rrd-graph icsw-sel-man="{{ popupmode }}" devicepklist="pk_list['graphing']">
            </icsw-rrd-graph>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="icsw.deviceempty.info.form">
    <h2>Details</h2>
    <alert type="warning" style="max-width:500px;">No devices selected</alert>
</script>

<script type="text/ng-template" id="icsw.device.info.form">
    <form class="form-horizontal" ng-submit="modify()" name="form">
        <div>
            <h2>Details for '{{ get_full_name() }}'
                <img ng-if="edit_obj.mon_ext_host" ng-src="{{ get_image_src() }}" width="16"></img>
            </h2>
            <fieldset>
                <legend>Basic settings</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Name<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-9">
                        <input class="textinput textInput form-control" maxlength="192" ng-model="edit_obj.name" required="True" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Domain tree node<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-9">
                        <ui-select ng-model="edit_obj.domain_tree_node" style="max-width:400px; min-width:240px;">
                            <ui-select-match class="ui-select-match" placeholder="Select a domain tree node for this device">
                                {{ $select.selected.tree_info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in domain_tree.list | props_filter:{tree_info:$select.search}">
                                <div ng-bind-html="value.tree_info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        DeviceGroup<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-9">
                        <ui-select ng-model="edit_obj.device_group" style="max-width:400px; min-width:240px;">
                            <ui-select-match class="ui-select-match" placeholder="Select a DeviceGroup for this device">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in dev_tree.group_list | filter:dev_tree.ignore_cdg | props_filter:{name:$select.search}">
                                <div ng-bind-html="value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Comment
                    </label>
                    <div class="controls col-sm-9">
                        <input class="textinput textInput form-control" maxlength="384" ng-model="edit_obj.comment" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Alias
                    </label>
                    <div class="controls col-sm-9">
                        <input class="textinput textInput form-control" maxlength="384"  ng-model="edit_obj.alias" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        ComCapabilities
                    </label>
                    <div class="col-sm-9 form-control-static">
                        <icsw-device-com-capabilities device="edit_obj" detail="1"></icsw-device-com-capabilities>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        IP Info
                    </label>
                    <div class="col-sm-9 form-control-static">
                        {{ get_ip_info() }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        SNMP scheme
                    </label>
                    <div class="col-sm-9 form-control-static">
                        {{ get_snmp_scheme_info() }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        SNMP Info
                    </label>
                    <div class="col-sm-9 form-control-static">
                        {{ get_snmp_info() }}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Monitor settings</legend>
                <div class="form-group" ng_show="mon_device_templ_list">
                    <label class="control-label col-sm-3">
                        Mon device templ
                    </label>

                    <div class="controls col-sm-9">
                        <div class="input-group" style="max-width:400px; min-width:240px;">
                            <ui-select ng-model="edit_obj.mon_device_templ" ng-disabled="false">
                                <ui-select-match class="ui-select-match" placeholder="Select a monitoring device template for this device">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="value.idx as value in monitoring_tree.mon_device_templ_list| props_filter:{name:$select.search}">
                                    <div ng-bind-html="value.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="edit_obj.mon_device_templ = undefined" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"/>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Monitoring hints
                    </label>
                    <div class="col-sm-9 form-control-static">
                        {{ get_monitoring_hint_info() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-9 control-label">
                                <label>Monitoringchecks enabled</label>
                            </div>
                            <div class="col-md-3 controls">
                                <icsw-tools-yes-no flag="edit_obj.monitor_checks"></icsw-tools-yes-no>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 control-label">
                                <label>Enable perfdata, check IPMI and SNMP</label>
                            </div>
                            <div class="col-md-3 controls">
                                <icsw-tools-yes-no flag="edit_obj.enable_perfdata"></icsw-tools-yes-no>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-9 control-label">
                                <label>Flap detection enabled</label>
                            </div>
                            <div class="col-md-3 controls">
                                <icsw-tools-yes-no flag="edit_obj.flap_detection_enabled"></icsw-tools-yes-no>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 control-label">
                                <label>Resolve to IP for monitoring</label>
                            </div>
                            <div class="col-md-3 controls">
                                <icsw-tools-yes-no flag="edit_obj.mon_resolve_name"></icsw-tools-yes-no>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>RRD / graph settings</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-9 control-label">
                                <label>Store RRD data</label>
                            </div>
                            <div class="col-md-3 controls">
                                <icsw-tools-yes-no flag="edit_obj.store_rrd_data"></icsw-tools-yes-no>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Info</legend>
                <div class="row">
                    <div class="col-md-6">
                        <input type="button" value="UUID info" class="btn btn-info" ng-click="toggle_uuid()"></input>
                    </div>
                    <div>
                        <icsw-tools-button type="modify" button-type="submit" ng-show="acl_modify(edit_obj, 'backbone.device.change_basic')"></icsw-tools-button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div ng-show="show_uuid">
            <h4>Copy the following snippet to <code>/opt/cluster/etc/cstores.d/icsw.device_config.xml</code> :</h4>
            <pre><code>&lt;?xml version='1.0' encoding='ASCII'?&gt;
&lt;config-store name="icsw.device"&gt;
&lt;key-list&gt;
&lt;key type="str" name="cluster.device.uuid"&gt;urn:uuid:{{ edit_obj.uuid }}&lt;/key&gt;
&lt;/key-list&gt;
&lt;/config-store&gt;
</code></pre>
            <h4>and restart host-monitoring with <code>icsw service restart host-monitoring</code></h4>
        </div>
    </form>
</script>

<script type="text/ng-template" id="icsw.devicegroup.info.form">
    <form class="form-horizontal" ng-submit="modify()" name="form">
        <div>
            <h2>Details for Group '{{ edit_obj.name }}'</h2>
            <fieldset>
                <legend>Basic settings</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Name<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-9">
                        <input class="textinput textInput form-control" maxlength="192" ng-model="edit_obj.name" required="True" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Domain tree node<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-9">
                        <ui-select ng-model="edit_obj.domain_tree_node" style="max-width:400px; min-width:240px;">
                            <ui-select-match class="ui-select-match" placeholder="Select a domain tree node for this device">
                                {{ $select.selected.tree_info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in domain_tree.list | props_filter:{tree_info:$select.search}">
                                <div ng-bind-html="value.tree_info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Description
                    </label>
                    <div class="controls col-sm-9">
                        <input class="textinput textInput form-control" maxlength="384" ng-model="edit_obj.description" type="text"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Info</legend>
                <div class="row">
                    <div>
                        <icsw-tools-button type="modify" button-type="submit" ng-show="acl_modify(_edit_obj, 'backbone.device.change_basic')"></icsw-tools-button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>
