<script type="text/ng-template" id="icsw.device.livestatus.overview">
    <h3>
        <icsw-device-livestatus-filter ls-filter="ls_filter"></icsw-device-livestatus-filter>
    </h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>show:</label>
                <div class="btn-group">
                    <input type="button" class="btn btn-xs" ng-class="cat_tree_show && 'btn-success' || 'btn-default'" ng-click="cat_tree_show=!cat_tree_show" value="categories"/>
                    <input type="button" class="btn btn-xs" ng-class="burst_show && 'btn-success' || 'btn-default'" ng-click="burst_show=!burst_show" value="burst"/>
                    <input type="button" class="btn btn-xs" ng-class="map_show && 'btn-success' || 'btn-default'" ng-click="map_show=!map_show" value="map"/>
                    <input type="button" class="btn btn-xs" ng-class="table_show && 'btn-success' || 'btn-default'" ng-click="table_show=!table_show" value="table"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3">
            <icsw-device-livestatus-cat-tree ls-filter="ls_filter" ng-show="cat_tree_show"></icsw-device-livestatus-cat-tree>
        </div>
        <div class="col-md-4 col-xs-12 col-lg-3">
            <div icsw-device-livestatus-fullburst icsw-element-size="size" ls-devsel="ls_devsel" ls-filter="ls_filter" ng_show="burst_show"></div>
        </div>
        <div class="col-md-4 col-xs-12 col-lg-3">
            <div icsw-device-livestatus-maplist ls-devsel="ls_devsel" ls-filter="ls_filter" ng_show="map_show"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3">
            <icsw-tools-rest-table target-list="service_entries" config-service="icswDeviceLivestatusTableService">
                {{ filtered_entries.length }}
                <table st-table="entries_displayed" st-safe-src="filtered_entries" class="table table-condensed table-hover table-striped" style="font-size:100%;width:auto;" ng-show="table_show">
                    <thead>
                        <tr>
                            <td colspan="99">
                                <div class="form-inline">
                                    <div icsw-tools-pagination st-items-by-page="20" possible-items-by-page="20,50,100,200,500,1000"></div>
                                    <input placeholder="filter..." st-search="output" class="form-control input-sm" type="search">
                                    </input>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <icsw-tools-show-hide-columns ng-show="table_show" columns="state state_type flags description cats output"></icsw-tools-show-hide-columns>
                            </td>
                        </tr>
                        <tr>
                            <th st-sort="host_name" st-sort-default="true">device</th>
                            <th ng-show="show_column.state" st-sort="state">state</th>
                            <th ng-show="show_column.flags">flags</th>
                            <th ng-show="show_column.description" st-sort="description">description</th>
                            <th ng-show="show_column.cats">categories</th>
                            <th st-sort="last_check">last check</th>
                            <th st-sort="last_state_change">last change</th>
                            <th ng-show="show_column.output" st-sort="plugin_output">result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr icsw-device-livestatus-check-service show-column="show_column" service="entry" ls-filter="ls_filter" ng-repeat="entry in entries_displayed">
                        </tr>
                    </tbody>
                </table>
            </icsw-tools-rest-table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.location.map">
    <h4>{{ loc_gfx.name }}<span ng-show="loc_gfx.comment"> ({{ loc_gfx.comment }})</span></h4>
    <svg icsw-svg-set-viewbox="loc_gfx" ng-show="loc_gfx" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}" preserveAspectRatio="xMidYMid meet">
        <g>
            <image
                xlink:href="{{ loc_gfx.image_url }}"
                ng-attr-width="{{ loc_gfx.width }}"
                ng-attr-height="{{ loc_gfx.height }}"
            >
            </image>
            <polyline icsw-svg-borderpoints="loc_gfx" style="fill:none; stroke:black; stroke-width:3;"></polyline>
            <icsw-device-livestatus-device-node dml="dml" ls-filter="ls_filter" ng-repeat="dml in loc_gfx.dml_list">
            </icsw-device-livestatus-device-node>
            <!--<g>
                <defs>
                    <linearGradient id="MyGradient">
                        <stop offset="0%" stop-color="#ff6000" />
                        <stop offset="100%" stop-color="#00ff0f" />
                    </linearGradient>
                    <marker id='start' orient='auto' markerWidth='30' markerHeight='30'
                        refX='15' refY='15'
                        markerUnits="userSpaceOnUse"
                    >
                        <path d='M0,0 L30,15 L0,30 Z' fill="#00ff0f"/>
                    </marker>
                    <marker id='starts' orient='auto' markerWidth='30' markerHeight='30'
                        refX='15' refY='15'
                        markerUnits="userSpaceOnUse"
                    >
                        <path d='M0,0 L30,15 L0,30 Z' fill="none" stroke="black" stroke-width="2"/>
                    </marker>
                </defs>
                <path
                    d="M10,20 S 200,100 300,300"
                    marker-end="url(#starts)"
                    stroke="black"
                    stroke-width="12"
                    stroke-linecap="round""
                    fill="none"
                />
                <path
                    d="M10,20 S 200,100 300,300"
                    marker-end="url(#start)"
                    stroke="url(#MyGradient)"
                    stroke-width="10"
                    stroke-linecap="round"
                    fill="none"
                />
                <g transform="translate(100,100)">
                    <rect x="-20" y="-10" width="40" height="20"
                        fill="none" stroke="black" stroke-width="2">
                    </rect>
                    <rect x="-20" y="-10" width="40" height="20"
                        fill="white">
                    </rect>
                    <text
                        text-anchor="middle"
                        alignment-baseline="middle"
                        fill="black"
                    >
                    in/out
                    </text>
                </g>
            </g>-->
        </g>
    </svg>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.device.node">
    <g ng-attr-transform="{{ transform }}" ng-switch="data_source">
        <newburst
            ls-filter="ls_filter"
            device-pk="dml.device"
            innerradius="20"
            outerradius="50"
            showname="1"
            fontstroke="1"
            draw-all="1"
            zoom-level="d"
            noninteractive="true"
        ></newburst>
    </g>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.fullburst">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h3>
                Burst graph
                <span ng-show="omittedSegments">
                    , {{ omittedSegments }} omitted segments
                </span>
            </h3>
            <svg height="320" font-family="'Open-Sans', sans-serif" font-size="10pt">
                <g transform="translate(300,160)">
                    <newburst
                        ls-devsel="ls_devsel"
                        ls-filter="ls_filter"
                        innerradius="60"
                        service-focus="focusService"
                        omitted-segments="omittedSegments"
                        propagate-filter="1"
                        zoom="1"
                    ></newburst>
                </g>
            </svg>
        </div>
        <div class="col-md-6 col-sm-6">
            <icsw-device-livestatus-service-info host-lut="hostLut" service="focusService" ls-filter="ls_filter"></icsw-device-livestatus-service-info>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.maplist">
    <tabset>
        <tab ng-repeat="loc_gfx in location_gfx_list" active="loc_gfx.active">
            <tab-heading>
                {{ loc_gfx.name }} (<ng-pluralize count="loc_gfx.dml_list.length" when="{'1': '1 device', 'other' : '{} devices'}"></ng-pluralize>)
            </tab-heading>
            <icsw-device-livestatus-location-map ls-filter="ls_filter" gfx="loc_gfx" gfx-size="gfx.size"}}></icsw-device-livestatus-location-map>
        </tab>
        <tab select="select_settings()">
            <tab-heading>
                Settings
            </tab-heading>
            <h4>Graph settings</h4>
            <div class="list-group" style="width:400px;">
                <div class="list-group-item">
                    Graph size:
                    <ui-select ng-model="gfx.size" style="width:200px;">
                        <ui-select-match placeholder="choose size ...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="value in gfx_sizes track by $index">
                            <div ng-bind-html="value"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="list-group-item">
                    Autorotate:
                    <icsw-tools-button type="enable" is-enable="autorotate" ng-click="toggle_autorotate()"></icsw-tools-button>
                </div>
            </div>
        </tab>
    </tabset>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.filter">
    <span ng-show="num_defined()">
        Number of hosts / checks : {{ get_total_num()[0] }} / {{ get_total_num()[1] }}
        <span ng-show="get_total_num()[1] != get_filtered_num()[1]">
            ({{ get_filtered_num()[1] }} shown)
        </span>
    </span>
    <span ng-show="get_num_maps()"> on
        <ng-pluralize count="get_num_maps()" when="{'1' : '1 map', 'other' : '{} maps'}"/>
    </span>
    , Filter options:
    <div class="btn-group">
        <input ng-repeat="entry in md_states" type="button"
            ng-class="get_mds_class(entry[0])"
            ng-value="entry[1]"
            ng-click="toggle_srv(entry[0])"
            title="{{ entry[3] }}"
        />
    </div>
    <div class="btn-group">
        <input ng-repeat="entry in sh_states" type="button"
            ng-class="get_shs_class(entry[0])"
            ng-value="entry[1]"
            ng-click="toggle_sh(entry[0])"
            title="{{ entry[3] }}"
        />
    </div>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.brief">
    <svg width="40" height="40" font-family="'Open-Sans', sans-serif" font-size="10pt">
        <g transform="translate(20,20)">
            <newburst
                ls-filter="ls_filter"
                device-pk="devicepk"
                innerradius="0"
                outerradius="19"
                noninteractive="true"
                hidegroup="true"
                draw-all="true"
                zoom-level="d"
            ></newburst>
        </g>
    </svg>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.check.service">
    <td ng-class="get_host_class(service)" class="text-nowrap">
        {{ service.host_name }}
        <span ng-show="show_host_attempt_info(service)" ng-class="get_host_attempt_class(service, 'label-')" class="label pull-right">{{ get_host_attempt_info(service) }}</span>
        <span ng-show="host_is_passive_checked(service)" title="host is passive checked" class="glyphicon glyphicon-download pull-right"></span>
    </td>
    <td class="text-nowrap" ng-show="show_column.state" class="label" ng-class="get_service_state_class(service)">
        {{ get_service_state_string(service) }}
        <span ng-show="show_column.state_type" class="pull-right badge">{{ get_state_type(service) }}</span>
    </td>
    <td class="text-nowrap" ng-show="show_column.flags">
        <span class="label pull-right" ng-class="get_attempt_class(service, 'label-')" title="attempt info">{{ get_attempt_info(service) }}</span>
        <span class="pull-right fa fa-pencil" title="acknowledgment status" ng-show="service.acknowledged == '1'"></span>
        <span ng-show="is_passive_check(service)" title="service is passive checked" class="glyphicon glyphicon-download pull-right"></span>
    </td>
    <td class="text-nowrap" ng-show="show_column.description">{{ service.description }}</td>
    <td class="text-nowrap" ng-show="show_column.cats">{{ get_categories(service) }}</td>
    <td class="text-nowrap">{{ get_last_check(service) }}</td>
    <td class="text-nowrap">{{ get_last_change(service) }}</td>
    <td ng-show="show_column.output">{{ service.plugin_output }}</td>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.cat.tree">
    <h3>Monitoring categories</h3>
    <tree treeconfig="cat_tree"></tree>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.serviceinfo">
    <h3 ng-show="service.ct">Level: {{ service.ct }}</h3>
    <div ng-switch="service.ct">
        <div ng-switch-when="system">
           <ul class="list-group">
               <li class="list-group-item">System</li>
           </ul>
        </div>
        <div ng-switch-when="group">
           <ul class="list-group">
               <li class="list-group-item">
                   Devicegroup
                   <span class="pull-right">
                       {{ service.group_name }}
                   </span>
               </li>
               <li class="list-group-item">
                   State
                   <span class="pull-right label" ng-class="get_service_state_class(service, 'label-')">
                       {{ get_service_state_string(service) }}
                   </span>
               </li>
           </ul>
        </div>
        <div ng-switch-when="host">
            <ul class="list-group">
                <li class="list-group-item">
                    Path
                    <span class="pull-right">
                        {{ service.group_name }}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        {{ service.host_name }}
                    </span>
                </li>
                <li class="list-group-item">
                    State
                    <span class="pull-right">
                        {{ get_state_type(service) }},
                        {{ get_check_type(service) }},
                        <span class="label" ng-class="get_host_state_class(service, 'label-')">{{ get_host_state_string(service) }}</span>
                        <span class="label" ng-class="get_host_attempt_class(service, 'label-')">{{ get_host_attempt_info(service) }}</span>
                    </span>
                </li>
                <li class="list-group-item">
                    last check / last change
                    <span class="pull-right">
                        {{ get_host_last_check(service) }} /
                        {{ get_host_last_change(service) }}
                    </span>
                </li>
                <li class="list-group-item">
                    <p class="list-group-item-heading">Output</p>
                    <div class=" list-group-item-text">
                        {{ service.plugin_output || 'N/A' }}
                    </div>
                </li>
            </ul>
        </div>
        <div ng-switch-when="service">
            <ul class="list-group">
                <li class="list-group-item">
                    Path
                    <span class="pull-right">
                        {{ service.group_name }}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        {{ service.host_name }}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        {{ service.description }}
                    </span>
                </li>
                <li class="list-group-item">
                    State
                    <span class="pull-right">
                        {{ get_state_type(service) }},
                        {{ get_check_type(service) }},
                        <span class="label" ng-class="get_service_state_class(service, 'label-')">{{ get_service_state_string(service) }}</span>
                        <span class="label" ng-class="get_attempt_class(service, 'label-')">{{ get_host_attempt_info(service) }}</span>
                    </span>
                </li>
                <li class="list-group-item">
                    last check / last change
                    <span class="pull-right">
                        {{ get_last_check(service) }} /
                        {{ get_last_change(service) }}
                    </span>
                </li>
                <li class="list-group-item">
                    categories
                    <span class="pull-right">
                        {{ get_categories(service) }}
                    </span>
                </li>
                <li class="list-group-item">
                    <p class="list-group-item-heading">Output</p>
                    <div class=" list-group-item-text">
                        {{ service.plugin_output || 'N/A' }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.device.row">
    <td>
        <button class="btn btn-primary btn-xs" ng-click="expand_vt(obj)">
            <span ng_class="get_expand_class(obj)"/>
            {{ obj.device_variable_set.length }}
            <span ng-if="var_filter.length"> / {{ obj.num_filtered }} shown</span>
        </button>
    <td/>
    <td>{{ obj.full_name }}</td>
    <td>{{ obj.device_group_name }}</td>
    <td>{{ obj.comment }}</td>
    <td>hints : {{ obj.monitoring_hint_set.length }}</td>
</script>

<script type="text/ng-template" id="icsw.device.livestatus.network_graph">
    <g>
        <path
            ng-repeat="node in nodes track by $index"
            ng-attr-d="{{ node.path }}"
            stroke="black"
            ng-attr-fill="{{ get_fill_color(node) }}"
            ng-attr-fill-opacity="{{ get_fill_opacity(node) }}"
            stroke-width="0.5"
            ng-mouseenter="mouse_enter(node)"
            ng-mouseleave="mouse_leave(node)"
            ng-click="mouse_click(node)"
        >
        </path>
        <polyline
            ng-repeat="node in nodes track by $index"
            ng-attr-points="{{ node.legendpath }}"
            stroke="black"
            fill="none"
            stroke-width="0.5"
            ng-if="node.legend_show"
        >
        </polyline>
        <g ng-repeat="node in nodes track by $index">
            <text
                ng-attr-x="{{ node.legend_x }}"
                ng-attr-y="{{ node.legend_y }}"
                text-anchor="{{ node.legend_anchor }}"
                ng-if="node.legend_show && font_stroke"
                alignment-baseline="middle"
                stroke="white"
                stroke-width="3"
            >{{ node.name }}</text>
            <text
                ng-attr-x="{{ node.legend_x }}"
                ng-attr-y="{{ node.legend_y }}"
                text-anchor="{{ node.legend_anchor }}"
                ng-if="node.legend_show"
                alignment-baseline="middle"
            >{{ node.name }}</text>
        </g>
        <g ng-if="show_name">
            <text
                ng-if="font_stroke"
                text-anchor="middle"
                alignment-baseline="middle"
                font-weight="bold"
                fill="black"
                stroke="white"
                stroke-width="2"
            >{{ name }}</text>
            <text
                text-anchor="middle"
                alignment-baseline="middle"
                font-weight="bold"
                fill="black"
            >{{ name }}</text>
        </g>
    </g>
</script>
