<script type="text/ng-template" id="icsw/main/device/location.html">
    <div ng-controller="icswConfigCategoryLocationTopCtrl">
        <uib-tabset >
            <uib-tab heading="Device location" select="set_active_tab('loc')">
                <icsw-device-location-overview icsw-sel-man="0" icsw-sel-man-sel-mode="d">
                </icsw-device-location-overview>
            </uib-tab>
            <uib-tab heading="Location configuration" select="set_active_tab('conf')">
                <icsw-config-category-location-edit preview-gfx="preview_gfx" preview-close="close_preview">
                </icsw-config-category-location-edit>
                <hr ng-show="preview_gfx"/>
                <icsw-config-category-tree-map-enhance preview-gfx="preview_gfx" preview-close="close_preview">
                </icsw-config-category-tree-map-enhance>
            </uib-tab>
            <uib-tab heading="Available locations" select="set_active_tab('avail')">
                <icsw-config-category-tree-edit mode="location"></icsw-config-category-tree-edit>
            </uib-tab>
        </uib-tabset>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.location.overview">
    <h2>Device location for <ng-pluralize count="device_pks.length" when="{'one':'1 device', 'other':'{} devices'}"></ng-pluralize></h2>

    <uib-alert type="warning" style="max-width: 500px" ng-if="!is_any_location_defined()">Please create locations in the tab 'Available locations'.</uib-alert>

    <div class="row">
        <div class="col-md-6">
            <h3>Location Tree</h3>
            <icsw-tools-ensure-device-selection dev-list="device_pks" list-ready="device_list_ready">
                <tree treeconfig="loc_tree"></tree>
            </icsw-tools-ensure-device-selection>
        </div>
        <div class="col-md-6" ng-show="gfx_cat">
            <icsw-device-location-list></icsw-device-location-list>
        </div>
    </div>
    <h3 ng-show="gfx_cat && active_loc_gfx">Locations ({{ set_pks.length }} of {{ dev_pks.length }} set)<span ng-show="extra_dml_list.length">, {{ extra_dml_list.length }} extra</span>, zoom is {{ cur_scale | number:2 }}</h3>
    <div class="row" ng-show="gfx_cat && active_loc_gfx">
        <div class="col-md-3">
            <icsw-device-monitoring-location-list></icsw-device-monitoring-location-list>
        </div>
        <div class="col-md-9">
            <icsw-device-location-map></icsw-device-location-map>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.monitoring.location.list">
    <div ng-show="set_pks.length">
        <h4>Set devices:</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="pk in set_pks">
                {{ dev_lut[pk].full_name }}, {{ set_lut[pk].pos_x }} / {{ set_lut[pk].pos_y }}
                <span class="pull-right">
                    <div class="btn-group">
                        <input type="button" class="btn btn-xs" ng-class="{'btn-warning': is_locked(pk), 'btn-success': !is_locked(pk)}" ng-value="is_locked(pk) && 'unlock' || 'lock'" ng-click="toggle_locked(pk)"/>
                        <input type="button" class="btn btn-xs btn-danger" ng-show='!is_locked(pk)', value="remove" ng-click="remove(pk)"/>
                    </div>
                </span>
            </li>
        </ul>
    </div>
    <div ng-show="unset_pks.length">
        <h4>Unset devices:</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="unset in unset_pks">
                {{ dev_lut[unset].full_name }}
                <input type="button" class="pull-right btn btn-xs btn-primary" value="set" ng-click="use_device(unset)"/>
            </li>
        </ul>
    </div>
    <div ng-show="extra_dml_list.length">
        <h4>Extra devices:</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="dml in extra_dml_list">
                {{ dml.device_name }}, {{ dml.pos_x }} / {{ dml.pos_y }}
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.location.list">
    <h3><ng-pluralize count="gfx_cat.location_gfxs.length" when="{'0': 'No Location maps for {{ gfx_cat.full_name }}', 'one': 'One Location map for {{ gfx_cat.full_name }}', 'other': '{} location maps for {{ gfx_cat.full_name }}'}"></ng-pluralize></h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="loc_gfx in get_location_gfxs(gfx_cat)">
            <span ng-show="DEBUG">[{{ loc_gfx.idx }}]</span><input type="button" ng-class="get_button_class(loc_gfx)" value="show" ng-click="activate_loc_gfx(loc_gfx)"/>
            {{ loc_gfx.name }}<span ng-show="loc_gfx.comment"> ({{ loc_gfx.comment }})</span>
            <ng-pluralize count="get_num_devices(loc_gfx)" when="{'0': '', 'one' : ', one device', 'other' : ', {} devices'}"></ng-pluralize>
            <span ng-show="get_num_devices(loc_gfx)" class="glyphicon glyphicon-info-sign" tooltip="{{ get_device_list(loc_gfx) }}" tooltip-placement="right"></span>
            , {{ loc_gfx.image_name }} {{ loc_gfx.width }} x {{ loc_gfx.height }} ({{ loc_gfx.content_type }})
            <image ng-src="{{ loc_gfx.icon_url }}" width="24" height="24"></image>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="location.gfx.form">
    <form id="form" class="form-horizontal" ng-submit="cur_edit.modify(this)" name="form">
        <div>
            <h2>Location graphic '{{ _edit_obj.name }}'</h2>
            <fieldset>
                <legend>Basic settings</legend>
                <div id="div_id_name" class="form-group  ng-class:form_error('name')">
                    <label for="id_name" class="control-label col-sm-3 requiredField">
                        Name<span class="asteriskField">*</span></label>

                    <div class="controls col-sm-9"><input class="textinput textInput form-control" id="id_name" maxlength="64" name="name" ng-model="_edit_obj.name" required="True" type="text"></input></div>
                </div>
                <div id="div_id_comment" class="form-group">
                    <label for="id_comment" class="control-label col-sm-3">
                        Comment
                    </label>

                    <div class="controls col-sm-9"><input class="textinput textInput form-control" id="id_comment" maxlength="1024" name="comment" ng-model="_edit_obj.comment" type="text"></input></div>
                </div>
            </fieldset>
            <fieldset ng-if="!create_mode">
                <legend>Graphic</legend>
                <div class="form-group">
                    <div id="div_id_locked" class="checkbox">
                        <div class="controls col-lg-offset-0 col-sm-9"><label for="id_locked"><input class="checkboxinput checkbox" id="id_locked" name="locked" ng-model="_edit_obj.locked" type="checkbox"></input>
                            Locked
                        </label></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Current Graphic
                    </label>

                    <div class="col-sm-6"><input type="file" nv-file-select="" class="form-control" uploader="uploader"></input></div>
                    <div class="col-sm-3"><input type="button" ng-show="uploader.queue.length" class="btn btn-warning btn-sm" value="upload" ng-click="uploader.uploadAll()"></input></div>
                </div>
            </fieldset>
            <div class="form-actions">
                <input type="submit" name="submit" value="" class="btn btn-primary btn-sm primaryAction" id="submit-id-submit" ng-value="get_action_string()"></input>
                &#160;<input type="button" name="close" value="close" class="btn btn-sm btn-warning" id="button-id-close" ng-click="close_modal()"></input>
            </div>
        </div>
    </form>
</script>

