<script type="text/ng-template" id="icsw/device/log">
    <icsw-device-log icsw-sel-man="0"></icsw-device-log>
</script>


<script type="text/ng-template" id="icsw.device.log">
    <style>
        .vertical-align {
            vertical-align: middle !important;
        }
    </style>
    <div class="container-fluid">
        <div
            uib-alert
            class="alert-warning"
            ng-show="!struct.data_loaded">Fetching Data from Server ...
        </div>
        <div ng-if="struct.data_loaded">
            <uib-tabset active="struct.activetab">
                <uib-tab index="0">
                    <uib-tab-heading>
                        <span>Overview</span>
                    </uib-tab-heading>
                    <h3>Device Logs Overview</h3>
                    <table
                        st-table="entries_displayed"
                        st-safe-src="struct.devices"
                        class="table table-condensed table-striped table-hover"
                        style="width:auto;"
                    >
                        <thead>
                            <tr>
                                <td colspan="4">
                                    <span
                                        icsw-tools-pagination
                                        st-items-by-page="20"
                                        st-displayed-pages="11"
                                        possible-items-by-page="10,20,50,100"
                                        class="pull-xs-left"
                                    ></span>
                                </td>
                            </tr>
                            <tr>
                                <th st-sort="name">Name</th>
                                <th st-sort="device_group_name">Group</th>
                                <th st-sort="$$device_log_entries_count" style="width: 100px" class="text-center">Log Entries</th>
                                <th style="width: 100px" class="text-center">Action</th>
                            </tr>
                            <tr>
                                <th>
                                    <input st-search="name" placeholder="Filter by Device Name" class="input-sm form-control" type="search"/>
                                </th>
                                <th>
                                    <input st-search="device_group_name" placeholder="Filter by Group" class="input-sm form-control" type="search"/>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="obj in entries_displayed" ng-click="open_in_new_tab(obj, $event)">
                                <td class="vertical-align">
                                    <button type="button" class="btn btn-xs btn-success" ng-click="show_device($event, obj)">{{ obj.full_name }}</button>
                                </td>
                                <td class="vertical-align">{{ obj.device_group_name }}</td>
                                <td class="text-center vertical-align" ng-class="obj.$$device_log_entries_bg_color_class"><strong>{{ obj.$$device_log_entries_count }}</strong></td>
                                <td class="text-center vertical-align">
                                    <icsw-tools-button
                                        type="modify"
                                        ng-click="open_in_new_tab_for_system(task)"
                                        size="sm"
                                        value="Show Logs"
                                    ></icsw-tools-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab ng-repeat="tab in struct.tabs"  index="tab.tabindex">
                    <uib-tab-heading>
                        <span>{{ tab.device.full_name }}</span>
                        <icsw-tools-button size="xs" type="close" value="" ng-click="close_tab(tab)"></icsw-tools-button>
                    </uib-tab-heading>
                    <br/>
                    <icsw-device-log-table icsw-device="tab.device"></icsw-device-log-table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.log.table">
    <table
        st-table="entries_displayed"
        st-safe-src="device.$$device_log_entries_list"
        class="table table-condensed table-striped table-hover simple-border"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <span
                        icsw-tools-pagination
                        st-items-by-page="20"
                        st-displayed-pages="11"
                        possible-items-by-page="10,20,50,100"
                        class="pull-xs-left"
                    ></span>
                </td>
            </tr>
            <tr>
                <th st-sort="date" st-sort-default="reverse" style="width: 150px">Time</th>
                <th st-sort="user" style="width: 150px">User</th>
                <th st-sort="source.identifier" style="width: 150px">Source</th>
                <th st-sort="level.level" style="width: 150px">Level</th>
                <th>Text</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="obj in entries_displayed">
                <td>
                    {{ obj.pretty_date }}
                </td>
                <td>
                    {{ obj.user_resolved }}
                </td>
                <td>
                    {{ obj.source.identifier }}
                </td>
                <td>
                    {{ obj.level.name }}
                </td>
                <td>
                    {{ obj.text }}
                </td>
            </tr>
        </tbody>
    </table>
</script>