<script type="text/ng-template" id="icsw.device.livestatus.monconfig">
    <div class="container-fluid">
        <h3 ng-show="struct.devices.length">
            Monitoring Configuration and Hints for
            <icsw-device-list-info icsw-device-list="struct.devices"></icsw-device-list-info>
        </h3>
        <div
            uib-alert
            class="alert-warning"
            ng-show="struct.loading">
            Fetching Data from Server ...
        </div>
        <div
            uib-alert
            class="alert-danger"
            ng-show="!struct.loading && struct.devices.length == 0">
            No devices selected
        </div>
        <uib-accordion close-others="no" ng-if="struct.devices.length">
            <div uib-accordion-group class="panel-default" is-open="struct.monconfig_open" ng-show="!struct.fetching">
                <uib-accordion-heading>
                    <icsw-tools-accordion-chevron icsw-flag="struct.monconfig_open"></icsw-tools-accordion-chevron>
                    Monitoring Configuration ({{ struct.mc_tables.length }} Tables shown)
                    <span class="text-danger" ng-show="struct.fetching_mon">Fetching Monitoring Data from Server ...</span>
                    <icsw-tools-button
                        type="create"
                        size="sm"
                        ng-click="load_mon_data($event)"
                        ng-show="!struct.fetching_mon"
                    ></icsw-tools-button>
                </uib-accordion-heading>
                <uib-tabset active="struct.active_table">
                    <uib-tab ng-repeat="table in struct.mc_tables" index="table.name">
                        <uib-tab-heading>
                            {{ table.name }} ({{ table.entries.length }})
                        </uib-tab-heading>
                        <h3>{{ table.entries.length }} entries for {{ table.short_name }}</h3>
                        <table
                            st-table="table.entries_displayed"
                            st-safe-src="table.entries"
                            class="table table-condensed table-hover table-striped"
                            style="width:auto;"
                        >
                            <thead>
                                <tr>
                                    <td colspan="99">
                                        <div
                                            icsw-tools-pagination
                                            st-items-by-page="10"
                                            st-displayed-pages="11"
                                            possible-items-by-page="10,20,50,100,200,500,1000">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="99">
                                        <div class="btn-group btn-group-xs">
                                            <button
                                                type="button"
                                                ng-repeat="attr in table.attr_list"
                                                class="btn btn-xs btn-default"
                                                ng-click="table.toggle_column(attr)"
                                                ng-class="table.columns_enabled[attr] && 'btn-success' || 'btn-default'"
                                                title="{{ table.attr_dict[attr].long }}"
                                                value="{{ table.attr_dict[attr].short }}"
                                            >
                                                {{ table.attr_dict[attr].short }}
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th
                                        ng-repeat="attr in table.attr_list"
                                        title="{{ table.attr_dict[attr].long }}"
                                        ng-show="table.columns_enabled[attr]"
                                        ng-click="table.toggle_order(attr)"
                                    >
                                        {{ table.attr_dict[attr].short }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entry in table.entries_displayed">
                                    <td ng-repeat="attr in table.attr_list" ng-show="table.columns_enabled[attr]">
                                        {{ entry[attr] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div uib-accordion-group class="panel-default" is-open="struct.devlog_open">
                <uib-accordion-heading>
                    <icsw-tools-accordion-chevron icsw-flag="struct.devlog_open"></icsw-tools-accordion-chevron>
                    Device logs ({{ struct.devices.length }} devices)
                </uib-accordion-heading>
                <icsw-device-log-table icsw-device-list="struct.devices"></icsw-device-log-table>
            </div>
            <div uib-accordion-group class="panel-default" is-open="struct.monhint_open">
                <uib-accordion-heading>
                    <icsw-tools-accordion-chevron icsw-flag="struct.monhint_open"></icsw-tools-accordion-chevron>
                    Monitoring Hints
                    <span class="text-danger" ng-show="struct.fetching_hint">Fetching Monitoring Hints from Server ...</span>
                    <icsw-tools-button
                        type="reload"
                        size="sm"
                        ng-click="load_hint_data($event)"
                        ng-show="!struct.fetching_hint"
                    ></icsw-tools-button>
                    <icsw-tools-button
                        type="create"
                        value="Fetch config"
                        size="sm"
                        ng-click="trigger_fetch_run($event)"
                        ng-show="!struct.trigger_fetch"
                    ></icsw-tools-button>
                    <span ng-show="struct.trigger_fetch" class="text-warning">
                        Fetching DynConfig...
                    </span>
                </uib-accordion-heading>

                <uib-tabset ng-show="!struct.trigger_fetch">
                    <uib-tab ng-repeat="device in struct.devices">
                        <uib-tab-heading>
                            {{ device.full_name }}
                        </uib-tab-heading>
                        <h3>
                            Device
                            <button
                                type="button"
                                class="btn btn-xs btn-primary"
                                ng-click="show_device($event, device)"
                            >{{ device.full_name }}</button>
                            dynamic checks: <span ng-bind-html="device.dynamic_checks | yesno4"></span>,
                            hints found: {{ device.monitoring_hint_set.length }}
                            <icsw-tools-button
                                type="delete"
                                size="xs"
                                value="delete selected hints"
                                ng-click="delete_multiple_hints($event, device)"
                            ></icsw-tools-button>
                            (group {{ device.device_group_name }}, comment {{ device.comment }})
                        </h3>
                        <icsw-monitoring-hint-table
                            icsw-device="device"
                            ng-show="device.monitoring_hint_set.length && !struct.trigger_fetch"
                        ></icsw-monitoring-hint-table>
                    </uib-tab>
                </uib-tabset>
            </div>
        </uib-accordion>
    </div>
</script>

<script type="text/ng-template" id="icsw.monitoring.hint.table">
    <table
        st-table="entries_display"
        st-safe-src="device.monitoring_hint_set"
        class="table table-condensed table-striped table-hover"
        style="width:auto;"
    >
        <thead>
            <tr>
                <td colspan="99">
                    <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11" possible-items-by-page="10,20,50,100,200,500,1000"></div>
                </td>
            </tr>
            <tr>
                <th st-sort="m_type">Source</th>
                <th st-sort="key">key</th>
                <th title="datasource">ds</th>
                <th title="entry is persistent">persistent</th>
                <th>Type</th>
                <th>lower crit</th>
                <th>lower warn</th>
                <th>upper warn</th>
                <th>upper crit</th>
                <th st-sort="value">value</th>
                <th title="check" st-sort="is_active">active check</th>
                <th colspan="3">action</th>
                <th st-sort="info">info</th>
                <th st-sort="updated">Updated</th>
                <th st-sort="date">Created</th>
            </tr>
        </thead>
        <tbody>
            <tr
                st-select-row="hint"
                st-select-mode="multiple"
                icsw-monitoring-hint-row
                ng-class="hint.isSelected && 'info'"
                ng-repeat="hint in entries_display"
            ></tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="icsw.monitoring.hint.row">
    <td title="from run {{ hint.call_idx }}">
        <span ng-show="hint.enabled">
            {{ hint.m_type }}
        </span>
        <span ng-show="!hint.enabled">
            <em><del>{{ hint.m_type }}</del></em>
        </span>
    </td>
    <td>
        <span ng-show="hint.enabled">
            {{ hint.key }}
        </span>
        <span ng-show="!hint.enabled">
            <em><del>{{ hint.key }}</del></em>
        </span>
    </td>
    <td>{{ hint.datasource }}</td>
    <td class="text-center">{{ hint.persistent | yesno2 }}</td>
    <td>{{ hint.$$v_type }}</td>
    <td class="text-right" ng-class="{{ hint.$$lower_crit_class }}" ng-attr-title="{{ hint.$$lower_crit_title }}">{{ hint.$$lower_crit_limit }}</td>
    <td class="text-right" ng-class="{{ hint.$$lower_warn_class }}" ng-attr-title="{{ hint.$$lower_warn_title }}">{{ hint.$$lower_warn_limit }}</td>
    <td class="text-right" ng-class="{{ hint.$$upper_warn_class }}" ng-attr-title="{{ hint.$$upper_warn_title }}">{{ hint.$$upper_warn_limit }}</td>
    <td class="text-right" ng-class="{{ hint.$$upper_crit_class }}" ng-attr-title="{{ hint.$$upper_crit_title }}">{{ hint.$$upper_crit_limit }}</td>
    <td class="text-right success">{{ hint.$$value }}</td>>
    <td class="text-center"><span ng-bind-html="hint.is_active | yesno3"></span></td>
    <td class="text-center">
        <icsw-tools-button type="delete" ng-click="delete_hint($event, hint)" size="xs"></icsw-tools-button>
    </td>
    <td class="text-center">
        <input type="button" class="btn btn-xs btn-default" ng-class="hint.enabled && 'btn-success' || 'btn-warning'" ng-value="hint.enabled && 'disable' || 'enable'" ng-click="toggle_enabled($event, hint)"/></input>
    </td>
    <td class="text-center">
        <icsw-tools-button type="modify" ng-show="hint.$$show_modify" ng-click="edit_hint($event, hint)" size="xs"></icsw-tools-button>
    </td>
    <td>{{ hint.info }}</td>
    <td class="text-right">{{ hint.$$from_now_updated }}</td>
    <td class="text-right">{{ hint.$$from_now_created }}</td>
</script>

<script type="text/ng-template" id="icsw.monitoring.hint.form">
    <form class="form-horizontal" name="form_data">
        <h3>Monitoring hint '{{ edit_obj.m_type }} / {{ edit_obj.key }}'</h3>
        <fieldset>
            <legend>lower bounds</legend>
            <div class="form-group">
                <label class="control-label col-sm-4">Lower Critical</label>

                <div class="controls col-sm-8">
                    <input class="form-control" ng-model="edit_obj.lower_crit_float" required="required" type="number" step="any" ng-show="edit_obj.v_type == 'f'"/>
                    <input class="form-control" ng-model="edit_obj.lower_crit_int" required="required" type="number" ng-show="edit_obj.v_type == 'i'"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Lower Warning</label>

                <div class="controls col-sm-8">
                    <input class="form-control" ng-model="edit_obj.lower_warn_float" required="required" type="number" step="any" ng-show="edit_obj.v_type == 'f'"/>
                    <input class="form-control" ng-model="edit_obj.lower_warn_int" required="required" type="number" ng-show="edit_obj.v_type == 'i'"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>upper bounds</legend>
            <div class="form-group">
                <label class="control-label col-sm-4">Upper Warning</label>

                <div class="controls col-sm-8">
                    <input class="form-control" ng-model="edit_obj.upper_warn_float" required="required" type="number" step="any" ng-show="edit_obj.v_type == 'f'"/>
                    <input class="form-control" ng-model="edit_obj.upper_warn_int" required="required" type="number" ng-show="edit_obj.v_type == 'i'"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Upper Critial</label>

                <div class="controls col-sm-8">
                    <input class="form-control" ng-model="edit_obj.upper_crit_float" required="required" type="number" step="any" ng-show="edit_obj.v_type == 'f'"/>
                    <input class="form-control" ng-model="edit_obj.upper_crit_int" required="required" type="number" ng-show="edit_obj.v_type == 'i'"/>
                </div>
            </div>
        </fieldset>
    </form>
</script>
