<script type="text/ng-template" id="icsw/main/partition.html">
    <icsw-device-partition-edit-overview></icsw-device-partition-edit-overview>
</script>

<script type="text/ng-template" id="icsw.device.partition.edit.overview">
    <uib-alert type="warning" ng-show="struct.loading">Loading data from server...</uib-alert>
    <uib-tabset>
        <uib-tab heading="Partitions">
            <h2>
                Partition tables ({{ entries.length }} entries),
                <icsw-tools-button type="reload" size="xs" ng-click="reload($event)"></icsw-tools-button>
                &nbsp;
                <icsw-tools-button type="create" size="xs" ng-click="create($event)"></icsw-tools-button>
            </h2>
            <table
                st-table="entries_displayed"
                st-safe-src="struct.partition_tree.list"
                class="table table-condensed table-hover"
                style="width:auto;"
            >
                <thead>
                    <tr>
                        <th colspan="99">
                            <div icsw-tools-pagination st-items-by-page="10" st-displayed-pages="11"
                                 possible-items-by-page="10,20,50,100,200,500,1000">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>enabled</th>
                        <th>valid</th>
                        <th>for nodes</th>
                        <th>usage</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in entries_displayed">
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.description }}</td>
                        <td ng-class="obj.valid && 'success' || 'danger'">{{ obj.enabled | yesno1 }}</td>
                        <td ng-class="obj.valid && 'success' || 'danger'">{{ obj.valid | yesno1  }}</td>
                        <td ng-class="obj.valid && 'success' || 'danger'">{{ obj.nodeboot | yesno1 }}</td>
                        <td class="text-center">
                            {{ obj.act_partition_table.length }} / {{ obj.new_partition_table.length }}
                        </td>
                        <td>
                            <icsw-tools-button type="modify" size="xs" ng-show="not_open(obj)" ng-click="modify($event, obj)"></icsw-tools-button>
                        </td>
                        <td>
                            <icsw-tools-button type="delete" size="xs" ng-show="delete_ok(obj)" ng-click="delete($event, obj)"></icsw-tools-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab ng-repeat="part in edit_pts" active="part.tab_active">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-remove" ng-click="close_part(part)"></span>{{ part.name }}
            </uib-tab-heading>
            <div>
                <icsw-config-disk-layout partition_fs="partition_fs" part_table="part"></icsw-config-disk-layout>
            </div>
        </uib-tab>
    </uib-tabset>
</script>

<script type="text/ng-template" id="partition.sys.form">
    <form class="form-horizontal" ng-submit="cur_edit.modify(this)" name="form">
        <div>
            <h2>Sys Partition '{{ _edit_obj.name }}'</h2>
            <fieldset>
                <legend>Base data</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Name<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="_edit_obj.name" required="True" type="text"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Mount options</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Mountpoint<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="192" name="mountpoint" ng-model="_edit_obj.mountpoint" required="True" type="text" value="/"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Mount options
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="255" name="mount_options" ng-model="_edit_obj.mount_options" type="text"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>

<script type="text/ng-template" id="icsw.device.partition.overview">
    <h2>Disk info for {{ devsel_list.length }} devices</h2>
    <icsw-tools-ensure-device-selection dev-list="devsel_list">
        <uib-tabset>
            <uib-tab ng-repeat="dev in entries" heading="{{ dev.full_name }}" active="dev.tab_active">
                <div ng-show="dev.act_partition_table">
                    <h4>
                        Partition table '{{ dev.act_partition_table.name}}',
                        <input type="button" class="btn btn-sm btn-warning" value="fetch partition info" ng-click="fetch(dev.idx)"></input>
                        <input type="button" class="btn btn-sm btn-danger" value="clear" ng-click="clear(dev.idx)" ng-show="dev.act_partition_table"></input>
                        <input type="button" class="btn btn-sm btn-success" value="use {{ dev.partition_table.name }}" ng-click="use(dev.idx)" ng-show="dev.partition_table"></input>
                    </h4>
                    <table class="table table-condensed table-hover table-bordered" style="width:auto;">
                        <tbody>
                            <tr ng-repeat-start="disk in dev.act_partition_table.partition_disc_set">
                                <th colspan="2">Disk {{ disk.disc }}, {{ disk.partition_set.length }} partitions</th>
                                <th>Size</th>
                                <th>warn</th>
                                <th>crit</th>
                            </tr>
                            <tr ng-repeat-end ng-repeat="part in disk.partition_set" ng-show="part.mountpoint">
                                <td>{{ disk.disc }}{{ part.pnum || '' }}</td>
                                <td>{{ part.mountpoint }}</td>
                                <td class="text-right">{{ part.size | get_size:1000000:1000 }}</td>
                                <td class="text-center">{{ part.warn_threshold }} %</td>
                                <td class="text-center">{{ part.crit_threshold }} %</td>
                            </tr>
                            <tr>
                                <th colspan="2">Logical Volumes</th>
                                <th>Size</th>
                                <th>warn</th>
                                <th>crit</th>
                            </tr>
                            <tr ng-repeat="lvm in dev.act_partition_table.lvm_lv_set | orderBy:'name'">
                                <td>/dev/{{ get_vg(dev, lvm.lvm_vg).name }}/{{ lvm.name }}</td>
                                <td>{{ lvm.mountpoint }}</td>
                                <td class="text-right">{{ lvm.size | get_size:1:1000 }}</td>
                                <td class="text-center">{{ lvm.warn_threshold }} %</td>
                                <td class="text-center">{{ lvm.crit_threshold }} %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="!dev.act_partition_table">
                    <h4>
                        <span class="text-danger">No partition table defined</span>,
                        <input type="button" class="btn btn-sm btn-warning" value="fetch partition info" ng-click="fetch(dev.idx)"></input>
                        <input type="button" class="btn btn-sm btn-success" value="use {{ dev.partition_table.name }}" ng-click="use(dev.idx)" ng-show="dev.partition_table"></input>
                    </h4>
                </div>
            </uib-tab>
        </uib-tabset>
    </icsw-tools-ensure-device-selection>
</script>

<script type="text/ng-template" id="partition.form">
    <form class="form-horizontal" ng-submit="cur_edit.modify(this)" name="form">
        <div>
            <h2>Partition '{{ _edit_obj.pnum }}'</h2>
            <fieldset>
                <legend>Base data</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Partition disc<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <ui-select ng-model="_edit_obj.partition_disc" style="max-width:400px; min-width:240px;" ng-disabled="true">
                            <ui-select-match class="ui-select-match" placeholder="select the disc">
                                {{ $select.selected.disc }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in edit_obj.partition_disc_set | orderBy:'disc'">
                                <div ng-bind-html="value.disc | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Pnum<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <input class="numberinput form-control" max="16" min="1" name="pnum" ng-model="_edit_obj.pnum" placeholder="partition" required="True" type="number"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Partition fs<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <ui-select ng-model="_edit_obj.partition_fs" style="max-width:400px; min-width:240px;" ng-disabled="false">
                            <ui-select-match class="ui-select-match" placeholder="partition filesystem">
                                {{ $select.selected.full_info }}
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="value.idx as value in this.get_partition_fs() | orderBy:'name'">
                                <div ng-bind-html="value.full_info | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Size
                    </label>
                    <div class="controls col-sm-7">
                        <input class="numberinput form-control" max="1000000000000" min="0" name="size" ng-model="_edit_obj.size" type="number" value="100"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        Partition hex
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="6" name="partition_hex" ng-model="_edit_obj.partition_hex" readonly type="text"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Partition flags</legend>
                <div class="form-group">
                    <div class="checkbox">
                        <div class="controls col-lg-offset-0 col-sm-7">
                            <label>
                                <input class="checkboxinput checkbox" name="bootable" ng-model="_edit_obj.bootable" type="checkbox"/>
                                Bootable
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Mount options</legend>
                <div class="form-group" ng_show="partition_need_mountpoint(_edit_obj)">
                    <label class="control-label col-sm-3">
                        Mountpoint
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="192" name="mountpoint" ng-model="_edit_obj.mountpoint" type="text" value="/"/>
                    </div>
                </div>
                <div class="form-group" ng_show="partition_need_mountpoint(_edit_obj)">
                    <label class="control-label col-sm-3">
                        Mount options
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="255" name="mount_options" ng-model="_edit_obj.mount_options" type="text" value="defaults"/>
                    </div>
                </div>
                <div class="form-group" ng_show="partition_need_mountpoint(_edit_obj)">
                    <label class="control-label col-sm-3">
                        Fs freq
                    </label>
                    <div class="controls col-sm-7">
                        <input class="numberinput form-control" max="1" min="0" name="fs_freq" ng-model="_edit_obj.fs_freq" type="number" value="0"/>
                    </div>
                </div>
                <div class="form-group" ng_show="partition_need_mountpoint(_edit_obj)">
                    <label class="control-label col-sm-3">
                        Fs passno
                    </label>
                    <div class="controls col-sm-7">
                        <input class="numberinput form-control" max="2" min="0" name="fs_passno" ng-model="_edit_obj.fs_passno" type="number" value="0"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Check thresholds</legend>
                <div class="form-group" ng_show="partition_need_mountpoint(_edit_obj)">
                    <label class="control-label col-sm-3">
                        Warn threshold
                    </label>
                    <div class="controls col-sm-7">
                        <input class="numberinput form-control" max="100" min="0" name="warn_threshold" ng-model="_edit_obj.warn_threshold" type="number" value="85"/>
                    </div>
                </div>
                <div class="form-group" ng_show="partition_need_mountpoint(_edit_obj)">
                    <label class="control-label col-sm-3">
                        Crit threshold
                    </label>
                    <div class="controls col-sm-7">
                        <input class="numberinput form-control" max="100" min="0" name="crit_threshold" ng-model="_edit_obj.crit_threshold" type="number" value="95"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>

<script type="text/ng-template" id="partition.table.form">
    <form class="form-horizontal" ng-submit="modify()" name="form">
        <div>
            <h3>Partition table '{{ edit_obj.name }}'</h3>
            <fieldset>
                <legend>Base data</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group  ng-class:cur_edit.form_error('name')">
                            <label class="control-label col-sm-3 requiredField">
                                Name<span class="asteriskField">*</span>
                            </label>
                            <div class="controls col-sm-7">
                                <input class="textinput textInput form-control" maxlength="192" name="name" ng-model="edit_obj.name" placeholder="Name" required="True" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group  ng-class:cur_edit.form_error('description')">
                            <label class="control-label col-sm-3">
                                Description
                            </label>
                            <div class="controls col-sm-7">
                                <input class="textinput textInput form-control" maxlength="255" name="description" ng-model="edit_obj.description" placeholder="Description" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Flags</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <div class="controls col-lg-offset-0 col-sm-7">
                                    <label>
                                        <input checked="checked" class="checkboxinput checkbox" name="enabled" ng-model="edit_obj.enabled" type="checkbox"/>
                                        Enabled
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <div class="controls col-lg-offset-0 col-sm-7">
                                    <label>
                                        <input class="checkboxinput checkbox" name="nodeboot" ng-model="edit_obj.nodeboot" type="checkbox"/>
                                        Nodeboot
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>

<script type="text/ng-template" id="partition.disc.form">
    <form class="form-horizontal" ng-submit="cur_edit.modify(this)" name="form">
        <div>
            <h2>Disc '{{ _edit_obj.disc }}'</h2>
            <fieldset>
                <legend>Base data</legend>
                <div class="form-group  ng-class:cur_edit.form_error('disc')">
                    <label class="control-label col-sm-3 requiredField">
                        Disc<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <input class="textinput textInput form-control" maxlength="192" name="disc" ng-model="_edit_obj.disc" placeholder="discname" required="True" type="text"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>label type</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3 requiredField">
                        Label type<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-sm-7">
                        <select class="select form-control" name="label_type" ng-model="_edit_obj.label_type" ng-options="value.label as value.info_string for value in valid_label_types" required="True">
                            <option value="gpt" selected>GPT</option>
                            <option value="msdos">MSDOS</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>
