<script type="text/ng-template" id="icsw/device/report/overview">
    <icsw-device-report-overview icsw-sel-man="0"></icsw-device-report-overview>
</script>


<script type="text/ng-template" id="icsw.device.report.overview">
    <div class="container-fluid">
        <div>
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        <span>Settings</span>
                    </uib-tab-heading>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 6px 15px">
                            <div class="input-group">
                                <br/><label class="control-label">Current Report Logo</label><br/>
                                <img ng-if="struct.gfx_b64_data.length > 0" data-ng-src="data:image/png;base64,{{struct.gfx_b64_data}}"/>
                                <label ng-if="struct.gfx_b64_data.length == 0" style="padding: 0px 15px" class="control-label"><i>No Report Logo uploaded yet</i></label>
                            </div>

                            <div class="input-group">
                                <br/><label class="control-label">Change Report Logo</label><br/>
                                <input type="file" class="btn btn-sm btn-primary form-control-inline" nv-file-select uploader="uploader"/><br/><br/>
                                <!-- <icsw-tools-button type="create" size="xs" value="Upload Report Logo" ng-click="create_or_edit($event, true, loc.location)"></icsw-tools-button> -->
                                <div ng-if="uploading" class="progress">
                                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( getPercentage() + '%' ) }">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab>
                    <uib-tab-heading>
                        <span>Selection</span>
                    </uib-tab-heading>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 6px 15px">
                            <table
                                st-table="entries_displayed"
                                st-safe-src="struct.devices"
                                class="table table-hover table-condensed table-striped"
                                style="width:auto;"
                            >
                                <thead>
                                    <tr>
                                        <td colspan="99">
                                            <div icsw-tools-pagination st-items-by-page="20" st-displayed-pages="11" possible-items-by-page="10,20,50,100,200,500,1000"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th st-sort='st_attrs.name'>Name</th>
                                        <th>Sel</th>
                                        <th st-sort='st_attrs.description'>Description</th>
                                        <th st-sort='st_attrs.enabled'>Enabled</th>
                                        <th st-sort='st_attrs.type'>#devs</th>
                                        <th class="text-center">Installed Packages</th>
                                        <th class="text-center">Available Licenses</th>
                                        <th class="text-center">Installed Updates</th>
                                        <th class="text-center">Available Updates</th>
                                        <th class="text-center">Hardware Report</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr icsw-device-tree-report-row device="obj" ng-repeat="obj in entries_displayed" ng-class="get_tr_class(obj)"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <span>Generate</span>
                    </uib-tab-heading>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding: 6px 15px">
                            <div class="input-group">
                                <br/><label class="control-label">Generate Report</label><br/>
                                <button class="btn btn-primary dropdown-toggle" ng-click="downloadPdf()" type="button" data-toggle="dropdown">Generate</button>
                                <!-- <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Generate Report
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="" ng-click='downloadPdf()'>as PDF</a></li>
                                    </ul>
                                </div> -->
                                <br/>

                                <br/><label class="control-label">Download Report</label><br/>
                                <div ng-if="struct.report_download_url != undefined">
                                    <a download="{{ struct.report_download_name }}" style="padding: 0px 15px" ng-href="{{ struct.report_download_url }}">download</a>
                                </div>
                                <div ng-if="struct.report_generating == true">
                                    <div ng-if="struct.report_download_url == undefined">
                                        <label style="padding: 0px 15px">Report is generating, please wait...</label>
                                    </div>
                                </div>
                                <div ng-if="struct.report_generating == false">
                                    <div ng-if="struct.report_download_url == undefined">
                                        <label style="padding: 0px 15px">Not available</label>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.tree.report.row">
    <td>{{ obj.name }}</td>
    <td>
        <input type="button" ng-class="get_dev_sel_class()" ng-click="toggle_dev_sel()" value="sel"/>
    </td>
    <td>{{ obj.comment }}</td>
    <td>
        <span ng-show="obj.device_group_obj.enabled">{{ obj.enabled | yesno1 }}</span>
        <span ng-show="!obj.device_group_obj.enabled"><em>{{ obj.enabled | yesno1 }}</em></span>
    </td>
    <td></td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$packages_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 0)"/>
         </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$licenses_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 1)"/>
        </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$installed_updates_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 2)"/>
         </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$avail_updates_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 3)"/>
        </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$hardware_report_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 4)"/>
        </div>
    </td>
</script>

<script type="text/ng-template" id="icsw.device.tree.cdg.report.row">
    <td colspan="2">
        <strong><em>{{ obj.device_group_obj.name }}</em></strong>
    </td>
    <td>{{ group.description }}</td>
    <td colspan="2"></td>
    <td ng-show="hide_lut['tln']">{{ struct.domain_tree.show_dtn(group.domain_tree_node) }}</td>
    <td ng-show="num_shown(['tln'])" colspan="{{ num_shown(['tln']) }}"></td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$packages_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 0)"/>
         </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$licenses_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 1)"/>
        </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$installed_updates_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 2)"/>
         </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$avail_updates_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 3)"/>
        </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$hardware_report_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 4)"/>
        </div>
    </td>
</script>

<script type="text/ng-template" id="icsw.device.tree.meta.report.row">
    <td colspan="2"><strong>{{ group.name }}</strong>
        <div class="btn-group btn-group-xs pull-right" ng-show="group.num_devices">
            <input type="button" class="btn btn-success" ng-click="change_dg_sel(1)" value="S"/>
            <input type="button" class="btn btn-primary" ng-click="change_dg_sel(0)" value="T"/>
            <input type="button" class="btn btn-warning" ng-click="change_dg_sel(-1)" value="C"/>
        </div>
    </td>
    <td>{{ group.description }}</td>
    <td>{{ group.enabled | yesno1 }}</td>
    <td>
        <b ng-show="group.num_devices">{{ group.num_devices }}</b>
        <b ng-show="!group.num_devices">---</b>
    </td>
    <td ng-show="hide_lut['tln']">{{ struct.domain_tree.show_dtn(obj) }}</td>
    <td ng-show="num_shown(['tln'])" colspan="{{ num_shown(['tln']) }}"></td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$packages_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 0)"/>
         </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$licenses_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 1)"/>
        </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$installed_updates_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 2)"/>
         </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$avail_updates_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 3)"/>
        </div>
    </td>
    <td>
        <div class="text-center">
            <input type="button" ng-class="obj.$hardware_report_selected && 'btn btn-primary btn-xs' || 'btn btn-xs btn-default'" value="enabled" ng-click="select(obj, 4)"/>
        </div>
    </td>
</script>

<script type="text/ng-template" id="icsw.device.report.upload.form">
    <form class="form-horizontal" name="form_data">
        <div>
            <fieldset>
                <legend>Select File</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3">
                        File
                    </label>
                    <div class="col-sm-6">
                        <input type="file" nv-file-select class="form-control" uploader="uploader"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</script>