<script type="text/ng-template" id="icsw.device.status_history_overview">
    <h2>Status History</h2>

    <h4>
        <div class="form-inline">
            Timerange:
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="startdate"/>
                    <span class="dropdown-toggle input-group-addon">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker ng-model="startdate" data-datetimepicker-config="{ startView:'day', minView:'day' }" >
                                </datetimepicker>
                            </ul>
                        </div>
                    </span>
                </div>
                &nbsp;
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-time"></span>
                        {{duration_type}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-click="set_duration_type('day')"><a href="#">day</a></li>
                        <li ng-click="set_duration_type('week')"><a href="#">week</a></li>
                        <li ng-click="set_duration_type('month')"><a href="#">month</a></li>
                        <li ng-click="set_timerange('year')"><a href="#">year</a></li>
                        <!-- values parsed by rest_views.py -->
                    </ul>
                </div>
            </div>
        </div>
    </h4>

    <h4 ng-if="!timespan_error ">Showing data from {{ get_time_frame().start_str }} to {{ get_time_frame().end_str }}:</h4>
    <h4 class="alert alert-danger" style="width: 300px" ng-if="timespan_error ">{{timespan_error}}</h4>

    <div ng-repeat="device in devicepks">
        <icsw-device-status-history-device device="{{device}}"></icsw-device-status-history-device>
    </div>
</script>

<script type="text/ng-template" id="icsw.device.status_history_device">
    <h3>{{device_rest.full_name}}</h3>

    <div class="row" style="width: 650px">
        <div class="col-md-12">
            <div style="width: auto">
                <icsw-tools-device-hist-status-overview deviceid="device_id" show-table="true"></icsw-tools-device-hist-status-overview>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th >Service</th>
                    <th style="width: 10%;" class="text-center"><!-- chart --></th>
                    <th style="width: 50px;" class="text-center">Ok</th>
                    <th style="width: 50px;" class="text-center">Warning</th>
                    <th style="width: 50px;" class="text-center">Critical</th>
                    <th style="width: 50px;" class="text-center">Unknown</th>
                    <th style="width: 50px;" class="text-center">Undetermined</th>
                    <th style="width: 50px;" class="text-center">Flapping</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in service_data">
                    <td> {{ entry.name }} </td>
                    <td class="text-right">
                        <icsw-tools-piechart diameter="28" data="entry.pie_data"></icsw-tools-piechart>
                    </td>
                    <td class="text-right"> {{ extract_service_value(entry.main_data, "Ok") }} </td>
                    <td class="text-right"> {{ extract_service_value(entry.main_data, "Warning") }} </td>
                    <td class="text-right"> {{ extract_service_value(entry.main_data, "Critical") }} </td>
                    <td class="text-right"> {{ extract_service_value(entry.main_data, "Unknown") }} </td>
                    <td class="text-right"> {{ extract_service_value(entry.main_data, "Undetermined") }} </td>
                    <td class="text-right"> {{ extract_service_value(entry.main_data, "Flapping") }} </td>
                    <td>
                        <icsw-tools-service-hist-line-graph timemarker="timemarker" data="entry.detailed_data"></icsw-tools-service-hist-line-graph>
                    </td>
                    <!--
                    <td>
                        <svg width="225" height="30">
                            <g>
                                <rect x="10"   y="10" width="20" height="10" rx="1" ry="1" style="fill:#66dd66;stroke-width:0;stroke:rgb(0,0,0)"></rect>
                                <rect x="30"   y="0"  width="5"  height="20" rx="1" ry="1" style="fill:#ff7777;stroke-width:0;stroke:rgb(0,0,0)"></rect>
                                <rect x="35"   y="10" width="55" height="10" rx="1" ry="1" style="fill:#66dd66;stroke-width:0;stroke:rgb(0,0,0)"></rect>
                                <rect x="90"   y="0"  width="20" height="20" rx="1" ry="1" style="fill:#ff7777;stroke-width:0;stroke:rgb(0,0,0)"></rect>
                                <rect x="110"  y="5"  width="50" height="15" rx="1" ry="1" style="fill:#f0ad4e;stroke-width:0;stroke:rgb(0,0,0)"></rect>
                                <rect x="160"  y="10" width="30" height="10" rx="1" ry="1" style="fill:#66dd66;stroke-width:0;stroke:rgb(0,0,0)"></rect>
                                <rect x="190"  y="10" width="20" height="10" rx="1" ry="1" style="fill:#c7c7c7;stroke-width:0;stroke:rgb(0,0,0)"></rect>

                                <text x="10"    y="30"  style="fill:black;" font-size="10px" text-anchor="middle" alignment-baseline="baseline">0:00</text>
                                <text x="60"   y="30"  style="fill:black;" font-size="10px" text-anchor="middle">6:00</text>
                                <text x="110"  y="30" style="fill:black;" font-size="10px" text-anchor="middle">12:00</text>
                                <text x="160"  y="30" style="fill:black;" font-size="10px" text-anchor="middle">18:00</text>
                                <text x="210"  y="30" style="fill:black;" font-size="10px" text-anchor="middle">24:00</text>
                            </g>
                        </svg>

                    </td>
                    -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
