{% extends "main.html" %}
{% load i18n extra_tags %}

{% block title %}{% trans "RMS Overview" %}{% endblock %}

{% block body %}

<h1 class="center">RMS Overview</h1>

<h2 class="center">Running jobs</h2>

<div id="run_job_table">
    <table id="run_job_table" style="width:50;">
        <thead>
            <tr>
                {% for entry in run_job_headers %}
                    <th>{{ entry.tag }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<h2 class="center">Waiting jobs</h2>

<div id="wait_job_table">
    <table id="wait_job_table" style="width:50%;">
        <thead>
            <tr>
                {% for entry in wait_job_headers %}
                    <th>{{ entry.tag }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<h2 class="center">Node list</h2>

<div id="node_table">
    <table id="node_table" style="width:50%;">
        <thead>
            <tr>
                {% for entry in node_headers %}
                    <th>{{ entry.tag }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<input type="button" value="reload" onClick="reload_page();"/>, <a href="{% url session:login %}">Loginpage</a>

<script type="text/javascript">

function reload_page() {
    <!-- window.location.reload();-->
    $("table#node_table").dataTable().fnDraw();
    $("table#run_job_table").dataTable().fnDraw();
    $("table#wait_job_table").dataTable().fnDraw();
};

function resize_grids() {
    $("table#run_job_table, table#wait_job_table, table#node_table").each(function() {
        $("div#" + $(this).attr("id")).width($(this).width());
    });
};

function addHandlers() {
    $(document).everyTime(10000, "reload_page", function(i) {
        reload_page();
    });
    $("table#node_table").dataTable({
        "bProcessing"     : true,
        "bServerSide"     : true,
        "sAjaxSource"     : "{% url rms:get_node_xml %}",
        "sServerMethod"   : "POST",
        "bJQueryUI"       : true,
        "sPaginationType" : "full_numbers",
        "bStateSave"      : true,
        "bAutoWidth"      : false,
        "aoColumnDefs"    : [{
            "fnRender" : function(o, val) {
                return "<b>" + val + "</b>";
            },
            "aTargets" : [6, 7, 8],
            "sClass" : "center slots_info"
        }, {
            "fnRender" : function(o, val) {
                var cur_m = val.match(/(\d+\.\d+).*/);
                if (cur_m) {
                    var max_load = 16.;
                    load = Math.min(cur_m[0], max_load);
                    ret_el = $("<div>").addClass("leftfloat").append($("<b>").text($.sprintf("%3.2f", load))).after(
                        $("<div>").addClass("load_outer").append(
                        $("<div>").addClass("load_inner").css("width", parseInt(98 * load / max_load) + "px"))
                    );
                    return $("<div>").append(ret_el).html();
                } else {
                    return "<b>" + val + "</b>";
                };
            },
            "aTargets" : [5],
            "sClass" : "load"
        }, {
            "aTargets" : [9],
            "sClass"   : "nowrap"
        }]
    });
    $("table#run_job_table").dataTable({
        "bProcessing"     : true,
        "bServerSide"     : true,
        "sAjaxSource"     : "{% url rms:get_run_jobs_xml %}",
        "sServerMethod"   : "POST",
        "bJQueryUI"       : true,
        "sPaginationType" : "full_numbers",
        "bStateSave"      : true,
        "bAutoWidth"      : false,
        "aoColumnDefs"    : [{
            "aTargets" : [7, 8, 10, 11],
            "sClass"   : "nowrap"
        }]
    });
    $("table#wait_job_table").dataTable({
        "bProcessing"     : true,
        "bServerSide"     : true,
        "sAjaxSource"     : "{% url rms:get_wait_jobs_xml %}",
        "sServerMethod"   : "POST",
        "bJQueryUI"       : true,
        "sPaginationType" : "full_numbers",
        "bStateSave"      : true,
        "bAutoWidth"      : false,
        "aoColumnDefs"    : [{
            "fnRender" : function(o, val) {
                return "<b>" + val + "</b>";
            },
            "aTargets" : [5],
            "sClass" : "center"
        }, {
            "aTargets" : [8, 9],
            "sClass"   : "nowrap"
        }]
    });
    var resizeTimer = null;
    $(window).resize(function() {
        if (resizeTimer) { clearTimeout(resizeTimer); }
        resizeTimer = setTimeout(resize_grids, 300);
    });
    resizeTimer = setTimeout(resize_grids, 300);
}

$(document).ready(addHandlers);
</script>

{% endblock %}
